[2018-05-01 17:30] samreid commented on #372
Some questions I've asked on the developer channel:

- [ ] I’m adding features to SCENERY_PHET/TimerNode.  Are we going all in on the “stop propagating subtype options to the supertype”?
- [ ] I’m struggling with making TimerNode have mutable units-- it is based on RectangularButtonView which has a fixed minWidth (cannot be changed after construction).  Should I update that too?  Or should I just

[2018-05-01 18:33] samreid commented on #372
We should sort out the design questions in https://github.com/phetsims/scenery-phet/issues/372#issuecomment-385567732 and https://github.com/phetsims/scenery-phet/issues/372#issuecomment-385716388 then ask the development team how to proceed on https://github.com/phetsims/scenery-phet/issues/372#issuecomment-385732672.  I'll stash my work somehow and wait for discussion.

[2018-05-01 18:36] samreid commented on #372
Here's a poor man's branch of TimerNode.js, collapsed so it doesn't clog up this issue:

<details><summary>Poor Man's Branch of TimerNode.js</summary>
<p>

[code]

</p>
</details>

[2018-05-01 19:02] arouinfar commented on #372
Great suggestion @samreid! Here's what it looks like when we make the buttons a bit wider:
![image](https://user-images.githubusercontent.com/8419308/39488409-6ab2a0f8-4d3f-11e8-9674-0c9bb13a24cb.png)

Agreed. Sims with multiple time scales should always show a unit, even when "s".

Great question. Let's pick a max width that accommodates the longest string, so TimerNode doesn't resize between sce

[2018-05-01 22:13] ariel-phet commented on #372
Agree with @arouinfar comments above.

[2018-05-01 23:28] samreid commented on #372
Also, one question for the reviewer: should we generalize it to be able to use arbitrary Nodes for units, or is it simpler/better to require that the units are strings?

[2018-05-02 22:05] ariel-phet commented on #372
@jonathanolson said he is available for review

[2018-05-03 03:49] jonathanolson commented on #372
It's probably good to do that.

MutableOptionsNode sounds helpful here (for now). I agree mutable components are the long-term best solution.

RichText may be sufficient (think m^2), but we may need arbitrary nodes for some things.

Re the code:

How is layout supposed to work? Right now if you have one "longer" unit and one "shorter" one (horizontally), the unit is left-aligned always (resulting

[2018-05-04 15:08] phet-steele opened #377 "Spectrum/Frequency/WavelengthSlider can go out of range with their arrow keys"
1. Within the scenery-phet demo, try either the FrequencySlider or WavelengthSlider (SpectrumSlider behaves a bit differently).
2. Use the THUMB to drag to a min or max, then use the THUMB to drag slightly back the other way (so the slider value will be just before max if you chose to go to max).
3. Use an ARROW button to bring the slider value back to min/max. In MOTHA, this threw a more detailed

[2018-05-04 15:10] samreid commented on #372
At yesterday's design meeting, we decided the text should be centered in the panel, but the panel shouldn't resize when different units are specified.  We decided to use text, noting that this will predominantly be used for time measures and hence strings like `m^2` will not be used, though we pointed out one day we may be tempted to use something like `10^-15 sec`, but we are hoping not.

That be

[2018-05-04 16:07] jessegreenberg commented on #377
Seems a11y related, assigning myself as well.

[2018-05-04 16:13] jessegreenberg commented on #377
Following the steps I am not able to reproduce in scenery-phet demo in Chrome. Ill try in MOTHA.

[2018-05-04 21:56] samreid commented on #377
Proposed fix committed above, @phet-steele can you please double check?

[2018-05-05 19:30] samreid opened #378 "TimerNode shouldn't show preceding "00:" when units are shown"
At Thursday's design meeting, it was decided that the TimerNode shouldn't show the preceding "00:" when the units are shown.  For example, it would be odd to say "1:23 seconds".  This is related to the units work for TimerNode in #372

[2018-05-07 18:00] phet-steele commented on #377
Working. Thanks @samreid.

[2018-05-07 18:00] #377 closed

[2018-05-10 08:18] jonathanolson commented on #365
Also, it's not quite passing all unit tests yet (4 fail). At least one test will need to have its behavior changed to match our "new" understanding of how visibility works, but the other three seems like a buggy situation where I don't understand why things aren't focusing.

[2018-05-11 03:55] samreid opened #379 "Questions about the 'multiscreen' option in SceneSummaryNode"
While working on https://github.com/phetsims/color-vision/issues/121 I noticed:

[code]

I was curious about this multiscreen flag.  Please correct me if I'm wrong, but as I understand it, there is one SceneSummaryNode per Screen (I think @pixelzoom pointed out the inconsistency in this nomenclature).  So each screen would begin with this text: `'This is an interactive sim. It changes as you play

[2018-05-11 04:02] pixelzoom commented on #379
I agree @samreid.  This summary seems like a mix of "sim" and "screen" information.

[2018-05-11 15:55] mbarlow12 commented on #379
One consideration is that, in the second scenario, users' assistive technology is presented with 2 distinct areas in the html where sim/screen summary information is provided. Since we have the ability to hide the different screens' accessible content (e.g. the entire `<section id="section-1"></section>` element), the first example provides users with a single place where users can quickly access

[2018-05-11 19:00] mbarlow12 commented on #379
I think the idea is to have the first accessible content on an given 'screen' provide the user with the summary info. While it may be an artifact of instrumenting single-screen sims, I think it's still useful to the user to provide a bit of sim info and screen info when they switch screens. It seems like from a user's perspective, having both information always available would be helpful; however,

[2018-05-11 21:41] zepumph opened #380 "Query parameter to set utteranceQueue enabled"
From the a11y sprint, especially in regards to Area Model work with @jonathanolson dealing with `AccessibleNumberTweaker`, I think we want a want to turn off partially implemented dynamic/interactive descriptions and alerts. One good thing would be to turn off utterance queue.

@jessegreenberg what do you think? We could wrap the `utteranceQueue.initialize();` in `Sim.js` in a query parameter cond

[2018-05-11 21:42] zepumph commented on #380
tagging @samreid because he often has good opinions.

[2018-05-11 21:45] zepumph commented on #380
This may be an insufficient, or "half measure" issue. Perhaps we should develop a system for toggling all desired a11y features both by query parameter, and in the sim constructor. So far we have 3 "levels."

(a) keyboard navivation
(b) static descriptions (the first two may be combined into the same level)
(c) dynamic descriptions and interactive alerts (mostly controlled by the utteranceQueue, p

[2018-05-12 04:45] samreid commented on #380
I'd love to hear more about the motivation for this.  Is the main reason because we will want to publish sims that have (a) and (b) but not (c)?  Or is it more that it an incomplete (c) disrupts the development process?  Or something else?

Or is it more that we would want to disable the utterance queue for components that aren't "done" yet, but leaving it on for the rest of the sim?

[2018-05-14 21:54] zepumph commented on #365
We are meeting to discuss a few loose ends of this tomorrow. @jonathanolson, let me know if there is anything you want from me to do save that.

[2018-05-15 03:17] jonathanolson commented on #365
NOTE: When this comes up for review, going to the branch on GitHub (https://github.com/phetsims/scenery/tree/a11y-tree) and clicking the "Compare" button (under the "Clone or download" button), then going to "Files changed" and then looking at the diffs should be invaluable. I've made significant changes along the way, so viewing commit-by-commit would be super-inefficient.

[2018-05-15 03:17] jonathanolson commented on #365
Or there may be a good way of doing that in Intellij.

[2018-05-18 21:29] Denz1994 commented on #165
Discussion with @jonathanolson:

In response to @pixelzoom:

1. The options are not shared between ArrowShape and LineArrowNode. There would need to be workarounds for options like ```options.fill``` which isn't required for LineArrowNode. Other examples include: ```headHeight, isDynamicHead, scaleTailToo, fractionHeadHeight``` There seems to be a mismatch in the options api.

2. LineArrowNode nee

[2018-05-22 04:54] jonathanolson commented on #365
I've merged the a11y-tree branch into master (it's passing aqua fuzzing tests, aqua a11y tests, unit tests, a11y-specific fuzzing test, sim spot tests, builds, etc.)

I'll be creating more specific "additional changes" issues in the scenery repo (tagging here) for more work.

I'm leaving this open for the "original" discussion about how to structure the scene graph to do this best. https://github.

[2018-05-22 16:14] pixelzoom commented on #165
Fine with me.

[2018-05-22 18:45] zepumph opened #381 "add ControlPanelNode/PlayAreaNode to ScreenView.js"
This name is a bloated way of asking, how do we want sims to use the a11y remapping implemented in https://github.com/phetsims/scenery-phet/issues/365 to look for phetsims? At the beginning of this issue, we were talking about putting "h2 level" nodes directly on the `ScreenView.js`. This could be pretty nice, especially with the remapping, and usages would look like:

[code]

Note, these nodes wo

[2018-05-22 18:46] zepumph commented on #365
I think that we should move this to another issue as well, this issue has done it's job well, but seems old and tired. See https://github.com/phetsims/scenery-phet/issues/381 for continued discussion. Thanks @jonathanolson for the good work, anyone please feel free to reopen if there is more to discuss.

[2018-05-22 18:46] #365 closed

[2018-05-22 18:47] zepumph commented on #381
Marking as high priority since we should really know this sooner rather than later. My thought is to discuss this in an a11y meeting, then take it to all the devs for opinions.

[2018-05-22 19:39] jonathanolson commented on #381
It feels like a fairly nice pattern to me.

The playArea/controlPanel nodes definitely need to be in the scene graph (otherwise they wouldn't be tied to an accessible display).

[2018-05-22 19:40] jonathanolson commented on #381
Also, let me know if there's a specific meeting where I should be available to discuss (I don't have strong preferences, so up to you).

[2018-05-22 19:51] zepumph commented on #381
Agreed, sorry for confusion, I meant they could be tacked onto the root node directly, and didn't have to be included in any sim structure that was set up prior to a11y implementation. Basically they can be nodes that are siblings to the node tree structure for the sim view.

[2018-05-23 13:28] Denz1994 commented on #165
I am going to close this issue then. I've investigated how to consolidate ArrowNode.js with LineArrowNode.js and after review with @pixelzoom and @jonathanolson it makes sense to leave them separate. Thanks for the input. Closing.

[2018-05-25 15:31] pixelzoom opened #382 "missing visibility annotations in SimpleDragHandler"
Noted while working on https://github.com/phetsims/equality-explorer/issues/97 and https://github.com/phetsims/equality-explorer-two-variables/issues/2.

Visibility annotations are missing for this group of fields in SimpleDragHandler:

[code]

And this:

[code]

And this:

[code]

For any of the above that should be `@private`, you should search the code base to verify that they are not being use

[2018-05-25 15:32] pixelzoom commented on #382
For any of the above that should be `@private`, you should search the code base to verify that they are not being used.

[2018-05-25 15:56] pixelzoom commented on #382
Oops, SimpleDragHandler lives in scenery.  Moved this issue to https://github.com/phetsims/scenery/issues/804.

[2018-05-25 15:56] #382 closed

[2018-05-25 23:08] zepumph commented on #379
I think since this issue came to life, we are in the process of designing away from a "scene summary" section, but the content will still remain.

Assigning to @terracoda to help us design what this will look like. I think this is potentially a duplicate of https://github.com/phetsims/a11y-research/issues/104.

[2018-05-25 23:15] zepumph commented on #380
I think of it as (a) and (b) but not (c). There is a push from the a11y side of sim development to be able to publish simulations with different levels of accessibility implemented. The design time to add interactive alerts to a simulation is often not there, so it is important to be able to have keyboard nav and static descriptions complete and isolated so that they can be published on their own.

[2018-05-26 00:18] zepumph commented on #376
This issue is outdated, and has since been replaced with phetsims/binder. Closing.

[2018-05-26 00:18] #376 closed

[2018-05-28 12:46] terracoda commented on #379
Great discussion folks. @zepumph is correct, without the first "scene summary" section, the overall structure is going to change slightly. The most significant change being that we will not use a section element - a section element requires a heading to be well-formed HTML.  I should be clarifying the structure this week.

I would like to point out that I have given considerable consideration to h

[2018-05-28 13:59] pixelzoom commented on #379
@terracoda said:

You may already be considering this, but I'll mention here.  Screens frequently appear in more than one sim.   So if there's anything I'm the description that is order specific, that may prove problematic when the screen appear in a different sim, in (possibly) a different order.

[2018-05-31 00:42] terracoda commented on #379
@pixelzoom, thanks for mentioning this. I was not aware that the same screen could be used in multiple sims. That is good to know!

It would make sense to have the name and number of the screen be dynamic parameters.

[2018-06-01 19:48] mbarlow12 commented on #379
@zepumph @terracoda while we may no longer be calling it a 'scene summary' or using a `<section>` tag, it is my understanding that each screen would still have an html element (or a few) that offered summarized information about the whole sim/screen. If that's no longer the case, please correct me.

[2018-06-04 15:23] pixelzoom commented on #345
Looking at NumberPicker, I see that there have been significant changes for a11y and phetio.  This will further complicate reconciling ObjectPicker and NumberPicker.

There is no way that this issue can be completed before publishing Equality Explorer 1.0.   So I'm going to leave it marked as deferred, and anticipate that it will be addressed at some point in the (possibly distant) future, when an

[2018-06-05 17:35] pixelzoom commented on #165
`LineArrowNode` was also moved from masses-and-spring to scenery-phet with this TODO, which was presumably addressed by closing this issue:

[code]

... and with this TODO, which has no associated issue number:

[code]

[2018-06-05 17:41] pixelzoom commented on #165
In https://github.com/phetsims/scenery-phet/issues/165#issuecomment-391346542, @Denz1994 said:

But I see significant changes to ArrowNode.  Option `useArrowShape` was added, it's using `LineNode.getArrowPoints`, and some TODO comments were added without associated issue numbers.  @Denz1994 did you accidentally commit this, or forget to revert it?

[2018-06-05 17:54] pixelzoom commented on #165
@Denz1994 and I collaborated via Slack and cleaned things up.  Changes to `ArrowNode` were indeed something that should not have been committed or should have been reverted.   They were rolled back in the above commits.

[2018-06-05 18:10] phet-steele opened #383 "Disable trash button looks very clickable"
Not sure what happened to the trash button (can't find discussions). Here is what the good **disabled** button looked like in masses-and-springs 1.0.0-dev.80 (randomly chose dev version out of a hat):

<img width="117" alt="screen shot 2018-06-05 at 11 55 47 am" src="https://user-images.githubusercontent.com/5863899/40993762-abc7607c-68b7-11e8-9d47-f880956e8f5c.png">

Here is what the bad button l

[2018-06-05 18:19] pixelzoom commented on #165
SCENERY_PHET/LineArrowNode had been used in one place in hookes-law, but there was still one place using HOOKES_LAW/LineArrowNode.   I cleaned things up in the above commits, and deleted HOOKES_LAW/LineArrowNode.   That completes this issue.  Closing.

[2018-06-05 18:19] #165 closed

[2018-06-05 18:22] jonathanolson commented on #383
Was working after the refactoring in pendulum lab. I'm going to bisect to determine when it started failing.

[2018-06-05 18:27] jonathanolson commented on #383
Looks like the offending commit is https://github.com/phetsims/sun/commit/91d665826dcbe7afcca1a0b63432932f88f995ce.

[2018-06-05 18:42] arouinfar commented on #383
@phet-steele good catch. I agree this is problematic, so I'm glad @jonathanolson found the offending commit.

[2018-06-05 18:44] jonathanolson commented on #383
@phet-steele can you verify that @jbphet's commit fixes this in master?

[2018-06-05 18:51] lmulhall-phet commented on #383
@jonathanolson, @jbphet, it seems to be fixed in master.

[2018-06-05 18:53] phet-steele commented on #383
I see, so we just missed one from phetsims/sun/issues/173. Looks good, thanks for the fix @jbphet @jonathanolson.

[2018-06-05 18:53] #383 closed

[2018-06-12 21:59] pixelzoom opened #384 "precision problem with NumberControl arrows"
NumberControl has a precision problem, discovered while working on https://github.com/phetsims/hookes-law/issues/52.  In the listeners for the arrow buttons, code like this is supposed to constrain the value to increments of some delta:

[code]

For some small deltas, this simply doesn't work.  Example:

[code]

@jonathanolson suggested using this algorithm (use 1/delta) for delta < 1, but noted t

[2018-06-12 23:08] pixelzoom commented on #384
I added Util `numberOfDecimalPlaces` and the convenience function `roundToInterval`.  @jonathanolson would you mind reviewing, since you're somewhat familiar with this from Slack? If you'd prefer a different name for `roundToInterval`, feel free to change.

[2018-06-12 23:09] pixelzoom commented on #384
Oops, let me add UtilTests before @jonathanolson reviews.

[2018-06-12 23:21] pixelzoom commented on #384
Unit tests pushed. Back to @jonathanolson.

[2018-06-14 20:29] jonathanolson commented on #384
The dot commits look good to me, thanks!

[2018-06-14 20:58] #384 closed

[2018-06-14 23:35] #363 closed

[2018-06-15 02:11] zepumph commented on #368
Progress was made on this. I basically did 3 things.

1. Consolidated `blur` and `reset`, all into a `interrupt` function. Those two function no longer exist.
2. Added an accessibility specific interrupt function, that is called by Node.
3. Added code to call `Node.interruptSubtreeInput()` from the a11y `blur()` function. I was easily able to interrupt a keyboardDragHandler (BASE/Friction) by touc

[2018-06-15 05:37] jonathanolson commented on #368
When is blur() called? It also seems inconsistent to call interruptSubtreeInput only sometimes, AND to do so when we might be doing something that will immediately focus the node again.

[2018-06-15 16:47] jessegreenberg commented on #368
That case seems very rare, and like it would be bad practice for a11y. I think that interrupting on blur is the right way to go.

[2018-06-15 17:15] zepumph commented on #368
Ahh I think I get it! A blur event on a DOMElement will call the blur event on all it's listeners? Or is there a place where `KeyboardDragHandler.blur` was being registered with the primary DOMElement's blur event?

I'm asking so that I can make sure I understand the problem fully, and thus have implemented it completely.

[2018-06-16 01:15] zepumph commented on #368
I ran into a bug where using a keyboard to press a button with a presslistener would throw an error because the presslistener expects a pointer, so I changed the blur function in the a11y trait to just interrupt a11y related listeners.

[2018-06-18 17:41] jessegreenberg commented on #368
Sounds good. The only other thing I noticed was in `interruptAccessibleInput`,
[code]
wasn't actually a copy. Changed in  https://github.com/phetsims/scenery/commit/18574a1a3354fa1f44be5c9c0eb3ea0410ca196e, otherwise I think everything looks good. @zepumph can this be closed?

[2018-06-19 00:01] zepumph commented on #368
Sounds great. Thanks @jessegreenberg.

[2018-06-19 00:02] #368 closed

[2018-06-19 19:33] samreid opened #385 "Factor out appropriate parts of WaveDetectorToolNode"
In Wave Interference, it was suggested that we generalize the WaveDetectorToolNode and move it to common code.  In Wave Interference, it looks like this:

![image](https://user-images.githubusercontent.com/679486/41619658-4439eebc-73c4-11e8-965d-a4d99b1a2bb7.png)

Bending light has one of these:
![image](https://user-images.githubusercontent.com/679486/41619736-80876c3c-73c4-11e8-979b-289af5a714c4

[2018-06-20 21:16] terracoda commented on #379
@mbarlow12, yes that is correct. There is still an opening introduction for each screen, but without the Scene Summary section.

[2018-07-10 17:54] pixelzoom opened #386 "rename AccessibleNumberTweaker to AccessibleNumberSpinner"
While reviewing scenery-phet components for https://github.com/phetsims/sun/issues/121#issuecomment-399162547, I ran across `AccessibleNumberTweaker`, which is currently mixed into `NumberPicker` and `NumberSpinner`, and (somewhat surprisingly) not associated with anything named "tweaker".

Highly recommended to rename this to `AccessibleNumberSpinner`.   The terms "tweaker" and "picker" are PhET

[2018-07-11 18:50] pixelzoom commented on #345
Since NumberPicker and ObjectPicker have diverged so much, and since they have fundamental differences in how they assemble and present the choices... What we should probably do is factor out everything having to do with the "look" of the buttons and the value display, and leave it up to NumberPicker and ObjectPicker to fill in the specifics.

[2018-07-12 17:45] terracoda commented on #379
@samreid and @pixelzoom have your questions and concerns been answered/addressed? Does the HomeScreen.md file clarify why a flag is needed?

I think single screen sims should begin like this:
[code]

And a single screen in a multi-screen sim should start like this:

[code]

The curly braces represent content that is specific to the sim.

[2018-07-12 17:47] terracoda commented on #379
@samreid and @pixelzoom, please re-assign if you have more questions.

[2018-07-12 17:49] terracoda commented on #379
Or perhaps this issue can be closed?

[2018-07-12 17:54] samreid commented on #379
The comment in https://github.com/phetsims/scenery-phet/issues/379#issuecomment-404593852 seems to have addressed the problem discussed in https://github.com/phetsims/scenery-phet/issues/379#issue-322158916

[2018-07-13 16:01] pixelzoom commented on #379
@terracoda asked:

No, not obviously.  I see no mention of "multiscreen" or "flag" in HomeScreen.md.

Other questions that have not been addressed:
• Is the summary still a mix of sim and screen info? If so why? (asked in https://github.com/phetsims/scenery-phet/issues/379#issuecomment-388253431)
• How are we addressing the fact that screens may appear in >1 sim?  (noted in https://github.com/phet

[2018-07-13 16:19] terracoda commented on #379
@pixelzoom, I'm not sure I can address all the details, but together with the a11y devs, I think all these questions will be answered.
- I assume the flag will be something built into the A11y API ( I defer to @jessegreenberg on that). The idea being, if you are building a single screen sim, you use one description pattern, and if you are designing a multi-screen sim you use another description pa

[2018-07-13 16:23] #379 closed

[2018-07-13 16:23] terracoda commented on #379
Awesome! Thanks @pixelzoom for closing :-)

[2018-07-16 17:55] jessegreenberg commented on #386
I am convinced, I will go ahead with the name change.

[2018-07-16 18:00] jessegreenberg commented on #386
Rename done in https://github.com/phetsims/scenery-phet/commit/f477a8577466d5ea50429e8d74dea59afbc88554 and https://github.com/phetsims/sun/commit/a1d1b42472b628d4a1c104f175b53b4b5cf35f8b. Closing  this issue, and removed all references to "tweaker" in documentation about this trait.

[2018-07-16 18:00] #386 closed

[2018-07-16 21:24] mbarlow12 commented on #341
There may be a new bug found in https://github.com/phetsims/plinko-probability/issues/104 where mouse interaction with the thumb of the HSlider doesn't shift focus, and an extra tab is required to regain focus. As this doesn't happen in RIAW or Ohm's Law (but does for ISLC sims), I _think_ it's related to the number control implementation. @jessegreenberg should I assign myself to investigate and

[2018-07-17 16:50] zepumph opened #387 "Use utterenceQueue instead of AriaHerald"
@jessegreenberg I thought we had moved to using UtteranceQueue entirely, and deprecated public AriaHerald calls.

I still see two usages of `AriaHerald.announcePolite()` in `SoundToggleButton` and `ElectronLayerNode`. Shouldn't these be changed? Was there a reason to keep these using the old system?

[2018-07-17 20:02] pixelzoom opened #388 "PlayPauseButton and StepButton have different names for the same Property"
Discovered while working on Gas Properties.

PlayPauseButton has constructor parameter `{Property.<boolean>} runningProperty`.
StepButton has option `{Property.<boolean>} playingProperty`.
These buttons are often used together.
Both implemented by @samreid.

Any objection to using the same name in both cases?
Any preference on which name?

[2018-07-17 20:13] samreid commented on #388
Perhaps `isPlayingProperty` would be clearest for both cases.  What do you think?

[2018-07-18 23:24] jessegreenberg opened #389 "Delete AriaHerald and collapse into utteranceQueue"
Determined in a meeting with @mbarlow12, there is no need for `AriaHerald` anymore. `AriaHerald` is responsible for updating the inner content of an element with `aria-live`. `utteranceQueue` is responsible for managing the timing of alerts in a way that ensures an AT will read all of the alert content in full.

But `AriaHerald` is only used by `utteranceQueue`, and is only separate because  it ca

[2018-07-23 12:56] mbarlow12 commented on #389
@jessegreenberg before digging into this I did a quick search for usage of `AriaHerald` in our sims. It's in `Sim.js`, and its usage seems pretty straightforward to remove. Just making a note here to remove the object's usages.

[2018-07-26 20:36] amanda-phet opened #390 "hover for white buttons and pickers"
White buttons and number pickers do not have the same hover behavior that all other colored buttons and pickers have (because when you apply the rule to white, there is no visual change). There _is_ a pressed behavior, but we would like a hover behavior to keep all of these elements consistent.

In the 7/26/18 design meeting we discussed and would like to propose that white buttons and pickers hav

[2018-07-26 20:36] amanda-phet commented on #390
@ariel-phet @arouinfar

[2018-07-26 20:46] phet-steele commented on #390
phetsims/proportion-playground/issues/66 for visual example of the issue for pickers. Thanks for the issue @amanda-phet.

[2018-07-26 21:49] jonathanolson commented on #390
This really depends on the component. For instance, 3d-appearance-strategy rectangular buttons use the function `baseColor.colorUtilsBrighter( 0.5 )` for "over" (in the middle of the gradient) and they don't have a region of a single color for the "down" state (between `baseColor.colorUtilsDarker( 0.3 )` and `baseColor.colorUtilsBrighter( 0.2 )`). NumberPicker looks like it uses `darkerColor( 0.7

[2018-07-27 22:37] zepumph commented on #323
This issue was solved for the phet-io cases. We now have trigger calls for MultilineText and RichText and have a textProperty to customize these through the phet-io API. Anything else here @samreid?

[2018-07-28 00:12] zepumph opened #391 "Problems with HelpContent"
Poking around in this file for https://github.com/phetsims/a11y-research/issues/113#issuecomment-402547376, I noticed that in friction some of the rows of help content don't have anything in the PDOM. I should make sure that there are assertions in place to keep this from happening. Here is a nice place, because we know that these Nodes will only exist if a11y is enabled, which means that there mu

[2018-07-28 00:31] zepumph commented on #391
Next I need to do the same with labelWithIconList

[2018-07-28 00:32] zepumph commented on #391
Next I need to add strings for friction so there aren't errors

[2018-07-28 00:34] zepumph commented on #391
That should be good for now. That only main issue I see is that GFLB doesn't have any a11y strings for its custom HelpDialog content. Otherwise this issue is good to go.

[2018-07-28 00:34] zepumph commented on #391
@jessegreenberg please review.

[2018-07-28 03:17] samreid commented on #323
This looks great.  The only problem I see is that MultilineTextIO and RichTextIO are 99% identical.  I'm not sure how to address that though, perhaps a new issue.

[2018-07-28 03:17] #323 closed

[2018-07-28 03:17] samreid opened #392 "RichTextIO and MultiLineTextIO are 99% similar"
See https://github.com/phetsims/scenery-phet/issues/323#issuecomment-408578854, is there some way to factor out or reuse this code?  Or is it better to be duplicated in this case?  @zepumph thoughts?

[2018-07-28 23:52] zepumph commented on #392
Expanding on this, what if we had a "GenericText" or something that could be the base type for all three texts, and the TextIO (potentially renamed) can extend that and add the font and maxwidth options. I see that besides those added public methods, all three are 99% similar. . .

[2018-07-28 23:54] zepumph commented on #392
I think that in meetings in the past we have talked about having TypeIO hierarchy necessarily diverge from the Type structure in order to limit the exposure of implementation details (i.e. three types of texts) I think, perhaps this warrants a dev meeting though.

[2018-07-29 00:54] samreid commented on #392
Did you mean GenericTextIO?

[2018-07-30 17:43] zepumph commented on #392
Yes

[2018-07-30 18:05] zepumph commented on #392
This is required for FL stable because the about dialog uses RichText and there are TextIO in the actual simulation.

[2018-07-31 17:46] zepumph commented on #381
This is beginning to be accomplished in https://github.com/phetsims/joist/issues/509 with `ScreenSummaryNode` (taking the place of `SceneSummaryNode`)

[2018-07-31 18:07] zepumph opened #393 "Replace SceneSummaryNode with ScreenSummaryNode"
`SceneSummaryNode` is now deprecated, and `ScreenSummaryNode` is the way of the future. We should change all usages in the project to use this new strategy. This includes custom things like BASE's own "SceneSummaryNode"

Adding chip away and assigning to everyone.

Here are the places where SceneSummaryNode is used:

- [x] Ohms Law
- [x] Rutherford Scatterting
- [x] BASE (uses its own implementati

[2018-07-31 18:19] zepumph commented on #393
Tagging for meeting to make sure we are all on the same page.

[2018-08-01 22:14] zepumph commented on #381
Disussed in a11y dev today. We like that there is an option toggling the creation of the `screenSummaryNode`, and think that we should keep that option for the other two nodes as well. Eventually we want to have them all default to true, with the option to opt out, but for now, at least the screenSummaryNode needs to opt in, see https://github.com/phetsims/scenery-phet/issues/393 for changing usag

[2018-08-01 22:16] zepumph commented on #381
We want the names of the other nodes to be:
`playAreaNode`
`controlAreaNode`

[2018-08-06 15:33] pixelzoom commented on #390
First, I'm not totally clear on what "hovers behavior" you're talking about or what is desired.  Are you referring to some visual change on "pointer over"?   That said...

@amanda-phet asked:

You'll have to ask @jbphet about buttons. For pickers, I'm not aware of _any_ support for hover highlighting, special case or otherwise.   If you're adding this support to pickers, be sure to hit ObjectPicke

[2018-08-06 15:34] pixelzoom commented on #390
Btw... If you put a color in backquotes, it will display the color in the comment.  E.g.`#e6e6e6`

[2018-08-08 00:17] samreid commented on #372
The PhET Software Design Patterns document now says:

After seeing how complicated it was to separate supertype options/subtype options and omit them, I'm going to move back to the "pass everything" pattern.

[2018-08-08 04:26] samreid commented on #372
I considered going with a Property for the units node, but realized we would need to know the possible values to allocate the correct amount of space for it.  I didn't want to expose and rely on Property.validValues, so I decided to investigate using ToggleNode for that part.  That leads to a clean implementation, but still has the layout problem identified in https://github.com/phetsims/scenery-p

[2018-08-13 12:30] samreid opened #394 "When is it necessary to use the `dragTarget` pattern?"
As discussed in https://github.com/phetsims/wave-interference/issues/23#issuecomment-412501329, TimerNode uses a `dragTarget` which listeners should be attached to instead of `this`.  Is this because `this` has buttons on it?  When else would we benefit from, or be required to use, this pattern?

[2018-08-13 17:25] pixelzoom commented on #390
How is this issue different from https://github.com/phetsims/scenery-phet/issues/338?

[2018-08-13 17:26] pixelzoom commented on #350
phetsims/tasks#730 was closed on 4/2.   Is there a reason to keep this branch? Anything to merge to master?

[2018-08-13 17:27] pixelzoom commented on #350
Hmmm.. Looks like this branch no longer exists.  @samreid what was it's fate?

[2018-08-13 17:29] pixelzoom commented on #320
@jonathanolson What's the status of this? Looks like you did some work on this about a year ago.

[2018-08-13 17:30] pixelzoom commented on #290
@jessegreenberg I see that `AriaHerald` is now in scenery-phet.  Is there anything else to do here?

[2018-08-13 17:33] jessegreenberg commented on #290
Thanks, yes, this can be closed.

[2018-08-13 17:33] #290 closed

[2018-08-13 17:34] pixelzoom commented on #394
Short answer: You need to use this pattern any time that the thing that you're dragging has interactive subcomponents (buttons, sliders, etc).   If it's a common-code component (like TimerNode), you could override `addInputListener` and `removeInputListener` to add the listener to the appropriate subcomponent, but that may be more trouble than it's worth.

[2018-08-13 18:04] jessegreenberg commented on #381
After #365, this should generally not require changing the structure of the scene graph. Additional nodes on the `ScreenView` will allow us to specify a separate hierarchy without changing the scene graph, but in a consistent way since we expect this structure to show up frequently.
[code]

[2018-08-13 18:15] samreid commented on #350
We no longer need that branch, I'm not sure who deleted it (maybe be?) but we (I?) neglected to close this issue, closing.

[2018-08-13 18:15] samreid commented on #394
Makes sense to me, closing.

[2018-08-13 18:15] #394 closed

[2018-08-13 18:46] pixelzoom commented on #388
Renamed to `isPlayingProperty`.  @samreid have a look, then close.

[2018-08-13 19:26] samreid commented on #388
The renaming looks complete and correct, closing.

[2018-08-13 19:42] jessegreenberg commented on #381
Adding developer meeting label since there will be strong opinions about this and this has long term impacts on a11y instrumentation. Current proposal for devs reading through this issue for the first time:

- ScreenView will have public Nodes:
  - `screenSummaryNode`
  - `playAreaNode`
  - `controlAreaNode`

Nodes can be added directly to these children if that is best. But generally, they will j

[2018-08-14 21:32] zepumph commented on #392
I could see an argument in perhaps instrumenting `MultiLineText` as `RichTextIO` to potentially futureproof those usages. That would be one less potential break in the future when we convert usages of multiline text to rich text. But I see tradeoffs. That confuses us as developers when we see RichTextIO, it could be two different types.

If we don't simplify the types, I agree with @pixelzoom that

[2018-08-15 06:51] jonathanolson commented on #320
I handled the ESPB/pendulum-lab refactor. I didn't yet handle the balancing-act/FAMB refactor (I wasn't working on either of those sims, and at the time needed to handle it quickly for pendulum-lab).

[2018-08-15 21:05] jonathanolson commented on #381
Sounds good to me. Do we run into any current name conflicts that will need to be handled? And can you overwrite their accessibleOrder, or would it already have things on it?

[2018-08-15 21:33] jessegreenberg commented on #393
I went through the sims, all are using `screenSummaryNode`. We can proceed with the last four check boxes but maybe we should wait until #381 is discussed.

[2018-08-15 21:54] zepumph commented on #381
I haven't run into any, and didn't see any in a project wide search just now.

`playAreaNode` and `controlAreaNode` are just empty Nodes, but `screenSummaryNode` is different, and you cannot set it's `accessibleOrder`.

We could state an overarching convention that you can't set the play/controlArea's accessibleOrder also, and just have to add node's to them instead, but that may be confusing and

[2018-08-15 22:29] jonathanolson commented on #381
That sounds too restrictive. Especially for older sims, I'd want to set the complete accessibleOrder of the node if possible.

[2018-08-16 00:09] zepumph commented on #381
I agree that is ideal. For `screenSummaryNode`, there is generic text for an intro that we want all sims to have (for consistency). Perhaps we can make it so that the public facing node is a child to a node with the intro in it, so that you could still set the `accessibleOrder` on it.

[2018-08-16 03:05] samreid commented on #381
I'm confused about the example in https://github.com/phetsims/scenery-phet/issues/381#issuecomment-412610269

Does putting `otherNode` in `playAreaNode.accessibleOrder` mean it is no longer in the default order of `this`?

[2018-08-16 04:02] jonathanolson commented on #381
Yes. Generally, if you have a node parent/child and the child is in ANY accessibleOrder, it will not show up in the normal "tree" location.

[2018-08-16 15:56] mbarlow12 commented on #381
I generally like the approach proposed in https://github.com/phetsims/scenery-phet/issues/381#issuecomment-412639382 as well. My one question is how we'll handle some of the more complex screen summaries that we've seen thus far like RIAW? Would it be a new Node (possibly with children) than handles its own content updates that is then added as a child to the sim's `screenSummaryNode`? e.g.

[2018-08-16 19:35] samreid commented on #381
I'm also wondering what happens if you don't add anything to `screenSummaryNode`, does assistive technology still visit it?

[2018-08-16 19:45] zepumph commented on #381
https://github.com/phetsims/joist/issues/511 addresses the idea of validation for decisions made in this issue.

[2018-08-16 20:04] jessegreenberg commented on #381
More notes from 8/16/18 dev meeting:

Overall devs had concern that over the design implications, that having two areas like "play area" and "control area" is not adequate for PhET simulations, and categorizing into these two sections is an arbitrary process. We do have the flexibility to add or change the names or structure if necessary in the future.

On the technical side, it was pointed out th

[2018-08-16 20:10] jessegreenberg commented on #381
Yes, the general content in ScreenSummaryNode will be readable with an AT if you don't add more to it. Things like  "This screen is interactive, it changes as you play with it..." and so on.

@mbarlow12 That's right.

[2018-08-16 20:43] zepumph commented on #381
`screenSummaryNode` has default generic accessible content no matter what, so even if you didn't add anything else to it in the `{{Sim}}ScreenView.js` instance, you would still see something like "This is an interactive sim, it has x screens" or something.

[2018-08-20 17:59] jessegreenberg commented on #391
This looks good @zepumph, thanks. At first I was concerned that this would be too strict, but I agree that moving forward the keyboard help dialog will be designed along with the sim descriptions so making it required in the initial implementation seems like the right way forward. And since GFL:B has the help content descriptions now, there is no longer a special case. Closing.

[2018-08-20 17:59] #391 closed

[2018-08-20 18:46] jessegreenberg commented on #393
The last check box

Will need to be done as part of https://github.com/phetsims/scenery-phet/issues/381. But I think this issue is complete, and the project no longer has any usages of sceneSummary or references to 'scene summary'. I am going to close this issue, but pinging @zepumph in case he feels there is more to do.

[2018-08-20 18:46] #393 closed

[2018-08-21 18:33] samreid opened #395 "Review WireNode and MeterNode"
From https://github.com/phetsims/wave-interference/issues/24, I recently generalized and migrated WireNode and MeterNode from Wave Interference to scenery-phet, for reuse in other simulations.

http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=MeterNode coded in ComponentsScreenView.demoMeterNode (which should also be reviewed) demonstrates how they can be used t

[2018-08-22 18:09] ariel-phet commented on #395
Thinking @pixelzoom might be a good candidate here (lots of his sims have had meters). Might be good to have a younger dev "ride along", such as @chrisklus

[2018-08-22 18:10] ariel-phet commented on #395
@pixelzoom if not up for this, just assign back to me.

[2018-08-22 20:20] pixelzoom opened #396 "Drawer: replace TWIXT/MoveTo with TWIXT/Animation"
Drawer currently uses deprecated TWIXT/MoveTo, which uses TWEEN.  It should be converted to use the newer TWIXT/Animation.

Drawer is currently used in function-builder only, so it makes sense for me to do this. @ariel-phet OK to proceed?

[2018-08-22 20:33] pixelzoom commented on #395
Happy to review. @ariel-phet @samreid priority?

There's less than 200 lines of code here, so this is going to be super quick. Happy to defer and do it with @chrisklus, but I'm not sure how much he'll get out of it.  Might be better to have him tag along on a more significant code review, like for an entire sim.  Let me know...

[2018-08-23 03:35] samreid commented on #395
From my perspective, finishing within two weeks would be great.

[2018-08-23 17:58] pixelzoom commented on #395
WireNode looks great.  But this is not what I expected to find for `MeterNode`.  `MeterNode` is currently just the meter body - it has no responsibility for creating the probes, wires, what's shown on the body, etc.  It's up to the client to create the probes and wires, and hook everything up.   So I would:

(1) Rename `MeterNode` to `MeterBodyNode`
(2) Investigate how to implement a `MeterNode` t

[2018-08-23 18:19] samreid commented on #395
Not exactly, the MeterNode accepts the `backgroundNode` as its first parameter.  The MeterNode is more a container that provides hooks for toolbox support, and aligning probes.

I designed MeterNode like this so it is fully customizable.   For instance, the example in ComponentsScreenView shows how to create any kind of probe (in this case, a ProbeNode), and attach with a WireNode.  Moving this be

[2018-08-23 19:26] pixelzoom commented on #395
I'm fine with what you've described above. But `MeterNode` is not a meter -- it's the meter body only.

What is `synchronizeProbeLocations`? It's `@private`, it's documentation looks suspect, and it forces the first drag to always drag both the probes with the body -- which is not necessarily desirable in general, only if dragging from a toolbox.

[2018-08-24 13:40] samreid commented on #372
The preceding commit has better support for showing units, but revealed we should factor out a type for the readouts (specifically one base type and two subtypes), so that there is less scattered logic in TimerNode itself.  The TimerNode seems to be behaving OK now in Wave Interference and Wave on a String, but I've marked this as blocks-publication until the work is completed and reviewed.

[2018-08-24 13:41] samreid commented on #378
I think I'll tackle this in https://github.com/phetsims/scenery-phet/issues/372, closing.

[2018-08-24 13:41] #378 closed

[2018-08-24 14:57] samreid commented on #372
I factored out TimerReadoutNode and it is simple enough that I don't think we need subclasses or inversion of control.  These changes appear to be OK in Wave Interference, Wave on a String and the Scenery-PhET test harness.  These changes should be reviewed before we publish any simulations that use it.  @jonathanolson you are most familiar with TimerNode, can you please review it and TimerReadout

[2018-08-24 20:54] pixelzoom commented on #396
Done, see above commits.  Similar options and defaults as Carousel changes in https://github.com/phetsims/sun/issues/381.

@jonathanolson would you mind reviewing this, since you're reviewing similar changes to Carousel in https://github.com/phetsims/sun/issues/381?

[2018-08-26 03:09] samreid commented on #395
In the preceding commit, I revised the documentation and defaulted `synchronizeProbeLocations` to false.  Now it only gets set to true when `startDrag` is called, which is only called when dragging out of a toolbox.  Do you think this will be sufficient, or do you think MeterNode needs another way for clients to set `synchronizeProbeLocations` to `true`?

[2018-08-27 14:36] jessegreenberg commented on #388
It looks like sims using StepButton option `playingProperty` weren't updated after the rename to use `isPlayingProperty`.

[2018-08-27 14:59] jessegreenberg commented on #388
Updated usages with the above commits, reclosing.

[2018-08-27 14:59] #388 closed

[2018-08-28 01:47] pixelzoom commented on #396
Assigning back to me. Looks like this has a problem, which is manifesting in https://github.com/phetsims/function-builder/issues/121. Function Builder is the only client.

[2018-08-28 01:59] pixelzoom commented on #396
Fixed in above commit, fuzz tested.  Back to @jonathanolson for review.

[2018-08-28 02:03] pixelzoom commented on #395
Why do you need `synchronizeProbeLocations` at all? Why doesn't `startDrag` just call `alignProbes`?

[2018-08-28 03:07] samreid commented on #395
The probes need to remain aligned during the drag, see this part:

[code]

I'll try to document that better, stay tuned for a commit.

[2018-08-28 21:41] zepumph opened #397 "Rename ControlPanelNode --> ControlAreaNode"
To support https://github.com/phetsims/friction/issues/91 and other sims. This is the new design.

[2018-08-28 21:43] zepumph commented on #397
Tagging @jessegreenberg so he knows this happened. Closing

[2018-08-28 21:43] #397 closed

[2018-08-29 18:41] jessegreenberg commented on #381
Here is an example with the sections added to ScreenView, in a subtype called AccessibleScreenView:
https://github.com/phetsims/joist/blob/master/js/AccessibleScreenView.js

Here are two example usages in example-sim and masses-and-springs. Both cases are using `accessibleOrder` to  change the order and hierarchy of the PDOM without changing the scene graph. This is probably what will be done gene

[2018-08-30 17:15] jessegreenberg commented on #381
From `Accessibility.setAccessibleOrder:`

One result is that you can define that something should come last or first *and* last in the order with things like
[code]

Correct, this is the default order. But this line will ensure that these three are first in the PDOM if you do something like `screenView.insertChild();`. That isn't clear, sorry!

I agree. But I am not thrilled about requiring `Scree

[2018-08-30 18:33] zepumph commented on #372
Discussed in dev meeting today. We think that @Denz1994 would be a good candidate for a review of this. Assigning to him.

[2018-08-30 19:32] jessegreenberg commented on #381
We discussed this in developer meeting on 8/30/18, and determined the following:
- [ ] PlayAreaNode, ControlAreaNode, and ScreenSummaryNode should be renamed to clearly indicate that they are not visual and are purely for a11y.
- [ ] Options should be removed from PlayAreaNode and ControlAreaNode, clients shouldn't be changing their tag names (for instance).

We discussed the following options:
1)

[2018-08-31 18:49] pixelzoom commented on #395
`MeterNode`, as implemented, really has nothing to do with probes.  It has things like `alignProbesEmitter` and `alignProbes`, but the role of those things is to generally tell something else that the meter body has moved, and that anything related to the meter body should also be moved.     So my opinion is that this is not the "meter" but the "meter body" only, and should therefore be renamed `M

[2018-08-31 18:54] pixelzoom commented on #395
Some buggy/vestigial doc that appears in MeterNode:

[code]

[2018-09-04 03:34] samreid commented on #385
This will be addressed in https://github.com/phetsims/wave-interference/issues/111 and https://github.com/phetsims/wave-interference/issues/24.  I'll also open a new Bending Light issue to use the new common code components for its charts.

[2018-09-04 03:35] samreid commented on #385
Closing.

[2018-09-04 03:35] #385 closed

[2018-09-04 21:57] zepumph commented on #367
I committed getters and setters above. @jessegreenberg please review.

One thought. I decided that all of these could be mutable because I didn't see anything special happening in the constructor, like linking to the Property, using these properties to set other values. In this manner I feel good about my decision, but it does seem a bit future unproof (¯\_(ツ)_/¯) to do this for a Property, since

[2018-09-05 18:22] arnabp opened #398 "ThermometerNode should have ability to access linear function"
ThermometerNode's temperatureLinearFunction is a private var. A function should be made to allow sims to map temperature to height to create tick marks.

Feature needed from phetsims/blackbody-spectrum#18

[2018-09-05 18:26] arnabp commented on #398
Assigning @jbphet for code review

[2018-09-06 18:30] pixelzoom commented on #372
I don't see the need for TimerReadoutNode.

TimerNode should have these options

- `valueFormat: '{{value}}'`.  If you want ms units, then pass in `valueFormat: '{{value}} ms'`.
- `valueAlign: 'right'`. How the value is aligned in the display field, 'left'|'right'|'center'.
- `buttonXSpacing: 5`.  Change this if you want more/less space between the buttons.

Use RichText for the value display.

[2018-09-06 18:35] samreid commented on #372
@pixelzoom said:

[2018-09-06 18:36] ariel-phet commented on #372
@samreid can you make a separate issue for instrumenting for iO with you and @Denz1994 as assignee

[2018-09-06 18:37] samreid commented on #372
Will do.  I thought @jonathanolson referred to something, perhaps a CT breakage from this change, I'll take a look and create issue as appropriate.

[2018-09-06 18:38] samreid commented on #372
@pixelzoom suggested the units may need to precede the value depending on i18

[2018-09-07 13:38] samreid commented on #395
After simplification, MeterNode was only providing trivial functionality which seemed better addressed in the client.  Therefore MeterNode has been deleted.  Back to @pixelzoom for review/discussion.

[2018-09-07 23:02] pixelzoom commented on #395
I'm confused.  Did you delete MeterNode or MeterBodyNode?  I still see MeterBodyNode in scenery-phet master.

[2018-09-07 23:06] samreid commented on #395
First it was renamed to MeterBodyNode, then MeterBodyNode was deleted.  It looks like I neglected to push that commit, my apologies.

[2018-09-07 23:33] samreid commented on #395
I pushed a minor change for the scenery-phet demo in https://github.com/phetsims/scenery-phet/commit/fcfa829b7c160affebebdb0d1f239a77b861aae3

Have you reviewed `demoWireNode` in ComponentsScreenView?  If that checks out, I think we can close the issue.

[2018-09-10 16:46] pixelzoom commented on #395
WireNode demo reviewed. Closing.

[2018-09-10 17:09] pixelzoom commented on #395
Reopening.  Two things after playing with the WireNode demo some more:

(1) WireNode should have a default stroke, since we don't want to create an invisible WireNode by default.  See first commit above.

(2) Simplify the WireNode demo (demoWireNode in ComponentsScreenView) to highlight WireNode.  I took a stab at this in the second commit above.  If you prefer the more complicated demo, feel free

[2018-09-10 23:01] samreid commented on #395
Those changes look great, thanks, closing.

[2018-09-10 23:01] #395 closed

[2018-09-11 23:39] jbphet opened #399 "HeaterCoolerNode messed up by long strings"
The HeaterCoolerNode seems to no longer be able to handle the `stringTest=long` test.  Here is a screenshot:

![image](https://user-images.githubusercontent.com/3082831/45393545-a5e42580-b5e9-11e8-83d4-bee3e139cab7.png)

[2018-09-11 23:46] jbphet commented on #399
It looks like the labels used to be rotated, so their scaling was based on their height rather than their width.  At some point in the past, the code was changed so that the labels weren't rotated, but the scaling code wasn't updated.  I made the change, and it appears to work fine.  Closing.

[2018-09-11 23:46] #399 closed

[2018-09-12 17:15] #398 closed, assigned to jbphet

[2018-09-13 18:06] samreid commented on #372
Capacitor Lab: Basics is awaiting redeploy from master, and could use this change.

[2018-09-13 18:11] Denz1994 commented on #372
Once Masses and Springs is published we will revisit the state of PhET-IO with @ariel-phet during a design meeting.

[2018-09-17 15:01] samreid opened #400 "Add a buttonXSpacing option to TimerNode"
From https://github.com/phetsims/scenery-phet/issues/372#issuecomment-419196541:

@pixelzoom said TimerNode should have an option `buttonXSpacing: 5` that can be changed if you want more/less space between the buttons.

[2018-09-17 15:02] samreid opened #401 "TimerNode should be instrumented for PhET-iO"
From https://github.com/phetsims/scenery-phet/issues/372#issuecomment-419198325

@ariel-phet said:

[2018-09-17 15:05] samreid opened #402 "Should TimerNode allow units to precede the readout for RTL?"
From https://github.com/phetsims/scenery-phet/issues/372#issuecomment-419198966

@pixelzoom said that it would be nice for RTL languages to show the units before the numeric readout in the TimerNode.  As far as I know, we have rarely, if ever, added direction-specific logic to our layout code.  Is this something we want to address in this case?  Assigning @pixelzoom, @jbphet, and @ariel-phet for d

[2018-09-17 15:13] samreid opened #403 "Code Review for TimerNode, particularly with respect to the new units option"
From https://github.com/phetsims/scenery-phet/issues/372#issuecomment-421681294

@zepumph commented:

Please also see other comments and linked issues in #372 (marked above https://github.com/phetsims/scenery-phet/issues/372#issuecomment-422056883 ) which pertain to review.

It would be good for these changes to be reviewed before publishing new simulations with these changes.  This includes but i

[2018-09-17 15:14] samreid commented on #372
Remaining work is tracked in issues mentioned above.  Since TimerNode can now show units, I'll close this issue and we can follow up in the remaining open issues.

[2018-09-17 15:14] #372 closed

[2018-09-17 15:23] samreid commented on #403
Also be aware there is a scenery-phet component test that demonstrates the TimerNode and changing units.

[2018-09-17 15:36] pixelzoom commented on #402
This is not layout code.  This is a value followed by units.  And I'm certain that you'll find the `{{value}} {{units}}` pattern used in PhET sims.   And if you want to make part of the number smaller, use RichText.

[2018-09-17 15:50] samreid commented on #402
In https://github.com/phetsims/scenery-phet/issues/372#issuecomment-386185029 @jonathanolson said:

Hence this is being developed as multiple nodes instead of a single RichText node.  Should we revisit that decision?

Also, if we use RichText and the numeric value of, say, a millisecondsProperty is `123.45678` and we want to format it as `123.46 ms` with the `.46` as smaller, would this be done wi

[2018-09-17 16:32] pixelzoom commented on #402
TimerNode is presumably for displaying time.  So I don't see the need for "arbitrary nodes" or huge amounts of flexibility here.  What we should be able to do is agree on a way to display time, and (importantly) in a way that is not locale-specific.   Using RichText and StringUtils.fillIn seems like it fits the bill.

[2018-09-17 18:00] ariel-phet commented on #402
@arouinfar can you comment here? Would persian/arabic type languages want units displayed to the left for time? My google search of images suggests that time is read left to right even in RTL languages

[2018-09-17 18:17] arouinfar commented on #402
While Persian and Arabic (not sure about other RTL languages) read numbers LTR, I believe the expectation is that the units would still be to the left. In general, we've used the `{{value}} {{units}}` pattern to allow translators to decide on whether a unit should be displayed to the left or right of the number.

Ideally, the version of timerNode that displays units would also include the `{{value

[2018-09-17 18:22] arouinfar commented on #402
Just to add -- digital time is read LTR in the same way as it is in LTR locales (hh:mm:ss). The issue here is that we now have a version of timerNode with explicit units, so it would be nice to support the `{{value}}{{units}}` pattern, though perhaps not critical.

[2018-09-17 22:21] arnabp opened #404 "StarShape should have ability to choose number of star points"
Starshape is currently restricted to five pointed stars. An option should be made to allow any number of star points.

Feature needed for phetsims/blackbody-spectrum

[2018-09-18 19:34] jbphet commented on #402
Based on @arouinfar's comment above, I concur that support for a format pattern should exist.  Others have described similar thinking on this, but mine is that there would be something like a `readoutFormatString` that would be associated with TimeNode and would be `{{value}} {{units}}` by default, reversible for RTL languages.  I don't think the format would need to be an option to the node.  If

[2018-09-24 17:56] jbphet commented on #404
@arnabp and I looked through this together briefly, and for the most part it looks good.  We decided that it would be preferable to come up with some name other than "iMax" for the iteration loop.  Also, consider using `_.times`, which is a nice underscore method for fixed iterations.

[2018-09-24 19:34] samreid commented on #400
Added in the preceding commit, ready for @Denz1994 review as part of https://github.com/phetsims/scenery-phet/issues/403

[2018-09-24 19:35] samreid commented on #401
This should be completed after https://github.com/phetsims/scenery-phet/issues/402 so that we have the appropriate text or other data stream elements.  On hold until then.

[2018-09-24 19:50] samreid commented on #402
The current implementation of TimerNode is to show the decimal points in a smaller font and the units in an even smaller font, like so:

![image](https://user-images.githubusercontent.com/679486/45974623-20a43c00-bfff-11e8-8aa7-82d471df947f.png)

The straightforward implementation of `{{value}} {{units}}` would look something like this:

![image](https://user-images.githubusercontent.com/679486/45

[2018-09-24 20:35] arouinfar commented on #402
@samreid the straightforward approach looks fine to me!

[2018-09-24 23:02] jonathanolson commented on #402
Hmm, I thought they were handled as separate strings because you didn't want numbers to jitter back-and-forth when digits change (e.g. `11` is not as wide as `88` on fonts, so the decimal point or whatnot would jitter back and forth).

Alternatively, we could parse the `{{value}} {{units}}` string, determine in which order things show up, and then rearrange the nodes.

[2018-09-24 23:03] samreid commented on #402
What about using a monospace font?

[2018-09-24 23:07] jonathanolson commented on #402
That also would work nicely, and may look a bit better even (most timers use monospaced fonts).

[2018-09-24 23:08] samreid commented on #402
Do we have a precedent or pattern for using monospace fonts in our sims?  Or will we need to investigate what is web-safe and contains the glyphs we may need?

[2018-09-24 23:10] jonathanolson commented on #402
I haven't used it before. Basically probably pick monospace fonts on Win/Mac/Chromebook/etc. that look nice, and put "monospace" at the end (uses the system default monospaced font).

Also if a code point isn't handled by the font, the browser uses a fallback. So I don't think we need to look into which fonts contain which glyphs.

[2018-09-25 01:16] samreid commented on #402
That sounds like it could lead to confusion and problems.  For instance, let's say a Greek translator specified `{{value}} απο {{units}}`, what would we do with the `απο`?

[2018-09-25 03:14] jonathanolson commented on #402
Ignore it! But yes, that may not be the best.

[2018-09-25 18:07] jessegreenberg opened #405 "Issues with utteranceQueue collapsing Utterances of the same type"
1) `addToFront` doesn't support this feature at all at the moment. This just seems like an oversight.
2) The way to create alerts of the same type is called `typeId`. This is a horrible name, we should rename this to better indicate what this is doing.

For 1, I think the behavior should be that if an Utterance is added to the front of the queue with a type, all other utterances in the queue with

[2018-09-25 18:32] zepumph commented on #405
I said to @jessegreenberg on slack:

[code]

[2018-09-25 18:46] jessegreenberg commented on #405
I like `unique` and `ID`, Maybe `set` to indicate that items in the set specified by the ID because by definition a set can have no duplicates? @zepumph and @jessegreenberg don't like this because it indicates that there is a subset that you can manipulate or that maybe the queue itself is a 'set'.

[2018-09-25 18:48] jessegreenberg commented on #405
Lets go with `uniqueGroupId` for now.

[2018-09-26 16:27] samreid commented on #392
Will we be able to convert legacy versions of MultilineText to RichText, or are we constrained because of existing translations?  For example, Balloons and Static Electricity has:

[code]

And there are 47 or so translations, like `벽\n추가`.

So there are two questions for this issue:
* Should we port everything from MultilineText to RichText?  Can we do this safely for legacy translations (will rep

[2018-09-26 16:33] pixelzoom commented on #392
Reimplement MulitlineText as an extension of RichText that converts each `'\n'` to `'<br>'.  Then there's no need for MulitlineTextIO.

[2018-09-26 22:14] pixelzoom commented on #392
All of the options and methods (set/get text and fill) for MultiLineText are supported by RichText.  So MultiLineText's current implementation could presumably be replaced with:

[code]

[2018-09-27 14:58] Denz1994 commented on #403
Noting my [comment](https://github.com/phetsims/capacitor-lab-basics/issues/244#issuecomment-424438184) here from https://github.com/phetsims/capacitor-lab-basics/issues/244. The units option works as expected.

[2018-09-27 15:16] Denz1994 commented on #403
This may be a silly consideration, but the unit option is flexible enough to allow for any `Node`. This allows for some extreme TimerNode configurations such as having another `TimerNode` within the `unitsNode` option.

![image](https://user-images.githubusercontent.com/13894380/46155660-d52f9f00-c245-11e8-8ffe-a8c45059ca9c.png)

My proposed workaround would be checking for instances of `Text` or

[2018-09-27 15:19] samreid commented on #403
In https://github.com/phetsims/scenery-phet/issues/402#issuecomment-424175305 we are considering switching the readout to a single string which would include minutes, seconds, and optionally units.

[2018-09-27 15:35] Denz1994 commented on #400
The `buttonSpacing` options works as expected, except when the buttons are spread further than the width of the `TimerNode`. I would expect that if the buttonSpacing value makes the buttons exceed the width of the TimerNode, then the buttons should stop expanding outward. However, it seems like any excess horizontal spacing gets converted into vertical spacing. The below image is produced with a s

[2018-09-27 15:40] Denz1994 commented on #400
Also the `buttonSpacing` option doesn't handled negative numbers well. It causes the buttons to over lap. Maybe the `buttonSpacing` option can be limited (using an assertion) to a value within the horizontal bounds of the `TimerNode` with a slight margin so the buttons aren't directly on the edge of the `TimerNode`.

Or maybe `TimerNode` can have static bounds so the whole timer doesn't change siz

[2018-09-27 15:49] pixelzoom commented on #400
`assert && assert( options.buttonXSpacing >= 0, '...' );`

[2018-09-27 18:44] chrisklus commented on #392
From dev meeting 9/27/18: @pixelzoom volunteers to take his suggestion in https://github.com/phetsims/scenery-phet/issues/392#issuecomment-424784116 for a test drive.

[2018-09-27 19:01] pixelzoom commented on #392
Unpublished repos that use MultiLineText, these should be converted to RichText:

- [ ] black-body-spectrum

Published repos that use MultiLineText, these should be tested after changing MultiLineText:

- [ ] balloons-and-static-electricity
- [ ] build-an-atom
- [ ] chains
- [ ] expression-exchange
- [ ] isotopes-and-atomic-mass
- [ ] joist
- [ ] least-squares-regression
- [ ] molarity
- [ ] molec

[2018-09-27 19:31] pixelzoom commented on #392
@samreid in brand/js/phet-io/Brand.js, we have:

[code]

Since this is not a translatable string, is there any reason not to convert it to use RichText?

[2018-09-27 19:47] samreid commented on #392
RichText seems appropriate for that, thanks!

[2018-09-27 20:09] pixelzoom commented on #392
There was a tad more involved in this conversion.  In addition to the constructor, I needed to override `setText`.  And I factored out private function `replaceNewlines`, used in both the constructor and `setText`.

With the exception of states-of-matter (see https://github.com/phetsims/states-of-matter/issues/230), all sims look the same after the conversion.  Assigning to @jbphet to review, sinc

[2018-09-27 20:12] pixelzoom commented on #392
@samreid Now that MultiLineText is a subclass of RichText, I've deleted MultiLineTextIO.  Let me know if for some reason that was not appropriate.

[2018-10-02 20:09] jessegreenberg opened #536 ""Grab and Drag" interaction on mobile VoiceOver"
When trying to click the "Grab Balloon" button with mobile VO, the balloon is released right away. After discussing with @zepumph, we realized we aren't exactly sure what the difficulty is and why the balloon seems to be picked up and released immedately after clicking the "grab balloon"button.

[2018-10-04 15:12] samreid commented on #403
In https://github.com/phetsims/scenery-phet/issues/402#issuecomment-425230441 we decided to keep the separate numbers/fonts and not handle RTL for this component.

[2018-10-04 15:16] samreid commented on #403
@Denz1994 reported:

In my opinion, our next steps to decide whether or not to limit the flexibility to specify an arbitrary node are not a blocking issue, so I'll unlabel the issue.

[2018-10-08 03:29] #402 closed

[2018-10-08 03:37] samreid commented on #403
My inclination is to leave it as an arbitrary Node and not check for a particular subtype.  It is unlikely for a developer to use a different type, and if they intentionally use a different type then it likely will be for a good reason.  That being said, I added a comment that said the Node would probably be Text or RichText.  @Denz1994 is that OK, and is there anything else for this issue?

[2018-10-08 04:01] samreid commented on #400
Thanks for taking this for a test drive @Denz1994, I added 2 commits to address the issues you raised.  Can you please review?

[2018-10-09 13:37] Denz1994 commented on #403
The documentation is good enough, but I did want to note the flexibility to support any node. That was the last point in this issue so I'll close. Thanks @samreid.

[2018-10-09 13:37] #403 closed

[2018-10-09 14:45] samreid commented on #400
Thanks for the review @Denz1994, closing.

[2018-10-09 14:45] #400 closed

[2018-10-10 22:35] jessegreenberg commented on #405
This was handled in the above commits, @mbarlow12 could you please review this? As part of the review could you please verify that this fixes the alert repetition that you reported in faradays-law?

[2018-10-12 20:31] zepumph opened #406 "utteranceQueue/Utterance could manage "First Time" alerts"
Often in designing alerts, we have places where an alert changes verbosity after N (usually 1) time(s) times being alerted. For example in friction when moving the book down:

First two times: `Down. Rub fast or slow.`
Subsequent times: `Down.`

What if we could register this with `Utterence` like
new Utterance( {
  initialAlert: 'Down. Rub fast or slow.'
  subsequentAlert: 'Down'.
  numberOfIniti

[2018-10-12 20:36] zepumph commented on #406
The best part about this to me seems like the ability to still just be able to pass that Utterance into utteranceQueue, like `utteranceQueue.addToBack( myUtterance)` and the Utterance itself is the state data, and `utteranceQueue.next()` would then hold the logic to parse the Utterance to get the appropriate string.

[2018-10-12 21:02] jessegreenberg commented on #406
Yes, this seems very useful for Utterance. I thought for a moment about whether this should be implemented in a subtype of Utterance, but having to require different kinds of Utterances sounds like a bummer and this seems pretty light weight. Good idea!

[2018-10-12 21:04] zepumph commented on #406
Hmmm, if we are looking for the general case, maybe we should have an array of possible strings, instead of just supporting a first and "after" alert.

For example from this request:

Basically the counter would "mod" by the array length and just repeat that. This is a different use case, not sure if they deserve separate options (as in both may be needed). Oh I've got it! All could be solved with

[2018-10-12 21:06] zepumph commented on #406
BTW in friction, I have implemented both of these manually, see `BookMovementDescriber.numberOfTimesAlertedAtBottom`, and `TemperatureIncreasingDescriber.alertIncrease()` (indexing the INCREASE const)

[2018-10-12 21:54] zepumph opened #407 "utteranceQueue.setInterval is broken"
You can set this value, but the timer's interaval was created in the initialize call, and it isn't destroyed and rebuild with the new interval, so this is likely buggy. I haven't seen any usages of this though, so it seems alright for now.

[2018-10-12 23:18] zepumph commented on #406
In the above commits I:

* seriously reworked Utterance, changing the signature to a `config` with a required 'alert' param.
* This alert param can be a string, or an array of strings.
* I update usages of `new Utterance` to account for that. I think I got all of them, especially because Utterance is not super to any classes.
* I then added support for the alert as an array. Currently there is onl

[2018-10-13 02:08] zepumph opened #408 "Wrap DOM event before passing it through to callbacks in KeyboardDragListeners"
This was found as I worked on https://github.com/phetsims/friction/issues/116#issuecomment-428163257.

I seem to remember in the past few months having a similar conversation about audio with @jonathanolson and @jbphet during a sonification meeting. Basically we should be wrapping the DOMEvent in something, just so that there is flexibility and futureproofing.

Right now it looks like:
[code]

and

[2018-10-13 18:07] zepumph opened #409 "Create AlertableDef type"
I was thinking it would be nice to have a type definition, like `ColorDef.js` that typed out every legal arg that can be passed to utteranceQueue queueing methods. Right now that is just `{string|Utterance}`, but it could change/grow. I am finding myself writing a fair few method that is basically wrapping an utteranceQueue method with extra metadata (see `MovementDescriber.alert()`). This seems l

[2018-10-15 14:45] KatieWoe opened #410 "CT: Most Repos Failure to Grunt"
Most of the repos are showing similar issues in CT, seemingly stemming from scenery-phet.  If I am interpreting this incorrectly, let me know and I will move the issue.
Example of issue from Balloons and Static Electricity:
[code]

[2018-10-15 14:47] samreid commented on #410
Thanks, push fixed.  Reassigned to @KatieWoe to close if/when this resolves on Bayes CT.

[2018-10-15 15:38] KatieWoe commented on #410
Looks good

[2018-10-15 15:38] #410 closed

[2018-10-15 16:31] jessegreenberg commented on #409
I agree, sounds good to have. For instance, I imagine we may just want to support numbers. What is the best way to handle an array?

[2018-10-15 17:04] jessegreenberg commented on #409
I gave it a shot and tried it in MovementDescriber. @zepumph and @mbarlow12 what do you think?

[2018-10-17 13:31] jessegreenberg opened #411 "Shift with arrow keys ins't working with AccessibleNumberSpinner"
From https://github.com/phetsims/QA/issues/210, @emily-phet said

Seems most likely that this would have been introduced from button/PressListener work in https://github.com/phetsims/scenery/issues/831.

[2018-10-17 16:00] jessegreenberg commented on #411
This wasn't a problem prior to https://github.com/phetsims/scenery/issues/831 because the a11y timer in press listener updated the pressed property at the end of the interval. Now it is possible that the valueProperty of AccessibleSlider may change as a result of a listener on the increased/decreased emitter, and handleKeyDown in AccessibleSlider doesn't handle that case.

[2018-10-17 16:05] jessegreenberg commented on #411
There are two problems - the increasedEmitter and decreasedEmitter need to emit whether or not we increase/decrease, there are cases where these need to emit with a step size of zero. I think for clarity they should be renamed to attemptingIncreaseEmitter (or something). And AccessibleSlider needs to emit these before we get the new value from the valueProperty, since listeners on these emitters c

[2018-10-17 16:08] jessegreenberg commented on #411
`increasedEmitter` and `decreasedEmitter` are only used in NumberControl, so this should be an easy rename.

[2018-10-17 16:37] jessegreenberg commented on #411
Fixed with the above commit. @mbarlow12 for https://github.com/phetsims/QA/issues/210, coulombs-law will need to bump its sun SHA to https://github.com/phetsims/sun/commit/640455f4424dc985af3ee9a3f48ab00a27593c0a or use a maintenance branch in sun to include the change. If you have any questions we could do this together soon.

[2018-10-17 16:45] jessegreenberg commented on #411
Rename handled above, but that shouldn't be needed for the coulombs-law release. @mbarlow12 assigning to you for https://github.com/phetsims/sun/commit/640455f4424dc985af3ee9a3f48ab00a27593c0a

[2018-10-18 21:54] mbarlow12 commented on #411
@jessegreenberg I worked with JO to add the proper SHA in the branch's dependencies.json and the built sim is working properly. Is the process to release a new RC version once all the bugs discovered in this round are fixed?

[2018-10-18 22:19] jessegreenberg commented on #411
Great, thanks! Yes, that is correct. Once all are fixed we will either ask the QA team to spot check that everything has been fixed in the next RC version or start a new RC test from the beginning if the changes required in the fixes are large enough.

[2018-10-18 22:19] jessegreenberg commented on #411
Closing this issue since it has been verified as fixed.

[2018-10-20 03:40] mbarlow12 commented on #411
@jessegreenberg it looks like you forgot to close—please reopen if I've done so in error!

[2018-10-22 21:01] arnabp commented on #404
Issues were addressed, closing.

[2018-10-22 21:01] #404 closed

[2018-10-23 16:23] jessegreenberg opened #412 "Move "static" fields in utteranceQueue"
Found while taking a look at https://github.com/phetsims/scenery-phet/issues/407. utteranceQueue used to be a static collection of functions, but now it is an initialized singleton, and the fields at the top of the file are confusing without being assigned to the instance.

[2018-10-23 16:37] jessegreenberg commented on #412
Done, referencing these fields in utteranceQueue functions is much clearer.

[2018-10-23 16:53] jessegreenberg opened #413 "AccessibleNumberSpinner won't change value first arrow press"
AccessibleNumberSpinner won't change value if another key is held down during first press. But any subsequent presses after that will correctly change the value. @mbarlow12 and I are going to look into this today, because it impacts GFL:B.

[2018-10-23 16:57] jessegreenberg commented on #413
Shoot, this should be in sun.

[2018-10-23 16:57] #413 closed

[2018-10-23 17:06] jessegreenberg commented on #408
I'm sorry, I am sure this is reasonable, but I don't understand the recommendation. Is this object shorthand for { event: event }? How does this add flexibility?

[2018-10-23 17:35] jessegreenberg commented on #406
@zepumph changes to Utterance look really great. You also converted to es6, which is so nice. While reviewing UtteranceTests, I found a bug that I introduced in #412, thanks for making these.

[2018-10-23 17:47] jessegreenberg commented on #406
Just a couple of questions about the tests. Would it be helpful if AriaHerald, used an emitter to signal when it announcedPolite instead? Would that be bettern than using _testingBackDoorCallback?

I am not sure I understand how testOrder functions are working in the tests, consider
[code]
I would expect alerts array to look like [1, 2, 3, 3], but testOrder looks like it is verifying the opposite.

[2018-10-23 17:49] jessegreenberg commented on #406
Is it because of the unshift here?
[code]

[2018-10-24 18:51] zepumph commented on #408
Yes that's the es6 way of saying that.

In the same way that scenery "normal" event listeners pass a scenery `Event` type. `scenery/input/Event` takes in a domEvent arg, and wraps it, in effect "future proofing" any changes that may come from the listeners. If we decide that listeners need to be passed something else, we can just add it to our own, internal scenery Event type without changing the

[2018-10-24 19:39] zepumph commented on #409
I like it a lot. I moved assertions to be at the source. What do you think?

[2018-10-24 19:49] zepumph commented on #412
@jessegreenberg I made a few updates to this. What do you think?

[2018-10-24 19:54] zepumph commented on #406
I'm going to do a few updates to AriaHerald. I'm going to make it a class, convert it to es6, give it an emitter, and see about integrating that into the tests. I'm going to move this into a new issue though.

[2018-10-24 19:55] zepumph opened #414 "Updates to AriaHerald"
From #406 @zepumph said,

[2018-10-24 20:32] zepumph commented on #414
I think this is a large improvement. Thanks @jessegreenberg for the suggestion.

I have one question though, why should we assert the existence of domElements even when we aren't initialized?

@jessegreenberg what do you think about moving these assertions to the initialize method? I don't feel strongly, it just seems weird that all PhET code that imports this file should held to such strict stand

[2018-10-24 20:33] zepumph commented on #406
@jessegreenberg much of the above code changed as part of #414. Is there anything else to do here?

[2018-10-24 20:50] zepumph opened #415 "Should utteranceQueue be cleared on reset?"
In JT I see that the reset-all button is clearing the utteranceQueue. If we want to do this, I think we should handle it in the ResetAllButton.js file itself, instead of just handling each case separately. @jessegreenberg can you think of a reason that we would either want to or not want to add `utteranceQueue.clear()` somehow to the `isFiringProperty`?

I think the lazyLink in ResetAllButton coul

[2018-10-24 20:50] zepumph commented on #415
discovered as part of #407

[2018-10-24 21:51] zepumph commented on #407
These changes look very nice. I added some tests also to help understand the changes better. Things seem to be working well. Thank you!

[2018-10-24 21:51] zepumph commented on #407
Anything else here?

[2018-10-24 22:33] jessegreenberg commented on #407
Thanks for the thorough review @zepumph, I think this can be closed.

[2018-10-24 22:33] #407 closed

[2018-10-24 22:45] jessegreenberg commented on #415
Totally agree, your recommendation looks great. Added above, and I removed the line in john-travoltage. Checking for other sims doing this now.

[2018-10-24 22:46] jessegreenberg commented on #415
https://github.com/phetsims/john-travoltage/commit/491c3bd57179d0e9491edc787e894fa4c5a7b181

[2018-10-24 22:50] jessegreenberg commented on #415
Only three usages of clear now, BalloonNode, ResetAllButton, and utteranceTests. @zepumph back to you, anything else?

[2018-10-24 22:57] zepumph commented on #415
How very nice. Closing

[2018-10-24 22:57] #415 closed

[2018-10-25 14:32] jessegreenberg commented on #406
Thanks @zepumph, this can be closed and we can continue with the #414.

[2018-10-25 14:32] #406 closed

[2018-10-29 16:26] KatieWoe opened #416 "CT: unlink"
[code]

[2018-10-29 16:43] samreid commented on #416
@jessegreenberg can you please take a look?  I noticed you were working with MomentaryButtonModel recently.

[2018-10-29 16:49] jessegreenberg commented on #416
Very sorry, I think this was fixed with https://github.com/phetsims/sun/commit/88090897c089681ff3234a27c3cb63e95543d484, but Ill check again soon to see if Bayes CT clears up.

[2018-10-29 18:48] jessegreenberg commented on #416
Tests haven't been able to complete yet, but hasn't shown up on CT for ~3 hours so I think we are OK to close.

[2018-10-29 18:48] #416 closed

[2018-10-31 14:31] jessegreenberg commented on #414
Commits look good, and thanks for renaming to ariaHerald since it is a singleton. I moved the assertions to the initialize function as you recommended. Thanks! Closing.

[2018-10-31 14:31] #414 closed

[2018-10-31 14:36] jessegreenberg commented on #412
Very nice, thanks for the cleanup and conversion to es6.

[2018-10-31 14:36] #412 closed

[2018-10-31 14:49] jessegreenberg commented on #409
I think this looks very nice, thanks for the recommendation @zepumph. Good to have this in utteranceQueue, but it will probably be useful elswhere in functions using or generating alertables. Closing this issue.

[2018-10-31 14:49] #409 closed

[2018-10-31 15:20] jessegreenberg commented on #408
Thanks for the explanation, I think I understand now.

In that case, should we go ahead and create an AccessibilityEvent (or something) in Scenery, rather than having a temporary wrap? Just trying to think through what this might look like at usages:
[code]
Or is there another way to create an AccessibilityEvent higher up in scenery?

[2018-11-01 16:17] pixelzoom commented on #283
Labeling for developer meeting since https://github.com/phetsims/unit-rates/issues/207#issuecomment-434909102 reminded me that next-gen keypad is still not finished.

[2018-11-01 16:18] pixelzoom commented on #283
Btw... This has been labeled with "meeting:design" since 11/8/2016.  Do designers not have a process for regularly reviewing labeled issues? If not, then why are we labeling them?

[2018-11-01 21:38] pixelzoom commented on #283
Reopened, closed by mistake.

[2018-11-01 22:17] zepumph commented on #408
Yes good point! I think we have been down this road before. We decided that the ability to keep the same reference of the object added for the removal call was important, like:

[code]
vs
[code]
which would allow us post processing manipulation, and the ability to wrap the event.

This issue was not trying to talk about that (though it is perhaps worth more discussion at some point). Instead I was

[2018-11-01 22:19] jbphet commented on #283
In the 11/1/2018 design meeting it was decided to assign this issue to @Denz1994, since he may have some time as his current sim finishes up.  The goal would be to address the issues that are unchecked in the comments above.  Several of these are design issues, so this will require some ramping up on the overall design and the motives behind it.

[2018-11-01 22:33] zepumph opened #417 "solidify difference between "Describer" and "Alerter""
From multiple discussions during meetings and https://github.com/phetsims/friction/issues/133.

I named things with the `Describer` suffix when they actually alerted to utteranceQueue. Whereas there are other files called describers than just work with text and return strings. We should make sure that those two different types have different suffixes.

I said two names in the issue title, but I'm

[2018-11-02 15:33] jessegreenberg commented on #417
+1 from me that the distinction will be useful in the future. Also, like "Describer" and "Alerter" or "AlertManager".

[2018-11-02 15:46] jessegreenberg commented on #408
My biggest concern is requiring AccessibilityEvent everywhere we use addAccessibleInputListener or create some accessibility input listener. While future proofing, I think it adds overhead without immediate benefit. That is why I was curious about wrapping the event somewhere in Scenery, not the listener.

[2018-11-02 16:11] jessegreenberg commented on #408
Found this article, may be relevant: https://medium.com/@photokandy/til-you-can-pass-an-object-instead-of-a-function-to-addeventlistener-7838a3c4ec62

You can pass an object as the second argument of addEventListener as long as the object has a handleEvent method. So what if we changed the `addEventListener` call in `AccessibilityUtil.addDOMEventListeners` to

[code]

And AccessibleInputHandler lo

[2018-11-02 17:04] zepumph commented on #417
Alright sounds good. I'll rename and update documentation.

[2018-11-02 17:31] amanda-phet commented on #283
@pixelzoom said

That is somewhat accurate. @arouinfar and I use the label within a sim repo to quickly find the issues we want to discuss in a design meeting. If someone uses the label, that person is responsible for holding a design meeting to discuss the labeled issue(s).

[2018-11-03 00:58] zepumph opened #418 "Factor out visual ballonInteraction"

[2018-11-03 00:59] zepumph opened #419 "Factor out "space to grab/release" node from balloonInteractionCueNode"
For https://github.com/phetsims/friction/issues/142 we need the same Node, so I'm going to move this here and convert the BASE usage too. Tagging @jessegreenberg so he knows I'm mucking with his sim.

[2018-11-03 01:28] zepumph commented on #419
@jessegreenberg can you please review this. @samreid was worried about how I deleted a string key from BASE that is published with the sim.  How would you recommend proceeding? We could revert the changes in BASE and just have two copies of this simple node, one in BASE and one everywhere else.

Or we can feel ok about losing all the translations because the refactor is worth it.

Or we can do som

[2018-11-03 01:33] samreid commented on #419
I'm more uncertain than I am worried.  It seems like it should be OK, and that if rosetta is working with the latest string keys, then there won't be a problem that is visible to the end user, there would just be a stale key/value pair left over in pre-existing translations.

[2018-11-03 01:42] zepumph commented on #419
Tagging @jbphet for ground truth comment.

[2018-11-05 18:49] jbphet commented on #419
If the string key is simply deleted from the English strings file, that string will stop appearing to translators right away, i.e. before the updated version of the simulation is published.  This is because Rosetta extracts the list of strings used in a sim from the published version, then retrieves the master version of the strings from GitHub, and only presents each individual string to the user

[2018-11-05 21:30] zepumph commented on #419
RE: my commit above:

@jbphet is it possible to add a comment to the string key like:
[code]

[2018-11-06 16:03] jbphet commented on #419
Sorry, you're correct, that's what it does.  I was momentarily confused - it's babel that keeps everything on master and doesn't use branches.  My bad.

[2018-11-06 16:26] KatieWoe commented on #411
In https://github.com/phetsims/QA/issues/214.  The arrow keys look depressed when using shift + arrow, and don't when just using arrow keys.  The movement is the same in both cases.  Is this what was intended?

[2018-11-06 16:47] mbarlow12 commented on #411
@KatieWoe good catch. Not totally sure on that.

@jessegreenberg I'm noticing the following lines in NumberControl

[code]

any reason why we're only calling a11yClick() with the shift key?

[2018-11-06 16:49] mbarlow12 commented on #411
Also, should we move this to a new issue related to NumberControl instead of NumberSpinner/Picker?

[2018-11-06 19:54] zepumph commented on #419
Ok then, that makes a lot of sense. I am going to revert me most recent commit to add back in the string key then.

[2018-11-06 19:54] zepumph commented on #419
Thank you for the clarification!

[2018-11-06 19:57] zepumph commented on #419
Alright. @jessegreenberg, as this is common code (albeit a simple node), and BASE is your sim, please review the first two commits of this issue.

[2018-11-06 20:59] zepumph commented on #419
Hey, after using this type a bit more, I think I'm going to rename it from `SpaceToGrabReleaseNode` to `GrabReleaseCueNode`. It feels more general.

[2018-11-06 22:11] arouinfar commented on #411
Good observation @KatieWoe.

In general, I don't think the arrow keys should look depressed unless the shift modifier is being used. Tweakers will always change the value by the smallest possible amount, which would be analogous to using the shift modifier. For Coulomb's Law, this seems slightly odd because the arrow keys and shift modifier both increment the slider thumb by one unit. However, I t

[2018-11-06 22:15] arouinfar commented on #411
@jessegreenberg and/or @mbarlow12 if you agree, please feel free to close.

[2018-11-06 22:33] zepumph commented on #419
Alright all you.

[2018-11-07 15:32] jessegreenberg commented on #411
Yes, the design decision was that the arrow buttons should look depressed when the shift modifier was used, but should not look pressed when using normal arrow keys. But it is a bit confusing when the shift step and normal step are the same size.

We could also make it so that if the normal keyboard step is the same as the tweaker delta, the arrow buttons always look pressed. But I think that coul

[2018-11-07 15:32] #411 closed

[2018-11-07 18:33] jessegreenberg commented on #419
Thanks @zepumph, all looks good. Closing.

[2018-11-07 18:33] #419 closed

[2018-11-07 23:38] pixelzoom opened #420 "NumberDisplay: add minBackgroundWidth option"
NumberControl needs a way to specify the minimum width of its NumberDisplay's background.  Required to address https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-436810280.

[2018-11-07 23:40] pixelzoom commented on #420
Done.  NumberDisplay now has option `minBackgroundWidth`.  It's settable through NumberControl via option `valueMinBackgroundWidth`.

Randomly selected @chrisklus to review.

[2018-11-08 05:53] chrisklus commented on #420
Looks good @pixelzoom, the NumberDisplay is staying at a constant width. Back to you.

[2018-11-08 16:03] jessegreenberg commented on #418
@zepumph was this an accidental duplicate of #419?

[2018-11-08 17:05] #420 closed

[2018-11-08 21:00] zepumph commented on #418
Yes thanks I think I accidentally created this.

[2018-11-08 21:00] #418 closed

[2018-11-09 17:32] mbarlow12 commented on #417
Sorry for the late input here. I've been using StringManager and AlertManager in the ISLC sims. The idea I've been working toward is that there's a central type that only manages dynamic content. Static labels and help text are just required directly where they're needed.

I'm not as sold on the AlertManager; it's pretty much just a wrapper to abstract away Utterances and utteranceQueue. 1 less in

[2018-11-09 18:01] zepumph commented on #417
My only comment would also be to praise the idea of a single work "suffix" that could be easily tacked on to types

[2018-11-10 01:06] zepumph opened #421 "Redesign GrabButton type"
I was thinking about this because of difficulties with https://github.com/phetsims/friction/issues/144. It has actually become a total pain in the butt to try to keep the grabButton's focusHighlight in sync visually with the "wrappedNode"

After speaking with @jessegreenberg about this. We thought that maybe making it a mixin would be nice. After poking around with a potential implementation I fou

[2018-11-13 02:34] pixelzoom opened #422 "ColorProfile suggestions"
Suggestions after adding my very first color profiles to Gas Properties ...

- [ ]  `ColorProfile` name is misleading, rename to something more accurate.
An initial conceptual hurdle for me was in the naming of ColorProfile.  If ‘projector’ is a profile name, then I would think of the colors associated with ‘projector’ as a ‘color profile’.   But that's not what `ColorProfile` is.  From the doc, i

[2018-11-13 03:14] pixelzoom opened #423 "HeaterCoolerNode problems"
I'm trying to use `HeaterCoolerNode` in Gas Properties.  Lots of problems...

- [x] (1) The `width` option is a disaster. Given the number of sims that use this, it's difficult for me to understand how there can be so many problems with the `width` option, including:

* the hole in the top of the bucket is off to one side
* the labels hang off the left edge of the bucket
* the flames and ice aren'

[2018-11-13 03:20] pixelzoom commented on #423
- [ ] There's no way to adjust the size or pointer areas of the slider thumb.

[2018-11-13 04:06] phet-steele commented on #423
There is also the mystery of phetsims/states-of-matter/issues/224. Can't help but wonder if the code was better that maybe we could have cracked that case.

[2018-11-13 04:48] pixelzoom opened #424 "add font options to TimerNode"
I'm using TimerNode is Gas Properties.

We recently went through a lot of discussion and review of TimerNode, especially the time display. See for example: https://github.com/phetsims/scenery-phet/issues/400, https://github.com/phetsims/scenery-phet/issues/402, https://github.com/phetsims/scenery-phet/issues/403.  So I'm very surprised to find that there is no ability to customize the fonts.  Or m

[2018-11-13 05:06] samreid commented on #424
What font is desired for Gas Properties usage of TimerNode?  Does it differ from the hard-coded font values?  If Gas Properties indeed needs a different font, can all simulations use that font?  In a moment, I'll commit options that will allow the client to customize the fonts, but it would be best if we can choose defaults that work well in the majority of cases.

[2018-11-13 05:09] samreid commented on #424
After the above commit, you can specify font options like so:

[code]

![image](https://user-images.githubusercontent.com/679486/48392198-7d4ed980-e6c7-11e8-8773-00e5dd161f2a.png)

Back to you @pixelzoom

[2018-11-13 05:10] pixelzoom opened #425 "buggy layout of units in TimerReadoutNode"
The baseline of the units in TimerReadoutNode is not vertically aligned with the baseline of numbers in the time display.  This is obvious when you use units that have a descender, like 'ps'.  (None of the tests in scenery-phet demo use units with descenders.)

Here's the example that I'm wrestling with in Gas Properties. Notice how the 'ps' is riding high.

![screenshot_851](https://user-images.g

[2018-11-13 05:15] pixelzoom opened #426 "impossible to use DerivedProperty with TimerNode"
In Gas Properties, I'd like to keep track of time in seconds in the model, and display "scaled time" (1 s = 2.5 ps) in TimerNode.  I tried using a DerivedProperty to do this, and it worked nicely -- until I hit the reset button in TimerNode.   Unfortunately, TimerNode thinks that it knows what should be done when the reset buttons is pressed, and that is:

[code]

And when `timeProperty` is a Deri

[2018-11-13 05:15] samreid commented on #425
What font sizes are you using?  In the scenery-phet demo I'm seeing:

![image](https://user-images.githubusercontent.com/679486/48392356-357c8200-e6c8-11e8-94c8-045d066e6942.png)

Is your code committed?  When I check the "Stopwatch" checkbox in Gas Properties, I do not see a TimerNode.

[2018-11-13 05:17] pixelzoom opened #427 "no way to disable start button in TimerNode"
Gas Properties has play/pause/step control.  When the sim is paused, I'd like to disable the start button on TimerNode.  There's currently no way to do that, as the `playPauseButton` is private.

[2018-11-13 17:38] pixelzoom commented on #424
As long as `layoutBounds` can be set for ScreenView,  there should never be an assumption that all sims can use the same font.

[2018-11-13 17:39] pixelzoom commented on #427
@arouinfar your call for Gas Properties.

[2018-11-13 17:46] arouinfar commented on #427
Thanks for that description @samreid! In general, leaving the start button on the timerNode enabled while the sim is paused allows for users to more easily set up timed experiments. This is the desired behavior, and I do not think Gas Properties should be any different, but thanks for asking @pixelzoom.

[2018-11-13 17:46] #427 closed

[2018-11-13 17:58] pixelzoom commented on #425
In Gas Properties, units are in the same font size as the small numbers. The above commit to scenery-demo demonstrates the problem.  Here's a screenshot:

![screenshot_852](https://user-images.githubusercontent.com/3046552/48432847-c720d980-e732-11e8-8f5e-96132728b904.png)

[2018-11-13 18:08] pixelzoom commented on #426
I went down the DynamicProperty path, and that required making both the DynamicProperty and the associated model Property `reentrant: true`.    I'm going to punt on this and change the model Property units to picoseconds, so that there's no difference between the model and view units.

So it's no longer needed in Gas Properties. But it sure seems like a general problem.  Back to @samreid to decide

[2018-11-13 18:19] pixelzoom commented on #424
@samreid and I had a Slack conversation a couple of days ago in which he pointed out that we could save memory by factoring out constants for default option values.  So I was surprised to see the new font options implemented like this in `TimerReadoutNode`:

[code]

I factored these out as constants, and made them part of the public interface, so that they can use used to create units that match t

[2018-11-13 19:07] pixelzoom opened #428 "factor out shapes and buttons for Play/Pause/Stop"
In Gas Properties, the design references TimerNode and PeriodTimerNode for 2 of the meters that could be reused or referenced.  Both have a 'play' button, and it sure looks like code was copied from one to the other:

SCENERY_PHET/TimerNode:

[code]

PENDULUM_LAB/PeriodTimerNode:

[code]

(For the record, PeriodTimerNode appears to have been copied from TimerNode by MLL.)

The above should be fact

[2018-11-13 19:11] samreid commented on #424
I'm not confident we want to eagerly apply this pattern everywhere.  In https://github.com/phetsims/unit-rates/issues/207#issuecomment-437215699 we saved 20MB by factoring out one variable, because there were so many Emitter instances.  For a simulation with <=1 TimerNode, the change above would have no effect and for N<10 TimerNodes the proposed change would have minimal effect.  The disadvantage

[2018-11-13 19:17] #424 closed

[2018-11-13 19:19] samreid commented on #426
My recollection is that the developer team consensus is that models should typically be coded in the appropriate units for that model (no longer strictly MKS as was our prior convention), so this decision sounds appropriate.

[2018-11-13 20:06] pixelzoom opened #429 "change UI state when TimerNode reaches maxValue"
When TimerNode reaches its maximum, time number stops changing, but the state of `playPauseButton`(which should really be called `playStopButton`) indicates that it's still in the 'playing' state.  Screenshot from Gas Properties:

![screenshot_853](https://user-images.githubusercontent.com/3046552/48439970-d446c400-e744-11e8-9a4d-50e0e02aeb33.png)

 Per @arouinfar, the button state should change t

[2018-11-13 20:13] pixelzoom commented on #428
@samreid @jonathanolson FYI, this is going to require changes to TimerNode and PeriodTimerNode.

[2018-11-13 20:18] pixelzoom commented on #429
Above I said:

The button does indeed do play/pause.  What's incorrect is the icon for pause.  TimerNode is currently using the icon for 'stop', making it totally inconsistent with PlayPauseButton.

[2018-11-13 20:22] pixelzoom opened #430 "change TimerNode icons"
A couple of problems with the icons used by TimerNode:

(1) TimerNode is currently using a different icon for 'play' than PlayPauseButton.  See screenshots below.  Recommended to use the same icon in all places - PlayPauseButton, TimerNode and PeriodTimerNode. (See also https://github.com/phetsims/scenery-phet/issues/428 about duplication of the play button icon.)

![screenshot_855](https://user-i

[2018-11-13 20:23] pixelzoom commented on #430
I asked @arouinfar about this on Slack.  Here reply was:

Assigning to @ariel-phet for a design decision.  @samreid FYI.

[2018-11-13 20:29] pixelzoom commented on #428
On hold until we decide what the icons should be in https://github.com/phetsims/scenery-phet/issues/430.

[2018-11-13 21:44] zepumph commented on #421
I renamed this issue because, after talking with @jonathanolson, I am going to change the way that the general grab button is implemented. Currently the GrabButtonNode is passed a node for it to add as a child. This is problematic for many reasons, like that that changes the scene graph structure and transform of the draggable node. Ideally we would want to keep that the same while we added a11y t

[2018-11-13 21:56] zepumph commented on #421
Here is some pseudo code about the new strategy:
[code]

[2018-11-13 23:54] pixelzoom commented on #430
OK, but what about using the 'stop' icon when TimerNode does not 'stop', it pauses?

[2018-11-13 23:56] pixelzoom commented on #430
OK, so you want to make the play icon look different, I'll buy that.

But what about using the 'stop' icon when TimerNode does not 'stop', it pauses?

[2018-11-13 23:59] pixelzoom commented on #430
I'm also not clear on why it was important to use a different icon for 'play', but the same icon for 'stop'.

![screenshot_862](https://user-images.githubusercontent.com/3046552/48450957-770f3a80-e765-11e8-8075-1b39ff16eb72.png)

![screenshot_855](https://user-images.githubusercontent.com/3046552/48440679-c7c36b00-e746-11e8-9f79-41392ed58975.png)

[2018-11-14 00:35] samreid commented on #429
We didn't want the text display to change size during the runtime of the sim, hence we chose to size it to accommodate the largest text.

[2018-11-14 02:06] zepumph commented on #421
In the above commits I overhauled `GrabButtonNode`

Basically now the structure is that "GrabButtonNode" is the application div that gets a11y dragging listeners attached to it.

Whatever "parent" type node that is passed in to the constructor becomes the "button" of the grab interaction. See BookNode.js for an example of how "this" is passed into the `GrabButtonNode` type.

There are a ton of TOD

[2018-11-14 15:31] pixelzoom commented on #430
By the way... The only reason that I care about this at all is because I need to create a new component with a play/pause button like the one in TimerNode.  And that play/pause button is now duplicated in at least 2 places, see https://github.com/phetsims/scenery-phet/issues/428.  So if I have to deal with this, I figured that I'd see if PhET wants to standardize on the play/pause icon.

[2018-11-14 15:33] pixelzoom commented on #430
By the way... The only reason that I care about this at all is because I need to create a new component (for Gas Properties) with a play/pause button like the one in TimerNode.  And that play/pause button is now duplicated in at least 2 places, see https://github.com/phetsims/scenery-phet/issues/428.  So if I have to deal with this, I figured that I'd see if PhET wants to standardize the play/paus

[2018-11-14 21:46] Denz1994 commented on #423
@pixelzoom mentioned the documentation for the`heatEnabled` and `coolEnabled` options is ambiguous ([above comment](https://github.com/phetsims/scenery-phet/issues/423#issue-380040501)). Setting `heatEnabled: false` causes the slider to only have a "cool" setting where sliding towards "cool" raises the ice cube image, producing this:
![image](https://user-images.githubusercontent.com/13894380/4851

[2018-11-14 21:49] zepumph commented on #421
Next I'm going to get space bar working correctly.

[2018-11-14 22:26] pixelzoom opened #431 "support for "no value" in NumberDisplay"
In https://github.com/phetsims/states-of-matter/issues/236#issuecomment-438838653, @arouinfar identified many UI components that display "no value" as "-" (hypen), e.g.:

<img src="https://user-images.githubusercontent.com/8419308/48515671-928a4c00-e81e-11e8-881a-c26665e562a1.png" width=150>  <img src="https://user-images.githubusercontent.com/8419308/48515856-2f4ce980-e81f-11e8-881f-71517fc74b9d.

[2018-11-14 23:08] zepumph commented on #421
The above comment feels like a workaround to me. But at least space is working in friction. It also fixed strange bug where the draggableNode wasn't properly removed from the focus order when you tabbed away from it, and then came back to it.

While working on that I realized that one of the main issues left is about accessibleOrder. And the above workaround relates to that too.

In the GrabButton

[2018-11-14 23:13] arouinfar commented on #431
Not sure how relevant it is, but these tools all use slightly different methods to display "-". Since I had already dug through .js files when investigating https://github.com/phetsims/states-of-matter/issues/236#issuecomment-438838653, I'll add the code snippets below.

IntensityMeter in bending-light displays the "miss" string, "-"
https://github.com/phetsims/bending-light/blob/master/bending-li

[2018-11-14 23:19] pixelzoom commented on #431
@arouinfar What do you think about using a longer dash, like emdash "—"?   Hyphens looks a little small to me, and I suspect that's why "- -" was used in SOM.

[2018-11-14 23:58] Denz1994 commented on #423
I'll update the documentation for the`heatEnabled` and `coolEnabled` options and leave them implemented.

[2018-11-15 00:07] pixelzoom commented on #423
How about adding tests to scenery-phet demo to confirm that they actually work?

[2018-11-15 00:33] jessegreenberg commented on #405
Thanks @mbarlow12 sounds good. But I am also curious about why it is still sub-optimal in FL. Ill make an issue there to learn more.

[2018-11-15 00:33] #405 closed

[2018-11-15 15:03] Denz1994 commented on #423
I added 3 instances of HeaterCoolerNode to scenery-phet demo. The `heatEnabled` option limits the VSlider Range to `min:0, max:1`. The `coolEnabled` option limits the Range to `min:-1, max:0`.

While doing this, I noticed that adding multiple instances of the HeaterCoolerNode on the same ScreenView causes the `HeaterCoolerNode.heatCoolAmountProperty` to be shared between each instance. So using th

[2018-11-15 16:57] pixelzoom commented on #423
If you're passing the same `heatCoolAmountProperty` to each instance, then this is expected - and desired.  That's classic Model-View-Controller pattern.

[2018-11-15 17:07] pixelzoom commented on #423
Ah, I see what you're talking about.  This is definitely a problem:

[code]

A Property (for the reasons that you mentioned) should never be factored out as constant for a default option value.   If the default is not used by any clients, then +1 for making `heatCoolAmountProperty` a required constructor parameter, and ditching the option.

[2018-11-16 12:01] terracoda commented on #421
@zepumph, this is very interesting work. I would like to point out that the Grab book button that you have created in Friction sounds different in two very important ways than the Grab balloon button in BASE. Here are the interesting differences I notices when using VoiceOver:
1. On grab, I never hear "group, web application"
2. On release, I never hear the refocusing of the grab button label, "Gr

[2018-11-16 23:34] pixelzoom commented on #428
I made an attempt at this and failed.  I'm going to move forward by creating my own button for the Collision Counter in Gas Properties.   If/when someone factors out reusable shapes and a button, I'll be happy to use it in Gas Properties.

Assigning to @ariel-phet to prioritize and assign.

[2018-11-17 00:04] pixelzoom commented on #431
Done in the above commit.  If the value is `null`, then this string constant is displayed:

[code]

 I'm using this for the temperature combo box in Gas Properties, e.g.:

![screenshot_876](https://user-images.githubusercontent.com/3046552/48653277-4fb4a980-e9c1-11e8-86a8-7bb481335eed.png)

As for using this consistently in all sims... There are 2 ways to approach that:

(1) make all sims use Numb

[2018-11-17 00:07] pixelzoom commented on #431
In the above commit, I moved the constant to an option, so that it can be customized:

[code]

[2018-11-19 21:09] pixelzoom commented on #422
I swapped constructor parameters in the above commits.

[2018-11-19 21:19] pixelzoom commented on #422
There are currently 13 singletons created using `new ColorProfile`.  If we rename `ColorProfile`, then we should rename these 13 singletons, which appears to be possible using global string replacement.

[2018-11-19 21:53] pixelzoom commented on #428
Btw... We could use the same 'play' shape everywhere and still differentiate between TimerNode and PlayPauseButton by varying the fill.    I have a hard time believing that there would be any confusion between these:

![screenshot_880](https://user-images.githubusercontent.com/3046552/48737285-e0ca9100-ec0a-11e8-9693-b6fc3dfafb1a.png)    ![screenshot_879](https://user-images.githubusercontent.com/

[2018-11-20 00:29] pixelzoom commented on #428
To continue work on Gas Properties, I've created yet-another play/reset button for the Collision Counter. See `PlayResetButton`:

![screenshot_882](https://user-images.githubusercontent.com/3046552/48743521-b4217400-ec20-11e8-9deb-b11cdf0d0fd5.png)  ![screenshot_883](https://user-images.githubusercontent.com/3046552/48743523-b552a100-ec20-11e8-9101-c15bab03ed07.png)

[2018-11-20 16:53] jessegreenberg commented on #421
We discussed the first bullet point during a11y meeting today, and couldn't think of a reason why the application role inside the button would be problematic for a11y.

In BASE, the focusable div is contained under a parent div with role=application. Sorry, I couldn't find any documentation about why this is but remember it being considered and tested. We might want to do that here too but that do

[2018-11-20 17:02] jessegreenberg commented on #421
We ran similar HTML through a validator and got this output:
![capture](https://user-images.githubusercontent.com/6396244/48789831-ecc25b80-ecbb-11e8-8bda-288eca616b03.PNG)

Since it works with AT, we are not sure if this is a problem.

[2018-11-20 17:08] jessegreenberg commented on #421
@terracoda tested in VO, lets also test in NVDA and JAWS to see if this works OK, that will help inform about whether it is OK to have non-valid HTML.

[2018-11-20 18:18] pixelzoom opened #432 "issues with GaugeNode"
I need to use `GaugeNode` in Gas Properties.  This issue notes things that were done poorly when this was moved to common code.

First, some issues related to these lines:

[code]

- [x] Line 5: Ported, but apparently not cleaned up and generalized.

- [x] Line 30: `{Node} label` would be more flexible

  UPDATE: No op, see https://github.com/phetsims/scenery-phet/issues/432#issuecomment-452144281

[2018-11-20 18:43] ariel-phet commented on #432
@chrisklus is up for this work

[2018-11-20 18:50] terracoda commented on #421
@jessegreenberg, after seeing that message in the A11y Tree, I think we are not hearing the expected application role and the name of the re-focused button because the information is not being exposed in the A11y Tree.

[2018-11-20 18:52] terracoda commented on #421
I am still curious to hear what JAWS and NVDA do.

[2018-11-20 18:53] ariel-phet commented on #432
@chrisklus I believe @jbphet did this initial port, so also feel free to consult with him on this work

[2018-11-20 19:52] pixelzoom commented on #432
Re:

What I'm observing is that if valueProperty.value > range.max, there is no error. But the needle is at range.min, and that makes no sense to me.

[2018-11-20 20:30] jessegreenberg commented on #421
Testing with NVDA and Firefox: Alerts and movement all work correctly. When I grab the book, I do not hear anything like "Application, section" (which I do in BASE).

[2018-11-20 23:33] zepumph commented on #421
It seems like this nesting is causing issues. . .

[2018-11-21 07:56] terracoda commented on #421
Thanks @jessegreenberg! This was very helpful. I think we need to stick to the structure that worked in BASE. That solution worked for all AT we support.

@zepumph, do you think your generalizable draggable object could work with BASE's sibling structure, or a similar sibling structure? There is a difference in the two sims as BASE's draggable balloon has the heading `<h3>Yellow Balloon</h3>` and

[2018-11-21 18:11] ariel-phet commented on #428
@pixelzoom I like your suggestion of the alternate fill. I am also OK if you want to change timer node to use the pause icon. Feel free to make these changes at your convenience. For timer node, I believe @Denz1994 was doing some work, so you can assign changes for that component to him.

[2018-11-21 18:23] ariel-phet commented on #430
@pixelzoom made a good suggestion in #428 of using a different fill but unifying icons. I am on board with that. I am fine with the icon changing to a pause button, perhaps we also try the alternate fill in the pause button to keep a consistent look on timer node?

[2018-11-23 21:15] zepumph commented on #421
From the link above:

Phrasing content, but there must be no interactive content descendant.

@terracoda I like that DOM structure best too, such that the button and application div are peers. I will work on figuring out the best way to proceed based on the javascript structure. Tagging for a11y meeting. @jessegreenberg hopefully we can discuss this Monday. Marking as high priority as it is some o

[2018-11-27 22:00] pixelzoom commented on #430
@ariel-phet Alternate fill for pause button looks pretty awful:

![screenshot_889](https://user-images.githubusercontent.com/3046552/49114290-14359d00-f255-11e8-9dbe-7932eaf1d2e3.png)

[2018-11-27 22:55] pixelzoom commented on #430
TimerNode icons are changed, along with a bunch of cleanup and a `dispose` bug fix. See above commits.

The pause icon is still filled with black. It looked awful with "alternate fill":

![screenshot_889](https://user-images.githubusercontent.com/3046552/49116960-7219b300-f25c-11e8-90a6-ce1b331081a1.png)

The play icon is still using the inverted fill.  I still think that this makes it look somewh

[2018-11-27 22:57] samreid commented on #430
The filled buttons seem preferable.  More consistent, look nicer, don't look disabled.

[2018-11-27 22:59] pixelzoom commented on #428
Shapes are committed.

I went ahead and did the TimerNode work in https://github.com/phetsims/scenery-phet/issues/430, since I needed someplace to test the button icons.   I also used the shapes in PlayPauseButton, and verified that there's no change to that button's appearance.

PeriodTimerNode in pendulum-lab should be (or rather should have been) replaced with TimerNode.  Tracking that in https

[2018-11-27 22:59] #428 closed

[2018-11-28 01:00] zepumph opened #433 "a11y views don't need to display aria-label in innerHTML if innerHTML already exists"
From working on #421, I don't want aria-label to get pulled in the PDOM copy unless the innerHTML is blank. That way we won't have duplicates in the a11y view.

[2018-11-28 01:03] zepumph commented on #421
I made progress on this. I updated the type so that it changes  the PDOM content of just a single node. This seems promising, and I am happy with the direction.

Right now there isn't really any way to support aria role description, or anything else that can't be set with options.

there is also a bit of strangeness with focusHighlightLayerable that I want to make sure is a bit more robust.

[2018-11-28 01:04] zepumph commented on #433
Tagging @jessegreenberg so he is aware of what I think of as a bug fix.

[2018-11-28 01:04] #433 closed

[2018-11-28 01:36] arouinfar commented on #430
While I have a slight preference for the so-called "alternate fill" play button, its corresponding pause looks terrible. It's not immediately recognizable as a pause button, which is problematic.

For consistency, I would vote for standard black play and pause icons.

[2018-11-29 01:15] pixelzoom opened #434 "issues with HandleNode"
I'm trying to use HandleNode in Gas Properties.  I'll use this issue to document what problems I ran into, and how I fixed them.  Mentioning the authors @chrisklus @samreid as an FYI.

[2018-11-29 01:17] pixelzoom commented on #434
First problem... In common code, any option or parameter that is a color should support `{Color|string}`. Option `gripFillBaseColor` apparently needs to be a `{Color}`.  That isn't documented, and it's different than all of the other color-related options.

[2018-11-29 02:50] pixelzoom commented on #430
Since all of the votes have been for using `iconFill: 'black'` as the default for all icons, I've gone ahead and made that change.  You can test drive this in master with the scenery-phet demo application.  Compare TimerNode in the _Components_ screen to `PlayPauseButton` in the _Buttons_ screen to see that they look and behave consistently.

Assigned to @ariel-phet  for signoff.

[2018-11-29 17:07] pixelzoom commented on #434
I've accomplished what I need to do with HandleNode, so closing this issue.

[2018-11-29 17:07] #434 closed

[2018-11-29 17:14] jonathanolson commented on #422
Sounds fine to me. I agree the current name is confusing.

[2018-11-29 17:16] arouinfar commented on #430
@pixelzoom I think the play/pause button on the TimerNode is looking nice.

<img width="123" alt="screen shot 2018-11-29 at 10 12 53 am" src="https://user-images.githubusercontent.com/8419308/49239258-86c28c00-f3bf-11e8-8b73-75f2727b66f5.png"> <img width="127" alt="screen shot 2018-11-29 at 10 12 27 am" src="https://user-images.githubusercontent.com/8419308/49239260-86c28c00-f3bf-11e8-95aa-ce81b91

[2018-11-29 17:21] pixelzoom commented on #430
It's also nice that there's consistency in Gas Properties, where these icons appear in multiple places, see below.  They are all using the same Shape common code.

![screenshot_898](https://user-images.githubusercontent.com/3046552/49239659-8971b100-f3c0-11e8-896a-73bb3e08a2df.png)

[2018-11-30 21:19] pixelzoom commented on #425
As the font size for the units increases, the problem becomes more pronounced.  Here's scenery-phet `demoTimerNode` with `var unitsNode = new Text( 'ms', { font: new PhetFont( 20 ) } );`

![screenshot_905](https://user-images.githubusercontent.com/3046552/49315453-f9f4fc80-f4aa-11e8-9318-3848493467e2.png)

[2018-12-03 18:07] ariel-phet commented on #430
Sounds good, closing

[2018-12-03 18:07] #430 closed

[2018-12-03 20:53] samreid commented on #425
Proposed fix pushed.  fontSize: 20 looks like:

![image](https://user-images.githubusercontent.com/679486/49400900-d926e400-f702-11e8-92b6-a0861483d1d5.png)

@pixelzoom please review and advise.

[2018-12-03 20:56] samreid commented on #426
Let's wait until it comes up again, unassigning until then.

[2018-12-04 01:14] pixelzoom commented on #425
Looks good. Tested with various font sizes, baselines remained aligned. Closing.

[2018-12-04 01:14] #425 closed

[2018-12-04 01:16] pixelzoom commented on #429
Inspected commit, tested in Gas Properties. Looks good, closing.

[2018-12-04 01:16] #429 closed

[2018-12-05 02:18] zepumph commented on #408
I don't this the majority of this issue makes sense anymore. Now that a11y events are inlined with other scenery ones, it will be enough just to change the signature to `scenery/Event` instead of `DOMEvent`. @jessegreenberg does that sound good to you?

[2018-12-05 19:19] Denz1994 commented on #423
In response to the issues with the width option, it has been removed for now. Instances in sim code currently make use of the `scale` option for sizing. This handles sizing for all 3 components (`HeaterCoolerNode`, `HeaterCoolerBack`, and `HeaterCoolerFront`). Because all of the components are handled in 3 separate nodes, I think `scale` represents a good option for sizing. Thoughts otherwise  @pi

[2018-12-05 19:22] jessegreenberg commented on #408
There is overlap between this issue and phetsims/tasks#970

[2018-12-05 19:22] #408 closed

[2018-12-05 21:43] pixelzoom commented on #423
FYI, this API change broke Gas Properties, fixed in the above commit.

[2018-12-05 21:47] pixelzoom commented on #423
Re https://github.com/phetsims/scenery-phet/issues/423#issuecomment-444608827:

OK to remove `width` option, `scale` sounds appropriate.

[2018-12-05 21:48] pixelzoom commented on #423
I still see `width` option in HeaterCoolerNode.  It appears to be unused.

`scale` sounds appropriate.

[2018-12-06 18:57] arouinfar commented on #431
I'm not a dev, so it's hard for me to make this sort of call. Both sound reasonable, but perhaps (1) is closer to overkill, while (2) seems like a less-invasive way to give us the desired look. I'm leaning toward (2).

There isn't a particular rush to use an emdash across all sims. I would think we could chip away at it as these components are revisited in the scope of regular sim work.

[2018-12-06 21:00] pixelzoom commented on #431
I think we should proceed with factoring out the string, since there will likely be places where it should be used that are not appropriate to use NumberDisplay.

Labeling for developer meeting to see if adding this to MathSymbols would be too much of a stretch:

`NO_VALUE: '\u2014', // em dash`

Or is there a better place to put this?

[2018-12-08 06:01] chrisklus opened #435 "Add color option to slider thumb in HeaterCoolerNode"
Described in https://github.com/phetsims/energy-forms-and-changes/issues/132#issuecomment-445420989

[2018-12-08 06:08] chrisklus commented on #435
All set. Tested in EFAC, SOM, SOMB, and GP. Assigning to @pixelzoom for review.

[2018-12-10 20:09] pixelzoom commented on #435
Two new options were introduced in `HeaterCoolerNode` and `HeaterCoolerFront`:

[code]

Issues:

(1) The options are undocumented.  Presumably `{Color|string|null}`?
(2)  The default values are duplicated.
(3) Default Color values could be replaced with CSS color strings.
(4) Default values whose value involves `new` should be factored out as constants.

I noticed that issues (2) and (4) also appl

[2018-12-10 20:15] pixelzoom commented on #423
@Denz1994 said:

I said:

.. except now I see that HeaterCoolerNode passes all of its options to the supertype, the HeaterCoolerFront instance, and the HeaterCoolerBack instance.   So if I do `new HeaterCoolerNode(..., { scale: 0.5 } )`, the scale is going to be applied twice.

[2018-12-10 20:18] pixelzoom commented on #423
So... some more check list items:

- [ ] HeaterCoolerNode should not pass complete set of `options` to is subcomponents.

- [ ] In HeaterCoolerNode, consider using nested options for the subcomponents. I.e.:

[code]

[2018-12-11 02:02] samreid commented on #401
We've scheduled a meeting, removing assignment until then.

[2018-12-11 18:23] chrisklus commented on #432
@pixelzoom my apologies for not getting to more of this sooner. I have some questions for a few of these.

Right now the position of the label is hard coded as
[code]
Should this be able to be set by options?

Line 38: This doesn't look like a general default. I'm guessing it was the value needed by FAMB. This is a chronic problem in common code, blue sun buttons being the most infamous.

Should I

[2018-12-11 18:46] chrisklus commented on #435
Literally all of the options in HeaterCoolerNode are duplicated in HeaterCoolerFront. I thought this was odd as well. Suggestions for how to proceed?

[2018-12-11 18:55] pixelzoom opened #436 "HeaterCoolerNode should not dispose heatCoolAmountProperty"
Related to changes made for #423.

In HeaterCoolerNode, the constructor is:

`constructor( heatCoolAmountProperty, options )`

And then `disposeHeaterCoolerNode` is calling:

`this.heatCoolAmountProperty.dispose();`

HeaterCoolerNode should _not_ be disposing of `heatCoolAmountProperty`, since it does not own that Property.

[2018-12-11 18:58] pixelzoom opened #437 "HeaterCoolerBack has unused options"
Related to #423 and https://github.com/phetsims/scenery-phet/issues/435.

These HeaterCoolerBack options are not used:

[code]

Looks like they were copy-pasted from HeaterCoolerFront and HeaterCoolerBack.

[2018-12-11 19:04] pixelzoom opened #438 "dispose problems in HeaterCoolerNode"
Related to #423.  Multiple problems with how `dispose` is implements.

(1) `HeaterCoolerNode` was rewritten in ES6, but is using old-style chaining to the supertype `dispose`, and chained in the wrong order.

[code]

should be:

[code]

(2) In `HeaterCooleFront` and `HeaterCoolerBack`:

[code]

This override adds no new functionality, so should be deleted.

(3) Overridden methods should have `@ove

[2018-12-11 19:11] pixelzoom commented on #435
@chrisklus asked:

Like this:

[code]

[2018-12-11 19:41] Denz1994 commented on #436
`this.heatCoolAmountProperty` is no longer being disposed of by the HeaterCoolerNode. `HeaterCoolerNode.dispose()` only disposes of `HeaterCoolerFront` and `HeaterCoolerBack`.

[2018-12-11 19:42] chrisklus commented on #437
Thanks @Denz1994! Closing.

[2018-12-11 19:42] #437 closed

[2018-12-11 19:46] Denz1994 commented on #436
#438 has further input from @pixelzoom that should address further complications with the dispose functions.

[2018-12-11 19:56] Denz1994 commented on #423
Front and back options have been added as options and are null by default. The subcomponents they are passed into (i.e. `new HeaterCoolerNodeFront( new NumberProperty(), frontOptions)`) provide proper defaults using `options = _.extend( { ... }, options );`

This also prevents options such as `scale:` to be applied twice.

[2018-12-11 19:56] chrisklus commented on #435
@Denz1994 is going to handle the above changes not related to color options for the slider thumbs over in https://github.com/phetsims/scenery-phet/issues/423.

I will update these colors once we have a color with better contrast to the gray bucket, see https://github.com/phetsims/energy-forms-and-changes/issues/132#issuecomment-445579348

[2018-12-11 20:04] pixelzoom commented on #423
@Denz1994 I don't any commits that adjust the `scale` for sims that use HeaterCoolerNode.  This is a breaking change for those sims, since their HeaterCoolerNode will now be significantly smaller.

[2018-12-11 20:42] Denz1994 commented on #423
Good point. For the instances that use a scaling option, the size is slightly larger after the changes (scenery-phet `checkout c6940819f36395f49c613f2da1e2ecba31165d2e`).

In gas-properties before (left) and after (right):

![image](https://user-images.githubusercontent.com/13894380/49828641-664ce700-fd5a-11e8-838e-3ccf005c3a11.png)![image](https://user-images.githubusercontent.com/13894380/498285

[2018-12-11 21:15] zepumph commented on #421
This has been implemented at a basic level for some time now. Today I cleaned up a bit more. I think we are ready to close this issue, but first I will outline a bit of summary from this work.

We looked into multiple structures, both with Nodes and the PDOM, to create the grab/drag interaction. While trying to balance generalization, simplicity, and robustness, the best solution that revealed its

[2018-12-11 21:59] Denz1994 commented on #436
Leaving to @pixelzoom to close along with #438.

[2018-12-12 18:30] #436 closed

[2018-12-12 18:31] Denz1994 commented on #423
Related issues have been closed and checklist items have been addressed. Leaving to @pixelzoom to close or add further input.

[2018-12-12 18:40] pixelzoom commented on #435
This is incorrect in HeaterCoolerNode.js:

[code]

It should be:

[code]

[2018-12-12 18:44] pixelzoom commented on #435
I think I see why you did the above.  HeaterCoolerFront and HeaterCoolerBack are assuming `{Color} baseColor`, so that they can do operations like `options.baseColor.brighterColor`.   That's a bad assumption.  `baseColor` should be documented as `{Color|string} baseColor` in both of those classes.  And if the class needs to operate on `baseColor` as a `Color`, it should be calling `Color.toColor(

[2018-12-12 18:47] pixelzoom commented on #423
Not ready to be closed.  Documentation of options in HeaterCoolerFront and HeaterCoolerBack is still incomplete. Some options are missing any documentation, some are missing type expressions.

[2018-12-12 18:49] pixelzoom commented on #423
@Denz1994 I see that you did the ES6 conversion.  The use of `let` is incorrect.  You've used it throughout where `const` should be used.  `let` should only be used for things that will change.

[2018-12-12 20:15] Denz1994 commented on #423
Referencing https://github.com/phetsims/scenery-phet/issues/435#issuecomment-446698118 in this issue.

[2018-12-13 17:22] jonathanolson commented on #431
MathSymbols seems like a nice place for it.

[2018-12-14 15:28] samreid opened #439 "Add PhET-iO instrumentation to the test harness"
@Denz1994 and I discussed this idea while working on https://github.com/phetsims/scenery-phet/issues/372.  Instrumenting the scenery-phet harness will allow us to test component instrumentation in isolation.  We haven't had anything like this before and it could be very useful.

# How to Instrument a PhET Simulation for PhET-iO

## Before instrumenting
- [x] Create a "PhET-iO Instrumentation" issu

[2018-12-14 15:33] samreid commented on #439
It appears @jonathanolson adapted code written by MLL, but I don't think he is available for instrumentation now, so @Denz1994 and I will proceed.

[2018-12-14 17:53] samreid commented on #401
@Denz1994 and I worked on this today.  We identified that no phet-io simulations currently use TimerNode and we haven't had a TimerNode PhET-iO design meeting.  We decided to investigate setting up the scenery-phet harness for PhET-iO, since it has a demo for the TimerNode.  We opened https://github.com/phetsims/scenery-phet/issues/439, but it is not committed yet.

[2018-12-14 18:22] samreid commented on #439
Slack conversation:

Sam Reid [11:06 AM]
@Denz1994 and I discussed adding phet-io instrumentation to common code repo tests like the scenery-phet demo, as a way to test instrumentation in an isolated context.  Sound OK?

Jesse Greenberg [11:09 AM]
What else will be added? For instance, once you instrument ProbeNode, won't it be instrumented everywhere including the scenery-phet demo?

Sam Reid [11

[2018-12-14 18:40] samreid commented on #439
I got things to a point where they are passing aqua.  Not committing package.json supportedBrand "phet-io" yet since this is not ready for WrapperUnitTests.

[2018-12-14 18:56] jessegreenberg opened #440 "Add a value readout to GaugeNode"
In FAMB and now ESP there was a request that GaugeNode display a readout of the value like
![image](https://user-images.githubusercontent.com/6396244/50021415-026b2e00-ffa7-11e8-92ab-bf49eb33d40a.png)

@samreid and @jbphet (original authors) do you mind if I add this value readout to GaugeNode? I also noticed that @chrisklus is doing some work in GaugeNode  in #434, just pinging him in case he has

[2018-12-14 19:01] samreid commented on #440
Sounds reasonable!  Do you think this will use `NumberDisplay`?

[2018-12-14 19:22] jessegreenberg commented on #440
Yes, that makes it easy, thanks! It turns out I may not be able to use this in energy-skate-park anyway though because that sim uses a custom node for the needle with webgl for performance and passes a dummy Property to the GaugeNode.

In gas-properties and states-of-matter the readout has a different style (granted in gas-properties it uses a combobox):
![image](https://user-images.githubusercont

[2018-12-14 19:32] jessegreenberg commented on #440
OK, thanks, I made the above issue for ESP.

[2018-12-14 21:49] jessegreenberg commented on #440
I still added this to GaugeNode. I felt that the displays in gas-properties and states-of-matter were different enough that those could remain custom.

The display in FAMB can only report the absolute value for speed so I also added a mapValue option to NumberDisplay to support this.

@samreid would you have time to review this? If not feel free to reassign to me.

[2018-12-14 21:52] jessegreenberg commented on #440
Hmm, should the default NumberDisplay option for mapValue in GaugeNode be
[code]
because gauges typically report absolute values?

[2018-12-15 03:41] samreid commented on #440
I would be more inclined to `assert && assert(value>=0)` -- it seems if some Property is given to a gauge and it goes negative it may indicate a logic error.

[2018-12-15 03:41] samreid commented on #440
I am backlogged a bit, but could try to get to this in a few weeks.  Is there a deadline?

[2018-12-17 15:31] jessegreenberg commented on #440
OK, sounds good.

I see the assertion I added to NumberDisplay is being thrown in projectile-motion in Bayes CT. Ill take a look.

[2018-12-17 16:15] jessegreenberg commented on #440
I added the recommended assertion to GaugeNode. Ensuring that GaugeNode's NumberDisplay is non-negative made my changes to NumberDisplay unnecessary so I reverted those changes.

There is no deadline, just a common code change that should be reviewed. Now that changes are isolated to GaugeNode and hidden behind an option this touches far fewer sims, so feels OK if this isn't hit right away.

[2018-12-17 18:23] mbarlow12 opened #441 "Consider use of `innerHTML` in ariaHerald"
From https://github.com/phetsims/gravity-force-lab/issues/131.

We're currently setting the `textContent` of the `aria-live` elements which strips HTML Entities (e.g. `&times;`) instead of rendering them.

It may be more pertinent to simply spell out such cases, but we could also consider adding a flag to the config object that indicates the inclusion of HTML in the alert.

[2018-12-17 18:25] pixelzoom opened #442 "HeaterCoolerNode: add ability to hide slider"
Gas Properties design document specifies that the slider (the entire slider) needs to be hidden when temperature is held constant.   This is not currently supported by HeaterCoolerNode and needs to be added.

[2018-12-17 18:37] pixelzoom commented on #442
These also no ability to disable the slider. So either way, this issue will result in a change.

[2018-12-17 19:03] jessegreenberg commented on #441
I committed this and it seems OK with NVDA. @mbarlow12 can you please review and test if this fixes things in VO?

[2018-12-17 20:10] mbarlow12 commented on #441
Thanks @jessegreenberg. My only hesitation would be whether we want to fully support all HTML features in our alerts. The most significant use case I can think of would be for MathML, which may be a valid consideration as we move onto a11y tooling in more math-heavy sims.

Can you think of a situation where it would be useful to include generic HTML in an `aria-live` element?

[2018-12-17 20:34] mbarlow12 commented on #441
Results are mixed. The entity is now correctly rendered, but VO appears to contextually read "multiplication" or "times" depending on some unknown parameters. `aria-live` elements are read as "multiplication" while PDOM list items appear as "times". Very odd.

[2018-12-17 21:02] pixelzoom opened #443 "HeaterCoolerNode: default slider thumb looks disabled"
At a meeting last week (I forget which one) there was consensus that the defaults for HeaterCoolerNode make the thumb look disabled.   So this needs to be revisited by the design team.  Assigning to @arouinfar since I encountered this in the context of Gas Properties.

The relevant options appear in HeaterCoolerFront, the front part of HeaterCoolerNode.  They are:

[code]

Here's a screenshot from

[2018-12-17 22:54] pixelzoom opened #444 "change redundant option names in HandleNode"
There are several options in HandleNode that have redundant names:

[code]

Scenery has options `fill` and `stroke`, and these are generally known to be colors.  So there's no need to put a "Color" suffix on an option that's named "fill" or "stroke".   And it just encourages programming mistakes to do so, since it is contrary to what's done elsewhere in code.

`gripFillBaseColor` should just be na

[2018-12-17 23:45] arouinfar commented on #443
@pixelzoom I think a pale yellow will work well for the thumb. I think it's a reasonably neutral color that doesn't interfere with the red/blue slider track, while still looking interactive.

Let's go with:
thumbFillEnabled: `#ffffd9`
thumbFillHighlighted: `#fffff2`

Here are a few screenshots showing it in context.
![screen shot 2018-12-17 at 4 40 40 pm](https://user-images.githubusercontent.com/

[2018-12-17 23:45] arouinfar commented on #443
Not sure if @pixelzoom or @chrisklus would address, so assigning to both.

[2018-12-17 23:58] jessegreenberg commented on #441
OK understood, thanks for testing. In that case we may have to go back to passing in "times" as a full string.  We do not have control over how VO interprets the context unfortunately.

[2018-12-18 04:58] mbarlow12 commented on #441
@jessegreenberg I'll do a little testing/digging this week to see if there might be a way for us to tweak what VO reads.

[2018-12-18 16:18] zepumph opened #445 "move MovementDescriber to scenery-phet"
I think we should do this now rather than later. I'd be curious to see if @mbarlow12 could utilize this in his magnet describer code in FL.

Once it is over in scenery-phet, we should factor out strings into that string js file.

[2018-12-18 16:33] pixelzoom commented on #443
When we do this, we should be sure to evaluate in sims that use HeaterCoolerNode, and notify responsible designers/developers of those sims that there has been a change.

[2018-12-18 16:44] pixelzoom commented on #443
energy-forms-and-changes
gas-properties
states-of-matter
states-of-matter-basics

[2018-12-18 16:53] zepumph commented on #381
On top of what was decided on in https://github.com/phetsims/scenery-phet/issues/381#issuecomment-417440555, we also need to make sure that sims aren't using custom processes, like in Faraday's law, and Molecules and Light, there are custom Nodes adding the heading.

[2018-12-18 17:02] jbphet commented on #444
I have no objections to the proposed changes.  This node was initially ported by some outside contractors, so it's not surprising that there are oddities in the implementation that were never fully smoothed out.  Thanks for taking this on.

[2018-12-18 17:22] chrisklus commented on #443
@arouinfar I investigated this change a bit.

As you have in your mockup, the horizontal center line needs to be something dark like black, but I think it's a little overpowering the way I have it on the left, below. So I tried increasing the line width of the thumb outline to 2, similar to your EFAC mockup in https://github.com/phetsims/scenery-phet/issues/443#issuecomment-448041916, but that see

[2018-12-18 17:31] chrisklus commented on #443
Ooo I forgot we don't need whole numbers for this kind of thing, so I tried 1.4 for the line width and I think it looks more like your mockup

![image](https://user-images.githubusercontent.com/5618316/50171442-b45c7000-02af-11e9-8e1c-660c0a47080f.png)

[2018-12-18 18:12] pixelzoom opened #446 "new sims are using old-style formatting patterns"
Noted during Wave Interference code review https://github.com/phetsims/wave-interference/issues/259.

Wave Interference, a new sim, is necessarily using old-style (numeric placeholders) formatting patterns:

[code]

New-style (named placeholders) would be:

[code]

I say "necessarily using" because we have common components (`NumberControl`, `NumberDisplay`,...) that use this format.

Creating mor

[2018-12-18 18:51] samreid commented on #444
@chrisklus is this something you can address?

[2018-12-18 20:20] chrisklus commented on #444
I think I created those options when porting this to common code and I hadn't yet familiarized myself with naming conventions for colors.

Fixed, ready for review.

[2018-12-18 23:34] arouinfar commented on #443
Thanks for confirming @pixelzoom!

@chrisklus https://github.com/phetsims/scenery-phet/issues/443#issuecomment-448303230 looks awesome!

[2018-12-18 23:59] zepumph opened #447 "Code review GrabDragInteraction"
@jessegreenberg this file has gotten pretty complicated through its development over the last few months. It would be good to have some review before we take things to RC.

Here are some things to focus on:
* Logic that splits/alternates between grabbable and draggable interaction modes
* API: could any of the options be improved on? For example there is `onGrabbable` and `onGrab` callbacks, which

[2018-12-19 00:32] zepumph commented on #447
Alright I renamed the file, and added tests. Ready for review.

[2018-12-19 00:51] chrisklus commented on #443
All set. @arouinfar anything left to do here?

[2018-12-19 21:46] pixelzoom commented on #444
@chrisklus I doesn't look like you changed existing usages of the option names that you changed.  I see no sim-specific commits above.  SOM is using `attachmentFillColor`. Gas Properties is using `gripFillBaseColor`.

[2018-12-19 21:47] pixelzoom commented on #444
Verified that Gas Properties is currently showing the wrong handle color because it's still using `gripFillBaseColor`.

[2018-12-19 21:49] pixelzoom commented on #443
Code change look good to me, so self unassigning.

[2018-12-19 21:50] pixelzoom commented on #442
Back to @arouinfar since this is a design issue.

[2018-12-19 23:03] arouinfar commented on #443
@jbphet pointed out that the pale yellow looked a bit too much like the EFAC background color, and I agree. Since HeaterCoolerNode is often central to sim interaction, I think the thumb could be a bit brighter.

I iterated on a few different color options including minty green ("kinda ugly") and bright yellow ("garish"), before trying a bright teal, similar to the default hover color.

@jbphet @ar

[2018-12-19 23:48] zepumph commented on #447
@emily-phet let us know that we can proceed with the Friction RC before this is worked on. Though it would be good to do while the code is still somewhat fresh. Leaving priority up to @jessegreenberg.

[2018-12-20 01:04] mbarlow12 opened #448 "Use nested options pattern for arrow buttons in NumberControl"
From https://github.com/phetsims/coulombs-law/issues/89, I found that NumberControl only allows setting the `scale` and `delta` of the ArrowButtons. After discussing with @zepumph and @samreid, the nested options pattern (outlined [here](https://github.com/phetsims/phet-info/blob/147b5c5e34a83fb5f499c74903ee068b5bef5154/doc/phet-software-design-patterns.md#nesting)) seems to be the best solution.

[2018-12-20 02:34] pixelzoom commented on #443
I like the teal.

[2018-12-20 16:03] jessegreenberg commented on #447
THanks @zepumph this is looking really nice. Documentation in this file is great. As part of review I am going to try to use in BASE.

[2018-12-20 16:53] jonathanolson commented on #446
I could be remembering incorrectly, but I thought we would use the new style (`'{{value}} cm'`) and then `StringUtils.fillIn( str, { value: '{0}' } )` when we had to provide things to a component that required numbered values. It seems like option (2) in practice, but is not very verbose.

An example is in masses-and-springs for use with NumberControl:
[code]
with the string:
[code]

I also see th

[2018-12-20 17:05] jonathanolson commented on #448
Sounds fine with me.

[2018-12-20 17:05] chrisklus commented on #444
Oh shoot, that was stupid. My bad.

I've fixed the usage in SOM.

[2018-12-20 17:07] pixelzoom commented on #446
Raising priority since this is blocking https://github.com/phetsims/wave-interference/issues/266.

[2018-12-20 17:10] pixelzoom commented on #446
My recollection is the same as what @jonathanolson said in https://github.com/phetsims/scenery-phet/issues/446#issuecomment-449064164.  But I thought we should revisit since (a) Wave Interference isn't using that pattern, and (b) it's not a great longterm solution.

[2018-12-20 17:18] chrisklus commented on #443
I think the teal clashes with the water a little bit, so I prefer the light yellow, but I don't feel strongly about this.

Happy to make the change to teal if everyone's signed off.

[2018-12-20 17:23] arouinfar commented on #443
@pixelzoom @chrisklus thanks for the feedback.

@chrisklus, please go ahead and make this change, as teal was the most preferred color.

[2018-12-20 17:44] chrisklus commented on #443
All set @arouinfar

[2018-12-20 17:49] arouinfar commented on #443
Looks great, thanks @chrisklus!

[2018-12-20 17:49] #443 closed

[2018-12-20 19:50] pixelzoom commented on #448
I fixed a couple of problems in the above commit:

* arrowButtonOptions was added to the end, but (conventionally) phetio and a11y options are always last
* arrowButtonOptions was not documented

[2018-12-20 20:04] pixelzoom commented on #448
@mbarlow12 there's a problem with this intermediate solution.

Consider this usage:

[code]

This is a problem, because now `options.delta` and `options.arrowButtonOptions.delta` will have different values (1 and 2 respectively).  And some of the constructor is using `options.delta`, other parts are using `options.arrowButtonOptions.delta`:

[code]

[2018-12-20 20:18] mbarlow12 commented on #448
Actually, this is an issue with the NumberControl implementation. While it's included as an option key for ArrowButton, none of ArrowButton's supertypes accept that key. "delta" only has a few occurrences in `sun` at all.

So, "delta" should not be included in the arrowButtonOptions object at all.

[2018-12-20 20:47] pixelzoom opened #449 "ComboBoxDisplay - new UI component"
Related to the combo box in Gas Properties and SOM that displays a dynamic value (temperature, pressure)...  Investigate creating something like `ComboDisplay` that extends `ComboBox`.

[2018-12-20 21:00] pixelzoom opened #450 "FineCoarseSpinner - new UI component"
Factor this component out of FAMB, for use in Gas Properties:

![screenshot_947](https://user-images.githubusercontent.com/3046552/50310449-3c34ac80-045f-11e9-93b6-cbeaeca743bc.png)

The relevant FAMB code is:

https://github.com/phetsims/forces-and-motion-basics/blob/e121da8973cf0d1f35df13d57c1c5575b0e569fe/js/motion/view/MotionScreenView.js#L182-L220

[2018-12-20 21:01] pixelzoom commented on #450
For Gas Properties, "fine" is 1, "coarse" is 50.

[2018-12-20 21:04] pixelzoom commented on #442
12/20/18 Gas Properties design meeting:  Add ability to hide the entire slider.

[2018-12-20 21:41] mbarlow12 commented on #448
@pixelzoom Fine by me, but I'm happy to handle it this afternoon as well.

[2018-12-20 23:30] zepumph opened #451 "Use nested options for slider in NumberControl"
similar to https://github.com/phetsims/scenery-phet/issues/448, but for slider. This comment was discovered while investigating other work:

[code]

So all the options for NumberControl that aren't Node options are being propagated to the slider.

This has a few code smells.
1. Why do all options need to go to the slider. What if I add a new option, it automatically gets passed to NumberControl.
1

[2018-12-20 23:30] zepumph commented on #451
@mbarlow12 has been in the file recently, please let me know if you want my help!

[2018-12-20 23:51] mbarlow12 opened #452 "NumberControl results in 2 calls to initializeAccessibleSlider"
From https://github.com/phetsims/coulombs-law/issues/100, we've noticed that NumberControls don't handle focus properly (this also happens in Rutherford Scattering).  This problem may lie in the fact that NumberControl calls `initializeAccessibleSlider` in its top level but also has a constituent `HSlider` that makes the same call. What results is the following PDOM structure:
[code]

I'm not sure

[2018-12-21 00:15] zepumph commented on #452
One line of thinking for this issue is if we should be able to "turn off" the call to HSlider's accessibleSlider initialization. Perhaps with an option?

[2018-12-21 01:41] pixelzoom commented on #448
Go for it.  Based on Slack, it sounds you have other reasons to be in NumberControl.  And I have other common-code fish to fry.

[2018-12-21 02:18] pixelzoom commented on #442
Houston, we have problems here.

It looks like EFAC also needed access to the slider, and the access was provided in a questionable way. In https://github.com/phetsims/scenery-phet/commit/86fa5798c83e8541c4b810875b47ef44937e1624, @chrisklus made HeaterCoolerFront's `heatCoolSlider` a `@protected` field, so that it could be accessed to set `pickable` (see EFAC/LinkableHeaterCoolerFront) and to list

[2018-12-21 02:32] pixelzoom commented on #442
I started down the path of making making the slider `@private` and adding methods like `setSliderVisible`, `setSliderPickable`, and `addSliderIsThumbDraggingListener`.  Boy was that awkward. Those methods would need to be added to both `HeaterCoolerFront` and `HeaterCoolerNode`.   And there are likely to be more slider properties that we'll need to access in the future.  So I bailed, and decided t

[2018-12-21 02:34] pixelzoom commented on #442
@chrisklus since you've been in HeaterCoolerNode a bunch, would you mind reviewing this? If you have any reservations about making the slider `@public`, perhaps get a second opinion from @jbphet.

[2018-12-21 05:44] pixelzoom commented on #449
[ComboDisplay](https://github.com/phetsims/gas-properties/blob/master/js/common/view/ComboDisplay.js) currently lives in the gas-properties repo, where it is used for the thermometer and pressure gauge.  The documentation describes it as:

Remaining tasks:

- [ ] Move to scenery-phet
- [ ] Recommend using it in SOM

[2018-12-21 06:05] pixelzoom commented on #446
I volunteered for this at today's status meeting 12/20/18.  The plan is to make NumberDisplay support both numbered and named placeholders, with the constrain that they be `{0}` and `{{value}}` respectively.

[2018-12-21 17:01] chrisklus commented on #442
Noted, thank you.

Not yet. https://github.com/phetsims/energy-forms-and-changes/issues/60 has been awaiting review.

That does sound very clunky. I agree that `@public` is the way to go. I've looked through the commits that you've made since I was last in here and your changes look good. Thanks for adding this to HeaterCoolerNode.

[2018-12-21 17:25] #442 closed, assigned to pixelzoom

[2018-12-21 17:56] arouinfar commented on #450
@pixelzoom the control is looking/feeling really nice! I like the name FineCoarseSpinner -- it's descriptive and concise. I don't have a better suggestion for you.

[2018-12-21 21:05] jessegreenberg commented on #452
Agreed. @mbarlow12 mentioned over slack that another option could be to remove the initializeAccessibleSlider call from NumberControl. Using AccessibleSlider in NumberControl may not be necessary now that we have more control over a11y events in scenery.

[2018-12-21 21:11] jessegreenberg commented on #452
I tried a quick and dirty removal of initializeAccessibleSlider, it seems to be working OK. I want to test a few things before moving forward with this.

But I also verified that removing the extra inputs fixed the original bug that was found in https://github.com/phetsims/coulombs-law/issues/100

[2018-12-21 21:31] jessegreenberg commented on #452
Actually, I don't think this is working because of changes in scenery input, which is good because that will make this far easier to patch in the coulombs-law release branch.

[2018-12-21 21:45] jessegreenberg commented on #452
I tested this in Chrome, FF, and Edge and the NumberControls are working in all three and I can no longer produce https://github.com/phetsims/coulombs-law/issues/100.

The arrow buttons and extra slider have been removed from the PDOM. Ill go ahead and commit.

[2018-12-21 22:22] pixelzoom commented on #450
Some feedback on  Slack developer channel:

Chris Malley [9:32 AM]
I’m soliciting names for this control, currently `FineCoarseSpinner` and living in Gas Properties: ...

Sam Reid [9:36 AM]
I can’t think of a better name at the moment.  But I did notice several other *Spinner.js components in our libraries.

AccessibleNumberSpinner
FineCoarseSpinner
LeftRightNumberSpinner
LeftRightSpinner
NumberSp

[2018-12-23 01:20] pixelzoom commented on #451
If anyone needs an example of how to apply the "nested options" patterns, see [FineCoarseSpinner](https://github.com/phetsims/gas-properties/blob/master/js/common/view/FineCoarseSpinner.js) or [ComboDisplay](https://github.com/phetsims/gas-properties/blob/master/js/common/view/ComboDisplay.js).

Both demonstrate how to document nested options and set their default value. E.g. in FineCoarseSpinner:

[2018-12-26 17:59] pixelzoom commented on #446
Something I ran into immediately when using named placeholders with NumberDisplay... `StringFormat.fillIn` fails an assertion if all placeholders are not filled in.

Here's a typical example:

[code]

The above will fail because `{{value}}` is left unfilled, intended to be filled in by NumberDisplay.

Does anyone object to changing the behavior of `StringFormat.fillIn`, so that it's OK to leave pl

[2018-12-26 18:03] pixelzoom commented on #446
I could do this:

[code]

... but that's exactly the type of workaround that we're trying to remove.

[2018-12-26 19:37] ariel-phet commented on #450
@pixelzoom no other great suggestions (`TwoStepSpinner` sounds a bit too much like a line dance probably)

[2018-12-27 03:06] pixelzoom commented on #431
Proposal:
* add `NO_VALUE: '\u2014', // em dash` to MathSymbols
* use `NO_VALUE` in sims where "no value" is shown in a display (as identified by @arouinfar)

[2018-12-27 14:37] samreid commented on #439
Notes from zoom chat with @Denz1994

[2018-12-27 15:39] pixelzoom commented on #446
`StringUtils.fillIn` currently finds all placeholders, requires a key:value pair for each placeholder, and ignores any extra key:value pairs.   Perhaps it should process all key:value pairs, and require that each key:value pair has a placeholder, and ignore unfilled placeholders.

[2018-12-28 00:02] jessegreenberg commented on #452
This is done and was merged into the release branch of CL. Closing.

[2018-12-28 17:07] pixelzoom commented on #446
https://github.com/phetsims/scenery-phet/issues/446#issuecomment-450001644 got a 👍 on Slack.

[2018-12-28 17:14] pixelzoom commented on #446
These repose are currently using the workaround to covert `{{value}}` to `{0}`, search for `value: '{0}'`.

- [ ] gas-properties
- [ ] inverse-square-law-common
- [ ] projectile-motion

[2018-12-28 17:33] samreid commented on #446
Unit test phetcommon/phetcommon-tests.html?ea is failing, can you please take a look before I review?

[2018-12-28 17:43] pixelzoom commented on #446
Will do. I didn't realize that phetcommon had unit tests.

[2018-12-28 17:47] pixelzoom commented on #446
Unit tests are fixed and passing.

[2018-12-28 18:12] pixelzoom commented on #449
@arouinfar @ariel-phet See https://github.com/phetsims/scenery-phet/issues/449#issuecomment-449261595 Do you have suggestions for a better name than `ComboDisplay`?

[2018-12-28 18:34] pixelzoom commented on #448
I took care of this in the above commits.   Relevant code in NumberControl:

[code]

In beers-law-lab, gravity-force-lab, masses-and-springs, pendulum-lab, and projectile-motion, I changed `arrowButtonScale: N` to `arrowButtonOptions: { scale: N }`.  And I tested all of those sims to verify that arrow buttons are the desired size.

@mbarlow12 please review.

[2018-12-28 18:41] pixelzoom commented on #448
Oops, standby.  Something is broken with the arrow buttons.

[2018-12-28 18:49] pixelzoom commented on #448
The problem I'm seeing is with the arrow buttons in Beer's Law Lab. That problem is unrelated to this issue, since the arrow buttons don't work in [1.7.0-dev.2](https://bayes.colorado.edu/dev/html/beers-law-lab/1.7.0-dev.2/phet/beers-law-lab_en_phet.html).   They were probably broken by https://github.com/phetsims/beers-law-lab/issues/126.

[2018-12-28 19:02] pixelzoom commented on #448
Beer's Law Lab fixed in https://github.com/phetsims/beers-law-lab/issues/233, unrelated to this issue.

@mbarlow12 OK to resume review.

[2018-12-28 19:06] pixelzoom commented on #451
Since we nested options for `ArrowButton` in #448, and we're proposing to nest options for `HSlider` here...  Why not also nest options for `NumberDisplay`?   That would cover all 3 subcomponent types, and handle them uniformly.

`options` would contain these nested options:

[code]

[2018-12-28 20:55] ariel-phet commented on #449
@pixelzoom It seems something like `ComboReadOut` could also work, but it seems like the ReadOut idea already has a precedent as a Display.

I would think potentially `ComboDisplayBox` might be clearer since it feels most related to `ComboBox` and seems to inherit much of its functionality and look from `ComboBox`

[2018-12-29 14:50] pixelzoom commented on #449
@ariel-phet How about `ComboBoxDisplay`?

[2018-12-29 18:52] arouinfar commented on #449
While I like the cleverness naming this so-called lovechild `ComboDisplay`, I think `ComboBoxDisplay` is a bit clearer, so I'd vote for that.

[2018-12-29 22:39] pixelzoom commented on #440
I didn't realize this work was being done.  @arouinfar and others have requested that the combobox-style display used in Gas Properties and SOM should become the standard, and I've been working on the combobox in #449.    I think we can meet all needs, but this issue is nowhere close to resolved.

[2018-12-29 22:44] pixelzoom commented on #440
Btw... If it were me, I would not have added this value display directly to GaugeNode.   There's no need for the additional complexity in GaugeNode (more options, more code,..), since the value display is entirely independent of the gauge.  The value display could have been added to a subclass that decorates GaugeNode with the value display.  And then sims that need a combobox-type display could h

[2018-12-29 22:48] pixelzoom commented on #440
Looking more at GaugeNode, I'm really don't like the way this was done, especially:

[code]

So every GaugeNode instance gets the overhead of a NumberDisplay, regardless of whether it's needed.  In Gas Properties, I need a different type of display, and I shouldn't be paying a penalty for a display that I don't need.   And this was know about Gas Properties and SOM before this feature was implemen

[2018-12-29 22:52] pixelzoom commented on #440
Nested options pattern is also applied incorrectly.

[code]

should be:

[code]

There is no need to create an object for the default value.  This means that every GaugeNode instance results in at least one more object allocation.

[2018-12-29 23:01] pixelzoom commented on #392
@jbphet Can we wrap this one up?

[2018-12-29 23:04] pixelzoom commented on #309
Marking as "blocks publication".   This issue has been in an "in progress" state for way too long, and I would be apprehensive about publishing any sim that uses LightRaysNode.

[2018-12-29 23:05] pixelzoom commented on #45
@ariel-phet This issue has been open since May 2014.   Is there really any reason to do this?

[2018-12-30 04:13] pixelzoom commented on #320
FYI... CCK, Equality Explorer and MOTHA are all using `new FontAwesomeNode( 'trash',...)`.  For example in CCK:

![screenshot_954](https://user-images.githubusercontent.com/3046552/50544320-9693e280-0bae-11e9-89fa-3c111fe40eeb.png)

[2018-12-30 04:18] pixelzoom commented on #320
@jonathanolson said:

Recommended to chose a different name.  While it may be used for thermal energy in your sim, the implementation in scenery-phet/ClearThermalButton contains nothing specific to thermal energy.  It's simply a button with a trash can + arrow on it, and the client handles the specifics of when to enable/disable.

[2018-12-31 01:47] samreid commented on #45
Some additional thoughts about the matter:

1. The sim may look odd if it started up with a grayed out reset all button.
2. How would this overlap with accessibility?
3. Would we need extra work for PhET-iO to support resetting to arbitrary states?

It seems like a lot of work to detect when the sim has changed from the default state, we should only pursue this if we think it will be a significant

[2018-12-31 18:19] jbphet commented on #392
Sure.  The issue with States of Matter is fixed, and the code changes for `MultiLineText` look good.  The only thing I would suggest is adding the `@depracated` annotation to `MultiLineText`.  I added it, and am assigning back to @pixelzoom in case there was some reason that the annotation wasn't used initially.

[2019-01-01 20:52] #392 closed

[2019-01-02 16:18] jessegreenberg commented on #440
OK, this makes sense. Reassigning to me.

[2019-01-02 18:54] Denz1994 commented on #423
Options have been updated with documentation and `DEFAULT_BASE_COLOR` has been refactored as suggested in https://github.com/phetsims/scenery-phet/issues/435#issuecomment-446698118. Leaving to @pixelzoom to close or add further input.

[2019-01-02 19:01] jessegreenberg commented on #440
The above commit removes NumberDisplay from GaugeNode, creates a new subtype of GaugeNode called ValueGaugeNode that includes a NumberDisplay. And the nested options pattern was fixed.

[2019-01-02 21:06] jessegreenberg commented on #447
This looks really nice, nice work @zepumph! I had no trouble at all using this in phetsims/balloons-and-static-electricity#436. Here are my review notes:

- Higher level:
  - Why did you opt for a pattern that modifies a node like a mixin rather than just a straight mixin?Presumably it is so that this could be extended since mixins can't. But if feels odd that a class would mutate a Node like this

[2019-01-03 00:33] jessegreenberg commented on #447
I think I understand now. The pink `FocusHighlightFromNode` surrounds the node's **local** bounds, but is added to the global coordinate frame in `FocusOverlay`. So likewise, the cue nodes (or children added to the focus highlights) need to be transformed by the node's local transformation matrix to be positioned correctly when transformed by the node's `localToGlobalMatrix` in `FocusOverlay.updat

[2019-01-03 02:47] jonathanolson commented on #320
Sorry about the random TODO, no clue what that is for, so I removed it (things seem to be working fine).

This button includes the "return" arrow node (its main feature), which the CCK/EqEx/MOTHA cases I don't believe would be used. It also has default colors meant for its specific purpose.

So presumably it would need to be generalized to support "trash can-like buttons", for which I don't see an

[2019-01-03 20:34] pixelzoom commented on #449
@jbphet This will be used in SOM (see https://github.com/phetsims/states-of-matter/issues/236), so let me know if you have any suggestions for name.   The front runner is currently `ComboBoxDisplay`.

[2019-01-03 20:42] pixelzoom commented on #320
I don't understand.  How is a button that looks like this:

![trash-can](https://user-images.githubusercontent.com/480878/28189721-63acbece-67e4-11e7-9c84-08535a1b00e3.png)

... in any way specific to thermal energy, or any specific quantity for that matter?  Why couldn't it be used to clear anything that is color-coded to the arrow color?

If it's supposed to be specific to thermal energy, then w

[2019-01-03 20:49] pixelzoom commented on #440
@jessegreenberg One bug fix in the above commit.  Otherwise looks great.  Feel free to close after having a look.

[2019-01-03 21:00] pixelzoom commented on #423
In the above commit, I fixed a couple of minor doc things that I didn't notice previously, specifically:

`heatCoolAmountProperty` is not optional, so:

[code]

nested options can be `null`, so:

[code]

@Denz1994 feel free to close this issue after taking a peek.

[2019-01-03 21:57] jessegreenberg commented on #440
Oops, thank you! OK, thanks for reviewing, closing this issue.

[2019-01-03 21:57] #440 closed

[2019-01-04 00:23] Denz1994 commented on #423
Thanks for the follow-up. Closing.

[2019-01-04 00:23] #423 closed

[2019-01-07 20:03] jbphet commented on #449
`ComboBoxDisplay` is fine by me.

[2019-01-07 23:38] ariel-phet commented on #45
This issue can definitely be closed. Hitting the reset button return the sim to its default state, if it is already in its default state, pressing it still counts as a button press it just has no obvious consequence. never a problem in interviews or any observed interactions. I think of this as perfectly equivalent to the "refresh" button on a webpage...you can hit that button many times, but it m

[2019-01-07 23:38] #45 closed

[2019-01-07 23:48] zepumph commented on #452
After further discussion, we think that https://github.com/phetsims/scenery/issues/920 will cover this case well enough. Though it is still up for discussion, the fix here would be to just use the `focusin` event, or whatever we decide to name the bubbling event for focus on the NumberControl. Closing again. Let me know if anyone disagrees.

[2019-01-08 01:39] pixelzoom commented on #432
Re "{Node} label would be more flexible"...  Let's punt on that change.  I hadn’t considered that the label was being instrumented, and we probably want it to appear as a subcomponent for GaugeNode in Studio.  And non-string labels for GaugeNode are highly unlikely.

[2019-01-08 16:18] jonathanolson commented on #320
Fair enough!

Maybe `MoveToTrashButton`?

[2019-01-08 16:48] jessegreenberg opened #454 "Problems with downDelta in KeyboardDragListener"
- [x] downDelta should default to zero, most usages of KeyboardDragListener will not want this and will use smooth animated dragging without an initial movement on key press.
- [x] dragVelocity default is determined by this option, they should be independent.
- [x] the downDelta option moveOnHoldDelay, and moveOnHoldInterval options are mean to be used together to create a different drag style tha

[2019-01-08 21:02] pixelzoom commented on #449
I've migrated ComboBoxDisplay to scenery-phet, and created a demo.  But it looks like ComboBox's `align` option is currently broken.  So I'm going to wait to ask for a review until that's fixed.

[2019-01-08 22:30] pixelzoom commented on #450
FineCoarseSpinner has been moved to scenery-phet, and a demo was added to SCENERY_PHET/ComponentsScreenView.

[2019-01-08 22:38] pixelzoom commented on #450
About the various spinner variants, @samreid said:

Tracking in https://github.com/phetsims/sun/issues/436

[2019-01-08 22:41] pixelzoom commented on #450
There are two remaining tasks here:

@ariel-phet My recommendation would be to create a new issue in FAMB, and handle instrumentation as part of adding this to FAMB.   And that activity would also serve as review of this issue.  Does that sound OK?  If so, who would you like that FAMB issue assigned to?

[2019-01-08 23:00] pixelzoom commented on #320
I'll rename it.

[2019-01-08 23:10] pixelzoom commented on #320
I renamed `MoveToTrashButton` and its usages in energy-skate-park, masses-and-springs, and pendulum-lab.   In general I _did not_ rename the associated variable name.  For example in `ENERGY_SKATE_PARK/PieChartLegend`:

[code]

The purpose of the button in this context is to clear thermal energy, so the variable name `clearThermalButton` is appropriate, as is the matching tandem name.

@jonathanol

[2019-01-08 23:21] pixelzoom opened #455 "color-coding of thermal energy"
In https://github.com/phetsims/scenery-phet/issues/320, @jonathanolson said that the `MoveToTrashButton` is (by default) color-code to thermal energy:

![trash-can](https://user-images.githubusercontent.com/480878/28189721-63acbece-67e4-11e7-9c84-08535a1b00e3.png)

The button is used in ESP, MAS, and Pendum Lab.  E.g. in MAS:

![screenshot_958](https://user-images.githubusercontent.com/3046552/508

[2019-01-08 23:30] pixelzoom commented on #455
From `EnergySkateParkColorScheme`:

 thermalEnergy: new Color( '#FF5500' ), // red colorblind

This does in fact match `PhetColorScheme.HEAT_THERMAL_ENERGY`.  But it should be using `PhetColorScheme.HEAT_THERMAL_ENERGY`.  And the `MoveToTrashButton` is currently color-coded incorrectly.

[2019-01-08 23:35] pixelzoom commented on #320
Ah...  Over in https://github.com/phetsims/scenery-phet/issues/455, I discovered that this button doesn't have any way to change the arrow color.  It's hard-coded to thermal energy (using the incorrect color btw).   So I'll add an option for the arrow fill.

[2019-01-08 23:43] pixelzoom commented on #455
In https://github.com/phetsims/scenery-phet/issues/320 and https://github.com/phetsims/scenery-phet/commit/5f1402cab5220a43d81c4cf07958943f05aa402c, I've set the default arrow color of `MoveToTrashButton` to `PhetColorScheme.HEAT_THERMAL_ENERGY`.

[2019-01-08 23:44] pixelzoom commented on #320
`options.arrowColor` has been added, defaults to the correct color for thermal energy (`PhetColorScheme.HEAT_THERMAL_ENERGY`), and added a demo to ButtonsScreenView.

Over to @jonathanolson.

[2019-01-08 23:46] arouinfar commented on #455
@pixelzoom Illustrator says that `rgb(255, 85, 0)` is equivalent to `#ff5500`.

In mockups, the arrow is `rgb(255, 85, 0)` (RED_COLORBLIND/HEAT_THERMAL_ENERGY). I don't know why a different red was used in some implementations of the `MoveToTrashButton`. This was never a design request, nor can I remember ever being asked what color to use (the ESPB design predates me).

My guess is that MAS looke

[2019-01-08 23:47] arouinfar commented on #455
Since it looks like @pixelzoom already made the commits to update the default color to `PhetColorScheme.HEAT_THERMAL_ENERGY`, I'll go ahead and close.

[2019-01-08 23:51] pixelzoom commented on #455
Not ready to close.  None of these 3 sims is using `PhetColorScheme.HEAT_THERMAL_ENERGY`.  ESP has duplicated that color.  And I haven't discovered what the other 2 sims are doing.

[2019-01-08 23:54] pixelzoom commented on #455
This problems extends to the other energy colors.

PhetColorScheme:

[code]

EnergySkateParkColorScheme:

[code]

@arouinfar is there any reason why EnergySkateParkColorScheme should not be using PhetColorScheme?

[2019-01-09 00:33] pixelzoom opened #456 "revise and use energy colors in PhetColorScheme"
In https://github.com/phetsims/scenery-phet/issues/455, I discovered sims are not using common-code colors for energy.   See:
ESP: https://github.com/phetsims/energy-skate-park/issues/51
MAS: https://github.com/phetsims/masses-and-springs/issues/343
Pendulum Lab: https://github.com/phetsims/pendulum-lab/issues/209

.. and there may be others.

I pointed out that they should be using PhetColorSchem

[2019-01-09 00:33] pixelzoom commented on #455
New issue is https://github.com/phetsims/scenery-phet/issues/456. Closing this issue.

[2019-01-09 00:33] #455 closed

[2019-01-09 00:35] pixelzoom commented on #320
It turns out the none of the sims using `MoveToTrashButton` were using `PhetColorScheme.HEAT_THERMAL_ENERGY` - see https://github.com/phetsims/scenery-phet/issues/456.   So I changed those sims to set `arrowColor` explicitly for their `MoveToTrashButton` instances, and I change the default to `arrowColor: 'black'`.

[2019-01-09 00:52] arouinfar commented on #456
Thanks for opening this issue @pixelzoom. I'll dig in more tomorrow.

The only other sim that comes to mind is Hooke's Law, which has elastic energy. I've opened the above issue in the hookes-law repo.

[2019-01-09 01:42] mbarlow12 commented on #452
While the above fix handles the nested slider inputs, we're left with a PDOM representation that comes from a child node that's not public. In this case, if we need to update attributes or anything else about the PDOM from NumberControl or its parent(s) we're either force to expose the Node that handles the PDOM prepresentation (the slider in this case) or expose methods on NumberControl that mani

[2019-01-09 01:44] mbarlow12 commented on #452
One option proposed by @zepumph was to make the call to `initializeAccessibleSlider` optional for all `Slider` types. Parent Nodes could then call `initializeAccessibleSlider` and handle any necessary linking or implement another a11y implementation.

[2019-01-09 14:01] Denz1994 commented on #309
In the constructor of `LightRayNode` `setBrightness(0)` is called which sets the `Path.shape` to an invisible `Circle`. `options.mutate()` is then called to ensure the Path has bounds before applying any options.

@jonathanolson has reviewed this and it has been tested in `scenery-phet/demo` by passing in options such as `centerX:100`.

Closing this issue.

[2019-01-09 14:01] #309 closed

[2019-01-09 17:31] pixelzoom commented on #456
I confirmed that the only color that is incorrectly ported is PhetColorScheme.ELASTIC_ENERGY.  Correcting that will be handled in https://github.com/phetsims/hookes-law/issues/70.

[2019-01-09 17:38] ariel-phet commented on #450
@pixelzoom that sounds good. Please assign that issue to @jessegreenberg

[2019-01-09 18:02] pixelzoom commented on #450
See https://github.com/phetsims/forces-and-motion-basics/issues/274.

Closing.

[2019-01-09 18:02] #450 closed

[2019-01-09 19:35] arouinfar commented on #456
Here are my suggested changes @pixelzoom.

| Energy | Current [PhetColorScheme](https://github.com/phetsims/scenery-phet/blob/master/js/PhetColorScheme.js) | Proposed Color |
| --- | --- | --- |
| `ELASTIC_POTENTIAL_ENERGY` | `rgb( 0, 204, 255 )` |  no change |
| `GRAVITATIONAL_POTENTIAL_ENERGY` | `rgb( 0, 0, 255 )`, BLUE | `rgb( 55, 130, 215 )` |
| `HEAT_THERMAL_ENERGY` |`rgb( 255, 85, 0 )`, RED_

[2019-01-10 18:11] pixelzoom commented on #456
@arouinfar said:

Thanks @arouinfar.  You said "suggested changes". Shall I go ahead and make these changes, or do you need to run this by other designers?

[2019-01-10 18:19] arouinfar commented on #456
Mostly so it didn't sound like I was barking orders, but thanks for checking @pixelzoom. Please go ahead and make the changes. Given that the HTML5 sims used similar shades of green and blue, I don't think this is a drastic change that would require  broader discussion. I'm also the lead/responsible designer for all of the sims that would be affected by such a change.

[2019-01-10 18:23] pixelzoom commented on #456
👍 Woof woof :)

[2019-01-10 18:32] arouinfar commented on #456
@pixelzoom I'm not sure that we would want `APPLIED_FORCE` and `TOTAL_ENERGY` to be color-coordinated, so I would recommend that we leave `APPLIED_FORCE` alone for now.

[2019-01-10 18:58] pixelzoom commented on #456
Here are the changes to PhetColorScheme.  APPLIED_FORCE is unchanged, but no longer uses shared color TAN_ORANGE.

[code]

Closing.

[2019-01-10 18:58] #456 closed

[2019-01-10 19:06] pixelzoom commented on #452
@mbarlow12 you added this in https://github.com/phetsims/scenery-phet/commit/6014b5e3d7aa884e2f267ef7e00faab682f6ef3b:

[code]

Should this be `@public (read-only)`, or is the the client allowed to set `setAriaValueText`?

[2019-01-10 19:07] pixelzoom commented on #452
... and should this we called `setSliderAriaValueText`, since it's setting "aria-valuetext for the slider".

[2019-01-11 16:10] jessegreenberg commented on #454
The final checkbox deserves its own issue. Closing this one, and Ill make a separate issue for that one.

[2019-01-11 16:10] #454 closed

[2019-01-14 19:57] jessegreenberg commented on #452
We went over this during 1/14/19 a11y dev meeting:

We proceeded with @zepumph recommendation in https://github.com/phetsims/scenery-phet/issues/452#issuecomment-452540981, accessibility is optionally initialized in Slider (default to true). For NumberControl, this allows us to use all of the methods of AccessibleSlider.js directly on NumberControl, without having to redefine all the methods we ne

[2019-01-14 19:59] jessegreenberg commented on #452
Closing this issue.

[2019-01-14 20:00] mbarlow12 commented on #452
@jessegreenberg this mean that clients can set the `.ariaValueText` or call`setAriaValueText()` directly, correct?

[2019-01-14 20:17] zepumph commented on #452
That's right. `NumberControl` now has `AccessibleSlider` mixed into it.

[2019-01-15 01:39] zepumph commented on #452
It is indeed! In the PDOM the number control itself is represented as a slider. In the beginning of this issue we thought it may make more sense for NumberControl to try to use HSlider's PDOM representation as its own, but it didn't work for multiple reasons, some of which were illuminated by you in https://github.com/phetsims/scenery-phet/issues/452#issuecomment-453215053.

[2019-01-15 01:40] zepumph commented on #452
I'll also add that the design team decided many months ago (perhaps years?) that the best way to have a number control in the PDOM was with a slider.

[2019-01-15 01:42] pixelzoom commented on #452
So NumberControl is a slider that contains a slider?....

[2019-01-15 02:18] pixelzoom commented on #449
ComboBox's `align` option is fixed, so this is ready for review.

@ariel-phet please assign someone to review.  Since this will be used in SOM, someone familiar with that sim might be a good choice.

[2019-01-15 02:57] zepumph commented on #452
A NumberControl Node is a UI component that contains Arrow Buttons and a Slider, as well as a readout.

In the PDOM it looks like a label and an input. There are also added listeners to the slider that visually "press" the arrow buttons when interacting with the NumberControl slider with the shift key pressed. Like `HSlider`, NumberControl uses the mixin/trait `AccessibleSlider` and as a result ha

[2019-01-15 03:35] pixelzoom commented on #452
NumberControl is a convenience class whose responsibilities are primarily layout of 4 UI components (HSlider, 2 ArrowButtons, NumberDisplay) and wiring those UI components to a NumberProperty.  I'm having a difficult time understanding why it requires any additional instrumentation, except possibly for description of that collection of UI components.   And I would think that the choice of layout f

[2019-01-15 03:45] pixelzoom commented on #452
Imo, a11y instrumentation of NumberControl is unnecessary.  NumberControl is an implementation detail that determines layout, it's not a UI component.  The only a11y code that should live in NumberControls is determining the order of tab traversal for it's 4 UI components based on layout.

[2019-01-15 03:48] pixelzoom opened #457 "CT: Uncaught TypeError: this._disposeAccessibleSlider is not a function"
Several sims are reporting this error in CT. Related to https://github.com/phetsims/scenery-phet/issues/452?

[code]

[2019-01-15 03:49] pixelzoom commented on #457
In Slack, @samreid reported:

Sam Reid [8:40 PM]
You can trigger the problem in CCK by dragging out a battery, then clicking on it.

[2019-01-15 04:02] pixelzoom commented on #452
To clarify...

If I have this in my UI:

<img width="282" alt="screenshot_964" src="https://user-images.githubusercontent.com/3046552/51157713-6ac75c80-183e-11e9-9e56-ef6aa4a6ebc8.png">

... it could have been implemented as individual UI components that I put together, as a NumberControl, or as some other composite layout manager. But the user doesn't care how it was implemented, because it looks

[2019-01-15 14:50] jessegreenberg commented on #457
Definitely from changes in #452, but fixed with the above commit. Tested in CCK and local aqua.

[2019-01-15 14:50] #457 closed

[2019-01-15 15:11] jessegreenberg commented on #452
Having both the tweaker buttons and the slider in the navigation order is redundant because you can increment/decrement the Property by the tweaker button deltas by holding the shift modifier key on the keyboard.  So it was decided that the tweaker buttons be removed from keyboard navigation and the entire NumberControl behave like a slider.

When focus is on the NumberControl it looks like this
!

[2019-01-15 15:49] pixelzoom commented on #452
Why does that require the NumberControl behaving like a slider? Why not have NumberControl remove the ArrowButtons from the navigation order, and then have the slider behave like a slider?

[2019-01-15 15:51] pixelzoom commented on #452
And why is it necessary for the entire NumberControl to have focus, vs just the slider?  As explained in https://github.com/phetsims/scenery-phet/issues/452#issuecomment-454259871, that will result in similar collections of controls _not_ having this type of focus.  NumberControl is an implementation detail for handling layout, it's not a UI control.

[2019-01-15 17:02] pixelzoom commented on #452
@zepumph said:

Good to know. Also surprising that the design team doesn't seem to be interested in including the original designer/implementer (that would be me) in the loop.  This is the first I've heard about it.  That's an approach that you might want to reconsider.

[2019-01-16 20:52] pixelzoom commented on #431
I asked for feedback on 12/6/18.  I see 3 votes for putting this in MathSymbols, and no votes against.  And I guess I'll assume that other devs have no opinion.   So I'm going to proceed as proposed.

[2019-01-16 21:17] pixelzoom commented on #422
This has been labeled for dev meeting since 11/12/18, and the proposal has a thumbs-up from @jonathanolson and @samreid.  That seems like enough time for other devs to chime in, so I'm going to move forward with renaming `ColorProfile` to `ColorProfiles`.

[2019-01-16 22:13] pixelzoom commented on #431
`MathSymbols.NO_VALUE` has been added.  I identified sims that needed to use it based on the screenshots in https://github.com/phetsims/scenery-phet/issues/431#issue-380914464, and searching for `'-'` in the code bases.  The sims that changed are:

bending-light
beers-law-lab
fluid-pressure-and-flow
ph-scale
projectile-motion

@arouinfar please have  look at these in master and verify that you're

[2019-01-16 22:23] arouinfar commented on #431
Looks great @pixelzoom, thanks!

[2019-01-17 05:17] pixelzoom commented on #422
As I got into the rename, I started to have second thoughts.  While `ColorProfile` constructor takes multiple profile names and descriptions, only _one_ profile is active at a time.  So uses sites look best with `ColorProfile` singular, e.g.:

`stroke: FractionsCommonColorProfile.numberStrokeProperty,`

So I'm going to leave this alone.  Closing.

[2019-01-17 05:17] #422 closed

[2019-01-22 16:04] samreid commented on #458
If I recall correctly, in https://github.com/phetsims/joist/issues/542 we decided not to go back through old simulations and unify their layout bounds.  However, all new simulations will use the default layout bounds.

Therefore, it seems we can take the following next step for this issue:

(A) Choose the default visual radius and pointer area radius for ResetAllButton as prescribed in https://git

[2019-01-22 18:56] zepumph commented on #381
@jessegreenberg and I discussed this today, and thought that we should work on this prior to adding descriptions to Molarity. This would be nice to have a decided approach in place before molarity, just because it will be one less usage to convert later.

[2019-01-22 21:41] ariel-phet commented on #458
@samreid I would say do step (A) and then just make a checklist of sims not using the default layout bounds, and assign an issue to me with that checklist to look at the sims in master. If there is an issue in any of these checklist sims, I will make separate adjustment issues for those in the appropriate repos.

[2019-01-22 23:24] jessegreenberg opened #459 "Touch area overlap of FineCoarseSpinner buttons"
From #450 and https://github.com/phetsims/forces-and-motion-basics/issues/274. With default options, there is a slight overlap in the touch areas of adjacent ArrowButtons of the FineCoarseSpinner.
![image](https://user-images.githubusercontent.com/6396244/51572127-70dac000-1e72-11e9-9441-894fc810e273.png)

Overlap becomes greater if spacing is reduced. In forces-and-motion-basics, there was a spec

[2019-01-22 23:29] jessegreenberg opened #460 "Instrument FineCoarseSpinner with PhET-iO"
Instrumentation was requested in https://github.com/phetsims/forces-and-motion-basics/issues/274, but I have less familiarity with PhET-iO so I would like this to have its own issue for changes and review. Over slack I asked for assistance and got a nice list of steps for this process from @zepumph and @samreid, so I will start there.

[2019-01-22 23:33] jessegreenberg opened #461 "Add enable/disable to FineCoarseSpinner"
In https://github.com/phetsims/forces-and-motion-basics/issues/274 I replaced the custom ArrowButtons and value readout with new UI component FineCoarseSpinner. But in forces-and-motion-basics, the component needs to be full disabled in some circumstances. When disabled, all ArrowButtons should look disabled, and the NumberDisplay text should have a different fill (probably a greyish color by defa

[2019-01-22 23:39] jessegreenberg commented on #460
Here is the list provided:
Note that ArrowButton is already instrumented because it is a `RectangularPushButton`. The same for NumberDisplay

1. Use the "studio" link in phetmarks to test as you go.
2. Make `FineCoarseSpinner` take an optional tandem and pass a tandem into it in FAMB.
3. Pass that tandem into all ArrowButtons and NumberDisplay.
4. See how far that takes you in terms of customizati

[2019-01-23 00:12] pixelzoom commented on #461
Ready for review.

[2019-01-23 00:12] pixelzoom commented on #461
See also the "enabled" checkbox that I added to the demo of FineCoarseSpinner in scenery-phet.

[2019-01-23 00:14] pixelzoom commented on #459
This is due to the non-general default dilation in ArrowButton:

[code]

[2019-01-23 00:43] pixelzoom commented on #459
Done. The defaults pointer areas for the ArrowButtons are:

[code]

Here's how it looks in the Components screen of scenery-phet demo with `?showPointerAreas`:

<img width="347" alt="screenshot_1004" src="https://user-images.githubusercontent.com/3046552/51574951-42a6b180-1e6d-11e9-910f-307006ffd32c.png">

@jessegreenberg ready for review.

[2019-01-23 16:33] jessegreenberg commented on #460
I think this is done with the above commits. To summarize, I
- Passed tandems to ArrowButtons and NumberDisplay of FineCoarseSpinner.
- Passed tandem to the enabledProperty, if it wasn't provided in options to FineCoarseSpinner (like Slider.js)
- Dispose ArrowButtons NumberDisplay and enabledProperty to unregister tandems.
- Pass tandem to FineCoarseSpinner in FAMB and scenery-phet demo

I tested

[2019-01-23 16:35] samreid commented on #458
Using https://phet-dev.colorado.edu/html/states-of-matter-basics/1.0.7/states-of-matter-basics_en.html?showPointerAreas as a reference point, I tuned the values for the reset all button radius and touch area dilation in the Scenery PhET demo until they matched.  The closest matching values I could find are:

[code]

I'll commit these to master and open a new issue to make further updates based on

[2019-01-23 16:41] pixelzoom commented on #460
I'll have a look.

[2019-01-23 16:48] pixelzoom commented on #460
Looks great, but one problem.   If a client does this, either by misplacing the tandem for FineCoarseSpinner or attempting to set the tandem for ArrowButtons ....

[code]

.... then `options.arrowButtons.tandem` will be assigned to each of the ArrowButton instances.

Recommended to:

(1) `assert && assert( option.arrowButtonOptions.tandem === undefined, ... )`

(2) When assembling options for each

[2019-01-23 16:54] pixelzoom commented on #460
How did you test this? scenery-phet demo is currently not marked as supporting phet-io in package.json.  And when I attempt to run the demo with `.../phet-io-wrappers/studio/?sim=scenery-phet&phetioValidateTandems&phetioDebug` it fails with "Uninstrumented code detected" in some non-FineCoarseSpinner code.

[2019-01-23 16:58] pixelzoom commented on #460
I was able to test in FAMB because it's instrumented.  So I'm guessing that this was tested in FAMB, but not in scenery-phet demo (which is probably OK).

[2019-01-23 17:53] jessegreenberg commented on #460
Sounds good, and similarly for NumberDisplay, right?

Sorry, not tested in scenery-phet demo. I searched for usages of FineCoarseSpinner to see where tandems were needed (since tandem is required) and noticed some instrumentation in the scenery-phet demo.

[2019-01-23 18:02] pixelzoom commented on #460
Yes.

[code]

[2019-01-23 18:04] pixelzoom commented on #460
Or if you prefer:

[code]

[2019-01-23 18:09] jessegreenberg commented on #460
OK, thanks @pixelzoom, back to you.

[2019-01-23 19:02] jessegreenberg commented on #461
Thanks @pixelzoom, this looks great and is working well in FAMB. Closing,

[2019-01-23 19:05] jessegreenberg commented on #459
Overlap is gone, thanks.

[2019-01-23 19:05] #459 closed

[2019-01-24 00:16] jessegreenberg opened #462 "Improve HelpContent pattern for creating labels with icons"
From, a list of work included:
- [x] look at uses of maxWidth. I handled this mostly, but we should make sure that there aren't other spots to make this nicer. Also note I added the assertion back in in HelpContent to help catch usages.
- [x] look at usages of HelpContent.DEFAULT_{{SOMETHING}}
- [x] doc HelpContentRow
- [x] MAL goes a bit outside, may want to be tweaked

The remaining item is

The

[2019-01-24 04:21] jessegreenberg commented on #462
Done for HelpContent.labelWithIcon. HelpContent.labelWithIconList is next.

[2019-01-24 04:47] jessegreenberg commented on #462
After the above commits, the only usage of HelpContent.DEFAULT_* is HelpContent.DEFAULT_ICON_SPACING in SliderControlsHelpContent.

[2019-01-24 04:50] jessegreenberg commented on #462
I think that usage is totally OK, the problem was the explosion of usages of HelpContent.DEFAULT_LABEL_FONT since we had to create the Text for the label every time we needed a row of HelpContent.

So now the label fonts can be private and removed from HelpContent statics. And they can be renamed from DEFAULT_LABEL_FONT to just LABEL_FONT since they cannot be overridden with options.

[2019-01-24 05:09] jessegreenberg commented on #462
OK @zepumph I went ahead with this. Would you mind reviewing? Mostly just the changes to HelpContent.labelWithIcon and HelpContent.labelWithIconList. Do you think there is anything left to do for this issue?

[2019-01-24 15:25] ariel-phet commented on #458
There is a task to check over these changes, but the size and dilation look correct. Closing.

[2019-01-24 15:25] #458 closed

[2019-01-25 23:52] jessegreenberg commented on #431
In https://github.com/phetsims/energy-skate-park/issues/56 I am using NumberDisplay to represent values that can sometimes be "null". In that case, the displays should look like
![image](https://user-images.githubusercontent.com/6396244/51778850-f3ad8600-20d1-11e9-9ae2-d3a9773d9d30.png)

When there are values, they are right aligned. So the "no value" case needs different alignment and shouldn't u

[2019-01-25 23:56] jessegreenberg commented on #431
Possibly with new options `noValuePattern` and `noValueAlign` or something?

[2019-01-26 00:06] jessegreenberg commented on #431
Most examples of "no value" in https://github.com/phetsims/scenery-phet/issues/431#issue-380914464 have the dash centered with no units, so I am actually wondering if this should be the default behavior.

[2019-01-26 03:13] pixelzoom commented on #431
Why should "no value" be aligned differently than values? Why not align it the same as values?

I'm not clear on what you're asking.  NumberDisplay does not currently support dynamic alignment, or a different alignment for "no value".

[2019-01-28 16:51] jessegreenberg commented on #431
I think generally it looks strange to have units to next to `MathSymbols.NO_VALUE`, and the usage in gas-properties is a special case. And if units are removed in that case, alignments of `MathSymbols.NO_VALUE` other than center will also usually look strange, even if the values have right or left alignment.
![image](https://user-images.githubusercontent.com/6396244/51851799-a0664e00-22f2-11e9-8e6

[2019-01-28 16:54] pixelzoom commented on #431
https://github.com/phetsims/scenery-phet/issues/431#issuecomment-458209963 doesn't look strange to me at all.   I think it's fine (and perhaps even preferable) place the "no value" symbol in the same place the a value would have appeared.

[2019-01-28 17:48] pixelzoom commented on #431
One more note...  Regardless of what is decided for NumberDisplay, this is something that will not be trivial to standardize.  There are plenty of displays that utilize "no value", do not use NumberDisplay, and do their own custom placement of value and "no value".   From https://github.com/phetsims/scenery-phet/issues/431#issue-380914464, the Intensity, pH, and Concentration meters are all exampl

[2019-01-28 17:52] pixelzoom commented on #431
I'm going to add option `noValueAlign` to NumberDisplay.  If not provided, it will default to `align`.

[2019-01-28 17:54] jessegreenberg commented on #431
I find the example in https://github.com/phetsims/scenery-phet/issues/431#issuecomment-458215239 compelling. @pixelzoom do you have any thoughts about optionally filling in `options.valuePattern` for no value?

[2019-01-28 18:08] pixelzoom commented on #431
I'll also add:

[code]

[2019-01-28 18:20] pixelzoom commented on #431
Options added in above commits.  By default, the same alignment and pattern are used numeric values and "no value".    If you want different behavior for "no value", see `noValueAlign" and `noValuePattern`.  To experiment with these options, see `demoNumberDisplay` in ComponentsScreenView of scenery-phet demo.

@jessegreenberg would you please review?

[2019-01-29 16:00] jessegreenberg commented on #431
This is great, thanks for adding this @pixelzoom.

[2019-01-29 16:00] #431 closed

[2019-02-05 17:24] pixelzoom commented on #446
`StringUtils.fillIn` no longer requires that all parameters be filled in.  And the hack of converting `{{value}}` to `{0}` is not longer needed for NumberControl and NumerDisplay.

So this:

`valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { value: '{0}', units: unitString } ),`

should be changed to this:

`valuePattern: StringUtils.fillIn( pattern0Value1UnitsString, { units: unitStr

[2019-02-05 17:40] pixelzoom commented on #446
In addition to wave-interference `ISLCObjectControlPanel`, there are other sims that are doing some wonky replacements of '{0}'.

cck-common: There are 6 translated strings that should be using `{{value}}` instead of something like `{{voltage}}`.   And if you don't want to change the strings, then the replacement should be with `{{value}}`, not `{{0}``, like in  CircuitElementEditContainerNode.

m

[2019-02-05 17:42] pixelzoom commented on #446
I'll create sim-specific issues for all of the above.

[2019-02-05 18:10] pixelzoom commented on #446
To prevent a proliferation of `'{{value}'` and `'{0}'` string literals, I've added `NAMED_PLACEHOLDER` and `NUMBERED_PLACEHOLDER` static constants to NumberDisplay.

[2019-02-05 19:37] pixelzoom commented on #446
Sim-specific issues have been created for sims that are doing unnecessary replacement or should be using constants instead of string literals.

Back to @samreid to continue review.

[2019-02-05 21:16] Denz1994 commented on #283
Addressing "little things" point (4) in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811:

`KeyID.X`, `KeyID.X_SQUARED` are used in AreaModelCommon.TermAccumulator.  Refactors were made by @jbphet 08/04/17 and that sim has gone through one round of dev testing (03/06/18) and one round of rc testing(04/24/18). Its current state seems stable does this suffice @pixelzoom?

[2019-02-05 21:17] Denz1994 commented on #283
Addressing "little things" point (4) in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811:

`AbstractKeyAccumalator.defaultValidator()` requires an override.
[code]
If the client always has to override the default validator this makes the option `alternativeValidator` redundant. The doc for alternativeValidator states `used instead of the default validation`. If we are alw

[2019-02-05 21:18] Denz1994 commented on #283
Addressing "big things" (3) in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811:

I refactored `AbstractKeyAccumulator.validateAndUpdate()` into `....validate()` and `....update()`. This was only being used in `AreaModelCommon.TermAccumulator` and in the ComponentScreenView of scenery-phet demo. I made the refactors at the callsite.

I attempted adding an assert when fail

[2019-02-07 16:43] mbarlow12 commented on #448
Combined with commits for https://github.com/phetsims/scenery-phet/issues/451 this looks complete. Closing.

[2019-02-07 16:43] #448 closed

[2019-02-07 16:45] mbarlow12 commented on #451
@zepumph would you like to review? Whatever we decide on for https://github.com/phetsims/phet-info/issues/91 will have an impact here.

[2019-02-07 17:58] pixelzoom commented on #451
In NumberControl.js:

[code]

Any of these default values that are the same as NumberDisplay's default values are redundant, and can be removed.

[2019-02-07 18:01] pixelzoom commented on #451
The redundant defaults are:

[code]

And these options don't exist in NumberDisplay.  Was this an existing problem, or a problem that was introduced?

[code]

[2019-02-07 18:04] pixelzoom commented on #451
Btw... I looked at this because I'm doing related work in https://github.com/phetsims/scenery-phet/issues/446 and https://github.com/phetsims/sun/issues/472.  And getting rid of `NumberDisplay.DEFAULT_VALUE_PATTERN` is desirable in that work.

[2019-02-07 18:10] pixelzoom commented on #451
I went ahead and removed `NumberDisplay.DEFAULT_VALUE_PATTERN`.

[2019-02-07 18:19] mbarlow12 commented on #451
@pixelzoom thanks for highlighting the `value*` keys, that's a mistake. And removing the redundant keys cleaned things up a bit, too Thanks!

[2019-02-08 00:07] pixelzoom commented on #283
In https://github.com/phetsims/scenery-phet/issues/283#issuecomment-460806764, @Denz1994 asked:

Good to hear that `KeyID.X` and `KeyID.X_SQUARED` are being used.  But this what about the other unused features in (4)?

In https://github.com/phetsims/scenery-phet/issues/283#issuecomment-460806764, @Denz1994 asked:

Yes, I think it makes sense to delete `alternativeValidator`. AbstractKeyAccumulator