[2022-02-16 23:13] pixelzoom commented on #715
Commits look good.

I like the "Pop open menu" default heading.

But I don't think we should call this class `MenuKeyboardHelpSection`, as "menu" is too general - for example, this would certainly not be used for the PhET menu.  And a listbox (the part of the combo box that opens) is not technically considered a menu in most UI toolkits (including sun).  So as a programmer, I don't think of this a

[2022-02-17 14:27] terracoda commented on #715
Glad you like "Pop Open Menu". Also considered "Pop Open List", "Pop Open Menu Options". Using "Menu" in the heading and "list" or "options" in the first step of instructions may provide clues to learners unfamiliar with the combobox/listbox UI component.

I agree with @pixelzoom that it is likely a good idea to name it as ComboBoxKeyboardHelpSection. While actual menus, like the PhET Menu, are ve

[2022-02-17 15:49] jessegreenberg commented on #715
OK, thanks @pixelzoom and @terracoda all sounds good. I renamed it back to ComboBoxKeyboardHelpSection. Is there anything else for this issue?

[2022-02-17 16:45] pixelzoom commented on #715
I think that wraps it up, thanks! Closing.

[2022-02-17 16:45] #715 closed

[2022-02-17 21:18] zepumph commented on #633
Looks like this was added in https://github.com/phetsims/scenery-phet/commit/40a051092a0d142994135b190e2613b907d43131.

Thanks for the report, sorry it took so long to get to.

[2022-02-17 21:18] #633 closed

[2022-02-22 22:13] zepumph opened #724 "Reset sound muted in sim where PhET-iO state was set"
Reported in https://github.com/phetsims/phet-io/issues/1626#issuecomment-1034217060 by @Nancy-Salpepi:

I have some leads, most likely we just need the reset sound to bypass the muting that goes on during state set.

[2022-02-22 22:26] zepumph commented on #724
This is caused because when the state has been set on a sim, `setState` is called again on reset all (for that screen only). The simplest solution I could think of was that the resetAllButton shouldn't have this enabled control Property. This makes sense since it is a one-shot sound that will NEVER have state to control its firing. Thus, it seems reasonable to opt out of a state-related enabledCon

[2022-02-22 22:56] zepumph commented on #724
@jbphet and I spoke about this, and it wasn't a 100% yes commit this. We both want to think if there is a better way to control most/all sounds save the reset one.

[2022-02-23 19:52] jbphet commented on #724
Okay, I've given this some thought, and it seems like a reasonable approach to me.  I would suggest a different name for the `phetioStateSettingControlled` option thought, since the sound generator isn't really being controlled in any way by the setting of phet-io state.  How about `disabledDuringPhetioStateSetting`?

[2022-02-23 19:53] zepumph commented on #724
I love it, thanks for thinking on it!

[2022-02-24 23:02] zepumph commented on #724
Alright, I committed, I went with enabledDuringPhetioStateSetting default to false, because I didn't like the double negative at the usage site:

`disabledDuringPhetioStateSetting: false`

I wanted to touch base about one more item I noticed while testing this. It seems like there is a bit of clipping occurring in the middle of the resetAllButton sound. I presume that it is because enabledControlP

[2022-02-24 23:18] zepumph commented on #724
I'm a bit out of my depths on this one. I feature that I may need to solicit @jbphet for some assistance. If nothing else, he can let me know how serious the problem is. @jbphet will you please reach out when you are back and we can schedule even a short 15 minute meeting to discuss. Thanks!

[2022-03-01 17:54] zepumph commented on #720
I added an enabledProperty to GrabDragInteraction. It mimics the opt-in approach used in PressListener/DragListener. This doesn't directly address the concern you had in https://github.com/phetsims/scenery-phet/issues/720#issuecomment-1023572451. This is because of how inputEnabled is set up to work. That doesn't block focus events at this time. I created https://github.com/phetsims/scenery/issues

[2022-03-01 17:55] zepumph commented on #720
For right now, please go to `friction.frictionScreen.view.atomicView.grabDragInteraction.enabledProperty` to try out the enabledProperty, which believe has the desired effect.

[2022-03-02 22:16] zepumph opened #725 "Add Voicing to NumberPicker"
Since this extends AccessibleValueHandler (and therefore voicing), it isn't clear how related this will be to https://github.com/phetsims/sun/issues/730.

It will support https://github.com/phetsims/ratio-and-proportion/issues/441 though.

[2022-03-02 23:17] zepumph commented on #725
Implemented above. @jessegreenberg this was pretty straightforward, would you mind reviewing and seeing if GFLB still looks good to you.

[2022-03-03 21:25] zepumph commented on #720
Hide the grab cue when inputEnabled is false.

[2022-03-04 00:15] zepumph commented on #720
Alright. I have updated the cues to hide if inputEnabled:false. @arouinfar would you please take another look at this? Close if all is well.

[2022-03-04 00:35] zepumph commented on #724
I met with @jbphet about this today. I created https://github.com/phetsims/tambo/issues/159, and we will take it from there. Closing

[2022-03-04 00:35] #724 closed

[2022-03-04 21:54] arouinfar commented on #720
Thanks @zepumph, I've confirmed that the cues are hidden when `inputEnabledProperty` is false.

[2022-03-05 12:48] terracoda commented on #725
@zepumph, I just noticed that Mass Control number pickers on master are no longer getting context responses when context responses are checked in preferences. In the published version, GFLB's Number Pickers do get context responses, so maybe some changes here need a second look?

[2022-03-05 15:33] jonathanolson opened #726 "TypeScript conversion"
Creating an issue to tag commits (for review), and to discuss potential problems in conversion.

[2022-03-05 17:46] jonathanolson commented on #726
@jbphet I converted some tambo bits since Slider depended on the options object for ValueChangeSoundGenerator. Can you review that portion?

[2022-03-05 17:51] jonathanolson commented on #726
InteractionStateProperty looks really tricky here. They use different value sets for different concrete controls, but it's used in e.g. RectangularButton. I've had to type it as `IProperty<ButtonInteractionState | RadioButtonInteractionState>` in places.

We may need to parameterize the core types e.g. `class RectangularButton<InteractionState>`, or figure out other solutions.

[2022-03-07 00:08] samreid commented on #726
@chrisklus and I noticed that ReadOnlyProperty was written like this:

[code]

However, this means that this code type checks:

[code]

Also, we were surprised to see https://github.com/phetsims/center-and-spread/commit/b416354f2a0610d3eea7d76f473017c823bb51cc where an IReadOnlyProperty was converted to Property.  It seems it should remain read-only.  @jonathanolson can you please advise?

[2022-03-07 21:07] pixelzoom commented on #726
Assigning myself to this issue, since I'm responsible dev for scenery-phet.

[2022-03-08 19:12] jonathanolson commented on #726
ReadOnlyProperty is buggy, and not ready for use. I'm not sure it's possible to make it work. Perhaps I should remove it?

[2022-03-08 19:17] jonathanolson commented on #726
It gets passed as a visibleProperty. Actually this is a situation where the previous type system was hiding something:

<img width="875" alt="image" src="https://user-images.githubusercontent.com/480878/157309018-9d291a47-84a8-4cc8-9a99-e5682184b6f7.png">

Basically, a DerivedProperty passed to visibleProperty + a "node.visible = false;" would error out. Thoughts?

[2022-03-08 23:17] pixelzoom commented on #726
Yes, probably so.

[2022-03-10 23:05] zepumph opened #727 "Convert ThermometerNode to typescript"
From https://github.com/phetsims/chipper/issues/1205, today during Dev meeting, I volunteered to convert ThermometerNode as a way to get rid of phet-types.d.ts as soon as possible (perhaps by next week).

[2022-03-10 23:12] zepumph commented on #727
@pixelzoom please review ThermometerNode if you want. Feel free to close.

[2022-03-11 02:40] zepumph commented on #727
Wow. I did not mean to close this, sorry! Also I forgot to fix other usages of ThermometerNodeOptions in the project (thanks @pixelzoom for fixing), and I also didn't remove the global, pushed above.

[2022-03-11 19:06] zepumph commented on #725
@terracoda, I made https://github.com/phetsims/gravity-force-lab-basics/issues/320 to fix the issues I made in GFLB. Anything else to change in common code for NumberPicker?

[2022-03-12 02:27] pixelzoom commented on #727
👍🏻 closing

[2022-03-12 02:27] #727 closed

[2022-03-28 21:36] pixelzoom opened #728 "Delete IE11StencilWarningNode, because IE is no longer supported."
From the CRC:

So can IE11StencilWarningNode.js be deleted, instead of spending the effort to convert to TS?

IE11StencilWarningNode.js was writting by @jonathanolson, and is used exclusively in molecule-shapes.  So assigning to him.

[2022-03-28 21:37] pixelzoom commented on #728
Or if you don't want to delete it, can I move it to molecule-shapes?  It's used exclusively by molecule-shapes, and should not be used by other sims.

[2022-03-29 21:53] pixelzoom opened #729 "Why is SpectrumSlider deprecated?"
I encountered this while converting SpectrumSlider to TypeScript.

@zepumph added this annotation to SpectrumSlider in f33d9516 for https://github.com/phetsims/phet-io/issues/1657:

[code]

Questions:

* It looks like this was motivated by PhET-iO, something about SpectrumSlider not adhering to SliderIO.  It's not clear (to me anyway) from the issue or the deprecation comment why this was specific

[2022-03-29 22:50] zepumph commented on #729
I have no recollection of this. Your thoughts all seem reasonable. I don't rememer why SpectrumSlider was marked as such except perhaps a feeling? @samreid do you remember this at all?

[2022-03-29 23:08] samreid commented on #729
SpectrumSlider does not extend `Slider`, it uses a separate parallel algorithm for rendering the track.  Once Slider added support for custom tracks and thumbs, `WavelengthNumberControl` was written to leverage that.

Yes, SliderIO is one concern, but it is more that SpectrumSlider unnecessarily duplicates much of the logic in Slider.js.

No.

No, WavelengthSlider is also deprecated and when runni

[2022-03-29 23:42] pixelzoom commented on #729
Thanks for the answers.

Deprecation warnings aren't typically checked until code review. By then it's too late.  So  WavelengthSlider needs a `@deprecated` annotation.

The `@deprecated` annotation in SpectrumSlider is in the wrong place. It needs to be on the class level, not on the constructor, in order to appear in Webstorm, i.e.:

[code]

I've fixed these problem in the above commits. WebStor

[2022-03-29 23:42] #729 closed

[2022-04-01 17:45] pixelzoom opened #730 "WavelengthNumberControl track and thumb cannot be customized."
In https://github.com/phetsims/beers-law-lab/issues/278 and other occurrences of WavelengthSlider, I'm trying to use WavelengthNumberControl.   I need to customize the slider track and thumb, and that's currently impossible.  You can only specify the trackHeight; other aspects are hard-coded, probably using values that are specific to the sim where this originated:

[code]

Things that need to be

[2022-04-01 17:50] pixelzoom commented on #730
I'm going to take a stab at the things that identified above, so I can proceed with the conversion that I'm in the middle of.

[2022-04-01 18:56] pixelzoom commented on #730
Summary of changes:

* Added options `spectrumSliderTrackOptions?: SpectrumSliderTrackOptions` and `spectrumSliderThumbOptions?: SpectrumSliderThumbOptions`
* Added assertions `!options.sliderOptions.trackNode` and `!options.sliderOptions.thumbNode`, because I couldn't figure out how to exclude specific properties from nested options of WavelengthNumberControlOptions.
* Despite what I said above,

[2022-04-04 18:59] pixelzoom commented on #730
After changing beers-law-lab, it started failing CT, see https://github.com/phetsims/beers-law-lab/issues/285.   WavelengthNumberControl had not been PhET-iO instrumented yet, so I did that in the above commit.   So @samreid please add that to your review.

[2022-04-06 04:11] pixelzoom opened #731 "PlayControlButton: types for `globalKeyboardListener` and `event`?"
I’m converting scenery-phet PlayControlButton to TS.  I can’t figure out the types for `globalKeyboardListener` and `event` (see red underlines) in this chunk of code:

<img width="906" alt="screenshot_1644" src="https://user-images.githubusercontent.com/3046552/161894040-b04ccefd-304d-4a01-9457-1d2e79becfc0.png">

I'm pretty sure (but not certain) that `event` should be `( event: Event )` (native

[2022-04-06 04:18] pixelzoom commented on #731
I've checked in the partial conversion of PlayControlButton.ts, with `// @ts-ignore` for the `globalKeyboardListener` bits.

[2022-04-06 04:33] pixelzoom commented on #731
Ah... Maybe the probem is that KeyStateTracker is still .js, and doesn't have the correct definition for `keyupEmitter`?

[2022-04-06 14:21] pixelzoom commented on #726
@jonathanolson It's been ~30 days since we discussed deleting `ReadOnlyProperty`, see https://github.com/phetsims/scenery-phet/issues/726#issuecomment-1062357294.  If `ReadOnlyProperty` is not going to be fixed, can we please remove it? More than once, I've accidentally ended up with `ReadOnlyProperty` when I wanted `IReadOnlyProperty`.  See https://github.com/phetsims/scenery-phet/issues/726.

[2022-04-06 14:29] samreid commented on #726
I'll work on removing it momentarily.

[2022-04-06 14:37] samreid commented on #726
It sounds pretty safe to remove it in a maintenance release commit, if you like.

[2022-04-06 23:12] samreid commented on #730
I reviewed the commits and had a few questions.

* The file now has 4 calls to `optionize`, several of them with signatures like `optionize<T,{},T>`.  I'm unfamiliar with that usage and unsure what it is supposed to mean or how it works.  Should merge be used for some of those?
* There is a TODO marked like so: `//TODO https://github.com/phetsims/scenery-phet/issues/730 it would be preferable to o

[2022-04-06 23:25] pixelzoom commented on #730
That pattern is how you combine defaults to create an object that conforms to a specific options API. It's being dicussed in https://github.com/phetsims/phet-core/issues/114.   Alterntively you could use `OptionizeDefaults`, but I prefer a 2nd `optionized` call -- one way of doing things, instead of 2 different patterns, see https://github.com/phetsims/geometric-optics/issues/410.

Here's another

[2022-04-06 23:49] pixelzoom commented on #730
How did you test? That patch is not providing type-safety for me.

I applied the patch that @samreid provided, then made this change to DiffractionScreenView:

<details>
<summary>DiffractionScreenView patch</summary>

[code]

</details>

I got no TS errors (in WebStorm or tsc) and the sim failed at runtime with:

[code]

[2022-04-07 15:48] zepumph commented on #731
This worked for me. Anything else here?

[2022-04-07 15:52] pixelzoom commented on #731
Hmmm...  @zepumph it looks like you duplicated my fix before I assigned back to @jessegreenberg for review.  Thought I was the one reviewing this...

[2022-04-07 15:58] zepumph commented on #731
Ha! So fun. Ready to close?

[2022-04-07 16:25] samreid commented on #730
[code]

Can you help me understand why the `ParentOptions` is also set to `ArrowNodeOptions` in cases like these?

[2022-04-07 16:28] jessegreenberg commented on #731
Oh thank you, looks good. I had meant to go through and clean up modifiers before closing https://github.com/phetsims/scenery/issues/1400. Changes and https://github.com/phetsims/scenery-phet/issues/731#issuecomment-1091913457 look good to me.

[2022-04-07 16:44] pixelzoom commented on #730
I had the same question, and don't like the look of this pattern. Again, see https://github.com/phetsims/phet-core/issues/114.

[2022-04-07 16:45] pixelzoom commented on #730
[code]

@samreid I think you intended for this comment to be one the next line down, correct? `sliderOptions` is OK, `thumbNode` is not.

[2022-04-07 17:19] zepumph commented on #730
I think I'm generally confused by this issue

What file are you in? It looks like DiffractionScreenView.js to me, were you testing in typescript?

As for the type, are you asking for my help in how to remove thumbNode and trackNode from providedOptions? Because there is currently nothing doing that in the type system, so we just need to decide how we would like that to look. Here are two options.

[2022-04-07 17:21] pixelzoom commented on #730
Yes. That's why I originally added this TODO in WavelengthNumberControl.  And I was aware that there's a deficiency for nested options.

[code]

[2022-04-08 16:55] samreid commented on #730
I think there are reasonable proposals for stripping out the trackNode and thumbNode from the options, but the type checker isn't catching it due to https://github.com/phetsims/phet-core/issues/116.

[2022-04-08 21:34] pixelzoom opened #732 "BucketFront setLabel results in a PhET-iO memory leak."
While converting BucketFront and BucketBack to TypeScript, I noticed a serious problem with BucketFront.

The first scenario creates a memory leak:

1. The client does not pass in `options.labelNode`, but does set `bucket.captionText`.  This causes BucketFront to create a `Text` node that is PhET-iO instrumented.  Because BucketFront created it, it's also responsible for disposing of it.
2. The cl

[2022-04-08 21:57] pixelzoom commented on #732
I've added TODOs in the code for this issue.

[2022-04-11 15:46] zepumph commented on #730
Noting as part of https://github.com/phetsims/chipper/issues/1128

[2022-04-11 19:51] pixelzoom opened #733 "Review TypeScript conversion of GradientRectangle"
Prior to conversion, GradientRectangle contained multiple bugs:

These fields were defined and were unused:

[code]

These fields were used in multiple method, but were not defined in the constructor:

[code]

This method uses field `this._border` which does not exist:

[code]

[2022-04-11 19:55] pixelzoom commented on #733
Converted in the above commit.

I addressed the above problems by:

(1) Defining fields as `this._topMargin` and `this._bottomMargin`.

(2) Implementing `get border` as:

[code]

I never did figure out how to test this.  The sole use is in fractions-common TargetNode, whose documentation was not helpful.  It looks like it's used in the Game screen, but I couldn't identify "a container with a given

[2022-04-11 19:59] pixelzoom commented on #656
I marked DragBoundsProperty as `@deprecated`.

[2022-04-11 20:41] pixelzoom opened #734 "Problems with StarNode.js hinder TypeScript conversion."
These problems were encountered when attempting to convert StarNode.js to TypeScript.  They were serious enough that I bailed.  The changes are significant, and thorough testing will be required.

(1) The first problem was introduced by @samreid in https://github.com/phetsims/scenery-phet/commit/1ce9b8d8:

[code]

`StarShape` has no `value` option.  And the Shape for `foregroundStar` is unnecessar

[2022-04-12 15:54] pixelzoom commented on #345
It's been 4+ years since I opened this issue, and no one has needed ObjectPicker.  So I'm going to go ahead and close this issue.  If/when a sim needs ObjectPicker, the responsible developer can handle generalization and migration to common-code, and I'll be happy to assist.

[2022-04-12 17:54] pixelzoom commented on #734
While converting vegas code, I encountered the need for StarNodeOptions in several places.  For example in ScoreDisplayNumberAndStar.ts:

[code]

I've added a TODOs referencing this issue, so please look for those.

[2022-04-15 17:00] marlitas opened #740 "Leverage existing beakers for code and design"
We observed in the design document that beakers look like this:
<img width="251" alt="Screen Shot 2022-04-15 at 10 53 02 AM" src="https://user-images.githubusercontent.com/42476338/163598730-3f5d87be-5db4-4184-82fc-204cdeac07c0.png">
In the illustrator document beakers look like this:
<img width="176" alt="Screen Shot 2022-04-15 at 10 56 21 AM" src="https://user-images.githubusercontent.com/424763

[2022-04-20 02:00] pixelzoom opened #735 "Incorrect use of nested options in SpeedRadioButtonGroup."
While working on https://github.com/phetsims/models-of-the-hydrogen-atom/issues/22, I discovered an issue with TimeControlNode.SpeedRadioButtonGroup:

[code]

SpeedRadioButtonGroup is a subclass of VerticalAquaRadioButtonGroup, so this is an incorrect use of nested `radioButtonGroupOptions`.  Any options related to the group should be at the top-level of the options, not nested.  @jessegreenberg d

[2022-04-20 02:02] pixelzoom commented on #735
Looks like there are only 3 occurrences of "radioButtonGroupOptions:" in sims, so this should be relatively easy.

[2022-04-20 02:21] pixelzoom commented on #735
I went ahead and did this.  I tested the 3 sims that were using `radioButtonGroupOptions` (collision-lab, GAO, ESP), tested a few others that were not (gas-properties,...).  And I verified that no PhET-iO APIs were changed.

@jessegreenberg please review. Please close if it looks OK

[2022-04-20 19:53] pixelzoom opened #736 "Convert TimeSpeed to new enumeration pattern"
This is a pre-requisite to converting TimeControlNode to TypeScript, needed in MOTHA and other sims.  This will be a big chunk of work, because TimeSpeed and EnumerationDeprecatedProperty are used widely.

[2022-04-20 20:12] pixelzoom commented on #736
In the above commits:
* `TimeSpeed` was converted to `EnumerationValue`
* `timeSpeedProperty` was converted to `EnumerationProperty<TimeSpeed>`

Assigning to @jbphet to verify neuron. After I was well into this issue, I discovered that neuron was broken, and wouldn’t even start up - see https://github.com/phetsims/neuron/issues/148.  So please verify that the changes to TimeSpeed work in neuron. T

[2022-04-20 22:05] jessegreenberg commented on #735
Yes this looks correct, thanks! I looked around at the usages of `speedRadioButtonGroupOptions` for TimeControlNode and verified they are still working.

[2022-04-20 22:05] #735 closed

[2022-04-21 15:38] pixelzoom opened #737 "Convert TimeControlNode to TypeScript"
Creating an issue for this one because it's relatively complicated, and it looks like some sim(s) will need review.

[2022-04-21 16:17] pixelzoom commented on #737
A couple more changes... The inner classes were getting large, and their names weren't quite right, so I factored them out as follows:

* SpeedRadioButtonGroup -> js/TimeSpeedRadioButtonGroup.ts
* PlayPauseStepButtons -> js/buttons/PlayPauseStepButtonGroup.ts

There are a few nested options in TimeControlNode that should be changed to match the class names. but I'm wondering if it's worth the trou

[2022-04-22 16:30] jbphet commented on #736
I had to make  minor fix, but everything worked fine after that, so consider the changes verified.  See https://github.com/phetsims/neuron/issues/148 for more info if needed.  Closing.

[2022-04-22 16:30] #736 closed

[2022-04-22 19:11] jbphet commented on #737
@pixelzoom - There is a line of what looks like some debugging code in `TimeSpeedRadioButtonGroup`, it looks like this:

[code]

I was going to remove it, but then thought you might still be using it, so I thought I'd just bring it to your attention.

[2022-04-22 19:54] terracoda commented on #725
Oops, missed this issue. I'll review the work very soon.

[2022-04-23 14:02] samreid commented on #737
I reviewed TimeControlNode and tested the usage in Gravity and Orbits.  Everything looks good.  I made 2 minor commits.  I was unfamiliar with the 2nd type parameter in this optionize call, can you add a code comment or comment here about the intent?

[code]

Does it mean we don't provide defaults for those options?

[2022-04-24 01:46] pixelzoom commented on #737
@jbphet or @samreid yes, please remove the console.log in TimeSpeedRadioButtonGroup.

@samreid there's no need for a code comment here. This is a common pattern that PhET developers need to become familair with.  It's how nestOptions are treated so that you don't need to provide a default value.  It was discussed recently in the Slack typescript channel.  If you don't recall it, or don't understan

[2022-04-25 00:27] samreid commented on #737
In the commit, I also corrected some backwards <==> forwards metadata problems discovered in https://github.com/phetsims/phet-io/issues/1815

[2022-04-25 00:53] samreid commented on #737
I removed that in prior commits.

[2022-04-25 16:19] terracoda commented on #725
The Mass number pickers in GFLB and the Left and Right Value number pickers in RaP are working well, and seem to be working in the exact same way as well.

The reading blocks are different, but that is intentional. The Mass Control reading blocks in GFLB are not keyboard accessible (this is intentional) whereas the Current Challenge reading block is keyboard accessible (this is intentional).

[2022-04-25 16:19] terracoda commented on #725
Assuming I can close this issue as Voicing for NumberPicker seems very nice.

[2022-04-25 16:19] #725 closed

[2022-05-05 18:38] samreid commented on #737
Review complete, closing.

[2022-05-05 18:38] #737 closed

[2022-05-08 04:31] samreid commented on #730
Current status:

[code]

But this isn't working correctly if `nestedOptions` is required.  We may just need a conditional checking if the mid-level nesting is optional or required.

I also saw stackoverflow notes on deep omit, but they versions I checked were not type safe (could specify nonexistent keys), but it was nice that they were arbitrarily deep. https://stackoverflow.com/questions/5553938

[2022-05-08 21:57] samreid commented on #730
`https://github.com/microsoft/TypeScript/issues/23126` had a description of how to determine whether a type attribute is optional, and I used it to create this conditional type that seems to work properly:

[code]

With that definition, we can omit `trackNode` and `thumbNode` from the `NumberControlOptions` like so:

[code]

[2022-05-09 15:45] pixelzoom commented on #730
Is `DeepOmit` really "deep"?  It looks like it's limited to the first level of nesting. If I've understood that correctly, then perhaps it should be named something like `NestedOmit`.

[2022-05-09 15:49] pixelzoom commented on #730
And if we're looking for a general solution (which would indeed need to be "deep"), then I don't think this addresses cases like `numberControlOptions.sliderOptions.thumbNode`  in:

[code]

[2022-05-10 14:48] KatieWoe opened #738 "CT Cannot read properties of undefined (reading 'padRatio')"
[code]

[2022-05-10 15:54] zepumph commented on #738
I'm not too sure about this one, over to the responsible dev for scenery-phet.

[2022-05-10 16:00] jonathanolson commented on #738
This was my fault, likely fix committed above.

[2022-05-10 19:28] KatieWoe commented on #738
Looks ok on CT. Closing

[2022-05-10 19:28] #738 closed

[2022-05-10 22:42] zepumph commented on #730
It would definitely be nice to have an arbitrarily deep type that can narrow nested options as we want to. I also feel like it would be nice to have a pleasant way to omit an option from the public API and add that option yourself. You often see this pattern:

type SelfOptions = { myNodeOptions?: NodeOptions; };

type MyClassOptions = SelfOptions;

class MyClass {

  constructor( providedOptions?:

[2022-05-10 22:47] zepumph opened #739 "Create a Clapperboard for synchronizing recording"
In https://github.com/phetsims/ratio-and-proportion/issues/468 and for Quad as well, there is upcoming research being done. In these studies, recording will be done with audio, video camera, screen capture, and PhET-iO data stream. We want to create a way to synchronize all of these within the sim, and during a meeting today, @BLFiedler @jessegreenberg and I came up with some sort of idea for a "c

[2022-05-10 22:56] pixelzoom commented on #730
Here's an example that I provided in Slack of the approach that I try to use for nested options, in order to keep the type definitions from getting messy.  The general idea is to add the nested options that the client is responsible for when the subcomponent that received those nested options is being instantiated, using `combineOptions`.

As @zepumph said in Slack, it's not the pattern for all si

[2022-05-11 04:35] samreid commented on #730
The proposal `DeepOmit2` demonstrates a type-safe way to achieve nested omits.  If we like the way it works for depth 2 and our only qualm is we need more levels, we can apply the same strategy to create `DeepOmit3` etc.  We may even be able to shield usages by `type DeepOmit = DeepOmit2 | DeepOmit3 | DeepOmit4` etc. so that clients only need to use `DeepOmit`.  I haven't tested that it but it is

[2022-05-11 18:46] samreid commented on #726
@jonathanolson can you please report on this status?  @zepumph and I are curious whether it's still blocking for the upcoming PhET-iO milestone.

[2022-05-11 18:56] zepumph commented on #730
I think we should work toward a type with 3 arguments, the Type, the path into the nested object, and the list of keys to omit. This will be very useful in these cases.

`DeepOmit<GOPanelOptions,'numberControlOptions.sliderOptions', 'thumbNode' | 'trackNode'>

@samreid does that seem possible?

[2022-05-11 19:02] samreid commented on #730
I'm not sure.  Some details:

* I don't know how to make the dot syntax be type safe.  Not sure if there is a way
* If you want to exclude `numberControlOptions.sliderOptions.thumbNode` and `numberControlOptions.sliderOptions.trackNode.fill` would that be separate DeepOmit calls?  As long as we're brainstorming, how about DeepOmit just takes one string that is the full path?  Or an array of full s

[2022-05-11 19:12] zepumph commented on #730
To me one call per level feels fine, and likely more succinct than all those paths. I'm good with anything though. I don't know how exactly to use the dot notation, even after some research, so I don't think I can help much here.

[2022-05-11 21:32] samreid commented on #730
Here's an adaptation of https://stackoverflow.com/questions/67785778/typescript-deep-omit-with-dot-notation which works like this:

[code]

The main problem is you can put `DeepOmit<Nested, 'b.e'>` and it won't complain.  Is that OK?

<details>

[code]

</details>

[2022-05-11 22:46] samreid commented on #730
This helped a little bit (checking if the value appeared on the T), but didn't flag at the DeepOmit site or work correctly:

[code]

[2022-05-12 16:02] jessegreenberg commented on #739
In the above commit I made a first pass at adding Tandems to the button, it is probably incomplete but it allows some use in studio.

[2022-05-12 18:28] zepumph commented on #739
Great thanks! I also needed to pass it through in RAP. Now you get this data stream event when you press the button

[code]

[2022-05-12 18:30] zepumph commented on #739
@BLFiedler please let us know if there is anything else you want changed about this button. You can test it out in Ratio and Proportion on master.

[2022-05-12 19:58] zepumph commented on #730
My guess is that this is a deal breaker. Is it not for you?

[2022-05-12 20:12] samreid commented on #730
I'd prefer to have type safety in that part, even if it means we have to adopt a less convenient syntax at the call site.  Even something like:

[code]

[2022-05-13 03:46] samreid commented on #730
I was starting to work on an implementation that uses the bracket accessor like so:

[code]

And was surprised to find that `Omit` doesn't check its key values:

[code]

If we like that precedent and want to follow it, then we could use the dot operator as above.  If we think this is unfortunate, then we can stick with checking that the keys are present.  But that will narrow the possible solution

[2022-05-16 15:32] samreid commented on #740
@marlitas and I will use the new process described in https://github.com/phetsims/perennial/issues/269 to transfer the history from fractions-common to scenery-phet.  We reviewed several implementations and agreed that seems like a good starting point.

[2022-05-16 20:51] jessegreenberg commented on #739
In https://github.com/phetsims/quadrilateral/issues/153 It was discovered that the button could be pressed multiple times with an attempt to add the `visualNode` as a child multiple times. Potential fix in the above commit.

[2022-05-17 00:29] zepumph commented on #739
I see. Yes thanks that makes sense.

[2022-05-18 16:49] zepumph commented on #739
Since your commit I've been getting an error like:

[code]

On CT. I think it is because there is no actual content anymore in the Node. So I instead set enabled instead of visible on the button. I'll see if it clears up CT.

[2022-05-18 16:50] zepumph commented on #739
@BLFiedler is 1 second a good amount of time to have the video icon up? Anything else for this issue from you side?

[2022-05-18 17:45] KatieWoe opened #741 "CT align stretch not supported, the valid values are left,right,center,origin or null"
May be related to https://github.com/phetsims/scenery-phet/issues/738
[code]

[2022-05-18 19:41] jonathanolson commented on #741
I believe the commit above should fix this.

[2022-05-18 21:15] KatieWoe commented on #741
I will reopen if it shows up again

[2022-05-18 21:15] #741 closed

[2022-05-19 17:21] pixelzoom commented on #730
@samreid said:

Response is in https://github.com/phetsims/phet-info/issues/191#issuecomment-1126256710.  We can modify the examples when we change the approach.

[2022-05-24 12:56] samreid commented on #730
Now awaiting discussion of https://github.com/phetsims/phet-core/issues/119 before we continue.  After that, we should discuss the value/importance of a deep omit in light of https://github.com/phetsims/phet-info/issues/191#issuecomment-1125632378

[2022-05-25 19:10] pixelzoom commented on #689
From duplicate https://github.com/phetsims/scenery/issues/1416:

This was encountered most recently in https://github.com/phetsims/function-builder/issues/145. But it's a problem that I've encountered repeatedly when using `MathSymbolFont`.

If a `Text`/`RichText` node uses `MathSymbolFont`, the bounds are wrong.  When the node's `text` changes, this results in part of the node not being erased, o

[2022-05-26 14:00] BLFiedler commented on #739
Could we try a tone that is a bit more discrete in the on/off? The sound profile of this one feels like it may have a bit of a fade, which may make it more difficult to place the start and stop. It is okay if it is not pleasant! It just needs to be heard!

[2022-05-26 19:24] samreid commented on #730
We decided we prefer type-safe Omit in https://github.com/phetsims/phet-core/issues/119, so we would probably want type safety in DeepOmit as well.  We have also reviewed https://github.com/phetsims/phet-info/issues/191#issuecomment-1125632378 and maybe should decide on the importance of DeepOmit in that context.

[2022-05-31 17:07] jessegreenberg commented on #739
This came up during Quad meetings today and it was discussed that the character of the PitchedPopSoundGenerator could make it difficult to find the sound event in the recording. I tried increasing the duration but it still had too much swoop. @BLFiedler suggested using a simple waveform instead like a censor beep.

[2022-05-31 17:39] jessegreenberg commented on #739
I hope you don't mind @zepumph, I went ahead and swapped out the PitchedPopSoundGenerator for a OscillatorSoundGenerator. It was confirmed as OK during quadrilateral meetings today.

What does that leave for this issue? There are a couple of TODOs about PhET-iO instrumentation. In quadrilateral I have been using the button's `pressListener.releaseAction` to find when it is pressed in the data stre

[2022-06-02 21:32] marlitas opened #748 "Triangle thumb node for slider"
While researching a bug on the 3D water cups slider I discovered that Blackbody spectrum also has a triangular thumb node for their slider:
<img width="350" alt="Screen Shot 2022-06-02 at 3 28 14 PM" src="https://user-images.githubusercontent.com/42476338/171741661-183f6a9d-1022-4627-9283-ded4aeef7aa1.png">
Our triangular thumb node looks like this:
<img width="255" alt="Screen Shot 2022-06-02 at

[2022-06-06 16:14] pixelzoom opened #742 "Address TypeScript lint problems in NumberControl."
For https://github.com/phetsims/chipper/issues/1253, NumberControl uses `any`.

For https://github.com/phetsims/chipper/issues/1252, NumberControl uses `merge`.

Since @jonathanolson did the conversion to TypeScript, assigning to him to complete the job.

[2022-06-07 02:03] jonathanolson commented on #742
Handled merge in another issue.

[2022-06-07 02:08] jonathanolson commented on #742
Handled `any` above, closing.

[2022-06-07 02:08] #742 closed

[2022-06-07 20:31] marlitas opened #743 "Expand options for ResetShape for reuse in a SyncIcon"
Mean: Share and Balance is introducing a new "sync" icon that looks like this:
<img width="286" alt="Screen Shot 2022-06-07 at 2 25 41 PM" src="https://user-images.githubusercontent.com/42476338/172475940-2a5fd4b1-551e-4f0b-bb7a-e040e046b16c.png">

The initial build for this icon duplicated a great deal of code in ResetShape.ts
@samreid recommended adding options to ResetShape to increase its usab

[2022-06-07 21:40] samreid commented on #730
I tested the DeepOmit implementation listed at https://github.com/ts-essentials/ts-essentials#deepomit.  It has a nice syntax for nesting the omit structure, but it is also non-strict:

[code]

[2022-06-10 20:28] marlitas commented on #740
BeakerNode has been implemented into Mean: Share and Balance, as well as Fractions Common. Manually and fuzz tested on Fractions Intro and Fractions: Mixed Numbers. I would appreciate a review from a more experienced dev to make sure a). I didn't break anything, and b). gather feedback on code written.

[2022-06-13 22:07] marlitas commented on #743
Options added, and ResetShape implemented into Mean: Share and Balance. Assigning to author of ResetShape.ts @jbphet for quick review.

Checked consistency of ResetShape on "Reset All" buttons across various published and unpublished sims to ensure changes didn't affect visuals.

Feel free to close issue if all looks good.

[2022-06-15 16:46] jbphet commented on #743
The changes to the code look reasonable.  I have two suggestions:
- Change the file name to something like CircularArrowShape, since it is now used in a context that is unrelated to reset.
- Change the header comment to describe the shape, and then state that it was originally created for the reset button but then generalized.

Back to @marlitas for follow-up.

[2022-06-16 18:23] chrisklus commented on #740
From 6/16/22 dev meeting:

@pixelzoom volunteered to review, thanks!

[2022-06-16 18:50] chrisklus commented on #730
From 6/16/22 dev meeting:

SR: There are no known type-safe ways to implement DeepOmit for arbitrarily deep nested options. We can handle as deep of cases as we'd like with DeepOmit2, DeepOmit3, etc. These are each tricky to implement. How does this sound?

SR: we can also wait on this and see if better options come up.

@pixelzoom is going to take a look at this again for status and next steps re

[2022-06-16 18:51] chrisklus commented on #730
JB: I haven't needed this yet
JG: Haven't needed this, but a little wary of how complicated options are getting.
CK: Haven't needed this yet either

[2022-06-16 19:15] pixelzoom commented on #740
When we add a new UI component to common code, we typically add a demo of that component to the scenery-phet (or sun) demo application.  In the above commit, I've added a demo for BeakerNode to the "Components" screen of scenery-phet. @marlitas let me know if you have any questions about this.

[2022-06-16 19:27] pixelzoom commented on #740
This bit is a problem:

[code]

The client is allowed to pass in `providedOptions.children`, and then the `optionize` call blows it away.  Since BeakerNode has control over the `children` option, this is a place where narrowing should be applied to the definition of `BeakerNodeOptions`.

From [Options (TypeScript)](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns

[2022-06-16 19:40] pixelzoom commented on #740
In the above commits, a few things about the "ticks visible" API...

* While the UI may be labeled with things like "Show ticks", we typically use `blahVisible` and `setBlahVisible` in APIs, now "show".  So the option is now `ticksVisible`, and the method is `setTicksVisible( visible: boolean ): void`.
* Visibilty of ticks was being controlled using `addChild` and `removeChild`.  These are relativ

[2022-06-16 19:57] pixelzoom commented on #740
BeakerNode links to a Property that it does not own (`solutionLevelProperty`) but did not implement `dispose`.  That's a memory leak, and has been corrected in the above commit.

@marlitas let me know if you have any questions about this.

[2022-06-16 20:05] pixelzoom commented on #740
`numTicks` is used throughout BeakerNode, and violates this convention from [Coding Conventions](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-typescript):

[code]

So `numTicks` has been changed to `numberOfTicks` in the above commit.

[2022-06-16 20:40] pixelzoom commented on #740
There were many color options that were defined to be of type `ProfileColorProperty` or `ProfileColorProperty | Color`.  This is unnecessarily restrictive.  Scenery typically supports colors that are of type `IColor` or `IPaint`.  `IColor` is likely sufficient here (no need to provide gradients, for example) so I've changed to `IColor` in the above commit.

There is still one such option that need

[2022-06-16 20:57] pixelzoom commented on #740
- [ ] Looking at SceneryPhetColors.ts, the name of this color is much too vague:

[code]

It's used as the default for 2 things in BeakerNode.ts:

[code]

So:
* Choose a better name for this field.
* Consider decoupling BeakerNodeOptions.stroke and BeakerNodeOptions.tickStroke by having 2 separate default colors in SceneryPhetColors.ts.

[2022-06-16 21:10] pixelzoom commented on #740
- [ ] Are`xRadius/yRadius` and `beakerWidth/beakerHeight` 2 different ways of specifying the same thing?

It's difficult to tell for sure because they are not documented.  But if they are the same, recommended to get rid of one of those ways.  It's generally not a good idea to have 2 ways of doing the same thing, especially without checks to guarantee that they are mutually exclusive.

And this li

[2022-06-16 21:25] pixelzoom commented on #740
- [ ] `solutionLevelProperty` is assumed to have range [0,1] at most.

... and there's nothing that verifies that assumption.  And things get really weird if that `solutionLevelProperty` has a different range. For example, here's scenery-phet demo with `solutionLevelProperty` range [0,5]:

<img width="337" alt="screenshot_1700" src="https://user-images.githubusercontent.com/3046552/174168653-a8e71

[2022-06-16 21:45] pixelzoom commented on #740
- [ ] Change the `@author`, currently:

[code]

[2022-06-16 21:51] pixelzoom commented on #740
Code review is done.  Remaining issues are identified by checklist items in the above comments.

Back to @marlitas. Let me know if you have questions.

[2022-06-16 22:24] marlitas commented on #743
During testing to address review comments I discovered a "Refresh" button that looks very similar to the "Sync" icon created for Mean: Share and Balance. Asked designer for feedback in this issue: https://github.com/phetsims/mean-share-and-balance/issues/35

Holding off on moving forward on this until that question is answered.

[2022-06-17 12:14] pixelzoom commented on #740
Related to the changes to `xRadius/yRadius` and `beakerWidth/beakerHeight` that @marlitas and I paired on in https://github.com/phetsims/scenery-phet/commit/75f32c1c37304f24540c5d5a23167957bd1211e1 ...

I realized that we hadn't addressed the constants `DEFAULT_X_RADIUS` and `DEFAULT_Y_RADIUS`.   That's been done in the above commits. Summary:
* `DEFAULT_X_RADIUS` was deleted because BeakerNodeOpt

[2022-06-17 18:35] marlitas opened #744 "Confusing to find NumberSpinner in sun and NumberPicker in scenery-phet"
When switching between NumberPicker and Number Spinner in Mean: Share and Balance I was confused to find that I needed to import NumberSpinner from sun, when I had imported NumberPicker from scenery-phet. They are very similar components:
<img width="935" alt="Screen Shot 2022-06-17 at 12 23 11 PM" src="https://user-images.githubusercontent.com/42476338/174356204-954ce19d-0321-451d-9fda-7b88db9b1a

[2022-06-17 19:20] pixelzoom commented on #744
This is a duplicate of https://github.com/phetsims/sun/issues/436, the goal of which is to evaluate/consolidate the various "spinner" implementations. It's been open since 1/2019, but has never been prioritized.   My recommendation is to note the confusion that this caused you in https://github.com/phetsims/sun/issues/436, then close this issue as a duplicate.

[2022-06-17 19:24] pixelzoom commented on #744
And by the way...  I've felt from the beginning that NumberPicker was unnecesary and redundant.  But the team (especially the design team) did not agree.  They wanted a very specific "look", which is implemented in NumberPicker.  So combining NumberPicker and NumberSpinner will be not only a challenging implementation task, but a re-design challenge.  And imo it's inappropriate to work on the impl

[2022-06-17 19:25] pixelzoom commented on #744
The term "picker" is also (imo) unnecessary, and unique to PhET.  Let's use standard names for standard UI components. It's a spinner.

[2022-06-17 20:07] jbphet commented on #734
I've addressed the issues that @pixelzoom laid out above, converted `StarNode` to TypeScript, and changed the places where options were used to control this node.  I regression tested these changes in the vegas demo, the scenery-phet demo, the score displays in arithmetic, the reward node in expression-exchange, and the "target hit" graphic in projectile motion.  I think I got everything, but this

[2022-06-17 20:36] pixelzoom commented on #734
I reviewed the code, and tested in the vegas demo application.  Looks great.  Thanks for doing this. Closing.

[2022-06-17 20:36] #734 closed

[2022-06-17 21:41] samreid commented on #744
For now, does it seem reasonable to move NumberPicker to sun?

[2022-06-17 22:47] pixelzoom commented on #744
Sure.

[2022-06-17 23:07] marlitas commented on #744
Closing as duplicate of: https://github.com/phetsims/sun/issues/436

[2022-06-17 23:07] #744 closed

[2022-06-17 23:16] pixelzoom commented on #730
Current status of this issue:

* Most of the work that identified in the first comment has been done.

* This TODO in WavelengthNumberControl remains to be addressed:

[code]

* @samreid was investigating how to added that TODO via something like `DeepOmit`, the limitations of which are addressed in https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1158021334.

* Other developers ha

[2022-06-20 22:51] pixelzoom opened #745 "Add TrashButton to common code."
Somewhat related to https://github.com/phetsims/scenery-phet/issues/320 ...

There are at least 3 sims that have trash buttons, all with different implementations:
- [x] equality-explorer
- [x] MOTHA
- [ ] CCK

... and probably others that are not coming up in a search for "trash".

They all use trashAltRegularShape (the FontAwesome icon).  But CCK is a round push button, the others are rectangula

[2022-06-20 23:34] pixelzoom commented on #745
scenery-phet.TrashButton was added in the above commits, and is used in equality-explorer and MOTHA.

Assigning to @samreid to decide what to do about CCK.  In the shortterm, it would be nice to rename CCK's implementation from TrashButton to CCKTrashButton, to prevent import confusion.

[2022-06-20 23:57] pixelzoom opened #746 "Problems with MoveToTrashButton"
While working on TrashButton for https://github.com/phetsims/scenery-phet/issues/745, I discovered MoveToTrashButton.  It has several problems, listed below.  Assigning to @samreid, listed as the first author.

- [x] The default size is unusually small.  Compare its default size to other buttons shown in scenery-phet demo below.  This default size results in callers having to scale the button.  Wh

[2022-06-21 20:03] Luisav1 opened #747 "ScientificNotationNode rounds numbers incorrectly"
The ScientificNotationNode rounds first to the number of decimals specified plus one seen below.
[code]
This causes the number to be rounded up twice in some cases, resulting in incorrect rounding as in the example in the patch below. The number 424.8 rounded to 2 significant digits should be 4.2 x 10^2. Other numbers like this are in this issue https://github.com/phetsims/build-a-nucleus/issues/2

[2022-06-21 21:29] pixelzoom commented on #747
The first thing I checked was whether this problem was introduced during TypeScript conversion.  So I revert to e0d0199a, which is when the file was renamed from .js to .ts, but had not otherwise been changed.  The problem was still present in the SimulaRasaScreenView patch, so it would seem that this problem has been around for awhile.

[2022-06-21 22:27] pixelzoom commented on #747
In the above commits, I improved some documentation.

In https://github.com/phetsims/scenery-phet/commit/80487926fb764fcacddf8b560dfa551f2f2eb1e7, I did a bit of TypeScript/options cleanup.

[2022-06-21 22:30] arouinfar commented on #745
A round button is necessary if we want to be consistent with the other similar buttons in the sim. Forcing a rectangular trash button would require us to change all of the other similar buttons in CCK.

<img width="531" alt="image" src="https://user-images.githubusercontent.com/8419308/174907093-dbe8f21f-e8e6-497d-be23-dbc25bdf5064.png">
<img width="522" alt="image" src="https://user-images.github

[2022-06-21 22:34] pixelzoom commented on #747
Going through the cases in `toScientificNotationNode`, there are other problems.

The first case is when the value is `0`.  If the value is zero, the exponent is always set to 1:

[code]

That's incorrect, as shown in these examples:

[code]

Fixed in the above commit, so that the above examples are:

[code]

[2022-06-21 22:37] pixelzoom commented on #747
The next case in `toScientificNotationNode` is:

[code]

[2022-06-21 22:43] pixelzoom commented on #747
The next case is where the problem that was reported occurs:

[code]

We're requesting one extra decimal place, to do our own rounding later (due to problems with `toFixed`).  But the call to `toExponential` is doing some rounding.  So for our value of 424.8:

[code]

[2022-06-21 22:46] pixelzoom commented on #745
Thanks @arouinfar. It's clear to me now :)

But it's also clear to me that PhET has a serious deficiency in the design of sun buttons.  Button shape should be an option, not a fork in the class hierachy.

[2022-06-21 22:51] arouinfar commented on #745
Totally agree! It would be so nice to have that flexibility from a design perspective, too.

[2022-06-21 23:09] pixelzoom commented on #747
In the above commits, I added unit tests for `toScientificNotation`, the part of `ScientificNotationNode` that's unit-testable.

[2022-06-22 15:58] pixelzoom commented on #747
In the above commit, I added an implementation and unit tests for the case where a non-zero exponents is supplied via options:

[code]

In the process, I discovered a problem with dot.Utils.toFixedNumber:

[code]

As you can see by the last line, this is a problem that's inherent in floating point numbers.  And I'm not sure if this is solvable, or worth trying to solve.

[2022-06-22 19:53] pixelzoom commented on #730
As an alternative to DeepOmit, I investigated removing `sliderOptions`, then adding it back without `trackNode` and `thumbNode`.

If I export `ExtendedSliderOptions` from NumberControl.ts (we'd want to rename that type), then this works:

[code]

@samreid what do you think? Would the above be acceptable?

[2022-06-22 20:22] pixelzoom commented on #730
Ah, here we go...  This is immune to changes to the type of `NumberControlOptions.sliderOptions`:

[code]

But now I see that this is basically what @samreid's `DeepOmit` was doing.  So...

I think we should rename `DeepOmit` to `NestedStrictOmit`, document that it only works for 1 level deep, and move on.

[2022-06-22 20:37] pixelzoom commented on #730
Adapting @samreid's `DeepOmit2` that is shown in https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1120348122, I came up with `NestedStrictOmit`:

[code]

Example usage for WavelengthControl:

[code]

And `NestedStrictOmit` seems to be strict, which was a dificiency with `DeepOmit`.  Some examples:

[code]

[2022-06-22 20:56] pixelzoom commented on #730
I went ahead and pushed `NestedStrictOmit` and changes to `WavelengthNumberControl`.  If/when we need to omit nested options that are deeper than 1 level, we can revisit.    @samreid please review, and let me know if this sounds like an OK appropach for now.

[2022-06-22 21:18] pixelzoom commented on #740
Reopening.

I didn't notice in my original review (probably because I was distracted by the `@author` annotation), but this file has an inadequate header description.  From [Coding Conventions](https://github.com/phetsims/phet-info/blob/master/doc/coding-conventions.md):

The current header comment:

[code]

... does not meet this convention.  This class does more than just display a beaker graphi

[2022-06-22 22:20] marlitas commented on #740
Class documentation addressed. Closing!

[2022-06-22 22:20] #740 closed

[2022-06-23 18:05] zepumph commented on #730
Looks like we are in subgroups right now, please bring back to dev meeting discussion if needed.

[2022-06-24 02:28] pixelzoom commented on #747
In https://github.com/phetsims/dot/issues/113, I wrote `toFixedPointString`, which doesn't have the rounding and floating-point problems inherent in `Number.toFixed` and `dot.Utils.toFixed`.   I'm going to investigate reimplementing `ScientificNotationNode` using that function.  It will be a lot of work.

[2022-06-24 16:40] pixelzoom commented on #743
Let's please _not_ overload/complicate ResetShape in this way. Sync/Refresh should be a separate shape.  Better yet, don't create a Shape. Where possible, PhET should be using fontawesome icons.  In this case https://fontawesome.com/search?q=refresh&s=solid%2Cbrands:

<img width="666" alt="screenshot_1712" src="https://user-images.githubusercontent.com/3046552/175597389-507220e5-12ee-4d9f-b20b-2bf

[2022-06-24 16:42] pixelzoom commented on #743
I realize that the fontawesome icon is not identical to the current icon in Mean: Share and Balance.   But I think is an important compromise that designers should be willing to make. Using fontawesome icons saved significant development/maintenance cost, avoids issues like this GitHub issue, and uses iconography that is standard and well-vetted.

[2022-06-24 16:46] pixelzoom commented on #743
Also recommended to use the name `RefreshButton`, to align with fontawesome's "fa-refresh" icon.

[2022-06-24 16:52] pixelzoom commented on #211
Un-deferring and self assigning.  This is needed for MOTHA, which has resume development.

[2022-06-24 17:07] pixelzoom opened #749 "Address problems with hotkeys."
Proposed epic for Q3 2022 ...

Since alt-input is now a standard part of sim development, fix problems related to hotkeys. Some of these are serious.

Issues currently include:
https://github.com/phetsims/scenery-phet/issues/716
https://github.com/phetsims/scenery-phet/issues/682
https://github.com/phetsims/scenery-phet/issues/681
https://github.com/phetsims/scenery-phet/issues/680

Assigning to @

[2022-06-24 17:09] pixelzoom opened #750 "Finish a11y issues"
Proposed epic for Q3 2022 ...

A11y issues are becoming a growing percentage of the issues in scenery-phet, accumulating technical debt.  These issues are in various stages of completion, with most open for a year or more.

Let's finish up issues with these labels (current number of issues in parentheses):

* dev:alt-input (13)
* dev:voicing (4)
* dev:description (7)

Recommended to prioritize dev

[2022-06-28 13:17] samreid commented on #746
I observed 4 call sites in sim code, using these options:

energy-skate-park/EnergyBarGraph:

[code]

energy-skate-park/PieChartLegend:

[code]

masses-and-springs/EnergyGraphAccordionBox:

[code]

pendulum-lab/EnergyGraphAccordionBox

[code]

Usage in Energy Skate Park
<img width="360" alt="image" src="https://user-images.githubusercontent.com/679486/176185929-2ff30d72-936d-4ad6-8959-ad6ab26cb74d

[2022-06-28 13:34] samreid commented on #745
I renamed CCK's TrashButton as recommended in https://github.com/phetsims/scenery-phet/issues/745#issuecomment-1160953669.  Please note, the prefix is "CCKC" for Circuit Construction Kit Common.  Regarding the button shape being an option, want to promote https://github.com/phetsims/sun/issues/659 to an epic issue and discuss it for an upcoming quarter?  Anything else for this issue?

[2022-06-28 13:53] samreid commented on #730
I wrote this harness to test `NestedStrictOmit`:

[code]

I observed a type error on the 2nd to last line:

<img width="723" alt="image" src="https://user-images.githubusercontent.com/679486/176194833-2a552397-9377-4f19-934a-ebe8a5adf546.png">

And I observed that family is coming up as something ` | undefined`:

<img width="749" alt="image" src="https://user-images.githubusercontent.com/679486/17

[2022-06-28 14:03] pixelzoom commented on #730
@samreid Thanks for the testing in https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1168757149.

From https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1163592619:

So... Is this approach OK? If so, OK to close? If not, what's next?

[2022-06-28 14:12] pixelzoom commented on #745
👍🏻

[2022-06-28 14:12] #745 closed

[2022-06-28 15:13] samreid commented on #730
No, the proposed NestedStrictOmit implementation in https://github.com/phetsims/phet-core/commit/760e1dadde280840fd26d25c526c0f30c9128aee returns `undefined` when it should not.  `m.family` should be defined but it is flagged as potentially undefined.

The counterproposal is for an implementation like so:

[code]

which appears to behave properly in this test harness.  We would rename it to `Neste

[2022-06-28 20:56] marlitas opened #751 "Changing QuestionBar barFill and labelText after construction"
In Mean: Share and Balance, a QuestionBar is at the top of every screen. The QuestionBar along with controls that are common among each screen are instantiated in the MeanShareAndBalanceScreenView. Instantiating the QuestionBar here provides the following benefits:
- QuestionBar bounds can be accessed to position universal screen elements
- Ensures layout consistency across screens

However, the b

[2022-06-29 16:27] pixelzoom commented on #730
Sigh... I would be really nice if developers got in the habit of either using meaningful variable names for generics, or at least documenting meaningless variables like A/B/C.

I will review.

[2022-06-29 16:34] marlitas commented on #751
@pixelzoom mentioned that barFill can be dynamically adjusted through a colorProperty, so my question now only relates to labelText.

[2022-06-29 17:01] pixelzoom commented on #730
The revised implementation of `NestedStrictOmit` works great.  I tested with the examples in https://github.com/phetsims/scenery-phet/issues/730#issuecomment-1168757149, and with a usage of `new WavelengthNumberControl`.

This addressed this GitHub issue (nesting 1 level deep), but does not address nesting that is arbitrarily deep.  Assigning back to @samreid answers to these questions:

(1) Is th

[2022-06-30 02:44] pixelzoom opened #752 "FaucetNodeOptions are incorrect"
Discovered while converting scenery-phet demos to TypeScript. This is the first usage of FaucetNode in a TypeScript caller, so the first time that this problem has been exposed.

FaucetNode is:

[code]

In demoFaucetNode.ts, attempting to pass options to FaucetNode complains about missing `valueProperty` and `enabledProperty`:

<img width="1036" alt="screenshot_1734" src="https://user-images.githu

[2022-06-30 04:40] pixelzoom opened #753 "Bad option in demoGrabDragInteraction.ts"
In demoGrabDragInteraction.ts (the demo for GrabDragInteraction), there's a TypeScript error.  The `role` option does not exist for RectangleOptions.

[code]

[2022-06-30 04:53] pixelzoom opened #754 "TypeScript error in demoRichText.ts"
In demoRichText.ts, the demo for RichText, there's a TypeScript error:

[code]

[2022-06-30 04:56] pixelzoom opened #755 "TypeScript error in demoStopwatchNode.ts"
In demoStopwatchNode.ts, the demo for StopwatchNode, there's a TypeScript error.  Option `decimalPlaces` does not exist.

[code]

Assigning to myself and @samreid, since we both worked on StopwatchNode, and git history is unclear on who added this option.

[2022-06-30 04:59] pixelzoom opened #756 "Move layout demos to sun, convert to TypeScript"
There are 3 demos that feel like they are in the wrong place. They have nothing to do with scenery-phet.

* demoFlowBox.js
* demoGridBox.js
* demoManualConstraint.js

To do:

- [ ] Move to sun/demo/layout/, and add to LayoutScreenView
- [ ] Convert to .ts

Assigned to the author @jonathanolson.

[2022-06-30 05:01] pixelzoom opened #757 "Convert demoSprites.js to TypeScript"
Convert demoSprites.js to TypeScript.  I took a stab at this, and there were complications.

Assigning to the author, @jonathanolson.

[2022-06-30 05:39] pixelzoom commented on #755
In the above commit, I changed `decimalPlaces: 1`  to `numberOfDecimalPlaces: 1`, and I added `baseColor: 'red'` so it's clear which StopwatchNode instance we're dealing with.  The TypeScript error is gone.  But I'm still seeing 2 decimal places in the display, see screenshot below.  Maybe this option is ignored for some display formats?...

@samreid please have a look.

<img width="287" alt="scre

[2022-06-30 16:42] zepumph commented on #753
Yea thanks. I'm not sure how that option was misnamed, thanks for catching it.

[2022-06-30 21:27] zepumph commented on #752
I can see 2 ways forward. The first is where we manually omit or convert valueProperty and enabledRangeProperty to optional each time we use an AccessibleValueHandler. This is most clear, but likely we will be got by this in the future because it is needed at each usage.

The other option is to make these optional arguments in the typescript options in AccessibleValueHandler, and then use runtime

[2022-06-30 22:22] zepumph commented on #752
I discussed this with @pixelzoom and we like the way of the above commit. I went through other usages of `AccessibleSlider()` in typescript to omit the options. We are ready to close

[2022-06-30 22:22] #752 closed

[2022-07-01 22:08] pixelzoom commented on #747
In 6/30 dev meeting:

* @kathy-phet said that ScientificNotationNode is OK as is for now, with its known problems, and is not blocking
* We may revisit this when problems with Utils.toFixed are addressed, see https://github.com/phetsims/dot/issues/113
* Addressing Utils.toFixed will not address the use of `Number.toExpotential` (which uses built-in `toFixed`), and there's not a good replacement fo

[2022-07-05 16:03] pixelzoom commented on #747
Summary:

* The "rounding twice" problem has been fixed.
* There are still some numbers that will not be represented as expected, due to the nature of floating-point operations in JavaScript.  Specifically:
  * With option `exponent: null`, ScientificNotationNode is subject to floating-point errors inherent in `dot.Utils.toFixed`, as described in https://github.com/phetsims/dot/issues/113.
  * Wit

[2022-07-08 20:47] zepumph commented on #720
Reopening. I think it would be much nicer if toggling inputEnabled on the micro view just changed the grabDragInteraction itself. This means that we can simplify this grab drag interaction instrumentation by making it phetioReadOnly in general. Why would someone want to turn off the keyboard input while keeping other input on? That doesn't seem like the granularity to support.

[2022-07-08 20:55] zepumph commented on #720
Actually, I'll just have this work done over in https://github.com/phetsims/friction/issues/285, but will reference over here.

[2022-07-08 20:55] #720 closed

[2022-07-09 14:27] samreid commented on #730
Looks good, let's close this issue.  Let's wait on a side "arbitrarily deep" issue until it comes up again in a future context.  My hope is by then we will have more TS expertise and will be able to implement it recursively.

[2022-07-09 14:27] #730 closed

[2022-07-09 15:13] samreid commented on #755
The problem was that there is a `link` method a few lines after that StopwatchNode is instantiated, which overrides the formatter options and uses the default number of decimal places.  In a commit, I'll factor out the number of decimal places and use it in both places.

[2022-07-09 15:14] samreid commented on #755
Fixed and ready for review.

[2022-07-11 22:23] pixelzoom commented on #755
👍🏻 closing.

[2022-07-11 22:23] #755 closed

[2022-07-13 16:37] marlitas commented on #748
TriangleNode has been implement into both proportionPlayground and Blackbody-spectrum. Implementing into proportion playground was not as straightforward and required the use of magic numbers to match original. I was not able to understand the local coordinate system on my own and would like review from @jonathanolson as responsible dev to properly implement TriangleNode into proportionPlayground

[2022-07-14 23:26] zepumph commented on #540
This will most likely block Projectile Motion publication, which we may get to in a couple of  months.

[2022-07-19 17:30] pixelzoom opened #758 "Problems converting scenery-phet/js/keypad/ to TypeScript."
I attempted to convert scenery-phet/js/keypad/ to TS, and I ran into lots of problems. After 2.5 hours, I bailed.  So I'm going to ask the original author @jbphet to handle this conversion.

- [x] Contrary to the documentation, `KeyID` is an object literal, not an enumeration.  So everywhere that you've used `{KeyID}`, there is no such thing, it's actually `{string}`. And what's in the accumulator

[2022-07-20 20:43] pixelzoom opened #759 "Use KeyboardHelpIconFactory.iconRow where possible"
KeyboardHelpIconFactory looks like it has several methods that should be using KeyboardHelpIconFactory.iconRow.  This will be handled after TS conversion. Self-assigning.

[2022-07-20 21:06] pixelzoom commented on #759
In the above commit, I added a demo of all KeyboardHelpIconFactory methods, so that I can confirm that I don't change behavior by mistake.  Here's a screenshot before making changes:

<img width="1070" alt="screenshot_1792" src="https://user-images.githubusercontent.com/3046552/180082164-e3681c77-a6a7-43e3-a724-6a0635405a75.png">
@

[2022-07-22 17:42] pixelzoom opened #760 "KeyboardHelpSection uses undefined option `a11yContentTagName`."
I ran into problems when attempting to convert `KeyboardHelpSection` to TS.  Option `a11yContentTagName` is not used in `KeyboardHelpSection` or its superclass `ReadingBlock( VBox, 0 )`.

In KeyboardHelpSection constructor:

[code]

When I converted this to `optionized`, a TS error occurred for `a11yContentTagName`.  It's not defined in the parent options `ReadingBlockOptions & VBoxOption`.

Searc

[2022-07-22 17:50] pixelzoom commented on #756
Or perhaps they are in scenery-phet because scenery does not have a demo, and scenery-phet is at least related to scenery?  If that's the case, then why is there a Layout screen in sun demo that deals entirely with scenery layout?

[2022-07-22 17:55] jessegreenberg commented on #760
In my working copy `a11yContentTagName` is forwarded to an `iconVBox` in the `KeyboardHelpSection` constructor. Thanks for converting and let me know if you would like me to continue with any of these files.

[2022-07-22 18:02] pixelzoom opened #761 "Replace MovableDragHandler with DragListener"
MovableDragHandler has been deprecated for almost 4 years (10/2018), and DragListener (its replacement) has been available 5+ years (02/2017).  Let's convert the remaining usages, and delete MovableDragHandler.

For chip-away, the remaining 20 usages are in 6 sims:

- [x] 6 bending-light @samreid
- [x] 2 capacitor-lab-basics @jonathanolson
- [x] 1 energy-forms-and-changes @chrisklus
- [x] 6 fluid-

[2022-07-22 18:16] pixelzoom commented on #760
Yes, I see that. But VBoxOptions has no `a11yContentTagName`, see below.  Where is this option defined, where is it documented, where is it used?

<img width="1536" alt="screenshot_1795" src="https://user-images.githubusercontent.com/3046552/180499676-6200d820-8d65-4a43-acd1-c08ebadfcd07.png">

[2022-07-22 18:18] pixelzoom commented on #761
energy-forms-and-changes was converted in the above commit. @chrisklus please review, unassign yourself when done.

[2022-07-22 18:20] pixelzoom commented on #760
Oh, I see:

[code]

So `a11yContentTagName` should be included in `SelfOptions` for KeyboardHelpSection.

[2022-07-22 18:26] #760 closed

[2022-07-22 18:53] pixelzoom opened #762 "Convert KeyboardHelpSection and subclasses to TypeScript"
This is turning into quite a project, so deserves its own issue.

[2022-07-22 19:48] pixelzoom commented on #762
In the above commit, I made a first pass at converting `KeyboardHelpSection` to TypeScript.   This was quite the project, 2+ hours of work. I ran into many problems, and the code is now littered with `TODO`, `@ts-ignore`, and `eslint-disable-next-line`.

Over in https://github.com/phetsims/scenery-phet/issues/760#issuecomment-1192810288, @jessegreenberg said

So @jessegreenberg if you don't mind,

[2022-07-22 23:24] pixelzoom opened #763 "Problems with NextPreviousNavigationNode"
Before attempting to convert NextPreviousNavigationNode, I added demoNextPreviousNavigationNode.ts, because I wasn't familiar with it.

These things need to be fixed:

- [ ] The constructor has separate parameters for `selfOptions` and `nodeOptions`. These should be combined:

- [ ] Layout seems broken. In demoNextPreviousNavigationNode.ts, I used a `Circle` with radius: 30 for `centerNode`. The l

[2022-07-22 23:27] pixelzoom commented on #763
This component is so not-ready for common code that I considered moving it back to build-a-molecule, which is the only place where's it's being used.  I don't think we want this being used in other sims.   And I think it would be probably be better to start over than to try to fix this and bring it up to dev and UX standards.  So as a first step, I'm going to mark it as `@deprecated`.

[2022-07-22 23:29] pixelzoom commented on #763
I'm also going to delete the demo. Here it is, in case you need to refer to it.

<details>
<summary>demoNextPreviousNavigationNode.ts</summary>

[code]

</details>

[2022-07-22 23:32] marlitas commented on #743
The SyncIcon has changed and is no longer similar to ResetShape. Will revert changes to ResetShape.ts.

[2022-07-26 23:42] samreid commented on #761
Can I mark this as high-priority to put it on my "to-do" list?

[2022-08-01 14:18] terracoda commented on #610
I have documented a design pattern for this control in the documentation for the Description Course.

Please see _Timing Control_ under the **Customized & Grouped Interactions** section in this extensive tip sheet covering [Design Patterns for Multi-State & Customized Interactions](https://docs.google.com/document/d/1TMpO399c9PvhnZ2f1uKRm30JARcB5FtR1lybq8Aow34/edit?usp=sharing)

I am not sure wher

[2022-08-01 14:23] terracoda commented on #610
I think I can close this issue since we have a documented design pattern. And I'll just copy the tip sheet covering [Design Patterns for Single- & Two-State Interactions](https://docs.google.com/document/d/1Oc32zLgdPDCMQmcff82hXWsTk_E0BLf9Ohwc9pD1ZZ4/edit?usp=sharing) as well into this issue.

We can open another issue, if the design pattern for _Timing Control_ or any other interactive object nee

[2022-08-01 15:58] zepumph commented on #759
Looks really good. Thanks for this.

[2022-08-01 22:21] marlitas commented on #743
Reverted commits that provided options to ResetShape. Closing.

[2022-08-01 22:21] #743 closed

[2022-08-04 13:01] pixelzoom commented on #610
I don't think we need another issue, so reopening this one.

Another document or this GitHub issue is not a good place for this info. We'll never find it, and it's not scalable to other UI components.  PhET has a process for this, it just doesn't seem to be getting used.  So yes, we need to consider binder and .md files.

For those who are new to the team... Awhile back, PhET started documenting d

[2022-08-04 15:14] #759 closed

[2022-08-04 18:59] zepumph commented on #761
Noted today at developer meeting. Thanks for making this happen @pixelzoom.

[2022-08-04 22:52] terracoda commented on #610
I can look at this for quater 4.

[2022-08-04 22:52] terracoda commented on #610
These are helpful questions, @pixelzoom.

[2022-08-08 16:21] marlitas commented on #751
This has been addressed in the above commit. Thanks all for the suggestions and help.

[2022-08-08 16:21] #751 closed

[2022-08-08 20:41] samreid commented on #746
In the commits, I normalized MoveToTrashButton so now it looks like so:

<img width="417" alt="image" src="https://user-images.githubusercontent.com/679486/183510326-9bdea19e-61b1-4bb0-a01d-300ad3ae647b.png">

It also has a new option that can be used to change the icon size.

In order to support the existing use cases, I factored out a subclass MoveToTrashLegendButton so that those customizations

[2022-08-11 17:47] jessegreenberg commented on #761
Visited during dev meeting 8/11/22 -

@marlitas volunteered to take on FPAF, thanks! Otherwise we will continue with this as a chip-away.

[2022-08-12 18:40] marlitas commented on #761
Addressed all usages of MovableDragHandler in fluid pressure and flow. Unassigning.

[2022-08-13 02:25] jonathanolson opened #764 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-15 22:51] jessegreenberg commented on #762
The above commits handled the TODOs in KeyboardHelpSection. Many were good recommendations outside of TS work. I am ready to convert the remaining KeyboardHelpSections to finish this up but I am out of time for tonight.

[2022-08-15 23:16] jessegreenberg commented on #762
The above commits handled the TODOs in KeyboardHelpSection. Many were good recommendations outside of TS work. I am ready to convert the remaining KeyboardHelpSections to finish this up but I am out of time for tonight.

[2022-08-18 18:23] zepumph commented on #22
This issue has been superceded by https://github.com/phetsims/rosetta/issues/221.

[2022-08-18 18:23] #22 closed

[2022-08-25 17:06] KatieWoe opened #765 "CT Cannot read properties of undefined (reading 'value')"
[code]

[2022-08-25 17:23] samreid commented on #761
@marlitas graciously volunteered to work on the remainder of this issue, thanks!

[2022-08-25 17:26] samreid commented on #765
At today's dev meeting, @jessegreenberg volunteered to investigate.  Thanks!

[2022-08-25 23:17] pixelzoom commented on #746
Skimmed the changes, reviewed the demo.  I don't see any problems.  Nice improvements. Closing.

[2022-08-25 23:17] #746 closed

[2022-08-26 15:33] marlitas commented on #381
@pixelzoom recommended that I pass children into the ScreenView super constructor (https://github.com/phetsims/mean-share-and-balance/issues/44), however  @samreid and I ran into an assertion error. The assertion error was: `hasChild needs to be called with a Node`.

The lines in question were:
[code]

[2022-08-26 18:42] marlitas commented on #381
The above commit fixed this behavior. @jessegreenberg, can you review and if all seems good close?

[2022-08-26 18:55] jessegreenberg commented on #381
This makes sense, thanks!

[2022-08-26 18:55] #381 closed

[2022-08-29 19:48] Nancy-Salpepi opened #766 "Touch outline doesn't reflect touch area with locales other than English"
When testing Gravity and Orbits (https://github.com/phetsims/qa/issues/830), using ?showPointerAreas, when I change locale, the outline for touch isn't accurate, but where touch works/doesn't work is.
For example, when the locale is español, the touch outline doesn't extend to the end of the text. However, if I touch outside the red outline on the iPad, the checkbox will get checked/unchecked.

ht

[2022-08-29 22:14] marlitas commented on #761
Capacitor lab basics conversion is being real wonky so saving this patch here as I move onto others and come back to it.

<details>

[code]

<details/>

[2022-08-30 02:52] marlitas opened #767 "Multiple sims define: DraggableRulerNode and PeriodTimerNode"
While working through https://github.com/phetsims/scenery-phet/issues/761, I noticed that most of the sims I was converting implement and define their own `DraggableRulerNode` and `PeriodTimerNode`. From initial glance it seems like these have similar functionality, and there was a lot of code repetition.

I created this issue to track this observation, and will do further research tomorrow to det

[2022-08-30 03:07] marlitas commented on #761
All usages of MovableDragHandler have been converted to DragListener. I did a search through the project and also updated mentions of MovableDragHandler in documentation and variable names.

Assigning review to responsible devs for affected sims:
 - capacitor-lab-basics @jonathanolson
 - fluid-pressure-and-flow @zepumph
 - masses-and-springs @chrisklus
 - pendulum-lab @jonathanolson

[2022-08-30 03:09] marlitas commented on #761
Adding back to Developer Meeting for PSA... not sure if next steps need to be taken with the deprecated class?

[2022-08-30 16:32] marlitas commented on #761
Working with @samreid to remove MovableDragHandler from the codebase

We found that:
- SimpleDragHandler is deprecated as well.
- NodeDragHandler was copied over from MovableDragHandler and should also be deprecated: https://github.com/phetsims/fraction-comparison/issues/42

[2022-08-30 16:34] marlitas opened #768 "Replace SimpleDragHandler with DragListener"
During work for: https://github.com/phetsims/scenery-phet/issues/761, @samreid and I found that `SimpleDragHandler` is deprecated and should be converted to `DragListener` as well.

We found 30 use cases.

In initial discovery, we converted `LaserNode` in Bending Light, and `BlackBodySpectrumThermometer` in Black Body Spectrum, and found the conversion to be incredibly simple and quick. We would l

[2022-08-30 16:51] marlitas commented on #761
We deleted MovableDragHandler and will continue work in https://github.com/phetsims/scenery-phet/issues/768. Closing.

[2022-08-30 16:51] #761 closed

[2022-08-30 17:46] pixelzoom opened #769 "Add support for dynamic locale to Keyboard Help"
Keyboard Help (scenery-phet/js/keyboard) currently does not support dynamic strings, and @jessegreenberg reports that dynamic layout is untested.

In https://github.com/phetsims/geometric-optics/issues/441, I'm adding support for dynamic layout to Geometric Optics, and it has many translated strings that appear in Keyboard Help.  I'm going to convert what is needed for Geometric Optics, then pass

[2022-08-30 18:00] pixelzoom commented on #769
Ugh, this code is still in JavaScript.  This would be so much easier if it was in TypeScript, because it deals with a `string` vs `string | TReadOnlyProperty<string>` type change.

[2022-08-30 19:49] pixelzoom commented on #769
I made good progress for Geometric Optics, see screenshot below.  Everything that's sim-specific is now supported by common code. I haven't seen any layout problems yet.

What I addressed in common code:
* All of the utility functions in `KeyboardHelpSectionRow`.
* All of the common-code help sections, except `SliderControlsKeyboardHelpSection`.
* Converted remaining files to TypeScript (wish I'd

[2022-08-30 21:53] zepumph commented on #766
We found that CheckboxPanel in GAO code was overwriting the touchArea for checkbox, but not the mouse area, so the common Checkbox mouseArea was dynamically updating, but the touchArea was smart enough to not overwrite client code. Deleting these lines "solves" the dynamic part of the problem but we need to be able to support this custom touch area.

https://github.com/phetsims/gravity-and-orbits/

[2022-08-31 05:24] samreid commented on #766
I converted Gravity and Orbits to use VerticalCheckBoxGroup, and that went well.  Next, I saw that the touch/mouse area bounds weren't updating on locale switch due to these guards: `_isTouchAreaCustomized` and `_isMouseAreaCustomized` which were enabled by VerticalCheckboxGroup manually setting the Checkbox pointer area and touch area.  By sending those options through the constructor, it can rem

[2022-08-31 17:28] zepumph commented on #769
This is a big one for me over in https://github.com/phetsims/ratio-and-proportion/issues/499, co-assigning.

[2022-08-31 17:31] zepumph commented on #766
Yes. That looks amazing. Thanks!

[2022-08-31 19:05] samreid commented on #766
Excellent, thanks!  Closing.

[2022-08-31 21:27] samreid commented on #766
Actually @Nancy-Salpepi can you please spot test in master?

[2022-09-01 16:52] Nancy-Salpepi commented on #766
Looks good on master with mac and the iPad. @samreid thanks for showing how to test all locales on master at status!

[2022-09-08 15:40] jessegreenberg commented on #762
Looks like the remaining files have been converted to TypeScript, thanks! Closing.

[2022-09-08 18:03] jonathanolson commented on #768
@marlitas will take the lead, and I'll be available for backup/questions.

[2022-09-08 20:05] samreid commented on #768
For a process, I would recommend using a regex to detect all `// eslint-disable-line` that ends there (maybe it is a `$`), query-replace them all with the empty string.  Run lint-everything in WebStorm popup window so you can tap on links to visit each case, then add-back the line with the specific rule that is failing there.

[2022-09-08 21:34] samreid commented on #345
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:35] samreid commented on #613
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:35] samreid commented on #693
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:42] pixelzoom commented on #345
TODO deleted. Closing.

[2022-09-08 21:42] #345 closed

[2022-09-08 21:43] pixelzoom commented on #613
Here's the remaining TODO:

[code]

[2022-09-08 21:56] jessegreenberg commented on #693
This TODO was added to identify the core problem of this issue. It should be removable now that this is fixed. I verified that the `focus` listener in the GrabDragInteraction is called so the TODO no longer applies and can definitely be removed now.

[2022-09-08 21:56] #693 closed

[2022-09-13 00:25] pixelzoom opened #770 "NumberDisplay fails if valuePattern === ''"
As discovered in https://github.com/phetsims/beers-law-lab/issues/291, NumberDisplay fails when its `valuePattern` is an empty string.  This can happen if there's a bad translation.

The offending code in NumberDisplay is:

[code]

[2022-09-13 00:31] pixelzoom commented on #770
Fixed in the above commit, closing.

[2022-09-13 00:31] #770 closed

[2022-09-13 14:09] #764 closed

[2022-09-20 01:13] jonathanolson commented on #726
I believe ReadOnlyProperty is now part of the axon hierarchy. @samreid anything left to do here?

[2022-09-22 04:12] samreid commented on #726
To clarify, `interface ReadOnlyProperty` was removed in https://github.com/phetsims/axon/commit/5a14223cf02db039ea34c6e04ec370a47fab76d0.  Then in June we added `class ReadOnlyProperty` in https://github.com/phetsims/axon/issues/382, which has been working much better.  So I think that aspect of the issue can be closed.

I'm uncertain about https://github.com/phetsims/scenery-phet/issues/726#issue

[2022-09-23 21:26] jessegreenberg commented on #711
Thanks for adding this, these changes look good.

[2022-09-23 21:26] #711 closed

[2022-09-23 21:29] jessegreenberg commented on #765
This is no longer an issue on CT and I just confirmed that unit tests for scenery-phet are passing locally.

[2022-09-23 21:29] #765 closed

[2022-09-26 21:29] pixelzoom opened #771 "Memory leaks introduced by dynamic strings"
I’m finding memory leaks in common-code UI components due to how support was added for dynamic locale. It’s not enough to simply change a parameter or option from `string` to `TReadOnlyProperty<string>` .  You also need to dispose of the Text/RichText instance that you’re passing that parameter to.

So far I've found leaks in the following components (not a complete list):

- [x] NumberControl @jo

[2022-09-26 21:43] pixelzoom commented on #771
@marlitas please review the fix to QuestionBar in https://github.com/phetsims/scenery-phet/commit/a8c0f3b859d166c12d1ac24989f475f6f9838ebb. Let me know if you have any questions, unassign yourself after review.

[2022-09-26 21:57] pixelzoom commented on #771
@jonathanolson please review fixes to MenuItem in https://github.com/phetsims/sun/commit/39081e82ec1ea6e77bb130dffdc86c9b1861f5dc.  There are 2 memory leaks, and a few bad names: `text: TReadOnlyProperty<string`, `textNode = new Text`,...

[2022-09-26 22:00] pixelzoom commented on #771
@jonathanolson please review fix to NumberControl in https://github.com/phetsims/scenery-phet/commit/0eed95f68bae90e3355f7ee0e1cfd95d5d87e368.

[2022-09-26 22:11] pixelzoom commented on #771
@jonathanolson please review the fix to KeypadDialog in https://github.com/phetsims/scenery-phet/commit/fe0f376ce4bc2b8f314137195625b8b45280014c. There was 1 memory leak.

[2022-09-26 22:18] pixelzoom commented on #771
I've fixed all of the memory leaks that I was able to identify. Not confident that I got them all.

@jonathanolson @marlitas high priority on review please.

[2022-09-26 23:49] jonathanolson commented on #771
I reviewed all of the changes, they look good (I believe this can now be unblocking if @marlitas should further review the change). Apologies about those regressions!

[2022-09-29 20:31] pixelzoom opened #772 "Buggy readingBlockNameResponse in KeyboardHelpSection"
Re this lint rule: https://github.com/phetsims/chipper/issues/1338

It exposed a problem in KeyboardHelpSection.ts.  Relevant code:

[code]

Line 189 in the above block of code is suspect:

[code]

`row.readingBlockContent` is of type `VoicingResponse | null`, and `VoicingResponse` does not implement `toString`.  So will currently added either "[object Object]" or "null" to `readingBlockNameRespon

[2022-10-03 21:04] pixelzoom opened #773 "Alternative input design for FaucetNode"
Discussed briefly with @arouinfar via Zoom.  This is a prerequisite to https://github.com/phetsims/ph-scale/issues/249 (support for alt input). @kathy-phet FYI.

FaucetNode is a common-code UI component used for the faucets in pH Scale and many other sims.  It needs alt input design, including answers to the following:

- [ ] Which keys are used?
- [ ] What are the defaults for KeyboardDragListene

[2022-10-04 13:49] pixelzoom commented on #772
I was surprised that this problem went away when https://github.com/phetsims/chipper/issues/1338 was closed by @zepumph.  Then I discovered that VoicingResponse is defined as:

[code]

which evaluates to:

[code]

It would seem that `() => ResolvedResponse` does not have a useful `toString`, so I'm not sure how line 189 above works when `row.readingBlockContent` is a function.

[code]

[2022-10-04 13:58] pixelzoom commented on #757
@kathy-phet please prioritize this work.

[2022-10-04 13:58] pixelzoom commented on #754
@kathy-phet please prioritize this work.

[2022-10-04 13:59] pixelzoom commented on #733
@kathy-phet please prioritize this review.

[2022-10-04 14:00] pixelzoom commented on #748
@kathy-phet please prioritize this review.

[2022-10-04 14:02] pixelzoom commented on #726
Remaining TypeScript work is in scenery-phet is tracked in separate issues. So this issue can be closed.

[2022-10-04 14:02] #726 closed

[2022-10-04 14:03] pixelzoom commented on #722
No progress noted since Feb 1.  @kathy-phet please prioritize.

[2022-10-04 14:04] pixelzoom commented on #634
Assigning to @kathy-phet to prioritize.

[2022-10-04 14:19] pixelzoom commented on #447
Reviewing scenery-phet issues for Q4 planning...

This issues seems to have problems wrapping up. It's 3+ years old, and I'm growing weary of having to manage other people's work. @jessegreenberg @zepumph @kathy-phet.

[2022-10-04 14:20] pixelzoom commented on #703
Reviewing scenery-phet issues for Q4 planning...

No progress in over year. Assigning to @kathy-phet to prioritize.

[2022-10-04 14:20] pixelzoom commented on #708
Reviewing scenery-phet issues for Q4 planning...

No progress in almost a year. Assigning to @kathy-phet to prioritize.

[2022-10-04 14:21] pixelzoom commented on #710
Reviewing scenery-phet issues for Q4 planning...

No progress in in 10 months. Assigning to @kathy-phet to prioritize.

[2022-10-04 14:22] pixelzoom commented on #716
Reviewing scenery-phet issues for Q4 planning...

No progress or response in 10 months. Assigning to @kathy-phet to prioritize.

[2022-10-04 14:26] pixelzoom commented on #747
@Luisav1 reminder that this issue is assigned to you for review. Let me know if you have questions.

[2022-10-04 14:28] pixelzoom commented on #702
Reviewing scenery-phet issues for Q4 planning...

This has been ready-for-review for > 1 year, and was apparently on @jessegreenberg quarterly goals to review. @kathy-phet please prioritize.

[2022-10-04 14:30] pixelzoom commented on #320
Reviewing scenery-phet issues for Q4 2022 planning...

Looks like this stalled out in Feb 2021, and is waiting on feeback from @jessegreenberg.  @kathy-phet please prioritize.

[2022-10-04 14:32] pixelzoom commented on #401
Reviewing scenery-phet issues for Q4 2022 planning...

@samreid TimerNode no longer exists.  Do you recall what this was referring to? Has the work been done?

[2022-10-04 14:36] pixelzoom commented on #445
Reviewing scenery-phet issues for Q4 2022 planning...

@zepumph status of this issue? I see no MovementDescriber, maybe it's MovementAlerter now?   And it does live in scenery-phet.

[2022-10-04 14:40] pixelzoom commented on #610
Reviewing scenery-phet issues for Q4 2022 planning...

@terracoda reminder that you said:

[2022-10-04 14:44] pixelzoom commented on #656
There are no plans to change DragBoundsProperty, because it's a bad approach. It's marked as deprecated, so devs can replace as they see fit.  Closing.

[2022-10-04 14:44] #656 closed

[2022-10-04 14:45] pixelzoom commented on #701
Reviewing scenery-phet issues for Q4 2022 planning...

No response from @jessegreenberg in > 1 year.  @kathy-phet please prioritize.

[2022-10-04 14:49] pixelzoom commented on #691
Reviewing scenery-phet issues for Q4 2022 planning...

@zepumph status?

[2022-10-04 14:51] pixelzoom commented on #682
Reviewing scenery-phet issues for Q4 2022 planning...

There has been no progress on this, assigned to @jessegreenberg .  We worked around this in Fourier, but it's needed in MOTHA. @kathy-phet please prioritize.

[2022-10-04 17:59] samreid opened #774 "GridBox yAlign top didn't work as expected"
From https://github.com/phetsims/gravity-and-orbits/issues/448 @zepumph and @jonathanolson and I tried this code:

<details>

[code]

</details>

And we saw the yAlign wasn't working:

<img width="792" alt="image" src="https://user-images.githubusercontent.com/679486/193892085-27d87a3d-770e-465f-9b0c-555eec8a8fd9.png">

@jonathanolson volunteered to take a look.

[2022-10-04 18:54] jessegreenberg commented on #692
Documentation updated above.

I still have the opinion that a GrabDragInteraction that does nothing with default options is confusing and I think requiring a KeyboardDragListener is a way to prevent that confusion.

Closing.

[2022-10-04 18:54] #692 closed

[2022-10-04 19:04] jessegreenberg commented on #445
I am not sure about the remaining work for this one, @zepumph can it be closed?

[2022-10-04 19:17] jessegreenberg commented on #320
It looks like FAMB and balancing-act *are* the same images with different scales already. I am fine moving this to common code but it doesn't seem like a big improvement. That trash can looks dated and I doubt we will use that image again in a sim.

Its probably a quick task though, @kathy-phet would you like someone to do this?

[2022-10-04 19:25] jessegreenberg commented on #702
Reviewed, looks good!

Excellent! Happy to hear it.

[2022-10-04 21:05] pixelzoom commented on #773
In addition to general design, we need input from the a11y team on how this should be implemented.  Should it use AccessibleSlider or KeyboardDragListener?  And what do you recommend for keyboard help.  Assigning to @jessegreenberg and @terracoda.

[2022-10-04 21:06] pixelzoom commented on #773
I should mention again that this is high priority, because pH Scale and pH Scale: Basics are included in the PhET-iO batch release https://github.com/orgs/phetsims/projects/44.

[2022-10-04 21:19] #702 closed

[2022-10-04 21:29] pixelzoom commented on #773
@arouinfar here's a strawman for the keyboard help, implemented in ph-scale master.  For the general case, the "Dispsense a small amount" row is optional, to match how the FaucetNode is configured by the sim.  The optional `closeOnRelease` of behavior of FaucetNode is not mentioned in the keyboard help - does it need to be?   Let me know what you'd like to change.

Also note that FaucetNode curren

[2022-10-04 23:44] pixelzoom commented on #771
@marlitas if https://github.com/phetsims/scenery-phet/commit/a8c0f3b859d166c12d1ac24989f475f6f9838ebb looks OK to you, and you don't have any questions, feel free to close this issue.  If you have questions, ping me on Slack.

[2022-10-04 23:53] pixelzoom commented on #773
Oh my.  My mistake - FaucetNode does how alt input support for its slider aspect.  I didn't realize this because there seems to be an assuption that the FaucetNode is point to the right.  In pH Scale, all of the FaucetNode point to the left.  So (for example) pressing the right arrow move the faucet knob to the left.

After thinking about it, I sort of get it -- left means decrease the slider valu

[2022-10-05 00:01] pixelzoom commented on #773
I'll also note that alt input support for the `tapToDispenseEnabled` feature was _not_ added when AccessibleSlider was added. Was that feature intentionally omitted from the alt input design?  Is there an alt input design for FaucetNode that I can refer to?

[2022-10-05 00:04] pixelzoom commented on #773
The current alt input implementation is also buggy.  When the beaker is full in pH Scale, the faucet continue to dispense little bursts of "flow".  And it gets stuck in this state, where the flow is off, but there's still fluid visible:

<img width="950" alt="screenshot_1907" src="https://user-images.githubusercontent.com/3046552/193952064-265a2ba5-1a56-416e-baec-c4ac797292fb.png">

[2022-10-05 00:10] pixelzoom commented on #773
@arouinfar @terracoda This is another case (similar to https://github.com/phetsims/scenery-phet/issues/610) where a .md file describing the design would be helpful.   So let's make sure that happens as part of this issue.

[2022-10-05 01:05] pixelzoom commented on #773
Since FaucetNode is currently implemented as AccessibleSlider, what I proposed for keyboard help in https://github.com/phetsims/scenery-phet/issues/773#issuecomment-1267598379 is incomplete.  So it made sense to use the common-code help for "Slider Controls" help, with a more specific title.   For example, see the help for the _Macro_ screen below.

What's probematic about this is that I haven't b

[2022-10-05 13:06] jessegreenberg opened #775 "Improve the implementation of cue Node transformations in GrabDragInteraction"
From https://github.com/phetsims/scenery-phet/issues/447, there is a remaining piece of work:

It would be good to improve this. We haven't had problems over several years, so it is probably low priority until we do.

[2022-10-05 13:06] jessegreenberg commented on #447
The remaining work in this issue was to improve the transforms for the focus highlights but we haven't had time to do that. Lets close this issue and make a new one just for that but it will probably be low priority. See https://github.com/phetsims/scenery-phet/issues/775. @zepumph is that OK with you?

[2022-10-05 13:37] marlitas commented on #771
Looks good to me. Closing!

[2022-10-05 13:37] #771 closed

[2022-10-05 14:14] jessegreenberg commented on #773
I recall testing AccessibleSlider in FaucetNode many years ago in the PhET team a11y sprint. I don't think it ever saw through full design beyond that.

The first thing I noticed when trying it out was `closeOnRelease` is very annoying when using a keyboard. We might want to ignore or change that feature somehow for alt input.

I don't know how important it is to control the flow rate, but a much

[2022-10-05 14:59] terracoda commented on #773
I agree with @jessegreenberg, I don't think the pull-faucet maps well to a slider and is more like a toggle.

Waves Intro uses a toggle button to release drops of liquid.

[2022-10-05 15:01] zepumph commented on #445
Yes. The work outlined in https://github.com/phetsims/scenery-phet/issues/445#issuecomment-435210375 makes sense, but it hasn't been important or useful in the last 4 years of description implementation. We can hold off until we hit this again, or just make a new implementation then. Closing

[2022-10-05 15:05] zepumph commented on #773
I think it would be worth spending a bit of time implementing with a toggle button interaction as an investigation before we make the decision. Most likely we won't know if it will be an acceptable simplification until we feel it out.

[2022-10-05 16:30] zepumph commented on #447
Sounds great!

[2022-10-05 16:30] #447 closed

[2022-10-05 16:37] zepumph commented on #439
Sounds good to me!

[2022-10-05 17:40] jessegreenberg commented on #773
I changed FaucetNode to use `tapToDispense` for alt input so a bit is let out every enter/spacebar press. It seemed like a nice place to start and feel it out since that function is already available. But it could also be switched to an on/off toggle without a timer.

@arouinfar @terracoda over to you to try it out and comment on next steps!

[2022-10-05 22:53] arouinfar commented on #773
There is a lot of nuance around the way the FaucetNode behaves in different sims. Sometimes it's important for users to set the flow rate of the FaucetNode. Sometimes it's important for the faucet to `closeOnRelease` because users need to actively control the flow of water. Sometimes it's important to dispense a precise amount of water when clicking on the faucet to allow for finer adjustment of t

[2022-10-06 16:28] zepumph commented on #775
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:28] zepumph commented on #773
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:29] zepumph commented on #682
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:29] zepumph commented on #681
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:29] zepumph commented on #680
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:30] zepumph commented on #710
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:30] zepumph commented on #708
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-06 16:30] zepumph commented on #703
****

[2022-10-06 16:31] zepumph commented on #691
Subset of https://github.com/phetsims/scenery/issues/1298

[2022-10-07 16:47] zepumph commented on #749
@jessegreenberg and I want to create a more general HotKey class and manager that knows about all keys registered, and delivers a consistent API.

[2022-10-07 18:40] pixelzoom commented on #773
I'm going to unassign myself for now.  It feels like there are already too many people involved, and I'm happy to use (in ph-scale) whatever the designers/a11y team come up with. I'll be on vacation for a couple of week, feel free to ping me if you need my input.

[2022-10-08 08:24] terracoda commented on #773
Are learners expected to move their attention to some where else while the faucet is on?

[2022-10-10 21:47] samreid commented on #439
I'll check if we should remove some instrumentation.

[2022-10-11 04:07] samreid commented on #439
This work will include but not be limited to the following:

* removing tandems and phet-io metadata from:
  * sun-main.js
  * scenery-phet-main.js
  * sun/js/demo/**
  * scenery-phet/js/demo/**
* NOTE: Do not delete `cacheDemos` because it is used outside of PhET-iO, see https://github.com/phetsims/sun/issues/386
* Remove phet-io brand from their package.jsons
* See if other common repos have par

[2022-10-11 21:03] zepumph commented on #439
Why remove the scaffolding? What if in the future we want to test out a common code element in studio. Wouldn't it be best to have the ability to pass a tandem to it?

[2022-10-12 01:45] samreid commented on #439
That sounds reasonable to me.  I am happy to close this issue, but first there seems to be one inconsistency that sun/package.json lists brands: 'phet-io' but scenery-phet does not.  So for now, I've added phet-io to scenery-phet, in case we do want to test a common code component in the demo + studio.  Closing, but please reopen if this is incorrect or if there is more to do.

[2022-10-12 16:29] KatieWoe opened #776 "CT: required tandems must be supplied"
[code]

[2022-10-13 17:27] jonathanolson commented on #722
I don't see this happening in CT, and fuzzing for 30min didn't show this.

[2022-10-13 21:11] pixelzoom commented on #776
According to CT history, this problem started 10/12/2022, 7:15:15 AM.  It's been occurring on every CT cycle since then.

The only commit I see to scenery-phet since then is by @zepumph in https://github.com/phetsims/scenery-phet/commit/775865131b92ea745689feabe7805c8cb01b4ce5.  So I'll start by assigning to him.

[2022-10-13 21:14] pixelzoom commented on #776
In https://github.com/phetsims/scenery-phet/commit/775865131b92ea745689feabe7805c8cb01b4ce5, it looks like @zepumph added phet-io features to package.json without running `grunt update`.

[2022-10-13 22:22] zepumph commented on #776
While it does look like my commit broke it, `grunt update` shouldn't be picking up extra changes. Seems like it is from https://github.com/phetsims/scenery-phet/commit/62051ecb27f84d4f14e0a0764a605eeddf5eac39 over in https://github.com/phetsims/scenery-phet/issues/439

[2022-10-13 22:25] zepumph commented on #776
adding validation: false did the trick

[2022-10-13 22:25] #776 closed

[2022-10-14 11:17] veillette opened #777 "Create a GridIcon"
Grid icons are commonly used in our simulations to illustrate gridlines for a graph. At this point, PhET has settled on the look of the grid icon. However, the common code does not have Grid icon. The closest we have to a grid icon in the common code is the GridCheckbox in Scenery-PhET, which wraps a GridIcon into a checkbox.

However, I would like to make the case that it would be preferable to e

[2022-10-14 11:18] veillette commented on #777
Assigning to @pixelzoom since he created  GridCheckbox.

[2022-10-14 11:19] veillette commented on #777
Looping in @jessegreenberg, since it may be useful to the quadrilateral sim

[2022-10-16 12:49] pixelzoom commented on #777
Ready for review by @veillette.

I factored out GridIcon, which is used by GridCheckbox.  Uses of GridCheckbox were modified to use the revised  GridCheckboxOptions.

GridIcon is currently constrainted to be an NxN grid, which is sufficient for all of the current use cases and simplifies the caller's API.  It would be easy to generalize to an MxN grid, but I felt like we should wait until that's n

[2022-10-17 11:59] pixelzoom commented on #211
MOTHA is on hold indefinitely, so this issue is no longer a priority. Unassigning until MOTHA is scheduled.

[2022-10-17 15:53] veillette commented on #777
Thanks @pixelzoom,it is a nice generalization. I agree that we don't need MxN grid at this point.

I did a cursory check to see if other simulations could make use of the gridIcon.
- Quadrilateral uses a gridIcon
- AreaBuilder makes use of a gridIcon, but it is a very special case, where some of the occupied cells are highlighted, to form a tile pattern.
- EnergySkatePark makes uses of a grid Icon

[2022-10-17 16:33] veillette commented on #777
The work is done here. Closing

[2022-10-20 14:47] jessegreenberg commented on #679
https://github.com/phetsims/sun/issues/706#issuecomment-1285676276 Is an example for this issue.

[2022-10-20 21:48] jonathanolson opened #778 "NumberControl's layoutFunctions should be resizable"
Currently layout 4 is resizable (I needed that for a sim) but the others are not. They should support dynamic content.

[2022-10-20 21:49] jonathanolson opened #779 "Drawer should be resizable"
It looks like it's based on static content size. Should be similar to how Panel/ButtonNode was made sizable based on its content.

[2022-10-20 21:55] jonathanolson opened #780 "Convert scenery-phet string usage to dynamic strings"

[2022-10-20 22:04] jonathanolson commented on #756
The demos will be moved to exemplar documentation as part of https://github.com/phetsims/scenery/issues/1474.

[2022-10-21 20:16] zepumph commented on #769
I removed the two TODOs in KeyboardHelpSection, because we are supporting (from an API perspective) passing in a TReadOnlyProperty<string> to the PDOM/Voicing code (readingBlockContent/innerContent).

[2022-10-21 20:21] zepumph commented on #769
- [ ] With all the new PatternStringProperties being created, we need to implement dispose for KeyboardHelpSection to prevent memory leaks with phet-io state recreating the KeyboardHelpDialog.

[2022-10-21 20:51] zepumph commented on #769
- [ ] Please note that the dispose issue is quite a bit more intense than I originally thought. Ratio and Proportion racked up 70MB of memory leak in a few minutes setting a new KeyboardHelpDialog every frame. I believe that each icon created with Text in KeyboardHelpIconFactory will need to support dispose. This is definitely a blocking issue for PhET-iO sims with a keyboard help dialog.

[2022-10-25 15:46] Nancy-Salpepi commented on #766
I am seeing this issue with the options panel in https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845. The touch area outline doesn't accurately show touch area.

For example--if I touch outside the touch area for the Show Bond Angles checkbox, but inside the blue mouse area, it works.
<img width="335" alt="Screen Shot 2022-10-25 at 11 39 24 AM" src="https://user

[2022-10-25 15:49] pixelzoom commented on #780
I'll start working on this.

As noted in 10/24/2022 sprint meeting, I'll probably skip `SceneryPhetStrings.a11y`, because some of the a11y code is still .js, and I'm not familiar with how to test it.

[2022-10-25 16:26] zepumph commented on #769
UPDATE: I will likely apply the above disposal patch after proceeding/finishing with https://github.com/phetsims/joist/issues/874

[2022-10-25 17:10] zepumph commented on #780
I converted all usages of SceneryPhetStrings outside of scenery-phet to be a StringProperty.

[2022-10-25 21:27] pixelzoom opened #781 "StopwatchNode does not update immediately when associated StringProperties are changed."
Related to https://github.com/phetsims/scenery-phet/issues/780 ...

If the value formatter for StopwatchNode is created using `StopwatchNode.createRichTextNumberFormatter`, the displayed value is not immediately updated when the associated StringProperties are changed.  As noted in StopwatchNode.ts:

[code]

[2022-10-25 21:38] pixelzoom commented on #780
@zepumph said:

Just about everywhere this was done, I see this sort of naming problem, e.g. in GFLBVoicingSummaryDescriber.ts:

[code]

The const is a Property, so it should have a "Property" suffix, e.g. `singleScreenIntroPatternStringProperty`.

I have a fix coming shortly.

[2022-10-25 21:40] pixelzoom commented on #780
"Property" suffix added where appropriate in the above commits. @zepumph feel free to take a peek.

[2022-10-25 21:58] pixelzoom commented on #780
@zepumph could you please review https://github.com/phetsims/scenery-phet/commit/ed2a10e88cd4d7422e003f9f562654850224b9ba?  My understanding is that `labelContent` supports type `string | TReadOnlyProperty<string>`.  So `labelString` in SpeedMap entries is unnecessary and undesirable.

[2022-10-25 22:57] pixelzoom opened #782 "Revise documentation for TextKeyNode"
In TextKeyNode.ts:

[code]

This documentation is confusing, because `LetterKeyNode extends TextKeyNode`.   This is actually the base class for all text, single- or multi-character.

[2022-10-25 23:03] pixelzoom opened #783 "Revise implementation of NumberKeyNode"
The current implementation of NumberKeyNode is:

[code]

Being a "number key", it's very odd/unexpected that the constructor does not take a `number` value.  And it allows bogus usages like `new NumberKeyNode( 'A')` and `new NumberKeyNode( 'hello world')`.

It's also missing `NumberKeyNodeOptions`.

Why not something like this?

[code]

Also wondering if `value` should be limited to  integers?  If

[2022-10-25 23:03] pixelzoom commented on #783
@zepumph FYI.

[2022-10-25 23:07] zepumph commented on #769
Also note much of this was covered by https://github.com/phetsims/scenery-phet/issues/780

[2022-10-25 23:09] pixelzoom commented on #783
Since I did most of the work above, I went ahead and reimplemented NumberKeyNode. It's only used in 2 places, in RAP. @zepumph please review.

[2022-10-25 23:11] pixelzoom commented on #783
Since I did most of the work above, I went ahead and reimplemented NumberKeyNode. It's only used in 2 places, in RAP. @zepumph please review.

[2022-10-25 23:32] pixelzoom commented on #780
There are still static strings in 2 files:
- [ ] ScreenSummaryNode.ts
- [ ] SliderControlsKeyboardHelpSection.ts

[2022-10-25 23:41] pixelzoom commented on #780
Looks like there's a bug in SliderControlsKeyboardHelpSection.ts, line 90:

[code]

`keys: keysStringProperty` is going to effectively be `keysStringProperty.toString()`, not `keysStringProperty.value`.   I believe that you need to use DerivedProperty here instead of PatternStringProperty, because there are 2 dependencies.

@zepumph can you please confirm? I can fix, if you don't have time.

[2022-10-25 23:43] pixelzoom commented on #780
Similar bug on line 102, masked by the const name:

[code]

[2022-10-25 23:44] pixelzoom commented on #780
On second thought, I handle SliderControlsKeyboardHelpSection.ts, then have @zepumph review.

[2022-10-26 00:08] pixelzoom opened #784 "Problems with SliderControlsKeyboardHelpSection"
Related to https://github.com/phetsims/scenery-phet/issues/780.  This was buggy to begin with, but may manifest in more tragic ways now that we've converted to using StringProperty.

There are multiple issues with SliderControlsKeyboardHelpSection.ts:

- [ ] ~~All `PatternStringProperty` should be converted to `DerivedProperty`, because there are multiple StringProperty dependencies, not just a pa

[2022-10-26 00:13] pixelzoom commented on #780
package.json now contains `"supportsInteractiveDescription": true,`, and SceneryPhetStrings.ts is exclusively `LinkableProperty<string>`.  So I think this issue is done.

@zepumph anything you'd like to add?  Feel free to close.

[2022-10-26 22:01] marlitas commented on #722
I also am not seeing this in CT anymore. Closing. Please feel free to reopen if this comes up again.

[2022-10-26 22:01] #722 closed

[2022-10-26 23:02] zepumph commented on #783
Love it. Thanks!

[2022-10-26 23:02] #783 closed

[2022-10-27 19:28] zepumph commented on #769
Not blocking for PhET brand.

[2022-10-27 20:13] jessegreenberg commented on #782
I made some improvements in the above commit, @pixelzoom can you please take a look?

[2022-10-27 23:08] chrisklus opened #785 "PhetFont text bounds have changed on macOS"
First reported in https://github.com/phetsims/joist/issues/645 - changes to the font-family of PhetFont have caused text to be positioned differently.

Here are two screenshots to compare (best to open in separate tabs):

before:

![Number Play screenshot (3)](https://user-images.githubusercontent.com/5618316/192333078-322257f6-6aad-469a-9627-f3fa5b054e40.png)

after:

![Number Play screenshot (4)

[2022-10-27 23:38] kathy-phet commented on #785
@jonathanolson - Is there a way to adjust this so its correct for this font family? Or is there something fundamental off here, and the team should look for a different font family? Please comment.

[2022-10-28 01:54] pixelzoom commented on #782
Doc updates look good, nice improvement.

About this in LetterKeyNode.ts:

[code]

Character (glyph) length is not the same as string length. Characters/keys in other languages are multi-byte, and will have a length > 1.  So in general, it not a good idea to assume that string length === 1 in applications that support localization.

Is it going to be a problem here? I'll bet yes, if we have any pl

[2022-10-28 03:42] samreid commented on #769
@zepumph indicated that he and @pixelzoom are taking the lead on this, still I wanted to check the status.

I tested Gravity and Orbits fuzzing in the state wrapper and saw large memory leaks. 100MB over a minute. There is no keyboard help dialog. But I saw the downstream sim creating more and more PreferencesDialogs. Perhaps the state engine clears the capsules before re-triggering creation?  The

[2022-10-28 15:42] jonathanolson commented on #785
It seems likely we may want to try another font family. Likely the font is slightly shorter than the bounds, and has non-vertically-centered math operators.

[2022-10-28 16:24] kathy-phet commented on #785
Can you investigate and try some font families to find an improvement? I think its best to address this asap so we don't end up publishing sims that are using this font family for mac.

Question - is this font family specific to mac os?

[2022-10-28 16:40] kathy-phet commented on #785
@jonathanolson @arouinfar @chrisklus @amanda-phet  - I've read through the issue that motivated the font family change, and through the issues that the font family change caused (off center vertically, and issues with missing characters in other languages - my understanding is the original family didn't have those issues with the international languages.. is that right?).

In my opinion, the origi

[2022-10-28 16:54] pixelzoom commented on #769
I'm seeing bigger memory increases for both phet and phet-io brands, and I doubt that it's all related to keyboard help.

For geometric-optics, master, unbuilt:

For brand=phet, I see a large increase in heap size.  The first 3 snapshots were formerly 42MB, 50MB, 54MB (see https://github.com/phetsims/geometric-optics/issues/372).  They are now 59MB, 88MB, 85MB.

For brand=phet-io, I see a MASSIVE

[2022-10-28 18:57] Luisav1 commented on #747
Thanks @pixelzoom!

@chrisklus, @marlitas, and I first ran the QUnit tests which all passed. We reviewed the cases set for each test which were working as expected.
We also checked the demo in scenery-phet and checked issue https://github.com/phetsims/build-a-nucleus/issues/24 there and a few other cases, that also rounded the numbers correctly.
Lastly, we reviewed the summary bullet points which

[2022-10-28 20:22] samreid commented on #769
(At least part of the) memory issue is due to https://github.com/phetsims/chipper/issues/1323

[2022-10-28 21:06] kathy-phet commented on #785
@jonathanolson - Looks like we have a consensus here from the designers. Can you revert the commit that changed the font family for macOS?

[2022-10-28 21:32] pixelzoom commented on #747
👍🏻 closing.

[2022-10-28 21:32] #747 closed

[2022-10-28 22:34] jonathanolson commented on #785
Font reverted in the commit above.

[2022-10-28 22:35] jonathanolson commented on #785
Couldn't test in number-play (NumberPlayGameLevelNode isn't specifying or allowing a tandem into the InfiniteStatusBar).

[2022-11-01 19:33] chrisklus commented on #785
Thanks @jonathanolson! I tested in Number Compare and things are looking great. (InfiniteStatusBar should have a default tandem option soon.)

Should we close here or is there longer term work to do still?

[2022-11-01 20:59] samreid commented on #769
I measured that it takes about 70ms and 1MB to create a PreferencesDialog in Gravity and Orbits PhET brand.

[2022-11-02 03:44] zepumph commented on #769
With @samreid today I got to a good stopping point.

Here were some pretty nice memory leak testing tips that I will note here.

1. Take a memory profile on startup without doing anything. We will compare to this throughout
1. On startup, create and dispose 10 KeyboardHelpDialogs with something like this (@samreid in https://github.com/phetsims/joist/issues/878 was able to get away with creating 1

[2022-11-02 04:55] zepumph commented on #769
This is definitely a lot better, but we should still take a look to ensure that all is good when creating a lot in the state wrapper.

[2022-11-02 19:09] zepumph commented on #784
I'm not sure I understand, could you paste a proposal example/patch in here. These seem like reasonable usages of PatternStringProperty to me.

PatternStringProperty supports values as Properties now, and listens for when the `values` object Properties change.

I agree, let's rename those options and tighten the types into just the string Property. More generally though, perhaps we should discuss,

[2022-11-02 22:55] zepumph commented on #769
I think I helped this issue a bit over in https://github.com/phetsims/joist/issues/878 because of the Dialog work. No matter, after creating 100 keyboard help dialogs and disposing them on startup. The memory only increased from 66->68MB. I feel like our dispose work is done here for Ratio and Proportion, Friction, and the common code that it uses. I tried to test the other common code content as

[2022-11-02 23:04] zepumph commented on #769
@pixelzoom, it may be good to touch base here with you. Can you do a review and let me know if you think I'm on the right track. The main files to investigate and KeyboardHelpSection and KeyboardHelpSectionRow. Perhaps the best way forward would be for you to do some memory testing in GO. Steps to do a test I was happy with.

1. load GO and take a memory snapshot
2. Apply this patch, reload, and t

[2022-11-03 17:40] zepumph commented on #769
Two questions here:

1. Should individual letter keys be translatable? Perhaps we should put that trust into translators to do the right thing. @jessegreenberg what do you think?
1. I noticed in RAP in hebrew that some keys were translated to blank. Why?
![image](https://user-images.githubusercontent.com/6856943/199794905-5f899702-b324-4fb8-9b8f-48b414eb4449.png)

[2022-11-03 21:16] zepumph commented on #780
I searched for `StringProperty = new DerivedProperty` and found a case where I felt like PatternStringProperty was simpler and easier. All the other usages seemed right to use DerivedProperty because of extra logic. If we converted them to PatternStringProperty, it would require mapping a value into a new DerivedProperty instance to pass that to the PatternStringProperty which seems annoying and d

[2022-11-03 22:23] zepumph opened #786 "Blank keyboard help keys in translations?"
From https://github.com/phetsims/ratio-and-proportion/issues/499#issuecomment-1297705112, I see that hebrew and a few other languages have made some keys blank in the keyboard help dialog, you can reproduce this with

http://localhost:8080/ratio-and-proportion/ratio-and-proportion_en.html?brand=phet&ea&debugger&voicingInitiallyEnabled&printVoicingResponses&preferencesStorage&locales=*&keyboardLoca

[2022-11-04 01:20] pixelzoom commented on #784
Sorry, I didn't realize that PatternStringProperty harvests dependences from its 2nd argument.

I didn't realize that.

Not necessary. I wasn't aware of how it harvested dependencies from its 2nd argument. So I'll be using PatternStringProperty more in the future.  I may or may not eagerly replace DerivedProperty with PatternStringProperty.

@zepumph will you handle the renaming?

[2022-11-04 01:23] pixelzoom commented on #780
👍🏻 closing

[2022-11-04 01:23] #780 closed

[2022-11-07 22:49] jbphet commented on #786
This appears to be caused by the problem discussed in https://github.com/phetsims/chipper/issues/1343.  In summary, it's because our string-handling code is not falling back to the English values when it encounters a zero-length string.  That issue is assigned to @jonathanolson at the moment.  If resolving this is urgent, I'd suggest raising the priority of that issue.

[2022-11-08 16:58] zepumph commented on #786
Yes indeed! Here it is falling back to english for blank translations:

![image](https://user-images.githubusercontent.com/6856943/200627971-c521d81f-7c47-4a9e-928a-a5eeb941efaf.png)

Closing. Please reopen if for some reason that commit doesn't make it to production.

[2022-11-08 16:58] #786 closed

[2022-11-08 23:04] zepumph opened #787 "Statically create TextKeyNode instances"
Instead a creating a new TextKeyNode for space/enter/etc each time you call `TextKeyNode.space()`, let's just use dag to only create one of them. Then you won't need to dispose it.

[2022-11-08 23:04] zepumph commented on #787
I spoke with @jessegreenberg and @pixelzoom separately and we agree it is worth investigation. Also tagging https://github.com/phetsims/scenery-phet/issues/769.

[2022-11-08 23:08] zepumph commented on #769
I spoke with @jessegreenberg and we definitely agree that letter keys should be translatable since word keys are. Unassigning him and making a new issue to tackle that.

Also @pixelzoom please note that I am working on https://github.com/phetsims/scenery-phet/issues/787 so potentially we won't need to dispose many of those icons.

[2022-11-09 16:49] zepumph opened #788 "KeyboardHelpSection.getGrabReleaseHelpSection should subtype"
From work in https://github.com/phetsims/scenery-phet/issues/769

[2022-11-09 16:57] zepumph commented on #769
Moving to a hopeful commit point here in the next hour or so. Things are looking good! I have been able to remove a lot of the boilerplate from above commits.

[2022-11-09 22:24] pixelzoom commented on #769
@zepumph since you're still actively working on this issue, I'm going to add you to assignees.

[2022-11-10 23:11] #788 closed

[2022-11-10 23:12] zepumph commented on #769
At this time I would recommend @pixelzoom hold off on further review. @jonathanolson and I brainstormed some new patterns for disposal and are playing with them over in https://github.com/phetsims/scenery/issues/1494. They have potentially to greatly reduce the boilerplate needed for disposing keyboard help content. Unassigning @pixelzoom for now.

[2022-11-10 23:13] zepumph commented on #787
This totally isn't going to work. If we wrap static Texts in a `new Node()`, we still need to dispose this node. Instead I'm going to work with @jonathanolson over in https://github.com/phetsims/scenery/issues/1494 for a better disposal pattern in general.

[2022-11-10 23:13] #787 closed

[2022-11-13 03:02] pixelzoom commented on #769
The 3 issues linked immediately above are for sims that will fail in the State wrapper because they do not support `dispose` for keyboard-help content.  When common-code support proper `dispose` of keyboard-help content, those sim-specific issues should be addressed.

[2022-11-16 17:39] terracoda opened #789 "New Keyboard Shortcut for Reset All"
@terracoda to open a issue in scenery-phet for Press buttons and Reset All.

Check Shape and Reset Shape though common shortcuts, their behavior may be sim specific.

_Originally posted by @terracoda in https://github.com/phetsims/quadrilateral/issues/249#issuecomment-1317362409_

[2022-11-16 17:59] terracoda commented on #789
In quadrilateral we will have a partial reset called "Reset Shape". We wanted a keyboard shortcut for it, and the team thought it would be good to also have a general shortcut for the Reset All button.

The 2 shortcuts I've chosen from the team feedback are:
- Reset All : [ALT] + [R]
- "Partial" Reset: [ALT] + [Shift] + [R]

My understanding is that the full reset is general and that partial reset

[2022-11-17 23:43] pixelzoom commented on #769
@zepumph @jonathanolson FYI, in https://github.com/phetsims/ph-scale/issues/249#issuecomment-1319265006, we needed to unblock ph-scale for publication. So we decidd to disable alternative input and comment out `createKeyboardHelpNode` in all screens, to workaround the memory leak issue.

[2022-11-21 22:17] arouinfar commented on #766
Thanks @Nancy-Salpepi. @jonathanolson I do not think this is a blocking issue. Looks like the touch behavior is correct, but isn't being displayed correctly with `showPointerAreas`. Since `showPointerAreas` is an internal tool, this has no impact on user experience.

[2022-11-22 16:46] terracoda commented on #789
Maybe Exit a dialog should remain as the last item.

<img width="972" alt="image" src="https://user-images.githubusercontent.com/1902116/203372304-449c1e10-ce81-431b-bb60-c84c34c1de62.png">

[2022-11-22 18:09] zepumph opened #790 "Add keyboard input to Keypad"
From https://github.com/phetsims/projectile-motion/issues/307, @matthew-blackman and I would like to explore adding keyboard input to Keypad.

[2022-11-22 18:16] zepumph commented on #790
@matthew-blackman and I felt good enough getting to a commit point here. We wanted to note that there is still open keypad work

https://github.com/phetsims/scenery-phet/issues/271
https://github.com/phetsims/scenery-phet/issues/283
https://github.com/phetsims/scenery-phet/issues/758

But we still wanted to brainstorm some alt-input support for the keypad. We made some decisions along the way that

[2022-11-23 22:32] zepumph commented on #769
- [ ] For this issue (from https://github.com/phetsims/ratio-and-proportion/issues/525): `KeyboardHelpSection.generateReadingBlockNameResponse` should use a DerivedProperty to formulate these strings

[2022-11-25 21:38] zepumph commented on #773
It isn't clear to me that this is in fact high priority. @pixelzoom is this not longer pressing because ph-scale is proceeding without alt-input?

[2022-11-25 23:52] zepumph commented on #769
A bit more investigation into current memory leaks and also some refactoring into the new `disposer` pattern today. Some success, but things are going a bit slowly. I'll keep cranking next week.

[2022-11-26 17:00] pixelzoom commented on #773
Priority is not my call. Please ask @kathy-phet.

[2022-11-29 02:33] pixelzoom opened #791 "NumberControl does not support dynamic layout"
NumberControl does not currently support dynamic layout.  It only calls `options.layoutFunction` once, on construction. It should be observing the bounds of all of its subcomponents, and calling `options.layoutFunction` if any of their bounds change.

[2022-11-29 08:17] pixelzoom commented on #791
This was a problem with the layoutFunction provided by gas-properties InjectionTemperatureAccordionBox. Closing.

[2022-11-29 08:17] #791 closed