[2017-02-13 19:26] jonathanolson commented on #283
I reviewed independently first, and came to the same high-level conclusions as @pixelzoom. Review here starts with higher-level points and moves towards low-level things I noticed. Feel free to convert to a checklist if it helps.

I was anticipating a structure where there was an enumeration of values:
[code]

and the accumulator stored the current values (similar to what is current):
[code]

wher

[2017-02-13 19:34] jonathanolson commented on #283
Also I want to note that having an enumeration for values isn't a strict requirement, but the abstraction sounds helpful in general. It may be overgeneralizing, and keys as values may be fine.

In the future, what happens if you have a key that conditionally wants to store one of a few values? It probably won't come up, but having a concrete list of what values can be in the array may just help co

[2017-02-17 21:26] jbphet commented on #291
I think there may be a problem with this.  The way the listener is attached is by eventually calling the inherited function `RoundPushButton.addListener`.  So, while I don't think anyone is doing this, it would be possible to create a ResetAllButton and then call `addListener` later, and it would bypass what you're trying to accomplish here.  Consider instead overriding `addListener` instead of wr

[2017-02-20 16:46] pixelzoom commented on #283
Self-assigning to review for discussion on 2/20/17 @ 10am.

[2017-02-22 20:59] jbphet commented on #283
Over the last few days I've discussed the design of the keypad with @pixelzoom, @jonathanolson, and @aadish .  Below is a summary of the decisions made based on those discussions.

On the topic of the Keypad API, we agreed that the client shouldn't need to know about accumulator. The Keypad (and its subtypes) should provide a complete API.  The fields should be accessible like this:
+ `keypad.stri

[2017-02-24 22:49] pixelzoom opened #292 "change API for NumberPicker options upFunction and downFunction"
I ran into this while working on https://github.com/phetsims/unit-rates/issues/163...

`NumberPicker` currently has these options, which control how the up and down buttons compute the next value, where `valueProperty` is a constructor parameter:

[code]

Rather than requiring access to `valueProperty`, methinks that these functions should be passed `value`, like this:

[code]

There are currently

[2017-02-24 22:52] pixelzoom commented on #292
The 3rd use is in `graphing-lines.CoordinatePicker`:

[code]

This could certainly take advantage of the `value` parameter, but would continue to require access to other constructor args.

[2017-02-25 23:48] pixelzoom commented on #292
API and client usages changed, as described above. I tested all sims that were modified.

And the lucky sim developer who gets to review this issue is:

[code]

... @jessegreenberg !

[2017-03-06 22:01] jessegreenberg commented on #292
Looks great to me, thanks!  I spotted one more client usage in ```graphing-lines.SlopePicker```.  I also tested the other sims mentioned above that were modified. Closing.

[2017-03-06 22:01] #292 closed

[2017-03-06 22:17] pixelzoom commented on #292
Reopening. I want to update that usage in `SlopePicker`.

[2017-03-06 22:20] jessegreenberg commented on #292
@pixelzoom sorry, should have clarified that I did update it in https://github.com/phetsims/graphing-lines/commit/cdb43fd3df5ef328e2ad7919e4fa71aea6917276, unless you notice something else that needs to be updated.

[2017-03-06 22:25] pixelzoom commented on #292
Got it, looks good. Thanks! Closing.

[2017-03-07 00:49] jessegreenberg commented on #291
@jbphet thanks for the review!

That is a good point, this was not handled previously.  The commit above should fix this.

That is true, *except* for the listener added through options, which is added directly to ```PushButtonModel``` without going through ```addListener```. So in https://github.com/phetsims/scenery-phet/commit/0bb107fe09d0883155304511acd283e5fc0401b0 I am removing the listener fr

[2017-03-07 18:08] pixelzoom opened #293 "NumberAccumulator: parseFloat called with radix argument"
In NumberAccumulator:

[code]

`parseFloat` does not take a radix argument. You are likely confusing it with `parseInt`.

[2017-03-08 04:43] aadish commented on #293
@pixelzoom thanks for pointing this out, fixed by above commit

[2017-03-08 04:43] #293 closed

[2017-03-13 21:20] jbphet commented on #291
The changes for making AriaHerald have a methods for setting `enabled` rather than `disabled` look good, as does the update message.

The fix for wrapping the listener seems a bit awkward to me, but it's a result of the way the button hierarchy works.  I'm going to get some input from the other developers to decide whether we should support making it possible to override `addListener` and have it

[2017-03-16 01:33] terracoda commented on #291
@jessegreenberg and @jbphet, @emily-phet and I discussed the change to the _Reset All_ alert. I have started a new issue https://github.com/phetsims/a11y-research/issues/21 to discuss this change to determine the best wording.

[2017-03-16 16:34] jessegreenberg commented on #291
In https://github.com/phetsims/a11y-research/issues/21, we decided to change the alert back.

[2017-03-22 17:20] phet-steele opened #294 "ProbeNode: Automated Testing Error"
@samreid @pixelzoom, The planets aligned for bayes to hit this error. Here is how you reproduce:

1. Select the ProbeNode on the Components screen.
2. Set Radius to be very low (might as well go to min).
3. Set Handle Width to be very high (might as well go to max).
4. Increment the Light Angle. It will error out ~0.5-0.55 * pi.

[code]

[2017-03-22 17:32] pixelzoom commented on #294
Reproduced using @phet-steele's steps above. The error is in ProbeNode.js at line 162:

[code]

`intersections[ intersections.length - 1 ]` is undoubtedly `undefined` for this scenario, but I haven't investigated why.  Imo this is low priority, because (a) no one would ever make a Probe that looks like this (see screenshot below) and (b) it would be preferable to add assertions that prevent combin

[2017-03-23 19:20] jessegreenberg opened #295 "GaugeNode should have optional ticksize"
The GaugeNode doesn't allow one to specify size of ticks through options, so it doesn't look very good when it is a small size.
![capture](https://cloud.githubusercontent.com/assets/6396244/24266150/671b15cc-0fcb-11e7-8ebe-081e013da81b.PNG)

The size label for the GaugeNode is scaled as a function of the radius:
[code]
I am not sure if the label will need to be scaled down either for very small Ga

[2017-03-23 19:29] jessegreenberg commented on #295
Also the tick line width.

[2017-03-23 19:55] jessegreenberg commented on #295
From https://github.com/phetsims/forces-and-motion-basics/issues/220#issuecomment-288823497

[2017-03-23 19:59] jessegreenberg commented on #295
There are now options for
[code]

@jbphet would you mind reviewing, just since you are listed as an author?

[2017-03-25 06:34] pixelzoom commented on #294
Here's the relevant code in ProbeNode:

[code]

The problem is that, for this scenario, `intersections` is `[]` (empty array) on line 161.  And I suspect that we'll encounter the same problem for  `intersections2` on line 165.

[2017-03-25 06:39] pixelzoom commented on #294
Rather than trying to fix this specific assertion, I think it would be better to: (1) Investigate changing the range of the sliders used in the phet-demo, since they are somewhat unrealistic, and (2) add assertions that check for unrealistic scenarios that are not supported by the implementation.

[2017-04-04 19:29] phet-steele opened #296 "NumberDisplay, Error: Assertion failed: {0} missing from valuePattern: ..."
Multiple sims using NumberDisplay receive this error when running with `?stringTest=xss`

Sims reporting errors so far:

- Gravity Force Lab
- Hooke's Law
- Projectile Motion

[code]

[2017-04-04 19:33] jonathanolson commented on #296
Also reproducing with `&stringTest=boo`

@pixelzoom, do you have any thoughts about the best way to handle the stringTest with validation on string formatting? Should we remove that assertion in NumberDisplay (and potentially rely on rosetta-side validation), or potentially disable it when stringTest is used?

[2017-04-04 20:55] pixelzoom commented on #296
It will undoubtedly fail with another other than `stringTest=double`, because all of the other `stringTest` options will result in a string that contains no `{0}`.

[2017-04-04 20:56] pixelzoom commented on #296
+1 for removing the assertion in NumberDisplay.

[2017-04-04 20:58] pixelzoom commented on #296
+1 for removing the assertion in NumberDisplay. I'll do it.

[2017-04-04 23:09] pixelzoom commented on #296
Assertion removed. @jonathanolson please verify.

[2017-04-05 16:40] jonathanolson commented on #296
Verified with testing. Thanks, closing!

[2017-04-05 16:40] #296 closed

[2017-04-06 16:50] jonathanolson opened #297 "NumberPicker value maxWidth"
The current maxWidth is generated based on the largest of the formatted min/max values.

Unfortunately, string tests (when used with formatText to add a dollar sign) make this very large.

Any objections to NumberPicker supporting a valueMaxWidth that caps the actual maxWidth used, or overrides it?

[2017-04-06 17:31] phet-steele opened #298 "Error: Assertion failed: text will extend outside of key"
Run the scenery-phet demo with `stringTest=xss` and select the KeyNode on the Components screen. This is affecting john-travoltage.

[code]

[2017-04-06 19:34] pixelzoom commented on #297
No objection.

[2017-04-06 19:45] pixelzoom opened #299 "ShadedRectangle fails when rectBound has a small width or height"
See for example https://github.com/phetsims/beers-law-lab/issues/200.

Also, the default cornerRadius is 10, so shouldn't rectBounds have a width and height that are >= 2 * cornerRadius?

Not a high priority, since this happens mainly with stringTests.

[2017-04-06 19:48] jonathanolson commented on #297
Implemented, feel free to review if you have time.

I had to actually apply the maxWidth after checking the height for the background, so that it didn't shrink the picker vertically (having pickers of different heights looks bad).

[2017-04-06 20:15] pixelzoom commented on #297
Inspected commit, tested a couple of sims, looks good to me. Closing.

[2017-04-06 20:15] #297 closed

[2017-04-07 17:04] pixelzoom opened #300 "RichText: support for rich text with HTML-style tags"
@jonathanolson created RichText, motivated by XSS problems (see https://github.com/phetsims/chains/issues/3#issuecomment-291927666).  It has a dependency on himalaya (3rd-party lib), so it currently lives in scenery-phet.

@jonathanolson said in https://github.com/phetsims/chains/issues/3#issuecomment-292111091:

Documentation on RichText (for discussion during developer meeting):

Displays rich t

[2017-04-07 17:05] pixelzoom commented on #300
This is tagged for developer meeting because @jonathanolson would like feedback.

[2017-04-07 17:51] pixelzoom commented on #300
For the benefit of other devs, you can find a demo of `RichText` at (e.g.):

http://localhost/~cmalley/Github/scenery-phet/scenery-phet_en.html?ea&screenIndex=3&showHomeScreen=false&component=RichText

[2017-04-07 17:57] pixelzoom commented on #300
I like this a lot, and the implementation looks great.

Thoughts:

• If we can figure out how to add the hibernate dependency to scenery, this would be a nice addition to scenery.

• Deprecate SubSupText immediately.

• Replace SubSupText were possible to avoid XSS security issues. There are currently 44 instances of `var SubSupText`.  This could be done gradually over time.  I would do it immedia

[2017-04-13 03:20] samreid commented on #300
I think he means himalaya.

[2017-04-13 15:43] pixelzoom commented on #300
Yep, himalaya (can't blame that one on autocorrect ;) Fixed in my comment.

[2017-04-13 16:30] jonathanolson commented on #300
I'll look into being able to embed Himalaya (and potentially return to having versions with other things embedded).

[2017-04-13 19:17] samreid commented on #300
I haven't used SubSup text too much (at all?) in my sims.

[2017-04-13 19:17] pixelzoom commented on #300
4/13/17 dev meeting: Everyone who is interested has already replied.  Can proceed with moving this from prototype to production.

[2017-04-17 16:13] jonathanolson commented on #300
Replaced the desired usages, removed SubSupText (spot-checked 5 simulations). Closing.

[2017-04-17 16:13] #300 closed

[2017-04-17 21:18] jessegreenberg commented on #298
Thanks @phet-steele, strings are scaled down in KeyNode, so assertion in TextKeyNode is premature, it is safe to remove it.

[2017-04-17 21:21] jessegreenberg commented on #298
![capture](https://cloud.githubusercontent.com/assets/6396244/25105341/5df19128-2381-11e7-88ee-5779e9146b6f.PNG)

Fixed in above commit, closing.

[2017-04-17 21:21] #298 closed

[2017-04-18 21:57] pixelzoom opened #301 "NumberPicker: provide options to customize when arrows are enabled/disabled"
This is required by https://github.com/phetsims/graphing-lines/issues/75.

This is currently hardcoded here in NumberPicker:

[code]

[2017-04-18 22:09] pixelzoom commented on #301
Implemented in above commit, tested in scenery-phet demo and several sims.

And the lucky reviewer is:

[code]

@jessegreenberg !!

[2017-04-18 22:46] samreid opened #302 "ProbeNode breaks if you pass in options.children"
While working on circuit-construction-kit-common/js/common/view/AmmeterNode.js, I tried passing in children to the ProbeNode and it caused the ProbeNode to not display at all.

[2017-04-18 22:49] samreid commented on #302
Fixed above and updated CCK to supply children in the options.  @pixelzoom can you please review the change?  Main questions:
1. Is this likely to cause problems for existing code?
2. Is this a good strategy for supporting children options in common code components?
3. Should this strategy be used in other node subclasses?  If so, can/should it be factored out somehow?

[2017-04-18 22:56] pixelzoom commented on #302
I will look at the commits.  But unless there was a very good reason to pass in children to ProbeNode, I would have wrapped the ProbeNode in a Node, and added the additional children to the Node.

[2017-04-18 22:59] pixelzoom commented on #302
FYI, I have also been using this pattern for subtypes of Node that don't support propagating children through options:

[code]

[2017-04-19 17:39] pixelzoom commented on #302
This entire section has a bad smell:

[code]

Imo, passing options to the supertype constructor, then later calling `mutate`, is an anti-pattern that should be avoided, as demonstrated by 2 specific issues here:

(1)  `mouseArea` and `touchArea` are set via `Node.call` to values computed in the constructor. And then (if provided via options) they will be overridden by the call to `mutate`.  Not at

[2017-04-19 17:43] pixelzoom commented on #302
@samreid asked:

Unlikely to affect existing code.  And decoration by clients shouldn't affect  the ability to position the ProbeNode; i.e., it origin should still be "in the center of circular part of the sensor".

Imo, no, not as currently implement. See suggested change in https://github.com/phetsims/scenery-phet/issues/302#issuecomment-295360403.

I also don't think it's desirable to support d

[2017-04-19 17:46] samreid commented on #302
Thanks, the strategy of updating options looks much cleaner.  I adopted your solution and simplified one line, it tests OK in Beer's Law Lab (no decorations) and CCK (with decorations).  If all seems well, this issue can be closed.

[2017-04-19 17:48] pixelzoom commented on #302
👍 Closing.

[2017-04-19 17:48] #302 closed

[2017-04-24 16:27] samreid opened #303 "Should electrons be in common code?"
I noticed that CCK has electrons copied from John Travoltage.  "Factoring out" sounds more desirable than "copy/paste", but we should decide how things should look.  In https://github.com/phetsims/build-an-atom/issues/155 I identified that BAA electrons are missing their "-" while JT and CCK have the "-".  Also, the sphere shading in BAA looks much better and the color scheme is a bit different.

[2017-04-24 16:28] jessegreenberg commented on #301
Looks good to me, I also tested the new options in the scenery-phet demo, they work great. Closing.

[2017-04-24 16:28] #301 closed

[2017-04-24 18:43] ariel-phet commented on #303
@samreid I think the goals in BAA vs JT/CCK are a bit different.

Feel free to factor out the JT electrons, but leave the BAA electrons as is.

In BAA, the learning goal is centered more around the idea of electrons as subatomic particles, so the more obvious spherical shading seems appropriate. However in JT/CCK the learning goal is centered more around electrons as charge/current carriers, thus

[2017-04-24 20:08] samreid commented on #303
@ariel-phet I'm not sure why you added the "code review label".

[2017-04-24 20:11] ariel-phet commented on #303
@samreid - it seems to me that this sort of question falls under that category, you care considering refactoring and "common-izing" code. That seems like the kind of issue that comes up in a review of the code.

[2017-04-24 20:11] samreid commented on #303
Sounds good, thanks!

[2017-04-25 02:37] pixelzoom commented on #214
Reopening in light of https://github.com/phetsims/expression-exchange/issues/81.

In https://github.com/phetsims/scenery-phet/issues/214#issuecomment-261630189, @jbphet said:

I don't think the consensus was to continue doing search-cut-paste-modify without improving the pattern.  For example, propagating more instances of https://github.com/phetsims/scenery-phet/issues/214#issuecomment-174014179

[2017-04-25 03:07] samreid commented on #214
@jonathanolson demonstrated an elegant pattern in Charges and Fields which forwards events from the icon to the play area node and makes sure the dragging behavior is the same whether the icon came from the toolbox or not.  It worked great for Circuit Construction Kit as well.  I recommend this as a way to proceed.

The code in ChargesAndFieldsToolboxPanel.js is

[code]

The code in CCK voltmeter/

[2017-04-25 03:53] samreid commented on #303
In the above commit, I added ElectronChargeNode and used it in John Travoltage and Circuit Construction Kit.  Charges and Fields had plus and minus charges combined into one type so I left it as is.  @jessegreenberg can you double check that John Travoltage still works properly and review these changes?

[2017-04-25 05:47] jonathanolson commented on #214
Also worth noting:

[code]
should probably be converted into
[code]

and the new DragListener will support ```listener.press( event )``` instead of ```startDrag( event )```.

[2017-04-27 03:29] pixelzoom commented on #262
@samreid @zepumph What is the status of this issue? Is there more work to be done here? Something to review? Ready to close?

[2017-04-27 03:32] pixelzoom commented on #219
@samreid is there anything to do here?

[2017-04-27 03:35] pixelzoom commented on #218
I am no longer able to reproduce this, see screenshot below. (Chrome 58, Mac OS 10.11.6). @samreid shall we close this issue?

![screenshot_234](https://cloud.githubusercontent.com/assets/3046552/25466829/314318a6-2ac8-11e7-99b2-709c2763a7a2.png)

[2017-04-27 03:36] pixelzoom commented on #167
This issue is no longer relevant. SubSupText has been replaced by RichText, and thoroughly expunged.

Closing.

[2017-04-27 03:36] #167 closed

[2017-04-27 03:40] pixelzoom commented on #60
@ariel-phet Can we close this issue?   This issue is coming up on 3 years old.  Since then, we've been successfully specifying what does and does not need to be animated on a sim-by-sim basis.  We've been doing these types of animation with TWEEN, and have recently started encapsulating them in twixt.  And I don't really see a need to make all PhET games have the same transitions.

[2017-04-27 04:13] samreid commented on #218
This comment describes the chrome version that fixed the problem, it seems we are good to go:
https://github.com/phetsims/scenery/issues/514#issuecomment-221955040

[2017-04-27 04:30] ariel-phet commented on #60
@pixelzoom agreed. Thanks for the issue hygiene. Closing

[2017-04-27 04:30] #60 closed

[2017-04-27 14:09] samreid commented on #219
Looks like inputEnabled will work for those components and no additional work is necessary (though one day we may make NumberPicker and EyeDropperNode extend UIComponent.)

[2017-04-27 14:09] #219 closed

[2017-05-02 17:17] phet-steele opened #304 "LightRaysNode.js, Uninstrumented code detected"
[code]

[2017-05-04 15:47] zepumph commented on #304
@samreid I think you fixed this in your commits yesterday, would you please confirm?

[2017-05-04 15:57] samreid commented on #304
Correct, I fixed this in cc034db95ec0ee011f0cc8b510b6e3f4234ea0f3, closing.

[2017-05-04 15:57] #304 closed

[2017-05-08 22:32] zepumph commented on #262
Thanks @pixelzoom for bring it back up.

[2017-05-10 21:31] jbphet commented on #291
While working on https://github.com/phetsims/phet-io-wrapper-sonification/issues/4, I noticed that there is a problem with the solution that has been committed for this issue.  The overridden `addListener` function that is in `ResetAllButton` as of this writing looks like this:

[code]

This is going to make the Aria Herald announcement and emit the started and ended callbacks for every listener t

[2017-05-10 21:32] jbphet commented on #291
Assigning to @jessegreenberg and @zepumph to discuss and work on a solution.

[2017-05-10 21:35] zepumph commented on #291
Here is PushButtonModel.fire():
[code]

It would be nice to set up the override in such a way, that we make sure that these emitters and listeners are still called.

[2017-05-12 20:52] zepumph commented on #262
I got rid of the last two spots that had "tandem:null" (Property and ObservableArray) in the project. This helped to catch a bug in MAL as well, where tandems weren't being passed into Photon.

Here are the related commits,

tandemOptional in Property.js, factor Optional/RequiredAndNotSupplied into required and supplied options
https://github.com/phetsims/tandem/commit/294a42debbba0395d0eae356686b

[2017-05-15 13:36] coledu opened #305 "UpDown Spinner has Hardwired constants"
I would like to point out that the radius and the separation of the up down spinner is hardwired into the code. I think the spinner will benefit more if we are able to change the radius of the spinner as an option and have a default value set for the radius. We would like to use this functionality in fractions-intro. I would also recommend that we change the shape width depending upon the radius i

[2017-05-15 19:30] samreid commented on #305
I see what you are referring to in UpDownSpinner.js:

[code]

I agree, if we generalize the radius and shape width, we would also need to update those shapes so they would look the same.  Another alternative would be to add an option for setting the spacing, then allowing the user to scale up and down the entire node, however, this could stretch out the highlights and shadows, so the strategy you

[2017-05-15 19:32] samreid commented on #305
@ariel-phet, thanks to @coledu I discovered that our currently implemented sun spinner looks like the one in the preceding comment.  Can we use that for Fractions Intro?

[2017-05-15 19:33] samreid commented on #305
Also, @pixelzoom if we use the sun.NumberSlider, we may need a way to hide/suppress the numeric readout.  Is that supported by sun.NumberSlider?  If not, can it easily be added?

[2017-05-16 01:42] pixelzoom commented on #305
Assuming that you mean sun.NumberSpinner (not NumberSlider)....

The history of spinners, and the need for a numeric spinner,  is documented in https://github.com/phetsims/sun/issues/85. The nonstandard spinners in the fractions sims were noted as far back as Nov 2015.

It doesn't look difficult to add. More difficult is deciding whether it's better to add `options.valueVisibleProperty`, or set/ge

[2017-05-16 03:10] samreid commented on #305
Here's a mockup with the square spinners (not grayed out properly for this mockup), @ariel-phet will that be OK?

![image](https://cloud.githubusercontent.com/assets/679486/26088176/e11a1fc4-39b2-11e7-900e-27eab539be28.png)

[2017-05-16 18:18] ariel-phet commented on #305
@samreid @veillette square spinners are fine. We made this sim as one of our first ventures into designing for touch interfaces, and at the time round seemed friendly. We will likely pixel polish dimensions and such, but the square spinner should cause no issues.

[2017-05-16 18:20] jonathanolson opened #306 "NumberPicker doesn't recalculate background with range changes"
Noticed in https://github.com/phetsims/area-model-common/issues/5.

If you create a NumberPicker with a small value range, it computes the maximum size of the readout and uses that. If you change the range to support huge numbers, it doesn't compensate.

[2017-05-16 18:31] samreid commented on #305
@ariel-phet sounds good.

@coledu @veillette please investigate using the sun.NumberSpinner for this simulation.

Also tagging @jonathanolson so he is aware of this pending change.

[2017-05-16 19:24] jonathanolson commented on #306
I guess that would work, but it's ugly (having to create a Text instance with the same Font, no way to grab the default Font used, etc.) Depending on the client to iterate over values to see what they actually need is painful too (e.g. is '8' wider than '9' in this font on this device?)

[2017-05-16 20:24] davisv007 opened #307 "Misleading options for Bucket/BucketFront."
While setting up a bucket with a caption for fractions-intro, we found that the label in bucketFront takes an option 'bucket.captionText' (line 53) . So naturally when trying to give an out caption to Bucket, we thought we should use the option 'captionText'. It took us a while to figure out that the option in Bucket itself is called 'caption'.  In line 53 of the Bucket model, we found that this.c

[2017-05-17 17:55] jbphet commented on #307
Good observation @davisv007.  I've updated the option to be called `captionText`, since there is already an option called `captionColor`, so it is probably best to clearly distinguish between the various separate attributes of a caption.

By the way, the bucket code is some of the oldest in our code base, so it won't be unusual to run into issues like this, and it's good to point out issues like t

[2017-05-17 19:12] davisv007 commented on #307
Looks great!
I understand making this change affected multiple projects and I appreciate your promptness.
We do in fact need the ability to add dynamic labels and pictures to our buckets in fractions-intro.
@michaelm396 and I would definitely like to work with you to modernize the bucket code. We'll create an issue shortly.  Thank you.

Closing this issue now.

[2017-05-17 19:12] #307 closed

[2017-05-17 20:00] davisv007 opened #308 "Modernize the Bucket Code"
Currently, we are working on porting Fractions Intro from Java to JavaScript. One of the behaviors we need to implement from the original program is the dynamic labeling for the bucket. Recently, we attempted to add a basic bucket to the screen of our project along with a test label, leading to the creation of Issue #307.
Either from foresight or coincidence,  @jbphet brought up that the Bucket co

[2017-05-17 20:31] ariel-phet commented on #308
@davisv007 please note that an issue with no assignee (or at least not the dev meeting tag) is unlikely to be addressed. If in doubt please assign to me.

[2017-05-17 21:36] veillette commented on #308
@davisv007 could assign this issue, since it it doesn't have permission on this repo. (and it is best that he does not at this stage).  Since at @jbphet works on #307, i'm assigning this to him.

[2017-05-17 21:39] ariel-phet commented on #308
Ah, understood @veillette

[2017-05-17 21:41] veillette commented on #308
FYI, @jbphet ,  @davisv007 and I have been working on a FrontBucket that can display a node.
We don't want to commit anything to Scenery-PhET, so we'll paste our code for FrontBucket when we have a good working draft.

[2017-05-17 22:56] jbphet commented on #308
Sounds good @veillette.  For an example of a common code node that takes a node that it essentially uses as a label, please the see the `titleNode` option in `AccordionBox`.  You don't need to add all the options for positioning or anything, at least not yet, but it will be good to look at the basic approach.  Also, it sounds like you might be changing this label node dynamically, so there may nee

[2017-05-18 15:25] samreid commented on #308
@jbphet does this still need to be marked for developer meeting?

[2017-05-18 17:08] jbphet commented on #308
@ariel-phet marked it, and since I don't know why, I'll leave it.

[2017-05-18 17:16] ariel-phet commented on #308
@jbphet marked it because it originally did not have someone assigned, unmarking

[2017-05-18 18:00] davisv007 commented on #308
@jbphet please consider these changes we made to BucketFront.js I don't think they will affect existing projects. We looked at build-an-atom, and curve-fitting, and they seemed to work the same as before.

https://gist.github.com/davisv007/b48a7a93e333ff2a8a9674bd77eee2cd

Points of interest at the following line numbers:
* 33-37
* 44
* 46-49
* 52
* 55-57
* 67-83

Let me know if you think this is

[2017-05-19 17:27] jonathanolson commented on #306
Decided not to recalculate the size with range changes, and instead recommend passing in the maximum range initially for proper sizing. If range changes SHOULD cause resizes, the client can reconstruct the NumberPicker (presumably with something like MutableOptionsNode). Closing.

[2017-05-19 22:28] jbphet commented on #308
In general, the approach in https://gist.github.com/davisv007/b48a7a93e333ff2a8a9674bd77eee2cd looks reasonable for now.  I have some specific comments below.  Once this version is working, please reassign the problem to me and I'll refactor the code that currently makes use of the `captionText` option to move all labeling into the view.  Strictly speaking, the Bucket shouldn't be carrying around

[2017-05-22 17:55] davisv007 commented on #308
@jbphet, I looked at your comments and made changes to the original gist. I believe I addressed your first concern but I had trouble understanding the second concern. I centered the node in one line as you suggested (which worked) and then attempted to center it using the bounds width /2 etc. which did not work so I reverted back to the one liner.

@veillette pushed the new BucketFront in deb95a1.

[2017-05-23 18:34] samreid opened #309 "Combine LightRaysNodes into a single Path"
@jonathanolson suggested that we may get better performance to have all LightRaysNode children to be a single Shape/Path instead of multiple like this:

![image](https://cloud.githubusercontent.com/assets/679486/26370130/25880a48-3fb4-11e7-8559-857c0e6ff933.png)

[2017-05-26 23:25] jbphet commented on #308
This generally looks good.  I have a few comments:

+ It looks like it would have problems if the label were set to null on construction or by calling the `setLabel` method.  It should be able to handle this case.
+ Having `transformedShape` as an attribute on the object is pretty unconventional.  It would be easier to maintain the node that represents the actual front of the bucket as the attribu

[2017-06-01 16:02] davisv007 commented on #308
Checklist for myself. Checked items may not be committed yet.

- [ ] setLabel method handles null.

- [ ] Maintain the node that represents the actual front of the bucket as the attribute, and reference it in in the setLabel method.

- [ ] Anything that is visible on the object should have a visibility annotation.

- [ ] Simplify the scaling code in setLabel by setting the maxWidth and maxHeight a

[2017-06-02 21:05] davisv007 commented on #308
@jbphet about your 3rd point...

in line 61 or BucketFront, should this.translate be public or private?

Besides this, I think I was able to address your other points.

[2017-06-02 21:15] jbphet commented on #308
In the current master version, line 61 of `BucketFront.js` looks like this:

[code]

The translation member is defined in `Node.js` and is inherited by `BucketFront`, so there is no need to specify any sort of visibility here.  In this specific case, this actually invokes an ES5 setter (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/set), which ends up invoking a `

[2017-06-06 21:53] pixelzoom opened #310 "add line break to RichText"
This came up in https://github.com/phetsims/joist/issues/71#issuecomment-306625844.  And it would be nice to jettison MultiLineText.

Add markup for specifying line breaks, with options for justification ('left', 'center', 'right') and leading.

`<br>` seems like a fine markup for line break.

[2017-06-07 13:34] coledu commented on #305
One reason we have thought of not using NumberSpinner is that we would like to use a skin that resembles the original java sim. In addition, we do not want the spinner to be linked to the numerator but to the ContainerSet and have a callback connected to the spinner such that when it is pressed, it will animate a piece from the bucket to the cell or vice versa and update the numerator to be the nu

[2017-06-07 17:45] davisv007 commented on #308
Okay, @jbphet, I think our revisions are complete. Please review them and let us know.

[2017-06-07 18:21] jonathanolson commented on #305
It looks like the biggest issue is that the Range on a created NumberSpinner can't be changed dynamically (as the range would need to change).

I believe a consistent look between HTML simulations is more important, and @ariel-phet noted above that this shouldn't be a problem.

The cleanest way seems to have this linked to the numerator, and the ContainerSet should listen to the numeratorProperty.

[2017-06-07 18:24] jonathanolson commented on #305
Also for the Range change issue, ideally NumberSpinner could accept a `{Property.<Range>}` instead of a `{Range}`?

@pixelzoom, would that refactoring be acceptable (you look like the original author)? I'd prefer to avoid recommending to recreate a NumberSpinner whenever the range changes, as this would mean you can't (with touch) increase the numerator and denominator at the same time.

[2017-06-07 18:37] pixelzoom commented on #305
@jonathanolson asked:

Sounds OK to me.  I'm sure that you've thought of this, but...

[code]

[2017-06-07 18:43] pixelzoom commented on #305
An additional advantage of changing to `rangeProperty` is that `NumberSpinner` and `NumberPicker` will now have the same constructor signature -- which they should, since the are functionally interchangeable UI components.   Someone should probably review their `options` -- they should be the same where possible.  (Perhaps this should be a separate issue?)

[2017-06-07 18:49] pixelzoom commented on #305
While we're on the subject of spinner/picker...  In Equality Explorer, I had the need for a non-numeric picker, for selecting one of several operators.   Currently called ObjectPicker, shown on the left here:

![screenshot_270](https://user-images.githubusercontent.com/3046552/26895670-87c60b84-4b7f-11e7-8a4a-3335f427118d.png)

In Java, spinners were general enough to hold more than just numbers.

[2017-06-07 18:50] coledu commented on #305
![image](https://user-images.githubusercontent.com/26030529/26895270-1bad70b2-4b8f-11e7-81de-6a5432e79490.png)
This is what @veillette says. There are additional concerns mainly in fractions-intro equality lab tab, the spinners must control  not only one number but an entire fraction. As you see in the screenshot above the left and right spinner control the entire fraction in the equality lab. Sec

[2017-06-07 19:03] pixelzoom commented on #305
Left-right spinner could control a single {Property.<number>} valueProperty.  Then the view is responsible for representing it as a fraction.

Unclear which numerator you're referring to here.  If it's the left-hand side of the equation, and you want to control the numerator with a spinner, then the number cannot be a DerivedProperty, because a DerivedProperty cannot be changed directly.

[2017-06-07 19:04] pixelzoom commented on #305
In either case... You should be able to implement this UI with standard spinners.  But it may require some adapter Properties.

[2017-06-07 19:07] jonathanolson commented on #305
I'm not sure I understand. In the example you show, it looks like the upper-left spinner changes the left numerator, the bottom-left spinner changes the left denominator, and the right spinner changes a multiplier applied to the numerator and denominator.

I see three NumberProperties that the spinners are directly controlling, whose ranges may potentially change.

The spinner doesn't have to be t

[2017-06-07 19:10] pixelzoom commented on #305
@jonathanolson said:

... and in fact _should not_ assume that the spinner is the only thing adjusting those Properties. This is point of the MVC pattern.

[2017-06-07 19:16] jonathanolson commented on #305
Changed NumberSpinner's range => rangeProperty. @pixelzoom can you review?

[2017-06-07 22:59] pixelzoom commented on #214
Self-assigning so that I remember to take a closer look at this during implementation of Equality Explorer.

[2017-06-07 23:01] samreid commented on #214
For reference, the CCK implementation is now in CircuitElementToolNode.js.

[2017-06-09 21:55] pixelzoom commented on #305
Changes for NumberSpinner range => rangeProperty look good.   I'm not sure what else this issue is supposed to cover, so leaving the issue open.

[2017-06-09 22:26] jonathanolson commented on #305
Created a code-review issue for this (https://github.com/phetsims/fractions-intro/issues/62), as I believe all necessary changes have been made.

If I notice there are other common-code changes needed for the sim, I'll make those.

[2017-06-09 22:26] #305 closed

[2017-06-12 15:20] pixelzoom commented on #310
MultiLineText uses `\n` for line breaks. So unless we want to change string files, we should probably support `\n` in RichText.

[2017-06-12 15:38] jonathanolson commented on #310
But MultiLineText doesn't unescape HTML entities (or handle other things like a subset of HTML), so strings with ampersands or other characters would also break if we started using RichText instead. It seems like there are two totally different encodings, and trying to switch one to the other is problematic. (Could cause issues for credits?)

Additionally, if RichText is meant to be an HTML subset

[2017-06-12 15:44] pixelzoom commented on #310
All good points.  But this was proposed as a replacement for MultiLineText.  So our options are:

(1) Keep MultiLineText
(2) Change all strings that use MultiLineText formatting

@jonathanolson what do you recommend?

[2017-06-12 15:59] jonathanolson commented on #310
I'm not sure, changing strings to use a new formatting seems error-prone, as for a time both MultiLineText and RichText-based implementations would be trying to use the same strings in babel. @jbphet, what are your thoughts on changing string formatting?

[2017-06-13 05:32] jonathanolson opened #311 "UpDownSpinner / LeftRightSpinner"
Looks like very duplicated code, presumably would be handled by a single file instead of with two variants. I don't want to have to duplicate changes in both files for https://github.com/phetsims/fractions-intro/issues/62.

Additionally, it has some quirky differences between the two (a result of copy-paste?), with unbalanced touch areas:
![spinner](https://user-images.githubusercontent.com/480878

[2017-06-13 05:35] jonathanolson commented on #311
Additionally, I'm not sure why a valueProperty is passed in. Two callbacks (one for each button) would be more suitable for uses like fractions-intro.

[2017-06-13 05:38] samreid commented on #311
I thought we were trying to delete these variants and focus on the other spinner implementation?

[2017-06-13 05:39] samreid commented on #311
Sorry, I'm catching up on the other issue.  Will write back soon.

[2017-06-13 06:05] jonathanolson commented on #311
Deferring, no need for fractions-intro currently.

[2017-06-13 21:07] Denz1994 commented on #309
We are now using Path to create a shape for the rays rather than an array of Lines. Using phet.joist.sim.display.popupDebug() @samreid and I found that this creates significantly fewer instances of for the rays.

[2017-06-13 21:14] jonathanolson opened #312 "RTL parentheses"
@phet-steele pointed out that RTL parentheses are improperly handled by RichText now (see http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.1.0-rc.1/plinko-probability_en.html?stringTest=rtl).

It looks like RichText was not re-wrapping with directional marks (which lets the browser re-flow parenthesis and reverse them).

[2017-06-13 21:15] jonathanolson commented on #312
@phet-steele, can you verify that the above change fixes this issue in plinko (with the string test)?

[2017-06-13 21:18] pixelzoom opened #313 "clean up options in LightRaysNode"
Noticed while reviewing https://github.com/phetsims/scenery-phet/issues/309.

`options` are kind of messed up in LightRaysNode, needs clean up.

[2017-06-13 21:19] pixelzoom commented on #309
Looks good, and tested OK in acid-base-solutions.

I did notice that LightRaysNode `options` is a little messy, so I'm going to fix that in #313.

[2017-06-13 21:21] pixelzoom commented on #313
Specifically... LightRaysNode doesn't have an `_.extends` call where the options are defined, documented and given default values.

[2017-06-13 22:11] pixelzoom commented on #309
Reopening.  After constructor, LightRaysNode currently has no Shape.  That seems a little dangerous.  If you were to pass in any of the options that require bounds (center, left, right,...) then that would presumably trigger an assertion failure.

[2017-06-13 22:22] pixelzoom commented on #313
Factored out default options into LightRaysNode.DEFAULT_OPTIONS, which can be used in clients (like LightBulbNode) to cherry-pick options.  Removed duplicated default options from clients.

Assigning to @samreid to review since CCK is the only non-common-code client.

[2017-06-13 22:26] pixelzoom commented on #309
I verified that if you try to do this:

[code]

... then you'll get an assertion failure in `Node.translate` line 1768 with message "x should be a finite number".

[2017-06-14 01:06] samreid commented on #309
On skype @jonathanolson reported

If it's something whose center is naturally at the origin and changes in size, it's not too sketchy (just use translation / x,y to position it, since positioning based on bounds is probably not desired)

[2017-06-14 15:42] samreid commented on #313
Things are looking great, but I think this.options should be renamed this.lightRaysNodeOptions.  Storing this.options seems like it may get stomped on in a future subclass or parent class.  If you agree I'm happy to make the change.

[2017-06-14 15:44] pixelzoom commented on #309
Using `centerX` to center on (e.g.) a lightbulb seems like a non-hypothetical use case.

@samreid I'm not sure why you assigned this back to me.  If you think it's not a problem that needs to be addressed, just say so and close the issue.

[2017-06-14 15:45] pixelzoom commented on #309
... And if `center` and other bounds-related options are not going to be supported, it may be prudent to add an assertion to verify that those options are not present.

[2017-06-14 15:48] phet-steele commented on #312
@jonathanolson plinko looks good, is there another sim that should be checked for regression?

[2017-06-14 15:53] Denz1994 commented on #309
@samreid Can we reserve this issue for tomorrow in between meetings? I would like to help with the assertions.

[2017-06-14 15:54] phet-steele commented on #312
Checked M&L, Gene Expression Essentials, and JT. All was well.

[2017-06-14 15:54] pixelzoom commented on #313
I that case we should cherry pick from DEFAULT_OPTIONS.  Done in above commit, @samreid please review.

[2017-06-14 16:44] jonathanolson commented on #312
Can't think of anything else that should be checked, thanks!

[2017-06-14 16:49] samreid commented on #309
What do you think about adding an invisible moveTo/lineTo for when the rays are invisible?  Then we can still support centering, etc.

[2017-06-14 16:56] jonathanolson commented on #309
If this is a common problem, Nodes could have a `pretendEmptyBoundsAreAroundOrigin` flag that could be turned on in cases like this?

I still have a preference for just using translation, as defining the 'center' of nothing as the origin sounds like a bad precedent.

[2017-06-14 16:59] pixelzoom commented on #309
An invisible Circle with radius `bulbRadius` might be more straightforward.

[2017-06-14 17:28] pixelzoom commented on #309
@jonathanolson said:

I don't think that's necessary.  I would prefer to have (1) common-code components that have well-defined bounds, and (2) clear error messages for when that's violated.

Agreed.

[2017-06-14 21:15] jessegreenberg commented on #291
@zepumph and I worked on this and changed the strategy.  Rather than wrapping each listener with special functionality (which suffers from https://github.com/phetsims/scenery-phet/issues/291#issuecomment-300618644), we are using ```startedCallbacksForFiredEmitter``` and ```endedCallbacksForFiredEmitter``` to disable alerts when callbacks start, and enable alerts when callbacks end.  I think this i

[2017-06-14 21:23] zepumph commented on #291
@samreid I would also love to hear from you on 3f38bba. Are we ok with using this technically 'phet-io specific' emitter for this accessibility solution. It's possible that we shouldn't be tapping into them like this, meaning (1) from a child (2) non phet-io code.

[2017-06-14 22:25] samreid commented on #291
I think it's generally OK to use the `endedCallbacksForFiredEmitter` and similar callbacks--I suspected they may have utility outside of PhET-iO.

[2017-06-14 22:54] phet-steele commented on #312
@ariel-phet what say you about a maintenance release for this fix? Currently the list of affected sims are small, but if they get translated into an RTL language....who knows what will happen?

Deployed RichText sims that would be considered for translation (and therefore a maintenance release):

graphing-lines 1.2
graphing-slope-intercept 1.0
chains 1.2
john-traovltage 1.3

Sim in rc that will ne

[2017-06-16 01:29] jonathanolson commented on #287
Had a need for this, reopening.

[2017-06-16 01:32] jonathanolson commented on #287
With https://github.com/phetsims/scenery/issues/612 implemented, this was fairly trivial to implement. Only complicated thing is the need to create a derived property to handle the `darker()` property, and to dispose of that property if it is created.

@pixelzoom, would you like to review?

[2017-06-16 01:33] jonathanolson commented on #287
Notably, https://github.com/phetsims/area-model-common/issues/59 needs to have the color change while pressing down, so the previous strategy was a no-go.

[2017-06-16 03:46] pixelzoom commented on #287
I won't get to this until Monday 6/19 at the earliest.

[2017-06-16 20:49] zepumph commented on #262
@samreid here I think a review just needs to look at the above commits for fowl play. Check to make sure that tandem: null was replaced correctly.

[2017-06-19 16:19] pixelzoom commented on #287
I seem to recall that we (the dev group) decided to generally avoid polymorphic parameters and options.  But polymorphism is the basis for the solution here, i.e.:

[code]

And results in conditional code like this:

[code]

I also see that this pattern has been pushed all the way down into `scenery.Gradient`:

[code]

Should we discuss this with other developers?...

[2017-06-19 16:25] jonathanolson commented on #287
The alternative would be to do things like:
[code]
where everything now needs to create wrapper objects.

It would technically simplify documentation, at the (in my opinion unneeded) verbosity in client usage.

[2017-06-19 16:30] pixelzoom commented on #287
I think that some things, like `{Color|string}` are fine.  And could get used to `{Color|string|Property.<Color|string>}`.   I'm just a little concerned about going down the slippery slope where many things in scenery (and other APIs) become `{type|Property.<type>}`, and the parameter/option names don't tell you which ones support this.

[2017-06-19 16:35] samreid commented on #287
We previously investigated `type|Property.<type>` elsewhere in scenery (though I can't recall where) and it seemed like it worked great, hence @jonathanolson informed us he was going to investigate the same strategy for colors.

[2017-06-19 16:35] jonathanolson commented on #287
For colors, yes (since you can generally pass those directly to Scenery, unless you need to make lighter/darker copies).

For other things, having explicit properties seems better.

[2017-06-19 16:39] pixelzoom commented on #287
Assuming that you're referring to Properties and not properties...

Why is it better to use polymorphism for colors and explicit Properties for other things?

E.g., why not use polymorphism for lineWidth, like this? :

[code]

[2017-06-19 16:39] jonathanolson commented on #287
Color Property support hit ~20 months ago (https://github.com/phetsims/scenery/issues/471), and I recently fixed the gap in support for this with gradients (https://github.com/phetsims/scenery/issues/612).

I believe this is exclusive to color-like things (fills/strokes) for now. If I wanted to go down a path of more things being supported, I'd want EVERY Scenery parameter to support it. No curren

[2017-06-19 16:40] pixelzoom commented on #287
@samreid said:

Sorry, I must have missed that.

If we can get one other developer to sign off on polymorphism, I'm OK with closing this issue.

[2017-06-19 16:41] jonathanolson commented on #287
Colors were the predominant Property type you'd want to pass things in, it hasn't come up as much for others?

But as far as Scenery is concerned, being able to pass in Properties could also be quite helpful.

[2017-06-19 16:43] jonathanolson commented on #287
https://github.com/phetsims/scenery-phet/issues/156#issuecomment-144763766 and the comments below I believe is the main discussion for this initial approach.

[2017-06-19 16:44] pixelzoom commented on #310
6/15/17 dev meeting consensus:  Line breaks would be generally useful, proceed.

[2017-06-19 16:49] jonathanolson commented on #287
An argument against this is the effort it took Scenery-side. Since the Color type is mutable (not used too often), to handle a `{Property.<Color|string>}` that itself is mutable requires listeners to handle three different ways to change it:

- Change the fill itself (new `{Property.<Color|string>}`)
- Change the value of the `{Property}`
- Change the color values of the Color.

[2017-06-19 16:50] pixelzoom commented on #287
@jonathanolson said:

Can you point me to where polymorphism is discussed in this issue? I don't see it, perhaps I missed it.

[2017-06-19 16:54] jessegreenberg commented on #287
This seems reasonable to me, and makes it clear what does/doesn't support ```type|Property.<type>```.

[2017-06-19 16:56] jonathanolson commented on #287
Sorry, it looks like there was basically no discussion on it there. There may have been some discussion in person, as I seem to have created the color-property issue ~11 minutes after your dev notes on the subject were posted.

[2017-06-19 16:57] pixelzoom commented on #287
@jessegreenberg said:

It makes it clear only if every parameter and option that is a color supports polymorphism.

[2017-06-19 17:03] jonathanolson commented on #287
One thing about our current polymorphism+documentation combination is not having a "shortcut" way to specify something that can be passed to a fill or stroke. Currently the type documentation (pulled from setFill) is `{null|string|Color|Property.<string|Color>|LinearGradient|RadialGradient|Pattern}`.

Having to place that everywhere any parameter should be a fill/stroke is unfortunate.

[2017-06-19 17:17] jessegreenberg commented on #287
Agreed, and I think that is the plan for Scenery color now, correct?  Now that ```scenery.Gradient``` accepts color Properties, are there any remaining color options in Scenery that still don't support polymorphism?

[2017-06-19 17:25] zepumph commented on #287
That is a bummer, is there anyway with jsdoc to say "See setFill for types?"

[2017-06-19 17:37] jbphet commented on #287
Here's a take on pros and cons:

Pros:
+ The pattern has been extremely useful in the places we've used it so far, such as implementing color schemes using Properties

Cons:
+ Library code is complicated by having to do a bunch of type checking
+ Library code will likely be inconsistent, with some options supporting ````type|Property.<type>``` and some not, which makes it harder to ramp up on corr

[2017-06-19 17:44] pixelzoom commented on #287
We have a quorum to proceed with polymorphic parameters and options, so review of NumberPicker gets a 👍.

Back to @jonathanolson in case there's anything else to do here.

[2017-06-19 18:21] jonathanolson commented on #287
Noted fill/stroke type documentation for discussion in https://github.com/phetsims/scenery/issues/631.

[2017-06-19 18:33] jonathanolson commented on #287
Noted accepting Properties as values in https://github.com/phetsims/scenery/issues/632. If anyone feels like this should be proposed for implementation, then please comment there.

[2017-06-19 18:33] jonathanolson commented on #287
I think this issue is complete, thanks!

[2017-06-19 18:33] #287 closed

[2017-06-20 17:04] pixelzoom opened #314 "MultiLineText doesn't have an associated T type"
Related to Molarity dev testing https://github.com/phetsims/tasks/issues/865.

Discussion with @phet-steele asked via Skype:

[6/20/17, 10:19:39 AM] Steele Dalton: as opposed to a simple TNode without editable text
[6/20/17, 10:20:00 AM] Chris Malley: example?
[6/20/17, 10:20:30 AM] Steele Dalton:
[code]

[6/20/17, 10:45:01 AM] Steele Dalton: Okay, but let’s ignore all the “under the hood” reasons

[2017-06-21 18:43] pixelzoom commented on #314
@samreid it would be good for you to weigh in on this too.

[2017-06-21 19:16] pixelzoom opened #315 "RichText documentation is incomplete"
Skype:

[6/21/17, 1:11:35 PM] Jonathan Olson: they use totally different encodings
[6/21/17, 1:12:11 PM] Jonathan Olson: So essentially each translated string should eventually be tagged so Rosetta knows whether HTML entities need to be encoded, etc.
[6/21/17, 1:12:19 PM] Chris Malley: RichText doc doesn't indicate that HTML entities must be used. That's news to me.

Add documentation about entiti

[2017-06-21 20:01] samreid commented on #314
MultilineText should probably get its own TType.

[2017-06-21 20:03] zepumph commented on #314
I'm unsure about the credit problem. It does seem like a bit of a bummer. We could include metadata in the TType for a 'readOnlyInstance' or something like that, and we don't let clients set those texts.

[2017-06-21 20:10] pixelzoom commented on #314
That sounds like a good idea. I think it's likely that we'll need to instrument some things as read-only (credits, copyrights,...)   The question then becomes, does "read-only" mean that nothing can be changed? Or is "read-only" per attribute?  For example, if some TText is read-only, does that mean that nothing can be changed? Or do we need to specify "you can change fill, but not text"?

[2017-06-21 20:12] pixelzoom commented on #314
That sounds like a good idea. I think it's likely that we'll need to instrument some things as read-only (credits, copyrights,...)   The question then becomes, what is the scope of read-only? Is it the entire TType, or specific aspects of the TType?  For example, if some TText is read-only, does that mean that nothing can be changed? Or do we need to specify "you can change fill, but not text"?

[2017-06-21 20:44] zepumph commented on #314
I sort of like 'readOnlyContentInstance' where you can't 'setText', but other setters for Node work fine.

[2017-06-21 23:14] ariel-phet commented on #312
@phet-steele this does seem like a good idea for a maintenance release.

@jonathanolson would this be tough to fit in?

[2017-06-21 23:33] zepumph commented on #312
This would need to hit JT 1.3-phetio and resistance in a wire 1.3-phetio as well.

[2017-06-22 00:38] jonathanolson commented on #312
It's probably fairly simple, seems worth the maintenance release to me also. OK to go ahead?

Sounds good. I'll be notifying everyone on phet-dev when this is ready to go so I can manually hit places that need it.

[2017-06-22 01:11] zepumph commented on #312
Sounds good, let me know if you need help

[2017-06-22 01:18] jonathanolson commented on #312
@ariel-phet, also let me know if there's anyone I should collaborate with to teach how to do the automated releases.

[2017-06-22 04:42] jonathanolson commented on #315
So, this is awkward.

I'm using himalaya (https://github.com/andrejewski/himalaya) to parse the HTML. It looks like I misinterpreted its "content" field on a "text" element, which is definitely not the element.textContent (expected), but is the equivalent of innerHTML. And I didn't run across this case when testing, or in the sims I've been involved with.

So, the current implications of this... t

[2017-06-22 05:12] jonathanolson commented on #315
Implemented a fix for the encoding.

Added the following temporarily:
[code]

[2017-06-22 05:59] ariel-phet commented on #312
@jonathanolson potentially @jessegreenberg or @zepumph or both (as I get the feeling that as we have more a11y sims, things will come up that require patches for a11y features)

[2017-06-22 06:00] ariel-phet commented on #312
What say you a11y crew? @zepumph @jessegreenberg?

[2017-06-22 17:11] zepumph commented on #312
Whatever is best. I'm happy to help.

[2017-06-22 19:32] jonathanolson commented on #315
I'll include in the maintenance release for RichText, and will create an issue for rosetta support.

[2017-06-22 20:23] jonathanolson commented on #312
I'll plan to include the change from https://github.com/phetsims/scenery-phet/issues/315 with this.

@zepumph, what would a good time to have a call about the maintenance release (and start things off)?

[2017-06-22 20:26] jonathanolson commented on #315
Noted in the maintenance release issue (https://github.com/phetsims/scenery-phet/issues/312) and created an issue for the validation (https://github.com/phetsims/rosetta/issues/156). Closing.

[2017-06-22 20:26] #315 closed

[2017-06-22 20:39] zepumph commented on #312
It would be good to get @jessegreenberg in on this too, if you are planning to give a basic rundown on the whole maintenance release process. Anytime tomorrow after 1 MST or so is good with me.

[2017-06-22 21:04] jessegreenberg commented on #312
Definitely, thanks.  I am free tomorrow from 1pm MT to 3:45pm MT, or anytime after 5pm.

[2017-06-23 21:41] zepumph commented on #312
We met today, and it was a good introduction into the maintenance release process for @jessegreenberg and I. It also seemed helpful for us to do phet-io releases together to get accustomed to that side of things.  Next steps are to work with @jonathanolson in the future, and perhaps @jessegreenberg or I can drive to get more familiar with the process. As we go I think there will be some good discu

[2017-06-26 15:12] pixelzoom commented on #314
@samreid @zepumph Any plans to address this prior to Molarity RC testing? Or should I proceed without?

[2017-06-26 17:02] samreid commented on #314
+1 for "proceed without".  Whatever solution we find should apply to all 10+ phet-io sims, not just one.

[2017-06-26 18:06] pixelzoom commented on #314
Not sure that I understand the question.  MultiLineText is used throughout common- and sim-specific code.  E.g., search for `var MultiLineText` in molarity.   Because there's no TMultiLineText, there's currently no ability to modify instances of MultiLineText (e.g., change the text).

[2017-06-26 18:08] pixelzoom commented on #314
Note that changing the text for MultiLineText is _extremely_ problematic, because it creates a Text node for each line of text.  If TMultiLineText exposes `setText`, then it may alter the number of Text nodes required.

[2017-06-26 18:09] pixelzoom commented on #314
Ah... I retract my previous statement.  I see that MultiLineText already has `setText`.

[2017-06-26 18:23] samreid commented on #314
I see, MultilLineText is used for Molarity slider title nodes and the concentration display title node.  So clients would be able to hide them but not change the text.

Why is this extremely problematic?  Due to layout issues?

@zepumph how would you prioritize this?

[2017-06-26 18:26] zepumph commented on #314
The reason I have been putting it off is because I want to try to solve how to handle credits and copyrights and other texts we don't want to be changed. IMO this is a big deal that we should handle eagerly. If people feel differently, I could make TMultiLineText today, quite quickly, for the Molarity RC.

[2017-06-26 18:28] samreid commented on #314
That doesn't seem as important to me (because I am not too concerned about our clients changing the credits), but perhaps it could be easily solved by passing `phetioType:TNode` to the node constructor, then you get the Node interface but not the text interface.

[2017-06-26 18:32] zepumph commented on #314
I think that is what is being done (when phetioType is omitted, it defaults to TNode). I think that it is important to have this feature for molarity. I will implement it next in my TODO list.

[2017-06-26 18:50] zepumph commented on #314
Alright it is implemented. The thing is that in instance proxies I can't seem to get the '\n' to not get escaped in the text box. Fortunately it works well programatically.

The First value was changed from Instance Proxies, and the second was a direct call on simIFrameClient.invoke() with `simIFrameClient.invoke( 'molarity.molarityScreen.view.solutionVolumeSlider.titleNode', 'setText',['hello\nWO

[2017-06-26 18:54] samreid commented on #314
Imagine putting `{phetioType: TNode}` into the MultiLineText constructor invocation options in CreditsNode.js.  That would effectively make them "read only".

[2017-06-26 18:55] samreid commented on #314
Escaping in the text box looks perfect.

[2017-06-26 18:57] zepumph commented on #314
Ahh, that is a great idea! I will implement that in a new issue.

[2017-06-26 19:10] zepumph commented on #314
"Read Only" texts will be settled in phetsims/phet-io#1166, closing

[2017-06-26 19:10] #314 closed

[2017-06-29 16:50] jbphet commented on #214
In the 6/29/2017 meeting, we discussed having these model element creator nodes having touch snag enabled by default, since this makes it easier to use them on smaller touch-based devices like phones.  This was implemented in two simulations this week, CCK and Expression Exchange.  It turns out that just turning on `allowTouchSnag` isn't sufficient when forwarding events.  The solution was a bit m

[2017-06-29 16:52] samreid commented on #214
@jonathanolson suggested factoring out that code if it will be widely used.

@ariel-phet suggested a developer meeting topic to decide whether nodes should be "swipe to snag" by default or not.

[2017-07-03 18:22] jonathanolson commented on #312
Deployment handled, closing.

[2017-07-03 18:22] #312 closed

[2017-07-03 18:27] jonathanolson opened #316 "RichText link support"
I'd propose that RichText should support hyperlinks, e.g. something like:

[code]

This would use LinkText (or an equivalent) to display the link.

I don't want translators (or essentially anyone who can append query parameters to override strings) to be able to set URLs for security purposes, so there is a level of indirection there (and any non-matching link would either error out, or be handled

[2017-07-05 12:11] samreid opened #317 "Should we use named placeholders in common code?"
In https://github.com/phetsims/circuit-construction-kit-common/issues/380#issuecomment-312682355 @pixelzoom said:

The general issue is how (or whether) to change UI components that use numbered placeholders as part of their public API. NumberControl and NumberDisplay do this through options.valuePattern. Are their other common-code APIs that do something similar? Should/can we change these APIs t

[2017-07-05 12:29] samreid commented on #317
It looks like a general way to solve this in common code is to pass a function that formats numbers, rather than passing one kind of pattern or another.

[code]

[2017-07-05 12:47] samreid commented on #317
Another feature which would be nice (and possible given the numberFormatter pattern described above) is that we may sometimes wish to change the units based on the value.  For instance:
2 Volts
1 Volt

[2017-07-05 14:06] samreid commented on #316
That does seem like something RichText should support, and a good API for it.  However, I am unfamiliar with the implementation of RichText or LinkText so I can't tell if this will be easy enough or too complicated to implement.

[2017-07-05 15:01] jonathanolson commented on #316
Very easy to implement.

[2017-07-05 15:03] samreid commented on #316
Would it need extensive testing across different platforms?  Or relying on a strategy we are already comfortable with?

[2017-07-05 15:16] jonathanolson commented on #316
Presumably it wouldn't need testing, as we've used LinkText (I believe) successfully in the past.

[2017-07-05 15:30] jbphet commented on #316
Would it be possible to use a pattern and a supporting string util function that would allow everything except the link to be translated?

[2017-07-05 16:03] jonathanolson commented on #316
I'd love to have more details on any alternative or pattern. It should handle not letting the user just add `<a href="http://something.bad">...</a>` directly into a string and having that turn up in the link.

So far, I think providing the URLs directly to RichText is the safest approach.

[2017-07-05 18:43] samreid commented on #316
Sounds good, take my upvote!

[2017-07-05 20:39] veillette commented on #308
The work on the bucket label is done. Assigning back @jbphet for review.

[2017-07-06 18:10] pixelzoom commented on #316
Looks generally good.  But I'd use named placeholder syntax for the link, e.g. `{{phetLink}}`.  This will allow Rosetta to identify the placeholder as something that can't be changed, and translators are conditioned to identify placeholders.

[code]

[2017-07-06 18:11] jonathanolson commented on #316
Decision at 7/6/17 meeting to implement above with @pixelzoom's placeholder pattern.

[2017-07-07 17:15] jonathanolson commented on #316
Added support.

Also:

- Added the ability to set `{ links: true }` and it just uses the links in the string.
- Added the ability to change the default link fill (`linkFill`)
- Didn't use LinkText, since it was cleaner overall to implement in RichText directly (can have formatting inside a link, which is potentially important).

Closing, but if anyone wants to review please re-open.

[2017-07-07 17:15] #316 closed

[2017-07-07 17:16] jonathanolson commented on #316
For reference, examples in the demo view:
[code]

[2017-07-07 18:07] pixelzoom commented on #317
As mentioned above, this affects several sims, including projectile-motion. And @andrea-phet would like to know how to proceed with https://github.com/phetsims/projectile-motion/issues/60.

[2017-07-10 21:16] zepumph opened #318 "MovableDragHandler has no dispose"
Even though it is a tandemRequired class, there is no dispose method, so it is impossible to garbage collect. Its caused a problem in CAF https://github.com/phetsims/charges-and-fields/issues/125 because tandems aren't removed.

[2017-07-10 21:20] zepumph commented on #318
Sorry, I made a mistake, the dispose is handled in the parent. Closing

[2017-07-10 21:20] #318 closed

[2017-07-10 22:45] jbphet opened #319 "recommend renaming Timer.js to TimerNode.js"
There is a widely used type in phet-core named `Timer.js`.  In order to avoid confusion, I think it would be better to rename the timer node in scenery-phet to something like `TimerNode` or `Stopwatch` or something along those lines.

This came up when reviewing Masses and Springs, which uses the scenery-phet version of this type.  I'm more used to the phet-core version, and it had me briefly conf

[2017-07-10 22:56] jonathanolson commented on #319
Don't know what you mean, no one would name something that badly.

I only see scenery-phet's TimerNode (ignore the above commits).

[2017-07-12 15:38] jbphet commented on #319
Huh, I could've sworn.  Ah well, never mind then.  Closing.

[2017-07-12 15:38] #319 closed

[2017-07-13 07:19] jonathanolson commented on #310
There are a lot of complicated edge cases for this, going to hold off until it goes up in priority.

[2017-07-13 16:10] jonathanolson commented on #317
And in some languages like Slovenian, it has a "dual" concept, where there are three cases: 1, 2, 3+. Russian also has some intricacies with changing numbers. Usually we haven't been handling the plural/singular distinction for readouts, but if we do, I'd encourage we look at what type of solutions would be needed.

[2017-07-13 18:02] pixelzoom commented on #317
Here's the recommended approach. Use named placeholders in new client code.  Map to numbered placeholders where needed for common code.

[code]

[2017-07-13 22:02] jonathanolson opened #320 "Shared trash can images"
It looks like there are three trash can images, and they are all shared:

balancing-act:
![trash-can](https://user-images.githubusercontent.com/480878/28189669-2a128a72-67e4-11e7-9807-4507979c09a4.png)

forces-and-motion-basics:
![trash-can](https://user-images.githubusercontent.com/480878/28189705-5146d8e6-67e4-11e7-82b3-ebe11ce69dc7.png)

energy-skate-park-basics:
![trash-can](https://user-image

[2017-07-14 18:22] pixelzoom commented on #214
Labeling with `meeting:developer`, since I'm not sure when `meeting:design` issues are discussed.

[2017-07-14 20:08] samreid commented on #214
Please see https://github.com/phetsims/scenery/issues/639 for code we factored out for this pattern.

[2017-07-14 21:15] samreid commented on #320
Scenery-phet sounds good.  Not sure if we should break apart the trash icon and arrow, or use font awesome for the trash can part.

[2017-07-14 23:30] jbphet commented on #320
The one for Balancing Act has an asset file too in Adobe Illustrator format.  This should probably be moved as well.  You'll probably need to update the licensing files as well.  No strong opinions on the names - trash-can or something similar would be fine.

[2017-07-17 17:21] pixelzoom opened #321 "rename MeasuringTape to MeasuringTapeNode"
MeasuringTape should be named MeasuringTapeNode.  Most recently, this confused me in https://github.com/phetsims/projectile-motion/issues/20, where I thought that MeasuringTape was referring to the model of a measuring tape.  With the exception of basic UI components (panel, button, combo box), the PhET convention is to add a `Node` suffix to view components.

There are currently 9 occurrences of

[2017-07-17 18:09] pixelzoom commented on #321
charges-and-fields has its own `MeasuringTape` (model) and uses `SCENERY_PHET/MeasuringTape` (view).  Another reason to make this change.

[2017-07-17 18:10] pixelzoom commented on #321
projectile-motion has `ProjectileMotionMeasuringTape`  (model) and uses `SCENERY_PHET/MeasuringTape` (view).

[2017-07-17 18:32] pixelzoom commented on #321
Rename completed.  The following repos were touched:

charges-and-fields
fluid-pressure-and-flow
projectile-motion
scenery-phet

All of the above were tested manually and with `?ea&fuzzMouse`.

[2017-07-17 18:40] #321 closed

[2017-07-18 16:56] jbphet commented on #308
Looks good to me, closing.

[2017-07-18 16:56] #308 closed

[2017-07-19 18:08] pixelzoom commented on #214
Now that we're starting to spread this out across multiple issues, I'm no longer sure what the most recent version of the creator pattern is.  Examples:

(1) How is `SimpleDragHandler.createForwardingListener` used in the pattern? See https://github.com/phetsims/scenery/issues/639#issuecomment-316469007

(2) When did we add "ignore this if already dragging" to the pattern?  See example in https://

[2017-07-19 18:14] pixelzoom commented on #214
Discussed (2) above via Skype. "ignore this if already dragging" is apparently related to touchSnag. Don't snag something if you're already dragging something else.

[2017-07-19 18:24] pixelzoom commented on #214
Um. No, that's not the answer.  Snag is a feature of SimpleDragHandler. The example in https://github.com/phetsims/scenery/issues/639#issuecomment-316469007 is a generic input listener.  So my question is still open: Why is "ignore this if already dragging" required?

[2017-07-19 18:26] samreid commented on #214
In case it got an event forwarded to it by SimpleDragHandler...?

[2017-07-19 20:28] zepumph opened #322 "create TRichText"
From https://github.com/phetsims/phet-io/issues/1046, I think it would be good to do this before too long, since I counted 53 usages of RichText in phet-io instrumented sims. We should get this into sims before we deliver these to clients. Currently the are treated as TNode's, which means their text is not editable like Text or MultilineText.

Tagging @samreid for comment.

[2017-07-20 02:20] samreid commented on #322
Sounds good to instrument soon and include with next PhET-iO sim.

[2017-07-20 02:28] samreid commented on #214
See https://github.com/phetsims/scenery/issues/639#issuecomment-316577983 for an improved API for SimpleDragHandler.createForwardingListener.

[2017-07-20 16:16] samreid commented on #317
OK I made this change in CCK code.

[2017-07-21 17:56] pixelzoom commented on #214
@samreid wrote:

I don't think this is sufficient for summarizing the current state of the recommended pattern.  Other developers (including some who have never used this pattern, e.g. https://github.com/phetsims/projectile-motion/issues/20#issuecomment-316474525) are waiting for guidance.

[2017-07-21 18:13] zepumph commented on #322
I created it, and made it tandemOptional, just like Text.js. I think this is reasonable, but there are many RichText's in Phet-io sims that are not currently instrumented, that we probably want to be. My hope is go back and instrument a lot of these, if not all of them. I'm still not sure if we want this to be tandemRequired at some point.

Also I noticed that RichText (and MultilineText) does not

[2017-07-21 18:21] zepumph opened #323 "Add Emitters to other Text Types"
From https://github.com/phetsims/scenery-phet/issues/322#issuecomment-317074146

Currently there are no trigger calls in MultilineText or RichText. I think it would be worth pursuing. For PhET-iO it could potentially help consolidate the Text api.

I'm not sure how to proceed, tagging for dev meeting.

[2017-07-22 01:04] zepumph commented on #322
on hold until #323 .

[2017-07-24 15:28] samreid commented on #313
Looks great, thanks, closing.

[2017-07-24 15:28] #313 closed

[2017-07-25 18:53] samreid opened #324 "RewardNode should support Emitter"
Discovered in phetsims/axon#102 RewardNode uses an Events argument for driving the animation. PropertySet extends Events but will no longer be used, and Events is deprecated. RewardNode should support Emitter.

[2017-07-25 18:54] samreid commented on #324
Oops wrong repo (strike 2).

[2017-07-25 18:54] #324 closed

[2017-07-26 18:39] pixelzoom commented on #271
@ariel-phet FYI, the lack of closure on this issue is resulting in work-around solutions that are being copy-pasted between sims.  See https://github.com/phetsims/projectile-motion/issues/118

[2017-07-26 18:40] pixelzoom commented on #283
@jbphet What's the status of the new keypad?

@ariel-phet FYI, the lack of closure on this issue is resulting in work-around solutions that are being copy-pasted between sims.  See https://github.com/phetsims/projectile-motion/issues/118

[2017-07-26 20:46] pixelzoom commented on #323
Reviewing for developer meeting.  This originally came up in the context of PhET-iO, where an ideal API would provide the client with a "base API" for text, without having to worry about what specific implementation of text.  But having a "base API" for various types of text would also make life easier for PhET developers.

[2017-07-26 21:04] jonathanolson commented on #283
AbstractKeyAccumulator doesn't have stringProperty/valueProperty, that seems like an implementation detail in NumberAccumulator? (It's also not marked `@override` in NumberAccumulator).

TermAccumulator (in Area Model) has richStringProperty and termProperty (which somewhat map over), but initially there was no stringProperty equivalent (where I used `termProperty.value.toRichString()`) before I n

[2017-07-26 21:06] jonathanolson commented on #283
Also, it looks like these are already being forwarded (but some are undefined for Area Model's accumulator):

[code]

Documentation for what the accumulator API is should probably be in the abstract accumulator, as if these were part of the API, it was undocumented.

[2017-07-26 21:19] jonathanolson commented on #271
Presumably implementations that are similar should be factored out (I don't copy-paste things like that).

Area Model is not a candidate for refactoring (RichText, custom readout size that can change, etc.), but Make a Ten's keypad definitely could be used (as it uses NumberEntryControl).

[2017-07-26 22:16] jbphet commented on #291
The changes look reasonable to me, and as long as @samreid approves of the usage of these emitters that were originally added in support of phet-io, I'm okay with it.  Closing.

[2017-07-26 22:16] #291 closed

[2017-07-27 03:39] mbarlow12 opened #325 "New key nodes for keyboard help dialogs"
Create and test new nodes for Fn, Page Up, Page Down, Home, and End keys. All follow the patterns from Shift and Tab key.

[2017-07-27 17:37] jonathanolson commented on #323
There are actually some inherent performance disadvantages for how RichText and other "composite" types handle text.

Having things like RichText/MultiLineText handle rendering within Scenery internals would help a ton with mutation, and could give it the same API. Also feels like something Scenery should be able to handle natively.

[2017-07-27 19:10] ariel-phet commented on #323
@samreid @zepumph @jonathanolson will discuss

[2017-07-27 19:18] jessegreenberg commented on #323
The only other thing I noticed was that this issue is recommending adding trigger to Text types, but since Events is deprecated, would now be a good time to switch to Emitter for Text types?

[2017-07-28 20:24] zepumph commented on #322
TRichText is created, and there is an api to change the value of the text. #323 will handle consolidating text events that we can emit on the data stream. Closing

[2017-07-28 20:24] #322 closed

[2017-08-01 18:58] samreid commented on #323
Why are we discussing `trigger`?  Do you mean a way to be notified when the text changes?

[2017-08-01 19:03] samreid commented on #320
Maybe we should separate out the curved arrow from the trash icon and create it as a kite shape?  Perhaps some sim in the future will want that arrow to be a different color.  I'd also be interested in seeing the black trash can as a kite shape so it is scaleable and paintable.

Here's the font awesome trash icon, can/should we use that?
http://fontawesome.io/icon/trash/
![image](https://user-imag

[2017-08-01 19:37] zepumph commented on #323
Sorry I didn't realize that Events is deprecated. Emitters are probably the way to go.

 yes that's what I'm talking about.

I'll change the name.

[2017-08-03 00:56] samreid commented on #262
The preceding commits look great, thanks!  Closing.

[2017-08-03 00:56] #262 closed

[2017-08-03 18:14] samreid commented on #214
@andrea-phet is going to look into https://github.com/phetsims/projectile-motion/issues/20#issuecomment-316474525 and report back.

[2017-08-03 18:25] andrea-phet commented on #214
What I'm understanding is that a general createForwardingListener has been created in common code, so I should use that instead of what is happening in projectile motion right now. I will try to follow the instructions in https://github.com/phetsims/scenery/issues/639#issuecomment-316577983 and then ask questions or ask for a review from @jbphet or @samreid .

[2017-08-04 22:23] jbphet commented on #283
@jonathanolson said:

and

This is a good point, and in fact, that's why I designed it this way in the first place - there will be different accumulators needed in different circumstances.  This makes it difficult to make these properties available directly from the keypad.  In a previous comment about design discussions with @pixelzoom and @jonathanolson I said, "we agreed that the client shouldn

[2017-08-04 22:28] jbphet commented on #283
I think the issues raised above have been addressed at this point, but there were a lot of them, so I have only a moderate degree of confidence that this is true.  I'm going to give @andrea-phet the go-ahead to use this in Projectile Motion, see https://github.com/phetsims/projectile-motion/issues/127.  I think the API is unlikely to change much at this point, so it should be safe.  I'm going to a

[2017-08-04 22:57] jbphet commented on #283
Scanning back through the list of comments, I realized that I missed an item: implement dispose.  I'll do this shortly, but I think any review can occur in parallel.

[2017-08-04 23:15] jonathanolson commented on #283
Sounds ready for projectile-motion usage to me. Assigning as described.

[2017-08-07 01:31] samreid commented on #294
This seems to be a pretty rare problem on bayes:
![image](https://user-images.githubusercontent.com/679486/29009132-bfe38f0e-7add-11e7-93e7-16024596908b.png)

[2017-08-07 01:36] samreid commented on #294
I added code to avoid the exception.  I considered changing the ranges of the sliders, but couldn't think of productive constraints that are orthogonal (constraints depend on the value of other parameters).  Not planning to work on this further.

[2017-08-07 16:28] jonathanolson opened #326 "Move RichText to Scenery"
Will need to wait for https://github.com/phetsims/chipper/issues/596 so we can have the build process handle adding himalaya to Scenery.

[2017-08-07 19:02] jonathanolson commented on #320
@ariel-phet, does that trash can icon in the above comment (https://github.com/phetsims/scenery-phet/issues/320#issuecomment-319465671) look like a good enough replacement for the trash can in the icons for pendulum-lab/energy-skate-park-basics?

I'd like to either replace to a version using the font-awesome icon, or consolidate the images so they aren't copied across sims.

[2017-08-08 17:56] jonathanolson commented on #310
Unicode algorithm: http://unicode.org/reports/tr14/

There exists at least one implementation in JS with an MIT license: https://github.com/devongovett/linebreak (may require some Node.js => browser porting).

[2017-08-08 20:41] zepumph opened #327 "Instrument accessibility types"
After talking with @jessegreenberg, we thought that it would be good to instrument some accessibiltiy types that are meant for global screen reader control like `UtteranceQueue.js` and `AriaHerald.js`

Currently there are instrumented properties in AriaHerald that we have been setting directly, but that should be changed instead to use the AriaHerald api with a `TAriaHerald`

[2017-08-08 20:42] zepumph commented on #327
@samreid these are static types, like `phetio.js`. Is it possible to addInstance on these? I'm a bit confused about where phetio/TPhETIO's addInstance call is.

[2017-08-08 20:44] zepumph commented on #327
They aren't really globals, but they are "global" to the sim, and just used statically.

[2017-08-08 20:56] zepumph opened #328 "AriaHerald, renamed to ariaHerald?"
Since it is a static object and not a constructed type, it may be more idiomatic to have it be lower case.

Throughout the project usages look like:

[code]

rather than `new AriaHerald`

This is the same strategy that is employed for phetio.js, since it too is just a POJsonO.

@jessegreenberg what do you think?

[2017-08-08 21:09] jessegreenberg commented on #328
I disagree @zepumph, PhET convention for naming such Objects is typically to start with an upper case.  For instance things like phet-core/Timer, shred/AtomIdentifier, and Objects that implement factory functions all start with an upper case.

[2017-08-08 21:56] zepumph commented on #328
Sounds good!

[2017-08-08 21:56] #328 closed

[2017-08-08 22:59] samreid commented on #327
@zepumph and I discussed where to put the addInstance calls, please let me know if you run into further questions.

[2017-08-09 00:34] zepumph commented on #327
In the above commits I instrumented AriaHerald as Type TAriaHerald. I think the next step will be to uninstrument the internal properties, since they seem to be implementation details, and not public. @jessegreenberg you mentioned in our discussion today that these properties were only created for PhET-iO (maybe I heard wrong). If that is so, can they be deleted fully, and the implementation of Ar

[2017-08-09 00:34] zepumph commented on #327
In the above commits I instrumented AriaHerald as Type TAriaHerald. I think the next step will be to uninstrument the internal properties, since they seem to be implementation details, and not public. @jessegreenberg you mentioned in our discussion today that these properties were only created for PhET-iO (maybe I heard wrong). If that is so, can they be deleted fully, and the implementation of Ar

[2017-08-09 00:45] samreid commented on #327
Perhaps consider leaving read-only properties so they can be inspected or observed?

[2017-08-09 17:21] jessegreenberg commented on #327
That is correct.  Does PhET-iO enforce read only Properties? If the Properties are replaced with Emitters would that help?

[2017-08-09 17:24] zepumph commented on #327
Good idea, do we have this currently? I could imagine an option specific to TProperty called 'phetioReadonlyProperty'. This would short circuit the set method, but nothing else.

This seems like it could work, but we may want to change these to derived properties instead, since this functionality is already kinda set up there? I'm not sure exactly how that would work. @jessegreenberg's suggestion

[2017-08-09 17:35] jessegreenberg commented on #327
After thinking about it, I am leaning more toward Property rather than Emitter.  Property supports inspection while Emitter only supports observing.

In this case it isn't too critical that the Properties are read-only, alerts will still work as well as aria-live.  But by setting directly, they won't leverage some of the protections in AriaHerald that prevent rapid alerts from being ignored, and a

[2017-08-09 17:36] jessegreenberg commented on #327
With PhET-iO, maybe we *want* the client to have this freedom?

[2017-08-09 17:40] jessegreenberg commented on #327
My preference is to leave Properties in marked as read-only to the best of our ability.

[2017-08-09 17:44] zepumph commented on #327
I think this is the best that we have right now in terms of communicating read-only to PhET-iO. See @jbphet's work

[code]

Maybe I should take the time now to create an option like I was saying above, `phetioReadonlyProperty`.

My main hesitation with that is that it breaks the convention of having TTypes just wrap the Type, because it adds functionality to the TType that the Property doesn't hav

[2017-08-09 18:15] jonathanolson commented on #326
Done, closing.

[2017-08-09 18:15] #326 closed

[2017-08-09 18:55] jessegreenberg commented on #327
@zepumph I understand your concern.  In this case, ```phetioInstanceDocumentation``` seems good enough.

[2017-08-09 18:58] samreid commented on #327
Maybe `phetioReadOnly` would be a property on the Property?

[2017-08-09 19:23] zepumph commented on #327
These were commits from yesterday that I just pushed. I also added the read only doc just so that it's there right now. Let's bring this back up at phet-io meeting.

[2017-08-09 20:48] jonathanolson commented on #310
NOTE: This is mostly complete, except line breaks/lineWrap next to trailing whitespace (or leading whitespace for RTL) isn't working well with align.

I'll need to somewhat change how whitespace is handled, so `" <br>"` or `"<br> "` is handled correctly with alignment.

[2017-08-09 22:41] pixelzoom opened #329 "icon shifts on SoundToggleButton"
When you click on SoundToggleButton, the speaker part of the icon shifts horizontally.  The speaker should remain stationary, and the bit to the right of the speaker should change.   This could probably be accomplished by padding the icon.

See for example https://phet.colorado.edu/sims/html/plinko-probability/latest/plinko-probability_en.html

Assigning to @ariel-phet to decide how important this

[2017-08-09 22:42] pixelzoom commented on #329
Might be a little tricky to pad the icons, since this button uses font-awesome icons.

[2017-08-09 22:59] pixelzoom commented on #283
@jbphet NumberAccumulator does not propagate options to AbstractKeyAccumulator, looks like a bug. I'm also guessing that the `alternativeValidator` and `additionalValidator` features of AbstractKeyAccumulator are therefore untested.

[2017-08-09 23:31] zepumph commented on #327
I instrumented the UtterenceQueue I think this will help as we move into descriptions with OL.

[2017-08-09 23:35] zepumph commented on #327
For now we don't need to instrument Utterance because `UtteranceQueue.addToFront` can take in an Utterance or a string. Phet-io won't let you pass in an Utterence Type proper across the frame anyways, so I think this is best. Thanks for making this easy on me @jessegreenberg. I'll do more as needed.

[2017-08-10 04:30] samreid commented on #327
I don't know most of the context here, but TUtterance is only a file away!

[2017-08-10 11:34] jonathanolson commented on #310
Added line-break support (along with 'align' and 'leading'). In addition, lineWrap is implemented (with the slight caveat that it can split lines at HTML tag boundaries in addition to whitespace). Also, functions can be provided (in addition to strings) as values for the links object (which will be called when the link is clicked).

@pixelzoom, anything else that should be done?

[2017-08-10 17:35] andrea-phet commented on #214
I used createForwardingListener in Projectile Motion and it works well. Assigning to @jbphet to review https://github.com/phetsims/projectile-motion/issues/20, and then update here.

[2017-08-10 19:39] pixelzoom commented on #310
👍 RichText looks good.

@zepumph I see TRichText in scenery and scenery-phet.  Should the one in scenery-phet be deleted?

[2017-08-10 20:44] jonathanolson commented on #310
Sorry, I forgot to delete the scenery-phet one, but maybe it would be good to confirm with @zepumph whether that is safe?

[2017-08-10 21:47] zepumph commented on #310
It's safe and removed!

[2017-08-10 21:53] pixelzoom commented on #283
@jbphet said:

Integration of Keypad into projectile-motion is completed.  Publication of that sim is blocked until `dispose` is implemented and `options` propagation is fixed (see https://github.com/phetsims/scenery-phet/issues/283#issuecomment-321404395).  High priority.

[2017-08-10 21:57] pixelzoom commented on #310
👍 Closing.

[2017-08-10 21:57] #310 closed

[2017-08-11 01:30] ariel-phet commented on #283
@jonathanolson said he might be able to take care of this quickly. Since it is a blocking issue for projectile motion I ask him to move forward.

[2017-08-11 03:43] jonathanolson commented on #283
As a side note, things would be more convenient if we had an array of validators, instead of having to branch to check for default/alternative/additional. It would also allow greater flexibility in the future.

[2017-08-11 05:30] jonathanolson commented on #283
Added the options pass-through.

It seems like the only thing that needs disposal are the key nodes (as if the key labels are Nodes themselves, like in Area Model's case, they need the parent removed).

Am I missing something? (I double-checked all files in the keypad directory and really didn't see any complicated disposal that would be required).

[2017-08-11 15:31] andrea-phet commented on #214
https://github.com/phetsims/projectile-motion/issues/20 has been reviewed and closed, so I think this issue is all good as well. Removing the high priority label, and @jbphet feel free to close.

[2017-08-11 20:41] phet-steele commented on #294
@samreid now bayes just reports:

[code]
(same procedure)

[2017-08-11 21:58] jbphet commented on #283
I added disposal of the properties that are created by the keypad.  I also added a test harness to the scenery-phet demo that removes one of the demo keypads and invokes the dispose function.

[2017-08-11 22:36] jbphet commented on #283
@jonathanolson added the options pass through, and he and I added the dispose function.  However, I also added a test case to the scenery-phet demo that tests the disposal of the keypad, but that test case isn't passing yet.  The keypad is being successfully removed from the scene graph, and the dispose function is being called, and as far as I can tell all references from the demo are being clean

[2017-08-11 22:47] jbphet commented on #214
This issue has lived a long and productive life, and we have a pattern now for event forwarding that I think we developers are comfortable with.  Have a more generalized model creator node is probably not anything that we will do in the near future, but the event forwarding pattern gets us pretty close.  I think it's time to close this, but I'd like to clear it with other devs, since this has been

[2017-08-14 19:55] jbphet commented on #283
The issue that was causing the keypad to not be garbage collected has been resolved, and was unrelated to the dispose function.  It was an odd and subtle case, and a separate issue will be logged on it since @jonathanolson wanted to investigate it more after he and I looked at it.  I'm going to leave the test harness in the scenery-phet demo so that we can easily regression test the dispose functi

[2017-08-14 20:15] jbphet opened #330 "investigate unexpected garbage collection behavior"
I recently needed to add a dispose function for the new reusable keypad component, see https://github.com/phetsims/scenery-phet/issues/283.  I added a test harness to the scenery-phet demo that removed the keypad and called its dispose function.  Initially, this didn't appear to work - before and after memory snapshots revealed that the keypad was not being garbage collected.  After quite a bit of

[2017-08-14 20:19] jbphet commented on #330
Version b47f90ab81d5fabb758e686cf57d4ccaa6d7c864 exhibits the behavior.  To duplicate,

1. Run the scenery-phet demo
2. Go to the "Components" screen and select "Keypad"
3. Take a memory snapshot
4. Press the "Remove keypad (tests dispose)" button
5. Take another memory screenshot

If this test is run with the line `positiveAndNegativeFloatingPointKeyPad = null;` in place, there will be two instan

[2017-08-15 00:29] ariel-phet commented on #320
@jonathanolson that icon does look like a good enough to replacement to me

[2017-08-15 01:31] jonathanolson commented on #330
So I've taken an in-depth look at this, and have the following to note (for the developer meeting):

The following will leak both (a) and (b), since sibling closures share their contexts (variables in the current scope that are tracked) and contexts contain references to their parent contexts.
[code]
Thus in memory, the references that hold this:
[code]

References: http://point.davidglasser.net/2

[2017-08-15 15:14] pixelzoom commented on #330
Here’s a more thorough explanation of this type of leak, and how to fix them:
https://blog.meteor.com/an-interesting-kind-of-javascript-memory-leak-8b47d2e7f156

[2017-08-15 16:38] pixelzoom commented on #283
Several things still to be addressed.

Little things:

- [ ]  Documentation in `NumberAccumulator` refers to non-existent `PlusMinusKey` in 2 places.

- [ ] `defaultValidator` should be `@protected` in both `AbstractKeyAccumulator` and `NumberAccumulator`. It’s intended to be overridden by subtypes, and shouldn’t be called by clients.

- [ ] `updateAndValidate` should be `@protected` in `AbstractK

[2017-08-15 18:29] jonathanolson commented on #320
Moved over ClearThermalButton to scenery-phet, as it was shared and benefited from refactoring (takes care of the bottom pair of images).

[2017-08-15 18:33] jonathanolson commented on #283
These are used in Area Model (see TermAccumulator). It was noted that any sim-specific Key IDs should be placed in KeyID, should that change?

TermAccumulator (not common code) is another subtype.

[2017-08-15 21:25] pixelzoom opened #331 "replace MultiLineText with RichText"
RichText now supports line breaks, which was the sole purpose of MultiLineText.  It would be nice to get rid of MultiLineText.  But MultiLineText used `\n`, while RichText uses `<br>`.   So for translated strings (which is the majority of MultiLineText uses), we'd need to either (1) change translated strings, or (2) support `\n` in RichText.

There are 90 occurrences of `\n` in *-en.json (English

[2017-08-15 21:26] pixelzoom commented on #331
Two non-translated occurrences of MultiLineText that I replaced:

acid-base-solutions: https://github.com/phetsims/ph-scale/commit/5cb93745d8d86d66e48cfe810ced4ab346174ea5
vegas: https://github.com/phetsims/vegas/commit/8654582a763431d4ab0d196329cf3d3d81b12f75

[2017-08-15 21:35] pixelzoom commented on #331
It looks like we could reimplement MultiLineText like this:

[code]

@jonathanolson your thoughts?

[2017-08-15 21:56] pixelzoom commented on #331
If we reimplement MultiLineText as in https://github.com/phetsims/scenery-phet/issues/331#issuecomment-322596536,  then I guess we'd also have to change `TMultiLineText` to extend `TRichText`.

[2017-08-15 23:38] jonathanolson commented on #331
I guess it depends on how often it would be needed.

[2017-08-16 17:08] pixelzoom commented on #331
@jonathanolson said:

The idea would be to not use MultiLineText in new development, so it should not be "needed" at all in that regard.  What I'm proposing is that instead of changing translated strings, or having to maintain MultiLineText, we simply make MultiLineText convert the strings to a form that can be used by RichText, then replace  MultiLineText's implementation with RichText.

[2017-08-17 16:12] jonathanolson commented on #331
I have no problem with recreating MultiLineText as you have described.

[2017-08-17 17:26] pixelzoom commented on #331
8/17/17 dev meeting: We decided it's safest to leave MultiLineText "as is".  And we will annotate as `@deprecated`.

[2017-08-17 17:28] #331 closed

[2017-08-17 17:38] pixelzoom commented on #214
8/17/17 dev meeting: Consensus is to close.

[2017-08-17 17:38] #214 closed

[2017-08-17 18:49] pixelzoom commented on #330
Discussed at 8/17/17 dev meeting.  Closing.

[2017-08-17 18:49] #330 closed

[2017-08-18 21:50] jbphet commented on #283
Several of the "little things" have been addressed.

In the "big things" subcategory...

@pixelzoom said:

Maybe.  It just seemed to me that making any assumptions about what representations are needed makes for a brittle design, and I wanted to keep the abstract accumulator as simple and general as possible, so it only accumulates keys.  I could envision a case where only a numeric value is neede

[2017-08-19 02:32] pixelzoom commented on #283
Re questions in the above comment...

Perhaps @jonathanolson can chime in on whether he ran into hierarchy issue when creating `TermAccumulator`, and whether having `stringProperty` available in `AbstractKeyAccumulator` would have been useful.

[2017-08-19 04:22] jonathanolson commented on #283
As noted in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-318182334 above:

So having to require a stringProperty implementation for all accumulator subtypes doesn't "feel" correct to me.

The general accumulation and validation seemed quite general, like it should work for any subtype.

[2017-08-19 04:28] pixelzoom commented on #283
Then I'm fine with considering "Big things" (1) and (2) non-issues.

[2017-08-21 18:29] phet-steele opened #332 "[IE11] Number.MAX_SAFE_INTEGER not supported"
Scroll down to browser compatibility: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER

This is being used as an option in `NumberAccumulator.js` at line 36:

[code]

projectile-motion, as far as I know, is the first sim to use `NumberAccumulator.js` via `Keypad.js` and is failing to load on Win7 IE11. For phetsims/QA/issues/39. Assigning to

[2017-08-21 18:41] phet-steele commented on #332
Confirmed would not load on Win 8 IE11

[2017-08-21 22:36] andrea-phet commented on #332
In the above commit I copied strategies used in other places such as node and Function Builder. Assigning to @phet-steele to check.

[2017-08-23 01:33] pixelzoom commented on #332
Bummer. Unless we want to drop IE11 support, this is going to require another RC with full test matrix.

Mentioning @jbphet since he's the primary developer for keypad. @jonathanolson since he's using this in area-model.

[2017-08-23 15:58] phet-steele commented on #332
@jbphet requested to be assigned, so here he goes!

[2017-08-23 15:58] phet-steele commented on #332
Oh he is, nvm.

[2017-08-23 16:16] jonathanolson commented on #332
Presumably IE11 devices pointing at bayes continuous testing would have caught this and flagged errors before the RC?

[2017-08-23 16:19] pixelzoom commented on #332
@jonathanolson said:

I'm also wondering why this wasn't caught sooner.

[2017-08-23 16:23] jonathanolson commented on #332
To clarify, only Chrome headless instances are doing continuous testing right now. It's set up so you can point an IE11/whatever browser at the loop and it will also test, and I've recommended that we should have one browser per supported platform testing (to catch issues like this), but it is not currently being done.

[2017-08-23 16:34] pixelzoom commented on #332
@jbphet What is your recommendation for addressing this in projectile-motion. We're in RC phase, and would prefer not to start over with master.

[2017-08-23 16:35] pixelzoom commented on #332
@jbphet What is your recommendation for addressing this in projectile-motion? We're in RC phase, and would prefer not to start over with master. See https://github.com/phetsims/QA/issues/39#issuecomment-324198237

[2017-08-23 16:53] jbphet commented on #332
I'm investigating now, and will make a recommendation and fix shortly.  We can make a branch of scenery-phet and cherry pick only the fix, as we often do for similar situations, so you won't need to restart the RC process.

[2017-08-23 17:10] pixelzoom commented on #332
It looks like there have been changes to NumberAccumulator.js in master since projectile-motion's 1.0 release branch was created.  Let's be careful not to pick up those changes - make only the changes needs to fix this issue.  That may involve manually patching NumberAccumulator.js, vs cherry picking the file.

[2017-08-23 17:15] pixelzoom commented on #332
In https://github.com/phetsims/scenery-phet/issues/332#issuecomment-323870556, @andrea-phet said:

I don't see anything like this in Function Builder, and I'm not sure what the reference to "node" is about.   I do see this in lodash:

[code]

[2017-08-23 17:20] pixelzoom commented on #332
According to http://ecma-international.org/ecma-262/6.0/#sec-number.max_safe_integer, `Number.MAX_SAFE_INTEGER` is new in ES6.   And with WebStorm set to "ECMAScript 5.1" compliance (Preferences > Languages & Frameworks > JavaScript), `Number.MAX_SAFE_INTEGER` is clearly flagged in the WebStorm Editor as `undefined`.

@jbphet Do you have your IDE set to ES5 compliance?

[2017-08-23 17:42] pixelzoom commented on #332
@jbphet and I discussed via Zoom.  He's going to change to `maxDigits: 15` in a branch created off of the scenery-phet sha that is shown in projectile-motion 1.0 dependencies.json.

In master, he's going to do something like:

[code]

[2017-08-23 17:48] jbphet commented on #332
Actually, I'm going to set `maxDigits` to 15 in both places.  My reasoning is that while `Number.MAX_SAFE_INTEGER` is 16 digits long, it is less than the number represented by 16 9 digits in a row, so using `MAX_SAFE_INTEGER.toString().length` could allow users to enter values that JavaScript can't represent.  I just tried this from the console in Chrome, and number is not correctly stored.

[2017-08-23 17:49] pixelzoom commented on #332
OK.  I suggested using `MAX_SAFE_INTEGER.toString().length - 1`, which is `15`.  But whatever you want to do.

[2017-08-23 17:54] pixelzoom commented on #332
Should probably also add this assertion in master:

[code]

[2017-08-23 18:11] pixelzoom commented on #332
I asked:

Slack:

John Blanco [12:03 PM] Mine is - and was - set to ECMAScript 5.1. It does flag Number.MAX_SAFE_INTEGER, I'd just never noticed.  Aadish did this originally, and I missed it on code inspection.
Chris Malley [12:04 PM] I missed it too :) Guess I should set WebStorm to use a more noticeable color.

[2017-08-23 18:24] jbphet commented on #332
Okay, this should be fixed in master, and I've created a branch and done a quick fix for the projectile-motion RC.  The branch in scenery-phet is projectile-motion-1.0, and the SHA that should be picked up is 6c693b230fefb6356c880249a3261e0aaab2a440.

[2017-08-23 18:29] pixelzoom commented on #332
@jbphet see https://github.com/phetsims/scenery-phet/issues/332#issuecomment-324413016

[2017-08-23 19:00] jbphet commented on #332
Added the additional verification suggested in https://github.com/phetsims/scenery-phet/issues/332#issuecomment-324413016.

[2017-08-23 20:50] pixelzoom commented on #332
@phet-steele please verify in master.

Since `MAX_SAFE_INTEGER` is no longer involved in the projectile-motion-1.0 branch, this issue should be good to go for projectile-motion 1.0.0-rc.2.

[2017-08-23 20:58] phet-steele commented on #332
@pixelzoom, projectile-motion successfully loads in Win 7, 8, 10 IE11 from master.

[2017-08-23 21:46] phet-steele commented on #332
Fixed in projectile-motion rc.2. Anything left to do, @pixelzoom?

[2017-08-23 21:47] pixelzoom commented on #332
Nothing else to do, closing.

[2017-08-23 21:47] #332 closed

[2017-08-28 19:08] jbphet commented on #272
`NumberKeypad` has been replaced by `Keypad`, see https://github.com/phetsims/scenery-phet/issues/283.  `NumberKeypad` is now deprecated, and all further keypad work will be done in `Keypad` and its collaborators.  Closing.

[2017-08-29 21:21] pixelzoom commented on #317
We made decisions in https://github.com/phetsims/scenery-phet/issues/317#issuecomment-315156244.  And @samreid applied the decisions in CCK.

@samreid anything else to do here?

[2017-08-29 21:24] pixelzoom opened #333 "Keypad: decimal point is not localized"
Identical problem that was present in the old keypad, #279.

The decimal point is not localized, it's hardcoded (and duplicated) in multiple places in Keypad. E.g.:

[code]

[2017-08-29 21:26] pixelzoom commented on #274
The new Keypad has support for negative numbers (KeyID.PLUS_MINUS), and new development should be using Keypad instead of NumberKeypad.  So perhaps we can close this issue as "won't fix".  @jbphet do you agree?

[2017-08-29 22:59] ariel-phet commented on #329
Assigning to @jbphet and @jessegreenberg since this button will likely get more use as we work with sonfication. Probably more in the @jbphet wheelhouse since he did lots of work on buttons, but I will leave you two to decide on who will work on it, or feel free to collaborate

[2017-08-30 15:32] jbphet commented on #333
Ah yes, that did indeed get missed in the implementation of the new keypad.  The GitHub issue that @pixelzoom links above - #279 - has a lot of information that will be germane to the implementation of this feature and should be used as a reference.  I'll close that issue, and note that it is superseded by this one.

At one point in the discussion in #279 @ariel-phet says,

I'm taking this to mean

[2017-08-30 15:34] jbphet commented on #279
NumberKeypad has been deprecated, but the issue of how to change the decimal separator has not been addressed in the new keypad, so this issue is being superseded by #333.  Closing this one.

[2017-08-30 15:36] pixelzoom commented on #333
I'm not sure what the best solution is to this problem.  But decisions made in https://github.com/phetsims/dot/issues/68 (i18n: decimal comma separator) should be applied here.

[2017-08-30 15:39] jbphet commented on #274
Agreed - since `NumberKeypad` has been deprecated, and `Keypad` supports negative numbers, this one should be closed.  I've marked it with the label that indicates that this won't be fixed.

[2017-08-30 15:39] #274 closed

[2017-08-30 15:58] jbphet commented on #329
The issue isn't that the icon shifts, it's that the "sound off" icon is a little bit narrower than the "sound on" icon, and both are centered on the button.

![image](https://user-images.githubusercontent.com/3082831/29882185-81701cb2-8d69-11e7-97d3-4c63335a152e.png)

I just looked at the code for `SoundToggleButton`, and there is some scaling being done, so I'll take a look and see if this can be

[2017-08-30 16:20] pixelzoom commented on #329
Understood.  I should have said "perceived shift".

[2017-08-30 16:32] pixelzoom commented on #329
Left justifying the icons on the button should solve the problem.

[2017-08-30 18:09] ariel-phet commented on #333
@jbphet keypad is getting lots of use. I think it would be good for you to tackle this issue once Gene Expression is in the testing cycle.

Agreed with the proposed solution that keypad will automatically decided based on locale

[2017-09-01 21:14] jbphet commented on #329
I made a one-line change that appears to address the issue by making the icons the same width.  @pixelzoom - please have a look and close if you're okay with it.  Left justifying would probably have worked too.

[2017-09-01 21:35] pixelzoom commented on #329
2 changes in the above commit:
• The 1-line fix was indeed effective, but not obvious, so worth documenting (which I added).
• Creation of the 2 icons was somewhat interleaved, so I cleaned that up.

Back to @jbphet for a quick review. Feel free to close.

[2017-09-05 15:30] jbphet commented on #329
Looks good, thanks @pixelzoom.  Closing.

[2017-09-05 15:30] #329 closed

[2017-09-06 23:02] jessegreenberg opened #334 "ScientificNotationNode removes zeroes to right of decimal in mantissa"
```ScientificNotationNode.toScientificNotationNode``` returns an object like ```{mantissa:{number}, exponent:{number}}```.  Since mantissa is a number, we lose the zeroes to the right of the decimal and the precision specified by the option ```mantissaDecimalPlaces```. To keep consistent precision when there are zeroes to the right of the decimal mantissa needs to be a string.

For instance
[code]

[2017-09-07 17:59] pixelzoom commented on #334
@jessegreenberg said:

This seems like an OK direction to me.  But a couple of things to consider:

(1) For `{mantissa:{string}, exponent:{number}}`, it seems inconsistent/confusing to have different types.  `toScientificNotation` should probably return `{mantissa:{string}, exponent:{string}}`.

(2) All call sites for `toScientificNotation` need to be examined. Any that are assuming that mantissa

[2017-09-08 16:42] samreid commented on #317
We're all set, thanks!  Closing.

[2017-09-08 16:42] #317 closed

[2017-09-08 20:40] #325 closed

[2017-09-13 20:46] zepumph commented on #327
I think this issue is ready to close. We will continue to discuss `phetioReadonly` inhttps://github.com/phetsims/axon/issues/145. We can add more functionality to `TUtteranceQueue` as we go. Passing off to @jessegreenberg to make further suggestions or to close.

[2017-09-13 20:52] jessegreenberg commented on #327
Nothing else from me, thanks for working on it @zepumph! Closing.

[2017-09-13 20:52] #327 closed

[2017-09-20 20:35] jessegreenberg commented on #334
```toScientificNotation``` returns {mantissa: {string}, exponent: {string}}, and I updated usages in ScientificNotationNode and ISLCForceArrowNode.  @pixelzoom would you mind reviewing?

[2017-09-21 20:23] pixelzoom commented on #334
👍 Closing.

[2017-09-21 20:23] #334 closed

[2017-09-25 16:26] zepumph opened #335 "Stop leaking `startedCallbacksForFiredEmitter`"
To @samreid and I it seems like an implementation detail that is leaking out of the sim. We originally added these so that you could know when the resetAllButton was beginning to 'reset' and then done 'resetting'. This was helpful to @jbphet for sonification work, but do we want it as part of our broad and stable API?

If we decide that we do, I think that we should implement it in a better way.

[2017-09-26 00:38] jessegreenberg opened #336 "KeyboardDragHandler shouldn't rely on step"
```KeyboardDragHandler``` uses ```step``` to manage key events, but it would be great if it didn't have to.

JavaScript doesn't natively handle multiple key presses at once.  When two keys are pressed down, the browser only gets ```keydown``` events for the second key pressed. ```KeyboardDragHandler``` gets around this by using ```keydown``` and ```keyup``` events to update a ```keystate``` object

[2017-09-26 01:14] zepumph commented on #336
I agree annoying, but the improved functionality that the current implementation has is well worth it! We should make sure that we don't sacrifice any of that to figure out a solution with less "step function parent passing" boiler plate. In the most recent application in faradays-law (see phetsims/faradays-law#80) I had to pass the step function from the screenView to a child, then to another chi

[2017-09-26 17:05] pixelzoom opened #337 "add PhetColorScheme.BUTTON_YELLOW"
For a few sims now, I’ve been using `PhetColorScheme.PHET_LOGO_YELLOW` for the `baseColor` of buttons.  This seems to be a color that PhET has standardized on for buttons.  But it feels wrong to be using `PHET_LOGO_YELLOW`.  If someone tweaks the logo color, it's not obvious that we'll be also changing the color of a _lot_ of buttons.    There are currently 36 occurrences of `PHET_LOGO_YELLOW`, an

[2017-09-26 17:16] zepumph opened #338 "NumberPicker's custom focus highlight should be styled the same as the default focus highlight"
Currently the highlight around `NumberPicker` is a bit thicker than the default. We should solve this in the same way as https://github.com/phetsims/scenery/issues/676. @jessegreenberg do you agree?

[2017-09-26 17:18] pixelzoom commented on #337
I noticed that ZoomButton was using its own shade of yellow for `baseColor`.  Since it's a standard button, I've changed it to use `PhetColorScheme.BUTTON_YELLOW`.  Devs alerted on Slack dev-public channel.

[2017-09-26 17:47] pixelzoom commented on #337
Devs notified on Slack developer channel:

[2017-09-26 17:48] pixelzoom commented on #337
And the lucky reviewer is...

"JG"

[2017-09-26 18:36] jessegreenberg commented on #338
Agreed,  https://github.com/phetsims/scenery/issues/676 would help keep consistent styling for thickness (Thought the rounded corners of highlight was a custom request for NumberPicker from https://github.com/phetsims/gravity-force-lab-basics/issues/15).

[2017-09-28 21:07] jessegreenberg commented on #337
The replacement looks great, thanks.  I also did a search and remaining usages of ```PhetColorScheme.PHET_LOGO_YELLOW``` seem appropriate.

[2017-09-28 21:07] #337 closed

[2017-09-29 21:56] arouinfar opened #339 "MeasuringTapeNode: Add optional transparent rectangle behind readout"
In https://github.com/phetsims/charges-and-fields/issues/139, it was reported that the the readout of `MeasuringTapeNode` can be occluded by the E-field arrows.
![image](https://user-images.githubusercontent.com/8419308/31037258-4dfc92d0-a52d-11e7-9ab5-59080ea2b78f.png)

A similar issue can occur in Projectile Motion. A stroke was added to the text to improve readability, but a shaded rectangle be

[2017-10-03 18:02] ariel-phet commented on #339
@arouinfar seems like a nice change.

[2017-10-03 18:20] ariel-phet commented on #339
@pixelzoom said:

So there might be a nice common code way to achieve this change. He is going to take a stab at this at some point, but if it turns into more than around ~1 hour of work he is going to bail and reassign to me.

[2017-10-03 18:26] pixelzoom commented on #339
It should be just a quick swap of `Text` for `NumberDisplay`.  But incredibly, `MeasuringTapeNode` made `this.labelText` public.  So I can't just swap.  I have to find all of the clients who are using `this.labelText` and relying on the fact that it's `Text`.

[2017-10-03 18:27] pixelzoom commented on #339
Looks like the only client using `this.labelText` is projectile-motion `ProjectileMotionScreenView`:

[code]

And those things should be settable via options, not by reaching into `MeasuringTapeNode`.

[2017-10-03 18:30] pixelzoom commented on #339
Hmmm... Looks to me like projectile-motion is stroking the text for the same reason that we're trying to add a transparent background behind the value.   @arouinfar as lead designer of projectile-motion, do you recall if this is why the text is being stroked? And would it be OK to get rid of that and use a transparent white background?

[2017-10-03 18:33] arouinfar commented on #339
@pixelzoom in Projectile Motion, the stroke around the `MeasuringTapeNode` readout was added as a band-aid because there was no support for a transparent background (see the 2nd screenshot in https://github.com/phetsims/scenery-phet/issues/339#issue-261781595). The stroke around the text can be killed and replaced with a transparent white background.

[2017-10-03 18:38] pixelzoom commented on #339
Next problem is that `MeasuringTapeNode` defaults the color of the text to 'white'.  I'll resist the urge to rant about default values like this in common code, but suffice it to say that the default should be 'black' (as is the case with scenery).   Since `NumberDisplay` defaults to 'black' text on a 'white' background, I'll need to either (a) apply an ugly bandaid in `MeasuringTapeNode` to avoid

[2017-10-03 18:45] pixelzoom commented on #339
Since `MeasuringTapeNode` takes a mutable `unitsProperty`, I'll need to make units mutable in `NumberDisplay`.

[2017-10-03 18:47] pixelzoom commented on #339
Using `NumberDisplay` isn't going to work without a lot of effort - there's too much of a mismatch between `NumberDisplay` and `MeasuringTapeNode`.  Things like units, numberRange,...

[2017-10-03 19:23] pixelzoom commented on #339
Tracking required changes to projectile-motion in https://github.com/phetsims/projectile-motion/issues/156.

[2017-10-03 19:33] pixelzoom commented on #339
I've added this feature.

New options to MeasuringTapeNode:

[code]

New public functions in MeasuringTapeNode:

[code]

I also renamed `labelText` to `valueNode`, and made it `@private`.

New options are tested and demonstrated in scenery-phet's demo application - select "MeasuringTapeNode" from the combo box on the "Components" screen.

Also tested and integrated into projectile-motion and charg

[2017-10-03 19:41] pixelzoom commented on #339
I'm going to wait until @arouinfar has reviewed sim changes (https://github.com/phetsims/charges-and-fields/issues/139, https://github.com/phetsims/projectile-motion/issues/156) before I assign this to be reviewed.

[2017-10-03 21:31] pixelzoom opened #340 "revisit mapping of wavelength to color"
This issue was moved here from https://github.com/phetsims/color-vision/issues/96 (Revisit question of purple photons).

@ariel-phet said:

Some time ago @phetsims/bereaphysics mentioned that an alternative algorithm may exist that might better suit our mapping wavelenth to RGB

This is **not** a high priority, but it might be worth investigating at some point.

[2017-10-03 21:32] pixelzoom commented on #340
If you're going to change the algorithm for mapping wavelength to RGB, that's a common-code issue.  It would need to be addressed in scenery-phet `VisibleColor`.   And it would affect all common UI components that use `VisibleColor` (`WavelengthSlider`, `SpectrumNode`), and all sims that use `VisibleColor` or one of those common components. That currently includes: beers-law-lab, concentration, be

[2017-10-05 14:28] pixelzoom commented on #339
And the lucky reviewer is:

"JB"

[2017-10-05 18:13] zepumph commented on #335
Seeing as we no longer have `startedCallbacksForFiredEmitter`s because of https://github.com/phetsims/phet-io/issues/1203, there will be no more leaking. Closing

[2017-10-05 18:13] #335 closed

[2017-10-06 23:05] jbphet commented on #339
The code changes look good, and I tested it out and projectile-motion and charges-and-fields, and it worked - and looked - great.  Nicely done @pixelzoom.  Closing.

[2017-10-06 23:05] #339 closed

[2017-10-16 12:45] pixelzoom commented on #294
In https://github.com/phetsims/scenery/issues/690#issuecomment-336762655, @samreid said:

[2017-10-16 12:45] #294 closed

[2017-10-20 18:25] zepumph commented on #338
I found that the problem with NumberPicker's focusHighlight is that currently FocusHighlightPath doesn't inherit scale from the node that it is focusing. In GFLB, the NumberPicker is scaled to 1.5x, so the focushighlight seems thicker. So the following code has twice as thick lineWidth:
[code]

A gross solution is to manually calculate the linewidth from FocusHighlightPath's static methods and the

[2017-10-20 22:00] zepumph commented on #338
In the above commits, I made two fixes. One was kinda totally separate from this issue because NumberPicker doesn't use FocusHighlightFromNode

**FocusHighlightFromNode now will adjust the line width based on the the node it is highlighting.**

Then I "fixed" this issue proper with a temporary workaround where I am manually setting the lineWidth of the focusHighlight based on the scale of the node

[2017-10-24 17:16] zepumph opened #341 "Add keyboard navigation to NumberControl"
In the keyboard navigation meeting today, we designed a prototype mockup for how the `NumberControl` component should look. We used Rutherford Scattering, Plinko Probability, and Pendulum Lab to think about what is best for the interaction. @amanda-phet could you please add the mockup to this issue so that @jessegreenberg or I can implement?

[2017-10-24 18:11] amanda-phet commented on #341
Ruthorford scattering would need extra space to make room for the thin outer box.
![screen shot 2017-10-24 at 12 10 03 pm](https://user-images.githubusercontent.com/7852916/31960247-65da712a-b8b4-11e7-9bcb-6359cb126712.png)
![screen shot 2017-10-24 at 12 10 15 pm](https://user-images.githubusercontent.com/7852916/31960248-65f3361a-b8b4-11e7-9f1a-f0f45776fc4d.png)
![screen shot 2017-10-24 at 12 10

[2017-10-24 21:00] zepumph commented on #341
It has been added now to master.

[2017-10-24 21:03] zepumph commented on #341
@amanda-phet @emily-phet @arouinfar what do you guys think?
https://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.2.0-dev.0/plinko-probability_en.html?accessibility

[2017-10-25 15:17] amanda-phet commented on #341
Looks great to me!

My one concern is if the thin outer box is slightly transparent that it won't work well on sims with a black background, or colored panel (which is often beige or gray in addition to white or black). So it would be good to see it on a few more sims. If it doesn't work well in Ruthorford Scattering, maybe we opt for a thinner but fully opaque stroke instead?

[2017-10-25 16:51] arouinfar commented on #341
Looks good @zepumph!

Great suggestion @amanda-phet. I'd also like to see how this look in other sims, and possibly use a fully opaque stroke if we notice any contrast issues.

[2017-10-25 16:56] zepumph commented on #341
I'm currently converting Rutherford to use this component for keyboard nav, here is what it will look like:
![image](https://user-images.githubusercontent.com/6856943/32011786-40d14dfa-b962-11e7-8089-ac9b0779ba4d.png)

Perhaps not enough contrast. Once it is fully implemented you will be able to take it for a test.

[2017-10-25 17:24] zepumph commented on #341
Our workaround to get this focusHighlight working yesterday isn't a good one. By making HSlider focusHighlightLayerable, we changed the bounds of all HSliders (thanks @phet-steele and @pixelzoom) for catching that). So @jessegreenberg and I will need to figure out another way to access the HSlider's "visibility" from the parent `NumberControl`. Marking for meeting to discuss.

[2017-10-25 17:39] zepumph commented on #341
This was also a problem for that node added to NumberControl. I think we can fix that though by creating a shape that stays inside the bounds of the Component.

[2017-10-25 17:44] pixelzoom commented on #341
Looks like you're doing something here related to the thumb. Keep in mind that HSlider supports a custom thumb via `options.thumbNode`.  So whatever you do needs to handle an thumb with arbitrary shape and size.

[2017-10-25 18:00] pixelzoom commented on #341
@pixelzoom Outside my wheelhouse, buy a11y question related to NumberControl.  In the mockups for https://github.com/phetsims/scenery-phet/issues/341, I don’t see any examples where the arrow buttons have focus.  Is that not supported, or just not shown in the mockups?
GitHub
Add keyboard navigation to NumberControl · Issue #341 · phetsims/scenery-phet
In the keyboard navigation meeting today, we

[2017-10-26 01:39] zepumph commented on #341
Today during the a11y dev meeting @mbarlow12 @jessegreenberg and I really dove into trying to make this focus highlight implementation work well, without messing with the bounds. We settled on going back to the basics, removing `focusHighlightLayerable` and instead working to use the existing focusHighlight structure in FocusOverlay. We came up with two methods:

* First (very hacky): Take over th

[2017-10-26 22:41] zepumph commented on #341
I again experimented with the second option today, here is the code:
[code]

It didn't seem to work though today because the layout was wrong. I think we may again have to go into the layout functions still. @jessegreenberg @mbarlow12 how did we get it to work last night without the going in the layout function? Am I remembering this right, did we even have the layout right?

[2017-10-27 00:27] zepumph commented on #341
Maybe this is something worth looking into further:
[code]

[2017-10-27 22:29] zepumph opened #342 "Instrument and "stabilize" UtteranceQueue"
In https://github.com/phetsims/scenery-phet/issues/327 we started work on instrumenting UtteranceQueue, now, as part of phetsims/joist#445 we should finish the job here.

[2017-10-31 00:00] zepumph commented on #342
In the above commits I uninstrumented AriaHerald, because I think we decided all of the direct interfacing should be done through utteranceQueue instead. AriaHerald still has a tandem that is passed into `enabledProperty` and `politeElementProperty`. I'm tempted to uninstrument `enabledProperty` and trade it out for UtteranceQueue getters/setters. @jessegreenberg could you please review and commen

[2017-10-31 18:47] jessegreenberg commented on #342
Thanks @zepumph, sounds great, changes look good to me.  I agree that these should be removed and that clients should only interface with UtteranceQueue.

[2017-10-31 18:54] jessegreenberg commented on #342
Now that instrumentation is being removed from AriaHerald, axon/Property my not be necessary here, we should consider re-implenting AriaHerald so that it doesn't use it.

Also, as part of stabilizing UtteranceQueue, we should remove the aria-live attributes that we do not intend to use,  probably everything other than politeElement.

[2017-10-31 18:57] jessegreenberg commented on #342
@zepumph could you please uninstrument the Properties in AriaHerald, and then maybe we can discuss or work on with https://github.com/phetsims/scenery-phet/issues/342#issuecomment-340870902 more in an a11y dev meeting.

[2017-10-31 18:57] zepumph commented on #342
Here is what I think of as important PhET-iO features of our aria-live interface:

1. Add items to be spoken (through UtteranceQueue)
2. Get the current value of an aria-live attribute (Currently through monitoring the `AriaHerald.politeElementProperty`.)
3. Have some control over announcements (enabled muted).

[2017-10-31 19:14] jessegreenberg commented on #342
@zepumph and I talked, he will work on instrumenting UtteranceQueue and I will work on cleaning up AriaHerald.

[2017-10-31 19:38] zepumph opened #343 "Refactor keyboard help content key icons to have consistent look/feel"
In https://github.com/phetsims/friction/issues/45 I addressed a problem that I had in hard coding a wasd row to look just like the arrow key rows that are being added to the keyboard help dialogs for keyboard navigation. I would love to create a system so that the default options of what a "key" looks like can be passed through everywhere it's needed, but without creating circular dependencies.

h

[2017-10-31 20:09] jessegreenberg commented on #343
@zepumph we could have something like LetterKeyNode type that manages the default options and layout for these icons.

One of the problems in phetsims/friction#45 was that the letter icons and arrow icons needed to align, and a scaling values was added by inspection.

![capture](https://user-images.githubusercontent.com/6396244/32246538-e40f566a-be44-11e7-8f41-eac66c78f238.PNG)

This will appear m

[2017-10-31 20:25] zepumph commented on #343
I would go one step further. I think that we should have a parent key node type that encompasses all "normal" sized keys. Currently `TextKeyNode` handles "normal" and "oversized" keys based on the text input, but I think something like `EscapeKeyNode` should extend from the same place as an arrow key or letter key such that the formatting is handled in the same place. **This way we have consistent

[2017-10-31 20:48] jessegreenberg commented on #343
I agree, that is kind of what I was thinking with `LetterKeyNode`, maybe that name is not general enough.

In order to force this, would the type have to scale down the icon that is passed into it?

[2017-11-01 00:13] zepumph commented on #342
I added a pretty full implementation to TUtteranceQueue. I didn't add state support yet, so it isn't being saved in the state. I'm not sure if we want that.

From here we should finish up AriaHerald uninstrumentation.

[2017-11-01 16:42] jessegreenberg commented on #342
@zepumph since work in AriaHerald involves removing Property, I can remove instrumentation  as part of that so we don't  run into merge conflicts.

[2017-11-01 18:09] zepumph commented on #342
Sounds good to me!

[2017-11-01 21:57] jessegreenberg commented on #342
In the above commit, I re-implemented AriaHerald and removed its usages of Property. This also removed instrumentation of AriaHerald. @zepumph is there anything else to do for this issue?

[2017-11-02 00:34] zepumph commented on #341
@jessegreenberg @mbarlow12 and I cranked this one out today. Thanks all for help in implementing it. The meat and bones are in @jessegreenberg's commit above. I just added some pixel polishing. @emily-phet @terracoda and anyone else what do you think? NOTE: don't use keyboard nav by pressing down more than one key at a time, this is a known bug. https://www.colorado.edu/physics/phet/dev/html/ruthe

[2017-11-02 00:38] zepumph commented on #342
This looks really good, I think that we are all set. Thanks for your help!

[2017-11-02 00:38] #342 closed

[2017-11-02 01:25] terracoda commented on #341
Regarding https://github.com/phetsims/scenery-phet/issues/341#issuecomment-341283975

@zepumph, @jessegreenberg  and @mbarlow12 nice work. I think it is looking pretty good. With the planned extra whitespace it should look really good.

[2017-11-02 01:26] terracoda commented on #341
And regarding Plinko in https://github.com/phetsims/scenery-phet/issues/341#issuecomment-341283975, I think it looked really nice.

[2017-11-02 17:28] zepumph commented on #341
I can hard code that pretty easily with the following line of code:
`    var numberControlFocusHighlightBorder = new FocusHighlightPath( Shape.bounds(this.bounds.setMaxY( this.bounds.bottom + 6 )), {`

But often NumberControl components are stacked tightly on top of each other. I don't want to extend it too much so that there are many cases of overlap that we have to handle downstream.

[2017-11-03 23:24] zepumph commented on #338
Thanks @jessegreenberg and @jonathanolson for assisting me in this problem, you both were very helpful in getting juices flowing in ze brain! I ended up going with a strategy that was based more on the node that the focusHighlight is highlighting (sorry if that is confusing). Rather than scaling based on the transform of the focusHighlight, I'm doing so based on the node. It is working pretty well

[2017-11-09 23:33] zepumph commented on #343
Discussed today in meeting, I am going to take a stab at centralizing style in KeyNode, and then having KeyNode take in a node, and then scale it to the size to make it consistent with all keys.

[2017-11-10 21:43] zepumph commented on #343
I updated the hierarchy so that KeyNode is responsible for a consistent height and the shadow. I also added all of the HelpContent features to panels to a demo in scenery phet on the components screen. Here is the link I use to get at it easily http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=HelpContent
And here is a live screenshot!

![image](https://user-imag

[2017-11-11 00:38] zepumph commented on #343
I think this is ready for review. @jessegreenberg could you take a look at some commits and some of the HelpContent implementations (both in scenery-phet demos and in sims) and see how we did. Please make recommendations for next steps.

[2017-11-13 18:20] jessegreenberg commented on #343
@zepumph this is looking great, far fewer magic numbers and duplicated options.

In https://github.com/phetsims/friction/issues/45 @terracoda mentioned that the W key is a bit wider than the others. I tried using a combination of `keyWidthMargin` and `keyHeighMargin` to make letter keys consistent, but noticed that `keyWidthMargin` and `keyHeightMargin` behave differently.

`keyWidthMargin` gives

[2017-11-14 17:00] jessegreenberg commented on #343
On second thought,  maybe we need both options available to support default square keys. Maybe we need something like:
[code]

[2017-11-14 18:31] zepumph commented on #343
I like your suggestions. I have been thinking about this implementation, and struggling. I feel like there are two cases and you already basically mentioned them:

1. You want to specify padding to make sure that the KeyNode looks to surround the icon, but you don't really care what the key size is.
2. You really want all the keys to be the same size, and the icons should scale.

I was adding a le

[2017-11-14 20:03] jessegreenberg commented on #343
That does seem more direct since it is the intended usage. Otherwise client will have to calculate width from icon width, padding options, and margins.

[2017-11-14 22:19] zepumph commented on #341
- [ ] It was decided that we should not disable the tweaker buttons, but instead just make them looked 'pressed' when appropriate based on the shift + key. This will e much easier once HSlider has refactored a11y input event functions. Assigning to @jessegreenberg to reassign to me once he has completed that work.

[2017-11-15 00:49] zepumph commented on #343
I added support for a "forced" square key, that will scale the height down as well as scale the width down. I then increased the size of the keys just a hair, and reduced the padding. How does this look @jessegreenberg @terracoda
![image](https://user-images.githubusercontent.com/6856943/32812796-559e0038-c953-11e7-99cb-74d06c2bc634.png)

[2017-11-15 00:49] zepumph commented on #343
Also in master.

[2017-11-15 01:15] zepumph commented on #343
Here is a better look at the design of just the Keys:
http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=HelpContent

[2017-11-15 01:15] zepumph commented on #343
![image](https://user-images.githubusercontent.com/6856943/32813499-03ab58b2-c957-11e7-9478-c65ef5b1c6f9.png)

![image](https://user-images.githubusercontent.com/6856943/32813509-0fb212fe-c957-11e7-8da0-b34e1eb42912.png)

[2017-11-15 16:36] jessegreenberg commented on #343
@zepumph the square keys look great, nice job! Im also happy to review code changes, please reassign to me when ready.

[2017-11-15 19:13] zepumph commented on #343
Ready for a code review!

[2017-11-16 20:24] jessegreenberg commented on #343
@zepumph could `forceSquareKey` be a default option for ArrowKeyNode? Made the change in the above commit, but we can revert if that is problematic.

[2017-11-16 20:25] zepumph commented on #343
Sounds nice and makes sense. I totally trust you.

[2017-11-16 21:31] jessegreenberg commented on #343
I got a little confused by the xPadding and yPadding options, it seems like they behave like this:
[code]
I think that making the key wider with `xPadding` is redundant anyway since that can be done with `minKeyWidth`.  So what if the options were like this?

[code]

[2017-11-16 21:55] jessegreenberg commented on #343
Wait, sorry, that makes it impossible to create x padding around an icon during construction,  you would always have to pass in a minKeyWidth at least as large as your icon width if you want the key to look good. Scratch https://github.com/phetsims/scenery-phet/issues/343#issuecomment-345069173.

[2017-11-16 22:00] jessegreenberg commented on #343
I udpated the documentation for the options based on their  behavior in https://github.com/phetsims/scenery-phet/issues/343#issuecomment-345069173.

[2017-11-16 23:20] jessegreenberg commented on #343
Changes look great @zepumph. In the end, I added documentation for xPadding and yPadding options, changed some default values to match mockups (https://github.com/phetsims/molecules-and-light/issues/160), and created a LetterKeyNode type with default options for single letter keys, since it turns out they need slightly different margins. @zepumph could you please let me know if you have thoughts a

[2017-11-17 00:09] zepumph commented on #343
This is looking very nice! Thanks for the skilled pixel polishing and organization. `LetterKeyNode` was a really nice addition. I think we are ready to close. @jessegreenberg can you think of anything else to be done here?

[2017-11-18 02:19] zepumph commented on #338
@jessegreenberg please review. Anything else for this issue?

[2017-11-18 02:21] zepumph commented on #336
In https://github.com/phetsims/faradays-law/issues/89 I used KeyboardDragHandler as a guide to create a "sticky" drag handler for the FL magnet. That type relies on step as well. Whatever we do here should be carried over to that type.

[2017-11-20 23:32] jessegreenberg commented on #341
@zepumph I think we are back on for this, refactoring is mostly completed in https://github.com/phetsims/sun/issues/326, waiting for code review. If you want to discuss changes let me  know, or if you would rather wait until code review is complete in that issue that is understandable too. Reassigning back to you.

[2017-11-21 20:04] jessegreenberg commented on #343
I don't think so @zepumph thanks for working on this issue, our keys are much better off. Closing.

[2017-11-21 20:04] #343 closed

[2017-11-30 20:24] mbarlow12 opened #344 "Handle ModelViewTransform2 position inversion in KeyboardDragHandler"
The current KeyboardDragHandler inverts the change in y values for nodes within sims that use a ModelViewTransform2 where negative values are toward the bottom of the sim.

The ideal solution will involve likely involve the creation of a base drag handler, see https://github.com/phetsims/scenery/issues/716.

For now, @jessegreenberg and I discussed creating an option flag that will allow for the i

[2017-12-06 18:16] jessegreenberg commented on #344
KeyboardDragHandler has been deleted and replaced with KeyboardDragListener in https://github.com/phetsims/scenery/issues/716. This type supports transforms, so this can be closed.

[2017-12-06 18:16] #344 closed

[2017-12-08 01:41] zepumph commented on #341
I got the depressed arrow look working, but I don't think it is good for master.

1. I added and `increasedEmitter` and `decreasedEmitter` to `AccessibleSlider`.
2. Then in NumberControl (which mixes AccessibleSlider) I add listeners to them like so:
[code]

This is a major hack to me, as buttonModel is read/listen only. Also `setTimeout` is no good. But it worked. We could use the Joist based set

[2017-12-08 23:52] jessegreenberg commented on #341
This feels very related to https://github.com/phetsims/sun/issues/323. I can't think of a great solution off the top of my head. For the a11y reasons listed in that issue, I have a feeling we may be stuck with something like Timer.setTimeout.

One thing we could do is add something like togglePressedState() to RectangularButtonView, so the code in NumberControl would look like
[code]

and Rectangu

[2017-12-15 22:25] pixelzoom opened #345 "ObjectPicker: migrate from equality-explorer"
PhET needs a picker that can handle any type of object (ala Java spinners).

PhET currently has `NumberPicker`, which allows you to choose an integer from a range. Here's an example with 4 NumberPickers in the Slope screen of [Graphing Lines 1.2.1](https://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.1/graphing-lines_en.html):

![screenshot_434](https://user-images.githubusercontent.c

[2017-12-19 22:31] pixelzoom opened #346 "FaucetNodeIO: misleading constructor parameter name"
FaucetNodeIO constructor:

[code]

Beside the lack of type expressions (see https://github.com/phetsims/phet-io/issues/1284)...  The `faucet` parameter name is misleading, since its type is expected to be `FaucetNode`.   By PhET convention, something named `faucet` would typically be a model element, while `faucetNode` would be the corresponding view Node.   So recommended to rename `faucet` to `f

[2017-12-19 22:33] pixelzoom commented on #346
Addressed in above commit. @samreid please review.

[2017-12-22 17:33] samreid commented on #346
Looks great, thanks, closing.

[2017-12-22 17:33] #346 closed

[2018-01-04 17:44] pixelzoom commented on #165
This came up in 1/4/18 status meeting.  We had decided to defer moving this to common code until another sim needed it.  Masses and Springs is has an identical copy of LineArrowNode.js.   @Denz1994 let's generalize LineArrowNode.js and move it to scenery-phet.

[2018-01-04 17:48] Denz1994 commented on #165
I will work on cleaning up documentation and implementation in DisplacementArrowNode.js for Masses and Springs. Once that is complete, @pixelzoom and I can work on consolidating this into common code.

[2018-01-18 04:55] jessegreenberg commented on #341
The above commit does something very similar to https://github.com/phetsims/scenery-phet/issues/341#issuecomment-350147488, but using phetsims/sun#323. @zepumph would you mind reviewing this commit when you return?

[2018-01-24 18:36] jonathanolson opened #347 "NumberControl title font regression"
It looks like https://github.com/phetsims/scenery-phet/commit/43003c98312542244bfabd73a044e270ceade334#diff-22cf8008e26ed989c8977040d76d6913 added titleFontWeight (with a default of `'normal'`) to NumberControl.

The font weight is generally included in the Font object (which titleFont should be), so I don't see why it should be separate. This change also made the pendulum lab titles non-bold (whe

[2018-01-24 18:43] jonathanolson commented on #347
Decided I could move forward and implement the changes. Closing.

[2018-01-24 18:43] #347 closed

[2018-01-30 22:47] pixelzoom opened #348 "MathSymbolFont issues"
Discovered while working on equality-explorer.

MathSymbolFont deficiencies:

(1) Does not accept size as a {string}.  E.g. `new MathSymbolFont( '20px' )` does not work.  See PhetFont for how to handle this properly.

(2) Rather than extending Font, should extend PhetFont. This will provide (1) automatically.

(3) Should fail an assertion if the client attempts to provide `options.family` or `opti

[2018-01-30 22:48] pixelzoom commented on #348
For the purposes of regression testing, `MathSymbolFont` is used in these 4 sims:

curve-fitting
equality-explorer
expression-exchange
function-builder

[2018-01-30 23:04] pixelzoom opened #349 "erroneous phetioType in PhetFont"
PhetFont.js:

[code]

Two problems:

(1) A TODO was added here without creating an associated GitHub issue.

(2) The phetioType is misplaced. Either PhetFont should be setting `phetioType: PhetFontIO`, or Font should be setting `phetioType: FontIO`.

Slack discussion about PhetFont:

Chris Malley [3:51 PM]
Why does MathSymbolFont contain a call to `Tandem.indicateUninstrumentedCode`, while PhetFon

[2018-01-30 23:27] pixelzoom commented on #349
Probably also want to look at the call to `Tandem.indicateUninstrumentedCode` in MathSymbolFont. Does it need to be there? Do we play to instrument all MathSymbolFont instances?

[2018-01-30 23:36] pixelzoom commented on #348
I was not able to make MathSymbolFont extend PhetFont, since they both need to set some options after handling the convenience version of their constructor.  Otherwise the issue have been addressed and all sims that use MathSymbolFont were tested.  Closing.

[2018-01-30 23:36] #348 closed

[2018-01-31 04:04] samreid commented on #349
Is this policy for every common repo, or only for the ones mentioned in the lint rule (currently limited to joist)?

[2018-01-31 04:29] samreid commented on #349
I moved FontIO to Font.js, and removed `indicateUninstrumentedCode` from MathSymbolFont.  Lint-everything is passing.  Aqua is running (no systemic problems).  A regex search (which may be incomplete) indicates Balloons and Static Electricity is using a tandemized font.  Search was:

`tandem: tandem\.createTandem\( '\w+Font`

It checks out OK in the instance proxies.

I also opened https://github.

[2018-02-01 19:43] jonathanolson commented on #349
Font now just takes an options object.

[2018-02-02 02:27] samreid commented on #349
Font.js looks great after @jonathanolson's changes, reassigning to @pixelzoom to review and see if there is anything else for this issue.

[2018-02-03 22:45] pixelzoom commented on #349
Looks good to me. Closing.

[2018-02-03 22:45] #349 closed

[2018-02-06 18:35] samreid opened #458 "Increase pointer area for reset all button"
From #64

@ariel-phet would you like to increase the pointer area for the reset all button?  It currently looks like this:

![image](https://user-images.githubusercontent.com/679486/35877149-c168945c-0b31-11e8-920a-5d973eb796c5.png)

May be a good idea as we are moving toward smaller screens.

[2018-02-08 18:13] pixelzoom opened #350 "branch: configuration"
Identified by `print-branches.sh`. Most recent commit by @samreid. Please describe.

[2018-02-09 06:12] samreid commented on #350
This branch is still under investigation as part of https://github.com/phetsims/tasks/issues/730  Unassigning for now.

[2018-02-09 23:52] ariel-phet commented on #345
Noting that this might be a good project for @andrea-phet

[2018-02-09 23:57] ariel-phet commented on #165
Noting as possible work for @andrea-phet

[2018-02-10 00:01] pixelzoom commented on #345
If this is assigned to @andrea-phet, I'll collaborate on it with her.

[2018-02-10 14:28] samreid commented on #165
@pixelzoom and @Denz1994 I want to clarify the proposed work for this issue.  Should the new arrow depicted in https://github.com/phetsims/scenery-phet/issues/165#issuecomment-110901143 be drawn as a filled shape with 9 vertices, or as a stroked shaped with 4 vertices?

[2018-02-10 22:33] pixelzoom commented on #165
+1 for filled shape. In addition to being more flexible, the (unstroked) length will be more accurate.

[2018-02-12 18:12] pixelzoom commented on #165
I'm going to unassign myself for now. When someone starts working on this, feel free to get me involved.

[2018-02-19 21:51] zepumph commented on #347
Thanks for doing this

[2018-02-28 18:45] terracoda opened #351 "Hear duplicate alerts inside Sonification Wrapper"
With Voice Over on, I hear duplicate alerts when using any of the sliders in the Ohm's Law and Resistance and a Wire sims.

[2018-02-28 19:12] jessegreenberg commented on #351
@terracoda are you able to reproduce this in master on phettest or is this just in the sonification wrapper? Can you provide macOS and Safari version numbers? Does this happen all the time or intermittently?

In macOS 10.13.3 and Safari 11.0.3 with VoiceOver,  here is what I am seeing:
- If I move one step with the keyboard single alert as expected
- If I quickly move several steps in a row, very

[2018-02-28 19:14] terracoda commented on #351
Just on sonification wrapper. I tested phettest and things did not repeat.

[2018-02-28 19:40] jessegreenberg commented on #351
I just found a way to reproduce this (only in sonification wrapper). If the sim is launched before VO is turned on, all alerts repeat.

[2018-02-28 19:41] jessegreenberg commented on #351
I verified this happens in all iframes by reproducing the problem here:
https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-dev.2/phet/resistance-in-a-wire_all_iframe_phet.html

Refreshing browser makes problem go away.

[2018-02-28 19:55] jessegreenberg commented on #351
I was able to isolate and reproduce this problem in a very simple JSFiddle https://jsfiddle.net/u1h1yc59/3/

@terracoda I am going to submit a bug report to Apple (in phetsims/a11y-research#93) and close this issue, but you believe this wasn't the root of the problem or if this bug resurfaces in another context please let me know.

[2018-02-28 19:55] #351 closed

[2018-02-28 22:23] lmulhall-phet opened #352 "Ruler transparency / opacity, font, length, width inconsistent across sims"
Noticed while testing for Masses and Springs 1.0.0-dev.81. This is related to phetsims/QA/issues/103.

In Masses and Springs, the ruler looks like this:

![ms](https://user-images.githubusercontent.com/31285590/36816288-a799f60e-1c9a-11e8-9e35-1e45061effb6.png)

In Pendulum Lab, the ruler looks like this:

![pl](https://user-images.githubusercontent.com/31285590/36816300-ad3c2528-1c9a-11e8-8a34-33

[2018-02-28 22:50] arouinfar commented on #352
Good observation @lmulhall-phet. In general, RulerNode has a few options for customization, so its appearance may vary, depending on the particular needs of a sim.

For example, the ruler in Coulomb's Law is gray, has 100% opacity, and has some padding between the 0/100 and the end.
![image](https://user-images.githubusercontent.com/8419308/36817353-184c399a-1c9e-11e8-9c61-074483336d35.png)

Howev

[2018-02-28 23:45] ariel-phet commented on #352
@arouinfar @lmulhall-phet - I do not think the ruler needs to be consistent across all sims.

The transparency is important in measuring the position of the masses in Masses & Springs, but less critical in pendulum lab. Pendulum lab was following the older design that makes the ruler more "real-life". However, I am fine if that is changed to a semi-transparent version if we feel that is more usefu

[2018-02-28 23:50] arouinfar commented on #352
I generally agree @ariel-phet, but I think it's nice for related sims to be consistent, where possible.

For PL, the ruler's primary goal is to set the scale, which I think would still be achievable with a semi-transparent ruler. It may also make measuring the distance to the COM slightly easier. I'll open an issue in the PL repo, and then close this.

[2018-02-28 23:56] #352 closed

[2018-03-02 20:08] pixelzoom opened #353 "put standard math symbols in MathSymbols.js"
After discussion with @amanda-phet and discussion in Slack dev-public, we decide it would be good to create MathSymbols.js, so that (a) sims are all using the same math symbols, and (b) it's easy to change the math symbols in the future.

[2018-03-02 20:12] amanda-phet commented on #353
Reminder, here is the issue from 2015 where some discussion happened: https://github.com/phetsims/scenery/issues/457

In that issue is also a link to the google doc keeping track of some of our decisions. The doc should be updated as new decisions are made. Here is that doc: https://docs.google.com/document/d/19DGsx0mXdMAihw7u8M_kx-6jrQCFOrfaBhYYCF3l1Io/edit#

[2018-03-02 20:49] pixelzoom commented on #353
MathSymbols.js has been migrated from equality-explorer, and is now used in equality-explorer.  I added some obvious symbols that are not currently used in equality-explorer, but are highly likely to be needed (not equals, unary plus).

Labeling for developer meeting for these purposed:
(1) Make developers aware that they should be using these symbols.
(2) Decide what to about sims that do not use

[2018-03-06 17:37] samreid commented on #353
Looks good, I recommend to retrofit old sims.

[2018-03-06 18:01] pixelzoom commented on #353
I have 2 sims that could be retrofitted, identified by the issues above.

[2018-03-06 19:42] zepumph commented on #341
Looks very nice! As with https://github.com/phetsims/sun/issues/318#issuecomment-370896356 I wonder if we don't want to make `increasedEmitter` more like `increasedFromA11yEmitter`.

[2018-03-06 23:31] jessegreenberg commented on #353
The only sim I am responsible for that uses math symbols is trig-tour. Unfortunately, the symbols are defined in trig-tour-strings_en.json so I won't be able to use MathSymbols.js there.

[2018-03-07 23:06] jbphet commented on #353
Expression Exchange currently uses MathSymbolFont in conjunction with the letters x, y, and z to create expressions.  It uses plus, minus, and equals symbols as well.  Would the proposed retrofitting impact this simulation?

Also, the Arithmetic simulation uses the usual plus, minus, multiply, divide, and equals characters.  Would this one need updating?

[2018-03-07 23:23] pixelzoom commented on #353
To clarify... The point is that we should all be using one set of constants for these characters.  This ensures that we're all using the same characters, makes it easy to change in the future, and improves readability (e.g. `'\u00D7'` vs `MathSymbols.TIMES`).

[2018-03-08 08:29] jonathanolson commented on #353
I've swapped area-model to use these constants. Thanks!

I added the "dot" constant, used for multiplication, notably where the TIMES would be unclear ('x' used as a variable, e.g. x × x). Called it DOT, if anyone has objections, I don't care about the name.

Also, do people mind if I add comments indicating that `'\u002b'` is equivalent to `'+'` and other commonly-used strings? When factoring out

[2018-03-08 15:26] Denz1994 commented on #353
MAS has been updated to include `MathSymbols.js`. I'm with @zepumph on waiting to see how new symbols to `MathSymbols.js` should be added after dev meeting discussion.

[2018-03-08 16:26] pixelzoom commented on #353
@jonathanolson asked:

I started to do this, then decide to just use the ASCII chars wherever ASCII and Unicode are equivalent.  See previous commit.   If anyone strongly prefers using Unicode consistently, we can change it back.

[2018-03-08 18:29] samreid opened #354 "Measuring tape updates"
Moved from https://github.com/phetsims/scenery/issues/745

I'd like to make the following changes to MeasuringTapeNode to support Wave Interference:

1. Add a `baseDragEnded` option, so I can get a callback to test being dropped in the toolbox
2. Add an `interactive` option, so I can easily create an icon (much easier than MeasuringTapeNode.createIcon, which looks like a mess).

[2018-03-08 18:29] samreid commented on #354
Committed https://github.com/phetsims/scenery-phet/commit/aac43396d64dd4464addc26694813d6e2908bddc

[2018-03-08 18:29] samreid commented on #354
I implemented the proposed changes and am leveraging them in Wave Interference. @ariel-phet can you please recommend someone to review these common code changes?

[2018-03-08 18:56] ariel-phet commented on #354
@mbarlow12 are you up for reviewing these?

[2018-03-08 19:23] zepumph commented on #353
- [ ] resistance-in-a-wire
- [ ] ohms-law

[2018-03-08 19:24] jessegreenberg commented on #353
Developer meeting 3/8/18:

Regarding https://github.com/phetsims/scenery-phet/issues/353#issuecomment-371364716, we decided that it is better to use ASCII characters.

[2018-03-08 19:24] jessegreenberg commented on #353
@ariel-phet: it would be valuable  to make issues in sims that need to use MathSymbols.js, we don't need to actively chip away at this.

@jonathanolson suggested this get a code review check list item.

@pixelzoom said it is up to each developer to go through and update to use MathSymbols.js

@ariel-phet said to take an hour in the next week to identify. If you want to just fix without making an i

[2018-03-08 21:14] samreid opened #355 "WavelengthSlider, HSlider and Accessibility"
At today's wave interference meeting, we noticed that WavelengthSlider (which we will need for Wave Interference) does not extend or leverage HSlider (which is already accessible).  Should we rework WavelengthSlider so it uses HSlider, to benefit from its a11y?  Or should we add new a11y support for it?  Something else?

[2018-03-08 21:24] jessegreenberg commented on #355
We should be able to make WavelengthSlider accessible by mixing in the AccessibleSlider trait in sun.

[2018-03-08 21:25] samreid commented on #355
@ariel-phet said this would be a good thing for me to learn how to do, assigned to me.

[2018-03-08 21:40] jessegreenberg commented on #355
Sounds good @samreid. I think the WavelengthSlider should behave and be implemented similarly to NumberControl because it has the left/right tweaker buttons. Let me know if we should pair on this sometime soon.

[2018-03-08 22:25] jbphet opened #356 "Pointer changes to hand on disabled button"
On [this version](https://www.colorado.edu/physics/phet/dev/html/sun/1.0.0-dev.11/sun_en.html) of the sun button demo, if you disable the buttons and then click on them, the cursor doesn't change.  In the current master version, the cursor *does* change from an arrow to a pointing hand.

I demonstrated this to @jonathanolson, so he has seen it, so I'm not going to do a screen capture or anything.

[2018-03-08 22:39] jbphet commented on #353
We were asked in the 3/8/2018 to identify the sim for which we are responsible that need to be updated to use these symbols.  For me, there are two that clearly need it:

+ Arithmetic
+ Expression Exchange

There are some other cases that are a bit ambiguous.  I'll list them below, and @ariel-phet can say whether an update is needed:

+ Build an Atom - plus and minus symbols on the charge meter
+

[2018-03-09 00:04] samreid commented on #353
Here are the problems I identified in my responsible-dev sims:

* Bending Light  - uses the % sign
* Circuit Construction Kit: family -voltmeter and ammeter have negatives
* Fraction Matcher - equals sign and greater than/less than (stylized, may be scenery nodes)
* Sugar and Salt Solutions  - divided by symbol / in bar chart
* Under Pressure - division symbol

Are we factoring out the `'%'`, or u

[2018-03-09 01:49] pixelzoom commented on #353
@samreid asked:

[code]

... so per https://github.com/phetsims/scenery-phet/issues/353#issuecomment-371540393, we're using `'%'`.

[2018-03-09 17:49] ariel-phet commented on #353
@jbphet we will discuss as a group, Certainly for the third group, I see these as UI symbols not really "math" symbols, so I agree, they should remain.

Group 2 is a bit ambiguous. I suppose it is merely a question of if it is better/cleaner for maintainability

[2018-03-12 16:11] samreid commented on #355
@jessegreenberg can you describe how I can test the result?  Will I use keyboard navigation and/or a screen reader for testing?  Is this documented somewhere?

[2018-03-12 20:56] pixelzoom commented on #345
Note that ObjectPicker has a new options that will be general useful for pickers.  The option is `{boolean} wrapEnabled`.  When `false`, the up/down picker arrows are disabled when the value is the last/first in the list of items.  When `true`, the picker arrows are never disabled, and cycling through the values simply wraps around to the beginning/end of the item list.  If you press the up arrow

[2018-03-12 21:23] pixelzoom opened #357 "universal operations: add support for operands that are variable terms"
Summary of discussion with @amanda-phet about this feature that was proposed by @kathy-phet.

The universal operation control currently supports 4 operators (`+,−,×,÷`) , and integer operands in the range `[-10,10]`.   Universal operations are applied to terms on both sides of the scale. If there is no variable term on the scale, there is currently no way to create one on the scale using a univers

[2018-03-12 21:40] pixelzoom commented on #357
The proposal that @amanda-phet described for me involves having the operators `[ +,−]` appear twice in the operator picker, with visual cues to indicate that one pair is applicable to constant terms and one pair is applicable to variable terms. Imo, that proposal has numerous problems, mostly relate to the duplication of operators − difficult to design effective visual cues, potentially confusing

[2018-03-12 21:47] amanda-phet commented on #357
Thanks @pixelzoom this is a really good summary.

I'd like to discuss the implications and timeline with @kathy-phet a bit. It sounds like this could push out the deadline for publishing this sim by at least a week, and we should weigh that with the benefits of having the sim published in time for our presentation at ISTE (already a tight timeline).

I'd also like to wait until after interviews to

[2018-03-12 22:01] pixelzoom commented on #357
Oops.  Somehow I accidentally created this issue in scenery-phet.  I'll move it to equality-explorer.

[2018-03-12 22:03] #357 closed

[2018-03-13 18:47] mbarlow12 commented on #354
@ariel-phet sure thing! On it today or tomorrow AM.

[2018-03-14 21:17] samreid opened #358 "Migrate Pendulum Lab NumberControl layout to scenery-phet"
Sam Reid [3:03 PM]
I need a control that looks like this:

Sam Reid [3:03 PM]
uploaded this image: image.png

Sam Reid [3:03 PM]
What is the best way?

Jonathan Olson [3:03 PM]
NumberControl

Sam Reid [3:04 PM]
Thanks, I’ll take a look

Chris Malley [3:04 PM]
Label and value fields so spaced out looks odd to me.

Sam Reid [3:05 PM]
Here’s the full mock-up for context.  Chris, what do you recommend

[2018-03-14 21:44] samreid commented on #358
Moved in preceding commits, @jonathanolson can you please review/test?

[2018-03-15 00:27] jessegreenberg commented on #353
I reviewed sims assigned to me through responsible_dev.md. The only one that uses math symbols is trig-tour, but they symbols have been added to translatable strings so I can't use MathSymbols.js there.

[2018-03-15 01:01] samreid commented on #353
Based on @jessegreenberg's comment I opened https://github.com/phetsims/trig-tour/issues/88

[2018-03-15 01:13] jonathanolson commented on #358
Looks good, snapshot comparison agrees. Thanks!

[2018-03-15 01:13] #358 closed

[2018-03-15 02:57] jbphet commented on #356
I meant to log this in the scenery repo, so I've moved it there, see the issue linked above.  Closing.

[2018-03-15 02:57] #356 closed

[2018-03-15 19:08] jonathanolson commented on #353
I'm going to go through my sims and check.

[2018-03-16 21:38] jonathanolson commented on #353
I've handled my sims, unassigning.

[2018-03-17 01:09] zepumph commented on #353
I have handled my sims, RIAW and OL, added RHO adn OHMS to symbols.

[2018-03-17 02:00] zepumph commented on #336
@jessegreenberg could you update this issue or close it. Does this still rely on step?

[2018-03-18 23:36] ariel-phet commented on #165
Bumping to high priority as this should be done as part of getting masses and springs to publication

[2018-03-19 16:23] samreid opened #359 "TimerNode is specifying the same values as the defaults"
TimerNode currently has this code:

[code]

However, the cornerRadius and baseColor are identical to the defaults in ShadedRectangle.  Hence they should be removed from the TimerNode options.

This came up in Wave Interference because I wanted to match the baseColor and cornerRadius of TimerNode--factoring it out to ShadedRectangle seems a reasonable way to do it.

[2018-03-19 16:26] samreid commented on #359
Fixed above, @ariel-phet can you recommend a reviewer?  It should take <10 minutes.

[2018-03-19 16:37] jessegreenberg commented on #336
It no longer relies on step! Thanks @zepumph, closing.

[2018-03-19 16:37] #336 closed

[2018-03-19 17:39] ariel-phet commented on #359
Asking @jessegreenberg to give this a quick go.

[2018-03-19 18:23] mbarlow12 commented on #354
The changes referenced in the above commit look ok. I have a few questions/comments:
- the base and tip drag handlers share a lot of similar code, _might_ be worth considering condensing the drag handlers into a common type.
- baseDragHandler is a method while the tip drag handler is not, is there a use case for starting the tip drag in a similar fashion to `stargBaseDrag()`?
- there seems to be s

[2018-03-19 23:51] jessegreenberg commented on #355
@samreid testing with a keyboard alone should be sufficient for this. Sorry, no formal documentation for adding a11y related stuff yet. We will want to verify that  the slider has these features, listed in the top of AccessibleSlider.js
[code]
These should get added by mixing in AccessibleSlider.

We probably want the focus highlight around the thumb, not the whole slider. You could mix Accessible

[2018-03-20 02:20] samreid commented on #354
(1) Here's a visual diff of the drag handlers:

![image](https://user-images.githubusercontent.com/679486/37632136-564ea192-2bb2-11e8-9328-a48c84d02943.png)

Maybe we could factor out
[code]

(2) I think the reason for `startBaseDrag` is for when the measuring tape is dragged out of the toolbox (which would be by the base instead of the tip).

(3) Good catch, it would be good to be consistent abou

[2018-03-20 15:28] mbarlow12 commented on #354
@samreid one thought I had for (1) was to create a dragHandler subtype that would accept a property as an argument. For example, the `start` callbacks do perform the same ops just with different properties. Maybe a MeasuringTapeDragHandler?

The catch is that this is common code, so I'm a little unfamiliar with our best practices in such situations.

For 2 and 3, that all sounds good to me.

[2018-03-20 15:37] samreid commented on #354
OK I'll work on moving (3) toward using this.basePositionProperty, then create a new issue for (1).

[2018-03-20 15:42] samreid opened #360 "Factor out listener code in MeasuringTapeNode?"
From https://github.com/phetsims/scenery-phet/issues/354

@mbarlow12 said:

[2018-03-20 15:42] samreid commented on #360
Here's a visual diff of the drag handlers:

![image](https://user-images.githubusercontent.com/679486/37632136-564ea192-2bb2-11e8-9328-a48c84d02943.png)

Maybe we could factor out
[code]

[2018-03-20 15:43] samreid commented on #360
@mbarlow12 said:

[2018-03-20 15:45] samreid commented on #360
My instinct is that the factored out code will be more difficult to read/understand/maintain than the independent code, but I'm not opposed to someone taking the time to try it out.  @mbarlow12 if you want to go for it, I'll review.  Another possibility would be to wait on this until we are visiting MeasuringTape again, say for a11y or phet-io.

[2018-03-20 15:46] samreid commented on #354
I committed a fix for (3) and created https://github.com/phetsims/scenery-phet/issues/360.  @mbarlow12 can you double check my changes in the preceding commit?  Close if all is well.

[2018-03-20 16:01] mbarlow12 commented on #360
@samreid is it correct that the `_isTimUserControlled` setting determines whether dragging the base moves just the base itself or the tip as well?

[2018-03-20 21:39] samreid commented on #360
Yes, if the user is dragging the tip, then drags the base at the same time (say, on iPad with multitouch), then the tip won't translate.

[2018-03-21 23:04] mbarlow12 commented on #354
I checked all instances of `\w+Property`, and none are preceded by `options` after initial assignment—all good. Closing.

[2018-03-21 23:07] mbarlow12 commented on #360
@samreid After looking at things a bit more, I agree with you regarding keeping the dragHandlers as they are. I also don't think it makes sense to factor out
[code]
for a minimal line reduction—seems like it would feel out of context and, like you said, less readable. Closing.

[2018-03-21 23:07] #360 closed

[2018-03-21 23:09] mbarlow12 commented on #354
@samreid  after closing https://github.com/phetsims/scenery-phet/issues/360 is there anything further for these sorts of code reviews (ie smaller changes/common code)?

[2018-03-21 23:12] samreid commented on #354
That seems sufficient, thanks for your help.

[2018-03-21 23:12] #354 closed

[2018-03-22 18:13] jonathanolson opened #361 "BucketFront visual artifacts"
I saw some bugginess in the fractions bucket:
![bucket-fractions](https://user-images.githubusercontent.com/480878/37789634-1716ea06-2dca-11e8-86c8-9ab1497a03e9.PNG)
where it looked polygonal in a bit. On close inspection, the edge of the bucket looks improperly calculated (in BucketFront):
![bucket-fractions-close](https://user-images.githubusercontent.com/480878/37789665-287fc5ba-2dca-11e8-81d4-

[2018-03-22 18:50] ariel-phet commented on #361
@jonathanolson  - good eye. I would say this is low priority (since you are the first person to point it out!).

Can you give me an estimate of what it would take to fix this, and then assign back to me?

[2018-03-23 00:11] jonathanolson commented on #361
My way of estimating something like this is to look into it (so I have a commit above that fixes it).

Looks like this was introduced with a workaround for https://github.com/phetsims/build-an-atom/issues/173. I've applied a fix (basically making the offset smaller by a factor of 10, which should presumably keep the workaround but make it basically invisible).

@jbphet can you review?

[2018-03-25 16:17] pixelzoom commented on #345
To support the complicated UX specified in https://github.com/phetsims/equality-explorer/issues/45, I added options `upEnabledProperty` and `downEnabledProperty`.  If specified by the client, the client is fully responsible for the managing the enabled/disabled state of the up/down buttons.  This yet-another difference from NumberPicker that will need to be addressed.

[2018-03-26 16:24] samreid commented on #355
I mixed in AccessibleSlider to WavelengthSlider in the preceding commit.  I followed the pattern in HSlider and things went smoothly.

* @jessegreenberg can you please review and test the changes?
* I noticed that Home/End on my keyboard did not change the values on any of the sliders?  Can you verify it is still working?  Or perhaps a problem with my keyboard?
* This code seemed odd:

[code]
Shou

[2018-03-27 03:42] jessegreenberg commented on #355
Changes looks great to me @samreid. I tested in color-vision and wave-interference it is working great.

Home/End are working for me in Windows 10 Chrome and macOS 10.13.3 Safari. Home/End on both platforms are "fn + left arrow" and "fn + right arrow" respectively. Is that what you are using?

This is actually an HTML5 setter, not an object property. The setter is documented in scenery/Accessibili

[2018-03-27 03:49] jessegreenberg commented on #359
Change looks good @samreid, can't see why this would cause issues. As a sanity check I checked pendulum-lab and masses-and-springs before/after commits and TimerNode's in both sims looked identical. Closing.

[2018-03-27 03:49] #359 closed

[2018-03-27 04:42] jessegreenberg opened #362 "Add new aria-live elements to fix VoiceOver bug"
VoiceOver has a bug where if multiple alerts are queued up, each new alert will interrupt the old one before the first one is finished. JAWS and NVDA do not have this problem.

I discovered that by using multiple elements with the  `aria-live` attribute and cycling through use of each one, the problem goes away. The change does not impact alerts for JAWS or NVDA. I would like to make the following

[2018-03-27 17:53] jessegreenberg commented on #362
4 elements seems to work great, here are the aria-live elements that I would like to add to the html files:
[code]

[2018-03-27 18:04] pixelzoom opened #363 "standardize the "Info" button"
Related to https://github.com/phetsims/equality-explorer/issues/51, where we're considering adding an "Info" button.

Two sims currently use the international "Info" symbol on a button.  They are masses-and-spring and pendulum-lab.  In both cases, the button uses a fontawesome icon and looks like this:

![screenshot_524](https://user-images.githubusercontent.com/3046552/37985692-b93f4a2c-31b6-11e8

[2018-03-27 18:14] pixelzoom commented on #363
The info button in masses-and-springs (added 10/6/17) is a blatant copy-paste of code from pendulum lab (added 8/29/17).  This issue should have been dealt with when the first copy needed to be made.

[2018-03-27 18:48] pixelzoom commented on #363
I factored `InfoButton` out of masses-and-springs and pendulum-lab. @Denz1994 @jonathanolson FYI.

[2018-03-27 18:50] pixelzoom commented on #363
@amanda-phet FYI, there is now a common-code button called `InfoButton`.   Modifications to the "look" should be made there.  Sims that are not using this button should use it.

[2018-03-27 19:30] amanda-phet commented on #363
Discussed with @arouinfar and I don't think we need any design discussions since the actual icon color can be specified in the sim.

[2018-03-27 19:33] pixelzoom commented on #363
Do you mean the icon _fill_?  (the blue part). That cannot currently be specified in InfoButton.

[2018-03-27 19:38] amanda-phet commented on #363
ah, I misunderstood when you said "The blue is a fill that’s being applied, independent of the icon."

[2018-03-27 19:40] pixelzoom commented on #363
I've added an option to specify the icon fill.

[2018-03-27 19:51] pixelzoom commented on #363
To clarify....

Here's what InfoButton looks like with default settings. Black icon on a gray button.

![screenshot_525](https://user-images.githubusercontent.com/3046552/37991111-83e4ee0e-31c5-11e8-9bec-adc11804ccf3.png)

Here's what InfoButton looks like with a blue icon (`iconFill: 'rgb( 41, 106, 163 )'`), as in masses-and-springs and pendulum lab:

![screenshot_526](https://user-images.githubu

[2018-03-27 20:28] jessegreenberg commented on #362
Done with the above commits. There are some vestigial things in AriaHerald now that I would like to remove.

[2018-03-27 20:42] jessegreenberg commented on #362
Looking good, but Bayes CT hasn't caught up yet. Everything is green for local test-server. Once CT is green this can be wrapped up.

[2018-03-27 21:34] jessegreenberg commented on #362
Bayes CT is clear. I had to update the a11y-view to listen to new aria-live elements, done in https://github.com/phetsims/chipper/commit/77ed2181f4955207b91441459470c9fdfb1cdd63 and a11y-vies were generated for sims in perennial/data/accessibility. VoiceOver is sounding great.  Closing.

[2018-03-28 14:04] samreid commented on #355
I'm using a USB keyboard.  Home/End seem to be working now (not sure what was wrong before).  Your explanation about seems reasonable--it seems we can set that before or after the `initializeAccessibleSlider` call.  Closing.

[2018-03-28 14:04] #355 closed

[2018-03-28 17:29] amanda-phet commented on #363
Looks great to me.

[2018-03-29 17:38] samreid commented on #353
@jbphet anything else to do for this issue?

[2018-03-29 17:39] pixelzoom commented on #353
To clarify....  Everyone at 3/29/18 developer meeting had taken care of their sims. @jbphet wasn't present, commits looks like he may have addressed his sims, but we weren't sure.  So assigned to @jbphet -- please close when your sims are done.

[2018-03-30 00:03] pixelzoom commented on #345
Another deviation from NumberPicker.... ObjectPicker now has these color options, which we found useful in Equality Explorer:

[code]

I think these would be useful in NumberPicker too.

[2018-03-31 21:57] zepumph opened #364 "HelpContent should use nested option objects"
I saw this while working on https://github.com/phetsims/scenery/issues/748,

I think this would make things much easier to implement the accessibility features we want. For example. . .
[code]
all of those icon options wouldn't have to be explicitly set to a default.

@jessegreenberg, you were working on this on Friday, was there an issue you were looking at? If so please take over there.

UPDATE:

[2018-03-31 22:15] zepumph opened #365 "Support an independent tree structure for a11y from the scene graph"
We should work to make sure that all sims create the three main sections (Scene Summary, Play Area, and Control Panel) in the same way. I recently added specific nodes for those in `scenery-phet/js/accessibility/nodes` but perhaps there is a better way to do it. Then we should change all sims to do this. Ideally this would happen before we teach other devs how to create static descriptions. Assign

[2018-04-02 19:15] samreid opened #366 "Add a glass option to LaserPointerNode"
LaserPointerNode currently looks like this:

![image](https://user-images.githubusercontent.com/679486/38211447-b7fe0c28-3677-11e8-8f4a-46f15b3699f9.png)

We want to add a glass part for one sim like this:

![image](https://user-images.githubusercontent.com/679486/38211453-bebae752-3677-11e8-8fc7-a07c0e279e13.png)

I asked in slack:

@jessegreenberg replied:

And @jbphet gave that a 👍, so I create

[2018-04-02 19:17] samreid commented on #366
I should also point out that the reason we are adding the glass is since we don't want the object to be perceived as a "laser".  That being said, I don't think that's enough of a good reason to move this code elsewhere.  And renaming LaserPointerNode to LaserOrMaybeLEDOrOtherLightSourceNode doesn't sound too catchy.  Maybe LightSourceNode, since laser light is a form of light?

[2018-04-02 19:24] arouinfar commented on #366
@samreid I like the sound of LightSourceNode.

[2018-04-02 21:14] jbphet commented on #361
Looks good to me, and thanks for adding comments.  Closing.

[2018-04-02 21:14] #361 closed

[2018-04-02 21:31] jbphet commented on #353
Yes, I've made the updates in my sims.  Closing.

[2018-04-02 21:31] #353 closed

[2018-04-02 22:42] samreid commented on #366
Implemented above, and demonstrated in http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=LaserPointerNode as well as http://localhost/wave-interference/wave-interference_en.html?brand=phet&ea

@ariel-phet can you please assign a reviewer?

To the reviewer: I'm using the "nested options" strategy we discussed in https://github.com/phetsims/tasks/issues/730, and I'

[2018-04-03 04:08] ariel-phet commented on #366
@zepumph -- batter up!

[2018-04-03 15:12] samreid commented on #366
@Denz1994 said:

![image](https://user-images.githubusercontent.com/679486/38258227-1ec3cfa4-371f-11e8-9cbb-e84fd185487c.png)

[2018-04-03 17:48] zepumph commented on #364
Here is the schema that the project is using for nested options. https://github.com/phetsims/tasks/issues/730#issuecomment-370860967

[2018-04-03 18:01] zepumph commented on #366
This looks good to me, I like your implementation of the nested options @samreid. One suggestion is to include a sentence somewhere explaining what the "glass" is.

[2018-04-03 21:53] jessegreenberg commented on #365
I Iike this idea.

I am not too worried about this, it is not a problem that  we have run into so far. Also, it is an unlikely case because descendants of ScreenView children that are in one of these sections should have ancestors that should exist in the same section.

[2018-04-03 21:54] jessegreenberg commented on #365
Removing my assignment, but adding a11y meeting label to talk about more.

[2018-04-05 16:53] jessegreenberg opened #367 "Make properties of KeyboardDragListener mutable"
From https://github.com/phetsims/scenery/issues/764 @jonathanolson said

It should be possible to change these things.

[2018-04-05 16:56] jessegreenberg opened #368 "Make it possible to interrupt KeyboardDragListener"
From https://github.com/phetsims/scenery/issues/764, @jonathanolson said

There is interruption now on `blur`, but there is no public function to  do so. Ill work on this.

[2018-04-05 22:34] mbarlow12 commented on #365
I don't know if this made it into yesterday's discussion, but I'm leaning toward @jessegreenberg 's assessment. It also seems like this might ease in explaining descriptions to other devs.

One thought, and this is mostly a style sort of thing, but would it be preferable to add nodes to the different sections through an option? Something like:
[code]
I really don't know why this would be useful, b

[2018-04-09 17:12] phet-steele opened #369 "TypeError: this.getAccessibleInputListeners(...).contains is not a function"
@jessegreenberg @zepumph only seeing this in the scenery-phet demo. Go to Components -> RichText.

[code]

[2018-04-09 17:55] jonathanolson commented on #369
I forgot to use `includes` instead of `contains`, my bad. Also not sure about https://github.com/phetsims/scenery/commit/157b2258ea15736c257c6862c8f6341a29ec4234, shouldn't the getter be guaranteed to return an array? Why was a guard added?

[2018-04-10 16:07] zepumph commented on #369
I thought that there was an edge case we needed to worry about, but now I realize I was wrong. Sorry about that.

[2018-04-10 17:25] jonathanolson commented on #369
No worries, closing.

[2018-04-10 17:25] #369 closed

[2018-04-10 22:42] jessegreenberg commented on #364
Done, I think this is much improved. @zepumph would you please review? In particular,` labelWithIcon` is using nested options,  but `labelWithIconList` is not because all  options apply to one node. The  result is that the options for the two functions look very different but do similar things. Is this OK?

[2018-04-10 23:08] zepumph commented on #364
Good stuff here, I really like what you did with the nesting in labelWithIcon.

Why is `labelWithIcon` not returning a node? That seems weird, and likely a bug to me. At the very least all HelpContent factory functions should return the same type.

I have the same question for  `labelWithIconList`, but it is also documented ideally but incorrectly (as an HBox).

I think that you should still use t

[2018-04-10 23:29] jessegreenberg commented on #364
The reason it is not a node is so HelpContent can manage horizontal layout of vertically layered groups of help content, like this
![capture](https://user-images.githubusercontent.com/6396244/38588724-9cb96d18-3ce4-11e8-83de-656792184326.PNG)

HelpContent makes sure that the icons for each group are aligned.

[2018-04-10 23:33] jessegreenberg commented on #364
Fixed and tried to clarify JSDoc with above commit.

[2018-04-11 02:27] jessegreenberg commented on #364
This was done with the above commits. @zepumph could  you please review the above comments?

[2018-04-11 16:49] zepumph commented on #364
Looks good. Thanks @jessegreenberg!

[2018-04-11 17:35] jessegreenberg commented on #364
Thanks @zepumph, is more work needed for this issue?

[2018-04-11 17:40] #364 closed

[2018-04-11 17:40] zepumph commented on #364
nopedy

[2018-04-11 23:33] zepumph commented on #365
Discussed in a11y dev meeting today, we like the idea of adding three accessible section nodes the `ScreenView.js`. These public nodes will act as the main section structure for the pDOM, supplying the consistency desired for the pDOM. As for changes to `ScreenView.js`, the three nodes would look like:
[code]
We could alternatively call them `*SectionNode`, instead of just Node, but I don't think

[2018-04-12 00:01] samreid commented on #365
In some sims, I've needed to have some play area objects go behind the control panel and some go in front of the control panel.

How would we categorize "floating" buttons? The ResetAllButton is typically not in a Panel instance.

[2018-04-12 03:26] jonathanolson commented on #365
I'm mainly concerned about @samreid's thoughts. We need to use node ordering to control visual stacking, but the described separation is incompatible. I've also run into the layering case a lot.

I'm curious to learn more about how this would help for a11y, as we probably can't support this as a general pattern. Area Model: Introduction's a11y support didn't require this, and the tab order switche

[2018-04-12 15:54] samreid commented on #365
Would it be possible to add metadata to Node that indicates what "family" or "a11y parent" it should be associated with?  Then scenery a11y can take care of the implementation details?

[2018-04-12 17:07] Denz1994 commented on #365
I'm not too versed in a11y requirements for a sim with 3 sections.

[2018-04-12 17:34] samreid commented on #366
I described what the glass is in the commit, @zepumph can you please review?

[2018-04-12 18:37] pixelzoom opened #370 "create a "Refresh" button in common code"
There are currently 7 occurrences of:

[code]

So that we don't have to instrument 7 different implementation:

- [x] create RefreshButton

Use it in these sims:

- [x] arithmetic { iconScale: 0.6 }
- [x] equality-explorer { iconScale: 0.6, xMargin: 14, yMargin: 7 }
- [x] expression-exchange { iconScale: 0.7 }
- [x] fraction-matcher { iconScale: 0.7 }
- [x] function-builder { xMargin: 18, yMargin:

[2018-04-12 20:45] pixelzoom commented on #370
Notified @jbphet and @samreid via Slack that their sims have been modified.

Closing.

[2018-04-12 20:45] #370 closed

[2018-04-12 22:12] samreid opened #371 "We need a FrequencySlider"
At the Wave Interference design meeting, we concluded we need to be able to reverse the WavelengthSlider, so that the high frequencies are shown to the right instead of the left (that is, we are using it as a "Frequency" slider instead of a Wavelength slider.)

My initial thought for the API would be to add an option like:

[code]

or maybe something like:
[code]

However, I realized that if I swa

[2018-04-12 22:13] samreid commented on #371
For instance, we could go with `leftWavelength` and `rightWavelength`.

[2018-04-12 22:13] samreid commented on #371
It also crossed my mind that we might be able to flip the slider with a scenery node scale (-1,1), but is that a hack?

[2018-04-12 22:17] samreid commented on #371
Indeed, putting `scale: new Vector2( -1, 1 )` in the options seems to work properly (including input listeners), maybe we should go with that?

[2018-04-13 03:03] samreid commented on #366
Thanks for the review, closing.

[2018-04-13 03:03] #366 closed

[2018-04-13 15:35] samreid commented on #371
I renamed the issue to "We need a frequency slider" because if you only reverse the wavelengths, you do not have the right "spacing" between frequency points.  That is, we will want the transform to be linear in frequency (not -1/Hz), which is different.

The WavelengthSlider currently has an api: `minWavelength`, `maxWavelength`.  We could still use those values for a frequency slider if you comp

[2018-04-13 16:01] pixelzoom commented on #371
It sounds to me like there are enough differences that we may want to create a new `FrequencySlider`, rather than trying to coerce `WavelengthSlider` into handling both wavelength and frequency.  Then see what bits `WavelengthSlider` and `FrequencySlider` share, and factor out a base type.

[2018-04-13 22:29] samreid commented on #371
I renamed SpectrumNode => WavelengthSpectrumNode and confirmed it looks identical in Molecules and Light.  Committing.

[2018-04-13 22:31] pixelzoom commented on #371
I won't have time to look at this until next week.  But hopefully none of these changes make it difficult to add UV and IR to WavelengthSlider, as is required for https://github.com/phetsims/scenery-phet/issues/211 (needed by MOTHA).

[2018-04-13 22:44] samreid commented on #371
I introduced a new type `SpectrumSlider` which takes a min value, max value and color mapping function.  I expect it would make it easier to add UV and IR.  For instance, in the visible range, you would return `VisibleColor.wavelengthToColor()`, and in the UV range you could return `Color.gray`.  You could even use that function to add the vertical lines, if they are still desired.  The trick will

[2018-04-13 22:46] samreid commented on #211
Please see related work on WavelengthSlider in https://github.com/phetsims/scenery-phet/issues/371#issuecomment-381277939, particularly this comment:

I introduced a new type `SpectrumSlider` which takes a min value, max value and color mapping function.  I expect it would make it easier to add UV and IR.  For instance, in the visible range, you would return `VisibleColor.wavelengthToColor()`, and

[2018-04-13 22:56] samreid commented on #371
I finished creating FrequencySlider, kept the same interface for WavelengthSlider, and renamed SpectrumNode => WavelengthSpectrumNode.  I recommend the changes be reviewed since (a) they are used in several sims (b) they will affect how we proceed with #211 and (c) I have some questions for the reviewer:

- [ ] I couldn't figure out why the value was being clamped in WavelengthSlider before--I rem

[2018-04-13 23:13] jonathanolson commented on #365
Snapshot of my horrible scribble notes (from screen sharing):

![accessibility-scribbles](https://user-images.githubusercontent.com/480878/38761163-dae9e670-3f3d-11e8-8675-5b1393c4bc34.png)

I'll be writing up things tonight, including the desired API, how it would remap the node tree to the a11y tree, and a broad overview of how the implementation would be done.

[2018-04-13 23:14] jonathanolson commented on #365
On another note, I should find a better "note sharing" solution that includes a touch device with a stylus.

[2018-04-14 04:30] jonathanolson commented on #365
API proposal:

`accessibleOrder`'s effects would change somewhat to be like `getNestedAccessibleOrder` but with the order effectively pulling entire subtrees of nodes out of their usual place in the tree, and placing them as if they were direct children of the node the `accessibleOrder` is defined on. Additionally, a placeholder would potentially represent "the rest" of the children not specified

[2018-04-14 04:35] jonathanolson commented on #365
Also @ariel-phet, how involved should I be in the implementation of this? It mirrors a lot of the trade-offs and implementation patterns with the scenery "display" code, so it (a) would benefit from me being somewhat involved, but (b) having someone else be the full lead on implementation would be a valuable experience for understanding the constraints / patterns used elsewhere in scenery. Also pr

[2018-04-16 03:55] pixelzoom commented on #371
@samreid said:

I see both SpectrumNode and WavelengthSpectrumNode in scenery-phet, both with commits on 4/13/2018.  Please clarify.

[2018-04-16 03:56] pixelzoom commented on #371
@samreid asked:

New code should use the new pattern.  FrequencySlider is new code.

[2018-04-16 04:00] pixelzoom commented on #371
I see these assertions in FrequencySlider:

[code]

Why not this?

[code]

[2018-04-16 04:14] pixelzoom commented on #371
@samreid asked:

I have no recollection.  If you remove it, test thoroughly.

New code should use the new pattern.  FrequencySlider is new code.

No idea. Probably a question for designers.

[2018-04-16 15:26] samreid commented on #371
From https://github.com/phetsims/scenery-phet/issues/371#issuecomment-381473785

The question is about whether to use `x.y===undefined` or `typeof x.y==='undefined'`.  They seem equivalent, I'll change to the former.

[2018-04-16 15:28] samreid commented on #371
Remaining work:

- [ ] use x.y===undefined
- [ ] Playing with FrequencySlider in the scenery-phet demo... the arrow buttons don't work.
- [ ] I have no recollection. If you remove it, test thoroughly.
- [ ] New code should use the new pattern. FrequencySlider is new code.

[2018-04-19 16:51] zepumph commented on #365
Today, while @jessegreenberg and I were giving an a11y architecture briefing to the team, @pixelzoom brought this up as a large hindrance to converting sims. We should try to get this going before the code sprint. Renaming the issue.

[2018-04-20 16:43] jessegreenberg commented on #368
Visibility annotations in KeyboardDragListener are missing, I will add as part of this issue.

[2018-04-20 16:55] jessegreenberg commented on #368
`reset` is actually the way to interrupt the keyboard dragging. It will reset the `keyState` and press and hold intervals and stop all dragging until the next input events. So maybe we should have a public `interrupt` function that just calls reset so that it is easily discoverable in the API?

[2018-04-20 16:55] jessegreenberg commented on #368
Or maybe better to rename reset to interrupt. Ill do that.

[2018-04-20 17:35] ariel-phet commented on #365
@jonathanolson as discussed yesterday, it would be great to have you involved. I believe that plan was a bit of intellectual collaboration with @jessegreenberg and @zepumph today, and then you helping to work on the issue once Area Model 1.0 is released and iOS maintenance release has occurred.

[2018-04-20 18:40] jonathanolson commented on #365
No, only connected content for now (simplifies implementation, can change later)

Yes, we error out.

It would not show up in its "orginial" place in the tree if it is specific in any other order.

Dispose gets rid of the accessibleOrder's effect.

[2018-04-20 21:39] jessegreenberg commented on #368
@zepumph volunteered to work on this, thanks!

[2018-04-20 21:41] jessegreenberg commented on #367
@zepumph volunteered to work on this, thanks!

[2018-04-24 02:00] jonathanolson commented on #368
`interrupt` would be more consistent with the usual input listeners. Additionally, maybe `Node.interruptInput` should go through a11y listeners and, if it exists, call `interrupt`?

[2018-04-24 16:00] samreid opened #372 "TimerNode should be able to show units"
In Wave Interference, we would like to show time in femtoseconds for the light scene.  However, the timer node looks like this and has no place for units.

![image](https://user-images.githubusercontent.com/679486/39199261-3fc2b336-47a6-11e8-8042-80b914f74393.png)

This will require design work and implementation work.  @arouinfar can you please comment how you would like this to appear with units

[2018-04-25 04:47] samreid commented on #371
I addressed the issues raised during review, @pixelzoom anything else to do before closing?

[2018-04-25 15:44] #371 closed

[2018-04-25 17:11] pixelzoom opened #373 "ContextLossFailureDialog problems"
Related to https://github.com/phetsims/joist/issues/413#issuecomment-384010740, where the Dialog close button is now mandatory.

ContextLossFailureDialog has overlap of content and button, e.g.:

![screenshot_591](https://user-images.githubusercontent.com/3046552/39261327-5d1dbe02-4879-11e8-93b0-76a801d8bcc9.png)

[2018-04-25 17:12] pixelzoom opened #374 "KeyboardHelpDialog: remove custom close button"
Related to https://github.com/phetsims/joist/issues/413#issuecomment-384010740, where the Dialog close button is now mandatory.

KeyboardHelpDialog creates its own custom close button, exactly on top of the standard close button.

This button needs to be removed.  I’ll compare the a11y and phet-io instrumentation to Dialog.  If they are the same, I’ll remove it.  If they are different, someone els

[2018-04-25 17:28] pixelzoom commented on #373
I addressed the overlap problem by increasing the margins, the same approach that @jonathanolson used for UpdateDialog.  And I added ContextLossFailureDialog to the scenery-phet demo so that it's not such a pain to test.   Here's what it looks like now:

![screenshot_592](https://user-images.githubusercontent.com/3046552/39262067-91f28bc4-487b-11e8-8239-dcf53bb479dd.png)

But there seems to be a b

[2018-04-25 18:08] pixelzoom commented on #374
KeyboardHelpButton lives in joist, moving this issue to https://github.com/phetsims/joist/issues/486.

[2018-04-25 18:08] #374 closed

[2018-04-25 18:29] jonathanolson commented on #373
I don't feel strongly either way. @ariel-phet thoughts?

[2018-04-25 20:58] pixelzoom opened #375 "CT is unhappy with ContextLossFailureDialog in demo app"
Related to https://github.com/phetsims/scenery-phet/issues/373, reported by @phet-steele.

When I added ContextLossFailureDialog to scenery-phet's demo, that made CT unhappy.  During fuzz testing, it's pressing the Reload button, which reloads the page.

I brainstormed with @phet-steele about this, and decided that we don't want to change CT.  Instead, I'll add an option to ContextLossFailureDialo

[2018-04-25 21:08] pixelzoom commented on #375
Work completed in above commit. @phet-steele please review, close if all is well.

[2018-04-25 21:10] pixelzoom commented on #373
Another option:

(4) Override `hide` so that reload is done regardless of how the dialog is closed.  Trivial.

I'm going to do this for now.

[2018-04-25 21:27] pixelzoom commented on #373
The sim is now reloaded regardless of how the dialog is dismissed.  Over to @jonathanolson for review.

[2018-04-25 21:29] jonathanolson commented on #373
Looks good to me.

[2018-04-25 21:29] #373 closed

[2018-04-26 16:05] phet-steele commented on #375
CT is happy with the workaround, thanks @pixelzoom.

[2018-04-26 16:05] #375 closed

[2018-04-27 17:32] zepumph opened #376 "Investigate the demos sim as a "style guide""
@emily-phet et al. thinks that it is very important to write down the general practices and PhET conventions that we are using for components. This is especially important for a11y, because there are many "gotchas" that we have run into about making PhET components sound good across browsers and screen readers.

Since the demos sim is already being discussed as an option for designers to see all p

[2018-04-30 18:11] arouinfar commented on #372
@samreid we'll probably want to do something like this:

![image](https://user-images.githubusercontent.com/8419308/39442721-72f03986-4c6f-11e8-9c60-5586bbcecba9.png)

I expanded the width of the body by 15% to accommodate the extra characters needed for the units. I left the buttons in place because I think it looks strange to keep them aligned with the edges of the readout.
![image](https://user

[2018-04-30 20:48] ariel-phet commented on #372
@arouinfar - I agree with keeping the button positions

@samreid I think you would want two options
1. Where no units are displayed keeping the smaller form factor. I think in general it is fine not to display units when the timer is in seconds
2. Where units are displayed and using the larger timer body.

[2018-05-01 16:30] samreid commented on #372
One question about how to deal with units for different scenes.  The strings "ms" and "fs" have different widths--should the timer node resize when we change scenes?  Or should we try to choose the max width across strings so that it doesn't change size when changing scenes?