[2019-11-11 19:06] samreid opened #555 "Should CapacitorNode be declared in view coordinates?"
At the moment, CapacitorNode is described in meters:

[code]

However, this means to make a 100px capacitor in CCK, I need to figure out the mapping between meters and px.

Likewise, in order to show a reasonable number of charges in CCK, I'm using `maxPlateCharge: 2.6562e-12,` and `const V = 1.7707999999999996e-13;`.  Maybe it would be more natural to have an interface that says how many plus or

[2019-11-11 20:20] ariel-phet commented on #555
@samreid I am not sure what you are suggesting is appropriate. In CL:B the size of the capacitor (separation and plate area) very much matters, so it seems appropriate to me for it to be defined in model coordinates.

Maybe this is a good question for some other developers. If feel like @pixelzoom is a pretty good "sage of MVC" so let me get his opinion.

[2019-11-11 21:05] pixelzoom commented on #555
Since CapacitorNode is a view component, it would be fine for it to use view coordinates for creating it's subcomponents, layout, etc.   It's associated model element should be in model coordinates, and there should be a model-view transform between model and view frames.

More problematic is the fact that CapacitorNode lives in scenery-phet, it's first constructor parameter is `{ParallelCircuit}

[2019-11-11 21:11] samreid commented on #555
That looks like stale documentation, it doesn't require a `ParallelCircuit`.  It does require an `Object` with `capacitor`, `maxPlateCharge` and `maxEffectiveEField`.  A mock object with those criteria is created in the scenery-phet demo:

[code]

[2019-11-11 21:25] pixelzoom commented on #555
Based on the CRC section on "Type Expression", this "mock object" needs either a `typedef` or a `CapacitorDef`.   And since the currently implementation has a complete absence of validation for this mock object, `CapacitorDef` (with a validator) is probably the way to go.

[2019-11-11 21:28] samreid commented on #555
What amount of effort do you think is worth it to make this change?  The estimate from the issue was around half a day.

[2019-11-11 21:38] pixelzoom commented on #555
I haven't looked into the details of what would be required, so I'll take your word for it that it's around half a day (which is ~4 hours?)  It's not my place to decide whether it's worth the cost, so I'll defer to @ariel-phet.  But since MVC pattern is the cornerstone of PhET sims, it seems to me that adhering to that pattern is worth the cost.

[2019-11-11 21:56] pixelzoom opened #556 "StepForwardButton modifies options that it doesn't own"
I ran into this in natural-selection.

[code]

If the `options` arg is used elsewhere, this modifies it for other clients.  This one is my bad.

[2019-11-11 22:01] pixelzoom commented on #556
Fixed in the above commit.  Tested in scenery-phet demo and gas-properties.

@ariel-phet please assign someone to review.

[2019-11-11 22:03] samreid commented on #555
That's a rough estimate.  We may get a more precise estimate or more efficient timing by coordinating with the responsible dev for Capacitor Lab: Basics, which is @Denz1994.  @Denz1994 can you please review this issue and comment?

[2019-11-13 20:36] zepumph commented on #540
@samreid, I understand your concern, and know that up until this point, we have refactored to make this pattern consistent. I think the main reason I am uninterested in it here is for two reasons.

* The word "Button" doesn't feel like it belongs as a definitive param to `Key`. In my commit, note that I called it the "buttonTandemName".
* (subjective) It doesn't seem more valuable to have it that

[2019-11-13 23:00] samreid commented on #540
I don't feel too strongly about factoring the strings out as whole terms.  I have been exercising this pattern in Gravity and Orbits, and it is leading to code like:

[code]

We should discuss it at some point, and whether or not to standardize or leave it up to developer discretion.  But I can't think of anything else to do for this issue.

[2019-11-14 23:36] ariel-phet commented on #555
@samreid feel free to proceed, regardless of estimate, just wanted a second opinion and appreciate the explanations above.

[2019-11-15 00:02] zepumph commented on #540
The tandemName concatenation will be handled in https://github.com/phetsims/tandem/issues/128. I think the only thing left would be to have @jbphet comment on the "enter" button's presence (or lack there of) in KeyPad.js proper. Is there a paper trail on that discussion?

[2019-11-18 23:48] zepumph commented on #536
From the grab/drag meeting this morning with @terracoda and @jessegreenberg, we feel like all of the above design specifications have been implemented and much has been reviewed. From here we will look into specific sims, like GFL and BASE to review the specifics of each implmentation, and create new issues if needed to make any tweaks/bug fixes that may arise. Closing

[2019-11-18 23:48] #536 closed

[2019-11-19 02:12] zepumph commented on #546
I made a few changes, mainly combining the diagonal descriptions into the cardinal directions object. Please review.

[2019-11-19 02:17] zepumph opened #557 "DirectionEnum should be an Enumeration"
From https://github.com/phetsims/scenery-phet/issues/547, it seems right to do now.

[2019-11-19 02:23] zepumph commented on #557
@jessegreenberg please review.

[2019-11-19 02:25] zepumph commented on #547
Looks great to me, thanks for doing this!

[2019-11-19 14:46] Denz1994 commented on #556
Nice catch. I went ahead and made a similar commit to `StepBackwardButton.js`. I checked cases of `new StepForwardButton` and `new StepBackwardButton` to make sure options weren't being set for the `direction` field.

@pixelzoom If the above [commit](https://github.com/phetsims/scenery-phet/commit/454f005f72b2bcbedf8b523aa68969c82b88ec96) looks good, you can close.

[2019-11-19 16:09] jessegreenberg commented on #547
Thanks for review

[2019-11-19 16:09] #547 closed

[2019-11-19 16:10] jessegreenberg commented on #557
Yes, thank you very much.

[2019-11-19 16:10] #557 closed

[2019-11-20 17:20] pixelzoom commented on #556
Good catch @Denz1994.  Looks good, closing.

[2019-11-20 17:20] #556 closed

[2019-11-22 21:02] pixelzoom opened #558 "Vector2.add( Vector3 ) in YawPitchModelViewTransform3"
In `YawPitchModelViewTransform3`:

[code]
<br>

On line 75, the `add( modelPoint )` bit is problematic, because it's adding a `Vector3` to a `Vector2`.  Documentation for Vector2 `add` indicates that its argument must be `{Vector2}`.   So this is working because `add` doesn't type-check its args (which could change) and Vector2 and Vector3 both satisfy duck type `{x:number, y:number}`.

Unless you

[2019-11-22 21:29] pixelzoom commented on #558
Doc for `modelToViewPosition ` is also incorrect:

[code]

It returns `{Vector2}`.

[2019-11-22 23:05] jbphet commented on #540
There was a design decision made to have the capability to keep the keypad, number display, and enter key separate when the keypad was implemented.  An example of why the separate enter key was desired can be seen in the Area Builder game.  In that game, some of the challenges involve entering an area value using a keypad, while others involve constructing an area from provided shapes.  All of the

[2019-11-22 23:25] zepumph commented on #540
It does, thanks. I'm going to go ahead and close this issue, since it sounds like its current state was a purposeful design consideration.

[2019-11-23 15:06] samreid commented on #558
I made the changes recommended above, skimmed the file for other significant problems and tested in Capacitor Lab: Basics.  Back to @pixelzoom for review.

[2019-11-23 15:36] pixelzoom commented on #558
👍 closing.

[2019-11-23 15:36] #558 closed

[2019-11-26 18:06] jessegreenberg commented on #389
This issue is stale now that we have a separate repo just for utterance-queue. Clsoing

[2019-11-26 18:06] #389 closed

[2019-11-26 18:07] jessegreenberg commented on #441
Closing this issue for now, we will work on this naturally when we require more complicated entities in alerts.

[2019-11-26 18:07] #441 closed

[2019-12-03 21:49] zepumph opened #559 "Create KeyboardHelpIconFactory"
From https://github.com/phetsims/molarity/issues/177, @jessegreenberg and I think it is best to move icon logic to its own place. There are three items to think through here:

- [x]  Move icon specific functions from KeyboardHelpSection.js to this new type
- [x] Over in https://github.com/phetsims/molarity/issues/177 and in other usages factor out commonly repeated, complex icons like "up and down

[2019-12-05 22:30] jbphet opened #560 "GrabDragInteraction calling onGrab twice for a single grab"
In https://github.com/phetsims/gravity-force-lab/issues/181 I am working to add sound to the Gravity Force Lab sim.  In the process of trying to add sounds for pickup and release of the ruler, I found that the grab sound was playing twice when the ruler was grabbed using keyboard interaction.  Through the use of debug messages, I could see that `GrabDragInteraction.onGrab` is being called twice wi

[2019-12-09 19:36] terracoda commented on #560
Adding screen shot that on grab I get both a release alert and a grabbed alert
![Screen Shot 2019-12-09 at 4 05 03 PM](https://user-images.githubusercontent.com/1902116/70466510-dee5a100-1a9d-11ea-9a4a-ab88a929510b.png)

[2019-12-09 19:36] jessegreenberg commented on #560
Since this is related to GrabDragInteraction I can also take a look at this.

[2019-12-09 20:47] ariel-phet commented on #554
Will be dealt with in https://github.com/phetsims/tasks/issues/1017, closing

[2019-12-09 20:47] #554 closed

[2019-12-10 23:21] jessegreenberg commented on #560
This is caused by the addition of PressListener to GrabDragInteraction. PressListener adds pointer compatibility to GrabDragInteraction. But PressListener `release` fires for both pointer and keyboard events.

[2019-12-10 23:32] jessegreenberg commented on #560
Changing the PressListener so that it only responds to Pointer events fixes the issue.
[code]

But I wonder if we should change GrabDragInteraction to leverage PressListener for the key listeners too.

[2019-12-10 23:53] jessegreenberg commented on #560
I tried leveraging PressListener for more of the PDOM related input too. We cannot use it for everything because PressListener uses `click` events for PDOM input and we need to listen to `keydown`/`keyup` input when the target node is a `div`. But we can move the portion that listens to `click` to PressListener, this change is working pretty well:
[code]

But I don't think it is any better than ht

[2019-12-11 00:11] jessegreenberg commented on #560
Commit made above. Only difference from https://github.com/phetsims/scenery-phet/issues/560#issuecomment-564307914 is documentation and we also `releaseDraggable` if event is `null` because this indicates that PressListener was interrupted.

@zepumph can you please review this since you are familiar with GrabDragInteraction? Take a look at the above comment and let me know if you think I made the

[2019-12-11 17:42] jessegreenberg opened #561 "Create a single control that includes play/pause/step buttons"
There are many places where we have Play/Pause and Step buttons together. And now we have a PDOM description that combines them like "Pause, play, or step forward in time while paused."

It seems like we should have a reusable type that combines these controls.

@samreid recommended that we look through sims to determine if there are any other patterns or controls that should be included in this g

[2019-12-11 17:45] jessegreenberg commented on #561
We are looking for controls that are arranged sort of like this: ![image](https://user-images.githubusercontent.com/6396244/70645977-fcd51200-1c13-11ea-938e-f5db711fe847.png)

I see them in
 - states-of-matter (SOMPlayPauseStepControl)

[2019-12-11 17:52] jessegreenberg commented on #561
@pixelzoom pointed out on Slack that this already exists as TimeControlNode, which covers everything mentioned in this issue. We should now search for sims that should be using this component.

[2019-12-11 19:29] jessegreenberg commented on #561
I made issues and assigned each to the responsible dev. This can be closed.

[2019-12-11 22:22] jessegreenberg opened #562 "Add option to PlayPauseButton to scale button when sim is paused"
A common request is to make the PlayPauseButton bigger when the sim is paused and the "play" button is shown. And I have found three occurrences of
[code]
copied around so far.

I suggest an option for PlayPauseButton called pauseSizeIncreaseFactor that does this for us, default to 1.

This is required for issues like https://github.com/phetsims/energy-skate-park/issues/150/

[2019-12-11 22:23] jessegreenberg commented on #562
`pauseSizeIncreaseFactor` is ambiguous, I think one may think that refers to the "pause" button rather than the paused state. How about `playButtonScaleFactor` instead?

[2019-12-11 23:23] jessegreenberg commented on #562
Done in the above commit and used in energy-skate-park.

I see this being done still in
- [ ] bending-light
- [ ] forces-and-motion-basics
- [ ] projectile-motion
- [ ] states-of-matter
- [ ] wave-on-a-string

[2019-12-11 23:30] jessegreenberg commented on #562
This documentation is in SOMPlayPauseStepControl:

Thats helpful, im going to move it to PlayPauseButton.

[2019-12-11 23:37] jessegreenberg commented on #562
Done in the above commits, used in sims where we are scaling up the "Play" button.

@ariel-phet can you please assign a developer to review? @samreid is marked as author of PlayPauseButton but I think anyone could review this change.

[2019-12-12 18:00] samreid commented on #562
To clarify, should this be an option?  Or should all simulations show the PlayPauseButton bigger when the sim is paused?

Yes, that's a much clearer name.  But it sounds like it is a permanent scaling, should we also indicate that it is only the scale when paused?

Also a note to facilitate review-ability for changes like this.  It's helpful to have the commits related to the relevant issue.  In t

[2019-12-12 18:06] jessegreenberg commented on #562
Thanks for reviewing.

I believe this should be an option. The current PhET convention for this is noted in https://github.com/phetsims/scenery-phet/issues/562#issuecomment-564780196 and now documented in PlayPauseButton

I thought the name `playButtonScaleFactor` indicated that the scale factor applies to the "Play" button (when the sim is paused).

Sorry! That was my mistake, those commits shoul

[2019-12-12 18:08] samreid commented on #562
How about renaming `playButtonScaleFactor` to `playButtonScaleFactorWhenPaused` so developers don't think it is a permanent scale factor, even when playing?

[2019-12-12 18:12] jessegreenberg commented on #562
If we add `whenPaused` then `playButton` isn't necessary, how about `scaleFactorWhenPaused`, to reduce name length?

[2019-12-12 22:52] jessegreenberg opened #563 "Add a StepBackwardButton to TimeControlNode"
@veillette mentioned that the time control nodes in collision-lab include a StepBackwardButton https://github.com/phetsims/collision-lab/issues/43.

It would be useful for TimeControlNode to also include this, this group looks like it could be used more than once.
https://user-images.githubusercontent.com/7633344/70754080-47ce5280-1d04-11ea-8b49-cc9157b66a6e.png

I asked slack:

Any objections to

[2019-12-13 00:23] jessegreenberg commented on #563
StepBackwardButton added in https://github.com/phetsims/scenery-phet/commit/f0e2586947d8e579a6a4057afd08bbc017cf1d10. `stepOptions` renamed to `stepForwardOptions` to go with `stepBackwardOptions` in https://github.com/phetsims/scenery-phet/commit/b7bdb9600bf27989a74fc00ca42a9a98bd5a6092. Rest of commits are for the option rename at usages in sims.

@ariel-phet can you please assign a developer to

[2019-12-13 23:04] samreid commented on #562
Right `scaleFactorWhenPaused` is the perfect name for a `PlayPauseButton` option.  I was confused thinking we were specifying an option for `TimeControlNode`, but I see it is already set up for nested options correctly.  Thanks for correcting me.  I still have more review to do here, but may not get to it for a few days.

[2019-12-14 19:16] veillette opened #564 "TimeControlNode should expose the position of the playPause button"
I very much like this new TimeControlNode, particularly how the options are passed very cleanly.

In the process of converting our time control buttons to TimeControlNode, https://github.com/phetsims/collision-lab/issues/43, we determine that it would be useful to add some additional methods for laying out this node.

For instance, Collision lab assumes that the Play/Pause Button is horizontally c

[2019-12-17 02:13] ariel-phet commented on #563
@pixelzoom could you review?

[2019-12-17 04:37] pixelzoom commented on #563
Changes look good overall, but 2 problems that need to be addressed:

(1) If a `StepBackwardButton` is created, it is not cleaned up in `this.disposeTimeControlNode`.  That will leave the button registered with PhET-iO, creating a memory leak.

You'll need to keep a reference to your `StepBackwardButton` instance, then call `dispose` in `this.disposeTimeControlNode`:

[code]

(2) These `merge` cal

[2019-12-17 17:28] jessegreenberg commented on #563
Thanks for review!

Done in https://github.com/phetsims/scenery-phet/commit/ae9907fcb8999339c65f47fc34011b327fbaaa4e

Assertions added in https://github.com/phetsims/scenery-phet/commit/d723fbbc4cb629dc34c6716a7c6f02f028e29a5f

Back to @pixelzoom.

[2019-12-17 19:15] pixelzoom commented on #563
👍 Good catch on `options.playPauseOptions`, I didn't notice that it has the same problem with overriding options.  Closing.

[2019-12-17 20:33] samreid opened #565 "How should the StopwatchNode behave at large time values?"
From https://github.com/phetsims/gas-properties/issues/170, @pixelzoom said:

It's unclear what the alternative supported behavior(s) should be.  @pixelzoom can you please elaborate, or let me know if this should be discussed with designers?

[2019-12-17 20:40] samreid opened #566 "Generalize StopwatchReadoutNode"
From https://github.com/phetsims/gas-properties/issues/170#issuecomment-528394405 @pixelzoom said:

I see one NOTE related to this in the code:

[code]

@pixelzoom were you envisioning more options and features in StopwatchReadoutNode, or the ability to override the StopwatchReadoutNode with any client-supplied Node?

[2019-12-17 22:57] samreid opened #567 "Stopwatch units button is nonfunctional"
Even before commits for https://github.com/phetsims/gas-properties/issues/170, I confirmed that the units buttons for the StopwatchNode were nonfunctional.

[2019-12-17 23:11] samreid commented on #567
Fixed, closing.

[2019-12-17 23:11] #567 closed

[2019-12-17 23:30] jbphet commented on #553
Seems like decent idea - it would certainly be easier to read.  There is a difference between the code above and the code that is in `Keypad.js` right now in that the existing code uses unique instances if the `Key` class in each layout, whereas the suggested code is reusing instances across layouts.  I'm not sure if that would have any consequences or not.

Back to @samreid for continued discussi

[2019-12-17 23:37] pixelzoom commented on #565
I'd prefer to see the time display scale down, or at least have the option to do so.  Having it just stop seems potentially confusing.   You probably want to also discuss with designers.

[2019-12-17 23:41] pixelzoom commented on #566
I don't see why StopwatchNode should be locked into "HH:MM:SS" or a value to 2 decimal places.   Why 2 decimal places, why not 1 or 3?  Smells like sim-specific code to me.

StopwatchReadoutNode also seems unnecessary.  Why can't we use NumberDisplay here?  Time is just a number, with some client-specific formatting.

So... Why not provide a formatting function, like we do for NumberDisplay and Nu

[2019-12-18 00:44] samreid commented on #553
@ariel-phet is there someone else that can look into this?  It seems a straightforward suggestion that any developer could investigate.

[2019-12-18 20:58] ariel-phet commented on #553
marking as medium since should be reasonably straightforward, but not a rush

[2019-12-19 06:17] chrisklus opened #568 "Instrument HeaterCoolerNode"
HeaterCoolerNode needs to be instrumented to satisfy required tandems (since it has a slider) in EFAC (as well as Gas Properties and soon SOM).

@kathy-phet and @arouinfar said to keep it simple, so only the Node itself and the slider need to be instrumented.

I've been digging into this for a bit, and it's not clear to me yet what's the best way to handle the HeaterCoolerFront and HeaterCoolerBac

[2019-12-22 06:42] samreid opened #569 "DragBoundsProperty should update when the targetNode dimensions change"
From https://github.com/phetsims/gas-properties/issues/170 there was a TODO which read:

[code]

@pixelzoom replied during the review:

[2019-12-22 07:02] samreid commented on #569
Some notes on progress here:

I first tried introducing `new NodeProperty( targetNode, 'bounds', 'bounds'`` as a new DerivedProperty dependency in `DragBoundsProperty`, but it had the problem that the Node bounds is mutated and hence notifications are not sent.  I worked around this via a new NodeProperty option `shouldNotifyListenersStatic: true`, however, this triggered every time the node chang

[2019-12-23 16:54] samreid commented on #569
I went with the `readOnly` idea, and added a note that `'bounds'` is not a good fit for NodeProperty at the moment.

[2019-12-23 17:22] samreid commented on #537
The main part of this work is complete and can be reviewed.  There are still other steps to be taken in https://github.com/phetsims/scenery-phet/issues/555, but that will be done separately.  @ariel-phet can you please assign a reviewer?  @Denz1994 may be a good match since this code is also used in Capacitor Lab Basics.

[2019-12-23 19:21] ariel-phet commented on #537
@Denz1994 over to you -- this review would be fairly high priority as we are attempting to keep momentum on CCK: AC

[2019-12-24 20:44] samreid commented on #530
Most of this was covered in https://github.com/phetsims/gas-properties/issues/170.  @pixelzoom anything else to do for this issue in particular?

[2019-12-26 04:38] chrisklus commented on #568
I went again a committed some working changes to be reviewed by @samreid. @arouinfar could you take a look at EFAC Studio on master and see what you think?

[2019-12-26 18:39] pixelzoom commented on #530
Nothing I can think of. Closing.

[2019-12-26 18:39] #530 closed

[2019-12-27 16:03] jessegreenberg commented on #564
This sounds important. I added a function above to get the center of the PlayPauseButton. Usage in collision-lab might look like

[code]

I considered changing TimeControlNode origin to be the center of the PlayPauseButton so that centering might be more simple
[code]

But that seemed more intrusive to TimeControlNode and I wasn't sure if positioning relative to center of PlayPauseButton would be

[2019-12-27 20:08] samreid commented on #565
@arouinfar can you please recommend how to proceed for this issue?

[2019-12-27 20:11] samreid commented on #568
What about instrumenting just the front, say, and wiring the back's visibility up to the front.  Like:

[code]

That way we don't need to create a middle adapter layer?

[2019-12-27 21:17] samreid commented on #566
This was previously asked in https://github.com/phetsims/scenery-phet/issues/372#issuecomment-419196541 and answered in https://github.com/phetsims/scenery-phet/issues/372#issuecomment-421681294.  The answer included this text:

@pixelzoom is there a better implementation strategy that keeps some digits large and some small?  Want to reassign to discuss with a designer whether that feature is nece

[2019-12-28 01:09] jessegreenberg commented on #562
OK great, thanks! The above commits rename the option `playButtonScaleFactor` to `scaleFactorWhenPaused`.

[2019-12-28 01:31] jessegreenberg commented on #563
Reopening, in https://github.com/phetsims/neuron/issues/142 @SaurabhTotey pointed out a case where we need to pass a different `isPlayingProperty` to the `StepButton`s. The `StepButton` enabled state is controlled by the `isPlayingProperty`. The only way to have custom conditions for when the `StepButton` is enabled is to provide a custom `isPlayingProperty` through options.

[2019-12-28 01:42] jessegreenberg commented on #563
I removed the assertions.  @pixelzoom does this seem reasonable?

I am considering renaming `isPlayingProperty` option of StepButton to something like `isPlayingAndEnabledProperty` to indicate the intent of this option to also control enabled state of the button. Do you think that is worthwhile?

[2019-12-28 19:01] chrisklus commented on #568
I'm not sure what you mean by this.

That's what I was attempting to do - and HeaterCoolerFront is managing that wiring so it's not duplicated, and is the only file that gets a tandem. Call sites using HeaterCoolerNode look like this:

[code]

and call sites with separate HeaterCoolerFront and HeaterCoolerBack look like this:

[code]

[2019-12-28 19:58] samreid commented on #568
You are absolutely right, sorry I misread the change set.  This strategy looks great.

[2019-12-28 22:33] pixelzoom commented on #563
@jessegreenberg said:

Could you please explain more about why Neuron has (as noted in https://github.com/phetsims/neuron/issues/142) "special conditions for when it is disabled".   This feels to me like either Neuron is doing something odd, or Neuron shouldn't be using TimeControlNode.

[2019-12-29 02:15] SaurabhTotey commented on #563
Here is what the comment in `NeuronScreenView` says:
[code]

[2019-12-29 22:12] pixelzoom commented on #563
@SaurabhTotey thanks for clarifying the Neuron requirements.  I can see it's useful for the client to have control over the enabled state of  the StepForwardButton and StepBackwardButton. That said, I do not think that the solution is to provide different `isPlayingProperty` instances to each button.  The solution is to optionally provided `enabledProperty` for each button.

So to answer @jessegre

[2019-12-30 01:07] jessegreenberg commented on #563
Thanks for reviewing, definitely no rush on this and it can wait till you return.

That makes sense too. Currently, the *only* purpose of `isPlayingProperty` for StepButton is to control enabled state. So for those buttons a straight rename of `isPlayingProperty` to `enabledProperty` may be sufficient.

[2019-12-30 22:02] zepumph commented on #560
Yeah that makes sense. Good work!

[2019-12-30 22:02] #560 closed

[2019-12-31 17:15] pixelzoom commented on #566
I've never understood the motivation for requiring some digits to be smaller.  I think it would be an OK _option_ (and might be supported via RichText) but certainly not as the only way to show time.  And certainly not requiring 2 decimal places.  Both the smaller digits and 2 decimal places seemed totally uncalled for in Gas Properties, but that's what we were stuck with (and I still cringe whene

[2019-12-31 17:20] pixelzoom commented on #563
I don't think it's as easy as renaming `isPlayingProperty` to `enabledProperty`.   I think we'll want something like this in `StepButton`:

[code]

[2019-12-31 18:31] samreid commented on #566
@arouinfar what do you think?

[2019-12-31 19:37] arouinfar commented on #565
I don't know the full history of TimerNode, so I'm not sure if it has always had a `maxValue`. In https://github.com/phetsims/wave-interference/issues/94 we made a decision about what to do when the `maxValue` is reached. We decided to stop the timer because that mirrors the experience of using the stopwatches typically found in classrooms. Also, there really isn't any pedagogical value in continu

[2019-12-31 20:01] arouinfar commented on #566
Agreed, this was likely sim-specific. I think 2 decimals would be a reasonable default, but I could see wanting to display a different number of decimals (or potentially none at all).

I was not around for the original design of TimerNode, but I believe the motivation was for the seconds and milliseconds to be more visually distinct from one another. This design choice is not uncommon, and is used

[2020-01-01 18:31] Denz1994 commented on #537
@samreid I added some review comments annotated with `REVIEW:`. Most of them are doc updates, but the demo in scenery-phet doesn't update the display for the separation and charge values. The property values are updating, so I suspect this has to do with the range of values we are displaying for the `NumberControl` in `ComponentsScreenView.js`.

I will leave for you to investigate, but otherwise,

[2020-01-01 21:53] samreid commented on #537
Thanks for reviewing this @Denz1994.

My understanding is that (read-only) refers to how clients may use it, not how it is used internally.

I think we agreed that as long as the information is in one commit message or one commit, that is sufficient.  I'll remove it.

I also addressed other //REVIEW comments in the commits.  Back to you @Denz1994.

[2020-01-02 16:29] Denz1994 commented on #537
`REVIEW` comments have been addressed and the slider in the demo is updating the value.

One further recommendation @samreid : Could you pass in `SeparationProperty` and `PlateChargeProperty` with a scale factor. I'm only recommending this because the actual values are on the order of and 10^-3 and 10^-13 respectively and it causes the readout to expand awkwardly. Alternatively, we could add a uni

[2020-01-02 16:45] samreid commented on #537
There is an issue for converting to use view-oriented units: https://github.com/phetsims/scenery-phet/issues/555.  I think that would cover the change above.  I'll make a note there and close this issue.  Thanks @Denz1994!

[2020-01-02 16:46] samreid commented on #555
@Denz1994 pointed out that we will be able to clean up the units in the scenery-phet demo usage, see https://github.com/phetsims/scenery-phet/issues/537#issuecomment-570260608

[2020-01-02 17:33] pixelzoom commented on #563
I've taken a closer look at this.  Ideally, we would pass an optional `enabledProperty` to `StepButton`.  But unfortunately, sun buttons don't follow the "enabled" pattern used by other PhET UI components.   In sun buttons, the enabledProperty is at (protected) `this.buttonModel.enabledProperty`, and the API only supports setEnabled and getEnabled; there is no API for observing enabled, or passing

[2020-01-02 20:39] pixelzoom commented on #563
phetsims/sun#515 and this issue were discussed at 1/2/2020 dev meeting.  The consensus was that the correct way to address this is by addressing phetsims/sun#515 and do something like https://github.com/phetsims/scenery-phet/issues/563#issuecomment-569961843 in StepButton. @jbphet is going to look at phetsims/sun#515, but with medium priority.

@jessegreenberg if you have a more urgent need, then

[2020-01-03 21:01] samreid commented on #568
In the course of this issue, we added code to Gas Properties to leverage the new instrumentation for HeaterCoolerNode.  @pixelzoom would you like to review?

[2020-01-04 00:35] zepumph commented on #561
Over in https://github.com/phetsims/projectile-motion/issues/216 @jessegreenberg said:

While converting, I found that there isn't `phetioDocumentation` in TimeControlNode, so doing the conversion would cause a loss of phetioDocumentation. Let's add some! Reopening and assigning.

[2020-01-04 01:22] zepumph commented on #561
How does that look @jessegreenberg?

[2020-01-06 16:31] jessegreenberg commented on #561
Contents of the documentation looks good to me.

[2020-01-06 16:31] #561 closed

[2020-01-06 16:49] pixelzoom commented on #568
(1) HeaterCoolerNode should be `tandem: Tandem:REQUIRED`.  See (2).

(2) Why was  `GasPropertiesHeaterCoolerNode` instrumented in https://github.com/phetsims/gas-properties/commit/0cd2a6c34d1e4b874859e0e8a0c25bde86c34a7f?  It previously was not instrumented - intentionally, and for very good reasons.  Depending on the "Hold Constant" selection, the HeaterCoolerNode is either under control of the u

[2020-01-06 16:51] jessegreenberg commented on #563
Thanks for going over during dev meeting. This was motivated by neuron (https://github.com/phetsims/neuron/issues/142) which currently has a workaround. I think this can wait for phetsims/sun#515.

[2020-01-06 16:53] pixelzoom commented on #568
(1) HeaterCoolerNode should not be `tandem: Tandem:REQUIRED`.  See (2).

(2) Why was  `GasPropertiesHeaterCoolerNode` instrumented in https://github.com/phetsims/gas-properties/commit/0cd2a6c34d1e4b874859e0e8a0c25bde86c34a7f?  It previously was not instrumented - intentionally, and for very good reasons.  Depending on the "Hold Constant" selection, the HeaterCoolerNode is either under control of t

[2020-01-06 18:02] chrisklus commented on #568
Sliders are `Tandem.REQUIRED` so that the data stream is not missing user input events, so HeaterCoolerNode needs to be `Tandem.REQUIRED` as well to meet this requirement.

Before HeaterCoolerNode was instrumented, its slider was part of the list of missing required tandems from `?phetioPrintMissingTandems`, so instrumenting it reduced that list for Gas Properties. As you noticed in (3), we linked

[2020-01-06 18:14] pixelzoom commented on #568
Gas Properties instrumentation is by no means completed; it's a work in progress that has been "paused".  That said...

The Property in question is `this.heatCoolFactorProperty` in IdealGasLawModel.  It is not read-only, it is `phetioStudioControl: false`.   So unless the designers decide otherwise, `phetioReadOnly: true` should be added.  The alternative is to add some complicated `phetioDocument

[2020-01-06 18:35] chrisklus commented on #568
Oh right, thanks. Un-assigning until we hear from @arouinfar.

[2020-01-06 22:55] ariel-phet commented on #566
@pixelzoom @samreid @arouinfar

I would be fine with this node being more general. I do agree with the default design being the smaller numbers, this was a very intentional design choice to mimic the general stop watch designs seen on phones (and old digital stopwatches).

However, I agree, this form of display could be an option with option to display time in other styles (and number of decimal p

[2020-01-06 23:04] ariel-phet commented on #565
@arouinfar @pixelzoom @samreid

I agree, it would be unlikely we would use this option. Usually we choose the time to be of a pedagogically useful scale, so allowing it to run on "ad infinitum" doesn't seem particularly useful (also couldn't that potentially cause a memory leak if the sim is used in something like a museum display or such?)

Can the `maxValue` just be set arbitrarily high? It does

[2020-01-06 23:20] pixelzoom commented on #566
Other problems with `StopwatchReadoutNode`....

It uses hard-coded separators ':' and '.', making translation problematic:

[code]

It requires 2 Text nodes (`bigReadoutText` and `smallReadoutText`) and some conditional logic to implement "big" and "small" numbers.    It would be much simpler and more flexible to use a single RichText node.  For example:

[code]

... looks identical to the default

[2020-01-06 23:35] pixelzoom commented on #565
@ariel-phet asked:

`StopwatchNode` would cause no such leak, it does not use more resources over time.  A leak like that would be elsewhere in the code, unrelated to the discussion here.   Gas Properties for example could run forever without allocating more resources.

Yes, a very large `maxValue` could be chosen.  But again, why should we be limited to 2 inflexible formats for displaying time?

[2020-01-07 16:15] #537 closed

[2020-01-08 23:54] zepumph opened #570 "Add "or group" to help content descriptions when withGroupContent:true"
From https://github.com/phetsims/gravity-force-lab/issues/214#issuecomment-570013622, this will be best in common code. Basically the description currently is:

'Move to next item with Tab key.'

but if we have group content @terracoda recommends it to be:

'Move to next item or group with Tab key.'

[2020-01-09 00:46] zepumph commented on #570
@jessegreenberg  in the above commit I refactored how "or group" was added to the general help section. I like having a single string that optionally adds the "or group" substring when needed. It feels nicer the me than upwards of 4 duplicated strings with minor additions.

The main weirdness I would like to discuss is how I am manually inputing a space for the `{{space}}` templating variable. Thi

[2020-01-09 00:46] zepumph commented on #570
Marking high priority because it is blocking GFL publication.

[2020-01-09 13:16] Denz1994 commented on #553
I factored out the keys into constants in `KeyPad.js`. A few notes about the change:
- The static layouts use the constants, so the code looks more readable.
- `KeyPad.WierdLayout` wasn't refactored because the intent for that layout is for testing (according to its documentation). I thought it would make sense to leave as is since devs will most likely adjust the layout as needed.
- This was test

[2020-01-09 17:21] samreid commented on #553
The code changes look great, and I tested in scenery-phet test harness.  Nice work @Denz1994, thanks, closing.

[2020-01-09 17:21] #553 closed

[2020-01-09 22:22] jessegreenberg commented on #570
I like that this substring is factored out, but the fillIn with space does seem tricky. This kind of things seems like it could be useful for many strings. I am thinking of two alternatives, which you may have considered:
- What if the string pattern were `'Move to next {{items}} with Tab key.'` with possible values of `'item'`, `'item or group'`?
- Maybe we add a `StringUtils.stripOut` that *remo

[2020-01-09 23:30] zepumph commented on #570
Yes I agree, in general it is always possible to get rid of the trailing/leading space by duplicating some part of a string. I don't like this as a general solution though.

This feel really like the problem that we are trying to solve, as "stripOut" can be accomplished by `fillIn` if you pass it an empty string. Perhaps a `StringUtils` function could help us with stripping duplicated spaces, but

[2020-01-10 16:38] jessegreenberg commented on #570
Agreed, sounds like a StringUtils function would be more trouble than it is worth.

Since this may require changing a translatable string (`keyboardHelpDialog.orGroup`), I think it would be ideal to resolve before publication.

I think we are trading duplication for complexity in code and for translators since this requires string patterns that lack spaces which look a bit strange like
`'Move to n

[2020-01-10 17:31] zepumph commented on #570
Thanks for your recommendations. I think for this specific case I will proceed with the solution that uses a small amount of duplication, not the whole string.

Moving past this, can you recommend for a general solution? I feel like duplication will not do as a pattern to be used everywhere. Maybe that's for a different issue.

[2020-01-10 20:28] jessegreenberg commented on #570
I am not sure that a more general solution is needed here. Duplication of a few words in translated strings feels acceptable to me and a more general solution for this would involve removing spaces from strings or other things that seem problematic for i18n.

[2020-01-14 16:58] samreid commented on #548
I renamed `NotInvertibleSymbolNode` to `BanNode` and migrated it to scenery-phet. I'm also using this code in CCK-AC, you can see it when you click on a capacitor or inductor:

![image](https://user-images.githubusercontent.com/679486/72364657-199db300-36b4-11ea-9a07-51ef8b4eed54.png)

I've also written up several TODOs marked with this issue URL, which would be to discuss during the review.  @pix

[2020-01-14 22:37] zepumph commented on #447
@jessegreenberg this fell off and I think should get cleaned up. Do you have a recommendation for how to proceed with the matrix manipulation?

[2020-01-15 16:15] zepumph commented on #570
After discussing with @jessegreenberg and @jbphet, we feel like the duplication is the best way to make sure that translation is still straight forward and simple. I updated the strings relating to the `{{orGroup}}` pattern and feel good about those changes.

When double checking that `{{orGroup}}` wasn't anywhere else in the project I found https://github.com/phetsims/babel/commit/25208b69584ca4c

[2020-01-15 16:17] zepumph commented on #570
UPDATE:

I found that the about dialog on the latest version of GFLB is from last Friday:
![image](https://user-images.githubusercontent.com/6856943/72450568-0e578f80-3767-11ea-8487-932a5af385b4.png)

So perhaps GFLB is the culprit somehow.

[2020-01-15 19:07] jbphet commented on #570
Absolutely.  Common code strings are extracted from master when translating, otherwise we'd have to have a complex system of branching and merging in order to handle the translation of common strings.  This approach definitely has some down sides, and there is an issue at https://github.com/phetsims/rosetta/issues/219 about it.

The bottom line is that what you're seeing makes sense given the curr

[2020-01-15 20:59] pixelzoom commented on #548
I review the migrated code, looks fine.

Looks like the only thing that I need to comment on are these TODO items:

[code]

Wikipedia and ISO 7001 say: "The general prohibition sign (official name, according to ISO 7010[1]), also known as a no symbol, no sign, circle-backslash symbol, nay, interdictory circle or universal no, ..."    The world doesn't need yet-another variation like `ProhibitedNod

[2020-01-15 21:07] pixelzoom commented on #548
In reviewing the changes to function-builder, I noticed that the doc for `NotInvertibleSymbolNode` was changed. Important information was lost and the new doc was almost meaningless.  I'm not sure why it was necessary to touch this doc, but I've restored it in the above commit.

[2020-01-15 21:47] zepumph commented on #570
I'm quite surprised to see this, and I think @jessegreenberg will be too. Thanks for letting me know, and sorry for any trouble I caused.

- [ ] Is this something for me to do or is it best for you to do? I have no idea how I would go about doing so.

- [ ] What documentation currently exists to encapsulate this, as I feel like it is incredibly dangerous to keep things as is without at least a dis

[2020-01-15 23:29] jbphet opened #571 "Hot keys for play/pause/step"
As reported in https://github.com/phetsims/molecules-and-light/issues/262, some users of keyboard navigation and other a11y features have had some difficulties using the play/pause/step functionality.  Hot keys may be useful for this.  We have used some element-specific hot keys in other contexts, such as for moving balloons in BASE and moving the ruler in GFL, but we haven't done any global ones

[2020-01-16 18:55] jbphet commented on #570
@zepumph said, in reference to manually reverting the translations of {{orGroup}}:

I went ahead and did this, the commit should be linked above, you're welcome to take a look if you're interested.  I removed both the value and the history entry of the change.

@zepumph also said:

There is a little information about it in the Rosetta "implementation-notes" document, but not a lot.  I'm not at all

[2020-01-16 21:44] chrisklus commented on #568
From 01/16/2020 SOM design meeting:

A phet-io client would like to be able to leverage the sticky vs snappiness that HeaterCoolerNode supports. I'm going to wrap the `snapToZero` option with a BooleanProperty to accomplish this.

We'd also like to adjust this (phet-brand) option so that when it's off (and the slider stays wherever you leave it), there is still a threshold close to zero where it w

[2020-01-17 02:11] samreid commented on #548
The above changes do the following:
* Rename BanNode => BannedNode
* Change default fill to null.  I chose a simplistic way of dealing with this in function builder since there is only one occurrence of `new NotInvertibleSymbolNode`, but I thought I'd leave it up to you if you want to move the fill into the declaration of NotInvertibleSymbolNode or leave it at the call site.
* I tried layering the

[2020-01-17 17:11] pixelzoom commented on #548
Looks good, closing.

[2020-01-17 17:11] #548 closed

[2020-01-17 21:53] zepumph commented on #570
@jbphet thank you for https://github.com/phetsims/babel/commit/d670601f5a0130683818e56c01070dce40dad205.

I think that a dev meeting PSA/checkin sounds nice. I don't think that rosetta needs to change in any large way, I just feel like this is a pretty important aspect of i18n that has completely fallen through the cracks of my PhET education. I wouldn't want it to do so to others in the future. M

[2020-01-23 05:16] samreid commented on #570
I read through this issue, but was unclear on the takeaway message, aside from common code strings coming from master (which I was previously unaware of).  I'm looking forward to the PSA/checkin!

[2020-01-23 19:09] zepumph opened #572 "Delete ResetAllButtonIO"
From https://github.com/phetsims/studio/issues/35, we no longer need it, and perhaps deleting it is the best way to go. This also relates to https://github.com/phetsims/sun/issues/558

[2020-01-29 03:20] zepumph commented on #559
I moved the icon specific creators out of `KeyboardHelpSection` above.

Now the only methods in KeyboardHelpSection are:

* `labelWithIcon`
* `labelWithIconList`
* `createJumpKeyRow`
* `alignHelpSectionIcons`
* `getGrabReleaseHelpSection`

I'm ambivalent, siding slightly on the side of doing nothing, and refactoring in the future if we feel it is easier.

@jessegreenberg please review.

[2020-02-03 20:51] pixelzoom opened #573 "is ZoomButton over-instrumented?"
Related to https://github.com/phetsims/ph-scale/issues (ph-scale instrumentation).

`ZoomButton` is a common-code UI component.  Here's what it looks like in ph-scale. There are 2 of them below the linear graph in the _Macro_ screen:

<img width="407" alt="screenshot_86" src="https://user-images.githubusercontent.com/3046552/73689357-4ded0980-468b-11ea-971f-b92d1151216f.png">

Here's the Studio tr

[2020-02-03 20:53] samreid commented on #573
I agree, it seems like a symptom of the instrument everything approach, and those extraneous instrumentations should be removed.

[2020-02-03 20:54] pixelzoom commented on #573
@arouinfar or @kathy-phet if you agree, I'll proceed with removing instrumentation of the icon.

[2020-02-03 20:58] pixelzoom commented on #573
Not only is this over-instrumented, but the instrumentation is incorrect, and was probably not tested.  If I set `glassNode.visibleProperty` to `false`, it looks like the screenshot below.  Only part of the magnifying glass disappears.   Since this is not at all useful, I have to believe that it's buggy.

<img width="283" alt="screenshot_89" src="https://user-images.githubusercontent.com/3046552/7

[2020-02-03 21:04] arouinfar commented on #573
It's definitely over instrumented @pixelzoom. I see no reason why the icon would be instrumented, rather than the button as a whole.

[2020-02-03 21:48] pixelzoom commented on #573
Thanks @arouinfar.  I'll proceed which changes.

[2020-02-03 22:03] arouinfar commented on #568
I reviewed the HeaterCoolerNode in EFAC in studio with @kathy-phet, and the structure in the tree looks good to us.

Generally, we think this phetioReadOnly should be `false` by default, and it could be set to `true` in the overrides on a sim-by-sim basis (which is what we'd do in GasProps on the screen with the Hold Constant options).

Sounds good. We think a good threshold value for `snapToZero`

[2020-02-03 22:04] pixelzoom commented on #573
Changed completed, and API files update in the above commits.  Here's what the Studio tree looks like for ph-scale.  This is identical to ResetAllButton.

<img width="186" alt="screenshot_90" src="https://user-images.githubusercontent.com/3046552/73694998-78908f80-4696-11ea-89ad-3cc38884e17e.png">

[2020-02-04 18:04] pixelzoom commented on #573
@arouinfar could you please verify in [ph-scale 1.4.0-dev.5](https://phet-dev.colorado.edu/html/ph-scale/1.4.0-dev.5/phet-io/) ?

In Studio, navigate to `phScale.microScreen.view.graphNode.linearGraphNode.zoomButtonGroup.zoomInButton` and inspect the structure.  It should match what is shown in https://github.com/phetsims/scenery-phet/issues/573#issuecomment-581641191.   If all looks well, please

[2020-02-04 23:40] jessegreenberg opened #574 "Add a RewindButton to TimeControlNode?"
From https://github.com/phetsims/gravity-and-orbits/issues/294 - Sim has a RewindButton in its time controls and so they look like this.
![image](https://user-images.githubusercontent.com/6396244/73796893-83bdeb00-477c-11ea-8609-9110b45125ba.png)

Im not sure if it is worth the complexity to add to TimeControlNode. The RewindButton requires custom logic for its enabled/disabled state and so we wou

[2020-02-05 00:11] pixelzoom commented on #574
If you think RewindButton is generally useful, you could add it to TimeControlNode.  Or you could decorate a TimeControlNode and leave it to the next person who needs a RewindButton.

That said... I question how we're going about adding features to TimeControlNode.  It might be time to take as step back and attempt to design something that meets the needs of all sims, rather than continuing to bol

[2020-02-05 04:36] chrisklus commented on #568
Implemented in the above commit. @arouinfar I only added the snapping threshold when both heating and cooling are enabled, as when testing the changes, I was reminded that it was not hard to return the slider to zero when only one or the other is being used (like EFAC tea kettle). Could you review the behavior and `snapToZeroProperty` in Studio?

@pixelzoom will you review my changes? I kept the o

[2020-02-05 14:48] pixelzoom commented on #568
Yep, I can review.  But I'm going to wait until @arouinfar has verified the behavior.

[2020-02-05 14:49] terracoda commented on #574
I would agree with @pixelzoom, I was just saying to @jessegreenberg in the MAL Interactive Design doc that the Timing Controls widget could be quite complex from an interaction and description perspective as well. If we redesign this group control we should really consider its A11y representation as well.

[2020-02-05 15:07] pixelzoom opened #575 "(re)design TimeControlNode"
Over in https://github.com/phetsims/scenery-phet/issues/574, there was a proposal to add yet-another feature to TimeControlNode, in order to meet the needs of a specific sim.

In https://github.com/phetsims/scenery-phet/issues/574#issuecomment-582178503, I said:

In https://github.com/phetsims/scenery-phet/issues/574#issuecomment-582443088, @terracoda said:

[2020-02-05 15:07] jessegreenberg commented on #574
It sounds like we need to rethink this control a bit. Since we started using TimeControlNode in sims, two buttons have needed to be added to TimeControlNode, and it seems likely that more will be needed.

The review work would look something like
1) Review sims that could still use TimeControlNode and find other things that are missing.
2) Reconsider what TimeControlNode should include once we und

[2020-02-05 15:07] pixelzoom commented on #575
There a bunch of sims that are apparently not using TimeControl.  So the first step in a (re)design of TimeControlNode would be to identify all current sims that should be using it, to see what their needs are.

One obvious discrepancy is the radio button group for controlling speed.  `TimeControl` currently provides 2 buttons labeled "Slow" and "Normal", and it looks like this:

<img width="248"

[2020-02-05 15:08] pixelzoom commented on #574
Issue to (re)design TimeControlNode: https://github.com/phetsims/scenery-phet/issues/575

[2020-02-05 15:09] pixelzoom commented on #575
I'll start by assigning this to @jessegreenberg and @ariel-phet, to determine how to proceed.

[2020-02-05 15:11] jessegreenberg commented on #575
Issues related to this have come up for gravity-and-orbits (PhET-iO) and molecules-and-light (a11y). @ariel-phet and @emily-phet can we spend time on this issue now? Going through this review would save us time in the long run so I think we should do it.

[2020-02-05 15:21] jessegreenberg commented on #575
In the last few weeks two buttons have been requested for TimeControlNode, a RewindButton and a StebBackwardButton. Issues: https://github.com/phetsims/scenery-phet/issues/574 and https://github.com/phetsims/scenery-phet/issues/563

[2020-02-05 15:22] jessegreenberg commented on #574
Thanks for reviewing, we are going to collapse this into #575 so closing this issue.

[2020-02-05 15:22] #574 closed

[2020-02-05 15:27] emily-phet commented on #574
@jessegreenberg A few potential paths forward come to mind:
- Holding a couple of ad hoc design meetings at the end of status meeting in February or in March - this option potentially best if we think we can accomplish the design side of this in a few conversations, and dev work would not delay rocks for this quarter. This also may be reasonable given that we seem to be trying to follow as much as

[2020-02-05 15:28] jessegreenberg commented on #574
Thanks for reviewing @emily-phet, Im going to move your comment to #575

[2020-02-05 15:31] jessegreenberg commented on #575
In https://github.com/phetsims/scenery-phet/issues/574#issuecomment-582461714 @emily-phet said

@jessegreenberg A few potential paths forward come to mind:
- Holding a couple of ad hoc design meetings at the end of status meeting in February or in March - this option potentially best if we think we can accomplish the design side of this in a few conversations, and dev work would not delay rocks fo

[2020-02-05 15:34] emily-phet commented on #575
However TimeControlNode evolves, let's document in Binder, since it seems like we'll be developing design conventions for when certain attributes of time control are used!

[2020-02-05 15:38] jessegreenberg commented on #575
This is taking more time than anticipated but is not a huge amount of work. It would be best to do this sooner rather than later as TimeControlNode is used in more sims and we design description for the control for molecules-and-light. Reviewing usages may be the most time intensive part and can be done outside of meeting time.

[2020-02-05 15:58] emily-phet commented on #575
@jessegreenberg Can you list here the total number of sims with timer control? or are there some HTML5 sims with pause/play etc that don't use time control?

[2020-02-05 16:33] jessegreenberg commented on #575
We did a search for that in https://github.com/phetsims/scenery-phet/issues/561.

_List of sims that use TimeControlNode:_
bending-light
capacitor-lab-basics
energy-forms-and-changes
energy-forms-and-changes
energy-skate-park
gas-properties
gene-expression-essentials
gene-expression-essentials
masses-and-springs
molecules-and-light
natural-selection
neuron
projectile-motion
wave-on-a-string

_List

[2020-02-05 16:38] kathy-phet commented on #575
@emily-phet - There was another issue for unifying to TimeControlNode across simulations so all sims with play/pause are on that common code base and can leverage any work done in the common code on PhET-iO or accessibility. This lists that sims that have play/pause.
https://github.com/phetsims/scenery-phet/issues/561

Ahh -- Jesse listed that just now. Of the sims that he says "would benefit from

[2020-02-05 17:30] arouinfar commented on #568
👍

@chrisklus playing with the HeaterCoolerNodes in EFAC, we notice that a threshold of +/-5% is perhaps too small. The slider track isn't very big to begin with, so 5% isn't that much distance from zero. Could you bump up the default threshold to +/-10%? Is this something that could be changed on a sim-by-sim basis if in the future there is some sim with a giant HeaterCoolerNode?

[2020-02-05 17:46] arouinfar commented on #568
@chrisklus can you also make the heatCoolLevelProperty featured by default?

[2020-02-05 19:58] kathy-phet commented on #568
Related to this, we are not sure if "heatCoolLevelProperty" is in the common code, or in the sim? We noticed it had a different name on the second screen. So maybe it is not really possible to make it "featured by default" as part of common code? We would love some insight here.

[2020-02-05 20:21] arouinfar commented on #568
@chrisklus we'd also like to feature `snapToZeroProperty` in HeaterCoolerNode, so we're not always overriding it.

[2020-02-06 07:38] ariel-phet commented on #575
@jessegreenberg it certainly seems reasonable to me to spend time on this work in the near future, but it looks like there are some constraints, so on the time frame question I will defer to @emily-phet

As for TimeControlNode itself I would the following initial design suggestions:

1. I think we can certainly standardize to Normal and Slow (and remove Slow Motion) for simplicity and consistency

[2020-02-06 14:52] pixelzoom commented on #575
While we're adding a rewind button, should we add a fast-forward button?

[2020-02-06 17:35] chrisklus commented on #568
Updates committed above. `snapToZeroProperty` is phet-io featured and the default threshold for snapping to zero has been increased to +/-10%.

Yes, I made it into an option, though I'm not crazy about it as an option until it's actually needed. I'll let @pixelzoom weigh in here. I do like that it's documented in the options block instead of a random constant in the middle of the file.

Right, the

[2020-02-06 18:16] arouinfar commented on #575
I generally agree with @ariel-phet's https://github.com/phetsims/scenery-phet/issues/575#issuecomment-582775698

"Fast Forward" currently exists in Gravity and Orbits & Neuron. I would agree that this could be simplified to "Fast", but we're currently arranging the radio options in decreasing order of playback speed which seems more natural to me.
![image](https://user-images.githubusercontent.com

[2020-02-07 04:59] pixelzoom commented on #575
"Fast Forward" is not a sim speed, it's an action when moving through a timeline, recorded data, etc.

That sounds great to me.  But that apparently wasn't the case for design in phetsims/gravity-and-orbits#294 .

[2020-02-07 05:34] pixelzoom commented on #568
`snapToZeroThreshold` seems fine as an option, and you did a nice job of documenting it in HeaterCoolerFront.

[2020-02-07 05:36] pixelzoom commented on #568
@chrisklus Assuming that this is now ready for review, can you please summarize what needs to be reviewed?  There's a lot of stuff in this issue...

[2020-02-07 05:37] pixelzoom commented on #568
@chrisklus Assuming that this is now ready for review, can you please summarize what needs to be reviewed?  Or point me to the relevant comments and commits? There's a lot of stuff in this issue...

[2020-02-07 16:40] chrisklus commented on #568
Indeed - just the addition/usages of `snapToZeroProperty` and `options.snapToZeroThreshold`. Relevant code is in https://github.com/phetsims/scenery-phet/commit/f1ea483614bf28d696002dba9b08956f8bd564ee and https://github.com/phetsims/scenery-phet/commit/f16939149ccce7bc761771a6acd48df1b282b564. Thanks!

[2020-02-07 17:21] chrisklus opened #576 "Align NumberControl tweaker buttons with track bottom"
https://github.com/phetsims/wave-interference/issues/433#issuecomment-583096399:

[2020-02-07 20:09] arouinfar opened #577 "TimeControlNode phetioFeatured defaults"
Somewhat related to #575

TimeControlNode appears in many sims, but the decisions around phetioFeatured are unlikely to change sim-by-sim. It would be nice if the top-level enabledProperty and visibleProperty could be phetioFeatured by default.

However, speaking with @chrisklus, it's not entirely clear if the enabledProperty could/should be featured within TimeControlNode itself. A sim can pass i

[2020-02-07 20:10] arouinfar commented on #573
Looks wonderful @pixelzoom

[2020-02-07 20:10] #573 closed

[2020-02-10 20:22] pixelzoom commented on #575
Yet-another design, from Normal Modes (see https://github.com/phetsims/normal-modes/issues/42).    It's not clear whether the slider is necessary here or could be replaced with radio buttons.

<img width="232" alt="screenshot_111" src="https://user-images.githubusercontent.com/3046552/74186770-6ec3da80-4c08-11ea-9f6c-8be8fe9eac46.png">

[2020-02-10 20:30] arouinfar commented on #575
@pixelzoom we do not use sliders for sim speed in HTML5 sims. It will be replaced with radio buttons.

[2020-02-11 01:06] pixelzoom commented on #568
I reviewed those options and related commits, looks nice.  Since `snapToZeroThreshold` is presumably a value between 0 and 1, I would add an assert to verify immediate after the `merge` call.  I'm also not entirely clear on whether 0 or 1 would have any special constraints/behavior, so that might be worth mentioning.  I'm guessing that 1 always snaps, and 0 behaves the same as `snapToZero: false`.

[2020-02-12 16:44] jonathanolson commented on #575
Using centralized common code for general time controls for simulations (and gaining consistency when possible) sounds great to me.

[2020-02-12 17:15] Denz1994 commented on #575
As a part of item 2 in https://github.com/phetsims/scenery-phet/issues/575#issuecomment-582453559

We should consider flexibility for layouts to accommodate the various sims cases above, similar to how layout functions are handled by `NumberControl.options.layoutFunction`. This is in line with standardizing how we organize the main components of `TimeControlNode.

[2020-02-12 17:25] pixelzoom commented on #575
@Denz1994 said:

I don't think that degree of flexibility is needed here, and is in fact undesirable - it has been a continual source of cost/complication for `NumberControl`. It would preferable to have a standard layout, unless there's a very compelling reason not to do so.  That said...  The order of the buttons is "industry standard", so I don't think we need the flexiblilty to reorder the but

[2020-02-12 17:59] Denz1994 commented on #496
Picking back up on this issue. I made a minor doc update for option type expressions. `getPlayPauseButtonCenter` isn't being used anywhere but it may prove valuable to keep the positioning flexible as noted in its documentation.

There is a `tandem: TANDEM.REQUIRED` as the default for the options object in `TimeControlNode`. My inclination was to make the `options` a `config` object because the `t

[2020-02-12 20:51] pixelzoom commented on #496
It would be good to check in with the PhET-iO team (@samreid @zepumph @chrisklus).  But, no I don't think we need to change `options` to `config` just because the default is `tandem: Tandem.REQUIRED`.   Imo that's an acceptable exception to our rules for options vs config.

[2020-02-12 21:23] samreid commented on #575
I agree that we should begin by favoring consistency/simplicity over flexibility.

It seems the best user experience would be to put Normal between Slow and Fast.  To me it seems most natural that speed increases as you move down the list:

* Slow
* Normal
* Fast

[2020-02-13 00:47] pixelzoom commented on #575
Re, the radio buttons, here's a suggestion....

Create an enumeration for the possible speeds:

`const TimeControlSpeeds = Enumeration.byKeys( [ 'FAST', 'NORMAL', 'SLOW' )`

Then in TimeControlNode:

[code]

This would handle all possible combinations of 'Fast', 'Normal', 'Slow', and 'no radio buttons'.  It would also make it easy to add additional speeds, if they are needed in the future.

[2020-02-13 01:56] chrisklus commented on #496
Agreed since it's not required for phet-brand sims using TimeControlNode

[2020-02-13 14:30] emily-phet commented on #575
My takeaways from the above thread, to help with discussion later today.
- Buttons: Play/Pause/Step Forward (most common set), Rewind (GAO & Neuron only), Step Backward (consideration), Fast Forward (consideration)
- Speed Radio Buttons: Open questions around labels and standard order, and supporting flexibility of location. What about supporting flexibility of presence/absence of which radio butt

[2020-02-13 17:58] jonathanolson commented on #570
Clarification of the PSA would be good. I know I'm very hesitant to delete strings anywhere, but I forget the exact reasons.

[2020-02-13 21:21] kathy-phet commented on #576
Before work on this begins, we need to talk because it is not optimal for Density or CCK.
![image](https://user-images.githubusercontent.com/5096804/74479273-1b51c680-4e6c-11ea-99f0-07fc7d50f6a2.png)

[2020-02-13 23:12] jessegreenberg commented on #575
From discussion today:

The collection of buttons will include StepBackwardButton, PlayPauseStepButton, and StepForwardButton. The radio buttons will be optionally included and could include combinations of "Fast", "Normal" and "Slow" radio buttons. (https://github.com/phetsims/scenery-phet/issues/575#issuecomment-585492444 looks like a good way to do this). It is important to support different ho

[2020-02-18 00:25] zepumph commented on #577
This is the same sort of behavior as we have to Checkboxes and Sliders. What we have done elsewhere, if you want the enabledProperty featured, is to assert that if you pass in your own, that it then best be featured (if you know what's good for you).  Would you like us to do that for this here too?

[2020-02-18 02:31] arouinfar commented on #577
Thanks @zepumph. This sounds like a common pattern, so yes, let's do the same for TimeControlNode.

[2020-02-18 02:52] chrisklus commented on #568
Nice, thanks. Added above.

Right - I added a comment to explain those cases. Note that 0 behaves the same as the *former* `snapToZero: false` state because this option is used only when `snapToZero` is `false`. Let me know if that isn't clear enough in the docs.

[2020-02-18 19:55] pixelzoom commented on #568
👍 closing.

[2020-02-19 17:12] #496 closed

[2020-02-20 20:41] samreid opened #578 "Should StepButton use the StepForwardButton sound?"
From today's Waves Intro design meeting: Should StepButton use the StepForwardButton sound?  It seemed preferable and @jbphet suspects that StepButton is just using the default button sound.

[2020-02-21 00:49] jessegreenberg commented on #575
Proposal for changes was made in the above commit to a branch timeControlNodeWIP. This includes pretty large API changes so it would be really helpful to get another developer to review before this is used in sims.

Summary of changes:
 - Added `TimeControlSpeeds` Enumeration to define the supported speeds of TimeControlNode.
   - Added option `timeControlSpeeds` to specify speeds for a given Time

[2020-02-21 00:51] jessegreenberg commented on #575
@ariel-phet can you please assign a developer to review?

[2020-02-24 21:04] pixelzoom commented on #470
This didn't get assigned back to me in March 2019, so it fell through the crack. I don't see anything else to do here.  So closing.

[2020-02-24 21:04] #470 closed

[2020-02-24 23:15] pixelzoom opened #579 "HeaterCoolerNode passes the same tandem to 2 Nodes"
Encountered while instrumenting Gas Properties in https://github.com/phetsims/gas-properties/issues/147.

There's a bug in PhET-iO instrumentation of HeaterCoolerNode.

Here's the relevant code in HeaterCoolerNode.js:

[code]

`options.tandem` is being passed to both `new HeaterCoolerFront` and `super.mutate`.

For http://localhost/~cmalley/GitHub/studio/?sim=gas-properties&phetioValidateTandems&p

[2020-02-25 03:37] ariel-phet commented on #575
@jessegreenberg considering the list of sims that use this node and those that could benefit from it, @jbphet seems like a good candidate to review.

My impression was that moving this work forward was a higher priority for @emily-phet so I will defer the priority of the review to her.

[2020-02-28 18:49] jessegreenberg opened #580 "Create a reusable GridNode"
From https://github.com/phetsims/energy-skate-park/issues/205. There are many sims that have very similar grids, each with similar implementations. It would be beneficial to have something for common code for this.

[2020-02-28 22:01] jessegreenberg commented on #580
Most of the grids look very similar, they have major (thick) lines and minor (thin) lines.

charges-and-fields:
![image](https://user-images.githubusercontent.com/6396244/75589997-4cc0b980-5a4a-11ea-9c71-27d4a5f226cd.png)

collision-lab:
![image](https://user-images.githubusercontent.com/6396244/75590041-6e21a580-5a4a-11ea-8a60-193a05f59f04.png)

equality-explorer: (for debugging)
![image](https:/

[2020-03-02 21:13] emily-phet commented on #575
@jessegreenberg Up to you - please incorporate this in as it makes sense in the flow of MAL progress.

[2020-03-03 19:43] pixelzoom commented on #579
I'm going to assign this to @chrisklus too, since he recently did work on HeaterCoolerNode.

Thoughts on how we should address this issue?  Some options that come to mind:

(a) Pass `options.tandem` to `HeaterCoolerFront`, don't propagate `options.tandem` to `HeaterCoolerFront ` super.   This would make `HeaterCoolerFront` children look like children of `HeaterCoolerNode` in the tandem hierarchy.

[2020-03-03 19:54] pixelzoom commented on #579
I went with option (a).

Here's how it's handled in `HeaterCoolerFront`:

[code]

Here's how it looks in Studio for gas-properties:

<img width="228" alt="screenshot_163" src="https://user-images.githubusercontent.com/3046552/75813571-6f561980-5d4d-11ea-9d73-33d3781342ac.png">

@samreid or @chrisklus please review in master.

[2020-03-04 23:29] pixelzoom opened #581 "Artifact on play/pause button"
In dev meeting agenda for 3/5/2020, @jbphet said:

Do you mean `PlayPauseButton`?  I can't reproduce. Please provide an example.

[2020-03-04 23:46] jbphet commented on #581
From SOM, this is the version on master as displayed in Chrome on my main, high resolution display.  Note the light portion on the lower right where the shadow should end.

![image](https://user-images.githubusercontent.com/3082831/75933025-229a3d80-5e36-11ea-9c28-33fac0a40af7.png)

This is from the same version of the sim as seen on my low-rez auxiliary monitor.  The light portion on the lower ri

[2020-03-05 03:47] samreid commented on #579
@chrisklus can you please review this?  It has usage in Energy Forms and Changes and you are probably more familiar with HeaterCoolerNode than I.

[2020-03-05 19:34] pixelzoom commented on #581
3/5/20 dev meeting:
@jessegreenberg volunteered to look at this, since he recently added `scaleFactorWhenPaused.`

[2020-03-05 23:22] chrisklus commented on #579
Thanks for finding and addressing this @pixelzoom, and sorry for the delay.

Nice idea! The current fix doesn't work for cases that use HeaterCoolerFront and HeaterCoolerBack separately because HeaterCoolerFront doesn't get its NodeIO Properties in Studio. But I just moved your pattern to HeaterCoolerNode instead of HeaterCoolerFront, and both types of usages appear to be correct. HeaterCoolerFron

[2020-03-06 00:35] pixelzoom commented on #579
Reviewed with @chrisklus on Zoom.  Looking good! Closing.

[2020-03-06 00:35] #579 closed

[2020-03-09 18:07] jessegreenberg commented on #581
I am seeing this in rutherford-scattering 1.0.0 from 08/2016.

![image](https://user-images.githubusercontent.com/6396244/76243392-a1182600-620e-11ea-9c71-b2ade10cf358.png)

But I confirmed that I am not seeing this in states-of-matter 1.1.0 from 10/2018.

[2020-03-09 18:19] jessegreenberg commented on #581
I am not seeing this on the PlayPauseButton in https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.1/phet/states-of-matter_en_phet.html (01/2020) in states-of-matter. But I am seeing it on the ResetAllButton in that same version.

![image](https://user-images.githubusercontent.com/6396244/76244691-f1908300-6210-11ea-80eb-5748f5cadbf3.png)

[2020-03-09 21:37] jessegreenberg commented on #581
After digging further I have determined that the shading on master is actually how it has always been by default. What we are seeing is just the default stroke around the button. The reason that the buttons in SOM used to look different is because they had a custom black stroke that could not be seen on the black background of that sim. This stroke was removed in https://github.com/phetsims/states

[2020-03-09 23:10] jessegreenberg commented on #575
Sounds good. @jbphet could you please review the proposal in https://github.com/phetsims/scenery-phet/commit/6e547916d26847f0183e8c9733c7c8303016a2a2 before I apply to master and change the API? This diff is prior to es6 modules change, sorry.

[2020-03-10 01:27] samreid commented on #575
This would also be good to do in the next few days so it can be incorporated in the next version of Gravity and Orbits.  Let me know if @jbphet doesn't have time to get to it soon and I can take a look.

[2020-03-10 15:30] jbphet commented on #581
Sounds good, thanks for the investigation @jessegreenberg.  I think I'll improve the look in States of Matter and leave it at that.

[2020-03-10 22:14] jbphet commented on #575
Overall it looks good and it will be nice to have a solid common-code component for this.

I wasn't sure whether to review master and/or the branch, so I ended up doing both.  There are REVIEW comments on both, thought I think several of the ones on master have been addressed in the branch.

Also, for the master version (I couldn't easily test this on the branch) it looks like the radio buttons ge

[2020-03-10 22:25] pixelzoom commented on #575
Indeed, `maxWidth` should not be set on radio buttons. It should be set on their labels.   The specific problem in this case is at line 164:

[code]

`maxWidth` should not be set here. It should be set in the options for `normalText` and `slowText`.   If 150 is indeed the limit, then you'll want to reduce that by `radioButtonOptions.xSpacing + ( 2 * radioButtonOptions.radius )`.

[2020-03-10 22:27] pixelzoom commented on #575
This also appears to be a problem:

`157        radius: normalText.height / 2.2`

I believe that the PhET standard is to make radio buttons the same height as their labels, not slightly smaller.

[2020-03-10 22:41] jbphet commented on #578
I went ahead and moved the step-forward sound into the `StepButton` type, since it does indeed seem like a better default value than the stock push button sound.  Seems like an improvement.  Closing.

[2020-03-10 22:41] #578 closed

[2020-03-12 22:12] jessegreenberg commented on #575
https://github.com/phetsims/models-of-the-hydrogen-atom/issues/20 is another issue that needs this, bumping to top priority for me.

[2020-03-12 22:13] pixelzoom opened #582 "branch: timeControlNodeWIP"
@jessegreenberg is this the branch that you're using for #575?

[2020-03-12 22:14] jessegreenberg commented on #582
Correct, thanks for the issue.

[2020-03-12 22:42] pixelzoom commented on #575
@jessegreenberg Definitely not high-priority for phetsims/models-of-the-hydrogen-atom#20.

[2020-03-13 01:27] pixelzoom opened #583 "TODO in BorderAlertsDescriber.js"
For https://github.com/phetsims/tasks/issues/1017.

TODO added by @zepumph in BorderAlertsDescriber.js:

[code]

[2020-03-13 01:28] pixelzoom commented on #421
Reopening.  This TODO by @samreid has not been addressed:

[code]

[2020-03-13 01:30] pixelzoom opened #584 "TODO in UpDownSpinner.js"
For https://github.com/phetsims/tasks/issues/1017.

TODO by @samreid in UpDownSpinner.js:

[code]

[2020-03-13 01:32] pixelzoom opened #585 "TODOs in ThermometerNode.js"
For https://github.com/phetsims/tasks/issues/1017

TODOs by @samreid in ThermometerNode.js:

[code]

[2020-03-13 01:39] pixelzoom opened #586 "bad assertion in OutsideBackgroundNode.js"
For phetsims/tasks#1017

In OutsideBackgroundNode.js:

[code]

I added this TODO and commented out the assertion to fix a lint error.  The lint error was introduced in https://github.com/phetsims/scenery-phet/commit/1261880ef3522c750f0138b5c5571468313e641f by @jbphet.

[2020-03-13 01:40] pixelzoom commented on #586
Since the option that was involved in the assertion expression no longer exists, I'm guessing that the assertion can simply be deleted.    So that's what I've done in the above commit.  @jbphet please review, since I'm not familiar with this Node.

[2020-03-13 01:46] pixelzoom opened #587 "TODOs in NextPreviousNavigationNode.js"
For phetsims/tasks#1017.

TODOs in NextPreviousNavigationNode.js by @jonathanolson in https://github.com/phetsims/scenery-phet/commit/c3032ea778051385329655dc1ccda0886ec83af3:

[code]

[2020-03-13 17:39] samreid commented on #421
The TODO was introduced in https://github.com/phetsims/scenery-phet/commit/79db8d49e51cd547e555431821d4af2ebacd9346, reassigning accordingly.

[2020-03-13 18:34] jbphet commented on #586
Looks good to me, closing.

[2020-03-13 18:34] #586 closed

[2020-03-14 22:52] samreid commented on #585
TODO created in 1fb52300c084134bedc45015b2629e372a35384b by @pixelzoom, reassigning.

[2020-03-14 23:37] pixelzoom commented on #585
One was indeed added by me in https://github.com/phetsims/scenery-phet/commit/1fb52300c084134bedc45015b2629e372a35384b. Looks like the other were added by me in https://github.com/phetsims/scenery-phet/commit/9ec5a6a89680e9bc6d06b334834f1e7a595b5bf7.  All related to reviewing the previous developers' implementation.

[2020-03-14 23:58] pixelzoom commented on #585
TODOs have been addressed. Closing.

[2020-03-14 23:58] #585 closed

[2020-03-16 22:54] zepumph commented on #572
Done above. @chrisklus please review. As a reminder this was no longer needed because of our new logic in the ResetAllButton (moved/refactored from studio originally which used ResetAllButtonIO).

[2020-03-17 02:26] pixelzoom opened #588 "add API to NumberDisplay for setting Text/RichText subcomponent options"
For https://github.com/phetsims/ph-scale/issues/144, I need to be able to set the `textProperty` of the Text/RichTexst subcomponent of NumberDisplay to `phetioHighFrequency: true`.  There is currently no API for this.

[2020-03-17 02:29] pixelzoom commented on #588
I added `options.textOptions` in the above commit.  This is now being used in ph-scale.

@ariel-phet please assign someone to review.

[2020-03-17 16:46] jessegreenberg commented on #575
Thanks for reviewing @jbphet. The above commits address your review comments, merge changes with master, update usages in sims after API changes.

I also addressed the i18n review comments in https://github.com/phetsims/scenery-phet/issues/575#issuecomment-597346071 and https://github.com/phetsims/scenery-phet/issues/575#issuecomment-597350889. I moved a default `maxWidth` to the radio button labe

[2020-03-17 16:47] jessegreenberg commented on #575
I forgot that one more item for this is to rename RewindButton to RestartButton, I will do that now.

[2020-03-17 16:54] pixelzoom commented on #575
This is not correct.  PhET radio buttons and checkboxes are supposed to have the same height as their _non-scaled_ labels.  Radio buttons and checkboxes are not supposed to scale - only their text labels are supposed to scale.

[2020-03-17 16:58] pixelzoom commented on #575
Demonstration of incorrect use of `maxWidth` in published version of Acid-Base Solutions:

<img width="362" alt="screenshot_199" src="https://user-images.githubusercontent.com/3046552/76881021-27032500-683e-11ea-8649-95ebe90c71bf.png">

Demonstration of correct use of _maxWidth_ in master:

<img width="343" alt="screenshot_198" src="https://user-images.githubusercontent.com/3046552/76881052-325650

[2020-03-17 22:33] jessegreenberg commented on #575
Over slack @pixelzoom recommended that to accomplish https://github.com/phetsims/scenery-phet/issues/575#issuecomment-600181929 (radio button height matches label Node height before i18n scaling) to use a test Text, like

[code]

That was done in https://github.com/phetsims/scenery-phet/commit/dc419ed9003d857c725ffa5ddea8cfe6cfa9d290

[2020-03-17 22:38] jessegreenberg commented on #575
OK, that completes review work. @jbphet would you like to spot check changes or is there anything else to do for this issue?

[2020-03-18 18:48] jbphet commented on #575
I did a quick look through the file and tested the strings in SOM, and it looks fine to me.  Let's call it good, at least for now.  Closing.

[2020-03-18 22:38] Denz1994 commented on #588
Some of`textOptions` fields (font, fill, etc.) are overwritten by options supplied in `NumberDisplay.valueNode`. This shouldn't be a problem because the overwritten options are defined and merged at the top of the constructor and will be supplied when `NumberDisplay` is constructed.

I'll leave to @pixelzoom to close.

[2020-03-19 02:06] samreid commented on #575
Some improvements being made as part of https://github.com/phetsims/gravity-and-orbits/issues/294

[2020-03-19 03:27] pixelzoom commented on #588
Good catch @Denz1994.  Those options should be moved into `textOptions`.  I'll take care of it.

[2020-03-19 03:33] pixelzoom commented on #588
Note to self, here's what needs to be done:

- [ ] move `options.font` to `options.textOptions.font`
- [ ] move `options.numberFill` to `options.textOptions.fill`
- [ ] move `options.numberMaxWidth` to `options.textOptions.maxWidth`
- [ ] identify all uses of the above 3 options and fix use sites (easily the most expensive, tedious part of this change - there are 28 occurrences of `import NumberDi

[2020-03-19 03:52] chrisklus commented on #572
Looks great, thanks! I still see a couple usages in cck but it seems like those files maybe aren't supposed to exist anyway (cck-ac is not is testable-phet-io and doesn't have phet-io options in phetmarks).

Back to you @zepumph.

[2020-03-19 05:15] arouinfar commented on #577
@samreid took care of this in https://github.com/phetsims/scenery-phet/commit/bd61227693afaf93a4d58e3b6f7de235f52a85e2

I reviewed this in the context of https://github.com/phetsims/gravity-and-orbits/issues/294 and it looks good. Anything else for this issue @samreid?

[2020-03-19 13:46] samreid commented on #577
Thanks @arouinfar, @chrisklus or @zepumph can you please review the implementation?

[2020-03-19 16:31] zepumph commented on #572
Thanks! I discussed with @samreid and we decided to delete those files. Closing

[2020-03-19 16:31] #572 closed

[2020-03-19 19:18] pixelzoom commented on #588
I've implemented what is described in https://github.com/phetsims/scenery-phet/issues/588#issuecomment-600969700.  A large numbers of use sites needed to be changed.  To identify use sites, catch any that I might have missed, I added these assertions in NumberDisplay:

[code]

These assertions will be removed after CT passes.

[2020-03-19 22:12] pixelzoom commented on #588
This is looking good in CT, so I've removed the aforementioned assertions in the above commit.

@Denz1994 would you mind having another look?  List of what I did is in https://github.com/phetsims/scenery-phet/issues/588#issuecomment-600969700.

[2020-03-19 22:17] chrisklus commented on #577
Looks good to me! And looks like this was already reviewed by @zepumph in https://github.com/phetsims/sun/issues/564, too.

[2020-03-20 19:26] pixelzoom commented on #575
Reopening.  @jessegreenberg I still see branch 'timeControlNodeWIP'.  Has that been merged to master? If so, can it be deleted and its associated issue closed?

[2020-03-22 23:13] zepumph opened #589 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-23 19:54] jessegreenberg commented on #575
Thanks, branch was merged and has now been deleted. #582 can be closed as well.

[2020-03-23 19:54] jessegreenberg commented on #582
This branch was merged into master and has now been deleted.

[2020-03-23 20:47] pixelzoom commented on #575
Reopening.

Over in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/20, I converted MOTHA to use TimeControlNode.   There a couple of improvements that I'd like to recommend, name changes.

I ended up with these options for MOTHA:

[code]

In the model,  the Property for time speed would typically be named `timeSpeedProperty`, not `timeControlSpeedProperty`, like this:

[code]

It i

[2020-03-23 20:50] pixelzoom commented on #575
Ah... Maybe you're thinking of "time control" as the model and TimeControlNode as a view of that model?   If that's the case, maybe get a second opinion.

[2020-03-24 19:43] zepumph commented on #589
Implemented above. This was an extensive one because there were so many strings.

I ended up refactoring by nesting under component as much as possible. My thought there is to try to keep usages in different contexts from using the same string. For example (made up) resetAllButton and slider shouldn't both pull in a string called "reset" because likely that wouldn't translate equally in all langua

[2020-03-24 21:11] zepumph opened #590 "labelInnerContent should be a required arg to `labelWithIcon`"
While working on #589, I found it strange and tricky that `KeyboardHelpSection.labelWithIcon` allowed `labelInnerContent` to be optional. I would rather that be required. Note that `labelWithIconList` is already set up this way.  I will fix this and then test.

[2020-03-24 21:20] zepumph opened #591 "Add a keyboard help dialog to scenery-phet demo."
while working on #589, I found it would be nice if all keyboard help sections defined in scenery-phet were added to the scenery-phet demo. This would have helped for that issue's testing instead of finding all the sims that use each section. It will also help me test changes over in #590, so I will do this now.

[2020-03-24 21:57] zepumph commented on #591
Implemented above. Closing

[2020-03-24 21:57] #591 closed

[2020-03-24 22:03] zepumph commented on #590
@jessegreenberg will you please review.

[2020-03-25 13:49] Denz1994 commented on #588
Thanks for the changes @pixelzoom. I tested by passing in some text options to ComponentScreenView/NumberDisplay object in Scenery-Phet that looked something like this:

[code]
The `textOptions` passed into new NumberDisplay override options in numberDisplayOptions as expected. I'll leave to @pixelzoom to close.

[2020-03-25 13:53] pixelzoom commented on #588
Thanks @Denz1994. All done here, closing.

[2020-03-25 13:53] #588 closed

[2020-03-27 13:30] terracoda opened #592 "Add option to disable PlayPauseButton in TimeControlNode"
Related to https://github.com/phetsims/scenery-phet/issues/575 and https://github.com/phetsims/molecules-and-light/issues/319

Based on interviews for MAL with blind learners and learners without visual impairments we feel an option to disable the Pause/Play button when the Light Source is switched off would be very beneficial.

@jessegreenberg please add any additional details.

[2020-03-27 15:44] jessegreenberg commented on #592
Before making this change to common code it would be good to make sure we want to do this. There were a few questions about how this would impact UX in molecules and light, I made https://github.com/phetsims/molecules-and-light/issues/320 to discuss.

[2020-03-27 16:22] jessegreenberg commented on #590
I don't recall why this was ever optional, I agree it should be required. Change looks good, thanks.

[2020-03-27 16:22] #590 closed

[2020-03-27 17:42] jessegreenberg commented on #589
This looks great, thanks @zepumph. I just added nesting in two places in the above commits. Closing.

[2020-03-27 17:42] #589 closed

[2020-03-30 22:34] lmulhall-phet opened #593 "problems with FaucetNode "tap" feature"
@pixelzoom EDIT:  This issue was originally reported in ph-scale, during dev testing.  It was determined to be a general problem in SCENERY_PHET/FaucetNode, so this issue was transferred to scenery-phet repo.

---

**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Google Chrome 80.0.3987.149

**Problem Description**

For https://github.com/phetsims/QA/issues/487. If y

[2020-03-31 17:33] pixelzoom commented on #593
I've transferred this issue to scenery-phet.  And I've created https://github.com/phetsims/ph-scale/issues/157 (deferred) for tracking in ph-scale.

Assigning to @ariel-phet to prioritize and assign this issue.

[2020-03-31 17:35] Matthew-Moore240 commented on #571
YouTube: k | Pause/Play in player.

Twitch: It says space bar is the hotkey but I tested K and it works so I assume that its an HTML 5 thing.

[2020-03-31 17:39] pixelzoom commented on #592
Do you need to disable the Play/Pause button individually, or should the entire TimeControlNode be disabled?  For example, if there's also a Step button, would it not also be disabled when the Light Source is switched off?

[2020-03-31 17:43] pixelzoom commented on #592
Do you need to disable the PlayPauseButton individually, or should the entire TimeControlNode be disabled?  For example, if the TimeControlNode was configured to have a Step button, wouldn't the Step button also be disabled when the Light Source is switched off?

If you do need to disable the PlayPauseButton individually, that's already supported by sun.  But then do we need to also support disabl

[2020-03-31 20:17] jessegreenberg commented on #592
I agree with all of the above.

We discussed this during design meeting today and decided that this should not be done for MAL in https://github.com/phetsims/molecules-and-light/issues/320. So this issue can be closed, we are not going to add this feature.

[2020-03-31 20:17] #592 closed

[2020-04-02 01:49] pixelzoom commented on #588
I have not reviewed the code, because things are not looking right.

Here's Gas Properties 1.0.4 before the change:

<img width="1060" alt="screenshot_238" src="https://user-images.githubusercontent.com/3046552/78202323-3f378e80-7451-11ea-82ae-0b8490069b11.png">

Here's what master looks like:

<img width="1057" alt="screenshot_237" src="https://user-images.githubusercontent.com/3046552/78202263-1

[2020-04-02 19:37] chrisklus commented on #570
From dev meeting 4/4/20:

We talked about this as a PSA that both keys and values of common code strings is dangerous. Marking as high priority so we can discuss more next dev meeting since this one is ending now!

[2020-04-03 17:32] samreid opened #594 "Should a TimeControlNode play/pause button have the same size as a default ResetAllButton?"
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/572, it seemed they were off by about 4%

[2020-04-03 21:41] arouinfar commented on #594
@samreid that seems like a reasonable change to me. I doubt increasing the button size by 4% will cause layout issues in existing sims, since that likely amounts to 1-2 px.

What are the current default sizes of the PlayPauseButton, StepForwardButton, and ResetAllButton? Designers use a common .ai file for buttons and other common components when we create mockups, and I'd like to update the file.

[2020-04-04 00:42] arouinfar opened #595 "GaugeNode is over-instrumented"
When reviewing States of Matter in https://github.com/phetsims/states-of-matter/issues/265, @kathy-phet and I noticed that the foregroundNode of the gaugeNode is instrumented.

<img width="165" alt="Screen Shot 2020-04-03 at 6 33 58 PM" src="https://user-images.githubusercontent.com/8419308/78414539-bac44780-75d9-11ea-925b-6287a61fb2ea.png">

Setting its visibleProperty to false results in the fac

[2020-04-04 18:45] chrisklus commented on #595
Completed in above commits. @zepumph or @samreid please review.

[2020-04-05 18:27] samreid commented on #595
Higher priority since it impacts the upcoming publication of States of Matter.

[2020-04-06 04:19] samreid commented on #595
I reviewed the commit and tested States of Matter in studio, and it seems reasonable to me, thanks @chrisklus!

[2020-04-06 04:19] #595 closed

[2020-04-07 14:21] samreid opened #596 "TimeControlNode speed radio buttons should have the suffix "RadioButton"."
For instance, the fast radio button has this phetioID:

gravityAndOrbits.modelScreen.view.timeControlNode.speedRadioButtonGroup.fast

It is preferable for PhET-iO to indicate the type in the suffix, as we do for Properties.  For instance, in this should become:

gravityAndOrbits.modelScreen.view.timeControlNode.speedRadioButtonGroup.fastRadioButton

After making this change in `TimeControlNode`, w

[2020-04-08 01:53] ariel-phet commented on #593
@lmulhall-phet @arouinfar @pixelzoom

@lmulhall-phet certainly a nice find an attention to detail!

I am actually going to go ahead and close this issue:

1. The "tap" feature was intended to do teach the user that the faucet plunger could be used to dispense liquid. In early interviews, we saw people tapping on this control point, nothing happening and getting confused. So the amount dispensed is

[2020-04-08 01:53] #593 closed

[2020-04-08 15:20] jessegreenberg commented on #596
Thanks @samreid, sounds good. Type suffix was added to Tandem names and api files re-generated.

[2020-04-09 17:45] pixelzoom commented on #596
I was poking around in a sim that uses this feature, and it looks great to me (see below).  So I'm going to go ahead and close this.

<img width="210" alt="screenshot_248" src="https://user-images.githubusercontent.com/3046552/78924815-a8be2b00-7a57-11ea-9825-ec059b27f531.png">

[2020-04-09 17:45] #596 closed

[2020-04-09 18:24] jonathanolson commented on #570
Dev meeting decision: @jbphet will add documentation about this to Rosetta.

[2020-04-09 19:49] pixelzoom opened #597 "add options.tandem to ColorProfile"
Related to today's discussion about Options dialog in phet-io meeting...

`ColorProfile` currently set its tandem to "global.colorProfile", and there's no way to change it. That makes it impossibel for a sim to create > 1 ColorProfile, or to locate a ColorProfiel where it needs to live in the tandem hierarchy.  So ColorProfile should be modified to take options.tandem, just like other elements.

T

[2020-04-09 23:13] pixelzoom commented on #597
@ariel-phet I went ahead and did this, took ~15 minutes.

@arouinfar All that's left is to decide what you want for the default tandem name. It's currently `global.colorProfile.profileNameProperty`.

[2020-04-10 16:19] jbphet commented on #570
I'm removing the high-priority label.  I think it was marked as such for the dev meeting.

[2020-04-14 17:14] jessegreenberg commented on #571
Assigning to myself to explore feasibility of this. In general, global hot keys are not compatible with screen reading software, but we would like to revisit this. It is possible that using a modifier key or something like that would make this more possible.

[2020-04-15 00:35] pixelzoom opened #598 "MoveToTrashButton has odd disabled behavior"
Noticed in https://github.com/phetsims/sun/issues/578, the issue were SunConstants.DISABLE_OPACITY was adjusted.

`MoveToTrashButton` was one of the UI components adjusted, and it looks at little suspect.

First, there's a bogus comment - "by default the arrow is color-coded for thermal energy":

[code]

`arrowColor` is clearly `'black'`, and the comment is 3 lines above it. So I'll go ahead and f

[2020-04-15 00:45] zepumph commented on #421
I thought that I had to monitor the parent for changes, but I could not reproduce a case where that was needed. Here is my exploration patch. Each time the grabDragCueNode was exactly where I expected it to be.

I think I will close this issue and remove the TODO. If in the future we find a case where this cue translation is buggy (which hasn't happened in the last year and a half), I will know wh

[2020-04-15 00:48] pixelzoom commented on #598
Another reason to change this to behave like other buttons is that this button will become a liability when sun buttons eventually use the `EnabledComponent` mixin.

[2020-04-15 00:50] pixelzoom commented on #598
More thoughts...

I don't see why it's necessary to change this specific button's icon to grayscale when it's disabled.  If that desirable here, why isn't it desirable in general for all buttons, or for anything that's disabled?

Another reason to change this to behave like other buttons is that this implementation will become a liability when sun buttons eventually use the `EnabledComponent` mixi

[2020-04-15 02:49] arouinfar commented on #598
Thanks for bringing this to our attention @pixelzoom. I see no reason why the `MoveToTrashButton` should behave differently from other push buttons when disabled. I would be in favor of using RectangularPushButton's disabled behavior.

I don't see a problem with keeping the color-coding when disabled. My suspicion is that the color-coding was removed because early versions of the button didn't loo

[2020-04-15 03:00] ariel-phet commented on #598
@pixelzoom yes, fine with this button following the modern convention. I think as @arouinfar pointed out this is probably just vestigial code given the age of its origins in ESPB, and the pattern has just been followed in later sims. What you have in the patch looks good to me.

[2020-04-15 12:08] terracoda commented on #571
I found this Microsoft Stream resource on [Hot keys & Accessibility](https://docs.microsoft.com/en-us/stream/hotkeys-and-accessibility). It seems focus is important and they hot keys are not expected to work with screen reader software enabled. Screen reader users have their own customizable settings.

[2020-04-15 13:04] pixelzoom commented on #598
Thanks @arouinfar and @ariel-phet, I'll proceed with applying the patch, then randomly select one of the authors to review.

[2020-04-15 16:31] pixelzoom opened #599 "LeftRightSpinner and UpDownSpinner issues in scenery-phet demo"
Discovered while working on https://github.com/phetsims/scenery-phet/issues/598.

Two problems with `LeftRightSpinner` and `UpDownSpinner`:

- [x] They are in the wrong demo screen.  They are currently in _Buttons_, but should be in _Components_.   Yes they are composed of buttons, but they are not buttons.  See NumberSpinner in the sun ComponentsScreenView.

- [ ] There is nothing in the demos th

[2020-04-15 16:33] pixelzoom commented on #599
I moved them to the correct Screen in the above commit.

[2020-04-15 17:37] ariel-phet commented on #599
Sounds like the ideal would be coalescing various "spinner" implementations.

Deferring, since https://github.com/phetsims/sun/issues/436 would likely be a better way to resolve the issue above.

[2020-04-15 17:54] pixelzoom commented on #599
Agreed @ariel-phet.  I should also point out that the APIs for `LeftRightSpinner` and `UpDownSpinner` (which are both number spinners) are very different from the `NumberSpinner` API.  The most significant differents are:  (1) they don't handle disabling their buttons, that's the responsibility of the client, (2) they are hard-coded with a delta of 1.

Since the only different between `LeftRightSp

[2020-04-15 19:50] terracoda commented on #571
Here are some resources I have read in the past:
- [J, K or How to choose keyboard shortcuts for web applications](https://medium.com/@sashika/j-k-or-how-to-choose-keyboard-shortcuts-for-web-applications-a7c3b7b408ee)
- [Time to revisit accesskey](https://tink.uk/time-to-revisit-accesskey)

Here are some resources that were shared by David Best on the w3-wai-ig list that might be helpful:
- Comput

[2020-04-15 22:31] pixelzoom commented on #598
This work is done.  I applied the proposed patch, converted to ES6 class, and added an "Enabled" checkbox to the scenery-phet demo (_Buttons_ screen) so that this (and other buttons) can be viewed both enabled and disabled.

As I mentioned above, I was planning to randomly assign to either @samreid or @jonathanolson. But I suspect that they are still super busy.  So assigning to @ariel-phet to cho

[2020-04-15 22:33] pixelzoom commented on #598
For the reviewer:
* inspect MoveToTrashButton.js
* test in scenery-phet _Buttons_ screen, using 'Enabled' checkbox
* inspect in ESP, MAS, or pendulum-lab

[2020-04-15 22:59] ariel-phet commented on #598
Assigning to @jessegreenberg since he is working on ESP and should be a fairly brief issue.

[2020-04-15 23:11] #421 closed

[2020-04-16 03:13] jessegreenberg commented on #598
I reviewed the issue and changes. MoveToTrashButton looks good, and I reviewed the examples listed in https://github.com/phetsims/scenery-phet/issues/598#issuecomment-614313034. Closing.

[2020-04-16 03:13] #598 closed

[2020-04-17 15:57] jessegreenberg opened #600 "HandleNode dispose should be moved"
Just noticed while looking at something unrelated, the `dispose` was accidentally put in the `register` call.

[2020-04-17 16:01] jessegreenberg commented on #600
@chrisklus can you please review?

[2020-04-17 16:59] chrisklus commented on #600
Whoops, thanks @jessegreenberg! Looks great. Back to you to close if all set.

[2020-04-17 17:05] jessegreenberg commented on #600
Great, thanks!

[2020-04-17 17:05] #600 closed

[2020-04-20 22:44] zepumph commented on #580
This is awesome, thanks for doing this work! I'm very interested in using this for https://github.com/phetsims/proportion/issues/5. Let me know if the API changes greatly, and I'll be happy to update Proportion.

[2020-04-21 17:31] terracoda commented on #571
Avoid the modifier keys for JAWS, NVDA, and VO.

**Let's try:**
- Alt + k (k is often used for web-based video players)

@jessegreenberg to test in a basic html page first.

[2020-04-21 17:35] jessegreenberg commented on #571
Here is some HTML to test:

<details>

[code]
</details>

[2020-04-21 17:40] jessegreenberg commented on #571
Testing results:
NVDA + Firefox - "Alt" + anything should work well.

[2020-04-21 17:56] terracoda commented on #571
@jessegreenberg, yes, that sounds wonderful!

[2020-04-21 17:58] Matthew-Moore240 commented on #571
awesome! Cant wait to see it in action!

[2020-04-21 18:57] jessegreenberg commented on #580
I created the GridNode in https://github.com/phetsims/scenery-phet/commit/2b2642832c3ee9e5eb8442d3d76d857919583fd2 and it is being used in energy-skate-park and ratio-and-proportion.

Over in https://github.com/phetsims/ratio-and-proportion/issues/5 @zepumph asked

Most grids don't have labels, and it seemed to me that many grid labels would be too different from sim to sim to be added generally.

[2020-04-21 19:41] jessegreenberg commented on #580
Thinking through an optional callback more...lets say I want labels along the bottom of my grid along the major vertical lines - These could be added with the following:
[code]

Trying to accomplish the same thing with a callback might look like:
[code]

I still think that decoration is the simplest way to labels to a GridNode.

[2020-04-21 20:55] jessegreenberg commented on #580
This is ready for a review. It was motivated by energy-skate-park, but could be reviewed by any developer. @ariel-phet could you please assign someone?

[2020-04-21 23:03] ariel-phet commented on #580
@zepumph seems natural since he has been using this feature.

[2020-04-22 15:48] jessegreenberg commented on #571
This was done in the above commits, but I would like to review the solution as part of https://github.com/phetsims/scenery/issues/1048 at the next a11y dev meeting with @zepumph.

[2020-04-22 16:21] terracoda commented on #571
This works great @jessegreenberg. I tried several scenarios, and the only issue was the VoiceOver sometimes stops announcing responses, which is a VoiceOver issue not a hotkey issue.

I really like the flexibility of using the hotkey. I tried it from several different places and it seemed to work fine.

One awesome situation is when I paused the sim before using the Reset Molecule button, then my

[2020-04-22 16:22] terracoda commented on #571
Over to you @Matthew-Moore240 for your enjoyment!

[2020-04-22 16:29] Matthew-Moore240 commented on #571
I agree its awesome! One thing I forgot about was if the hotkey would unpause if you hit it again glad to see that works perfect as well!

[2020-04-22 16:34] jessegreenberg commented on #571
OK, thanks! Removing assignments and we will discuss the code changes at an upcoming meeting.

[2020-04-22 16:51] terracoda commented on #571
@Matthew-Moore240 re your comment

Yep, it works like a toggle button.

[2020-04-22 16:53] terracoda commented on #571
@jessegreenberg, do mean a dev meeting or an a11y meeting?
I'll draft something for the Keyboard Shortcuts Dialog.

[2020-04-22 16:57] jessegreenberg commented on #571
I meant a11y-dev meeting in https://github.com/phetsims/scenery-phet/issues/571#issuecomment-617862360, I want to review the code change for this issue and https://github.com/phetsims/scenery/issues/1048.

[2020-04-22 20:11] jbphet commented on #581
I tried setting the custom stroke for the play-pause button, the step button, and the reset-all button and it looked better when running normally, but worse in projector mode.  I then tried using the color profile to switch the strokes, but this didn't look very good in projector mode either.  I'm going to bail on this an leave it as is, since the amount of time I'm spending on it doesn't seem to

[2020-04-22 20:11] #581 closed

[2020-04-22 22:47] arouinfar commented on #597
@pixelzoom looks good in master. I think `profileNameProperty` sounds reasonable. Was there an alternative you preferred?

[2020-04-22 22:53] pixelzoom commented on #597
There was some talk about moving it to `global.model` or `global.view`.  @arouinfar is that no longer being considered?

[2020-04-22 22:54] pixelzoom commented on #597
There was some talk about moving it to `global.model` or `global.view`.  @arouinfar is that no longer being considered?   If it's still a consideration, my not-so-informed opinion would probably be `global.view.colorProfile`, since "color profile" is a view thing.

[2020-04-23 16:27] pixelzoom opened #601 "GridNode API suggestions"
@zepumph mentioned that @jessegreenberg had created a new component, `GridNode`.  Since I've been using a lot of grids in math sims, I took a look.   Overall very nice, and I'd like to use this in the future (or maybe retrofit existing sims).

A few suggestions:

* Doc says:

This is backwards. Minor lines are always more prevalent than major lines. Minor spacing is further division of major spaci

[2020-04-23 18:26] jessegreenberg commented on #580
Thanks for being a reviewer @zepumph! Also linking review comments made by @pixelzoom in https://github.com/phetsims/scenery-phet/issues/601

[2020-04-23 18:32] pixelzoom commented on #580
Sorry for doing an informal review, I didn't know this issue existed.    Does it makes sense to address my review comments before @zepumph does a review?

[2020-04-23 19:10] jessegreenberg commented on #601
I used the wrong word, it should be "prominent" rather than "prevalent", ill change to
"The grid has "minor" lines and optionally "major" lines which are generally more visually prominent."

All lines are optional for this GridNode, do you think this would be a better constructor?
[code]

[2020-04-23 19:18] pixelzoom commented on #601
Hmm... The doc indicates that minor lines are required, and they are required constructor parameters.   So if both major and minor lines are optional, what you've proposed is a better API.  You'll presumably need an assertion that at least one type of line is specified.

[2020-04-23 23:36] jessegreenberg commented on #580
Yea, thanks, lets do #601 first.

[2020-04-24 16:50] jessegreenberg commented on #601
OK, all lines are now optional and I updated documentation.

I tried this, but both usages so far (EnergySkateParkGridNode and ProportionGridNode) calculate spacing for the grid after it has been constructed. This seems reasonable to me and requiring spacing on construction is inconvenient.

Done.

GridNode spacing is mutable so this is too strict. For instance, we need to allow this sequence:
[co

[2020-04-24 17:21] jessegreenberg commented on #580
In #601 @pixelzoom reminded that new components should be PhET-iO instrumented, and that it would be desirable to pass Tandems to the major/minor grid line Paths. But when I asked about Tandems for GridNode @zepumph said that he didn't think Tandems were needed for those and that if instrumentation is desired it can be done at the usage of the GridNode.

@zepumph when you review this can you also

[2020-04-24 19:50] pixelzoom commented on #601
I don't think that the needs of 2 sims (EnergySkateParkGridNode and ProportionGridNode) should necessarily be driving the API for a common-code component.  And not handling validation because it's "inconvenient" is a red flag for me.  Validation could be addressed by adding methods that set major and minor spacing at the same time, e.g. `setHorizontalSpacing( majorSpacing, minorSpacing )` and `set

[2020-04-24 19:53] pixelzoom commented on #580
My assumption is that designers will want to be able to control the visibility of major and minor grid lines independently.  That's been the case in every graph that I've instrumented so far, but confirm with a designer.  How I can that be accomplished without instrumenting `majorLines` and `minorLines`?

[2020-04-24 23:54] jessegreenberg commented on #601
To support all three I collapsed the spacing setters into one function `setLineSpacings` so that we know the intended spacings whenever they are going to be changed.

Assigning back to @zepumph from request in https://github.com/phetsims/scenery-phet/issues/601#issuecomment-619209606, as part of review in #580.

[2020-04-24 23:54] jessegreenberg commented on #580
No longer on hold, #601 is ready for your review @zepumph.

[2020-04-27 15:05] pixelzoom commented on #580
@jessegreenberg CT is failing with:

[code]

[2020-04-27 15:49] jessegreenberg commented on #580
Thanks, issue with the demo fixed in https://github.com/phetsims/scenery-phet/commit/f6ad5f1b0827ba1d11b5a7f02289a09cabd4434c

[2020-04-27 18:39] zepumph commented on #601
Over in https://github.com/phetsims/ratio-and-proportion/issues/5 it was very helpful to be able to clear all the lines out of the GridNode given certain states (i.e. radioButton control for none/horizontal/both). Instead of needing another channel (Node.visible) to show no lines, I feel like allowing `setLineSpacings` to be passed all nulls feels flexible, simple and explicit. After talking with

[2020-04-27 18:56] zepumph commented on #580
Everything here is looking really good to me. As for the PhET-iO instrumentation of this component, it seems best to check with a designer.

@arouinfar can you comment on if, in a GridNode, you should be able to control the minor and major grid lines independently, thus needing to instrument each individually? @pixelzoom mentioned that this was the design spec in grid instrumenting cases he has en

[2020-04-28 00:30] arouinfar commented on #580
Theoretically, I understand wanting to hide minor gridlines. However, this isn't a great idea in practice.  Minor gridlines exist because they serve a purpose in a particular sim, and I think the grid would become far less usable without them.

I don't think we would want users to turn off the major gridlines, and I definitely wouldn't feature their visibleProperty.

It might also be nice for @ama

[2020-04-28 01:28] pixelzoom commented on #580
You're right - we didn't instrument  the graph in Graphing Quadratics.  If you say it's not important to instrument minor and major grid lines, that's fine by me.

[2020-04-28 01:42] pixelzoom opened #602 "CT: multiple Errors for GrabDragInteraction"
GrabDragInteraction is failing CT, see below.  I'm not sure who to assign this to, so I'll assign to @zepumph who has made the most recent commits.

[code]

[2020-04-28 15:01] amanda-phet commented on #580
I haven't done many sims with grids, but from reading this issue and considering some of those sims, here are my thoughts:
- Cartesian coordinate grids in math sims have typically included a checkbox to turn the grid on/off, so that's probably why we didn't instrument the grid in GQ. As long as this checkbox exists, it seems like an iO designer could use that to choose whether the gridlines are vi

[2020-04-28 21:04] jbphet commented on #524
The sounds for common UI components have been merged into master and I've just deleted the branch.  Closing.

[2020-04-30 18:08] jessegreenberg commented on #570
Also removing dev meeting label after we discussed on https://github.com/phetsims/scenery-phet/issues/570#issuecomment-611681781

[2020-04-30 23:17] jbphet opened #603 "Background node not getting set to correct size during construction"
In number-line-integers, I'm seeing an issue where a background node looks tiny if the contained node never changes its size.  In the screenshot below, notice that the label on the right size of the number line point has no background, but it does have a little dot below it and to the left, which I suspect is the background.

![image](https://user-images.githubusercontent.com/3082831/80767979-6774

[2020-04-30 23:19] jbphet commented on #603
It looks to me like the problem was introduced when we migrated from using `.on() ' to using a property for the bounds.  The commit was b43953967a7fab9dde1e635e422fce2db63e7a7a.

[2020-04-30 23:32] jbphet commented on #603
@jonathanolson - I committed a potential fix for this.  Please take a look and either close or improve at your discetion.

[2020-05-03 17:38] samreid commented on #602
This has been happening for 6 days, can we please elevate the priority?  I'll also co-assign @jessegreenberg in case he knows more.

[2020-05-04 22:23] jessegreenberg commented on #602
The unit tests identified in https://github.com/phetsims/scenery-phet/issues/602#issue-607961351 were fixed, what is showing up in CT now is

[code]

But when I run scenery-phet unit tests locally, all tests are passing.

[2020-05-04 22:29] jessegreenberg commented on #602
phet.phetio.dataStream is undefined in unit tests.

[2020-05-04 23:06] jessegreenberg commented on #602
Would be helpful to talk about during tomorrows a11y-dev meeting.

Can we run scenery-phet unit tests without ?phet-io? Should we reconsider GrabDragInteraction and its unit tests? GrabDragInteraction requires a sim (for utteranceQueue) and there are stubs at the top of the file so that it works outside of a sim context but that doesn't seem very robust.

[2020-05-04 23:59] samreid commented on #602
I switched to use `qunitStart()` and it seems to be passing phet-io brand now.  OK to close?

[2020-05-05 00:47] jessegreenberg commented on #602
Cool, its working great, thanks! Closing.

[2020-05-05 00:47] #602 closed

[2020-05-14 20:07] pixelzoom opened #604 "changes to TimeControlNode API"
During 5/14/2020 phet-io meeting, the following changes to TimeControlNode API were identified, to conform to MVC pattern:

- [x] rename enumeration TimeControlSpeed to TimeSpeed
- [x] rename option `timeControlSpeedProperty` to `timeSpeedProperty`
- [x] rename option `timeControlSpeeds` to `timeSpeed`
- [x] rename constant `DEFAULT_TIME_CONTROL_SPEEDS` to `DEFAULT_TIME_SPEEDS`

Also:
- [x] name t

[2020-05-14 20:35] pixelzoom commented on #604
Done in the above commits.

@arouinfar The only tandems that needed to be renamed were in ESP and WI -- they are now "timeSpeedProperty".

@ariel-phet please assign someone to review.

[2020-05-14 20:36] pixelzoom commented on #604
Done in the above commits.

@arouinfar The only tandems that needed to be renamed were in ESP and WI -- they are now "timeSpeedProperty".  Have a look and see if I missed anything.

@ariel-phet please assign someone to review code changes.

[2020-05-18 16:52] ariel-phet commented on #604
@Denz1994 has used TimeControlNode in several sims, seems like a good person to review.

[2020-05-18 17:02] brandonLi8 commented on #564
@jessegreenberg I'm not sure when `setPlayPauseButtonCenter` was added but it's related to this issue so I am adding this here.

The documentation of this method states that this method
[code]

However, using it in `collision-lab` (https://github.com/phetsims/collision-lab/issues/43)),

my use case is:
[code]

The `subtract( collisionLabTimeControlNode.leftTop )` at the end seems to suggest that t

[2020-05-18 18:27] arouinfar commented on #604
@pixelzoom looks good.

The changes to TimeControlNode temporarily broke gravity-and-orbits and states-of-matter in studio because the deprecated `timeControlSpeedProperty` was featured in the overrides (see above commits). That got me wondering if we could simply feature `timeSpeedProperty` in common code rather than the overrides. If so, I would do the same for the PlayPauseButton's `isPlayingPr

[2020-05-18 19:05] pixelzoom commented on #604
`timeSpeedProperty` and `isPlayingProperty` cannot be featured in common code. They are created by sim-specific code in the sim's model, and passed to `TimeControlNode`.

[2020-05-18 19:07] pixelzoom commented on #604
As for breaking overrides.js...  I'm not aware of tools/process that addresses that, which sounds like a PhET-iO gap.

[2020-05-18 20:41] jessegreenberg commented on #564
Thanks @brandonLi8,you are correct.

That was fixed in https://github.com/phetsims/scenery-phet/commit/65d2e1a66e1e99faab47e241542290a65f392ea9.  The usage in collision-lab would change to https://github.com/phetsims/collision-lab/commit/fa176f4808286102aa50bbc264848142c7d396bd. @brandonLi8 can you please take a look and make sure this fixes the problem?

[2020-05-18 21:10] brandonLi8 commented on #564
@jessegreenberg thanks! The problem is fixed in collision lab. Closing.

[2020-05-18 21:10] #564 closed

[2020-05-19 02:23] pixelzoom commented on #604
For the record, the changes that I made to TimeControlNode didn't break states-of-matter.  That was broken by @jbphet in https://github.com/phetsims/states-of-matter/commit/8af05de3957e9e3d4a66fce353a8f16c89b4e5a3, prior to the changes that I made for TimeControlNode in https://github.com/phetsims/states-of-matter/commit/4a488e3b6bf3462bc44b8b963d3a67c1176b70d0.

[2020-05-20 17:09] pixelzoom opened #605 "CT: unable to find node from unique Trail id"
scenery-phet has been failing CT since yesterday afternoon. Looks like changes to PDOMPointer made by @jessegreenberg for phetsims/scenery#1048

[code]

[2020-05-20 17:14] pixelzoom commented on #605
Looks like this is also showing up in coulombs-law:

[code]

[2020-05-20 17:15] pixelzoom commented on #605
And greenhouse-effect:

[code]

[2020-05-20 17:16] pixelzoom commented on #605
And tambo:

[code]

[2020-05-20 17:17] pixelzoom commented on #605
This same failure is occurring in coulombs-law, greenhouse-effect, and tambo.

[2020-05-20 17:42] jessegreenberg commented on #605
Thanks, the related issue is https://github.com/phetsims/scenery/issues/921. Offending lines were removed earlier today until this can be fixed.

[2020-05-21 14:58] jessegreenberg commented on #605
This was fixed in https://github.com/phetsims/scenery/issues/921 and is no longer showing up on CT.

[2020-05-21 14:58] #605 closed

[2020-05-21 21:56] samreid commented on #218
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:56] samreid commented on #272
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:56] samreid commented on #279
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:56] samreid commented on #306
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-24 03:47] brandonLi8 commented on #601
@zepumph @jessegreenberg This looks really nice and I'm about to port it over to 'Collision Lab' But I was thinking about it: how would a client use `GridNode` for a simulation like `Vector Addition`

![image](https://user-images.githubusercontent.com/42391580/82745136-fb208600-9d3d-11ea-9d79-f4fd00a32c7b.png)

where the major gridlines don't start at the first minor gridline? It seems to me that

[2020-05-24 13:34] pixelzoom commented on #601
Good point @brandonLi8.

This seems like a significant limitation.  I wouldn't be able to use GridNode in Natural Selection (NS) either, for the same reason.  There are no minor grid lines in NS, but the grid needs to scroll, for example see screenshot below.   I suspect that same would be true of griddle components like ScrollingChartNode.

<img width="1188" alt="screenshot_330" src="https://user

[2020-05-24 13:37] pixelzoom commented on #601
Good point @brandonLi8.

This seems like a significant limitation.  I wouldn't be able to use GridNode in Natural Selection (NS) either, for the same reason.  There are no minor grid lines in NS, but the grid needs to scroll, for example see screenshot below.   This is also a problem for griddle components, like XYPlotNode and ScrollingChartNode, see screenshots below from griddle demo.

<img widt

[2020-05-24 13:51] pixelzoom commented on #601
I would also say that GridNode should definitely be usable in griddle.  Was that considered in the design of GridNode?  An excellent way to proceed would be to actually use GridNode in griddle, for example for the grid in XYPlot.

[2020-05-25 17:46] brandonLi8 opened #606 "Cannot set enabledProperty of step buttons in TimeControlNode"
Over in https://github.com/phetsims/collision-lab/issues/66, it was decided to disable the step backwards button when the sim is both paused and the elasticity isn't 100%.

Currently, `collision-lab` uses TimeControlNode for time controls, including the step buttons. However, TimeControlNode doesn't provided any public access to any of its StepButtons. I need access to be able to set the enabledPr

[2020-05-25 20:19] jessegreenberg commented on #606
The current way to do this would be to pass an `isPlayingProperty` option to the TimeControlNode's step button. So your stepBackwardButtonOptions might look like
[code]

There is talk of changing this API in https://github.com/phetsims/sun/issues/515 and https://github.com/phetsims/scenery-phet/issues/563, but that work hasn't been done yet.

[2020-05-25 22:49] brandonLi8 commented on #563
Just wanted to add that `Collision Lab` is now the second sim that needs to pass a custom `enabledProperty` to a step button. Like neuron, I will be using the `isPlayingProperty` workaround until this gets addressed.

[2020-05-25 22:50] brandonLi8 commented on #606
Thanks @jessegreenberg. This issue can be closed. I'll keep an eye out for when #563 is addressed.

[2020-05-25 22:50] #606 closed

[2020-05-26 18:23] Denz1994 opened #607 "TimeControlNode API Review"
Related to:https://github.com/phetsims/scenery-phet/issues/604#issuecomment-630309199

**TimeControlNode.js**

- [x] `options.timeSpeeds` has type doc that reads `TimeSpeed[]`. Alternatively, there are type docs (by other devs) that follow the format `Array.<TimeSpeed>`. If this format is up to developer discretion, then leave as is. I wasn't sure, so I'm making a note.

- [x] The type doc for `ti

[2020-05-26 18:27] Denz1994 commented on #607
Regarding the Studio point above. WOAS has an assertion to prevent a "FAST" value (see `WOASModel.manualStep`). It seems like there is some discontinuity between what the sim accepts as a valid value and what Studio represents as a valid value.

I would expect Studio to not show "FAST" but I'm not sure what the level of implementation that would require.

[2020-05-26 18:28] Denz1994 commented on #604
A separate issue has been created for review comments in #607.

[2020-05-26 18:34] Denz1994 commented on #607
More specifically, the WOAS assertion mentioned above will prevent any values that aren't "NORMAL" or "SLOW".

[2020-05-26 18:43] samreid commented on #218
The remaining TODO is:

[code]

Unassigning until we return focus to this implementation.

[2020-05-26 18:44] samreid commented on #272
Unassigning until we return our attention to NumberKeypad.

[2020-05-26 19:29] pixelzoom commented on #607
`TimeSpeed[]` and `Array.<TimeSpeed>` are  equivalent, see https://jsdoc.app/tags-type.html: "You can also indicate an array by appending [] to the type that is contained in the array. For example, the expression string[] indicates an array of strings."  I prefer the former, and I believe that we left this up to developer discretion.  If you think it's something that should be standardized, feel f

[2020-05-26 19:34] pixelzoom commented on #604
Thanks @Denz1994.  Looks like remaining items are in #607, so I'll close this issue.

[2020-05-26 19:34] #604 closed

[2020-05-26 22:15] samreid opened #608 "Add moveToFront to MeasuringTapeNode"
While working on https://github.com/phetsims/wave-interference/issues/450 I needed to add `moveToFront` for the measuring tape.  I noticed this code in StopwatchNode:

[code]

This code was ported from Gas Properties in December 2019.  Is this code fully general and can this pattern be applied in MeasuringTapeNode?

I considered that it would be simpler to just add `moveToFront` as the first line

[2020-05-26 22:52] pixelzoom commented on #608
I believe that it had to be added as a separate listener in StopwatchNode so that clicking on interactive components (e.g buttons) would also move the node to the front.  Note that StopwatchNode's DragListener is added to its background:

[code]

I don't know if that's the case in MeasuringTapeNode.  Seems like you may have the same issue with grabbing the "pull tab" that extends the tape.

[2020-05-27 16:51] samreid commented on #608
MeasuringTapeNode accommodated a simpler solution since the "pull tab" was not a Button.

[2020-05-27 20:18] jessegreenberg commented on #601
Thanks @brandonLi8, I added options and setters for `verticalLineOffset` and `horizontalLineOffset` to support this. Each are applied to their respective major and minor lines. These can also be used to support scrolling, demonstrated in the scenery-phet demo. Does this fully support your use case?

Thats a really good idea, Ill move GridNode to griddle.

[2020-05-27 20:35] pixelzoom commented on #601
@jessegreenberg Instead of more options, another way to determine where the grid lines should be placed would be to use a model-view transform.   Then you would specify origin, major grid lines, minor grid lines, etc. in model coordinates. That would be more consistent with graph, where we typically already have a model-view transform for plotting data.

[2020-05-27 20:50] jessegreenberg commented on #601
I can see having GridNode spacings/offsets in model coordinates and using a model-view transform but I don't see how that would get rid of options. Can you explain or show an example usage of GridNode if it were done this way?

[2020-05-27 22:33] jessegreenberg commented on #601
After https://github.com/phetsims/griddle/issues/52, GridNode uses model coordinates with an optional ModelViewTransform2.

[2020-05-27 23:36] brandonLi8 commented on #601
@jessegreenberg looks good.

Would it be too much to ask for a modelViewTransform in a property? Because there are a lot of sims where the modelViewTransform is changing (like in `Vector Addition` and in `Collision Lab`. I guess one way you could go about it is to create a new GridNode every time the modelViewTransformProperty changes, but it could be nice to have this built in. @jessegreenberg th

[2020-05-28 16:32] jessegreenberg commented on #601
Thanks @brandonLi8, you should be able to modify the GridNode without creating a new one. The previous way to do this would have been to use `setLineSpacings` to draw lines at your desired zoom level. Now grid width and height are in model coordinates as well, so if you change the model-view transform it will make your grid taller or wider as well.

I considered changing the API to have width/heig

[2020-05-28 16:43] jessegreenberg commented on #601
I reverted https://github.com/phetsims/griddle/issues/52, back to @brandonLi8 for review.

[2020-05-28 17:38] brandonLi8 commented on #601
Thanks @jessegreenberg. `GridNode` is good for me to use in `collision-lab`. Thanks!

[2020-05-29 21:27] brandonLi8 commented on #601
@jessegreenberg I went to go to use `GridNode` in `collision-lab`. However, I'm getting

`Uncaught Error: Assertion failed: minor spacing should be a multiple of major spacing` when I shouldn't be.

Debugging and logging my spacing (which are computed numbers), I have my major spacing as `76.5` and my minor spacing as  `15.3`, which is exactly a fifth. `76.5 % 15.3` gets me `15.299999999999997`.

[2020-06-01 16:22] samreid commented on #608
This is implemented and working well in Wave Interference.  @ariel-phet can you please assign a reviewer?

[2020-06-01 22:46] pixelzoom opened #609 "generalize ProtractorNode"
Noted during code review of https://github.com/heldentodd/xray-diffraction/issues/1.

pendulum-lab and bending-light have implementations of ProtractorNode that are almost identical.  It looks like bending-light was ported from Java by @samreid, then MLL copied to pendulum-lab.

Since the developer of xray-diffraction didn't have access to a common-code implementation, he made yet-another copy at

[2020-06-02 15:54] pixelzoom commented on #608
Your "simpler solution" is to duplicate `this.moveToFront` in the input listener for the base and "pull tab".   The same could have been done in StopwatchNode by adding an addition input listener to each button.  Why is it acceptable to duplicate code in MeasuringTapeNode, rather than to use the approach used in StopwatchNode?

[2020-06-02 16:01] samreid commented on #608
StopwatchNode cannot simply add `moveToFront` in the button callback because sometimes the buttons are disabled and do not get fired.  Also, even for enabled buttons, moving them to the front would only happen on mouse release, not on mouse down as is desirable.  Summarizing the differences for clarity, here is the code that StopWatchNode uses to support moveToFront:

[code]

Here is the code in M

[2020-06-02 16:15] pixelzoom commented on #608
I think you've missed the point.  The point is not that I couldn't have added additional listeners to the Buttons in StopwatchNode. The point is that I shouldn't have even if I could have, because that's duplicated code.  The requirement is "move the tape measurer to the front if any part of it is pressed".  You've distributed that requirement to 2 listeners when it can be encapsulated  in 1 liste

[2020-06-02 16:30] pixelzoom commented on #601
See GRAPHING_LINES/GraphNode.GridNode (inner class).

[2020-06-02 16:47] samreid commented on #608
In this case, 1 line of duplicated code seems preferable to 13 lines of code which are (a) scattered across 3 places in the file, (b) introduces a `let` variable (c) introduces 2+ new PhET-iO elements.  To me, the best arguments for using the `moveToFrontListener` pattern are:
* If we think there will be a lot of new StopwatchNode buttons or MeasuringTape features added, where we are likely to for

[2020-06-02 16:57] pixelzoom commented on #608
I think a mixin might be useful.  I'm also not convinced that this should be automatically added to tools.  For example, we might want a StopwatchNode that's in a fixed location, not movable, and that's currently problematic.

Gas Properties uses the checkbox approach, and the requirement was to make tools move to the front as they became visible. And I think that makes requirement makes sense in

[2020-06-07 22:23] pixelzoom commented on #609
When this generalization takes place:

- [ ] fix spelling of param `rotateable`, it should be `rotatable`

[2020-06-12 18:30] brandonLi8 commented on #601
It looks like @jessegreenberg switched to using a modelViewTransformProperty option in https://github.com/phetsims/griddle/issues/46. I was wondering why the Momenta Diagram grid didn't look right.

I attempted to switch to using this new option (as the offsets were also deprecated). For some reason, the horizontal lines were not rendering in.
![image](https://user-images.githubusercontent.com/423

[2020-06-12 18:36] jessegreenberg commented on #601
Sorry @brandonLi8, I thought I inspected usages but looks like I missed this - Ill take a look.

[2020-06-12 20:45] jessegreenberg commented on #601
@brandonLi8 and I confirmed that https://github.com/phetsims/scenery-phet/issues/601#issuecomment-643424250 is no longer an issue in master.

Indeed, GridNode now uses a modelViewTransform, which will also handle
[code]

so I am going to remove those options.

[2020-06-12 21:38] jessegreenberg commented on #601
Commit https://github.com/phetsims/griddle/commit/7ae5d5aef3233d0b1ea4cdf65efa79ca9fe188d8 is for the comment @brandonLi8 made in https://github.com/phetsims/scenery-phet/issues/601#issuecomment-636199847.

Closing again, since changes are complete for the recommendations in https://github.com/phetsims/scenery-phet/issues/601#issuecomment-634924832 and https://github.com/phetsims/scenery-phet/issu

[2020-06-12 21:38] #601 closed

[2020-06-16 17:18] pixelzoom commented on #609
Something else to maybe address.... Over in https://github.com/heldentodd/xray-diffraction/issues/1#issuecomment-644894336, @heldentodd reported:

- [ ] ProtectorNode fails with `?ea&shuffleListeners`.

[2020-06-17 16:09] pixelzoom commented on #609
The first step here would be to compare the implementations of ProtractorNode, consolidate into one implementation (if there are differences), and move it to scenery-phet.   Then notify @heldentodd so that he can use it in xray-diffraction.

After that, someone can work on refining it -- the `shuffleListeners` issue, adding PhET-iO instrumentation (if it's not there already), etc.

[2020-06-17 16:13] pixelzoom commented on #565
We would not have designed a number display (NumberDisplay) that can only display a numeric value in only 1 or 2 formats, with 1 or 2 units.  Why is that approach acceptable for a time display (StopwatchNode)?

[2020-06-17 17:14] pixelzoom commented on #609
Discussed with @ariel-phet on 6/17/20.  pendulum-lab/ProtractorNode is actually very different, so we can ignore it (or rename it to be less confusing).

I will move bending-light/ProtractorNode to scenery-phet, and let @heldentodd know when that has been done, so he can use it in xray-diffraction.

[2020-06-17 18:23] ariel-phet commented on #565
Discussed with @pixelzoom, he is going to make some comments summarizing decisions and assign back to @samreid

[2020-06-17 19:16] pixelzoom commented on #609
ProtractorNode has been migrated to scenery-phet.

API changes:

* Constructor signature has changed. `rotatable` parameter is now an option.
* Added `createIcon` static method for creating icons (for use in toolboxes, checkboxes, etc.)
* Implemented `dispose`

Internal changes:

* Paths used to create pointer areas have been replaced with the new `hitTestPixels` option for scenery.Image
* Fields

[2020-06-17 19:26] pixelzoom commented on #565
Discussed with @ariel-phet via Zoom on 6/17/2020.

Summary:

* Agreed that being locked into 2 formats is not desirable for a general UI component
* Agreed that allowing the timer to run past `maxValue` should be an option.

Work to be done:

* Replace `StopwatchReadoutNode` with `NumberDisplay( ..., { useRichText: true } )`, sized for `maxValue`, and scale down the value text if it becomes wider

[2020-06-17 19:28] pixelzoom commented on #565
@ariel-phet said:

Back to @samreid.

[2020-06-17 21:37] heldentodd commented on #609
Updated code is working great in the xray-diffraction sim. Many thanks.

[2020-06-17 21:55] pixelzoom commented on #609
Since `ProtractorNode` is now a common-code component, in the above commit I renamed pendulum-lab's `ProtractorNode` to `PendulumLabProtractorNode`.   Since there is a `PendulumLabRulerNode`, it seemed like there was precedence for this. @jonathanolson FYI.

[2020-06-18 23:54] zepumph commented on #568
Instrumenting the HeaterCoolerFront as the HeaterCoolerNode caused this bug: https://github.com/phetsims/studio/issues/148, and also made it very challenging to debug.

I wasn't the lead dev on this issue, but do you think that a patch like this could work instead? Then we could add an api to HeaterCoolerNodeIO to make sure that everything works as expected.

The main issue with the above is that

[2020-06-18 23:57] zepumph commented on #568
I would also like to add that the following is very strange:

[code]

[2020-06-25 02:15] chrisklus commented on #568
@zepumph, @samreid and I discussed today and committed a fix over in https://github.com/phetsims/studio/issues/148. We added a flag to HeaterCoolerFront that can be set to false so HeaterCoolerFront is not instrumented. This allows HeaterCoolerNode to be the instrumented node when it's used instead of just its child HeaterCoolerFront. This fixes the strangeness above. Thanks @zepumph, closing.

[2020-06-25 02:15] #568 closed

[2020-06-25 18:51] samreid commented on #608
We reviewed this and decided to discuss again when @pixelzoom returns.

[2020-07-06 16:16] samreid commented on #609
I reviewed the code changes in Bending Light and tested in the browser. Everything looks good to me.  Reassigning to @jonathanolson for the FYI.

[2020-07-06 16:44] jonathanolson commented on #609
Thanks!

[2020-07-06 16:44] #609 closed

[2020-07-08 13:11] terracoda opened #610 "Document A11y design pattern for TimeControlNode"
In the Interactive Description design of Molecules and Light (https://github.com/phetsims/molecules-and-light) we made the Time Control Node accessible.

We made several design decisions that worked well in MAL, and will hopefully work well in other simulations.
- H3: Timing Controls
- Names of buttons: Pause, Play Step Forward
- "Sim Speeds" group name for radio button
- Supporting context respon

[2020-07-09 17:01] pixelzoom opened #611 "potential infinite loop in BackgroundNode"
Noted while working on https://github.com/phetsims/natural-selection/issues/118.

This is a potential infinite loop in BackgroundNode.js:

[code]

When `node.center` is set, that changes `node.bounds`.  The solution is to observe `node.localBoundsProperty`.

[2020-07-09 17:13] pixelzoom commented on #611
BackgroundNode is used by graphing-quadratics, number-line-common, number-line-integers, number-line-operations, and states-of-matter.

[2020-07-09 17:42] pixelzoom commented on #611
Fixed and tested usages.  Since most of the usages are in @jbphet sims, assigning to him to review.

[2020-07-09 22:51] zepumph commented on #580
It seems like the consensus is slightly in favor of not instrumenting the minor and major lines separately, but instead only the whole gridNode. Thus it seems appropriate to not add any instrumentation to this, and to just rely on Node to add an instrumented visibleProperty if we are instrumenting this Node. If any disagree, speak now to further the discussion. Back to @jessegreenberg.

[2020-07-10 19:55] zepumph opened #612 "Add default UI sound to NumberPicker"
This is needed for Ratio and Proportion sound design, see https://github.com/phetsims/ratio-and-proportion/issues/9#issuecomment-655167724. Tagging @jbphet

Over in that issue, we decided that we will just use the basic and soft "bump" sound which is currently being used for when a slider moves across a tick line in Waves Intro.

[2020-07-10 19:59] zepumph commented on #612
I just found that in Ratio and Proportion, I was just pulling the sound directly from waves-interference, most definitely meant to be a temporary measure. First I will factor out this sound into tambo, to be used by waves sims, RaP, and soon-to-be NumberPicker.

[2020-07-10 20:09] zepumph commented on #612
In the above commits, I factored these sounds out to tambo. I kept the same names for clarity (especially if they still need to be tweaked). I think it is even more confusing because these sounds are called "clicks" but there are other "click" sounds already in tambo. We should make sure that the final names for these are clear to their purpose (not that we are yet complete sure what the purpose f

[2020-07-10 20:35] zepumph commented on #612
After doing a bit more poking around I think it will be best to wait and pair on some of this with @jbphet. Here are some questions I want to discuss:
* Ensure I was correct in moving the Waves slider sounds into tambo (for use by NumberPicker and RaP)
* Take a look at the pattern of making a shared sound player for these sounds to be used by NumberPicker
* Should I also implement this in NumberSp

[2020-07-13 17:27] zepumph commented on #612
From meeting with @jbphet:
- [ ] The `.wav` files go into the `assets` folder, because they are easier to revamp/sample etc later (basically like including the reaper file but without breaking licensing terms of service).
- [ ] Rename these to "general-soft-click" and "general-bounds-boop"

[2020-07-13 18:08] zepumph commented on #612
I implemented sounds in NumberPicker. One design question:

* Is it is OK to have the boundary sound repeat with keyboard nav if you hold down an arrow key and are at the max. This is pretty much a byproduct of how we tie sounds to UI interaction instead of the model Property changing. I don't think this should be changed, but would like a designer to sign off.

[2020-07-13 19:13] zepumph commented on #612
I was looking for the original `wav` files for these sounds in wave-interference, and found https://github.com/phetsims/wave-interference/issues/484 as the issue they were added in, but didn't see any wav files associated with them. @Ashton-Morris could you please provide `wav` files for the following two sounds used for slider UI in wave-intereference:

* slider-clicks-idea-c-example.mp3
* slider

[2020-07-13 19:32] zepumph commented on #612
I refactored WaveInterferenceSlider to use the general shared sound players. I decided not to do the same for RatioHalf.js and its usages of these sounds because those SoundClips are passed extra options like different enabledProperties and a different initialOutputLevel. @jbphet mentioned that changing these in one usage of a SharedSoundClip would change all usages, and I didn't want that leaking

[2020-07-13 20:34] samreid commented on #565
Can NumberDisplay format numbers like 61.0 as 1:01?  Or is that no longer part of the design?

[2020-07-14 00:37] pixelzoom commented on #565
NumberDisplay doesn't currently have a general formatting option as part of its API.   The formatting is currently base on options `valuePattern` and `decimalPlaces`.   Relevant formatting code:

[code]

That said, it's not trivial, but it shouldn't be too difficult to add more general formatting.  And there's already option `useRichText` to use either RichText or Text.

[2020-07-14 04:56] samreid commented on #562
I reviewed the changes for this issue and tested in Wave on a String.  Everything looks reasonable and it works properly.  I saw potential for improvement by using `setScaleMagnitude` instead of repeated calls to `scale` and inverse `scale` and I committed that change.  Then I realized that would be incompatible with other external `scale` calls, so I reverted it.  But for that matter, the existin

[2020-07-14 04:58] samreid commented on #577
Sounds good, thanks! Closing.

[2020-07-14 04:58] #577 closed

[2020-07-14 13:50] samreid commented on #565
Are you recommending another option `formatter` which is a function that takes a number and returns a string?  Would it be mutually exclusive with either or both of `valuePattern` and/or `decimalPlaces`?

[2020-07-14 16:14] Ashton-Morris commented on #612
I have some .wav files

[general-soft-click.wav](https://drive.google.com/file/d/1VI4FBZAgxfkVp5Nf8qBzUZ_RNyQljADS/view?usp=sharing)
[general-boundary-boop.wav](https://drive.google.com/file/d/1TyuS0aEoazu62YmTeH31THNGRyrzV-Xl/view?usp=sharing)

[2020-07-14 16:27] pixelzoom commented on #565
Either a `formatter` option to NumberDisplay.  Or a new class named something like `RichNumberDisplay` or `FormattedNumberDisplay`.

[2020-07-14 22:10] zepumph commented on #612
At design meeting today, we decided that this behavior is ok, but we also recognized that there is some precedent from GFL mass sliders to not repeat the boundary sound. In that sim, those sounds are important to the concepts in the sim; they aren't just UI sound. With this in mind, we are planning to go ahead with allowing duplicate boundary sounds (this behavior is also in the slider implementat

[2020-07-14 22:22] zepumph commented on #612
One more thing I forgot to mention in https://github.com/phetsims/scenery-phet/issues/612#issuecomment-657749792:

@Ashton-Morris, yesterday while working on this with @jbphet, we noticed that these two sounds are quite a bit quieter than @jbphet mentioned your standard is (-3dbfs). More around -5 or -6 dbfs, Do you think it would be a good idea to export these same sounds a bit louder?

[2020-07-14 22:47] samreid commented on #565
Summarizing changes:

* Moved behavior of "when stopwatch reaches max time, pause the stopwatch" from the view to the model
* Specify stopwatch range via `Stopwatch.options.timePropertyOptions`
* Deleted StopwatchReadoutNode
* StopwatchNode now uses a `NumberDisplay` for showing its text.
* StopwatchNode provides a few defaults for converting number to text, with `getRichNumberFormatter` as the mo

[2020-07-15 04:37] samreid commented on #566
I followed that prescribed strategy in https://github.com/phetsims/scenery-phet/issues/565 and it is pending review.  Let's close this as duplicate.

[2020-07-15 04:37] #566 closed

[2020-07-15 04:49] samreid commented on #584
I don't expect to work on these Spinners in the near future, unassigning.

[2020-07-15 20:04] jbphet commented on #611
The explanation makes sense, the code change looks reasonable, and I tested dynamic resizing of the background node by manipulating points on the "Generic" screen in number-line-operations and verifying that the background of the point labels correctly resizes.  Looks good, closing.

[2020-07-15 20:04] #611 closed

[2020-07-16 18:08] pixelzoom commented on #565
7/16/20 dev meeting:   I said that I won't be able to get to this until the week of 7/20.  @ariel-phet said that should be fine.

[2020-07-20 17:47] Ashton-Morris commented on #612
Ok I have exported them louder.

- [general-soft-click-001.wav](https://drive.google.com/file/d/1A2nj6ofrdCbsZBZJ02hQbHJL89hNtOph/view?usp=sharing)
- [general-boundary-boop-001.wav](https://drive.google.com/file/d/1H9xt3rldFwgwHCYK40hLlBftMMbHsypE/view?usp=sharing)

[2020-07-20 17:59] pixelzoom commented on #565
I haven't gotten to reviewing this yet.  But I did want to note that I'm using NumberDisplay's new `formatter` option in fourier-making-waves, where it's working nicely.

[2020-07-21 16:43] pixelzoom opened #613 "ScientificNotationNode"
Discovered in https://github.com/phetsims/ph-scale/issues/173.

Example:

[code]

So `9.952541657737637e-8` is displayed as "10.0 x 10<sup>-8</sup>", when it should be "1.0 x 10<sup>-7</sup>".

This only occurs when the mantissa is exactly 10. And in that case, that power of 10 needs to be shifted to the exponent.

This will affect all sims that use `ScientificNotationNode`, which currently includ

[2020-07-21 17:00] pixelzoom commented on #613
Fixed in the above commit.  This problem occurs only when the mantissa is exactly 10, so the fix is specific to that value.

Some tests:

[code]

[2020-07-21 17:25] pixelzoom commented on #613
Reopening.

After further digging, I discovered that this bug was introduced by @jessegreenberg in phetsims/scenery-phet@bfa1874 on 9/20/17. There's no GitHub issue referenced in the commit. @jessegreenberg do you recall why this change was made?

[2020-07-21 17:46] jessegreenberg commented on #613
Commit https://github.com/phetsims/scenery-phet/commit/bfa1874 actually does reference https://github.com/phetsims/scenery-phet/issues/334 which describes:

[2020-07-21 17:56] pixelzoom commented on #613
Thanks @jessegreenberg -- the issue number didn't show up as a link in WebStorm's "Show History", so I missed it.

The change I made in https://github.com/phetsims/scenery-phet/commit/65aa972041f601b84190c45ac7391495a981172b doesn't affect the goal of https://github.com/phetsims/scenery-phet/commit/bfa1874.   So I'll leave things as is and re-close.

[2020-07-22 01:59] zepumph commented on #612
Alright, I added the above to the assets of tambo, and I converted them to mp3 and replaced the sounds that were in sounds/ with those. I couldn't really hear a difference, so thanks for baring with me. It is good to be consistent though, I guess.

@jbphet can you please review my code changes to NumberPicker above, as well as the additions to tambo.

* Should more files be in the assets directory

[2020-07-22 21:10] pixelzoom opened #614 "FaucetNode pointer areas aren't behaving correctly"
Reported in https://github.com/phetsims/ph-scale/issues/180, but occurs with FaucetNode in all sims (ph-scale, BLL, EFAC, FPAF, Wave Interference).  This is blocking RC for ph-scale and ph-scale-basics.

The mouseArea for FaucetNode's knob (aka "shooter") is not working correctly.  It looks like this with `?showPointerAreas` in ph-scale:

<img width="243" alt="screenshot_436" src="https://user-ima

[2020-07-22 21:24] pixelzoom commented on #614
This affects both touchArea and mouseArea, title of this issue changed accordingly.  As noted in https://github.com/phetsims/ph-scale/issues/180:

[2020-07-22 21:34] pixelzoom commented on #614
This problem is not present in 1.2.20 (8/5/19).  It is present in 1.3.0 (8/7/19).  There were no changes to FaucetNode.js during that window.  @chrisklus change in 6bdfe83 was made 8/19/19.

@jonathanolson would you have some time to investigate this?

[2020-07-22 22:40] zepumph commented on #612
I'm unsure that this is complete, since discussing with @jbphet, I should be using the LAME encoding to convert `wav` files, and using 48 kbps. Please see and update `tambo/doc/encoding-audio.md` if needed.

[2020-07-23 16:35] jonathanolson commented on #614
The cause seems to be this Scenery Image node, which is layered on top of the shooter:

![image](https://user-images.githubusercontent.com/480878/88313043-2f79d980-ccd0-11ea-8986-70ba53bbbfa9.png)

This is triggered by an inputListener on the FaucetNode specifically. I'd recommend just changing the visual stacking order, @pixelzoom is that possible?

[2020-07-23 17:21] pixelzoom commented on #614
@jonathanolson thanks for finding the problem!  Changing the order is definitely doable, and I've done that in the above commit.

The Node that you've highlighted above is `bodyNode`, and another way to solve this would be to set `bodyNode` to `pickable: false`.  So I've done that too, in case the order is ever changed for some other reason.

[2020-07-23 17:22] pixelzoom commented on #614
@KatieWoe please verify this in master, with a few sims that use FaucetNode:  (ph-scale, BLL, EFAC, FPAF, Wave Interference).   If it looks good, assign back to me so that I can cherry-pick for ph-scale and ph-scale-basics RCs.

[2020-07-23 17:52] jonathanolson commented on #614
That might be a problem if (a) you want to prevent clicks on things behind a faucet (likely), or (b) you want a draggable faucet (less likely). Having it normal pickability still sounds correct, UNLESS its hit area isn't affected by that.

[2020-07-23 18:07] pixelzoom commented on #614
Good point. I've removed `pickable:false` for bodyNode.

[2020-07-23 18:09] pixelzoom commented on #614
Note to self: I need to cherry-pick ae6db074715d7164be7c1e970c2706df5c4ee5a2 and a78d82a.

[2020-07-23 18:52] KatieWoe commented on #614
Does look fixed on master. WI has a button, rather than a knob, so I'm not sure if the issue ever showed up there at all. Others look ok.

[2020-07-23 19:27] pixelzoom commented on #608
7/23/20 dev meeting:

@jonathanolson has been doing this in the DragListener `start`.  If not done there, recommends using PressListener.  Doesn't think we need a separate type for moveToFront.

@pixelzoom moveToFront doesn't belong in common-code UI components, it's a sim-specific decision. One parent node could manage moveToFront for its children.

@samreid add something like options.startDragCa

[2020-07-23 19:46] pixelzoom commented on #614
Cherry-picks done for ph-scale and ph-scale-basics.

Closing.

[2020-07-23 19:46] #614 closed

[2020-07-31 00:17] pixelzoom commented on #565
Mentioned at 7/30/20 dev meeting.  I'm aware of this issue, but it's at the bottom of my priority list.  It will likely remain there until some sim that has a StopwatchNode needs to create a release branch.

[2020-08-07 14:47] samreid commented on #608
Sims listening to a model Property to call `moveToFront`
* area builder
* balancing act
* balloons and static electricity
* blackbody spectrum
* Circuit construction kit: black box study
* Collision lab
* Energy Forms and Changes (I think)
* Expression Exchange

Sims calling `moveToFront` as one step in a `start` callback:
* Bending Light
* Build a molecule (also moves to front in `drag`)
* Charge

[2020-08-07 15:08] samreid commented on #608
StopwatchNode has a dedicated `moveToFrontListener` which looks like it should be changed to use the pattern identified above.  CCK also has a `moveToFrontListener` but it is a callback function, not an input listener, so it doesn't need to be changed.  I'll make the change to `StopwatchNode` then request a review.

[2020-08-07 15:23] samreid commented on #608
I committed a proposed implementation which works properly when testing in Gas Properties.  The main problem with the proposed implementation is that it is very easy to accidentally override the default `moveToFront` functionality.  For instance, if I want to provide a `{drag}` element, that would wipe out the `{start}` entry, or I would have to remember to add it separately.  Still, this seemed s

[2020-08-07 20:45] samreid commented on #580
Please remove the hold from https://github.com/phetsims/gravity-and-orbits/issues/328 when this issue is complete.

[2020-08-07 21:44] jessegreenberg commented on #580
According to https://github.com/phetsims/scenery-phet/issues/580#issuecomment-656388706 no further instrumentation is required for this Node and that was the last part of this issue. Otherwise review was complete in https://github.com/phetsims/scenery-phet/issues/580#issuecomment-620170099.

[2020-08-07 21:44] #580 closed

[2020-08-07 22:39] pixelzoom commented on #608
You've encountered a typical hazard of combining responsibilities. Allowing the client to blow away required functionality is not acceptable. You'll have to do something like this (untested):

[code]

Or maybe keeping these responsibilities separated is looking better now?

[2020-08-07 22:43] pixelzoom commented on #608
And it looks like you've already change (broken?) the behavior of 1 sim by using this approach.  In WavesScreenView.js, you're overriding `dragListenerOptions.start` and the client is not calling `moveToFront`.

[code]

[2020-08-07 22:46] pixelzoom commented on #565
Mentioned at 8/6/20 dev meeting. Still on my list, still not a priority.

[2020-08-08 20:08] samreid commented on #608
I committed a change that always calls moveToFront on StopwatchNode drag start.

In my opinion, this wasn't troublesome enough to revisit our consensus.

I tested this in Gas Properties and Wave Interference and it appears to be working as desired.  Ready for re-review.

[2020-08-10 17:03] pixelzoom commented on #565
This looks really great, thanks for tacking this big issue.

The only thing I see here is StopwatchNode option `stopwatchNumberDisplayOptions`.  While I appreciate the “searchability” argument, this violates our naming convention for nested options, and makes this API more difficult to use.  So let's rename this to `numberDisplayOptions`.

This requirement for `NumberDisplay.recomputeText` (and `S

[2020-08-10 17:10] pixelzoom commented on #608
Looks OK. Closing.

[2020-08-10 17:10] #608 closed

[2020-08-10 21:25] samreid commented on #565
I addressed one of the issues here and will open side issues for the remaining things.  Please review the changes for the options rename.  When that is complete, this issue can be closed.  See you in the other issues!

[2020-08-10 21:26] samreid opened #615 "Eliminate the need to call redrawNumberDisplay and perhaps recomputeText"
In #565 I said:

@pixelzoom replied:

[2020-08-10 21:30] samreid opened #616 "Investigate potential jitter in the NumberDisplay"
From https://github.com/phetsims/scenery-phet/issues/565 and related to https://github.com/phetsims/scenery-phet/issues/402

I said:

@pixelzoom replied:

There are also notes about the jitter in https://github.com/phetsims/scenery-phet/issues/402 which should be reviewed.  I don't feel this blocks publication, but please correct me if I'm wrong.

[2020-08-10 21:35] samreid opened #617 "Should stopwatch go beyond the max time, and/or display time differently?"
In https://github.com/phetsims/scenery-phet/issues/565

I said:

@pixelzoom replied:

Here are some sims that currently stop the stopwatch at a specific time:

[code]

I'll assign some designers to ask whether any or all of these change be changed to continue counting and scale down, or if we should leave them as they are--stopping at their specified maximum.  @ariel-phet and @arouinfar please tak

[2020-08-10 21:49] samreid commented on #615
This problem is rooted in the fact that NumberDisplay uses the following option:

[code]

Since this is a plain `function`, `NumberDisplay` has no idea when to call it, and hence the client code must trigger it to be called at the appropriate time.

Should this be changed to a `Property<function>`, so that `NumberDisplay` will know to call it when the `<function>` changes?

[2020-08-10 22:00] samreid commented on #616
I saw some jittering in my first test on Chrome.  Then when I tried to record it, I didn't see any jittering in Chrome, Safari or Firefox.  But when I watched the recording back, it had picked up the same kind of jitter I saw during the first time.  Here's what it looked like (in the 1/4 runs), this was recorded using Kap on Mac/Chrome

![Kapture 2020-08-10 at 15 58 52](https://user-images.githubu

[2020-08-10 22:09] samreid commented on #616
I saw the jitter in my first run of monospace, but haven't seen it again and wasn't able to record it.  It looks like this:

![kap2](https://user-images.githubusercontent.com/679486/89836370-d7423480-db23-11ea-835f-f130e121458f.gif)

[2020-08-10 22:18] samreid commented on #616
In the commit, I aligned to the left so there is no high frequency jitter.  It works great in the demos, even for the non-fixed fonts.  However, it looks odd for Gas Properties:

![image](https://user-images.githubusercontent.com/679486/89836913-02795380-db25-11ea-88bd-12de8c4d7b67.png)

I'll revert that for now.

[2020-08-10 22:24] samreid commented on #616
I don't think we should publish any sims with a jittery NumberDisplay, so I've marked as blocks publication.

@ariel-phet can you please review this issue and advise?  Some options to consider:
* Use a fixed width font for stopwatch so it won't jitter
* Align left so the jittering is very low frequency instead of high frequency
* Center align to cut the amount of jittering in half
* Set up a test

[2020-08-10 23:20] pixelzoom commented on #615
`{Property.<function>} numberFormatterProperty` sounds appropriate.

[2020-08-10 23:21] pixelzoom commented on #615
`{Property.<function>} numberFormatterProperty` sounds appropriate, if this really needs to be mutable.  Is there currently a case where it needs to be mutable?

[2020-08-10 23:29] pixelzoom commented on #616
To clarify for @ariel-phet because I don't see it explicitly stated above...

The jitter is caused by the fact that the time display is right-aligned and we're using a proportional font.  The default PhET font (`PhetFont`) is a proportional font, where each character occupies as much width as it needs.  So as the width of the numbers varies, the location of the ":" and "." separators moves around.

[2020-08-10 23:55] pixelzoom commented on #617
The stopwatch does not pause, it stops --- pause implies it can be started again and continue for the stopped point.

The other issue to be considered is the number of decimal places in the display.  For example, in Gas Properties we had to settle for 2 decimal places, when 1 would have been more desirable.

Changing the title of this issue to reflect this.

[2020-08-10 23:58] pixelzoom commented on #565
`numberDisplayOptions` change 88ee763 looks good.  Closing.

[2020-08-10 23:58] #565 closed

[2020-08-11 01:02] ariel-phet commented on #616
I have seen this sort of jitter in Collision Lab as well.

@samreid can we try a sans-serif monospace font. I believe "Lucida Console" is considered a web safe font that meets these criteria. "Courier New" I think is the one you are using above and it just looks a bit not so modern.

[2020-08-11 01:09] ariel-phet commented on #617
@samreid @pixelzoom none of the sims listed above need to change stopping the stopwatch at a specified time. For all of those sims that basically stop before 1 hour, there is no pedagogically good reason to run longer, and stopping at some threshold is somewhat normal stopwatch behavior for "minutes:seconds.milliseconds" readout. I see no reason to change these as it has not been an issue. Certain

[2020-08-11 01:17] pixelzoom commented on #617
Reopening.

Whether the stopwatch should stop at a max time is half of the question.  The other issue is the time format (specially number of decimal place) and  I don't see anything related to that discussed here. For example, in phetsims/gas-properties#188 there's no pedagogical reason to show 2 decimals places, and it if we can avoid updating the display so often (for performance reasons) then

[2020-08-11 03:02] samreid commented on #616
The font specification in master has been:

Note that Lucida Console is a monospace sans-serif font.

I was setting up a test harness to make it easy to compare "requested font" to "actual font" and discovered that the stopwatch text nodes were using the font family above for all but the last span.  To clarify: `richNumberFormatter` was only specifying this font family for the large numbers but no

[2020-08-11 03:04] samreid commented on #616
I've committed the fix described in the preceding comment, @pixelzoom or @ariel-phet can you please review?

[2020-08-11 03:07] samreid commented on #616
After further testing, I'm still seeing a jitter even after the fix. Self-assigning for further investigation.

[2020-08-11 03:33] samreid commented on #616
I slowed down the test harness by a factor of 30x and scaled up the stopwatch by 3x and saw that the jitter is happening for the substring "11"

![kap6](https://user-images.githubusercontent.com/679486/89854351-f30fff80-db50-11ea-8bf6-f2444b0c13e6.gif)

Perhaps the reason I was able to see this sometimes and not other times depended on whether "11" was hit exactly on any of the time steps.

[2020-08-11 03:37] samreid commented on #616
https://blog.hubspot.com/website/web-safe-html-css-fonts says Andale Mono is a sans-serif websafe font.  It has correct spacing for "11" but unfortunately has dots in the zeros.

![image](https://user-images.githubusercontent.com/679486/89854675-b42e7980-db51-11ea-8713-31d0cf7f1d61.png)

[2020-08-11 03:50] samreid commented on #616
According to https://www.cssfontstack.com/ Lucida Grande has 100% mac support and 0% windows support, and even though it is not listed as monospace, apparently the numbers are monospaced (at least on my copy of the font).  It looks like this:

![image](https://user-images.githubusercontent.com/679486/89855287-57cc5980-db53-11ea-9ec6-78c715181945.png)

[2020-08-11 04:07] samreid commented on #615
Yes, Wave Interference has mutable units in the formatter:

[code]

@pixelzoom should this issue be blocking publication?

[2020-08-11 04:09] samreid commented on #615
@pixelzoom there are 5 sites calling `numberFormatter: {function}`.  Should we support `Property<function>|function`, or just `Property<function>`?

[2020-08-11 04:14] samreid commented on #616
Another topic for this issue, should `NumberDisplay` use monospace by default, or only for cases like the StopwatchNode?

[2020-08-11 15:52] pixelzoom commented on #616
Why are we still considering proportional fonts like Lucida Grande?  Why aren't we just using a monospaced font?  If we can find one that's sans serif, great.  If not, use a serifed.

I'd say only for StopwatchNode. This "shifting" problem is specific to StopwatchNode, not generally undesirable.

So my recommendation is to use a monospace font for StopwatchNode.

[2020-08-11 15:56] pixelzoom commented on #616
Lucida Console is monospace and looks pretty nice: https://www.w3schools.com/cssref/css_websafe_fonts.asp

[2020-08-11 15:58] samreid commented on #616
Lucida Console was the previous specification (in master), but it doesn't appear on Mac: https://www.cssfontstack.com/

[2020-08-11 16:00] pixelzoom commented on #615
Not my call.

Since there's only 1 use where a Property is actually necessary, `{Property.<function>|function}` would certainly be less of a hassle for all of the other uses.  Similar to the `range` option for `NumberProperty`.

But I'm still wondering...  If `numberFormtter` is the only thing that needs to be mutable, why don't you just make it private and create `setNumberFormatter` for mutation

[2020-08-11 16:23] ariel-phet commented on #617
I think that is a question for @arouinfar -- for all the other sims on the list I think the decimal places are fine. I would be fine with gas properties going to 1 decimal place.

[2020-08-11 16:36] pixelzoom commented on #617
Another general design issue is whether StopwatchNode's NumberDisplay should be PhET-iO instrumented.  The NumberDisplay subcomponent is instrumented in some other UI components (NumberSpinner, FineCoaserSpinner). That's currently not the case for StopwatchNode.  Yes, the client could instrument it via `numberDisplayOptions`, but not without having be responsible for making the tandem hierarchy lo

[2020-08-11 19:39] ariel-phet commented on #616
@pixelzoom I discussed with @samreid and although a "fully monospaced" font would be safer, it has some issues with the decimal and ":" taking up the same space as the numerals.

Interestingly, many proportional fonts actually have "tabular figures" -- aka monospaced numbers. We are going to go with a couple of proportional fonts the have monospaced numbers with good coverage on Mac and Windows, w

[2020-08-11 19:50] samreid commented on #616
@ariel-phet and I committed the change above and tested on Mac/Chrome, Mac/Firefox, Mac/Safari, iOS Safari, Win/Chrome, Win/Firefox.  It seems good and we recommend to close the issue.

[2020-08-11 22:33] samreid commented on #615
I added `NumberProperty.setNumberFormatter` and used it to support StopwatchNode.  Ready for review.

[2020-08-12 16:18] pixelzoom commented on #615
👍🏻 Closing.

[2020-08-12 16:18] #615 closed

[2020-08-13 00:19] arouinfar commented on #617
In general, I don't see a lot of value in letting the stopwatch run indefinitely. I can take it or leave it.

In terms of decimal places, I'll need to evaluate it sim by sim to see if that level of precision is necessary for the learning goals. I'll review each sim, and if I think changes need to be made, I'll open an issue in the sim repo. If it turns out that 1 decimal place is acceptable in mos

[2020-08-13 16:58] pixelzoom opened #618 "StopwatchNode API for numberFormatter needs work"
Related to #617 and https://github.com/phetsims/gas-properties/issues/188...  After trying to change the number of decimal places for the StopwatchNode in gas-properties, I found StopwatchNode's API to be confusing/lacking.

- [ ] `StopwatchNode.numberFormatter`  and `StopwatchNode.richNumberFormatter` provide no ability to adjust the number of decimal places.  You're stuck with 1/100th second.  I

[2020-08-13 17:00] samreid commented on #618
Likewise, I am happy to help on this.  Just let me know how it relates to my other priorities.

[2020-08-13 17:02] pixelzoom opened #619 "should StopwatchNode's NumberDisplay be instrumented?"
From https://github.com/phetsims/scenery-phet/issues/617#issuecomment-672077401:

If we decide to instrument StopwatchNode's NumberDisplay (which we've done for other UI components) then the number of decimal places that we display is becomes more important. For some sims, updating its textProperty at 1/100 intervals is spam in the PhET-iO data stream.  And/or we may need a way for the textPropert

[2020-08-13 17:17] ariel-phet commented on #619
@pixelzoom I don't think we should instrument this NumberDisplay, I am not sure why that would be useful.

I would say if a client request of this nature comes up, we would consider it, but I am not sure what purpose it would serve. In the data stream you will have the "sim time" at which the stop watch was stop and started.

Closing until this feature is requested.

[2020-08-13 17:17] #619 closed

[2020-08-15 00:01] samreid opened #620 "How is TinyEmitter.changeCount used?"
In https://github.com/phetsims/axon/issues/317#issuecomment-674294227 @zepumph said

I searched for this token and didn't see any usages either.

[2020-08-17 20:22] samreid commented on #616
Reopening, we should check that the specified fonts have support for other languages.

[2020-08-17 20:26] jonathanolson commented on #616
I believe things should fall back properly (so if the user has the first font, BUT it doesn't have the glyphs for the language needed, only that will fall back). A brief test with a CJK language or something a bit rarer sounds helpful (just specify a locale and you can verify). I don't anticipate issues.

[2020-08-17 23:20] jbphet commented on #612
The code changes look reasonable.  It looks like there are several open questions and TODO items above, so I'll unassign myself and leave open.

[2020-08-18 00:53] samreid commented on #616
zh_CN looked like this in gas properties:

![image](https://user-images.githubusercontent.com/679486/90458157-d75da980-e0ba-11ea-824a-91aa800c37ed.png)

Thanks @jonathanolson, closing.

[2020-08-18 00:53] #616 closed

[2020-08-19 01:19] samreid commented on #507
I fixed the name for the straightforward case.  For the `NumberControl` that specifies a spectrum in `sliderOptions`, the title remains `NumberControlWithSpectrum` and that seems sensible to me.  The value of creating a class that specifies that option does not seem like it will equal or exceed the cost.

Back to @pixelzoom for discussion, or close at your discretion.

[2020-08-19 03:49] samreid commented on #466
To me, it makes sense that `PlayPauseButton` requires `isPlayingProperty` since it has direct control over it.  I skimmed through every occurrence of `StepForwardButton` and `StepBackwardButton` and found they all use `isPlayingProperty` (aside from demo usages).

I can imagine we may want to repurpose `StepForwardButton` or `StepBackwardButton` to leave it always enabled (and not wired up to a pr

[2020-08-19 17:59] ariel-phet commented on #618
Since @pixelzoom is quite familiar with this work and the scope is pretty reasonable, it would be most efficient for him to do the work.

Putting this in the "as time allows" category. @pixelzoom can fit this in where he feels appropriate (likely after Ph Scale is finished and NS is in a testing phase)

[2020-08-19 20:56] pixelzoom commented on #507
Looks OK, closing.

[2020-08-19 20:56] #507 closed

[2020-08-19 20:57] pixelzoom commented on #466
Let's just leave it as is for now and forget that I brought it up :)

Closing.

[2020-08-19 20:57] #466 closed

[2020-08-24 03:48] samreid commented on #594
I created a default ResetAllButton, PlayPauseButton and TimeControlNode like so:

[code]

It looked like this:

![image](https://user-images.githubusercontent.com/679486/91001817-0c21a300-e58a-11ea-97c5-c06c27f14368.png)

The radius for the time control node play/pause button was set during https://github.com/phetsims/scenery-phet/issues/575 in https://github.com/phetsims/scenery-phet/commit/1927a

[2020-08-25 03:45] samreid commented on #569
This implementation got a lot simpler thanks to Node.boundsProperty.  `DragBoundsProperty` was generalized from code in Gas Properties.  @pixelzoom can you please review?  After everything checks out, should we schedule a dev meeting PSA?  This seems like a useful file but is only used in 2 places.

[2020-08-25 14:53] pixelzoom commented on #569
Is there a missing call to `targetHeightProperty.dispose()` in `disposeDragBoundsProperty` ?

[2020-08-25 14:58] pixelzoom commented on #569
Review:

* There is a memory leak, a missing call to `targetHeightProperty.dispose()` in `disposeDragBoundsProperty`.

* Why are `targetWidthProperty` and `targetHeightProperty` necessary?  Can't you just add a listener to `targetNode.boundsProperty` as a dependency? That would also make `disposeDragBoundsProperty` and overriding `dispose` unnecessary.

[2020-08-25 15:02] samreid commented on #569
Did you pull before reviewing?

[2020-08-25 15:06] pixelzoom commented on #569
Hmm, I thought I did, but apparently did not.  Sorry about that.

I'm wondering about this:

[code]

Does this assume that `targetNode` has its origin at its upper-left corner?  Do we need to do anything differently when that's not the case, or does DragListener take care of that?  And if we're relying on some behavior of DragListener, is that OK, should we document it, etc?

[2020-08-25 23:38] samreid commented on #569
Yes, this code assumes the `targetNode` origin is at the top left.  I confirmed this by running with ?dev and this patch:

[code]

This is as far as I can drag the stopwatch to the right:

![image](https://user-images.githubusercontent.com/679486/91237796-c6371d00-e6f8-11ea-9db6-ffcb9c5d2a6c.png)

I'm not sure how we could allow arbitrary origin, perhaps @jonathanolson can recommend how to proceed

[2020-08-26 03:49] arouinfar opened #621 "Update velocity/acceleration in PhetColorScheme and add momentum"
Discussion started in https://github.com/phetsims/collision-lab/issues/148

The colors used for velocity and acceleration in [PhetColorScheme](https://github.com/phetsims/scenery-phet/blob/master/js/PhetColorScheme.js) are holdovers from Java and we have been using different colors in HTML5.

Currently, the colors in PhetColorScheme are:
ACCELERATION: `rgb( 0, 255, 0 )`
VELOCITY: `rgb( 255, 85, 0

[2020-08-27 04:42] arouinfar commented on #617
The appropriate number of decimal places really depends on the StepForwardButton time increment. If the increment needs to be < 0.1 s, the stopwatch display should have two decimal places.

StepForwardButton increment:
* Capacitor Lab: Basics - 0.2 s
* Circuit Construction Kit: AC - 0.1 s
* Energy Skate Park -  0.02 s
* Gas Properties - 0.2 ps
* Masses and Springs (Basics) - 0.01 s
* Pendulum Lab

[2020-08-27 04:42] #617 closed

[2020-08-27 11:58] samreid commented on #618
In the commit, I added an option for the number of decimal places in StopwatchNode (only in `getRichNumberFormatter`) since it was requested for Circuit Construction Kit in https://github.com/phetsims/circuit-construction-kit-common/issues/595.

I didn't address that part, so I'll leave that top checkbox unchecked.

[2020-08-27 15:10] jessegreenberg commented on #594
https://github.com/phetsims/scenery-phet/commit/1927a5556fa11db6ee7127584dd687ac811a5985 did keep the same button size from before the re-design. But I suspect it could be increased slightly, the difference shown in https://github.com/phetsims/scenery-phet/issues/594#issuecomment-678888700 is pretty small. About half the usages of TimeControlNode are using the default radius for the PlayPauseButto

[2020-08-27 15:40] jessegreenberg commented on #594
After the above change it looks like this by default:
![image](https://user-images.githubusercontent.com/6396244/91464012-1679c080-e85a-11ea-9014-231d649e0146.png)

I inspected several of the usages of TimeControlNode and sizing seems reasonable, or change is not noticeable. @samreid back to you to review.

[2020-08-27 15:58] samreid commented on #594
That looks great, thanks!  As an additional improvement, I recommend factoring out `20.8` which now appears in these 2 spots:

[code]

Perhaps we should have `SceneryPhetConstants.DEFAULT_BUTTON_RADIUS`?

[2020-08-28 21:04] jessegreenberg commented on #594
That is a very nice idea, I moved the constant to a new SceneryPhetConstants.js. Back to @samreid.

[2020-08-31 17:18] samreid commented on #594
Code change looks good, and looks great in CCK-AC, thanks!  Closing.

[2020-08-31 17:18] #594 closed

[2020-08-31 17:25] jessegreenberg opened #622 "Uncaught Error: Assertion failed: cannot set to grabbable if already set that way"
Caught while running ?fuzz testing with multiple pointers (`fuzzPointers=2`).

[code]

Seen so far in BASE, friction, coulombs-law.

[2020-08-31 17:25] jessegreenberg commented on #622
From https://github.com/phetsims/aqua/issues/106, this should be addressed before continuing there as this was one of only a few issues with fuzzing with multiple pointers.

[2020-08-31 17:29] jessegreenberg commented on #622
It doesn't have t happen from `interrupt`, just saw it happen from `up` as well.

[2020-08-31 17:54] jessegreenberg commented on #622
Hmm I found one way to get this to happen, at least in BASE.
- Drag balloon with your finger.
- Hit ResetAllButton with second finger while keeping first down.
- Release balloon.

[2020-08-31 21:31] jessegreenberg commented on #622
At first, I thougth we needed a way to interrupt the PressListener of GrabDragInteraction.  But then I releasized the above commits would still be broken if client happened to call `GrabDragInteraction.reset` before `GrabDragInteraction.interrupt`.  So https://github.com/phetsims/balloons-and-static-electricity/commit/3cb20e83937b7433daaa43f8fcbc8d882c838862 adds a check to the interrupt to make s

[2020-08-31 21:35] jessegreenberg commented on #622
They are indeed fixed with `?fuzz&fuzzPointers=2`. @zepumph could you please review?

[2020-08-31 22:08] zepumph commented on #622
Looks good to me, thanks for doing this! Back to you to check on CT later.

[2020-08-31 22:25] jessegreenberg commented on #622
Thanks for reviewing! This wasn't on CT but was caught during https://github.com/phetsims/aqua/issues/106. Not seeing this locally anywhere anymore so closing.

[2020-08-31 22:25] #622 closed

[2020-09-09 21:49] zepumph commented on #612
I created https://github.com/phetsims/tambo/issues/121, and I looked at the encoding I used to make the MP3 files, and it was using LAME.

I don't see anything else for this issue. Closing

[2020-09-09 21:49] #612 closed

[2020-09-10 19:09] pixelzoom opened #623 "buggy fill/stroke code in FaceNode"
Noted while converting FaceNode to ES6 for https://github.com/phetsims/tasks/issues/1044.

In 72c30fee4cc1078745c7d5e64eef390aea03f5ae, @jonathanolson added this to FaceNode:

[code]

`headFillProperty` never gets used (other than to be disposed), it's `@private`, and I can find no usages where fill or stroke are mutated.  So I don't understand what the intent was here.  Did you mean to pass  `hea

[2020-09-14 17:35] pixelzoom commented on #623
I went ahead and reverted  72c30fe.  Assigning to @jonathanolson to review.  If you intended to add some feature here, feel free to make another pass at it.

[2020-09-14 18:17] jonathanolson commented on #623
I'm a bit confused, when I look at the commit, I see `this.headFillProperty` used directly by the DerivedProperty in `new DerivedProperty( [ this.headFillProperty ], ...`

Presumably in this case it could be converted to a local variable instead of a field. Objections for me to re-apply the commit, but with a local variable instead?

[2020-09-14 18:18] jonathanolson commented on #623
Also, this wraps whatever ColorDef was provided into a Color Property, so that we can properly darken that color.

[2020-09-14 18:49] pixelzoom commented on #623
Discussed with @jonathanolson and restored 72c30fe.  This is one confusing piece of code, but I don't have time to improve it.  Feel free to do whatever you want with it.

[2020-09-14 21:25] pixelzoom opened #624 "MemoryTestsScreenView is buggy duplicate code"
Noted while working on https://github.com/phetsims/tasks/issues/1044, converting classes to ES6.

In https://github.com/phetsims/sun/commit/6a61a07d74b3871b6d4c8d01c48413dafa45384b, I converted sun's MemoryTestsScreenView to ES6, and did some major clean up.

Then I discovered that scenery-phet had an almost identical copy, also named MemoryTestsScreenView.  That copy has a ton of dead (commented

[2020-09-14 21:27] samreid commented on #624
It looks like the sun one is more up-to-date.  Likely scenery-phet should use the same strategy or implementation.

[2020-09-14 21:29] pixelzoom commented on #624
The sun one is more up-to-date because of phetsims/sun@6a61a07.

[2020-09-14 21:42] pixelzoom commented on #624
Ready for review and additional cleanup by @samreid.

Could you please add documentation to the header comment? What are we testing about memory? Are we just testing that dispose isn't leaking, or something more?

SceneryPhetMemoryTestsScreenView is now a subclass of MemoryTestsScreenView.  I deleted all of the dead code in SceneryPhetMemoryTestsScreenView.

After fixing the iteration bug in Scene

[2020-09-15 14:04] pixelzoom opened #625 "CT: Cannot set property 'grabDragInteraction' of undefined"
In d8270ac9df1cf0ac17c30e11b27df728805b6e4f, @zepumph added

[code]

When I converted `function( layoutBounds )` to `layoutBounds =>` for https://github.com/phetsims/tasks/issues/1044, that resulted in `this` becoming undefined, and CT failing with:

[code]

To reproduce manually:
1. Run the scenery-phet demo
2. Go to "Components" screen
3. Choose "GrabDragInteraction" from combo box

I could reve

[2020-09-15 14:09] pixelzoom commented on #625
Fixed in the above commit. @zepumph please review.

[2020-09-15 19:54] zepumph commented on #625
Sorry about the trouble, it was indeed to bypass the lint error. I updated the disable comment though. As you wrote it, it disabled the rule for the rest of the file.

[2020-09-15 19:54] #625 closed

[2020-09-15 19:59] pixelzoom commented on #625
Thanks for fixing the eslint-disable comment.  I didn't realize the distinction, and I made (and fixed) the same mistake in NaturalSelectionScreenView.

[2020-09-19 18:28] pixelzoom opened #626 "convert NumberPicker to ES6 and new input listeners"
For https://github.com/phetsims/tasks/issues/1044 (ES6 conversion) and https://github.com/phetsims/scenery/issues/1078 (conversion to new input listeners).  Promoting this to its own issue because it was more complicated than other conversions, the work was spread out over several commits, commits were not properly associated with relevant issues, it apparently resulted in a new issue (https://git

[2020-09-19 18:30] pixelzoom commented on #626
Since ES6 conversion touches the entire file, it's difficult to see what was changed for phetsims/scenery#1078 (new input listeners).

I've identify these commits as likely to be associated with phetsims/tasks#1044 (ES6), and tagged them as such:

https://github.com/phetsims/scenery-phet/commit/400e2ffff01263d4f2eb4c8962b974689fefbe5f
https://github.com/phetsims/scenery-phet/commit/b703053dab6228b

[2020-09-20 03:40] samreid commented on #626
The ES6 conversion was done first, in the commits labeled as "convert var => const" and "convert to class" (first 3 commits).

commit dd355d204701c8aa08e5ff976465688fb3828a5c
    Convert to class, see https://github.com/phetsims/scenery/issues/1078

commit b703053dab6228b18d113c214cd5bbbd2f9a0eec
    Convert to class, see https://github.com/phetsims/scenery/issues/1078

commit 400e2ffff01263d4f2eb

[2020-09-21 17:00] pixelzoom commented on #626
@samreid's comments in https://github.com/phetsims/scenery/issues/1078 that are relevant to my review of NumberPicker:

https://github.com/phetsims/scenery/issues/1078#issuecomment-694954322

https://github.com/phetsims/scenery/issues/1078#issuecomment-694969471:

[2020-09-21 17:40] pixelzoom opened #627 "NumberPicker cleanup"
Noted while reviewing changes to NumberPicker for https://github.com/phetsims/scenery-phet/issues/626. There is more cleanup to be done here.

Since its creation, NumberPicker used "up" and "down" terminology for its arrows.  That was a little confusing because there is also 'up' and 'down' button state. Then a11y was added to NumberPicker in bd233bf8f798e0db98a550c31bd7e73f48994b53 for #318 by @j

[2020-09-21 17:44] pixelzoom commented on #626
NumberPicker appears to be working correctly.

In the above commits:
* converted to arrow functions and named functions where appropriate (should have been done during ES6 conversion)
* added a test for `enabledProperty` to scenery-phet demo
* fixed various doc, bringing it up to PhET standards

I also noticed that NumberPicker has gotten a bit messy, to be cleaned up in #627.

@samreid  question:

[2020-09-21 17:48] pixelzoom commented on #627
I'll wait to do this work until https://github.com/phetsims/scenery-phet/issues/626 is closed.

[2020-09-21 17:48] pixelzoom commented on #627
I'll wait to do this work until https://github.com/phetsims/scenery-phet/issues/626 is closed, so that @samreid and I don't collide.

[2020-09-21 17:52] samreid commented on #626
The multilink looks like it will work well, good idea!  Let me know if you would like me to implement that change.

[2020-09-21 18:06] pixelzoom commented on #626
I implemented the Multilink.  Seems like this can be closed.  Reopen if I missed anything.

[2020-09-21 18:06] #626 closed

[2020-09-21 18:42] pixelzoom commented on #627
Here's what will change in the public API:

options:
* upFunction -> incrementFuction
* downFunction -> decrementFuction
* upEnabledFunction -> incrementEnabledFunction
* downEnabledFunction -> decrementEnabledFunction

PhET-iO:
* upInputListener -> incrementInputListener
* downInputListener -> decrementInputListener

[2020-09-21 19:04] pixelzoom commented on #627
Work is done.

Summary of what has changed in the public API:

Fields:
* In anticipation of general work on `enabledProperty` (converting to use the `EnabledComponent` mixin), visibility of `this.enabledPropery` was change from `@private` to `@public`.

These `options` were renamed in 9619ea2, and in sim-specific repos (gravity-force-lab-basics, number-line-operations, vector-addition, unit-rates)

[2020-09-21 23:05] pixelzoom commented on #345
With the NumberPicker changes in https://github.com/phetsims/scenery-phet/issues/626 and https://github.com/phetsims/scenery-phet/issues/627, ObjectPicker and NumberPicker are starting to diverge significantly.  At the very least, deprecated listeners should be replaced, ala NumberPicker.

[2020-09-22 15:42] Denz1994 commented on #607
Issues have been opened above. I'll close this one since there is nothing left to do here.

[2020-09-22 15:42] #607 closed

[2020-09-22 20:50] pixelzoom commented on #345
In the above commit, I made the following modifications to ObjectPicker, to bring it in line with NumberPicker:

* use an enumeration for ButtonState
* use increment/decrement terminology instead of up/down
* replace deprecated input listeners

[2020-09-23 18:50] ariel-phet commented on #627
Assigning @jonathanolson at high priority to review (since potentially blocks some upcoming sims)

@pixelzoom I can sign off on those name changes, they are a good change in my opinion

[2020-09-23 20:28] jonathanolson commented on #627
Changes look great! And it looks like since the tandem changes were ok'ed by @ariel-phet this can be closed.

[2020-09-23 20:28] #627 closed

[2020-09-29 01:52] jonathanolson commented on #621
Applied in common code and collision-lab. @arouinfar back to you!

[2020-09-29 03:42] arouinfar commented on #621
Thanks @jonathanolson, looks good. I've created issues in the sim repos for the outstanding work, so I think we can go ahead and close this one.

[2020-09-29 03:42] #621 closed

[2020-10-05 15:51] samreid opened #628 "StopwatchNode readout no longer respects selected units"
From https://github.com/phetsims/collision-lab/issues/140, the stopwatch readout no longer changes when selecting different units:

![image](https://user-images.githubusercontent.com/679486/95102107-3372a080-06f0-11eb-972c-a425900c86d7.png)

@ariel-phet can you please prioritize and assign?  Is this likely to affect any upcoming publications?

[2020-10-05 16:58] ariel-phet commented on #628
@pixelzoom can you take a look here - I am guessing this is a quick fix and given your recent review of StopwatchNode

[2020-10-05 23:45] zepumph opened #629 "Get rid of useless option: "arrowKeysScale""
Discovered while working on https://github.com/phetsims/ratio-and-proportion/issues/82, there are a few usages of this option but it isn't used anywhere.

[2020-10-05 23:47] #629 closed

[2020-10-06 23:11] zepumph opened #630 "Group content should become a permanent member of the "general" keyboard help section"
From https://github.com/phetsims/joist/issues/668#issuecomment-704242185, since the phet menu uses arrow keys, we should add this everywhere.

Tagging @terracoda and @jessegreenberg, but I'll implement.

[2020-10-09 16:26] terracoda commented on #630
In some issue, I think I mentioned this, but I don't remember which one.
Could we re-order the list when you implement, moving "move between items" up?

H2: Basic Actions
UL:
  LI: Move to next item or group with Tab key.
  LI: Move to previous item or group with Shift plus Tab key.
  LI: Move between items in a group with Left and Right arrow keys or Up and Down Arrow keys.
  LI: Press buttons wi

[2020-10-12 17:23] zepumph commented on #630
Sure thing, in this issue I will make that ordering, you said the same order over in https://github.com/phetsims/joist/issues/669

Also, I was wondering in the order of things, once we merge the Basic Actions into one, if the order can be like this:
**Basic Actions**
- Move to next item or group with Tab key.
- Move to previous item or group with Shift plus Tab key.
- Move between items in a group

[2020-10-12 18:02] zepumph commented on #630
The `withGroupContent` option was removed above, and always added. There was some changed to max widths where dialogs were increased in width, and went past the sim-specific max width (friction and faradays-law). But that was an easy enough change.

Here are all the sims that had group content added because they are just using the default general help section:
Friction
Faradays Law
GFL:B
Molarity

[2020-10-12 18:02] zepumph commented on #630
Next I will change the order.

[2020-10-12 18:04] zepumph commented on #630
@terracoda, everything is done here on master. Please review.

[2020-10-12 18:18] pixelzoom commented on #628
This is not a quick fix, and was apparently broken when StopwatchNode was refactored/rewritten.

In scenery-phet `ComponentsScreenView`, the value of `unitsProperty.value` (not the Property itself) is passed via the `numberFormatter` option:

[code]

There's nothing in the API that supports dynamic units. So there's no way for StopwatchNode (or its subcomponents) to know that the units have change

[2020-10-12 18:19] pixelzoom commented on #628
Labeling as blocking until we decide otherwise.

[2020-10-13 17:13] jonathanolson commented on #283
Eek, defaultValidator was being overridden in TermAccumulator, but it now doesn't exist in the base type!

[2020-10-14 15:16] samreid commented on #628
I committed a proposed fix which seems to be working well in testing.  Ready for review/testing.

[2020-10-14 20:51] pixelzoom opened #631 "Replace TextKeyNode subclasses with static methods"
Noted while converting to ES6 `class` for https://github.com/phetsims/tasks/issues/1044.

scenery-phet/js/keyboard/ contains a bunch of subclasses of `TextKeyNode` that all look like this:

[code]

Rather than having a bunch of classes that don't do anything except provide a specific string (and have to convert them to ES6 class!), it would be nicer to have static methods on TextKeyNode.  For exam

[2020-10-14 21:21] jbphet opened #632 "Documentation of listener arrays seems incorrect"
While working on https://github.com/phetsims/faradays-law/issues/174 I noticed that the commentary in `GrabDragInteraction` that describes `listenersForDrag` and `listenersForGrab` seems incorrect and was hard to understand.  The documented type is `{Function[]}`, but the types in all examples that I saw are definitely not function arrays.  Also, it talks about swapping the PDOM structure - which

[2020-10-14 21:25] jbphet opened #633 "GrabDragInteraction onGrab should forward an event"
While working on https://github.com/phetsims/faradays-law/issues/174, I found myself wanting to interpret the event in the `onGrab` handler that I was using in an instance of `GrabDragInteraction` so that I could tell whether the drag came from the keyboard or a mouse/touch action.  I ended up finding another way to accomplish what I needed to do, but I think others in the future may run into the

[2020-10-14 21:56] pixelzoom commented on #631
Done in the above commits. After consulting with @jessegreenberg, we decided to use the same names for string keys and TextKeyNode method names. For example, `sceneryPhetStrings.key.alt` is rendered by `TextKeyNode.alt()`.

I reviewed the keyboard help in BASE, coulombs-law, GFL, molarity, ratio-and-proportion, and scenery-phet demo. I didn't see any problem, but it would be good to have a second

[2020-10-15 15:32] pixelzoom commented on #628
In https://github.com/phetsims/scenery-phet/issues/628#issuecomment-707274553, I said:

The above fix is specific to scenery-phet demo, and it not handled by StopwatchNode.  So does that mean that StopwatchNode is not expected to handle dynamic units?  If the answer is "yes", that's fine with me.  But the title of this issue ("StopwatchNode no longer respects selected units") seems to imply that d

[2020-10-15 15:36] samreid commented on #628
Yes, this was only fixed in the demo, but it provides an example of how to change the units for a StopwatchNode:

[code]

Would you like that API to be improved before we close this issue?

[2020-10-15 15:42] pixelzoom commented on #628
Slack:

To clarify for https://github.com/phetsims/scenery-phet/issues/628...  StopwatchNode did not previously support dynamic units, correct?

Not directly, no.

Then I'm fine with just closing this. If that feature becomes a common needed, we can add it later via a new issue.

[2020-10-15 15:42] #628 closed

[2020-10-15 18:35] pixelzoom opened #634 "convert FormulaNode to ES6 patterns"
Related to https://github.com/phetsims/tasks/issues/1044, Convert common-code repos to ES6 patterns:

`FormulaNode` is problematic.  It overrides methods that depend on the existence of `this` fields that are created before `super` is called.

@jonathanolson could you please take care of converting this one?

[2020-10-17 01:54] zepumph opened #635 "Update SliderKeyboardHelpSection with more options"
In https://github.com/phetsims/ratio-and-proportion/issues/82, a slider variation was desired for the ratio hands. Instead of duplicating this all over the place, I think making the slider keyboard section more powerful is the way to go. Basically the customization needed is to:

* Change the title (already supported)
* Change the verb (from "adjust" to something else, like "move")
* Maximum word

[2020-10-17 01:55] zepumph commented on #635
We have to be careful here, as published sims have been sent out with string keys used in this dialog, so we may need to add new ones without removing the current, hard-coded ones.

[2020-10-17 02:20] zepumph commented on #635
@jessegreenberg could you give this a spot check before I take over the conversion of GFL. Note that I kept old keys for published version.

[2020-10-23 18:48] jbphet opened #636 "The behavior of GrabDragInteraction appears to have changed in an undesirable way"
In the published version of Friction (v1.5.10), if the user drags a book with the mouse and then uses the keyboard to navigate to the same book, the grab cue is still shown.  In the current master version, the grab cue is _not_ shown for the same sequence of events.  This was discovered when working to add similar grab cue behavior to Faraday's Law in https://github.com/phetsims/faradays-law/issue

[2020-10-26 18:49] jessegreenberg commented on #636
This was done in the above commit. I removed `successfulDrag` and `grabsToCue` and replaced with two functions `showDragCueNode` and `showGrabCueNode` which are used instead when checking whether these Nodes should be displayed.

@zepumph can you please review the changes?

[2020-10-26 22:52] zepumph commented on #636
Your changes look really good. I felt like we could factor things out into a single function. What do you think?

[2020-10-27 16:59] zepumph opened #637 "AccessibleValueHandler.endInteractionUtterance improvements"
I got here from https://github.com/phetsims/ratio-and-proportion/issues/214, and feel like we could do a bit more here. In that issue @terracoda said:

That particular comment doesn't apply here, but it got me thinking on the following updates:

* rename to `interactionEndUtterance`
* make it a `ValueChangeUtterance` (maybe?)
* allow options to be passed into the utterance so that it can be tweake

[2020-10-27 19:05] jessegreenberg commented on #636
Yep, that is great thanks! Tested that it still works in faradays-law and friction. Since that was the only comment and @jbphet verified this is working in https://github.com/phetsims/faradays-law/issues/174 I think this can be closed.

[2020-10-27 19:05] #636 closed

[2020-10-27 20:00] jessegreenberg commented on #637
Discussed with @zepumph -

We reviewed usages of ValueChangeUtterance and determined that it should be removed and replaced with AccessibleValueHandler.a11yCreateValueChangeAlert. Almost all of the existing usages of ValueChangeUtterance should be straight forward except for ones in gravity-force-lab-basics and in molarity.

In gravity-force-lab-basics, the usage around the `secondaryPositionChang

[2020-10-27 20:57] jessegreenberg commented on #571
@zepumph and I reviewed this old issue during meeting today, in general the pattern looks OK for global listeners. There is some cleanup to do in phetsims/scenery#1048, but nothing else for this issue.

[2020-10-27 20:57] #571 closed

[2020-10-29 22:52] zepumph commented on #637
After thinking this through a bit more, I don't feel like this is correct. It assumes that the alt input listeners are added to the same Node as the mouse/touch listeners. This is often not true. Furthermore, `up` is the most granular that we can be in AccessibleValueHandler, but we could do a lot better by calling the same function in DragListener.end(). I think that a more appropriate way to han

[2020-10-30 00:27] zepumph opened #638 "Convert usages of ValueChangeUtterance to use AccessibleValueHander.a11yCreateContextResponseAlert()"
from https://github.com/phetsims/scenery-phet/issues/637.

@jessegreenberg and I think that for simple cases where we need the context response to accompany an interaction driven by AccessibleValueHandler (through aria-valuetext), we can use AccessibleValueHandler instead of implementing our own utterances.

From https://github.com/phetsims/scenery-phet/issues/637#issuecomment-717504764:

I also t

[2020-10-30 00:29] zepumph commented on #637
I did some renaming here, and created https://github.com/phetsims/scenery-phet/issues/638. The main thing left for this issue is to discuss the two "arbitrary values" that control the alert stable delay of utterance. I feel like at the very least these should be options, since we are here right now. They both feel like they may need to be updated based on the usage, and how long the object respons