[2015-11-14 21:00] pixelzoom commented on #196
Looks pretty nice to me. Could you publish a dev version of the scenery-phet demo, so that we can play with it?

[2015-11-16 04:22] pixelzoom opened #205 "add namespace"
see https://github.com/phetsims/tasks/issues/378

[2015-11-16 05:33] pixelzoom opened #206 "bad call to FaceNode.grimace"
FaceNodeWithPoints has a call to FaceNode.grimace, which no longer exists.

[2015-11-16 05:41] #205 closed

[2015-11-16 05:42] pixelzoom commented on #206
FaceNode.grimace was deleted in phetsims/vegas#29.

[2015-11-16 05:48] pixelzoom commented on #205
Reopening. Looks like I broke something, acid-base-solutions is misbehaving.

[2015-11-16 05:54] pixelzoom commented on #205
Fixed. I had messed up the inner type in LightBulbNode.

[2015-11-16 06:56] #206 closed

[2015-11-16 18:55] samreid commented on #196
In attempt to avoid the overhead of a branch (which I perceive as (a) create the branch (b) create an issue for the branch (c) commit the changes to the branch (d) publish from the branch (e) delete the remote branch (f) delete the local branch (g) close the branch issue), I have pasted the code into this comment https://github.com/phetsims/scenery-phet/issues/196#issuecomment-156618209 and commen

[2015-11-16 18:58] jonathanolson commented on #196
I've made working-copy changes, built a sim and put it under spot's dev/olsonjb before. I don't have a problem with individual built sim files that aren't possible to produce, but I wouldn't want them put up as dev versions (in the main dev directories).

[2015-11-16 19:33] pixelzoom commented on #196
Checking the change into master, build a dev version, revert master?

[2015-11-16 19:49] samreid commented on #196
If we suspect that this new version solves the problem in the previous version and initial feedback is that it looks pretty nice, can I just leave the change in master instead of immediately reverting it?  Or are there imminent master-based redeploys that must use the old ProbeNode?

[2015-11-16 20:01] pixelzoom commented on #196
Less time to just do it than discuss it.

http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.13/scenery-phet_en.html?screens=3&component=ProbeNode

@ariel-phet please play with the "Light Angle" control and comment on whether this looks OK to you.

[2015-11-16 20:32] jonathanolson opened #207 "Embedding mark handling for SubSupText/MultilineText"
See https://github.com/phetsims/rosetta/issues/103 for the problem.

A description of the ideal solution is that if we need to split up a string like:
[code]
that a utility would handle the extraction of directional chunks, like:
[code]
In this case, we'd want to handle general embedding mark levels, with an API like StringUtils.extractText( startIndex, endIndex ).

SubSupText currently uses jQuer

[2015-11-16 23:43] pixelzoom opened #208 "scenery-phet: defaults for touchArea dilation should be zero"
Search for touchArea = to find cases where a default touchArea is being set.

Scenery-phet is a collection of UI components useful in PhET sims. It has no prior knowledge about how large a UI component will be. The client has control over the size of the UI component. So (imo) the client should also be responsible for deciding whether touchAreas (and pointerAreas) require dilation.

For some compo

[2015-11-17 23:48] pixelzoom opened #209 "should MultiLineText scale all lines uniformly when using 'maxWidth' option?"
Something is not quite right with how MultiLineText is handling the `maxWidth` option. It's scaling each line individually, which is probably not what we want.

For example, in models-of-the-hydrogen-atom.BoxOfHydrogenNode, we have this string:

`"Box of\nHydrogen"`

And with `?stringTest=double`, it looks like this when `maxWidth` is set:

![screenshot_66](https://cloud.githubusercontent.com/asse

[2015-11-17 23:50] pixelzoom commented on #209
Looks like this would be easy to fix.  In MultiLineText, change line 72 from this:

`return new Text( line, _.omit( thisNode.options, 'align' ) );`

to this:

`return new Text( line, _.omit( thisNode.options, 'align', 'maxWidth' ) );`

[2015-11-17 23:51] pixelzoom commented on #209
With the above change, the example looks like this:

![screenshot_67](https://cloud.githubusercontent.com/assets/3046552/11228660/7de46636-8d4b-11e5-9e89-575d7a115ac1.png)

Looks correct to me, so I'm going to go for it.

[2015-11-17 23:53] pixelzoom commented on #209
@samreid would you mind reviewing? Should be a quickie.

[2015-11-18 01:08] ariel-phet commented on #55
This work can wait. Closing this issue, we can make an issue for these features if/when it becomes necessary.

[2015-11-18 01:08] #55 closed

[2015-11-18 17:50] pixelzoom opened #210 "implement a standard close ('X') button"
I need a close button in models-of-the-bydrogen-atom. With all of the work that's been done on dialogs and other sims, I'm surprised to find that there is no such thing. I see 3 almost-identical implementations, which look like code has been copy-pasted: in neuron, under-pressure, and fluid-pressure-and-flow.

For example, in neuron.MembranePotentialChart:

[code]

[2015-11-18 17:56] pixelzoom commented on #210
CloseButton push. Issues created for the sims (that I could identify) that have this duplicated code.

@jbphet please review.

[2015-11-18 18:14] jbphet commented on #210
Looks good to me, thanks for doing this.  Closing.

[2015-11-18 18:14] #210 closed

[2015-11-18 21:05] pixelzoom opened #211 "WavelengthSlider: support UV and IR wavelengths"
In models-of-the-hydrogen-atom (MOTHA), we need a wavelength slider that supports UV wavelengths. It looks like this in the Java version:

![screenshot_76](https://cloud.githubusercontent.com/assets/3046552/11254307/238ecb7e-8dfd-11e5-9193-078e4c17ad26.png)

PhET has `scenery-phet.WavelengthSlider`, but it only supports visible wavelengths. It looks like this:

![screenshot_77](https://cloud.githu

[2015-11-19 17:52] jonathanolson commented on #207
Even if HTMLText had the correct bounds, SubSupText has improved visual appearance still, so we'd probably keep it anyways? (https://github.com/phetsims/scenery-phet/issues/29).

Since both SubSupText and MultiLineText are in scenery-phet, I'm planning on putting the associated string embedding-mark slice support into phetcommon's StringUtils.

[2015-11-19 18:08] pixelzoom commented on #207
Good point, SubSupText gives us "tweaking ability" that we're going to continue to need.

[2015-11-19 20:58] pixelzoom commented on #211
In Java, `piccolophet.WavelengthControl` handled "visible wavelengths, plus optional UV and IR wavelengths".  In MOTHA, it was extended in `GunWavelengthControl`.   So I would investigate adding features to `scenery-phet.WavelengthSlider`.

[2015-11-19 23:03] jonathanolson commented on #207
I have working-copy solutions and improvements, but will need to wait until later tonight before committing (didn't have time for automated tests again).

[2015-11-20 00:53] jonathanolson commented on #207
Support is complete, @pixelzoom, do you mind reviewing the SubSupText (and reviewing or referring review for StringUtils/MultiLineText?)

[2015-11-29 06:03] samreid commented on #196
My intention during these changes was to match the visual style of the previous iteration but without the visual glitches.  I was able to get close to the same look but with a different implementation strategy.

In the new implementation, the shading is handled in this code:

[code]

The highlights are now handled completely with colorUtilsBrightness and no longer using alpha.  We could introduce

[2015-11-30 20:29] ariel-phet commented on #196
@samreid go ahead an commit the proposed change, we can see it in the sim itself. My guess is that it will be fine.

[2015-12-04 06:33] samreid commented on #196
After the change, here is how it looks in the sim:

![image](https://cloud.githubusercontent.com/assets/679486/11583364/26b0a3f2-9a16-11e5-94c0-067e6b73daec.png)

Committing shortly...

[2015-12-04 06:37] samreid commented on #196
Committed above, @ariel-phet @pixelzoom where do you want to go next?  Let me know if you want me to create a dev version.

[2015-12-04 07:02] samreid commented on #209
Yes, this solution looks correct because it scales the entire node (with 0+ Text instances) rather than setting maxWidth on each Text instance *and* the parent.  I tested some values in MOTHA and it worked as expected, closing.

[2015-12-04 07:02] #209 closed

[2015-12-04 17:12] pixelzoom commented on #196
In https://github.com/phetsims/scenery-phet/issues/196#issuecomment-161890131 @samreid wrote:

Clearly not pH Scale (unless you changed the background color), which has been "the sim" discussed so far. Which sim is this?

[2015-12-04 17:20] samreid commented on #196
I put the probe in front of a solution.

[2015-12-04 19:26] pixelzoom commented on #207
Skimmed the related files, looks good to me, and well documented. Closing.

[2015-12-04 19:26] #207 closed

[2015-12-04 23:57] ariel-phet commented on #196
@samreid yes please publish a dev version.

[2015-12-05 01:14] samreid commented on #196
Published here: http://www.colorado.edu/physics/phet/dev/html/ph-scale/1.3.0-dev.2/ph-scale_en.html

[2015-12-07 16:19] ariel-phet commented on #196
Ugh...I hate to say this, but when I compare to the published sim, this just looks "off"...especially when I put the probe in a dark solution (like blood). The new probe just has way too much white in the highlight (why I was hoping we could adjust the alpha), and there also appears to be a slight highlight on the inner left radius, which seems odd and inconsistent.

![ph](https://cloud.githubuser

[2015-12-07 16:20] ariel-phet commented on #196
I think the basic message is that the specular highlight really should be subtle, the current implementation is far too "shiny".

[2015-12-07 16:50] samreid commented on #196
Good discovery @ariel-phet, it seems the probe node was optimized against a white background.  It seems like the edge of the probe should be more gray, like the image.  I'll take a look.

[2015-12-07 16:52] samreid commented on #196
@pixelzoom commented in https://github.com/phetsims/build-an-atom/issues/110#issuecomment-162576942

The highlight was toned down in https://github.com/phetsims/scenery-phet/commit/33f3162822238368ddac713bf7d4c6c7bcddee86 by increasing the transparency:

[code]

Looks like this change may not have been incorporated when the overall gradient approach was changed.

[2015-12-08 14:14] samreid commented on #196
I changed the first stroke color stop (line 168) to 'gray' and now it looks like this (against the blood solution):

![image](https://cloud.githubusercontent.com/assets/679486/11657576/ef18443c-9d7a-11e5-97d0-e677b0e89396.png)

And like this against white:
![image](https://cloud.githubusercontent.com/assets/679486/11657588/06b69b5c-9d7b-11e5-905b-b8418261b555.png)

Screenshots seem OK?  Shall I pu

[2015-12-08 16:51] pixelzoom commented on #196
Gray won't necessarily look great on all probe colors. Any reason why the stroke can't be white with transparency, so that the color of the probe is mixed into the highlight?

[2015-12-08 16:54] samreid commented on #196
I believe the stroke extends beyond the fill of the shape, so with transparency, that part of the shape would look translucent.  To solve that: we could add another solid stroke layer in back, then transparency in front?  May be good to collaborate on with 2 pairs of eyes.  I'll flag for discussion in developer meeting to see if @pixelzoom wants to look at this with me afterwards.

[2015-12-08 17:45] pixelzoom commented on #196
12/8/15 dev meeting - @samreid and I will pair on this when I'm feeling better.

[2016-01-05 17:46] pixelzoom opened #212 "NumberPicker arrow buttons continue to fire after they are made invisible"
See https://github.com/phetsims/balancing-chemical-equations/issues/111#issuecomment-169071400.

In `NumberPicker.setVisible`, we need to stop the timers associated with the `FireOnHoldInputListener`s associated with the arrow buttons.  We'll need to add something like a `cancel` function to `FireOnHoldInputListener`, then change `NumberPicker.setVisible` to something like this:

[code]

[2016-01-05 17:56] pixelzoom commented on #212
Looks like we don't need to augment `FireOnHoldInputListener`, we can use the existing `setEnabled` feature in `NumberPicker.setArrowsVisible`:

[code]

[2016-01-05 17:59] pixelzoom commented on #212
Since this looks like a relatively quick fix, I'll go ahead and do it, next time I have an iPad handy to test multitouch.

[2016-01-05 19:22] jonathanolson opened #213 "RulerNode cleanup/improvement"
Many options are undocumented, and https://github.com/phetsims/pendulum-lab/issues/116 points out potential API improvements and potential dead code.

We should either document or rewrite the API, to make clear things like "can unitsMajorTickIndex be fractional", and the preferred method of having major ticks that aren't labeled (right now, the empty string needs to be provided in the majorTickLab

[2016-01-05 19:45] jonathanolson commented on #213
As noted in the other issue, that code is not dead, and will trigger if unitsMajorTickIndex is an integer.

[2016-01-05 19:47] pixelzoom commented on #213
As noted in https://github.com/phetsims/pendulum-lab/issues/116#issuecomment-169108472 ...

[2016-01-07 21:18] jbphet opened #214 "need a generalized model element creator node"
There is a behavioral pattern that is used in a number of PhET's simulations where a Scenery node exists somewhere in the view - often in a carousel or tool box - and can be clicked and dragged in order to create a 'real' instance of the item that the node represents.  @pixelzoom recently needed to create such behavior in function-builder, and used `ShapeCreatorNode` in area-builder as a starting

[2016-01-07 21:20] jbphet commented on #214
I'm assigning this to myself to start with and will implement the suggestions that @pixelzoom made in https://github.com/phetsims/area-builder/issues/83 in each of the sims listed above where it makes sense to do so.

[2016-01-07 21:27] pixelzoom commented on #214
FYI, my version of this is `function-builder.FunctionCreatorNode`.  Some of the responsibilities of `ShapeCreatorNode` were moved elsewhere.  From the JSdoc, FunctionCreatorNode has the following responsibilities:

[code]

This will likely be generalized further when I create `function-builder.CardCreatorNode`.

[2016-01-08 18:12] jbphet commented on #214
I implemented the suggested improvements from https://github.com/phetsims/area-builder/issues/83 in all of the repos listed in comment https://github.com/phetsims/scenery-phet/issues/214#issue-125486494 except for bending-light, which is doing things a bit differently.  Assigning to @pixelzoom to follow up after doing more generalization for function-builder.  We can pick up the discussion then to

[2016-01-08 18:14] pixelzoom commented on #214
Unlikely that I'll get to this until we're in the end game for Function Builder.  So sometime in August or September 2016.

[2016-01-08 18:16] samreid commented on #214
ShapeCreatorNode is searching up the tree for the ScreenNode.  Is this because that is the view coordinate frame associated with the model view controller?

[2016-01-08 18:29] pixelzoom commented on #214
ShapeCreatorNode searches for the parent ScreenView.  And yes, the parent ScreenView's local coordinate frame is assumed to be equivalent to the model coordinate frame (there is no model-view transform).  See line 114 & 116.

[2016-01-08 20:02] pixelzoom commented on #214
Put a TODO in FunctionCreatorNode to remind me to address this later in the function-builder development process. Unassigning until then.

[2016-01-08 20:07] samreid commented on #214
Here are my notes from when I was investigating this issue recently:

"Add a drag handler for items in a toolbox/carousel/bucket" https://github.com/phetsims/scenery-phet/issues/186

In the issue description, I identified simulations with toolboxes and the different kinds of dragging behavior we would need to support.

[2016-01-08 20:13] samreid commented on #214
For Bending Light, I developed ToolIconListener.js which operates by transmitting events from the toolbox icon to the play area instance.  This makes it very easy to reuse the MovableDragHandler, including its constrained drag bounds and making sure the drag behavior when dragging from the toolbox matches the drag behavior when dragging from the play area.  Here is sample usage from IntroView.js:

[2016-01-08 20:21] pixelzoom commented on #212
Fix applied, will be verified in the context of https://github.com/phetsims/balancing-chemical-equations/issues/111. If that issue is verified, then this issue can be closed.

[2016-01-08 20:22] pixelzoom commented on #212
Related to RC test https://github.com/phetsims/tasks/issues/371.

[2016-01-08 21:20] pixelzoom commented on #212
Verified in phetsims/balancing-chemical-equations#111, closing.

[2016-01-08 21:20] #212 closed

[2016-01-09 14:16] samreid commented on #214
ToolIconListener currently only supports pre-existing model items, but we could modify it so it dynamically creates items when the toolbox item is dragged.  The main advantage of the ToolIconListener strategy is that the behavior of the drag listener is identical whether the object is dragged from the toolbox or from the play area--for instance if (a) something is supposed to happen when the item

[2016-01-09 14:21] samreid commented on #214
Tagging @jonathanolson and marking for developer-meeting in case we cannot conclude the discussion before then.

[2016-01-12 18:17] jbphet commented on #214
At the dev meeting on 1/12/2016 we all agreed that this is a good idea, but no one has enough time to give it the attention required to do it well.  I will try to give it some thought as I work on Expression Exchange, @pixelzoom will do the same while working on Function Builder, and @samreid as he works on CCK.

[2016-01-12 22:20] pixelzoom commented on #211
This issue is very low priority, since I'm unlikely to get to MOTHA development until Fall 2016.  Unassigning until then.

[2016-01-14 15:30] pixelzoom commented on #196
I've been feeling better for quite awhile. Now all I need is some time.

[2016-01-14 15:34] pixelzoom commented on #196
I was going to suggest investigating whether we could add support to scenery for stroking "inside" and "outside".  But the advertising banner at http://www.w3schools.com/cssref/css3_pr_outline-offset.asp seems to be offering me advice:

![screenshot_107](https://cloud.githubusercontent.com/assets/3046552/12328662/9d4926e4-ba99-11e5-9f03-b08a7c357130.png)

[2016-01-14 15:37] pixelzoom commented on #196
In https://github.com/phetsims/scenery-phet/issues/196#issuecomment-162943771, @samreid suggested:

That sounds like it would work. Do you think we should compensate for the extra "size" that this would add?

[2016-01-14 16:56] jonathanolson commented on #196
Using a smaller stroke in front and a thicker stroke in back is probably the fastest way, depending on what types of curves are used.

You can also create offset-shapes (dilated/eroded) and stroke those. If an elliptic/quadratic/cubic segment is offset, it is discretized (converted to a lot of line segments), and that might potentially hurt performance.

[2016-01-22 18:59] pixelzoom commented on #214
Function Builder is ultimately going to use a different pattern, and will not be creating model elements dynamically.  And since I didn't create any of the "duplicate" code identified in https://github.com/phetsims/scenery-phet/issues/214#issue-125486494, I have no plans to work on generalizing.

[2016-01-22 19:07] pixelzoom commented on #214
In 1/21/16 dev meeting, @jonathanolson identified this bit of code as particularly "smelly" (my adjective). This is shared by most (all?) of the above "duplicates".

[code]

A couple of things:

(1) It would be better to simply pass in the ScreenView, rather than searching up the scenegraph.

(2) The parent ScreenView is used to transform pointer location from view to model coordinate frame.  The

[2016-01-22 20:03] pixelzoom commented on #208
In dev meeting, we decided:
(1) It's undesirable to have default pointer areas in libraries that are supposed to be useful outside of PhET (eg, scenery, sun).
(2) It is desirable to have touchAreas values that are "generally useful" in PhET-specific libraries (eg, scenery-phet).

Whether the current defaults are really "generally useful" is a separate issue. But there's no need to eliminate defaul

[2016-01-22 20:03] #208 closed

[2016-01-22 20:05] pixelzoom commented on #171
@samreid In light of the work you did recently in phetsims/together#236, should this issue be closed?

[2016-01-22 20:14] pixelzoom commented on #171
I believe that the

[2016-01-22 20:16] pixelzoom commented on #171
I believe that the above recommendation is no longer valid.  If we implemented the proposal in  https://github.com/phetsims/sun/issues/192#issuecomment-169191660, then:
(1) tandem is passed through to supertype, and
(2) tandem.createSupertypeTandem is used in subtypes

[2016-01-22 20:24] pixelzoom commented on #195
I'm considering using this feature, but I see that it hasn't been reviewed.  @jbphet when do you think this might be closed?

[2016-01-23 03:20] samreid commented on #214
We really need a general solution that works for both cases of (a) creating model elements and (b) dragging pre-existing elements.

[2016-01-23 03:28] samreid commented on #171
Correct, we are going to try sun#192 next, closing.

[2016-01-23 03:28] #171 closed

[2016-01-23 18:00] pixelzoom commented on #214
Then perhaps we should change the title of this issue, since it implied that we're trying to generalize the "creator" pattern.

[2016-01-23 23:49] samreid commented on #214
In my opinion the general issue is "Add a drag handler for items in a toolbox/carousel/bucket" tracked in #186 which concluded with the thoughts:

We discussed this and are going to close this issue. If anyone else wants to find a way to generalize this, that would be awesome.

[2016-01-25 16:57] jbphet commented on #195
I'll look at it today and will try incorporating into Expression Exchange as a test case.

[2016-01-25 20:41] jbphet commented on #195
I've reviewed this, and the idea seems sound and the changes look good.  Here are a few minor notes:

There is a comment in the constructor documentation that says,
[code]
I don't like the sound of that - we shouldn't mention specific simulation use cases in the documentation if we don't think they should be fully supported.  Is this comment still true? Can the documentation be updated or can the

[2016-01-25 21:13] jbphet commented on #195
Integration into Expression Exchange isn't going to be as quick as I'd initially thought because the creation pattern currently used in that sim doesn't have immediate access to the node that is created by the view, so I'll need to figure out how best to handle this.  I'll go ahead and turn this back over to @samreid to address the notes above and so that @pixelzoom can start looking at using it,

[2016-02-03 06:13] samreid commented on #196
Rather than adding another solid layer in the back, which would need to be matched properly to the front transparent layer to look right, I tried just toning down the stroke highlight/shadows.  Originally went from 0.7 to -0.5.  Taking this to 0.2 to -0.2, it looks like this against blood:

![image](https://cloud.githubusercontent.com/assets/679486/12774451/4712c91a-ca02-11e5-8355-b47a2deed8c3.png

[2016-02-03 07:01] samreid commented on #195
@jbphet thanks for your review.  It looks like all of the Bending Light cases are now using Property, so I've removed that disclaimer.  I renamed the methods as you recommended, and it seems good.  I added myself to the list of authors and updated the copyright date.  Reassigning to confirm changes and see if there is anything else to do here.

[2016-02-03 15:41] jbphet commented on #195
Changes look good, closing.

[2016-02-03 17:58] ariel-phet commented on #196
@samreid that looks good in the screenshots, but would be best to look at as a dev version to see in context. However, we just made a bunch of changes to concentration/BLL, I would want to make sure this has very little chance of mucking anything up if we try it out in a dev version.

[2016-02-03 18:09] pixelzoom commented on #196
Let's visit this sometime next week, after the feature requests to the "Concentration" screen have been delivered to the customer.

[2016-02-03 19:25] jessegreenberg opened #215 "SubSupText options support"
It looks like a few options in SubSupText are no longer supported.  Options ```subXSpacing``` ```supXSpacing``` and ```supYOffset``` have no effect and are never referenced in the node construction.

[2016-02-03 20:02] jessegreenberg commented on #215
It looks like these options were removed from construction in commit 3b640aaa273c05945b0a4048db277ae4d98bc35c for compatibility with embedding marks.

Added them back, @jonathanolson would you mind reviewing?

[2016-02-04 00:10] jonathanolson commented on #215
Yikes, sorry! Looks good, closing.

[2016-02-04 00:10] #215 closed

[2016-02-04 00:55] samreid commented on #196
There are a few risk-free ways we can proceed, one possibility would be if @ariel-phet has a some ~10 minutes or so:
1. Navigate to scenery-phet/js/ProbeNode.js in your working copy
2. On line 168, change 0.7 to 0.2
3. On line 169, change -0.5 to -0.2
4. Test in Beer's Law Lab, and Ph Scale and Ph Scale basics
5. Revert changes when done

This also has the advantage that if +/-0.2 is too dark/brig

[2016-02-04 18:29] pixelzoom opened #216 "implement EyeDropperNode.dispose"
EyeDropperNode currently leaks memory if instances are created that don't exist for the lifetime of the sim. Need to implement `dispose`.

[2016-02-04 18:37] pixelzoom commented on #216
Work completed. @jessegreenberg randomly chosen to review.

[2016-02-05 00:27] jessegreenberg commented on #216
Looks good overall.  However, in ```this.disposeEyeDropperNode```, I think the ```emptyObserver``` was meant to be unlinked.

[code]

[2016-02-05 20:21] pixelzoom commented on #216
Ah, copy-paste error, good catch @jessegreenberg .  Fixed and closing.   Feel free to take a peek.

[2016-02-05 20:21] #216 closed

[2016-02-10 16:18] ariel-phet commented on #196
@samreid @pixelzoom can we publish a dev version?

[2016-02-10 16:19] samreid commented on #196
I can do this.

[2016-02-10 16:24] samreid commented on #196
I committed above but realized I have many working copy changes in several repos that I'm not ready to commit yet, so @pixelzoom please feel free to publish or I'll do it once my working copy is clean.  Alternatively @ariel-phet could pull the change above and test locally (or using phet-test).

[2016-02-10 16:30] ariel-phet commented on #196
happy to pull the change

[2016-02-10 16:46] pixelzoom commented on #196
@ariel-phet Not sure which dev version you had in mind.  But it's worth reviewing in ph-scale, beers-law-lab, and scenery-phet (Components screen).  Looks nice to me.

[2016-02-10 16:53] ariel-phet commented on #196
@pixelzoom will check all three

[2016-02-10 17:18] ariel-phet commented on #196
All looking good to me. Feel free to close if you feel the work is done @samreid

[2016-02-10 17:22] samreid commented on #196
Thanks for your help improving the look of this component @ariel-phet and @pixelzoom, closing.

[2016-02-10 17:22] #196 closed

[2016-02-12 00:41] pixelzoom opened #217 "layout options for NumberControl"
NumberControl currently has a fixed layout, which looks like this:

![screenshot_06](https://cloud.githubusercontent.com/assets/3046552/12995494/1138d548-d0e5-11e5-936c-73bbc0814c15.png)

Other desired layouts:

(1) Similar to above, but with arrow buttons on either side of value. Eg in Bending Light:

![screenshot_09](https://cloud.githubusercontent.com/assets/3046552/12995554/7f78bc62-d0e5-11e5-

[2016-02-12 00:44] pixelzoom commented on #217
Btw... This came up during Rutherford Scattering design meeting.  There are lots of places in PhET sims where we combine a label + value + arrow buttons (aka "tweakers") + slider into a single logical UI component.  And apparently developers have been creating (or copying) this component repeated.  Adding more flexible layout to NumberControl would allow it to replace a lot of these implementation

[2016-02-12 00:45] pixelzoom commented on #217
Alternatively, we could standardize on 1 layout.  There would be lower cost in the option, but I think it's unlikely.

[2016-02-15 17:06] pixelzoom commented on #195
Reopening.

There's a problem here.  Each call to SimpleDragHandler start/drag/end gets both an Event and a Trail.  This API propagates only the Event, and ignores the Trail.  That may have been sufficient so far, but it's not a general solution for forwarding drag information.

@samreid @jbphet @jonathanolson Any reason why it's acceptable to ignore the trail?

[2016-02-15 17:11] pixelzoom commented on #195
This is also masked at use sites in bending-light and circuit-construction-kit.  For example, in bending-light.ToolIconListener:

[code]

PhET convention is to include unused parameters in function signatures.  The start/drag/end functions above all commit the `trail` parameter.

[2016-02-15 17:11] samreid commented on #195
For completeness we should probably pass the trails through.

[2016-02-15 17:12] samreid commented on #195
I presume you meant omit?

[2016-02-15 17:13] pixelzoom commented on #195
Yes, thank, edited.

[2016-02-15 17:26] pixelzoom commented on #195
Two observations:

(1) Forwarding the trail might be problematic, since some other node/hander will be handling the event, and it will have a different trail.

(2) I don't think the current implementation is the best way to add forwarding. All these "handler" functions currently do is call the functions that were provided as options to TandemDragHandler (and its supertype SimpleDragHandler).  If t

[2016-02-15 17:28] pixelzoom commented on #195
Regarding (2)... In function-builder, I'm not using MovableDragHandler, I have my own subtype of SimpleDragHandler.  And I therefore have no way to use this "forwarding" feature.

[2016-02-15 18:24] samreid commented on #195
Yes, this is correct.  I'm interested in pursuing the "store the start/drag/end" functions in SimpleDragHandler if we can do that in a way that is unlikely to cause name collisions.

[2016-02-15 18:27] samreid commented on #195
@jonathanolson what are your thoughts about this?

[2016-02-15 20:04] jonathanolson commented on #195
In Charges and Fields, it seemed simple enough to have one input listener on the object in the panel (just the down event) that would trigger creation of a draggable object, then call ```startDrag( event )``` on the drag listener for that (with no need to pass a trail). Is that the type of forwarding you were talking about?

Seems beneficial if we could discuss on a call sometime. And my long-term

[2016-02-17 19:42] samreid opened #218 "FaceNode smile truncated in screenshot"
![image](https://cloud.githubusercontent.com/assets/679486/13122387/dd3f07ba-d573-11e5-97e6-5bfd998805c2.png)

Discovered during https://github.com/phetsims/build-an-atom/issues/120

@jonathanolson can you guess what is wrong here?

[2016-02-17 19:50] jonathanolson commented on #218
Possibly a Scenery or browser Canvas issue. What browsers does it happen with, and where's the URL where I can reproduce?

[2016-02-17 19:54] samreid commented on #218
You can test it here: http://localhost/phet-io/html/wrappers/screenshot.html?sim=build-an-atom

I saw the problem in Chrome Version 48.0.2564.109 (64-bit), only for the frown, the smile rendered OK in the screenshot.

[2016-02-17 20:36] jonathanolson commented on #218
Looks like Chrome-specific line-cap issue, see https://github.com/phetsims/scenery/issues/514.

[2016-02-18 19:36] samreid commented on #195
@jonathanolson and I will discuss this offline.

[2016-02-18 20:35] pixelzoom commented on #195
I'm no longer planning to use this feature in function-builder.

[2016-02-19 04:54] samreid opened #219 "Disabled components should not be pickable"
While investigating https://github.com/phetsims/phet-io/issues/282 I saw the following components that had setEnabled or set enabled without obvious setting of pickable:false:
- [ ] NumberPicker (it could be that I just don't understand how pickability is being handled here)
- [ ] EyeDropperNode

[2016-02-19 16:51] samreid commented on #195
@jonathanolson and I looked into the way Charges and Fields just calls startDrag(event) on the play area drag listener (which adds a listener to the pointer, in the usual SimpleDragHandler way), and it seems like a good pattern.  I will try this pattern for Circuit Construction Kit, when I am working on the toolbox listeners.  @jonathanolson also looked at ToolIconListener and other details from B

[2016-02-25 23:47] mattpen opened #220 "Odd display issue for ParametricSpringNode"
The ParametricSpringNode is behaving strangely in masses-and-springs.  When given a large width and stretched to a certain length the edges turn into spikes, screenshot attached.  I was able to recreate the behavior in chrome and FF for MAS, but I could not recreate it in the PSN demo.

![image](https://cloud.githubusercontent.com/assets/11747676/13338371/2c8c5e10-dbde-11e5-9836-df01495f0586.png)

[2016-02-26 00:20] mattpen commented on #220
I recreated similar behavior in the PSN demo:

![image](https://cloud.githubusercontent.com/assets/11747676/13339105/6e0f0298-dbe3-11e5-967f-3ce4ad9cf94d.png)

[2016-02-26 00:43] jessegreenberg commented on #220
I am wondering if adding lineJoin: 'round' to ParametricSpringnode pathOptions could help reduce this effect.

[2016-02-26 04:05] mattpen commented on #220
Actually changing pointsPerLoop in the MAS example to 30 fixed it.  I'll try that fix tonight.

[2016-02-26 04:17] mattpen commented on #220
@jessegreenberg - I think that fixes it! After adding that line I can't recreate the behavior in the scenery-phet demo any more.  Thanks

[2016-02-29 03:19] mattpen commented on #220
@jonathanolson - Tagging you so you are aware of the change for any upcoming maintenance releases.

[2016-02-29 03:19] #220 closed

[2016-02-29 19:25] samreid commented on #170
I'm getting close to a point for Circuit Construction Kit: Basics where I could use the appropriate light bulb artwork together with the rays representation.  For CCK, it is supposed to look like the light bulb artwork from Faraday's Law and Capacitor Lab: Basics, not the one from Acid Base Solutions.  I asked over email if Acid Base Solutions could use the same light bulb as CCK/Faraday's Law, Ca

[2016-02-29 19:44] ariel-phet commented on #170
As noted https://github.com/phetsims/scenery-phet/issues/170#issuecomment-121023048 it is the light brightness representation that needs to be different, I am completely agnostic as to the the lightbulb artwork that is used for acid-base solutions, but that lightbulb is also used in Energy forms and changes, and the filament glowing red is an important property for that sim.

However, @pixelzoom s

[2016-02-29 19:47] samreid commented on #170
On Jul 13, 2015 @jessegreenberg said he would proceed with the plan described in https://github.com/phetsims/scenery-phet/issues/170#issuecomment-121033856, is he available to work on this?  What is the status and schedule for Capacitor Lab: Basics?

[2016-02-29 19:48] ariel-phet commented on #170
Not sure if @jessegreenberg is available

@jessegreenberg what say you?

[2016-02-29 21:31] jonathanolson opened #221 "Consider consolidating color constants"
There are 5 copies equivalent to the following in scenery-phet:

[code]

and now one copy of the color in making-tens.

Ideally we should have colors pinned to specific things related to our logo factored out?

[2016-02-29 22:31] jessegreenberg commented on #170
Yes, I am available to work on this now.  Leaving assigned to me to follow through with the recommendation in https://github.com/phetsims/scenery-phet/issues/170#issuecomment-121033856.

[2016-02-29 22:36] samreid commented on #170
Thanks @jessegreenberg, let me know when it is ready to take for a test drive in Circuit Construction Kit.

[2016-03-01 16:57] samreid commented on #170
@jessegreenberg asked whether we need two representations of light bulb images in scenery-phet.  I said probably not, but it is really a question for designers, so I have emailed @ariel-phet and @arouinfar to ask if we can use the new bulb across sims.

![image](https://cloud.githubusercontent.com/assets/679486/13434673/ece1c8ae-df93-11e5-963b-838dc3809255.png)

@jessegreenberg is putting this iss

[2016-03-01 17:00] ariel-phet commented on #170
Also, at the very least we would need to have different bases for the bulb (one of the EFAC style, and one of the two obvious connection points style).

[2016-03-01 17:02] samreid commented on #170
Here's an image of the single connection point style @ariel-phet was referring to from EFAC:

![image](https://cloud.githubusercontent.com/assets/679486/13434865/ba0dc0b2-df94-11e5-9bba-b58d5eff785d.png)

[2016-03-01 17:30] samreid commented on #170
@pixelzoom said he cannot think of any reason the faraday's law light bulb could not be used in acid base solutions, but it should be double checked with the design team.

[2016-03-01 17:31] samreid commented on #170
@jbphet says it is important that the filament is a straight line in Energy Forms and Changes.

[2016-03-01 21:28] samreid opened #222 "GaugeNode should limit the width of its text"
See https://github.com/phetsims/energy-skate-park-basics/issues/337

[2016-03-01 21:28] samreid commented on #222
Empirically I determined radius*1.3 to be a good fit:

![image](https://cloud.githubusercontent.com/assets/679486/13442489/b1366a8c-dfb9-11e5-859f-090977f87df0.png)

[2016-03-01 21:29] samreid commented on #222
The above pic is from ESPB, below is FAMB:
![image](https://cloud.githubusercontent.com/assets/679486/13442543/05e3c71e-dfba-11e5-92ea-2cee00f3b9be.png)

Seems good in both cases, I'll commit.

[2016-03-01 21:30] samreid commented on #222
Fixed in the above commit, @jessegreenberg can you please review?

[2016-03-02 02:30] jessegreenberg commented on #222
Changes look great, verified that it looks good in FAMB and ESPB.  Back to @samreid to close unless there are other related issues to see through.

[2016-03-02 16:57] samreid commented on #222
Thanks @jessegreenberg, closing.

[2016-03-02 16:57] #222 closed

[2016-03-03 18:03] pixelzoom commented on #217
Assigned to @ariel-phet to evaluate whether we have all of the requirements and decide who should work on this.

[2016-03-03 18:37] jonathanolson commented on #195
@samreid, anything I should be handling here, or is the recommended input approach working well enough that we don't need changes here?

[2016-03-04 03:47] samreid commented on #195
@jonathanolson can I call startDrag(event) on two listeners with the same event?  If so, we may be able to use that strategy and get rid of the MovableDragHandler forwarding features (which are admittedly awkward).

[2016-03-04 19:15] aadish opened #223 "Gauge Node does not handle long string labels"
The gauge node for long strings currently look like this
![capture](https://cloud.githubusercontent.com/assets/4546788/13537548/afe82544-e202-11e5-8df3-77b079c681a2.PNG)

Seems like maxWidth is not set for the label

[2016-03-04 20:37] jessegreenberg commented on #223
@aadish I think this was recently handled in https://github.com/phetsims/scenery-phet/issues/222.  With a fresh pull of scenery-phet is this still an issue?

[2016-03-05 02:48] aadish commented on #223
@jessegreenberg you were correct I hadn't pulled the latest branch. Thanks for pointing it out.
Closing this issue

[2016-03-05 02:48] #223 closed

[2016-03-07 17:22] ariel-phet commented on #217
@pixelzoom it looks like you have captured the requirements above.

I think this would be a good project for @phetsims/schmitzware so that he can get his hands dirty with common code as there is some possibility common code type issues will arise in unit rates. Please let me know if you think that seems reasonable, but assigning to him for the moment.

Marking as high priority, since it seems like

[2016-03-07 17:27] pixelzoom commented on #217
Yes, seems reasonable.

[2016-03-07 17:44] pixelzoom commented on #217
In addition to layout options, there are some additional options that should be added for subcomponents. (E.g. xMargin and yMargin for ArrowButton.)

[2016-03-08 00:46] pixelzoom commented on #217
Adding developer-meeting label. Other developers, please review the 3 layouts shown in https://github.com/phetsims/scenery-phet/issues/217#issue-133128208.  Are these general sufficient? Or are there others that have not been identified?

[2016-03-08 00:52] pixelzoom commented on #217
@schmitzware asked about priority. @ariel-phet replied via email:

I'm comfortable with deferring this. Getting going on unit-rates is probably more important. So that would be my first choice.

Second choice would be to just add the layout needed by rutherford-scattering, use it only in rutherford-scattering, and not try to back port to any other sims.

[2016-03-08 00:53] pixelzoom commented on #217
Assigning to @ariel-phet to decide how to proceed (see my comments immediately above.)

[2016-03-08 00:54] ariel-phet commented on #217
@pixelzoom sounds good on your first choice, adjusting to low priority.

[2016-03-08 01:33] jessegreenberg commented on #217
Just looking through cases I could see of "slider + value + arrow buttons", I think options described in https://github.com/phetsims/scenery-phet/issues/217#issue-133128208 covers the different layouts.

[2016-03-08 01:39] pixelzoom commented on #217
Removing developer-meeting label, since the priority of this issue has been set to low.

[2016-03-09 18:56] samreid opened #224 "Un-internationalize FaceWithPointsNode"
From https://github.com/phetsims/fraction-matcher/issues/90

This is using SCENERY_PHET/FaceWithPointsNode.pattern_0sign_1points.

Here's the entry from scenery-phet:

[code]

@jbphet added this code to FaceWithPointsNode, can you comment why this is internationalized?

@ariel-phet should we un-internationalize FaceWithPointsNode and just show +1, -2, etc. without making it internationalized?

[2016-03-09 18:56] samreid commented on #224
@ariel-phet said:

[2016-03-09 18:56] samreid commented on #224
@jbphet said:

[2016-03-09 18:57] samreid commented on #224
@ariel-phet said:

[2016-03-10 04:11] samreid commented on #224
As one more data point regarding whether it is OK to de-internationalize this, I saw 3 translations for the string for de, lv and nl locales, and they are all {0}{1} the same as the English.

[2016-03-10 04:14] samreid commented on #224
De-internationalized above and tested in fraction-matcher, seems OK.  Reassigning to @jbphet to remove the string references in babel, `FaceWithPointsNode.pattern_0sign_1points` appears in 3 files.

[2016-03-10 19:09] jonathanolson commented on #195
Technically yes, but the first (SimpleDragHandler) listener would presumably mark the pointer as "dragging with this listener" and the second listener wouldn't start the drag.

[2016-03-11 04:58] samreid commented on #195
Generally, I'd like to move to patterns where MovableDragHandler doesn't need forwarded events, but I don't have time to work on this now, unassigning.

[2016-03-11 17:54] jbphet commented on #224
In one of the comments above, I requested:

Looks like this wasn't done.  I'll go ahead and do it.

[2016-03-11 18:29] jbphet commented on #224
I did this, and in the process fixed up the German (_de) scenery-phet translation.  I pulled on figaro and restarted rosetta to be safe.  This should be all that is needed for this, closing.

[2016-03-14 20:17] samreid opened #225 "LightBulbNode glows even if current===1E-16"
Circuit Construction Kit's circuit solver produced a current of 1E-16, which causes the LightBulbNode to glow.  I put a workaround in Circuit Construction Kit to clamp small values, but thought it might be more general to put the clamp in scenery-phet.  Pinging @pixelzoom since he is the primary author of LightBulbNode.  What do you think about only showing the glow at current >= 1E-4 or so?

![im

[2016-03-14 20:34] pixelzoom commented on #225
I have no idea how this would affect current/future sims. How about adding this as a constructor option?  Then sims could set their own clamping value, rather than making everyone live with 1E-4.  And other sims presumably wouldn't be affected.  Something like `options.effectiveZero: 0`.

[2016-03-15 03:16] samreid commented on #225
Either constructor option or manual clamping requires customization in the simulation, so I think the clamping workaround seems sufficient for now.  I also considered cross fading between the on and off images in LightBulbNode, but we would likely want to customize those thresholds as well.  Unassigning for now.

[2016-03-17 01:37] pixelzoom commented on #224
Reopening.

(1) What was the motivation for removing support for this?

(2) Removing support is wrong. The placement of a number's sign is *locale specific*, even when using Arabic digits (0-9). For example, in Arabic the sign is placed to the right of the number, eg. 12-.  See for example https://books.google.com/books?id=djuMgaEuBhQC&pg=PA117&lpg=PA117&dq=internationalization+of+signed+numbers&s

[2016-03-17 01:43] pixelzoom commented on #224
Reopening.

(1) What was the motivation for removing support for this?

(2) Removing support is wrong. The placement of a number's sign is locale specific, even when using Arabic digits (0-9). For example, in Arabic the sign is placed to the right of the number, eg. 12-.

See for example the top of page 118 at https://books.google.com/books?id=djuMgaEuBhQC&pg=PA117&lpg=PA117&dq=internationalizatio

[2016-03-17 01:46] pixelzoom commented on #224
See also "Usability and Internationalization of Information Technology", bottom of page 38 at https://books.google.com/books?id=AeYBavcZ9_UC&pg=PA38&lpg=PA38&dq=internationalization+of+signed+numbers&source=bl&ots=Mt4rEs40e3&sig=pCbtEoYcjjpH3uoSv38-lDsrsrA&hl=en&sa=X&ved=0ahUKEwj7ita2ycbLAhVqmIMKHWH3AJ4Q6AEINTAE#v=onepage&q=internationalization%20of%20signed%20numbers&f=false:

"Negative numbers m

[2016-03-17 01:48] pixelzoom commented on #224
Microsoft "Globalization Step-by-Step" guide,  section "Number Formatting": https://msdn.microsoft.com/en-us/goglobal/bb688127.aspx

"The negative sign can be used at the beginning of the number, but it can also be used at the end of the number."

[2016-03-17 02:54] samreid commented on #224
+1 for internationalization based on the above arguments from @pixelzoom, and let's add a code comment explaining why this has been internationalized so I don't make this mistake again, and as a precedent for similar future cases.

[2016-03-17 04:43] ariel-phet commented on #224
I am going to respectfully disagree with @pixelzoom here

- We do not have "negative" points in games...ever. It goes against our philosophy
- Algebraic equations (as we saw in graphing lines) are fine to write LTR according to the RTL translators we asked

Although I do not think there is a major downside to internationalizing this again, I also do think it would be fine to leave as is. I think t

[2016-03-17 05:06] ariel-phet commented on #224
I would also note I view "+1" or "+2" in this case as an *arithmetic* operation, not as a signed number

[2016-03-17 14:19] pixelzoom commented on #224
Then let's remove support for negative points from FaceWithPointsNode, add ```assert( points >= 0 )```, and simply put a plus sign in from of points > 0.

[2016-03-17 15:07] ariel-phet commented on #224
That sounds good to me (I did not realize there was support for negative points).

[2016-03-18 02:20] pixelzoom opened #226 "AccessiblePeer has no dispose function"
As noted in https://github.com/phetsims/tasks/issues/546#issuecomment-198165557... AccessiblePeer constructor has `@param {DOMElement} domElement`, to which it adds listeners. It has no `dispose` function, so it never removes listeners, creating a potential memory leak. As a common-code component, AccessiblePeer should definitely have a `dispose` function.

[2016-03-18 02:21] pixelzoom commented on #226
Mea culpa... AccessiblePeer does have a `dispose` function. But it doesn't call removeEventListener:

[code]

[2016-03-21 14:50] samreid commented on #224
I need this for next RC of Fraction Matcher, assigning to myself with high-priority.

[2016-03-21 15:49] samreid commented on #224
Assertion added above, @jbphet or @pixelzoom can you see if there is anything else to do for this issue?

[2016-03-21 17:32] samreid opened #227 "Create our own Screen Reader"
From https://github.com/phetsims/balloons-and-static-electricity/issues/134 we would like to display accessible text on the screen (possibly outside of the sim iframe), we will need to be able to navigate a virtual cursor across non-focusable (but accessible) items.

[2016-03-21 17:34] samreid commented on #227
@jessegreenberg and I decided to work on this in master since (a) we don't know how long this code will live and (b) to simplify branch management, since this could have changes in joist, scenery and balloons-and-static-electricity (the latter of which is already in a branch.)

[2016-03-21 18:59] jbphet commented on #224
Assertion for checking that points are positive looks good, I think this can be safely closed (again).

[2016-03-21 19:23] pixelzoom commented on #224
Reopening.  Since points must be positive, this bit of code needs to be removed at line 94:

[code]

[2016-03-21 19:42] samreid commented on #227
Moved to scenery, see https://github.com/phetsims/scenery/issues/538

[2016-03-21 19:42] #227 closed

[2016-03-22 03:14] samreid commented on #224
Thanks @pixelzoom, back to you :)

[2016-03-22 14:55] pixelzoom commented on #224
Looks good. Closing.

[2016-03-22 14:55] #224 closed

[2016-03-23 03:03] pixelzoom opened #228 ""drawer" UI component needed"
Function Builder requires a new type of UI component. It's a "drawer" that can be opened and shut. In the design doc, it's described as having a "grabbable tab sticking out" that can be pulled to reveal the "contents" of the drawer.  The doc doesn't specify, but I suppose you close the drawer by pushing the tab in the opposite direction.

Here's are 3 such drawers in Function Builder, shown in the

[2016-03-23 03:05] pixelzoom commented on #228
Labeling for developer meeting, in case someone else has already implemented something similar. @samreid @jonathanolson @jbphet @jessegreenberg please chime in if you know of any relevant prior work.

Also mentioning @amanda-phet and @ariel-phet, in case they want to chime in.

[2016-03-23 03:17] pixelzoom commented on #228
Design questions:

(1) According to the design doc, you drag the tab to open/close the drawer.  Do you need to fully open/close it, or does it continue to open/close after you stop dragging?

(2) Does clicking on the tab (without dragging) do anything?

(3) The tab looks very similar to the iOS menu button (eg, the PhET menu button in the navigation bar), which is something you click, not somethin

[2016-03-23 03:23] samreid commented on #228
I'm not aware of any components like that, the closest match I'm aware of is the Accordion Box, but it's a bit different.

[2016-03-24 16:44] jonathanolson commented on #228
I have not implemented anything similar to that.

[2016-03-26 21:22] samreid opened #229 "NumberControl should have enable/disable"
While developing Circuit Construction Kit: Basics, I wanted to disable a NumberControl, however, this feature is not supported at the moment.  I wasn't sure whether to add this support via an enabledProperty or setEnabled function only.  @pixelzoom you are noted as author, do you want to work on this or suggest an implementation strategy?

[2016-03-26 21:25] samreid commented on #229
I'm pursuing a different UI for Circuit Construction Kit: Basics, so there is no need to add this feature at the moment.

[2016-03-26 21:55] pixelzoom commented on #229
Whatever we decide to do here should be consistent with other UI components (scenery-phet, sun).

[2016-03-26 21:56] pixelzoom commented on #229
... but come to think of it, other UI components are probably inconsistent about how this is handled.  So we may just need to pick one (or both?) of the approaches.

[2016-03-26 21:57] pixelzoom commented on #229
Unassigning since https://github.com/phetsims/scenery-phet/issues/229#issuecomment-201930945 indicates no immediate need for this feature.

[2016-03-30 17:01] jbphet commented on #151
Better late than never, I suppose.

For the most part, everything looks good.  I did some minor cleanup/editing of comments and some spacing.  The only other question/comment I have is that there is some code in HeaterCoolerBack.js that looks like this:
[code]
I think ```heatCoolAmountProperty``` would be more clear for the name, and I don't quite understand what the part of the comment about max

[2016-04-11 15:02] arouinfar commented on #170
Currently, this bulb appears in CCK: Black Box.
![image](https://cloud.githubusercontent.com/assets/8419308/14430527/32422f60-ffbf-11e5-8d22-fd22faf06b39.png)

In future versions, it will be necessary to show the electron flow through the wire filament. The Faraday's Law-style bulb has a zig-zag filament, which is not ideal to show electrons moving through it.

@samreid I think we should stick wit

[2016-04-12 22:45] pixelzoom commented on #228
Work on this is proceeding in function-builder.Drawer.

[2016-04-13 14:48] pixelzoom opened #230 "generalize ResetAllButton"
In MOTHA, a reset button is needed for the spectrometer, and something that looks like ResetAllButton (but with a different color scheme) is a natural fit.  But there are problems with using ResetAllButton for something other than "reset all":

(1) It should have been named ResetButton, so it could be used for resetting other things.

(2) It contains some accessibility stuff that also seems to ass

[2016-04-13 15:12] pixelzoom opened #231 "move RESET_ALL_BUTTON_BASE_COLOR to PhetColorScheme."
ResetAllButton.RESET_ALL_BUTTON_BASE_COLOR should be moved to PhetColorScheme.

[2016-04-13 15:36] pixelzoom commented on #230
Should also rename `ResetAllShape` to `ResetShape`.

[2016-04-13 15:54] pixelzoom commented on #231
Done, fixed the once occurrence in CCKB. Assigning to @samreid, since he added ResetAllButton.RESET_ALL_BUTTON_BASE_COLOR on 3/2/16, presumably for CCKB.

[2016-04-13 16:07] pixelzoom commented on #230
Work completed.  To summarize what was done:

• factored out a general ResetButton
• ResetAllButton extends ResetButton, adding things specific to 'rest all'
• ResetAllShape renamed to ResetShape
• ResetAllButton.RESET_ALL_BUTTON_BASE_COLOR moved to PhetColorScheme

Assigning to @jbphet to review, since he was the primary author of ResetAllButton.  Reviewing this is high priority because extensive

[2016-04-13 17:23] jbphet commented on #230
General plan sounds reasonable, changes look good, and I regression tested the reset all button in a handful of simulations.  I also tested changing the base color of the button and the color of the arrow, and it all worked fine.  Assigning to @jessegreenberg to review the accessibility aspects.

[2016-04-13 20:49] pixelzoom opened #232 "complete the port of VisibleColor"
VisibleColor was only partially ported from Java, and there's some stuff missing that is needed for models-of-the-hydrogen-atom.

[2016-04-13 20:52] pixelzoom commented on #232
Common-code components that use VisibleColor:

SpectrumNode
WavelengthSlider

Sims that use VisibleColor directly or indirectly:

beers-law-lab
bending-light
blackbody-spectrum
color-vision
models-of-the-hydrogen-atom
molecules-and-light

[2016-04-13 21:11] pixelzoom commented on #232
Port completed, tested all of the above.

Randomly assigned to @jessegreenberg to review.

[2016-04-13 22:24] samreid commented on #231
I fixed a circuit-constructionn-kit lint issue introduced above.

[2016-04-14 03:16] samreid commented on #231
Looks good, thanks, closing.

[2016-04-14 03:16] #231 closed

[2016-04-14 15:51] andrewadare commented on #201
dispose() implemented in 6b256a2364f7d8b5a81858b596ce81bb494df4f8

[2016-04-14 15:51] #201 closed

[2016-04-14 16:15] pixelzoom opened #233 "GaugeNode oddities"
This was noted while implementing GaugeNode.dispose in https://github.com/phetsims/scenery-phet/issues/201 with @andrewadare.

GaugeNode has a couple of things that look wrong.

(1) `this.label` is annotated as private. It is not used outside the constructor, so should be a `var`.

(2) `updateEnabledProperty` documentation is confusing/wrong:

[code]

Within the implementation of GaugeNode, `updat

[2016-04-14 16:36] pixelzoom commented on #233
Similar confusing documentation about `updateEnabledProperty` appears in energy-skate-park-basics.GaugeNeedleNode, added by @samreid.  So I suspect that this is where the `updateEnabledProperty` feature and doc originated.

[2016-04-14 16:39] pixelzoom commented on #233
(3) `var linear = require( 'DOT/Util' ).linear;`  We have discouraged this type of import.

[2016-04-14 16:40] samreid commented on #233
I see 6 occurrences of this across 5 repos.

[2016-04-14 16:49] pixelzoom commented on #233
I have no intention of fixing all occurrences of `var linear = require( 'DOT/Util' ).linear`.

[2016-04-14 16:50] pixelzoom commented on #233
Cleanup completed. Assigned to @samreid for review.

[2016-04-14 16:51] samreid commented on #233
This will be done in the above referenced issue.

[2016-04-14 17:01] samreid commented on #233
I simplified the listeners and reformatted the JSDoc in the above commits.  I'll create a small test harness to make sure memory is un-leaky.

[2016-04-14 17:12] samreid commented on #233
Creating and disposing 1000 GaugeNodes doesn't show any memory issues:
![image](https://cloud.githubusercontent.com/assets/679486/14536782/652d197a-0231-11e6-8679-a75fd7e60f21.png)

Other changes seem good.

Here's my harness for testing memory:
[code]

I also spot tested Energy Skate Park: Basics and Forces and Motion: Basics.

[2016-04-14 17:12] #233 closed

[2016-04-14 17:25] pixelzoom commented on #233
For the dispose pattern, we were trying to stick with the observer being named similarly to the Property, eg:

`valueProperty.unlink( valueObserver );`

Your simplification violates that pattern, but I'm not going to change it back.

[2016-04-14 17:25] pixelzoom commented on #233
For the dispose pattern, we were trying to stick with the observer being named similarly to the Property, eg:

`valueProperty.unlink( valueObserver );`

Your simplification violates that pattern:

`valueProperty.unlink( updateNeedle );`

...but I'm not going to change it back.

[2016-04-14 18:26] samreid opened #234 "Create a component memory tester"
From #233 we would like to create a test harness that calls dispose/create on a component type many times and shows the memory. (Could use chrome flags to programmatically access the memory usage).  We could create something in chipper that tests all sims, but it may be simplest to create common code harness that is reused in sun/scenery-phet/joist etc.

[2016-04-14 19:35] pixelzoom opened #235 "StepBackButton is a reflected version of StepButton"
StepButton and StepBackButton look identical, reflected about the y-axis.  Why do we need both?

[2016-04-14 19:55] pixelzoom commented on #235
For example, in Neuron:

![screenshot_07](https://cloud.githubusercontent.com/assets/3046552/14541708/81df2ea2-0248-11e6-8d63-c9b6c6d20423.png)

[2016-04-14 19:56] pixelzoom commented on #235
Can't reflect the button, or the lighting would be wrong with 3D appearance.  But we can reflect the icon.

[2016-04-14 20:09] pixelzoom commented on #235
StepButton should have an option that determines whether it's icon is forward or back. Then delete StepBackButton.

[2016-04-14 20:58] pixelzoom commented on #235
Major problem here, introduced in 1ea01980de4fb57b10710f6da27cf4271238d7b3 by @jbphet.  StepButton and StepBackButton have totally opposite semantics for their `enabledProperty` param.

The constructor used to be:

`function StepButton( stepFunction, playProperty, options )`

and it was changed to:

`function StepButton( stepFunction, enabledProperty, options )`

and the listener is this, which is

[2016-04-14 20:59] pixelzoom commented on #235
Fixing the above is going to require fixing 16 call sites, in 13 sims.

[2016-04-14 21:02] pixelzoom commented on #235
RewindButton has a similarly wonky constructor and listener:

[code]

[2016-04-14 21:14] pixelzoom opened #236 "various issues in RewindButton"
Noted while working on https://github.com/phetsims/scenery-phet/issues/235.

• doc is wrong, looks like copy/paste from elsewhere
• stepFunction param should be replaced by options.listener
• has playProperty constructor param, while other similar buttons (StepButton,...) have enabledProperty
• playProperty assume you never want to rewind while playing, not a generally good assumption, and is in f

[2016-04-14 21:14] pixelzoom commented on #236
There is only 1 call site, in GAO, so best to fix this now.

[2016-04-14 21:17] pixelzoom commented on #236
Done. Assigned to @samreid to review.

[2016-04-14 22:00] pixelzoom commented on #235
I spent a couple of hours trying to untangle this spaghetti and punted.

Assigning to @jbphet for thoughts on how to proceed.

[2016-04-14 22:58] pixelzoom commented on #235
Here's what I ended up doing:
• made StepButton the base type, with subtype StepForwardButton and StepBackButton
• replaced uses of StepButton with StepForwardButton (13 sims)
• tested all of the above

Assigning to @jbphet for review.

[2016-04-15 02:28] samreid commented on #234
I created a component memory tester in sun. I instrumented HSlider and ABSwitch and already found a memory leak in ABSwitch (no dispose function).  Unfortunately Node extends events, so it *has* a dispose function, but it's a false positive since it is the wrong dispose function.

[2016-04-18 23:14] jessegreenberg commented on #230
Accessible content looks good, I removed the accessibleDescription from options since it is not being used.  Tested with NVDA and JAWS screen readers, it is working well.  Reassigning to @pixelzoom in case there is anything left to do for this issue.

[2016-04-18 23:38] #230 closed

[2016-04-18 23:53] jessegreenberg commented on #232
Port looks good to me, and I tested out ```wavelengthToColor``` and ```colorToWavelength``` functions in a simple test case, they behaved exactly as I would have expected.  Reassigning to @pixelzoom in case there is anything left to do before closing.

[2016-04-18 23:57] #232 closed

[2016-04-19 00:39] pixelzoom opened #237 "call event.handle in NumberPicker?"
Function Builder has movable function pieces in a carousel. When you click on a function, it pops out of the carousel, and begins a drag sequence.

In the "Equations" screen, the function pieces also have NumberPickers on them, eg:

![screenshot_12](https://cloud.githubusercontent.com/assets/3046552/14624062/6aea6730-0594-11e6-9a49-617275b50cbd.png)

The problem I'm running into is that interactin

[2016-04-19 00:53] pixelzoom commented on #237
Skype conversation with @jonathanolson:

[4/18/16, 6:18:10 PM] Chris Malley: function builder has a bunch of movable functions. in the 3rd screen (Equations), those functions have spinners on them.  how do i prevent drag sequence for a function to be initiated when someone clicks on a spinner?
[4/18/16, 6:18:39 PM] Jonathan Olson: event.handle() in the spinner event handler is one way
[4/18/16, 6:

[2016-04-19 00:55] pixelzoom commented on #237
I prevented propagation of the event to the function (parent) node by adding an input listener to the picker:

[code]

All of the picker's input listeners will be called, and the event will not propagate to the parent.

This seems like a fine solution, and doesn't require changes to NumberPicker.

Closing.

[2016-04-19 00:55] #237 closed

[2016-04-19 18:15] jbphet commented on #235
The restructuring/refactoring makes sense to me, the commits look good.  I tested the behavior on the current master versions of Neuron, States of Matter, and Molecules and Light since these are simulations with which I'm quite familiar, and they all appeared to behave correctly.  Thanks @pixelzoom - this seems like a good improvement.  Closing.

[2016-04-19 18:15] #235 closed

[2016-05-05 18:19] schmitzware opened #238 "Add decimal point button to NumberKeypad"
Discussed in 5/5/16 dev meeting. Replace double width "0" button option with a decimal point button option. New button will be located on bottom row in first column - i.e. decimal, zero, backspace

[2016-05-09 16:20] pixelzoom opened #239 "NumberDisplay: add setters for backgroundFill, backgroundStroke"
Skype discussion:

[5/6/16, 2:26:48 PM] Dave Schmitz: Hey guys.. I was needing a NumberDisplay-like control which I could change the colors of the text, border & background. is there any way to do this now? Or does it make sense to change the NumberDisplay itself (or at least make some things 'protected' so they can be subclassed)??  Any suggestions?
[5/6/16, 2:34:24 PM] John Blanco: I just glance

[2016-05-09 16:20] pixelzoom commented on #239
Setters added, assigning to @schmitzware to review.

[2016-05-09 16:50] schmitzware commented on #239
LGTM

[2016-05-10 02:14] pixelzoom commented on #239
@schmitzware not sure why you reopened this. Is there a problem?

[2016-05-10 16:31] schmitzware commented on #239
No problem - I added another setter for the number fill. I skyped you on it, but I now realize I should have just put that info here...

[2016-05-10 16:31] #239 closed

[2016-05-26 20:55] pixelzoom commented on #228
There is a good start on this in `function-builder.Drawer`. It has been generalized, and the only dependency on function-builder is the namespace (functionBuilder.js).  I never got any "official" requirements for this, so everything that I did is specific to function-builder.  Since function-builder is currently the only client, I will ruminate on whether to migrate this to scenery-phet, or leave

[2016-05-26 20:56] pixelzoom commented on #228
Here's a screenshot from function-builder's "Equations" screen, showing the current look:

![screenshot_49](https://cloud.githubusercontent.com/assets/3046552/15589887/03242e98-2352-11e6-9341-d7868c5f0d9d.png)

[2016-05-30 18:42] samreid opened #240 "More flexible number formatter for NumberPicker"
@kathy-phet requested in https://github.com/phetsims/proportion-playground/issues/20

[2016-05-30 18:48] samreid commented on #240
There is a straightforward solution to this that seems general enough without being risky, so I'll proceed in master.  Perhaps good to have the original author @pixelzoom take a look when complete.

[2016-05-30 18:51] samreid commented on #240
The solution I will pursue provides a default option:

[code]

which can be overriden by providing a different formatText option.

[2016-05-30 18:53] samreid commented on #240
I implemented the solution in master as described above and exercised it in Proportion Playground (see associated commit).  @pixelzoom are you available to review this change?

[2016-05-30 22:36] pixelzoom commented on #240
Since this is NumberPicker and not TextPicker, how about `formatNumber` instead of `formatText`?

[2016-05-30 22:37] pixelzoom commented on #240
Also, your use of this new feature in Proportion Playground doesn't appear to be localized:

[code]

[2016-05-31 00:42] samreid commented on #240
There is already a formatting phase that converts `number` to `string` before it is passed to the format function:
[code]

I'm concerned that naming it `formatNumber` might give the wrong impression that the input is a `number`.  To be clear, we could call it something like `formatFixedNumberString`.

[2016-05-31 00:47] samreid commented on #240
Thanks @pixelzoom, this is fixed in the above commit.

[2016-05-31 16:30] pixelzoom commented on #240
Change to `Util.toFixedNumber` and the input will be a number.

[2016-05-31 17:39] samreid commented on #240
[code]
If we switch to toFixedNumber then we would lose the trailing decimal places.

[2016-06-03 18:39] samreid commented on #234
No further plans to work on this, closing.

[2016-06-03 18:39] #234 closed

[2016-06-03 18:53] samreid commented on #236
I reviewed the commits and tested the rewind button in the sim, seems like it is working properly.  Closing.

[2016-06-03 18:53] #236 closed

[2016-06-05 16:53] pixelzoom commented on #240
I unfortunately don't have time to pursue this, so proceed as you see fit.

[2016-06-06 14:17] samreid commented on #240
OK, let's proceed with the current implementation and we can revisit in the future if trouble is spotted, closing.

[2016-06-06 14:17] #240 closed

[2016-07-01 18:33] pixelzoom commented on #228
function-builder.Drawer is generalized and could be moved to scenery-phet.

@samreid @jbphet @jessegreenberg @andrewadare Do any of you have strong feelings on whether to
(a) move it now, or (b) move it when needed in another sim?

[2016-07-01 18:34] pixelzoom commented on #228
@ariel-phet feel free to chime in on whether to move it now or later.

[2016-07-01 19:18] jbphet commented on #228
I would prefer to see it moved now, since the next potential user is more likely to find it in the common code if they are looking around.  It's a cool UI component, so I have little doubt that it will be reused.

[2016-07-01 19:31] pixelzoom commented on #228
Thanks @jbphet, that's enough of a quorum for me :)

I've moved Drawer to scenery-phet. The only modification needed was to adjust its namespace.

@andrewadare Would you mind reviewing this as part of function-builder code review (https://github.com/phetsims/function-builder/issues/55)?

[2016-07-01 19:47] pixelzoom commented on #228
I also added a demo for Drawer to the "Components" screen of the scenery-phet demo app.

[2016-07-05 14:33] andrewadare commented on #228
@pixelzoom The Drawer.js source looks great: no TODO's, ample documentation, disposal code is in place, no lint or assertion errors, and nothing appears awkward or out of place about the design or interface.

I played with the simple "Hellow Drawer" example and it works without any problems.

[2016-07-05 15:48] samreid opened #241 "NumberControl needs to be tandemized"
In order to support PhET-iO instrumentation of Circuit Construction Kit: Black Box Study for issue https://github.com/phetsims/circuit-construction-kit/issues/138, NumberControl.js must be instrumented.

[2016-07-05 15:49] samreid commented on #241
It has a Text node that will need to be converted to TandemText.

[2016-07-05 15:57] samreid commented on #241
The text `NumberControl` doesn't appear in the function-builder source directory, so I may not need to synchronize work with @pixelzoom on this.

[2016-07-05 16:08] pixelzoom commented on #241
I'm not clear on what this means.

[2016-07-05 16:10] pixelzoom commented on #241
Ah, I see... "so I may *not* need to synchronize work".  Feel free to proceed without me.

[2016-07-05 16:10] samreid commented on #241
Does Function Builder use NumberControl.js?  It doesn't appear so, but there may be a transitive dependency that is unclear.  I'd like to work on NumberControl but don't want to hamper development of Function Builder if it is using NumberControl.

[2016-07-05 16:11] pixelzoom commented on #241
NumberControl not used by Function Builder.  Hooke's Law is the only other sim that uses it.

[2016-07-05 16:12] samreid commented on #241
Thanks, good to know.

[2016-07-05 16:42] samreid commented on #241
I instrumented NumberControl and NumberDisplay and tested that they work properly in Circuit Construction Kit: Black Box Study (instrumented) and in Hooke's Law (uninstrumented), will commit shortly.

[2016-07-05 16:44] samreid commented on #241
Committed, @jbphet @andrewadare or @pixelzoom feel free to reopen if you wish to review.

[2016-07-05 16:54] pixelzoom commented on #241
I don't see:
• a call to `Tandem.validateOptions`
• a call to `tandem.addInstance` for the NumberControl instance
• a call to  `tandem.removeInstance` in `dispose`

Are some of these unnecessary in this case?

[2016-07-05 17:20] samreid commented on #241
Those are all necessary, thanks for pointing that out.  I've added them, tested in CCK-phet-io and Hooke's Law (phet), and all seems well, committing shortly.

[2016-07-05 17:22] samreid commented on #241
Validation also missing for NumberDisplay.js, I'll add it shortly.

[2016-07-05 17:26] samreid commented on #241
I validated options for NumberDisplay above and tested in Expression Exchange, all seems well.  CCK grunt is also passing, so lint seems OK.  @pixelzoom anything else to do here?

[2016-07-05 17:33] pixelzoom commented on #241
👍 Closing.

[2016-07-05 17:33] #241 closed

[2016-07-05 17:34] pixelzoom commented on #228
@andrewadare Anything else to do here?

[2016-07-05 18:11] andrewadare commented on #228
No, Drawer.js looks great as far as I am concerned. Close at your discretion.

[2016-07-05 18:56] andrewadare commented on #228
Well, the only thing remaining is tandem instrumentation, but that hinges on the outcome of https://github.com/phetsims/phet-io/issues/77

[2016-07-05 18:58] pixelzoom opened #242 "code review EyeToggleButton"
This was moved over from function-builder and should be reviewed.

How to handle tandem instrumentation is dependent on the outcome of phetsims/phet-io#77

[2016-07-05 19:01] pixelzoom commented on #242
Somewhat related to phetsims/function-builder#55, which is why I assigned @andrewadare.

[2016-07-05 19:45] andrewadare commented on #242
This tiny piece of code does not leave many places for problems to hide.

Source formatting looks good; interface is simple and reasonable; comments and docs are in place; memory is reclaimed; no lint or assertion problems--not much more to say, apart from the tandem issue already mentioned.

I didn't see a test example in scenery-phet, but clearly it's working fine in Function Builder.

I am conf

[2016-07-05 20:17] pixelzoom commented on #242
Thanks @andrewadare.  I've added EyeToggleButton to the scenery-phet demo.

[2016-07-05 20:47] pixelzoom opened #243 "problems with API for StepBackButton and StepForwardButton"
Noticed while adding buttons to the scenery-phet demo.

Multiple problems with the API for StepBackButton and StepForwardButton, which have these constructors:

[code]

(1) Parameters that do the same thing have different names: `enabledProperty` vs `playingProperty`.

(2) StepBackButton and StepForwardButton are subtypes of PushButton, which has its own enabledProperty.  Why do these buttons need

[2016-07-05 20:49] pixelzoom commented on #243
Looking more closely at (1) above... playingProperty actually has inverted semantics. The button is disabled when when true.

[2016-07-05 20:52] pixelzoom commented on #243
I also see this in both buttons:

[code]

Why is this difference necessary? Why can't we just use `options.listener`, like other buttons?

[2016-07-05 21:06] samreid commented on #243
(1) Yes those parameters should be unified.  I'm not sure whether we should go with isPlayingProperty, or enabledProperty.  I don't know why these diverged.
(2) I think this was just a way to disable the buttons when the sim is in "play" (not pause) mode.  It was assuming the sim already had a property for that.  As described in (1) we should make this consistent.
(3) It seems incorrect for button

[2016-07-05 21:07] pixelzoom commented on #243
I'll assign this to me to clean up, low priority.

[2016-07-06 16:23] pixelzoom commented on #228
No PhET-iO instrumentation is needed at this time, including `Tandem.validateOptions`.  See https://github.com/phetsims/phet-io/issues/77#issuecomment-230825758.

Closing.

[2016-07-06 16:23] #228 closed

[2016-07-06 16:24] pixelzoom commented on #242
No PhET-iO instrumentation is needed at this time, including `Tandem.validateOptions`.  See https://github.com/phetsims/phet-io/issues/77#issuecomment-230825758.

Closing.

[2016-07-06 16:24] #242 closed

[2016-07-06 16:47] pixelzoom commented on #243
Check list, for what I need to change and test...

Sims that use `StepBackButton`:

- [ ] neuron

Sims that use `StepForwardButton`:

- [ ] bending-light
- [ ] color-vision
- [ ] energy-forms-and-changes
- [ ] energy-skate-park-basics
- [ ] fluid-pressure-and-flow
- [ ] forces-and-motion-basics
- [ ] gravity-and-orbits
- [ ] molecules-and-light
- [ ] neuron
- [ ] pendulum-lab
- [ ] rutherford-scat

[2016-07-06 17:01] pixelzoom commented on #243
In the above commits, I removed the `stepFunction` constructor parameter for `StepForwardButton` and `StepButton`, and used `options.listener` instead.  Adjusted all call sites, and tested all sims listed in https://github.com/phetsims/scenery-phet/issues/243#issuecomment-230833561.

[2016-07-06 17:28] pixelzoom commented on #41
The default for ResetAllButton is currently `radius:24`.

Here are the sizes used by sims A-F:

area-builder: radius:20, radius:22
arithmetic: default
balancing-act: radius:20
balancing-chemical-equations: default, scale:0.8
balloons-and-static-electricity: scale: 0.96
beers-law-lab: scale:1.32
bending-light:  radius:19
black-body-spectrum: default
build-an-atom: scale:0.85
calculus-grapher: defau

[2016-07-06 17:36] samreid commented on #41
Yes, thanks for this review.  Seems like we are already in good shape, closing.

[2016-07-06 17:36] #41 closed

[2016-07-06 17:57] pixelzoom commented on #243
(6) The only reason why we currently need separate "forward" and "back" buttons is because of the https://github.com/phetsims/sun/issues/236 (a problem with buttons in general).  Working around this problem requires different values for the `xContent` option.

[2016-07-06 18:01] pixelzoom commented on #243
If we fixed phetsims/sun#236, then we really don't need StepForwardButton and StepBackButton. We add a `playProperty` option to supertype StepButton, for clients that want the convenience of disabling the button when playProperty.value === true.  Other clients could use button.enabled direction (neuron is an example of where this would be more appropriate.)

Here's what a typical call site would l

[2016-07-06 18:07] samreid commented on #243
In fact, we could move the content offset into StepButton (checks the direction to determine the offset) even if we don't fix phetsims/sun#236 and then we wouldn't really need StepForwardButton and StepBackButton.  But on the other hand, I'm wondering if it is simpler for developer to look for StepForwardButton, or StepButton and know they must supply a direction parameter.

There is some preceden

[2016-07-06 18:10] pixelzoom commented on #243
@samreid How do you feel about making `playProperty` and option, for the scenario shown in https://github.com/phetsims/scenery-phet/issues/243#issuecomment-230856616?

[2016-07-06 18:15] pixelzoom commented on #243
@samreid wrote:

Will do.

[2016-07-06 18:20] pixelzoom commented on #243
Here's what would be added to StepButton to support disabling the button while the sim is playing:

[code]

[2016-07-06 18:22] pixelzoom commented on #243
... and we should probably implement `dispose`, to unlink from `playingProperty` if it was provided.

[2016-07-06 18:25] samreid commented on #243
Yes, sounds good, let's make it an option.

[2016-07-06 18:28] pixelzoom commented on #243
The only usage of StepBackButton so far is in neuron, here's the call site in NeuronScreenView:

[code]

Note the variable name is `stepBackwardButton`, not `stepBackButton`.  Should we rename `StepBackButton` button to `StepBackwardButton`, and the option from "back" to "backward".  The antonym of "forward" is "backward", not "back".

[2016-07-06 18:30] samreid commented on #243
Not feeling too strongly about it, but slightly in favor of "backward" instead of "back".

[2016-07-06 18:38] veillette opened #244 "NumberControl Layout"
There is a rather common pattern in our sims for slider with a numerical readout. A very common layout is to have a title at the top, then a readout with control arrows underneath and the slider at the bottom. There are several simulations that have this layout.

- Gravity Force Lab
- Plinko Probability
- Pendulum Lab
- Wave on a sttring
- Fluid Pressure and Flow
- Under Pressure
- Rutherford Scat

[2016-07-06 18:39] veillette commented on #244
Here is what the number control looks like.

![image](https://cloud.githubusercontent.com/assets/7633344/16630185/4c7351b4-4387-11e6-9de6-93bbb293db99.png)

[2016-07-06 18:46] veillette commented on #244
Bending Light has a separate design

![image](https://cloud.githubusercontent.com/assets/7633344/16630441/68140f8e-4388-11e6-8bbd-12765a95092b.png)

[2016-07-06 18:52] veillette commented on #181
The Protracor Node in Bending Light is an image whereas Pendulum Lab generates a protractor using scenery.

[2016-07-06 18:58] pixelzoom commented on #243
Add options `playingProperty` to StepButton, fixed up and tested all call sites.

[2016-07-06 19:04] pixelzoom commented on #243
StepBackButton renamed to StepBackwardButton.

StepForwardButton and StepBackwardButton added to scenery-phet demo.

All work completed here. @samreid would you mind reviewing?

[2016-07-06 20:52] samreid commented on #181
Is this the protractor in Pendulum Lab?

![image](https://cloud.githubusercontent.com/assets/679486/16634030/44e0b70a-4389-11e6-9d91-8180f2853908.png)

[2016-07-06 21:21] veillette commented on #181
Yes, and the protractorNode in pendulum lab has two blue ticks (not currently displayed in your screenshot)

[2016-07-06 22:13] samreid commented on #243
- [x] scenery-phet demo looks good
- [ ] this assertion should have a comment (in both occurrences): `assert && assert( !options.direction );`
- [ ] Why not simplify this extend call?  Currently written as:

[code]

Why not write as the following, since we already asserted that direction doesn't appear in the options?
[code]

- [ ] These lines read kind of confusingly to me:
[code]

Would it be be

[2016-07-06 22:19] samreid commented on #243
I made a few of the recommendations above, will wait to discuss the "These lines read kind of confusingly to me:" part with @pixelzoom

[2016-07-06 22:23] samreid commented on #243
Here's an implementation that allows 0 radius values:

[code]

I didn't grok the original proposal right away, but really I'm fine with any of the proposed solutions for this (including the original).

[2016-07-07 18:42] pixelzoom commented on #244
This is a duplicate of https://github.com/phetsims/scenery-phet/issues/217.

[2016-07-07 18:44] pixelzoom commented on #244
Dev meeting: Closing, will track in #217.

[2016-07-07 18:44] #244 closed

[2016-07-12 20:38] pixelzoom commented on #243
Re the computation of BUTTON_RADIUS in https://github.com/phetsims/scenery-phet/issues/243#issuecomment-230923192...

This one doesn't do what you think it does. It returns true or false, not a radius value.

[code]

I'm fine with either of these, but prefer the first (the current implementation) since a zero radius is almost certain to cause RoundPushButton to fail.

[code]

[2016-07-12 20:49] samreid commented on #243
Let's stick with the current implementation then.

But just to clarify in case there is a misunderstanding, the JavaScript || operator does not always return a boolean.  Here is a transcript from my console:

![image](https://cloud.githubusercontent.com/assets/679486/16783065/b5a4deac-483f-11e6-8941-d52cf68210fe.png)

If this makes sense to you, then please close the issue.

[2016-07-12 20:52] pixelzoom commented on #243
Got it, thanks for the clarification. Closing.

[2016-07-12 20:52] #243 closed

[2016-07-14 16:42] pixelzoom commented on #217
Assigned to me at 7/14/16 status meeting.

[2016-07-14 16:42] pixelzoom commented on #229
Assigned to me at 7/14/16 status meeting.

[2016-07-18 20:44] samreid opened #245 "Promote LightRaysNode to top level"
For Circuit Construction Kit, I need to show the light bulb brightness lines but with a different light bulb representation than SCENERY_PHET/LightBulbNode.  My recommendation is to promote the LightRaysNode to top level, and reuse it in Circuit Construction Kit as much as possible.

[2016-07-18 20:58] samreid opened #246 "This repo should have a stylistically similar name to our other repos"
It seems inconsistent to have names for other repos like sun, kite, dot, shred, vegas, litmus, twixt, etc and scenery-phet sticks out like a sore thumb.
- Would it take a lot of work to rename it and maintain compatibility with old builds? Yes.
- Will we all agree on a great new name? No.
- Would it be better to rename it now instead of later?  Yes.

I am leaning toward "let's go for it", but not

[2016-07-18 22:04] samreid commented on #245
Promoted above, lint is passing and Acid Base Solutions light bulb looks pixel-perfect (compared to 1.2.6, closing).

[2016-07-18 22:04] #245 closed

[2016-07-18 22:11] samreid opened #247 "Why are LightRaysNode widths discrete?"
According to the docs in LightRaysNode, it supports only 3 line width (not continuous).  This leads to awkward situations like this one in CCK where just changing the voltage by 1 volt:

![volts](https://cloud.githubusercontent.com/assets/679486/16932206/36e7c558-4d02-11e6-96ac-12164310250e.gif)

Scenery/canvas/svg all support continuous line widths, why not use them?  Assigned to @pixelzoom since

[2016-07-19 15:37] pixelzoom commented on #247
scenery-phet.LightRaysNode a port of piccolo-phet.LightRaysNode, which is a port of phetgraphics.LightRaysGraphic.  I was responsible for all 3 of these implementations. I don't recall for certain, but thinking back to circa 2004, I believe the I used integer line widths because it improved performance of the Java implementations.  I have no idea if using non-integer lineWidth in JavaScript has an

[2016-07-20 03:11] jessegreenberg commented on #246
I agree that it is out of PhET repo name style and that sooner is better than later.  However, I recall some discussion about deprecating/replacing scenery-phet, but can't find an issue anywhere about it.  If that is still a long term goal, the renaming work would be less important.

[2016-07-20 03:21] jessegreenberg opened #248 "ResetAllButton should use type 'button' in parallel DOM"
See https://github.com/phetsims/john-travoltage/issues/108.  ResetAllButton is currently represented as
[code]
("Reset All" taken from translatable strings, attributes modeled after http://webaim.org/techniques/forms/controls)

But input of type 'reset' will reset all other peer input element values under the containing 'form' element (if it exists).  We don't want this, values of input elements i

[2016-07-20 03:34] jessegreenberg commented on #248
Done in commit above, closing.

[2016-07-20 03:34] #248 closed

[2016-07-20 04:18] samreid commented on #246
Are you thinking of our plans to deprecate/disseminate phetcommon? https://github.com/phetsims/phetcommon/issues/24

[2016-07-20 12:14] samreid commented on #247
I suspect that svg performance for non-integer line width would be the same as integer line width on all or nearly all browsers.  Also, using canvas would be disastrous for CCK because a separate raster would be created for each of N bulbs, causing memory issues.

I'm not opposed to a performance test, if one is easy to implement.  I'll leave this assigned to me for investigation.

[2016-07-20 13:18] samreid commented on #247
On second thought, discretizing the light rays *does* improve performance because they need to be changed less frequently.

Still, this discrete jump seems detrimental in CCK and in other use cases.

Testing in Acid Base Solutions, there is a point where changing the "weaker/stronger" slider by 1 pixel changes the light bulb brightness disproportionately:

![lines](https://cloud.githubusercontent.

[2016-07-20 16:34] jessegreenberg commented on #246
Indeed, yes sorry.  That is the issue I was thinking of, and that makes a lot more sense.

[2016-07-20 22:33] samreid opened #249 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 17:48] samreid commented on #246
Since it will probably take more than 30 minutes, we decided not to go for this now.  @ariel-phet said we may go for this on a rainy day in the future, but not the near future.

[2016-07-21 20:57] samreid commented on #249
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 20:57] #249 closed

[2016-07-25 16:05] pixelzoom commented on #229
Reminder to self: Use the pattern that we agreed on in https://github.com/phetsims/scenery-phet/issues/229.

[2016-07-25 17:03] schmitzware commented on #238
Adding a decimal point button is now and option passed to constructor.

[2016-07-25 17:03] #238 closed

[2016-07-28 19:34] pixelzoom opened #250 "multiple issues with MeasuringTape.createMeasuringTapeIcon"
(1) Returns the wrong node.

The current return statement is:

[code]

The call to `measuringTape.toImage` is asynchronous, so unless the image is available immediately, this actually returns `measuringTape` (the full blown MeasureTape, not the Image).  We should be returning `measuringTapeIcon`, so that it can be put in the scenegraph, and then its child will be swapped when the image is availabl

[2016-07-28 20:07] pixelzoom commented on #250
(4) Icon can't be properly centered.

MeasuringTape shows the value and units below the tape. This can be turned off using `setTextVisibility( false )` (sic), and this is in fact done in `createMeasuringTapeIcon`. But the invisible text still contributes to the bounds, which determines the size of the rendered image. And you end up with a bunch of blank pixels at the bottom.  Which makes it imposs

[2016-07-28 20:08] pixelzoom commented on #250
(5) Function name is redundant.

`MeasuringTape.createMeasuringTapeIcon` is redundant. It should be MeasuringTape.createIcon`.

[2016-07-28 20:19] pixelzoom commented on #250
(6) Duplicate implementations.

These similar implementations should be replaced with `MeasuringTape.createIcon`:

charges-and-fields.ChargesAndFieldsToolboxPanel: `createMeasuringTapeIcon`
fluid-pressure-and-flow.ToolsControlPanel: `createMeasuringTapeIcon`

[2016-07-28 20:44] pixelzoom commented on #250
Fixed all of the above issues (1-6) and affected call sites.

Assigning to @andrea-phet to review, since this was motivated by weirdness in projectile-motion,  and she and I were working on this together.

[2016-07-28 21:23] andrea-phet commented on #250
It may be useful to be able to override `hasValue` when creating the icon. Even though this may not be the final decision, the design doc for projectile motion has the value text for the measuring tape icon visible:

![image](https://cloud.githubusercontent.com/assets/7988696/17229774/69f9965c-54d6-11e6-93c5-c5a82b99c044.png)

Everything else looks good. Assigning back to @pixelzoom to see if he w

[2016-08-04 16:08] pixelzoom commented on #250
I made it possible to override options.hasValue, and tested in projectile-motion.ToolboxPanel like this:

[code]

[2016-08-05 17:18] pixelzoom opened #251 "how to control layout of nodes for i18n?"
I've encountered this a few times, most recently in https://github.com/phetsims/curve-fitting/issues/74#issuecomment-237897994.

StringUtil.format (phetcommon) currently provides the ability to specify Java-style MessageFormat placeholders (e.g. {0} {1}) in a text string, then fill in those placeholders with other strings.  E.g.:

[code]

This is very useful for allowing translators to change the

[2016-08-05 17:18] pixelzoom commented on #251
Once way we could address this is via a new node type, perhaps call it `TextWithEmbeddedNodes`.  It looks for placeholders (e.g. {0}, {1}) in its text string, and inserts arbitrary nodes at those locations.

Constructor:

[code]

Usage, for an English example:

[code]

Internally, this would split itself into multiple text strings, and replace the placeholders with the nodes provided.

[2016-08-05 17:19] pixelzoom commented on #251
The `TextWithEmbeddedNodes` proposal above is still specific to text. Should we design something that is totally independent of node type?

[2016-08-05 19:56] andrea-phet commented on #250
Thanks @pixelzoom Looks good, closing.

[2016-08-05 19:56] #250 closed

[2016-08-05 21:38] veillette opened #252 "NumberControl: distinct values for tweaker increment and slider constraint"
In the process of thinking about generalizing the layout of NumberControl (#217), we need to generalize some options to accommodate them within NumberControl.

NumberControl has an option called delta that controls (1) the increment of the tweakers, and (2)  the thumb on the slider via,

[code]

The custom made NumberControl in pendulumLab uses two different values.
![image](https://cloud.githubus

[2016-08-05 21:46] veillette commented on #252
Putting this on @pixelzoom radar since he wrote NumberControl.

[2016-08-08 17:06] pixelzoom opened #253 "revise API for NumberDisplay"
See https://github.com/phetsims/sun/issues/85.

In particular, a better API would be:

[code]

[2016-08-08 19:02] pixelzoom commented on #253
In many uses of NumberDisplay, I see the empty string provide for units. E.g. in unit-rates.EditNumberDisplayNode:

[code]

This further suggests that the pattern should be an options, and the units should be part of the pattern.

[2016-08-08 19:50] pixelzoom commented on #253
The API for NumberDisplay has been revised, as described above.

@jbphet @schmitzware @jessegreenberg Be aware that this change affected expression-exchange, unit-rates, and rutherford-scattering.  I compared before/after behavior and saw no changes in these sims, but you may wish to review.

Randomly assigning to @jbphet for review.

[2016-08-08 20:04] pixelzoom opened #254 "revise API for NumberControl?"
The API for NumberDisplay (which is used by NumberControl) was recently revised, to make formatting of the displayed value more flexible.  See https://github.com/phetsims/scenery-phet/issues/253.

Should a similar API change be made to NumberControl? It would make the format more flexible; it's currently limited to "{0} {1}", where {0} is value and {1} is units. But it would require more string fi

[2016-08-08 20:05] pixelzoom commented on #254
Revising the API for NumberControl would also have the advantage of making it consistent with NumberDisplay and NumberSpinner.

[2016-08-08 20:15] pixelzoom commented on #253
Also note that this is similar to the API used in sun.NumberSpinner, so we may eventually be able to incorporate NumberDisplay into NumberSpinner.

[2016-08-08 20:17] pixelzoom commented on #254
The next dev meeting that I'll be attending is 8/25/16, so you may wish to defer discussion of this until then.

[2016-08-08 20:50] pixelzoom commented on #229
Featured added using the pattern agreed on in https://github.com/phetsims/sun/issues/241#issuecomment-234322865. Opacity and pickable properties are modified based on whether the control is enabled (see lines 182 and 183).  Currently does not address cancelation of interaction that is process, since scenery still lacks general support for this (see https://github.com/phetsims/scenery/issues/218).

[2016-08-08 21:27] pixelzoom commented on #252
@veillette You can accomplish what you want to do without any changes to the current implementation. It's not very clear from looking at `options = _.extends`, but the client can provide `options.constrainValue`, which is passed to HSlider.  What you see at line 136 is the default implementation of `constrainValue`, which uses the same delta for the arrows and slider.

To clarify this, we should m

[2016-08-09 17:36] veillette commented on #252
I see it now.  In principle no change is needed.
However, as you point out it is not so clear from a cursory read of the options.
I would support your proposed change.

[2016-08-09 17:40] pixelzoom commented on #252
I'll handle the proposed changes.

[2016-08-09 18:40] pixelzoom commented on #252
It's also problematic to pass the entire `options` to HSlider, as is being done at NumberControl line 113:

[code]

This makes it virtually impossible to use layout or scaling options with NumberControl, since passing them to HSlider will cause those options to be applied to the HSlider.  We should probably be using `_.pick` to extract the options that are relevant to HSlider.

[2016-08-09 20:17] pixelzoom opened #255 "NumberControl passes all of its options to HSlider"
Noted while working on https://github.com/phetsims/scenery-phet/issues/252.

NumberControl is passing all of its options to HSlider. See line 140:

[code]

This makes it virtually impossible to use layout or scaling options with NumberControl, since passing them to HSlider will cause those options to also be applied to the HSlider.  [EDIT: ... which is why I've labeled this as "bug".]

Investigate

[2016-08-09 20:19] pixelzoom commented on #252
The issue of passing options to HSlider is a big can of worms, so I've created a separate issue, see https://github.com/phetsims/scenery-phet/issues/255.

@veillette would you mind reviewing the work that's been done here? It's all in the one commit shown immediately above (https://github.com/phetsims/scenery-phet/commit/7bdcfade04a8f0408314516c8a1d92e6ff786fa2).

[2016-08-09 20:35] pixelzoom commented on #255
I'm unsure of the best way to address this, so labeling for developer meeting.

The options would seem to be:

(1) Allow all HSlider options to be specified in the options param to NumberControl, with the exception of `startDrag` and `endDrag` (since they are mapped to `startCallback` and `endCallback` respectively).  This would involve making HSlider's default options public, so we could do somet

[2016-08-09 20:38] pixelzoom commented on #255
The next dev meeting that I'll be attending is 8/25/16, so you may want to defer discussion of this until then.

[2016-08-10 17:04] samreid commented on #247
I developed a continuous measure between the max and min.

On iPad3 running requirejs mode of Acid base solutions screen 2, with initial concentration maxed out and dragging the strength slider continuously, I see the following performance:

continuous lines: 4FPS
discrete lines: 4FPS

Hence the continuous lines don't seem to slow things down for this case (bottleneck is likely elsewhere).  I'll p

[2016-08-10 17:07] samreid commented on #247
In the preceding commit, the rays are continuous instead of discrete.  I tested in Acid Base Solutions' 2nd screen and it looks good.  @pixelzoom would you like to review?

[2016-08-10 18:12] pixelzoom commented on #247
Inspected the commit, looks good, closing.

[2016-08-10 18:12] #247 closed

[2016-08-10 18:32] pixelzoom commented on #255
Another option:

(4) Similar to options 3, but `sliderOptions` is the set of options to override (yes, unconventional). NumberControl is responsible for calling `_.extend` properly, and for excluding any "off limits" options.

[code]

[2016-08-10 20:07] pixelzoom commented on #253
@jbphet It would be nice to have this reviewed before we discuss https://github.com/phetsims/scenery-phet/issues/254 at developer meeting.

[2016-08-10 21:36] jbphet commented on #253
Okay, I'll review before the meeting.

[2016-08-10 21:39] schmitzware commented on #254
IMHO the more general/flexible the better. So, I like the idea of just having a pattern that can be passed in as an option rather than assuming that all you'll ever want is a value and a unit (i.e. in the unit rates case I tack on a pre-value currency symbol). I'd vote for extending this to NumberControl also.

[2016-08-11 16:51] jbphet commented on #253
The reasoning behind making units and pattern into options makes sense to me, and the changes look good.  It seems to be working fine in Expression Exchange.  Thanks for doing this - it's a good improvement.

I'll remove my assignment.  @pixelzoom mentioned discussing this at developer meeting, so I won't close it.

[2016-08-11 17:25] samreid commented on #251
`TextWithEmbeddedNodes` seems like the proper way to expose the ordering to translators.  Even if there is no displayed "text", this could still work.  Not sure if that is the right name is TextWithEmbeddedNodes in that case.

[2016-08-11 17:25] samreid commented on #251
We reviewed this at the Aug 11 meeting and decided to wait until @pixelzoom returns for further discussion.

[2016-08-11 17:30] samreid commented on #255
@pixelzoom is this one of the options you mentioned?  This pattern has worked well elsewhere.

[code]

[2016-08-11 17:37] jbphet commented on #254
I just reviewed the changes to NumberDisplay that were related to this, and the changes made there were an improvement.  Making the NumberControl API consistent with the revised NumberDisplay API seems like a good idea.

[2016-08-11 17:41] veillette commented on #252
Thanks @pixelzoom , it looks good. closing

[2016-08-11 17:41] #252 closed

[2016-08-18 17:44] pixelzoom commented on #255
That's pattern (1).

[2016-08-18 18:42] pixelzoom commented on #251
8/18/16 dev meeting: Since ordering and spacing relies on a text-string pattern, probably makes sense to do this as described for TextWithEmbeddedNodes.

Since I already worked around this in curve-fitting, this is low priority, and unassigned.

[2016-08-18 18:45] pixelzoom commented on #254
8/18/16 dev meeting: Proceed with making NumberControl API similar to NumberDisplay.

[2016-08-18 19:18] pixelzoom commented on #255
(5) Some totally different way of styling UI components that doesn't involve options.

[2016-08-18 19:27] pixelzoom commented on #255
(3) and (4) don't need the `_.extend( {},` stuff.  So something like (3) would work.

[2016-08-18 19:49] #253 closed

[2016-08-18 21:32] pixelzoom commented on #255
Ah... There was a reason why the `_.extend` call was necessary for sliderOptions.  It's because NumberControl sets some defaults for its HSlider.  If the client passes in its own `sliderOptions`, it will blow away all of those defaults, not just the ones that it wants to override.

[2016-08-19 17:01] pixelzoom commented on #254
API has been changed and hookes-law has been converted.

circuit-construction-kit-common needs to be converted (see TODO in CircuitElementEditPanel). Assigning to @samreid to handle this.

[2016-08-19 17:50] samreid commented on #254
I updated CCK, is there anything else to do for this issue?

[2016-08-19 17:55] pixelzoom commented on #254
Nope. Closing.

[2016-08-19 17:55] #254 closed

[2016-08-19 19:20] pixelzoom commented on #217
scenery-phet.ProbeNode uses a pattern for styling the look of the probe. See `glass` and `crosshairs`. After consulting with @samreid, I used a similar approach for creating layout functions in NumberControl.

For lack of better names, see `CREATE_LAYOUT_FUNCTION_1`,  `CREATE_LAYOUT_FUNCTION_2` and `CREATE_LAYOUT_FUNCTION_3` in NumberControl, which create predefined layouts that can be customized

[2016-08-19 19:43] pixelzoom commented on #217
In retrospect, I think that perhaps the predefined functions should have camel case names.  E.g., `createLayoutFunction1` instead of `CREATE_LAYOUT_FUNCTION_1`.

[2016-08-20 02:54] samreid commented on #217
Adding a high priority label to put it on my to-do list.

[2016-08-22 17:36] samreid commented on #217
I've finished reviewing the changes to NumberControl and its example usage in SlidersView.  Generally, things look great.  Here are some more details:

SlidersView.js line 91 is written like so:
[code]
Can you elaborate on why a workaround is needed for the slider, and what the workaround does?

This code comment looks like it is referring to the old name for the functions, it should be updated:
[

[2016-08-22 17:54] pixelzoom commented on #217
(1) and (2) addressed in above commit.

Re (3)... I considered adding the subcomponents (titleNode, numberDisplay, slider, leftArrowButton, rightArrowButton) directly to NumberControl, then having `options.layoutFunction` be responsible only for relative placement of the subcomponents.  This complicated the implementation and made it impossible to leverage VBox and HBox (which are very useful for

[2016-08-22 18:16] samreid commented on #217
The revisions look good and your comment makes sense, closing.

[2016-08-22 18:16] #217 closed

[2016-08-22 18:19] pixelzoom opened #256 "LaserPointerNode: add option to hide button"
In models-of-the-hydrogen-atom, we need a LaserPointerNode that doesn't have a toggle button on it.  Add `options.hasButton`.

[2016-08-22 18:42] pixelzoom commented on #256
Adding `options.hasButton` also making LaserPointerNode conform to PhET's standard for the enabled/disabled feature (as described in https://github.com/phetsims/sun/issues/241#issuecomment-234031982).  Both changes were made in the above commit, and I added an "enabled" check box to scenery-phet demo for testing.

[2016-08-22 18:42] pixelzoom commented on #256
@samreid would you mind reviewing?

[2016-08-22 18:44] pixelzoom opened #257 "LaserPointerNode creates unnecessary this.tandem"
Noted while working on #256.

LaserPointerNode line 99:

[code]

But `this.tandem` is not used outside of the constructor, so it's unnecessary.

[2016-08-22 18:47] pixelzoom commented on #257
Looks like I added this code in 700d3f4a87ffd499fba6b12c28849bdb0f23d25f.   Fixed up in the above commit.  @samreid would you mind reviewing, to make sure I didn't break any PhET-iO sims?

[2016-08-22 20:02] pixelzoom commented on #211
Well, it's MOTHA time, so I guess I'll need to do this. Self assigning.

[2016-08-22 20:05] samreid commented on #256
There are a few problems with the proposed implementation:

(1) The DISABLED_OPTIONS are initialized like so:

[code]
And extended like so:
[code]
This means the same Property instance ends up registered as the same enabledProperty for multiple LaserPoinerNodes (using default options).  For instance, if a simulation has 3 LaserPointerNodes (using default options), and one of them is disabled, they

[2016-08-22 20:18] pixelzoom commented on #256
Ugh. I botched that one, thanks for catching.  Re (4), lint is failing because I accidentally deleted the `tandem.addInstance` call.

Fixed in the above commit.

[2016-08-22 20:23] samreid commented on #256
Looks great, thanks, closing.

[2016-08-22 20:23] #256 closed

[2016-08-22 20:26] samreid commented on #257
I fixed options.tandem.removeInstance in the above commit, tested BLL in instance-proxies wrapper.  All seems well, closing.

[2016-08-22 20:26] #257 closed

[2016-08-22 20:33] pixelzoom commented on #257
Doh. Maybe I should stay out of common code today.

[2016-08-22 20:59] pixelzoom opened #258 "odd way of adding tweaker tandems in WavelengthSlider"
Noted while trying to make some other enhancements to WavelengthSlider for models-of-the-hydrogen-atom.

In @a647cd1973de4110a524847b89ee1a273c38b853, @samreid added tandems for the tweaker buttons:

[code]

This would be more consistent with what's done for subcomponents in other UI components:

[code]

[2016-08-22 21:06] pixelzoom opened #259 "tandem problems in WavelengthSlider"
Noted while working on #258...  WavelengthSlider creates tandems for its ArrowButton instances:

[code]

Two problems:

(1) ArrowButton doesn't do anything with options.tandem, it has not been instrumented for PhET-iO.  It will need to call tandem.addInstance and implement dispose.

(2) ArrowButton instances (plusButton, minusButton) are not cleaned up by WavelengthSlider.dispose.

@samreid Do you

[2016-08-22 21:11] pixelzoom opened #260 "WavelengthSlider needs additional options"
Noted while working on models-of-the-hydrogen-atom.

If you decrease `options.trackHeight`, then the value may collide with the buttons, e.g.:

![screenshot_79](https://cloud.githubusercontent.com/assets/3046552/17871834/88e4d6a0-687a-11e6-8540-0f4cfd9a546f.png)

So it would be nice to be able to control the size of the tweaker buttons, and the vertical spacing between the bottom of the value and

[2016-08-22 21:12] pixelzoom commented on #260
It would also be nice if default for the vertical spacing between the bottom of the value and the top of the track were computed automatically, so that the value doesn't collide with the tweakers.

[2016-08-22 21:22] pixelzoom commented on #260
Added options.ySpacing and options.maxTweakersHeight, working nicely in MOTHA:

![screenshot_80](https://cloud.githubusercontent.com/assets/3046552/17872201/3092fdae-687c-11e6-9d8f-dcda316b37b6.png)

@samreid Would you mind taking a peek?

[2016-08-22 21:33] pixelzoom opened #261 "WavelengthSlider problems with pointerAreas"
(1) There are no options for setting touchArea and mouseArea for the tweaker (arrow) buttons.

(2) There are no options for setting touchArea and mouseArea for the slider thumb.

(3) There is a very odd `options.pointerAreasOverTrack` that is undocumented and has this behavior. When `pointerAreasOverTrack:false`, the slider thumb's touchArea and mouseArea is completely below the track, e.g.:

![sc

[2016-08-22 21:37] pixelzoom commented on #261
I was the author of the Java version of color-vision, and there was never a need for the `pointerAreasOverTrack` feature. @samreid Since you inherited bending-light, could you comment on this feature? (Issue (3) above.)

[2016-08-22 21:39] pixelzoom commented on #261
Ah... There is some ability to change thumb touchArea.  But it's done *before* the options `extend` call, and is not documented in the options hash:

[code]

[2016-08-22 21:42] pixelzoom commented on #261
This line:

[code]

Is probably a bug, and should be `02.5 * height`.  The y dilation is shifted, so this actually results in a huge touch area (the full height of the thumb) below the thumb. E.g. in scenery-phet demo:

![screenshot_83](https://cloud.githubusercontent.com/assets/3046552/17872779/0805e9a2-687f-11e6-95a0-743c69b52314.png)

[2016-08-22 22:04] pixelzoom commented on #261
(5) touchArea shape is computed using `Shape.rect` instead of using `localBounds`, `dilate` and `shift` functions.  This results in an unnecessarily complicated bit of code:

[code]

[2016-08-22 22:06] pixelzoom commented on #261
(6) Computation of pointer areas is done inside of WavelengthSlider.Thumb.  It would be much easier (see 5) to do this outside of Thumb, in the WavelengthSlider constructor.

[2016-08-22 22:07] samreid commented on #258
I reviewed the change and it looks correct to me.

[2016-08-22 22:10] samreid commented on #259
This would be good for @andrewadare to work on when he has time.

[2016-08-22 22:14] pixelzoom commented on #259
I may take care of it, since I'm doing a lot of other work on WavelengthSlider (#211, #260, #261, ...)  If I get to it before @andrewadare, I'll self assign. @andrewadare, if you start work on this, please let me know so that we don't collide too much.

[2016-08-22 22:15] pixelzoom commented on #259
I may take care of it, since I'm doing a lot of other work on WavelengthSlider (#211, #260, #261, ...)  @andrewadare, if you start work on this, please let me know so that we don't collide too much. If I get to it before you, I'll let you know.

[2016-08-22 22:35] samreid commented on #259
@pixelzoom I'm happy for you to work on this if you.  To test addInstance(this,TNode) calls, you can launch instance-proxies.html for a sim that uses the node, and test toggling the "visible" and "pickable" checkboxes.  Here's a link to the test pages: http://localhost/phet-io/html/dev-wrappers.html

[2016-08-23 02:57] samreid commented on #260
All 3 commits look good, my only question is whether we would like a more specific term in place of `ySpacing`, perhaps something like `verticalValueDisplayMargin`?  It seems like `ySpacing` runs the risk of colliding with some future term.

[2016-08-23 03:13] samreid commented on #261
I don't recall any specific requests for this feature from the design team, it seems like `pointerAreasOverTrack: true` was inherited by copy-paste from an existing WavelengthSlider example.

[2016-08-23 14:50] pixelzoom commented on #260
Changed `ySpacing` to `valueYSpacing`.

[2016-08-23 15:03] pixelzoom commented on #261
@ariel-phet requested the `pointerAreasOverTrack` feature for color-vision in https://github.com/phetsims/color-vision/issues/63 due to a usability concern raised in interviews.

I agree with the usability concern. But I don't think this was addressed in a particularly good way.   My proposal:

Instead of extending the thumb's pointer areas into the track, the track should support "click and drag"

[2016-08-23 15:10] pixelzoom commented on #259
NumberControl has this identical problem -- it creates tandems for the ArrowButtons (which doesn't support tandem), and then doesn't clean them up in dispose.

Awhile back I proposed adding this assertion to all UI components that aren't instrumented:

```assert && assert( !options.tandem, 'tandem is not supported' );```

In light of the obvious error that I'm seeing here with ArrowButton, perhaps

[2016-08-23 15:24] samreid commented on #260
Sounds good, closing.

[2016-08-23 15:24] #260 closed

[2016-08-23 15:26] samreid commented on #261
It sounds reasonable to me, but let's hear from @ariel-phet before proceeding.

[2016-08-23 15:33] pixelzoom commented on #259
Ah... No `tandem` appears in the ArrowButton source code, but it is passed through to its supertype (RectangularPushButton), where it appears to be handled properly.

So the tandem is added, and there is a dispose call that will remove it.  Need to fix WavelengthSlider and NumberControl to call dispose for its ArrowButton instances.

[2016-08-23 15:37] ariel-phet commented on #261
@pixelzoom agreed, please proceed

[2016-08-23 15:56] pixelzoom commented on #259
I added dispose calls for the ArrowButton instances in WavelengthSlider and NumberControl, see above commit.

[2016-08-23 15:57] pixelzoom commented on #259
Above I said:

Looking at ResetAllButton (a subtype of RoundPushButton), I see:

[code]

@samreid Should ArrowButton have a similar "marker entry" in its options? Is this a convention that we're going to use?

[2016-08-23 15:59] samreid commented on #259
I have mixed feelings about the marker and would like to discuss it before we decide.  I suppose at the moment I'm leaning toward "delete them because they are duplicated information and it would be crazy to have marker entries for everything" though I do see the advantage of being able to easily see if something is instrumented in a parent class.  Perhaps there is a better way to proceed.

[2016-08-23 16:02] pixelzoom opened #262 "should we use a tandem "marker entry" in options?"
Noted in https://github.com/phetsims/scenery-phet/issues/259#issuecomment-241782395

I had some confusion about whether ArrowButton was instrumented, and said:

Looking at ResetAllButton (a subtype of RoundPushButton), I see:

[code]

Should ArrowButton have a similar "marker entry" in its options? Is this a convention that we're going to use?

[2016-08-23 16:03] pixelzoom commented on #262
In https://github.com/phetsims/scenery-phet/issues/259#issuecomment-241783144, @samreid said:

[2016-08-23 16:03] pixelzoom commented on #262
Labeled for discussion at developer meeting.

[2016-08-23 16:03] pixelzoom commented on #259
Discussion of "marker entry" for tandem moved to https://github.com/phetsims/scenery-phet/issues/262.

[2016-08-23 16:04] pixelzoom commented on #259
@samreid Could you please review the changes mentioned in https://github.com/phetsims/scenery-phet/issues/259#issuecomment-241781931? If all looks well, close this issue.

[2016-08-23 16:17] samreid commented on #259
Looks good, there is just one issue to discuss.  There are now 2 different ways of dealing with the presence of the arrow buttons.

[code]

It seems somewhat better to be consistent about these.  I'm leaning toward method 2, perhaps we should update the method 1 sites to read more like so:

[code]

Let me know your thoughts on the matter.

[2016-08-23 16:56] pixelzoom commented on #259
There are multiple sites (3) that we'd need to change from

[code]

to

[code]

I think these 2 sites would be *less* clear if changed:

[code]

So I'm inclined to leave things "as is".

I'm also inclined to leave things "as is" because I suspect that WavelengthSlider is going to require a major rewrite to address https://github.com/phetsims/scenery-phet/issues/211 (support for non-visible wavelen

[2016-08-23 16:57] samreid commented on #259
OK agreed, anything else to do here?

[2016-08-23 16:59] pixelzoom commented on #259
All done, closing.

[2016-08-23 16:59] #259 closed

[2016-08-23 17:02] #258 closed

[2016-08-23 22:24] pixelzoom commented on #261
Here's the check list of what needs to be done:

- [ ] make it possible to set touchArea dilation to `0` for thumb
- [ ] add options for mouseArea dilation of thumb
- [ ] fix computation of pointer areas for thumb so that areas are not so tall
- [ ] add options for touchArea and mouseArea dilation of tweaker buttons
- [ ] change computation of pointer area shapes to use `localBounds`, `dilatedXY`,

[2016-08-23 22:53] pixelzoom commented on #261
Some of the things in inner type Thumb that IDEA was complaining about were due to incorrect documentation of parameters in kite.Shape. See https://github.com/phetsims/kite/issues/62.

[2016-08-23 23:06] pixelzoom commented on #261
Because ArrowButton has default no-zero pointer area dilation, I was forced to compute touchArea and mouseArea for the tweaker buttons even if their dilation option values were zero.  This demonstrates the problem with having non-zero pointer area defaults in common components -- it interferes with composition, and forces us to compute pointer areas that we wouldn't otherwise need.

[2016-08-24 02:36] samreid commented on #261
It looks like you have been making swift progress here, so perhaps I should have asked sooner: what is your opinion of generalizing HSlider so it can support WavelengthSlider?

[2016-08-24 03:01] pixelzoom commented on #261
WavelengthSlider is a pretty specialized control, and sufficiently different that I don't think generalizing (or extending) HSlider would work out. And it's going to get even more different when I tackle #211 (add support for UV and IR wavelengths).

[2016-08-25 16:44] pixelzoom opened #263 "clean up SpectrumNode"
Things to clean up in SpectrumNode:
- [x] **(1) Add `options` parameter**

Currently missing `options` parameter, which would be nice to have so that we don't need to resort to this in WavelengthSlider:

[code]

Similar workaround in blackbody-spectrum.GraphDrawingNode:

[code]
- [x]  **(2) Convert required constructor parameters to options**

Current constructor signature:

[code]

All of the req

[2016-08-25 16:46] pixelzoom commented on #263
Similar workaround in blackbody-spectrum.GraphDrawingNode:

[code]

[2016-08-25 16:47] pixelzoom commented on #263
In fact... All of the required parameters for SpectrumNode should be converted to options, since they all have reasonable defaults.

[2016-08-25 16:49] pixelzoom commented on #263
SpectrumNode also currently extends `Node`, but has only one child (`Image`).  It should probably just extend `Image`.

[2016-08-25 17:52] pixelzoom commented on #263
@jessegreenberg would you mind reviewing this, since you're the only remaining developer with a sim (molecules-and-light) that uses SpectrumNode?

[2016-08-25 18:25] pixelzoom opened #264 "SpectrumNode: support UV and IR wavelengths"
In order to add support for UV and IR wavelengths to WavelengthSlider (https://github.com/phetsims/scenery-phet/issues/211), we'll need to add this support to SpectrumNode, which renders the slider track.

See Java implementation at edu.colorado.phet.common.phetcommon.view.util.SpectrumImageFactory.

[2016-08-25 18:27] pixelzoom commented on #211
Consider renaming `WavelengthSlider`, since it's not just a slider, it also has tweaker (arrow) buttons. Convention suggests that this should be named `WavelengthControl`, which was in fact the name of the Java implementation.

If renamed, it would also make sense to move this to the "Components" screen in scenery-phet demo.

[2016-08-25 19:03] samreid commented on #262
@jbphet points out this is just a holdover until `tandem` is supported broadly.

We would rather not duplicate options, and we should remove the marker entries.

[2016-08-25 19:04] samreid commented on #262
Marked with high-priority to put it on my todo list.

[2016-08-25 19:48] pixelzoom commented on #261
In light of https://github.com/phetsims/sun/issues/251#issuecomment-242508522, options for pointer areas should be changed to pixels instead of percentages.  Review clients to see if this adversely affects them.

[2016-08-25 23:39] pixelzoom opened #265 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this runnable relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:36] pixelzoom commented on #265
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:36] #265 closed

[2016-08-29 03:20] samreid commented on #262
If we decide to proceed with non-null tandems in common code options as discussed in  https://github.com/phetsims/phet-io/issues/562 then perhaps it makes sense to declare `tandem: Tandem.createOptionalTandem('myClass`)` at each point in the hierarchy--the subclassiest one will take effect.  Should be discussed with @andrewadare before proceeding.

[2016-08-29 18:09] pixelzoom opened #266 "WavelengthSlider: use pixels instead of percentages for thumb touchArea defaults"
In light of phetsims/sun#251 (comment), options for pointer areas should be changed to pixels instead of percentages. Review clients to see if this adversely affects them.

[2016-08-29 18:09] pixelzoom commented on #261
Changing pointer area options from percentages to pixels moved to https://github.com/phetsims/scenery-phet/issues/266.

[2016-08-29 18:11] pixelzoom commented on #261
@samreid Would you mind reviewing this?  I know it's a lot of stuff.  The only really critical issue is to confirm that WavelengthSlider now behaves like HSlider; that is, you can click and drag in the track.

[2016-08-29 18:37] pixelzoom commented on #266
Work completed. I inspected all clients (BLL, bending-light, color-vision, MOTHA).  The only client that required adjustment was MOTHA, which is an unpublished sim for which I'm responsible.  So I'm going to go ahead and close this issue.  But if any other developer wants to review, please do so.

[2016-08-29 18:37] #266 closed

[2016-08-30 15:15] pixelzoom opened #267 "ShadedSphereNode: add option to change highlight diameter"
ShadedSphereNode is currently lacking an option to change the specular highlight diameter.  It's essentially hardcoded to be half of the sphere diameter, in this color stop:

[code]

[2016-08-30 15:22] pixelzoom commented on #267
Done. Also added missing validation for some other options.  Spot tested in several sims.

@jessegreenberg selected at random to review.

[2016-08-30 17:49] samreid commented on #262
@andrewadare the pattern that we discussed today sounds good, and in a subclass hierarchy, each class will specify `tandem: Tandem.createDefaultTandem('myClass')`.  This is in effect like a "marker entry" but one that will work well with our non-null tandem pattern.  I'll unassign but leave open and we can re-evaluate after https://github.com/phetsims/phet-io/issues/562 is complete.

[2016-08-31 05:42] samreid commented on #261
I tested the functionality on Mac Chrome with the WavelengthSlider in Bending Light screen 3 and it seemed good with respect to clicking and dragging in the track.

I noticed the require statements were alphabetized, do you have an automated tool for this?  @andrewadare may want to hear about it too, if it exists.

I skimmed the change set and did not see any concerns.

[2016-08-31 16:59] pixelzoom commented on #261
@andrewadare @samreid Sorry to report that sorting require statements is currently a manual process.  I tend to enter them sorted to begin with, so don't have to do manual sort very often.

[2016-08-31 16:59] #261 closed

[2016-09-01 22:39] pixelzoom opened #268 "more efficient implementation of pause icon"
The pause symbol is 2 vertical bars. Currently it's implemented like this in `PlayPauseButton`:

[code]

This implementation requires 3 nodes and a function. (Also, `pausePath` is poorly named, since it's an `HBox`, not a `Path`.)

Consider changing to this implementation, which requires 1 Node:

[code]

[2016-09-02 15:48] samreid commented on #268
Their bounds look the same:

![image](https://cloud.githubusercontent.com/assets/679486/18209694/1ad95e62-70f2-11e6-93cf-b52d1faefc90.png)

Their rendering looks the same:
![image](https://cloud.githubusercontent.com/assets/679486/18209718/33342f82-70f2-11e6-8616-3d0a2d6c0767.png)

![image](https://cloud.githubusercontent.com/assets/679486/18209731/44e6b830-70f2-11e6-8b05-47d9a4b3712d.png)

Sanity

[2016-09-02 15:51] samreid commented on #268
Fixed as recommended, @pixelzoom would you like to review?

[2016-09-02 17:00] pixelzoom commented on #268
👍 Closing.

[2016-09-02 17:00] #268 closed

[2016-09-19 17:13] pixelzoom commented on #255
I ventured down the path (again) of factoring out HSlider.DEFAULT_OPTIONS, and using `_.pick` to cherry pick just the HSlider options.  But that required a lot of changes to HSlider, and (in the general case) would get complicated it HSlider was itself had subcomponents.

@samreid suggested omitting the subtype (Node) options in this Skype discussion:

[9/19/16, 10:39:22 AM] Chris Malley: Yes, but

[2016-09-19 17:22] pixelzoom commented on #255
General issue moved to https://github.com/phetsims/sun/issues/267.

@samreid would you mind reviewing the specific fix for NumberControl (@babfefd8a20d7ea0197fc683e32afb93f65bb15b), since you and I discussed this via Skype?

[2016-09-19 17:24] pixelzoom commented on #255
Whoopsie... Fixed use of `_.omit` in above commit.

[2016-09-21 00:35] samreid commented on #255
The new code says:

[code]
However, there are also these new assertions:
[code]
So it seems we should update the documentation to indicate that there are some HSlider options that cannot be used.

But I don't understand why startDrag and and endDrag get remapped in NumberControl.

I also tinkered with passing options through in http://localhost/scenery-phet/scenery-phet_en.html?screens=2 and it se

[2016-09-21 00:46] samreid commented on #255
Ah, understood.  I'd recommend to document that last sentence in the part of code where the callbacks are getting remapped.

[2016-09-21 00:49] pixelzoom commented on #255
Done, please review, feel free to modify if you'd like more/different doc.

[2016-09-21 00:50] samreid commented on #255
Looks good, closing.

[2016-09-21 00:50] #255 closed

[2016-10-05 21:07] pixelzoom opened #269 "use fontawesome 'refresh' icon for RefreshButton"
Noted while working on https://github.com/phetsims/unit-rates/issues/123.

Fontawesome has a 'refresh' icon.  RefreshButton doesn't use it, and instead implements its own icon that is almost identical - except that the arrows go in the opposite direction (counterclockwise, instead of clockwise).

RefreshButton:

![screenshot_40](https://cloud.githubusercontent.com/assets/3046552/19131595/3cc384aa-

[2016-10-05 21:25] pixelzoom commented on #269
Labeling for developer meeting, since changing to fontawesome 'refresh' will change the direction of the arrows for all sims that use RefreshButton.

[2016-10-06 18:57] pixelzoom commented on #269
10/6/16 dev meeting: I will change RefreshButton to extend FontAwesomeNode( 'refresh' ).

[2016-10-17 14:42] pixelzoom opened #270 "factor out common button color"
This color is duplicated in 5 places:

[code]

And documented in various ways, all of which indicate that it's dependent on the PhET logo:

[code]

This color should be in PhetColorScheme.

[2016-10-17 14:43] pixelzoom commented on #270
Assigning to @samreid since he appears to have created (or at least documented) the duplication.

[2016-10-17 14:45] pixelzoom commented on #270
I see this color in 2 other places, expressed in hex format.  In EraserButton and PaperAirplaneNode:

[code]

[2016-10-17 14:48] pixelzoom commented on #270
... and there may be others. Recommended to also look in vegas and sun.

[2016-10-18 01:35] pixelzoom commented on #269
Assigning to @jbphet to review.  RefreshButton was sparsely used, with little standardization other than the icon. So I simply deleted it and replaced occurrences with `RectangularPushButton( { content: FontAwesomeNode( 'refresh' ), ... } )`. If you feel that having a first-class RefreshButton is generally useful, feel free to create one.

[2016-10-18 20:19] jbphet commented on #269
Changes look fine to me.  Assigning to @ariel-phet to decide if he's okay not having a 'standard' refresh button, since I seem to remember spending some time discussing this in design meetings at one point.

[2016-10-19 01:26] ariel-phet commented on #269
I think this is fine as a change in terms of not having a "standard" refresh button (we will certainly use the standard icon) but the actual function of the refresh button has been a bit sim specific.

[2016-10-19 01:26] #269 closed

[2016-10-20 12:25] pixelzoom opened #271 "need a control that combines keypad, value display and "enter" button"
NumberKeypad does not have a value display or "enter" button, and every client that has used NumberKeypad has had to add these features.

In https://github.com/phetsims/sun/issues/212#issuecomment-254903023, @jbphet said:

So we'll probably add these features by composition, possibly using NumberEntryControl as a starting point.

Assigned to @ariel-phet to prioritize and assign.

[2016-10-20 12:30] pixelzoom commented on #271
@ariel-phet As noted in https://github.com/phetsims/unit-rates/issues/130#issuecomment-255091660, I have no plans to address this in unit-rates.  There are at least 3 other sims that pre-date unit-rates and make-a-ten, and any one of them could have tackled generalization.  Recommended to assign this issue to the author of one of those sims (area-builder, arithmetic projectile-motion), or to @jona

[2016-10-24 16:03] ariel-phet commented on #271
Ideal to do as part of the work for publishing make-a-ten

[2016-10-25 17:31] ariel-phet commented on #271
@jonathanolson marking for dev meeting just so we can solidify specs as a group.

[2016-10-27 19:00] pixelzoom commented on #271
Things that the API probably needs:

Value field above keypad, options for {Color|string} background color, {Color} background stroke, {Color|string} value color, {Font} value font, {Dimension2} size of the field,...

"Enter" button below keypad, options for {Node} button label, {string} alignment (left, right, center), {number} ySpacing (from bottom of keypad), {Color|string} button color, ... (m

[2016-10-31 18:30] jonathanolson commented on #271
Some concerns to address about this refactoring:

Encapsulation:

- Visibility and pickability of the button need to be handled independently of the visibility and pickability of the keypad in multiple sims (requires button and keypad/readout references)
- unit-rates dynamically changes button listeners (requires button)
- Button "enabled" also needs to be accessed.

Layout:

- arithmetic/area-bui

[2016-10-31 20:44] pixelzoom commented on #271
@jonathanolson and I discussed via Skype.  He'd like to omit the button.  I'm OK with that, but...  I  haven't even used NumberKeypad yet (I inherited it in unit-rates), it was written and used mostly by @jbphet . @jbphet and I were asked at last week's dev meeting to weigh in on what we'd like to see in the API.  My feedback was in https://github.com/phetsims/scenery-phet/issues/271#issuecomment-

[2016-10-31 20:46] jonathanolson commented on #271
@jbphet, let me know if you have some time to discuss if we should factor out the buttons into common code.

[2016-11-01 01:29] jonathanolson commented on #271
I'll plan to tackle KeypadPanelNode, and if in the future we have more consistent button layout/behavior, we could consider factoring out that.

[2016-11-02 00:44] pixelzoom opened #272 "NumberKeypad: add ability to constrain what's entered"
In unit-rates, number entry needs to be constrained to 2 decimal places. That seems impossible to accomplish with NumberKeypad, which only allows you to specify `options.maxDigits`.  @jbphet am I missing something?

[2016-11-02 00:48] pixelzoom commented on #272
unit-rates also needs to constrain the number of digits in the integer portion of the number entered. Basically, I need to be able to enter dollars and cents in some places ($0.01 to $99.99), and pounds in other places (0.1 to 99.9).

It sure would be a lot more general if the API included a function to validate (accept or reject) each key press.

[2016-11-02 00:50] pixelzoom opened #273 "NumberKeypad: API provides no way to get a 'number'"
Line 39:

[code]

So I can't get a number from NumberKeypad?... This makes no sense to me. What is the rationale for providing the number as a string?

[2016-11-02 00:55] pixelzoom opened #274 "NumberKeypad: add support for negative numbers"
Hard to believe that there's no support for entering negative numbers. But they are going to be needed by area-model-multiplication.

[2016-11-02 00:56] pixelzoom commented on #271
As I look more closely at NumberKeypad (trying to use it in unit-rates), I'm pretty convinced that it's not adequately generalized.  When working on KeypadPanelNode, it would be better to fix deficiencies in NumberKeypad (e.g. #272, #273, #274,...), rather than work around them in  KeypadPanelNode.

[2016-11-02 00:57] pixelzoom commented on #263
I'm going to go ahead and close this, since it's been in the "ready for review" state for awhile.

[2016-11-02 00:57] #263 closed

[2016-11-02 00:58] pixelzoom commented on #219
We're not using `pickable:false` for disable components, we're using `inputEnabled:false`.

[2016-11-02 15:29] jbphet commented on #272
I just looked through the code base, and it appears that ```decimalPointKey``` - the option attribute that is used to turn on the decimal point button - has only been used in projectile-motion and unit-rates thus far.  The other sims that use NumberKeypad have only allowed the entry of integers.  So, it looks like this is the first time that we need to restrict the number of decimal digits.

Gener

[2016-11-02 15:41] jbphet commented on #273
```digitStringProperty``` changes as the user enters digits so that clients can know and display exactly what the user has entered.  If it were a number property instead, and the user entered, say, 3.40001, there would be no change in the number property's value for each of the zeros entered until the 1 was entered.

[2016-11-02 15:43] pixelzoom commented on #273
How does that preclude also offering the value as a number?

[2016-11-02 15:45] jbphet commented on #273
@pixelzoom asked

That was answered in https://github.com/phetsims/scenery-phet/issues/273#issuecomment-257903922.

...then...

It doesn't, and adding an API to retrieve the value as a number would be fine with me.

[2016-11-02 16:43] jonathanolson commented on #272
I also had recorded that KeypadPanelNode (unit-rates) enabled the decimal point button, but I could be wrong.

Sounds great.

[2016-11-02 21:37] pixelzoom opened #275 "NumberKeypad: can't enter 0 before decimal place"
Unit Rates expresses displays currency as dollars and cents (e.g.) '$0.25'.  But it's impossible to enter the leading zero in NumberKeypad.  As soon as you enter the decimal point, the zero is erased (e.g. '.25').

@jbphet Is this a bug or a feature?

[2016-11-02 23:18] pixelzoom commented on #275
If I change the behavior of this to allow 1 leading 0 before the decimal place, are there any sims that it will break?

[2016-11-03 15:49] jbphet commented on #275
I'd say it's a bug.  If I recall correctly, leading zeros are intentionally removed from integers, and perhaps the same code is kicking in (inappropriately) for the decimal point.  I have only used this control in simulations where a decimal point wasn't needed, so functionality related to the decimal point has likely had little to no testing and refinement.

[2016-11-03 15:52] jbphet commented on #275
I'm not aware of any sims that will be broken by allowing a leading zero in front of the decimal place.  Sounds like the right thing to do to me.

[2016-11-03 18:34] pixelzoom opened #276 "Convert from PropertySet to Property"
Per https://github.com/phetsims/axon/issues/102...  Convert from PropertySet to Property.

[2016-11-05 03:24] samreid commented on #270
I see 10 occurrences of `242, 233, 22` and 16 occurrences of `F2E916`.

[2016-11-05 03:33] samreid commented on #270
I updated make-a-ten above.  Pinging @jonathanolson so he can pull/merge.  I tested in the game, and made sure lint is passing.

[2016-11-05 03:47] samreid commented on #270
In the above commits, I factored out the numeric form in about 10 places.  For each sim, I tested lint and runtime in requirejs mode.  I also threw in some lint fixes for griddle (not sure how those sneaked in).  Next up should be `F2E916`.

[2016-11-05 04:03] samreid commented on #270
In the above commits, I factored out the `F2E916` occurrences.  I tested by grunting and launching every sim, though I did not play all the way through an arithmetic level.

@pixelzoom would you like to review?  Should we add a note to the code review doc to check for this in the future?

[2016-11-05 04:03] samreid commented on #270
Or a lint rule?

[2016-11-07 16:47] pixelzoom commented on #270
I don't think we should have a lint rule for a specific color.  We could have a lint rule that looks for color literals that correspond to colors in PhetColorScheme.  But due to the number of ways of expressing colors (Color, string, RGB, RGBA, hex,...) that seems like a lot of work for dubious benefits.

I'm also not sure if this should be specifically called out in the code review or developer g

[2016-11-07 17:05] pixelzoom commented on #211
In order to add support for UV and IR wavelengths to WavelengthSlider, we'll need to add this support to SpectrumNode, which renders the slider track. See Java implementation at edu.colorado.phet.common.phetcommon.view.util.SpectrumImageFactory.

[2016-11-07 17:05] pixelzoom commented on #264
This will be handled in https://github.com/phetsims/scenery-phet/issues/211. Closing.

[2016-11-07 17:05] #264 closed

[2016-11-07 17:36] pixelzoom opened #277 "ColorProfile issues"
Encountered while working on https://github.com/phetsims/scenery-phet/issues/276 (conversion to PropertySet) ...

(1) Incorrect documentation for `@param {Array.<Color|string>} colors` in ColorProfile constructor.

(2) Inappropriate use of inheritance in `GravityAndOrbitsColorProfile` and `StatesOfMatterColorProfile`.

[2016-11-07 17:57] pixelzoom commented on #277
@jessegreenberg please review GOA.
@jbphet please review SOM.
Whoever reviews last, please close this issue.

[2016-11-07 18:41] pixelzoom opened #278 "ColorProfile: convert from PropertySet to Property?"
This was supposed to be covered in https://github.com/phetsims/scenery-phet/issues/276, but it's a bit of a mess.  ColorProfile was apparently written for molecule-shapes (MoleculeShapesColors), but is no longer used by molecule-shapes. It was generalized (somewhat) by AD and moved to scenery-phet.ColorProfiles, presumably for use in gravity-and-orbits.

Three problems:

(1) ColorProfile is using

[2016-11-07 18:53] pixelzoom commented on #276
There is one remaining use of PropertySet in scenery-phet, in ColorProfile. I investigated converting it, but it turned into a "big deal", worthy of its own issue: https://github.com/phetsims/scenery-phet/issues/278.

Closing.

[2016-11-07 18:53] #276 closed

[2016-11-07 19:55] samreid commented on #270
Sounds good, anything else to do here?

[2016-11-07 20:00] pixelzoom commented on #270
Nope. Closing.

[2016-11-07 23:50] pixelzoom commented on #275
Fixed. @jbphet please review.

[2016-11-07 23:52] pixelzoom commented on #273
Not going to bother with this. I did rename `digitStringProperty` to `valueStringProperty` because a number consists of other things than "digits" (e.g. sign, decimal point,...)

[2016-11-07 23:52] #273 closed

[2016-11-08 00:16] pixelzoom opened #279 "NumberKeypad: decimal point is not localized"
The decimal point is not '.' in all locales, and it's currently hardcoded.

[2016-11-08 00:34] pixelzoom opened #280 "NumberKeypad: is armedForNewEntry feature needed?"
@jbphet and I discussed briefly, and I now understand the intent. Calling `armForNewEntry()` will put the keypad in a state when the next keypress will clear the value.  This feature was added for Arithmetic, but it's not used anywhere.  So @jbphet is going to investigate whether it's still needed, or whether he came up with a better way of handling this in the client.

[2016-11-08 00:39] pixelzoom commented on #280
If this feature does survive, let's consider naming it something that's more indicative of what it does. Something like `clearOnKeyNextPress`.

[2016-11-08 00:42] pixelzoom commented on #280
There's also a little bug here... If the client provided `valueStringProperty`, then calling `valueStringProperty.reset` doesn't necessarily clear the string.  This is also true of the `clear` function.  In both places we may want to explicitly do `valueStringProperty.value = ''`.

[2016-11-08 00:43] pixelzoom commented on #280
The code for this feature is duplicated in 2 places:

[code]

[2016-11-08 00:45] pixelzoom commented on #280
Instead of calling `valueStringProperty.reset`, I set it to the empty string. The duplicated code is now:

[code]

[2016-11-08 00:48] pixelzoom commented on #280
Looks like a bug in the backspace key:

[code]

Why is the `armedForNewEntry` code executing *after* the string is shortened? Shouldn't it behave like all other keys?

[2016-11-08 00:56] pixelzoom commented on #279
I tried adding this to scenery-phet-strings_en.json:

[code]

And this to NumberKeypad:

[code]

Then replacing all `'.'` literals with `decimalPointString`.  But things were horrible broken.  I'm guessing its because there are directional indicators surrounding the string.

@jonathanolson Is there a way to easily strip off the directional indicators?

[2016-11-08 01:14] jonathanolson commented on #279
StringUtils.stripEmbeddingMarks.

Seems like we would be better off determining and fixing the break. Does the decimal count towards the number of allowed digits? Seems much cleaner to fix things without having to strip off the marks.

[2016-11-08 01:54] pixelzoom commented on #279
In the current implementation, each key's associated character gets added to a string Property (`valueStringProperty`), and that string is what's displayed to the user.  So the decimal point character (as it is typed) is concatenated to what's in `valueStringProperty` (subject to constraints, like at most 1 decimal point).

yeah, I guess we could make it work with the directional indicators (aka e

[2016-11-08 16:08] pixelzoom commented on #279
Another problem with localizing the decimal point: If a translator uses more than 1 char, it's going to mess up the backspace key.

[2016-11-08 16:10] pixelzoom commented on #279
Another problem with localizing the decimal point: If a translator uses more than 1 char, it's going to mess up the current backspace implementation, which removes the last char from `valueStringProperty`.  Or We'll need to test for `decimalPointString` in the backspace implementation, and remove the entire string if it's at the end of `valueStringProperty`.

[2016-11-08 16:16] pixelzoom commented on #272
I had proposed providing this feature via options, but that's proving to be awkward.  Each constraint function will potentially have its own set of options.  For example, the current `maxDigits` option is really specific to a "constrain to integer" function, which was useful in arithmetic and other @jbphet sims.  In unit-rate, I need to constrain to a currency range ($0.00-$99.99) or weight (0.0-9

[2016-11-08 16:30] pixelzoom opened #281 "NumberKeypad: add to scenery-phet demo"
This should be done for *any* new component.

[2016-11-08 16:44] #281 closed

[2016-11-08 16:44] pixelzoom commented on #281
@jbphet FYI, NumberKeypad has been added to scenery-phet demo.

[2016-11-08 17:37] jonathanolson commented on #279
Just use an Array with a digit enumeration (0-9, decimal, minus, etc.) internally as the model, and have a function for turning that into a number?

Also, recall that doing comparison with sim strings has caused bugs in the past, so an Array of translated strings (one for each digit) could be faulty.

[2016-11-08 17:40] pixelzoom commented on #279
Adding @jbphet to assignees, since he implemented the decimal point feature.

[2016-11-08 17:44] pixelzoom commented on #279
Yeah, I've considered doing that. But I'm trying to get out of this without having to reimplement NumberKeypad.  Hard to believe this wasn't considered.

[2016-11-08 17:54] pixelzoom opened #282 "NumberKeypad: where is the design history?"
In attempting to use NumberKeypad in unit-rates, I've had to create numerous issues (#271, #272, #273, #274, #275, #279, #280,...)  It would be nice if those changes took into account the longterm set of desired features.  And @ariel-phet has previously suggested taking a look at the design history.  That said...

Skype discussion:

[11/8/16, 10:46:42 AM] John Blanco: I recall the discussions and

[2016-11-08 17:55] pixelzoom commented on #282
@amyh-phet @arouinfar Please chime in if you have any information.

[2016-11-08 18:02] arouinfar commented on #282
@pixelzoom as far as I know, NumberKeypad has been dealt with on a sim-by-sim basis. Perhaps @amanda-phet has more information.

[2016-11-08 18:11] arouinfar commented on #282
I was never part of a design meeting for NumberKeypad. My suspicion is that a discussion may have taken place around the time Area Builder was being worked on. If so, I was not involved in any math design at the time.

[2016-11-08 18:17] jonathanolson commented on #272
Predicate function might be nice?

Do we (or should we) disable buttons that, when pressed, would break a constraint?

[2016-11-08 18:23] pixelzoom commented on #282
Mentioning @jbphet, since he developed NumberKeypad and was the primary developer involved in the design meeting.

[2016-11-08 18:26] pixelzoom commented on #272
@jonathanolson asked:

That (and other unsupported features) has certainly been proposed during area-model-multiplication design.

[2016-11-08 18:30] pixelzoom commented on #272
@jonathanolson suggested:

Predicate functions return true/false based on whether their input(s) satisfy some condition(s).  Unfortunately, it's a little more complicated than returning true/false to accept/reject a keystroke, as evidenced by the "accept and replace 0" behavior that is currently implemented.  E.g., if the current value is "0" and you enter "1", then the value becomes "1".

[2016-11-08 18:39] amanda-phet commented on #282
Two years ago, Bryce had an .ai file with various mockups of keypads that was presented at a status meeting. I believe it was because Arithmetic needed one. However I have never seen or been a part of a design meeting or design doc. If there was one, it was from 2+ years ago with Bryce. Since then, my understanding is that the keypad has been designed on a sim-by-sim basis (although I've usually b

[2016-11-08 19:51] jbphet commented on #277
Changes for SOM look good, and I tested the projector mode, which is the main use case for this color profile so far.  Everything worked correctly.

[2016-11-08 20:17] pixelzoom commented on #211
Deferred until work resumes on MOTHA, probably sometime in early 2017.

[2016-11-08 20:24] jonathanolson commented on #272
The button press would presumably recognize how the number/string would change (e.g. "0" => "1") and would run the predicate on the result ("1")? Whether the button is enabled would be:
[code]
with the ```applyTo``` returning a modified copy of the array of digits (with enum)?

[2016-11-08 20:46] amyh-phet commented on #282
@pixelzoom   If a meeting did occur, it predated me at PhET.  Both Area Builder and Arithmetic were published before I joined the team.

[2016-11-08 20:49] ariel-phet commented on #282
@pixelzoom I do not recall our conversation, but it looks like if I believed there was a specific design document for the keypad, I was mistaken. Looking through the docs, it appears we had discussion in Arithmetic and Area Builder, but not really a general "what are all the things the keypad should support" design type doc.

Assigning back to you. Probably makes sense to just close this issue. Wo

[2016-11-08 20:52] amanda-phet commented on #282
I think a design meeting would be helpful! Many sims are incorporating keypads, especially math sims... it would be good to think about the possibilities we think we will want to include and come up with a common keypad.

[2016-11-08 20:58] ariel-phet commented on #282
@amanda-phet - well then..closing this issue, will create another.

[2016-11-08 20:58] #282 closed

[2016-11-08 21:00] ariel-phet opened #283 "NumberKeypad: Design requirements"
@pixelzoom and @amanda-phet have pointed out the need for a general NumberKeypad design meeting. We should look into addressing the following questions as well as fleshing out and prioritizing other anticipated needs

- [ ] #271
- [x] #272
- [x] #275
- [x] #280
- [x] i18n requirements? (will be covered in #279 )
- [x] Scientific notation? (there is no requirement for this yet, so we've decided not

[2016-11-08 21:07] ariel-phet commented on #283
@amanda-phet do you mind getting a design doc started?

[2016-11-08 22:38] jbphet commented on #275
The commit above didn't look quite right to me, but it looks like the problem I noticed was fixed in https://github.com/phetsims/scenery-phet/commit/b4a0e3df8adb8cf082ccebda4cfb40fae3b29800.

[2016-11-08 22:53] jbphet commented on #275
The commits look good and I did a quick regression test on Arithmetic and Area Builder and saw no problems.  These two sims don't make use of decimal points, so I also did a bit of testing on Unit Rates, and saw no problems there either.  Closing.

[2016-11-08 22:53] #275 closed

[2016-11-08 23:01] jbphet commented on #280
After looking at Arithmetic, I found that this feature **is** used.  There is a method ```armForNewEntry``` that sets the ```armedForNewEntry``` flag.  So yes, this feature is still needed in order to support the case where the user starts entering a new answer and therefore needs to clear the current value on the next key press.

[2016-11-08 23:07] jbphet commented on #280
Below are some responses to other questions posed by @pixelzoom:

I'm good with that name.

Good observation, and I'm fine with explicitly setting the string property value to a zero length string.

The backspace key intentionally behaves differently.  The rationale is that if a user has entered an incorrect value and wants to correct it, and starts hitting the backspace, it should work like the b

[2016-11-09 17:31] pixelzoom commented on #283
Also labeling for developer meeting, so we can sort out what needs to be done on NumberKeypad sooner vs later, who is lead developer on the design, who is doing the work, etc.

[2016-11-09 17:36] pixelzoom commented on #280
@jbphet said:

That should be documented (I'll paste your description into the code).  Might also want to consider making that configurable - it may have been desirable in your sims, but perhaps not in general.

@jbphet Thoughts one the duplicated code for this feature? (identified in https://github.com/phetsims/scenery-phet/issues/280#issuecomment-259010729)

[2016-11-09 17:46] pixelzoom commented on #280
Seems like there's unnecessary/confusing work being done in the backspace listener. It's currently:

[code]

Based on what you said in https://github.com/phetsims/scenery-phet/issues/280#issuecomment-259288174, isn't this sufficient?

[code]

[2016-11-09 17:54] jbphet commented on #272
Since enabling and disabling buttons is only proposed, I'd be a little inclined to push back on that.  Most people's experiences with keypads - on calculators, computers, and even touch devices - don't have keys changing their enabled states.  To solve the immediate validation problem, wouldn't it work to have an optional function that takes the string value and the key press and returns the resul

[2016-11-09 17:58] pixelzoom commented on #272
But that optional function has addition options (like `maxDigits`) that apply to it. How do you propose to specify those function-specific options?

[2016-11-09 17:59] pixelzoom commented on #272
@jbphet: And `digitString` has been gone for days, so I'm guessing that you might be looking at a stale working copy.

[2016-11-09 18:18] pixelzoom commented on #280
@jbphet I reimplemented the backspace button listener as shown above. It works great in scenery-phet demo, but not in Arithmetic, and I don't understand why.

[2016-11-09 18:19] pixelzoom commented on #280
@jbphet wrote:

It's also used in make-a-ten and projectile-motion.

[2016-11-09 18:31] pixelzoom commented on #280
Here's your bug in arithmetic.  WorkspaceNode line 182:

[code]

This is now firing when the backspace key is pressed, and `model.retryProblem()` clears the entire string.  So if you enter '22', press 'Check' button, then hit backspace, you get '' instead of '2'.  This bug didn't manifest previously because the button listener was storing the shortened string in a local variable, then clearing the

[2016-11-09 19:04] ariel-phet commented on #278
Marking for developer meeting, seems like a good topic to discuss with parties that have used ColorProfile

[2016-11-09 19:09] pixelzoom commented on #280
@jbphet and I discussed the buggy behavior in Arithmetic via Skype.  It is indeed relying on the fact that `valueStringProperty`  was being set multiple times in the original implementation of the backspace button listener.  Restoring the buggy implementation of the backspace button listener is not an option.

This buggy behavior is also present in Area Builder.  Projectile Motion looks OK.  I'll

[2016-11-09 19:31] pixelzoom commented on #280
As noted in https://github.com/phetsims/arithmetic/issues/178#issuecomment-259503429, I think we should delete this feature, it's a misplaced responsibility:

[2016-11-09 19:50] pixelzoom commented on #272
Could also use an approach like the `sensorTypeFunction` option in scenery-phet.ProbeNobe.

[2016-11-09 20:25] pixelzoom commented on #272
I used the approach that @samreid used for the `sensorTypeFunction` option in scenery-phet.ProbeNobe.  The validator that was currently implemented (maxDigits with 1 leading zero) is available via `validateMaxDigits`.

@jbphet @jonathanolson please review.

[2016-11-09 21:43] pixelzoom commented on #272
If this approach looks OK, I'll proceed with adding `validateCurrency` and `validateWeight` in unit-rates.

[2016-11-09 21:51] pixelzoom commented on #278
Above I said:

Looking at these sims, they have their own implementations that are nearly identical to ColorProfile, with the same clever/problematic code that converts a hash of colors to a PropertySet.  Looks like people have been copy-pasting code.

[2016-11-10 17:11] jonathanolson commented on #278
molecule-shapes was the original code that ColorProfile was based on, not sure why it wasn't updated to use the common-code solution with that work.

As a side-note, is there an easy way to analyze our code base for duplicated (copy-pasted) code?

[2016-11-10 17:40] pixelzoom commented on #278
We should also decide how to refer to these things - color scheme, color profile, theme, ...?

[2016-11-10 20:02] samreid commented on #278
@jonathanolson will convert ColorProfile to use Property instead of PropertySet.

[2016-11-11 17:04] jbphet commented on #280
I fixed Area Builder and Arithmetic to work correctly with the simplified backspace behavior within NumberKeypad.

I'm not sold, at least not yet, on the idea of getting rid of this feature.  I thought about making the sims responsible for clearing the string if the user enters something while in the ```DISPLAYING_INCORRECT_ANSWER_FEEDBACK``` state, but the problem with that is that it means clear

[2016-11-11 20:55] jonathanolson commented on #271
Unassigning until NumberKeypad work is resolved, to see if there's still shared code.

[2016-11-13 23:40] pixelzoom commented on #280
Alright. But the current API only allows the client to set the flag, no way to clear it.  I've addressed that in the above commits, tested in all clients.   Usage is now:

[code]

@jbphet Please review.

[2016-11-14 21:15] jbphet commented on #280
I tested these changes - lightly - in Area Builder and Arithmetic and they seem to be working.

I had a couple of comments after reviewing the code:
+ There was some mention about decimal point not clearing the value if ```armedForNewEntry``` was set.  Why would the decimal point be any different?  What if a user entered a value like 0.52 and then tried to enter 0.25 by just pressing '.', '2', and

[2016-11-14 21:20] jbphet commented on #280
It may be a bit late in the game for this idea, but what about making this a bit more granular by having NumberKeypad do nothing other than let the client know exactly what key was just pressed?  It could have an emitter and a ```keyPressed``` field, and clients are responsible for interpreting the digit.  Then we could have IntegerNumberKeypad and DecimalNumberKeypad and any specific behavior nee

[2016-11-14 22:50] pixelzoom commented on #280
Sorry, that should have been "backspace".  Doc is fixed.

Could do, but I don't have time to go through this again, and I don't intend to use this feature in the foreseeable future.  If you'd like to change it, you have my support.

That crossed my mind when we were discussing getting rid of the `armedForNewEntry` feature and adding a listener to the backspace button.  But it sounds like a "start

[2016-11-14 22:53] jonathanolson commented on #278
Updated ColorProfile, refactored any remaining usages, and added more in-depth documentation.

@pixelzoom, does this look sufficient?

[2016-11-14 22:57] pixelzoom commented on #278
👍

Best assertion:

[code]

Closing.

[2016-11-14 22:57] #278 closed

[2016-11-14 23:02] pixelzoom commented on #279
Discussed briefly at 11/10/16 "keypad design" meeting, and it didn't sound like addressing this was a priority.

And it's certainly a can of worms.  Changing '.' some other character would most certainly make the keypad fail, since it currently relies on `parseFloat`, which behaves like this:

[code]

So... This issue is noted in the code with a TODO item.  And I'm unassigning myself for now.

[2016-11-15 23:51] pixelzoom commented on #274
At 11/10/16 design meeting, we identified that we need to add a '+/-' key, like this:

![screenshot_68](https://cloud.githubusercontent.com/assets/3046552/20329097/80d25714-ab53-11e6-9553-adfbb533b434.png)

Now where to add it?

With all current keys enabled, the keypad currently looks like this:

![screenshot_69](https://cloud.githubusercontent.com/assets/3046552/20329128/b0289460-ab53-11e6-8c0c-

[2016-11-15 23:57] pixelzoom commented on #283
11/10/16 design meeting notes:

• We need 2 separate keypads: one for numbers, one for entering equations
• Focus first on numbers, then on equations
• Currently missing from numbers keypad is sign (+/-) button (see #274)

[2016-11-15 23:58] pixelzoom commented on #277
@jessegreenberg ping.

[2016-11-15 23:59] pixelzoom commented on #267
No review since 8/30, so I'm just going to close this.

[2016-11-15 23:59] #267 closed

[2016-11-16 00:01] pixelzoom commented on #246
Doesn't bother me at all.  Given the problems that it will create, and the time/cost involved, I really don't see the point in even considering a name change.

[2016-11-16 00:02] pixelzoom commented on #262
@samreid @andrewadare Is this issue still relevant?

[2016-11-16 00:04] pixelzoom commented on #221
Duplicate of https://github.com/phetsims/scenery-phet/issues/270, addressed, closing.

[2016-11-16 00:04] #221 closed

[2016-11-16 00:08] pixelzoom commented on #214
@samreid said:

tracked in #186 which concluded with the thoughts:

Then can we close this issue?  @jbphet you thoughts?

[2016-11-16 00:11] pixelzoom commented on #156
@jonathanolson Do you feeling like this was addressed by your work in https://github.com/phetsims/scenery-phet/issues/278?

[2016-11-16 00:12] pixelzoom commented on #151
This one is so close, I can taste it.  But it hasn't gotten any love since 3/30/2016.

[2016-11-16 00:13] andrewadare commented on #262
Yes, thanks for the reminder. In fact it is more relevant now that phetsims/phet-io#562 is done. I will flag for discussion with other PhET-iO devs.

[2016-11-16 06:29] samreid commented on #246
It seems the biggest cost would be dealing with dependencies.json during maintenance releases.  For this cost alone, I'm OK to close this issue.  We can reopen it in the future if want headaches in the future.  @pixelzoom please close if you agree.

[2016-11-16 16:16] jonathanolson commented on #156
Yes, closing.

[2016-11-16 16:16] #156 closed

[2016-11-16 16:21] #246 closed

[2016-11-16 18:39] andrewadare commented on #262
Noting here for future reference: FaucetNode.js in scenery-phet is a nice example to follow. It includes the createDefaultTandem call, good comments, and disposal code.

[2016-11-17 00:27] amanda-phet commented on #283
We should edit the bullets above to use "expressions", "strings", "text", or something along those lines, rather than "equations" (which implies that there is an equal sign being typed).

[2016-11-17 00:33] pixelzoom commented on #283
"string" and "text" is way too general. How about "mathematical expressions"?

[2016-11-17 00:33] amanda-phet commented on #274
It should also be specified that the button can be pressed *before* typing a number as well as *after*.

While the submit/enter button is separate from the keypad, I find it hard to come up with a scenario where we won't have a button like that. This is what I imagined happening:
![screen shot 2016-11-16 at 5 32 31 pm](https://cloud.githubusercontent.com/assets/7852916/20371542/c864da3c-ac22-11e6-

[2016-11-17 00:33] pixelzoom commented on #283
"strings" and "text" is way too general, we're not designing a text editor. How about "mathematical expressions"?

[2016-11-17 00:34] pixelzoom commented on #283
Revised 11/10/16 design meeting notes:

• We need 2 separate keypads: one for numbers, one for entering mathematical expressions
• Focus first on numbers, then on mathematical expressions
• Currently missing from numbers keypad is sign (+/-) button (see #274)

[2016-11-17 00:37] pixelzoom commented on #274
The decimal and sign buttons are both optional.  The above shows the layout for decimal=true, sign=true.

Please show desired layouts for:

• decimal=true, sign=false
• decimal=false, sign=true
• decimal=false, sign=false

[2016-11-17 00:42] pixelzoom opened #284 "clean up BackspaceIcon"
Yuck. Numerous magic constants, different approaches to Shape description,...

[2016-11-17 00:45] pixelzoom commented on #284
And no ability to change the size without scaling -- which will also affect the stroke.

[2016-11-17 01:03] pixelzoom commented on #284
Done. @jbphet please review.

[2016-11-17 01:04] pixelzoom commented on #274
Oh, wait... The Enter button is *not* part of the keypad.  So including it in the layout is problematic.

[2016-11-17 01:07] pixelzoom commented on #272
@jbphet (especially) and @jonathanolson ping.

[2016-11-17 01:47] pixelzoom commented on #274
@jbphet would like your input on this issue.

[2016-11-17 06:48] jonathanolson commented on #272
Implementation looks good, with the caveats:

1. Doesn't handle validation of what digit-strings are allowed, but what button presses do. This would make it harder to add another similar filter (e.g. only allow 2 digits to the left of the decimal point, but 4 to the right) as you'd need to duplicate a lot of button behavior, but it allows for more customizability. My previous recommendation was to

[2016-11-17 15:41] pixelzoom commented on #272
I agree with everything @jonathanolson.  There are rather fundamental problems with the basic implementation of NumberKeypad.  So I guess the question is: Do we do a total rewrite now or later? @ariel-phet your thoughts? (Keeping in mind that I do not have time for a total rewrite, and I needed this functionality a couple of weeks ago.)

[2016-11-17 15:43] pixelzoom commented on #279
Raising priority to "high" since resolving this involves some rather fundamental changes, and affects our ability to resolve other high-priority issues like #272.

[2016-11-17 15:44] pixelzoom commented on #279
@jonathanolson has weighed in on ideas for addressing this.

@jbphet you input?

[2016-11-17 18:11] amanda-phet commented on #274
![screen shot 2016-11-17 at 11 11 15 am](https://cloud.githubusercontent.com/assets/7852916/20401574/99e73f30-acb6-11e6-8554-3f778a4f556b.png)

[2016-11-17 18:28] pixelzoom commented on #274
And decimal=true, sign=true is this?

![screenshot_232](https://cloud.githubusercontent.com/assets/3046552/20402175/e62349f0-acb8-11e6-838b-c302724cb4f9.png)

[2016-11-17 18:44] amanda-phet commented on #274
I'm not sure... If NOT having a submit button is a possibility then I'd want to come up with an alternative that looks better than this. Perhaps something along these lines:

![screen shot 2016-11-17 at 11 32 55 am](https://cloud.githubusercontent.com/assets/7852916/20402359/9cf272dc-acb9-11e6-986d-a5a3199032e2.png)

[2016-11-17 21:24] jbphet commented on #284
Looks good, closing.

[2016-11-17 21:24] #284 closed

[2016-11-17 23:17] jbphet commented on #280
I went ahead and made the change from `armedForNewEntry` to `clearOnNextKeyPress` because I thought it would improve future maintainability.  I tested in Area Builder, Arithmetic, and the scenery-phet demo.  Assigning to @pixelzoom for review, if it looks okay then I think this can be closed.

I'll keep in mind the idea of separating out the keypad from the logic that decides how to collect and va

[2016-11-18 16:43] pixelzoom commented on #280
👍 Closing.

[2016-11-18 16:43] #280 closed

[2016-11-18 18:08] jbphet commented on #279
For a data point, I changed the locale on a Mac OSX 10.10.5 device to be Germany and tested out a couple of things.  The calculator definitely changes to use a comma as the decimal separator, here's what it looks like:

![bildschirmfoto 2016-11-17 um 16 42 48](https://cloud.githubusercontent.com/assets/3082831/20440377/13fc71ca-ad7d-11e6-91d2-595514f6c622.png)

I also opened up the dev tools in Ch

[2016-11-18 18:10] jbphet commented on #279
@ariel-phet - up to you to decide whether to do this soon, later, or never.

[2016-11-18 18:46] jbphet commented on #274
I think the layout with the "Enter" key in https://github.com/phetsims/scenery-phet/issues/274#issuecomment-261118157 looks pretty decent, better than the layout just above.  I suspect that this isn't the only request that we will get to support an Enter key, even though we haven't needed one thus far.  If that is what is needed, we should consider adding it.

If we do need to support Enter, I fee

[2016-11-18 18:52] pixelzoom commented on #274
Adding @jonathanolson to this discussion. When he and I discussed NumberEntryControl, he had some good arguments for why an Enter key should not be included.  See https://github.com/phetsims/scenery-phet/issues/271#issuecomment-257379394.

[2016-11-18 19:03] jbphet commented on #272
I've mentioned this in a couple of other GitHub issues, but I'm starting to feel like having the keypad and the validation logic separated would make this easier.  That way we could have an object like "KeypadAccumulator" that contained the logic for accumulation and validation, and we could have overridable default validation functions (similar to SimpleDragHandler) and we wouldn't have to have a

[2016-11-18 19:06] jbphet commented on #272
I know this probably isn't what @pixelzoom wanted to hear, since he needs the functionality now.  Maybe there is a short term fix that can be done to move him forward and we can schedule the work to refactor a couple of months out.  I'd be up for doing it, since I like the sound of it, but it's all a matter of time and priorities.  Adding @ariel-phet to the dialog to help with that part.

[2016-11-18 20:11] jbphet commented on #214
I'm okay with closing it.  It seems like there are enough variations on this theme that it would be hard to generalize well enough to be useful and not overly complicated, and none of us have time to think about it anyway.  I guess we'll just continue with the search-cut-paste-modify paradigm for this.  Closing.

[2016-11-18 20:16] jbphet commented on #75
Sounds great to me too (he said sheepishly when he realized the issue has been assigned to him for almost two years).  Or it could just be left as is - it's scaleable now and doesn't seem to be causing problems for anyone.

[2016-11-18 20:25] ariel-phet commented on #272
Discussed with @jbphet  and as long as @pixelzoom is on board for this architectural approach, I think it sounds like a good idea.

@jbphet and @pixelzoom should have a high level architectural discussion, and @jbphet will get some assistance from @aadish with implementing.

[2016-11-18 20:32] pixelzoom commented on #75
GLRewardNode has since evolved to display multicolored airplanes using the `fill` options of PaperAirplaneNode.  Since it would be nontrivial to change, PaperAirplaneNode is here to stay.

Now back to @samreid's original question: Should PaperAirplaneNode use the actual coordinates from the .ai file, or are @jbphet's "eyeballed" values good enough.  Current implementation looks OK to me, but I mus

[2016-11-18 20:33] pixelzoom commented on #75
I'm going to unsubscribe from this issue, since I don't have a strong opinion. @jbphet @samreid whatever you decide is OK with me.

[2016-11-18 20:34] pixelzoom commented on #272
@ariel-phet What is the timeframe for doing this?  It needs to be usable in unit-rates by the end of December.

[2016-11-18 21:16] ariel-phet commented on #272
@pixelzoom well, I think @aadish can hop on it right away (with @jbphet supervision) once you two come up with an architectural plan. So it would basically be his top priority.

[2016-11-18 21:23] ariel-phet commented on #279
After discussing with @jbphet my impression is that if we proceed with the architecture suggested in #272 we will not "paint ourselves into a corner"

I asked @oliver-phet and over the past 6 years we have only received 2 requests for internationalization of the decimal point.

For the moment, it seems best for us to not include this feature, and see what sort of reaction we get from translators.

[2016-11-19 00:48] pixelzoom commented on #279
@ariel-phet  As alluded to in https://github.com/phetsims/scenery-phet/issues/279#issuecomment-261281692...Addressing (or at the very least considering) this issue is essential to properly rearchitecting NumberKeypad (as we've commited to do in https://github.com/phetsims/scenery-phet/issues/272#issuecomment-261633247.)   So I really think that it's a mistake to defer this issue.

[2016-11-19 01:44] pixelzoom commented on #272
@ariel-phet Regarding architectural plan...
(1) Design of NumberKeypad *and* NumberEntryControl should be completed before any reimplementation begins, lest we repeat the same mistake.
(2) @jonathanolson should be included in design and architectural planning, since he's had good feedback and is responsible for NumberEntryControl.
(3) There are valuable architectural ideas scattered throughout Num

[2016-11-19 03:47] samreid commented on #75
It would be best to use the same geometry as in the AI file, and since kite already parses that format, it should be very easy.

[2016-11-20 00:28] samreid commented on #75
Also, it is odd that PaperAirplaneNode takes a size option instead of using the built-in scale option.

[2016-11-20 02:37] samreid commented on #75
Here's a movie that shows the difference between the estimated airplane and the actual airplane, pretty close!

![airplane](https://cloud.githubusercontent.com/assets/679486/20459894/8bb98578-ae8f-11e6-829b-10ee9c40aa54.gif)

[2016-11-20 03:00] samreid commented on #75
Here's a new screenshot of the game over node with the new airplanes:

![image](https://cloud.githubusercontent.com/assets/679486/20460011/d5552d7e-ae92-11e6-9d3e-d67983658edf.png)

[2016-11-20 03:02] samreid commented on #75
The pic above seems similar enough to https://github.com/phetsims/scenery-phet/issues/75#issuecomment-261634634 that I'm inclined to close the issue.

Also, the new airplane has its origin at (0,0) and a test at http://localhost/scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=PaperAirplaneNode

[2016-11-20 03:02] #75 closed

[2016-11-21 17:35] samreid commented on #262
The pattern in ArrowNode is a good pattern, with the caveat that TArrowNode should be used instead of TNode.

There are 13 `tandem: null` in sun and 9 in scenery-phet.  43 across all of our repos (including sun and scenery-phet).

To do this right, we should:
- [ ] replace `tandem: null` with `tandem: tandem.createDefaultTandem('myType')`
- [ ] make sure all sites have `tandem.addInstance()`
- [ ]

[2016-11-21 17:36] samreid commented on #262
On hold until #158 is complete.

[2016-11-21 21:01] ariel-phet commented on #279
Originally marked priority:deferred but perhaps that was unclear

Assigning to @jbphet so that it is clear:

1. We should consider this issue in the rearchitecting of NumberKeypad. However we should not necessarily take action, but make sure that this i18n issue can be handled.
2. More and more I am leaning towards the automatic, so if a sim is launched in a locale that uses commas we just go with

[2016-11-28 18:00] jbphet commented on #279
@ariel-phet - would it be possible to decide now whether we will have the keypad automatically use a comma as the decimal separator based on locale or have it be translatable?  Knowing which one we intend to support will make easier to determine whether the new design adequately supports it.

[2016-11-28 18:07] jbphet commented on #279
For reference - the Wikipedia article linked below lists the countries that use a "decimal point" and those that use a "decimal comma".  The list of those that use a decimal comma is quite large.  https://en.wikipedia.org/wiki/Decimal_mark.

[2016-11-28 18:33] ariel-phet commented on #279
@jbphet I think we can automatically decide. it seems this convention is well established in various locales, and something we do not need to rely upon to be done by our translators.

[2016-11-29 17:43] pixelzoom commented on #270
In https://github.com/phetsims/joist/issues/158, it sounds like we need a PhetColorScheme constant for other both the yellow and blue in the PhET logo.  So I've renamed PHET_YELLOW to PHET_LOGO_YELLOW, in anticipation of adding PhET_LOGO_BLUE.

[2016-11-29 17:56] pixelzoom commented on #270
Reopening.

@samreid where did you get this value for yellow in the PhET logo?

[code]

Looking at brand/phet/images/logo.png and phet-cafepress/webite-assets/phet-logo-registered.svg, I see 'rgb( 254, 225, 5 )'.

[2016-11-29 18:03] pixelzoom commented on #270
The official PhET logo file is apparently brand/phet/assets/phet-brand-assets.ai.  Inspecting that file confirms that the logo colors are:

yellow = 'rgb( 254, 225, 5 )'
blue = 'rgb( 106, 206, 245 )'

[2016-11-29 18:16] pixelzoom commented on #270
PHET_LOGO_YELLOW changed to Color( 254, 225, 5 ) in above commit.

Here's what the change looks like in the context of the "Start Over" button in the Game screen of area-builder.

Incorrect color (  242, 233, 22 ):

![screenshot_83](https://cloud.githubusercontent.com/assets/3046552/20722794/35288d74-b625-11e6-97a7-a5d6e751fa72.png)

Correct color ( 254, 225, 5 ):

![screenshot_84](https://cloud.g

[2016-11-29 22:10] jonathanolson opened #285 "[branch] dag-movable-drag-handler"
For testing an improvement to MovableDragHandler that doesn't error (like https://github.com/phetsims/energy-forms-and-changes/issues/31) on things with a DAG nature, at least when targetNode isn't provided.

[2016-11-29 22:18] jonathanolson commented on #285
Commit is https://github.com/phetsims/scenery-phet/commit/8f3aeba8b70e6306a0e2a72de97cbe709ab8f01f.

@pixelzoom, can you review this to see if this would potentially cause any drag problems?

Essentially, globalToParentPoint will fail on something with a DAG. Instead of using that, we can get the provided trail and use that instead (as long as a targetNode is not provided).

[2016-11-29 22:37] jonathanolson commented on #285
Investigating automated testing failure in bending-light, I'll probably have another patch:

[code]

[2016-11-29 22:46] jonathanolson commented on #285
Bending Light was doing some crazy forwarding of events (that should probably be changed in the future, I saw "HACK" in all caps).

Fixed in above commit and https://github.com/phetsims/bending-light/commit/21c0e1135c4773ed00ef9d105a85e10320b2cec3.

[2016-11-30 18:56] pixelzoom commented on #285
@jonathanolson asked:

I'll try to get to this during 12/1/16 meetings. If I don't, then it may be awhile before I get to this.

[2016-12-01 18:06] pixelzoom commented on #285
(1) I found this to be a little confusing and a bit of an anti-pattern:

```( options.targetNode ? options.targetNode : trail ).globalToParentPoint```

In one case `globalToParentPoint` is called to a Node, in the other case for a Trail. And it works because the `globalToParentPoint` API is identical for Node and Trail types.

(2) Should the `trail` argument be passed to these function calls?

[co

[2016-12-01 18:10] pixelzoom commented on #285
Back to @jonathanolson's question:

If `trail.globalToParentPoint` is guaranteed to be equivalent to `event.currentTarget`, then it shouldn't cause any problems.  But I seem to recall running into an situation recently where event and trail provided different results.

[2016-12-01 18:13] pixelzoom commented on #285
(1) I found this to be a little confusing and a bit of an anti-pattern:

```( options.targetNode ? options.targetNode : trail ).globalToParentPoint```

In one case `globalToParentPoint` is called to a Node, in the other case for a Trail. And it works because the `globalToParentPoint` API is identical for Node and Trail types.  Any reason why you didn't use `event.currentTarget`?  E.g.:

```( optio

[2016-12-01 18:44] jonathanolson commented on #285
For (1) and (2), it is critical that a Trail is used, since the node itself does not have a unique trail (thus the error and workaround). Trail would ideally ONLY be used (never calling globalToParentPoint), but I'm really not sure about how ```options.targetNode``` is used. Can't use ```event.currentTarget``` since it's not a Trail.

I'd say definitely yes.

Yes, and that's the case here (SimpleD

[2016-12-02 02:41] pixelzoom commented on #285
Unless you can think of some way to robustly test before merging... I'd say go ahead and merge into master and we'll catch anything that breaks in testing.

[2016-12-02 16:46] jonathanolson commented on #285
Merged, will notify team on Skype about the chance of things breaking and where to report (here).

[2016-12-02 16:46] #285 closed

[2016-12-02 22:13] jbphet commented on #272
@aadish and I met today and tried to put together a design that incorporates the architectural ideas that @pixelzoom listed above plus some others that came up during a meeting with @pixelzoom, @jonathanolson, @aadish and me on Nov 21.  I'll try to get the four of us together early next week and see if we can reach a decision on how to move forward.

[2016-12-02 22:16] jbphet commented on #279
Assigning to @aadish to handle when the new keypad is implemented.

[2016-12-03 00:42] jbphet commented on #274
Assigning to @aadish to address during the implementation of the new keypad.

[2016-12-03 21:36] pixelzoom commented on #277
@jessegreenberg ping again.

[2016-12-05 16:26] jessegreenberg commented on #277
Very sorry I took so long.  I reviewed the change and it is an improvement in GAO.  I tested the projector mode option and it works great.  Closing.

[2016-12-05 16:26] #277 closed

[2016-12-07 17:20] pixelzoom opened #286 "Components demo: combo box list is outside layoutBounds"
Broken when PaperAirplaneNode was added by @samreid. All items are accessible, but the bottom of the list is outside layoutBounds:

![screenshot_241](https://cloud.githubusercontent.com/assets/3046552/20978434/215e80fe-bc66-11e6-9876-378fec9b2afd.png)

Broken more severely when KeyPadLayout was added by @aadish.  There's now an item (ThermometerNode) that is not accessible without resizing the bro

[2016-12-07 17:39] pixelzoom commented on #286
For now, I've addressed this by reducing the size and vertical spacing of the ComboBox items. See screenshot below.

In the longterm, we may want to add an optional scrolling list to ComboBox. Tracking that in https://github.com/phetsims/sun/issues/278.

Closing.

![screenshot_243](https://cloud.githubusercontent.com/assets/3046552/20979247/66c6d260-bc69-11e6-8bbb-e50becb9b8c6.png)

[2016-12-07 17:39] #286 closed

[2016-12-08 01:11] samreid commented on #270
Looks good, thanks!

[2016-12-08 01:11] #270 closed

[2016-12-08 09:00] jonathanolson opened #287 "NumberPicker's color/pressedColor are not mutable"
Having mutable colors would help proportion-playground a lot (in one place, duplicate overlapping pickers of different colors are used, and swapped between).

@pixelzoom, any thoughts about this potential refactoring?

[2016-12-08 17:06] pixelzoom commented on #287
Looks like this is mainly useful for the "paint bucket" scene on the "Explore" screen, where there's a "Black & White" checkbox.  Is that correct?

[2016-12-08 17:18] jonathanolson commented on #287
Correct.

Current code for the workaround:
[code]

It doesn't seem terribly complicated, so it may be best to not tackle the common-code changes right now.

[2016-12-08 17:23] pixelzoom commented on #287
That's my feeling too.  The payoff doesn't seem to be worth the effort.

You could also try to sell the design team on the idea of having a "B&W paint can" (an additional scene) instead of an option in the "paint can" scene.  Depending on whether it's important to switch between B&W vs color for the same spinner values.

[2016-12-08 17:30] jonathanolson commented on #287
Agreed, will close. If I run into this again, I may tackle it then.

I think it's beneficial, and we might get a 3rd color scheme in the future.

[2016-12-08 18:15] pixelzoom commented on #211
MOTHA keeps getting pushed out into the future, currently looking like late Summer or Fall 2017 before work resumes on it.  So I'm going to unassign this issue until then.

[2016-12-11 20:30] samreid commented on #262
In the preceding commit, I applied the default tandem pattern to ObservableArray.  That is:

* import Tandem
* supply Tandem.createDefaultTandem('lowerCamelCaseName') in the options extend
* validate options
* remove logic that checked for existence of options or options.tandem (since we know it will always exist)

@zepumph can you please review this commit and let me know if you have any recommen

[2016-12-13 22:41] jessegreenberg commented on #226
AccessiblePeer now removes its event listeners.  Closing.

[2016-12-13 22:41] #226 closed

[2016-12-13 23:57] jessegreenberg commented on #151
Done in the commit above, I renamed the Property as suggested in https://github.com/phetsims/scenery-phet/issues/151#issuecomment-203527486 and clarified the valid range in the documentation and added an assertion in HeaterCoolerBack.

Since the Property changed, I also updated the usages in states-of-matter and energy-forms-and-changes.

Closing.

[2016-12-13 23:57] #151 closed

[2016-12-16 16:28] samreid commented on #262
Based on my experience in updating ObservableArray to use this pattern, we may need to make adjustments.  For instance, there were places where making ObservableArray tandemization required caused issues.  We may need to adopt another pattern for model components.

But I think this pattern could safely be applied in sun and scenery-phet.  Could you start there and let's re-evaluate before expandin

[2016-12-20 23:27] jbphet commented on #283
@pixelzoom and @jonathanolson ,

@aadish and I (mostly Aadish) have done some work on the Keypad.  I think the current form captures most of the architecture that we discussed.  I’m mostly out for the next couple of weeks, but since this is going to be needed around the end of January, I thought it would be good for you to take a look and see if you think we’re generally on the right track.  There

[2016-12-20 23:28] jbphet commented on #283
The bulk of the code can be found in scenery-phet/keypad, and there is demo code in scenery-phet/demo.

[2016-12-21 16:54] pixelzoom commented on #283
Comments on scenery-phet demo (prior to looking at code):

• When nothing has been entered on the keypad, the default "arithmetic value" should not be `0`.  That makes it impossible to distinguish between no entry and an explicit `0` entry without consulting the string value.  It would be preferable to use `null` to represent the absence of an arithmetic value.

• The demo itself is a little annoy

[2016-12-21 17:34] pixelzoom commented on #283
My first pass at the code was a general review, look mainly at conformance to PhET guidelines.

Issues:

- [ ] Keypad.createKeyNode - Private functions like this should be located _after_ the constructor.

- [ ] Keypad.createKeyNode has an `options` parameter (documented as optional), but has no `_.extend` call to define defaults. So `buttonFont` and `buttonColor` are not really options, they are

[2016-12-21 17:58] pixelzoom commented on #283
I corrected many of the issues related to code guidelines (check off in the above check list).  I also added some `TODO` items in the code, where something still needs to be addressed.

On to review of the code architecture...

[2016-12-21 18:42] pixelzoom commented on #283
- [ ] Inappropriate property in AbstractKey base type.

The constructor signature of AbstractKey is:

[code]

... where `value` is `{number}`.  Looking at non-numeric subtypes of AbstractKey (i.e. BackspaceKey, PlusMinusKey), I see that the `value` argument is `null`.  This is a fundamental problem - a numeric value has no business being in the base type, it is specific to keys that have a numeric

[2016-12-21 19:05] pixelzoom commented on #283
- [ ] Specification of layouts should make it easy to see the keypad structure.

Specification of layouts is currently verbose, redundant, and makes it very difficult to see the structure of the keypad.  The current specification of only 2 layouts requires 145 lines!

Suggestions:
• Use a 2-dimensional array instead of `row` and `column` fields.
• Make `horizontalSpan` and `verticalSpan` propertie

[2016-12-21 19:11] pixelzoom commented on #283
- [ ] Use Unicode symbols for plus and minus.

In PlusMinusKey:

[code]

... should be:

[code]

[2016-12-21 19:20] pixelzoom commented on #283
- [ ] Implement dispose

After addressing the issue of the accumulator being transparent to the client... You need to address the issue of disposing of a Keypad. In scenery-phet demo (ComponentsView), you have the client linking to Properties and there no `dispose` anywhere in the keypad implementation.

[2016-12-21 19:24] pixelzoom commented on #283
- [ ] Why is a Property used for the array of accumulated keys?

In AbstractAccumulator:

[code]

I see no calls to `accumulatedKeysProperty.link`, so apparently nothing is observing it.  So why does it need to be a Property?  And if it does need to be observable, why is it not an ObservableArray?

[2016-12-21 19:32] pixelzoom commented on #283
- [ ] IntegerAccumulator `updateStringValue` and `updateNumericalValue` are poorly named.

These functions don't actually update anything. They compute values, which are used elsewhere to update Properties.  More appropriate names would be `computeStringValue` and `computeNumericalValue`.

[2016-12-21 20:03] pixelzoom commented on #283
- [ ] Redundant code in IntegerAccumulator.updateNumericalValue

The first `if` statement in the current implementation is redundant, and can be deleted:

[code]

[2016-12-21 20:41] pixelzoom commented on #283
- [ ] IntegerAccumulator.validateAndProcessInput is really bad.

This is just a mess:

[code]

I'm going to go ahead and change it.  Ask me if you have questions.

[2016-12-21 21:13] pixelzoom commented on #283
- [ ] Leading zero should be overwritten.

This was a problem before I made the above changes.  If you enter a '0', it should be overwritten by subsequent digits.  The display should not look like this:

![screenshot_101](https://cloud.githubusercontent.com/assets/3046552/21406216/a262f208-c787-11e6-873b-4331f092c391.png)

[2016-12-21 21:22] pixelzoom commented on #283
OK, I'm done with this review.  There are a lot of open issues, represented by check-box items in the above comments.

The big issues are:

(1) The client shouldn't need to know about accumulator; Keypad (and its subtypes) should provide the complete API.
(2) AbstractKey should not have an associated `{number} value`, which is relevant only for DigitKey.
(3) Specification of layouts should be simp

[2016-12-21 21:23] pixelzoom commented on #283
In retrospect... A separate issue (something like "initial review") should have been created for this review, rather than putting this in the "design requirements" issue.  Let's keep that in mind for the next review.

[2016-12-21 23:56] pixelzoom commented on #283
A couple of other things that occurred to me, after ruminating on the current implementation. These are (imo) both big architectural flaws.

---

- [ ] Where is the ability to customize the constraints on what is entered?

In https://github.com/phetsims/scenery-phet/issues/272 we discussed the importance on being able to customize the constraints on what can be entered using the keypad.  And that

[2016-12-28 18:12] pixelzoom commented on #283
Another note on the validation issue mentioned in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-268678103...  The current implementation of IntegerAccumulator only allows you to constrain the number of digits entered.  As an example of why this isn't sufficient... Unit Rates needs to constrain the number of digits _and_ requires that the entry is a positive entry (i.e., `0` is n

[2017-01-02 20:03] zepumph commented on #262
I added defaultTandem to sun, and then went in and fixed everything I could in the sim code. @samreid can we talk at some point about a few of the ones I left. There are three errors right now, but they all seem like they will be fixed pretty quickly.

[2017-01-02 21:23] samreid commented on #262
I fixed Balloons and Static Electricity in the preceding commit.

[2017-01-03 03:52] samreid commented on #262
After the above commits, phet-io tests are green again:

![image](https://cloud.githubusercontent.com/assets/679486/21599650/6089a804-d12d-11e6-88ec-914df97a4f95.png)

[2017-01-03 04:02] samreid commented on #262
I reviewed the changes in https://github.com/phetsims/sun/commit/316617a92d110f11a4a2e28555bdc80b7b2e796c and the changes seem good.  Nice work @zepumph.  I'll leave this issue open in case there are more changes to be made.

[2017-01-03 04:04] samreid commented on #262
I am seeing issues in the non-phet-io sims though:

![image](https://cloud.githubusercontent.com/assets/679486/21599755/fdb674da-d12e-11e6-9873-fc7f875f7c8d.png)

Looking into it.

[2017-01-03 04:17] samreid commented on #262
The problem is that scenery-phet and other libraries are still using `tandem: null`, so when subclassing a sun component, the tandem is passed in as null, but sun expects it to be non-null.

[2017-01-03 04:34] samreid commented on #262
After the above commits, aqua requirejs tests are passing again for PhET brand.

[2017-01-03 17:00] zepumph commented on #262
I updated all tandem: nulls in scenery-phet

[2017-01-11 18:43] jessegreenberg opened #288 "General icons for keyboard keys"
From #https://github.com/phetsims/john-travoltage/issues/142

There are icons for keyboard keys in john-travoltage that look like
![capture](https://cloud.githubusercontent.com/assets/6396244/21861641/eb3cedaa-d7f2-11e6-8522-a13e48b9f135.PNG)

They will eventually be used in multiple sims and should be moved to scenery-phet.

[2017-01-12 02:15] jessegreenberg commented on #288
Moved to scenery-phet.  In ComponentsView, I added an example for a partial keyboard:
![capture](https://cloud.githubusercontent.com/assets/6396244/21874439/230b89a0-d832-11e6-9dc6-348b2842ccba.PNG)

I also created types for common keys (TabKeyNode, ShiftKeyNode, EnterKeyNode) so strings for these keys don't need to be included in the sim.

[2017-01-12 02:54] jessegreenberg commented on #288
In https://github.com/phetsims/john-travoltage/issues/145, @jonathanolson had this review comment:

I'd typically opt for a non-branching pattern in this case:
[code]

[code]
I'd also typically inline pathOptions since it's only used once:

[code]

[2017-01-24 22:52] arouinfar opened #289 "Toolbox: Design requirements"
In https://github.com/phetsims/circuit-construction-kit-common/issues/224, @samreid commented

I asked @arouinfar in #63 what the behavior should be, and she replied:
"the object is grabbed (full size) but can immediately be dropped back into the toolbox -- like the tools in Bending Light."
I wanted to discuss this more thoroughly and understand our reasoning for this behavior and discuss whether

[2017-02-01 19:28] jessegreenberg commented on #288
@jonathanolson the key nodes were moved from john-travoltage to scenery-phet.  Would you like to review further or can this be closed?

[2017-02-02 02:31] jonathanolson commented on #288
Briefly reviewed, looks good. Closing.

[2017-02-02 02:31] #288 closed

[2017-02-02 04:15] emily-phet commented on #289
@ariel-phet - Is this an urgent issue? Could this be put on hold for a bit, for some keyboard navigation work to evolve? Decisions here will significantly impact keyboard nav, so it would probably be beneficial to include that expertise in the discussion, and we will only gather more of that with time. I can also ask Taliesin to take some time to investigate this specific interaction once she's re

[2017-02-02 04:22] ariel-phet commented on #289
@emily-phet I think it is urgent in the sense that we need to begin the discussion. For instance, we had a design discussion (several) about our dialogue boxes, although nothing has been implemented yet. So we want to get this discussion going and start to understand the various issues. As noted on design meeting, all interested parties are welcome, so certainly would be good to have you and @jess

[2017-02-02 05:01] emily-phet commented on #289
@ariel-phet Certainly your call whether or not to discuss, but my concern is that even if @jessegreenberg and I are there, we don't have *any* answers to the questions that will come up. Various behaviors will be discussed and neither @jessegreenberg or I will be able to indicate what's feasible, or best, for keyboard nav. It will take some investigation to determine what are some reasonable appro

[2017-02-06 16:18] pixelzoom commented on #283
In https://github.com/phetsims/scenery-phet/issues/283#issuecomment-268389241, @jbphet asked for feedback from me and @jonathanolson.  I don't see any feedback from @jonathanolson.  So I'm wondering if we should defer the design phone call scheduled for this morning?

[2017-02-06 16:41] pixelzoom commented on #283
@jbphet and I discussed status via Skype, and we decided to defer our meeting until @jonathanolson has provided feedback.

Here's the feedback I'd like to hear from @jonathanolson:
- Design of the Accumulator: responsibilities, encapsulation, implementation ideas.
- Input constraints: Thoughts on the API for constraining valid input, allowing customization by the client, etc.
- Review of my feedba

[2017-02-06 19:27] arouinfar commented on #289
Notes for the design meeting discussion can be found in the HTML5 Sim Toolboxes doc located in:
PhET Files > PhET Design Resources > Design Resources - Sim Design > HTML5 Sim Toolboxes

The general consensus was that we would keep the toolbox behavior as-is, but could possibly investigate a longer flicker (~0.5s) on release.

Toolboxes are currently made on a sim-by-sim basis due to the varying ne

[2017-02-06 19:55] jessegreenberg opened #290 "Move AriaHerald to scenery-phet"
[AriaHerald](https://github.com/phetsims/balloons-and-static-electricity/blob/master/js/balloons-and-static-electricity/accessibility/AriaHerald.js) is being used in balloons-and-static-electricity as a static object that sends alerts and status updates to screen readers.  It should be generalized and moved to common code.  In https://github.com/phetsims/john-travoltage/issues/171 we decided that

[2017-02-06 20:09] ariel-phet commented on #289
@arouinfar I think make an issue for increasing the time delay of increased component size, but make this issue in CCK. @samreid can try it out in that sim, and then if all looks good we can consider generalizing. In the issue probably mention the idea of generalizing, and @samreid can decide where and how that should be done if all looks good (since we have several sims that use this enlargement

[2017-02-06 20:10] ariel-phet commented on #289
@arouinfar I think once that other issue is made, this one can be closed

[2017-02-06 23:15] arouinfar commented on #289
Thanks @ariel-phet. I've opened a new issue in the common CCK repo:
https://github.com/phetsims/circuit-construction-kit-common/issues/244

[2017-02-06 23:15] #289 closed

[2017-02-10 21:16] jessegreenberg opened #291 "Disable accessibility alerts during the ResetAllButton listener"
When the user presses the ResetAllButton, all alerts should be disabled to prevent a stream of accessibility alerts that could be produced as the sim is reset.  Instead, the user should just hear a single summary of the alert action.

[2017-02-10 21:35] jessegreenberg commented on #291
The above commits handle this by wrapping the ResetAllButton listener in a function that does the following in order:
- disables all alerts
- calls the ResetAllButtonListener
- enables all alerts
- Announces that the whole screen was reset

@jbphet would you please review these changes? Since AriaHerald is outfitted for PhET-iO you can see the behavior in the "console" wrapper if you wish.