[2020-10-30 01:12] zepumph commented on #637
I'm a bit nervous about these values for everything. I think over in https://github.com/phetsims/scenery-phet/issues/638 we may need to use the options. Then see if there are any consistent winners for these values.

One potentially different algorithm is to have a static delay time for the first utterance, and the a second time (perhaps 200ms longer) for each additional time, but to never multipl

[2020-11-02 20:43] jessegreenberg opened #639 "Add self-voicing to the WebSpeechDialogContent"
The WebSpeechDialogContent should have self-voicing content just like the rest of the sim. Important for user interviews coming up in about a week.

[2020-11-03 04:39] zepumph opened #640 "AccessibleValueHandler.a11yRepeatEqualValueText is broken"
I found while working on https://github.com/phetsims/ratio-and-proportion/issues/221 that I want the same valuetext to repeat on each key press. I thought that this would work:

https://github.com/phetsims/sun/blob/f8156a38545ab207d437aca485e2102471487b75/js/accessibility/AccessibleValueHandler.js#L364-L368

But, at least on NVDA/chrome, it was not. I put a console log into that if statement, and

[2020-11-03 16:38] samreid commented on #575
For https://github.com/phetsims/wave-interference/issues/500, I would like to position the TimeControlNode so that the PlayPauseButton is in the middle of the area.  To accomplish this, I'll generalize `getPlayPauseButtonCenter` to `getPlayPauseButtonBounds` so we may use its bounds.

[2020-11-03 16:41] samreid commented on #575
On second thought, I can use `setPlayPauseButtonCenter`

[2020-11-03 19:57] pixelzoom commented on #618
StopwatchNode's API for numberFormatter was improved in the above commits

Summary of changes:

* StopwatchNode now has 2 pre-defined values for numberFormatter: `PLAIN_TEXT_MINUTES_AND_SECONDS` and `RICH_TEXT_MINUTES_AND_SECONDS` (the default).  They replace `numberFormatter` and `richNumberFormatter` respectively, and are hopefully more descriptive.

* `getRichNumberFormatter` has been renamed `

[2020-11-03 19:58] pixelzoom commented on #618
Adding the block-publication label until this is review, because this has the potential to introduce regressions.

[2020-11-03 20:19] zepumph commented on #640
https://github.com/phetsims/sun/blob/f8156a38545ab207d437aca485e2102471487b75/js/accessibility/AccessibleValueHandler.js#L329-L351

[2020-11-03 20:19] zepumph commented on #640
https://github.com/phetsims/sun/blob/f8156a38545ab207d437aca485e2102471487b75/js/accessibility/AccessibleValueHandler.js#L329-L333

[2020-11-03 21:58] ariel-phet commented on #618
@Denz1994 says he can do this review tomorrow morning.

[2020-11-03 23:28] jessegreenberg commented on #640
@zepumph and I worked on this today and came up with an improved way to add a the 'hairspace' character to the end of the value-text to ensure that the AT reads the new value even when the content is the same. Anything else to do here @zepumph?

[2020-11-03 23:41] zepumph commented on #640
All looks good to me!

[2020-11-03 23:41] #640 closed

[2020-11-03 23:41] zepumph commented on #640
(sorry for adding this to scenery-phet even though the component is in sun). I think I'll transfer for history.

[2020-11-04 16:26] Denz1994 commented on #618
These changes look great. This was reviewed and tested in Capacitor-Lab-Basics (https://github.com/phetsims/capacitor-lab-basics/issues/274). The timer in that sim now has one decimal place using the API changes in this issue. Turning back over to @pixelzoom to address the minor suggestion below.

Suggestion:

- [ ] In `ComponentScreenView.js` `unitsProperty.link()` is using the value of `unitsPro

[2020-11-04 16:33] pixelzoom commented on #618
Thanks @Denz1994.  unitsProperty listener has been improved.  Closing.

[2020-11-04 16:33] #618 closed

[2020-11-06 22:34] jessegreenberg opened #641 "StopwatchNode is greyed out when rasterized"
I noticed that using Node.rasterized on a StopwatchNode will return a greyscaled image. I saw this in energy-skate-park, circuit-construction-kit, and wave-interference. Removing the `rasterized` call for each of these usages has the StopwatchNode displayed in color. @jonathanolson this seems like it could be related to the new greyscale feature, assigning to you.

[2020-11-09 19:34] pixelzoom commented on #515
This came up again in Fourier, where we want to use ColorProfile, and be able to change colors via PhET-iO.  See https://github.com/phetsims/fourier-making-waves/issues/5.

[2020-11-09 21:54] zepumph commented on #515
Above, I added studio support for `PropertyIO<ColorIO>`. It was simple enough, and felt like something we should have no matter what.

This patch could instrument every colorProperty, which could be a poor, manual approach to creating your own color profile, but it can be overridden, for example if you set some Properties, and then toggle the projector mode checkbox on and then off again, it blows

[2020-11-10 17:44] jonathanolson commented on #641
I forgot there was an issue for this! I believe it was fixed in https://github.com/phetsims/scenery/commit/712a27830bcdb894f913911f94d5c53b6d7634d4, can you verify?

[2020-11-10 20:06] jessegreenberg commented on #641
Yes, it looks great thanks!

[2020-11-10 20:06] #641 closed

[2020-11-11 23:43] samreid commented on #515
I tested `capacitorLabBasics.capacitanceScreen.model.arrowColorProperty` in studio, and it looks really great, nice work @zepumph.  I think for many sims, changing the color profile programmatically will be OK.  For Fourier's amplitude colors, @ariel-phet said:

I recommend we wait until we have a concrete use case before working on this further.

[2020-11-12 22:45] pixelzoom opened #642 "use ColorProfile in all new sims"
While discussing https://github.com/phetsims/fourier-making-waves/issues/5, @kathy-phet asked me to create this issue and label it for discussion at design meeting.

It was proposed that all new sims should use `ColorProfile`, regardless of whether they currently only have 1 profile.  This will facilitate future needs for PhET-iO (e.g. mutable color Properties) and a11y (e.g. high-contract profile

[2020-11-13 17:56] arouinfar commented on #642
Having a ColorProfile also makes it **much** simpler for designers to play with colors on a local copy.

[2020-11-13 18:04] zepumph commented on #515
My commits from https://github.com/phetsims/scenery-phet/issues/515#issuecomment-724300804 has brought up discussion in https://github.com/phetsims/fourier-making-waves/issues/13#issuecomment-726923339 and https://github.com/phetsims/scenery/issues/1115.

[2020-11-13 19:10] zepumph commented on #515
@samreid said that this desire was brought up again in a design meeting yesterday, we spoke about how we may accomplish this and thought about the following:

1. Instrument all Color Properties in ColorProfile as phetioReadOnly.
2. Create ColorProfileIO, which has a studio HTML for customizing the Profile colors, not just the Property values. This would likely mean an IOType method, like `setColor

[2020-11-13 19:14] pixelzoom commented on #515
If we got the route of something like ColorProfileIO, let's make sure that we have the ability to exclude some of a profile's color Properties from instrumentation.  The set of colors that we put in ColorProfile so that PhET designers can experiment with colors is not necessarily the same set that we want to present to PhET-iO designers in Studio.

[2020-11-17 04:16] jessegreenberg commented on #639
This was done, the dialog content has self-voicing content and can be controlled with custom gestures. Closing.

[2020-11-17 04:16] #639 closed

[2020-11-17 23:48] pixelzoom commented on #283
PhET still needs a keypad and a framework for popping up a keypad when clicking on a NumberDisplay.  This work has not been completed, and has been in progress since 2016.

Fourier needs a keypad.  I can make Keypad work, but it still has issues, and would be better if it were finished.  There is no common-code support for popping up a Keypad, so I'll need to either make another copy of KeypadLaye

[2020-11-18 00:04] zepumph opened #643 "interruptInputListener() on blur breaks mouse dragging for GrabDragInteractions"
Over in https://github.com/phetsims/faradays-law/issues/201, @jbphet reported that there is a problem when you try to drag with a mouse/touch after/during use of keyboard with a GrabDragInteraction.

Steps to reproduce:
1. In Friction/Gravity Force Lab/ Faradays Law
2. Highlight the grab drag interaction (book/ruler/magnet)
3. Use a mouse and try to drag it while it is focused with a keyboard (see

[2020-11-18 01:05] zepumph commented on #643
Please note that this is not just for GrabDragInteraction. It is for any draggable and keyboard navigable Node. For example I can reproduce with Ratio and Proportion hands (which are `input` sliders in the PDOM).

[2020-11-18 03:40] pixelzoom commented on #283
FYI... I've completed implementation of the keypad feature for Fourier.  It uses Keypad.js (the next-gen keypad), and a simpler version of the KeypadDialog.js approach that was used in collision-lab.

[2020-11-18 04:42] samreid commented on #624
The changes look good.  I haven't used either of these classes for memory testing lately, and I'm not aware of anyone using these recently.  We are getting better about avoiding memory leaks before they are created, and catching them with in-sim testing.  OK if we delete these files?

[2020-11-18 04:58] pixelzoom commented on #624
I've never used these. OK with me to delete.

[2020-11-18 05:58] samreid commented on #624
Removed, closing.

[2020-11-18 05:58] #624 closed

[2020-11-18 18:44] ariel-phet commented on #283
With the understanding that a copy in Fourier will work, but add to technical debt, I understand that multiple approaches are undesirable, but this work is not currently a priority. Marking as deferred.

[2020-11-21 20:14] samreid opened #644 "We need a way to get the width of the carousel (not including the dots)"
In https://github.com/phetsims/circuit-construction-kit-common/issues/618 it was requested to match the UI components to the carousel width (not including the dots).

[2020-11-23 19:36] jessegreenberg opened #645 "Rename radius option in ZoomButton"
In https://github.com/phetsims/griddle/issues/91, @zepumph mentioned that `radius` might be an unused option in ZoomButton, because ZoomButton is a RectangularPushButton not a RoundPushButton. `radius` is the option that defines the radius for a RoundButtonView. In this case `radius` also defines the radius for the magnifying glass of the ZoomButton

In https://github.com/phetsims/griddle/issues/9

[2020-11-23 19:58] pixelzoom commented on #645
No opinion on ZoomButton.  Now that we have ZoomButtonGroup (more modern-looking zoom buttons), I doubt that I'll ever use ZoomButton again.

[2020-11-23 21:04] jessegreenberg commented on #645
OK good to know, thanks - I wasn't aware of ZoomButtonGroup. I will go ahead with the rename in ZoomButton.

[2020-11-23 21:59] arouinfar commented on #645
Less than a week ago, we made the explicit decision to continue using zoom buttons with the magnifying glass icons in the ScrollingChartNodes in CCK: AC because +/- is a overloaded in the context of that sim. We will likely make a similar decision again in the future.

Are the Natural Selection-style flat +/- buttons the only zoom buttons we are going to be able to use in the future? If so, that i

[2020-11-23 22:14] jessegreenberg commented on #645
The option has been renamed to `magnifyingGlassRadius`.  I am not seeing a mention of deprecation in ZoomButton or elsewhere, though I do see ZoomButtonGroup in CCK. Ill reassign to @pixelzoom to respond to https://github.com/phetsims/scenery-phet/issues/645#issuecomment-732450377.

[2020-11-23 23:51] pixelzoom commented on #645
I'm not aware of any such decision and I didn't mean to imply that - sorry if this upset you.

[2020-11-23 23:53] pixelzoom commented on #645
@arouinfar said:

I'm not aware of any such decision and I didn't mean to imply that - sorry if this upset you.   I said "I doubt that I'll ever use ZoomButton again" (emphasis on "I", not the entire project), and that was based on the sims that I've worked on in the past, and the sims that I'm working on now.

[2020-11-24 19:31] arouinfar commented on #645
Thanks for the clarification @pixelzoom! I think the new zoom buttons look great, and will definitely be preferred a lot of the time. I just wanted to make sure that we weren't losing the other style too.

[2020-11-24 21:52] zepumph commented on #643
@jessegreenberg and I discussed this today. We discussed what it would look like to remove the above line, and to not interrupt on blur.

KeyboardDragListener supports interrupt, so we would want to be careful about cases that use it to make sure they are interrupted when blurs happen on their Nodes. GrabDragInteraction is already handling this for us:  https://github.com/phetsims/scenery-phet/blo

[2020-11-24 21:53] zepumph commented on #643
Local fuzzing is passing. Over to @jbphet to review for FL and to comment, if he desires, on MagnetAutoSliderKeyboardListener.

[2020-11-24 22:39] zepumph opened #646 "NumberPicker should have a callback on input"
@jessegreenberg and I were surprised to see that there was no callback for NumberPicker on input, like there is for slider (`drag`). We decided that it made some sense to use the `onChange` callback (to be renamed from `change` in this issue) passed to AccessibleValueHandler as the same pattern we do for Slider to AccessibleSlider.

This will also clean up the sound code.

[2020-11-24 22:43] zepumph commented on #646
@jbphet do you mind reviewing this change, especially the logic in NumberPicker.

[2020-11-25 17:03] terracoda commented on #630
All this sims above look good, except John Travoltage.

The Keyboard Shortcuts dialog of JT looks a bit crowded now. I'll open an issue in the JT repo to address this before next publication.

Screenshot of John Travoltage's latest Keybaord Shortcuts:
![Screen Shot 2020-11-25 at 1 29 20 PM](https://user-images.githubusercontent.com/1902116/100259036-510afc00-2f22-11eb-8ff0-e25dce59cb00.png)

[2020-11-25 17:03] terracoda commented on #630
Otherwise all good, so closing.

[2020-11-25 17:03] #630 closed

[2020-11-30 19:31] samreid opened #647 "Should ZoomButtonGroup support magnifying glass icons?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/620 "Zoom buttons need magnifying glasses".

Circuit construction kit is using ZoomButtonGroup for the chart zoom in/out buttons, in the aforementioned issue, we said:

It currently looks like this:

![image](https://user-images.githubusercontent.com/679486/100654975-dcf89b80-3307-11eb-8560-4682c76be9cf.png)

Assigning to the

[2020-11-30 19:36] samreid commented on #647
I added a comment in https://github.com/phetsims/circuit-construction-kit-common/issues/620#issuecomment-735996468 about what the other zoom buttons in CCK AC look like.  Maybe we should wait for a conclusion on that conversation before going too far with this issue.

[2020-11-30 19:36] pixelzoom commented on #647
Strong push back on adding magnifying glasses to ZoomButtonGroup.  If you need magnifying glasses, use ZoomButton.

[2020-11-30 19:38] pixelzoom commented on #647
Strong push back on adding magnifying glasses to ZoomButtonGroup.  This was specifically designed for cases where you do not need (heavyweight) magnifying glasses. If you need magnifying glasses, use ZoomButton.

[2020-11-30 19:40] samreid commented on #647
Are you recommending a parallel implementation of ZoomButtonGroup that uses the magnifying glass icons?

[2020-11-30 19:44] pixelzoom commented on #647
Go for it.

[2020-11-30 19:45] pixelzoom commented on #647
More complexity, more cost.  Imo unnecessary.  That's my opinion.  If someone wants to add it, go for it -- and please add yourself as `@author`.

[2020-11-30 19:56] samreid commented on #647
On hold until we have a consensus in https://github.com/phetsims/circuit-construction-kit-common/issues/620

[2020-12-01 19:11] pixelzoom opened #648 "Support other font styles in MathSymbolFont"
MathSymbolFont is the font used for math symbols.  It uses these options, which cannot be changed:

[code]

In Fourier, I've discovered that there are some math symbols (pi, sigma,...) that look best in 'normal' (not 'italic') MathSymbolFont.  So I'm going to add the ability to override the default style, both in the constructor and in `getRichTextMarkup`.

[2020-12-01 19:29] pixelzoom commented on #648
Done in the above commit.

In `getRichTextMarkup`, I replaced the `<i>` tag with the `font-style` attribute.

I'm using this feature now in Fourier, for example in FMWSymbols.js:

[code]

@ariel-phet please assign someone to review. While many sims use MathSymbolFont, the only other developer currently using `getRichTextMarkup` is @jbphet in number-line-distance.

[2020-12-01 19:35] pixelzoom commented on #648
One more change... In the above commits, I added validation of the `style` argument to `getRichTextMarkup`.  I thought this was important since this method is not creating a Font, and we're relying on the DOM to process the `font-style` attribute.

[2020-12-01 19:36] ariel-phet commented on #648
@jbphet said he could review since this looks pretty quick.

[2020-12-01 20:48] jbphet commented on #643
The behavior is fixed for Faraday's Law, though the drop and pickup sounds both play in the use case described.  I'll discuss with the design team whether that's okay, since I suspect it might be tricky to prevent.  That discussion will occur in https://github.com/phetsims/faradays-law/issues/201.

The change itself, which involves the removal of a single line of code, doesn't strike me as problem

[2020-12-02 18:46] jbphet commented on #648
Looks good to me.  Very good actually.  It seems like a valid way to address the problem, the commits seem reasonable, and the sigma and pi characters look good in Fourier in non-italicized style.  I also did a quick regression test of the usages in Expression Exchange and Number Line: Distance, and things look fine there.  Closing.

[2020-12-02 18:46] #648 closed

[2020-12-03 00:34] jbphet commented on #646
Review complete.  For the most part this looks good, and I agree that it cleans up the sound code.

I made what I felt was an improvement to the logic for playing sounds, since it was derived from code I had originally created and struck me as a bit convoluted upon review.  Please have a look at that and make sure you're good with what I've done.

Also, the documentation for the `onChange` listene

[2020-12-03 00:43] zepumph commented on #646
That makes sense, to me. `change` and `input` are two DOMEvents, and so I could see it both ways. My slight preference is to keep it as is because it aligns with the name of the callback in AccessibleValueHandler. I think that all option names should be changed if any are. After hearing this, please create a new issue if you would like to further discuss the rename.

I really liked your doc, and c

[2020-12-03 19:56] zepumph commented on #642
At dev meeting today, we decided that this makes sense. Every sim will have a color profile.

We didn't feel like every single color in the sim needed to run on this though. For example every Text fill. But if you feel like designers may want to play around with colors, or if PhET-iO may want clients to customize colors.

@samreid wondered if there was some amount that is over-doing this, for exam

[2020-12-03 21:23] jbphet commented on #646
Sorry, I think I was a little unclear.  When I said, "[W]hy not call it inputListener if it's fired on input?" I was trying to illustrate the possible confusion of a future developer, not making a suggestion.  I prefer the term `change` in this context too, so we are in agreement.

It seems that we're done here - closing.

[2020-12-03 21:23] #646 closed

[2020-12-07 18:28] pixelzoom commented on #642
Summary of the above commits:
* replaced SimulaRasasColors.js with SimulaRasaColorProfile.js
* added `"colorProfile": true,` to package.json
* ran `grunt update` to update simula-rasa_en.html and create simula-rasa-colors.html

To test, I created a new repo using these commands:

.. then tested foo_en.html and foo-colors.html in Chrome.

@ariel-phet please assign someone to review, or close if you

[2020-12-07 21:31] ariel-phet commented on #642
@pixelzoom I think we can go without review here. Thanks for moving this issue forward!

[2020-12-14 17:24] jessegreenberg opened #649 "NVDA screen reader reads out in wrong order when you tab away from the magnet before dropping it"
@KatieWoe commented on [Thu Dec 10 2020](https://github.com/phetsims/faradays-law/issues/210)

**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/581. Found with NVDA on Firefox.
When you have grabbed the magnet, then tab away to the Voltmeter checkbox, without pressing space to first drop the magnet, it seems to r

[2020-12-14 21:20] jessegreenberg commented on #645
OK, that was all for this issue closing.

[2020-12-14 21:20] #645 closed

[2020-12-15 20:02] samreid commented on #647
We added support in https://github.com/phetsims/circuit-construction-kit-common/issues/620, closing.

[2020-12-15 20:02] #647 closed

[2020-12-15 20:05] samreid opened #650 "ZoomButtonGroup pointer areas should support an arbitrary spacing"
From a discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/620, @pixelzoom and I discussed that ZoomButtonGroup pointer areas should support an arbitrary spacing.  At the moment, it looks like it assumes the spacing is 0.

@ariel-phet can you please recommend a priority and developer?

[2020-12-15 22:00] pixelzoom commented on #650
I'll take care of this one.

[2020-12-16 00:09] #643 closed

[2020-12-16 20:15] samreid opened #651 "Should PaintDef support Property<Paint>?"
Discovered during https://github.com/phetsims/bamboo/issues/16.  Here is the current definition of PaintDef:

[code]

Note that it supports `Paint` but not `Property<Paint>`.  Is that by design, or an oversight?  If it is by design, it should be documented.  If it is an oversight it should be documented or corrected.

@jonathanolson can you please recommend how to proceed?

[2020-12-16 22:40] pixelzoom commented on #650
Implemented in the above commit, with a demo in scenery-phet Components screen for PlusMinusZoomButtonGroup.  Run with `?screens=3&component=PlusMinusZoomButtonGroup&showPointerAreas` and change the value of `const spacing` to reproduce these tests:

`spacing = 0`, pointer areas are fully shifted:

<img width="279" alt="screenshot_760" src="https://user-images.githubusercontent.com/3046552/1024149

[2020-12-17 01:23] samreid opened #652 "Most/all occurrences of ZoomButton should be converted to use ZoomButtonGroup"
In https://github.com/phetsims/circuit-construction-kit-common/issues/620 we generalized ZoomButtonGroup and made it support different icons. Most/all simulations that use ZoomButton duplicate logic regarding layout/listeners/pointer areas and duplicated code around creating both buttons, and most/all should be converted to use this new common code.  If no simulations need ZoomButton after this ch

[2020-12-17 02:09] pixelzoom opened #653 "default options need adjusting in ZoomButtonGroup hierarchy"
Related to https://github.com/phetsims/scenery-phet/issues/652.  Something I noticed as  I'm converting ph-scale to MagnifyingGlassZoomButtonGroup in https://github.com/phetsims/ph-scale/issues/206...

ZoomButton uses `buttonAppearanceStrategy: RectangularButton.ThreeDAppearanceStrategy` (the default), while  ZoomButtonGroup uses  `buttonAppearanceStrategy: RectangularButton.FlatAppearanceStrategy

[2020-12-17 02:13] pixelzoom commented on #653
Ditto for cornerRadius.  `cornerRadius: 0` is specific to PlusMinusZoomButtonGroup, it doesn't belong in ZoomButtonGroup. Every sim ported to MagnifyingGlassZoomButtonGroup will be forced to set `cornerRadius: 4` to keep the same look.

[2020-12-17 02:15] pixelzoom commented on #653
MagnifyingGlassZoomButtonGroup should default to `buttonOptions.baseColor: PhetColorScheme.BUTTON_YELLOW` in order have the same look as ZoomButton.  Otherwise every converted sim will need to set baseColor.

[2020-12-17 02:17] pixelzoom commented on #653
Ditto for `magnifyingGlassOptions.glassRadius`.  MagnifyingGlassZoomButtonGroup uses 10, ZoomButton uses 15. I'm guessing the values here were set for CCK:AC.  They need to be set to match ZoomButton, or converting sims from ZoomButton to MagnifyingGlassZoomButtonGroup is going to be a pain.

[2020-12-17 02:33] pixelzoom commented on #653
In the above commits, I've adjusted the default options so that:

* PlusMinusZoomButtonGroup has buttons that are flat, white, square corners.
* MagnifyingGlassButtonGroup has buttons that default to the look of ZoomButton (3D, yellow, rounded corners,...)
* CCK:AC overrides defaults for MagnifyingGlassButtonGroup to provide the "look" that's desired in that sim

@samreid please review.

[2020-12-17 03:12] pixelzoom opened #654 "Rename dynamicProperty to mutedProperty for SelfVoicingQuickControl"
I came across this while looking for example of DynamicProperty for another task that I was working on.  In SelfVoicingQuickControl.js:

[code]

This would be clearer if `dynamicProperty` were renamed to `mutedProperty`, especially since the parameter for `inverseMap` is named `muted`.

[2020-12-17 03:36] pixelzoom commented on #652
First, this issue should probably be titled "... converted to MagnifyingGlassZoomButtonGroup".  No one should be converting to ZoomButtonGroup, because it's a base class.  And I don't think anyone but me has been using PlusMinusZoomButtonGroup.

Second, I converted ph-scale from ZoomButton to MagnifyingGlassZoomButtonGroup in phetsims/ph-scale#207.   I hit several pain points, all of which had to

[2020-12-17 16:26] samreid commented on #652
It seems like a design question about whether sims should move to the textual icons or remain using the magnifying glass icons.  Sims that have other definitions for "+" and "-" like CCK may require the magnifying glass icons to avoid confusion.

[2020-12-17 16:45] pixelzoom commented on #652
Thanks for clarifying.  It wasn't clear to me that  considering whether to change from magnifying glasses to +/- icons was included in the scope of this issue.   We should discuss that aspect in dev meeting.

[2020-12-17 21:27] pixelzoom opened #655 "listbox is too long in scenery-phet demo"
scenery-phet Components screen now has so many demos that the combo box's listbox extends past the bottom of the screen.  See screenshot below.   This should be fixed by either scaling the listbox, or moving some of these demos to another screen.

<img width="1265" alt="Nodes" src="https://user-images.githubusercontent.com/3046552/102545717-e312aa00-4073-11eb-9269-a5e7486690f1.png">

[2020-12-18 17:30] samreid commented on #650
Here are the pointer areas without the shift:

![image](https://user-images.githubusercontent.com/679486/102638863-689a6680-4115-11eb-8858-a05f254a05c8.png)

Here are the pointer areas with the shift:

![image](https://user-images.githubusercontent.com/679486/102638900-78b24600-4115-11eb-86f9-14b3451827a4.png)

It seems like the intention is to keep the same shape and just move them, but in some c

[2020-12-18 17:30] #650 closed

[2020-12-28 17:42] samreid commented on #653
I reviewed the commits and tested the default components in the scenery-phet harness, and tested the buttons in CCK-AC.  Everything looks good to me, thanks!  Closing.

[2020-12-28 17:42] #653 closed

[2020-12-29 01:27] pixelzoom commented on #655
There's currently no way to specify maxHeight for a ComboBox's listbox.

So I took a look at the demos in the Components screen.

First, there are also 5 demos related to "spinners", so I've moved them to their own "Spinners" screen in the above commit.  Listbox is still a bit too long, see screenshot below with `?dev`.

So next, there are demos that should not be in the Components screen, or even

[2020-12-29 01:47] pixelzoom commented on #655
I moved PlusMinusZoomButtonGroup demo to the Buttons screen, and now the listbox fits in the layoutBounds of the Components screen.  See screenshot below.

<img width="1025" alt="screenshot_801" src="https://user-images.githubusercontent.com/3046552/103252893-eba09580-493b-11eb-845e-2442a908420e.png">

I'm going to close this issue, since the immediate problem is resolved.  The general problem is

[2020-12-29 01:47] #655 closed

[2021-01-05 00:51] jonathanolson commented on #651
It's not set in stone, however it makes the implementation of `PaintObserver` simpler. Have we run into cases where that would be useful?

PaintObserver would technically need to listen to 3 different levels if we add that (or could be recursive if we allow `Property<paintDef>`. Notably, the `Property` value could change, Color Properties in the Gradient could change, AND the Colors themselves spe

[2021-01-05 03:31] samreid commented on #555
I looked into this further, and no longer believe CapacitorNode should be entirely in view coordinates--it makes sense for it to have a corresponding model type and a model-view transform.  For cases like Circuit Construction Kit where the exact dimensions are irrelevant, we can use an identity transform.  To proceed on this issue, we should answer the following questions which were raised startin

[2021-01-05 20:16] ariel-phet commented on #555
@samreid - @Denz1994 will not have the ability to work on this issue before CCK AC is published. Please proceed as is best for CCK AC, and we will deal with Capacitor Lab Basics when it is necessary.

[2021-01-05 20:24] samreid commented on #555
CCK AC's usage of CapacitorNode is at a stable, working configuration that is not too brittle.  It would not get stellar marks in a code review, but in my opinion it is "clear enough" and we could still publish and maintain it. Also, removing this step as a bottleneck before publication would help us get to QA sooner. I'd be reluctant to make changes that leave Capacitor Lab: Basics broken for an

[2021-01-05 21:58] samreid commented on #651
Thanks for helping me understand--I'd recommend documentation for now.

[2021-01-06 18:17] ariel-phet commented on #555
@samreid considering your above comment, we should move ahead and remove "this step as a bottleneck" - we can defer this issue until CCK AC is published, and then revisit it. Given the popularity of CCK AC we will be sure to be making revisions and improvements after the initial published version.

[2021-01-06 19:37] jonathanolson commented on #651
Added documentation, closing.

[2021-01-06 19:37] #651 closed

[2021-01-12 22:31] pixelzoom opened #656 "DragBoundsProperty makes assumptions that hinder its general use"
DragBoundsProperty was originally written for use in Gas Properties, for use with tools (stopwatch, collision counter) that were also specific to that sim.  It makes these assumptions:

(1) It assumes that targetNode and boundsProperty are in the same coordinate frame.

(2) It assumes that targetNode.minX and minY are zero.

Those assumptions were indeed valid in Gas Properties.  But they make usi

[2021-01-15 00:56] jbphet opened #657 "NumberPicker increment and decrement listeners fire when grayed out"
The root cause of the odd behavior described in https://github.com/phetsims/number-line-operations/issues/61 is that the fire listeners for the increment and decrement buttons are being fired when the numerical value is at or beyond the specified range.  Also problematic is that when the arrow buttons are grayed out and the corresponding half of the readout isn't highlighting, the cursor still cha

[2021-01-15 23:50] jbphet commented on #657
I went ahead and implemented a fix for this because I needed to put out a dev release for QA testing.  I did something a little different from what I described above, see the commit.

I regression tested this on number-line-operations and unit-rates, and tested in both a mouse-driven and touch-driven environment and didn't see any problems.

@pixelzoom - please review.  If you end up making change

[2021-01-19 17:13] pixelzoom commented on #657
The change in 1a38780 looks correct to me, and I tested in a few sims that use NumberPicker.

Back to @jbphet in case there's anything else to do for this or phetsims/number-line-operations#61. Feel free to close.

[2021-01-19 17:53] #657 closed

[2021-01-21 16:30] KatieWoe opened #658 "Cannot read property addListener of undefined"
[code]

[2021-01-21 22:57] jessegreenberg commented on #658
Thanks @KatieWoe - usage was overlooked after an API change. Fixed above.

[2021-01-21 22:57] #658 closed

[2021-01-23 03:38] zepumph commented on #637
In https://github.com/phetsims/sun/commit/0957106f1a521e57323af4c8ccd900fd69a0c214 @terracoda and I decided during a meeting that 1500 was worth trying out. I think it is working well now. Moving on to https://github.com/phetsims/scenery-phet/issues/638. Closing

[2021-01-23 03:38] #637 closed

[2021-01-27 20:16] jessegreenberg commented on #635
Looks good to me. I checked that the keys in d476145aab75658305ae96d817013e4cdda2285e were not in any translations, so it seems safe. Thanks!

[2021-01-28 03:25] zepumph commented on #635
Thanks.

[2021-01-28 03:25] #635 closed

[2021-01-28 17:17] pixelzoom commented on #271
Before doing this, we should discuss layout & option requirements with designers.  In the handful of sims where I could have used this component, the requirements have been different.  Can they be standardized?

[2021-01-28 17:30] jbphet commented on #333
A user recently logged an issue related to this, see https://github.com/phetsims/dot/issues/68.  There is also one in the rosetta repo, see https://github.com/phetsims/rosetta/issues/252.  When (and if) I or someone else starts working on this, the first step should be to organize and consolidate the related issues.

[2021-01-29 00:38] samreid commented on #439
Instrumenting the scenery-phet demo is not part of our current goals.  We may instrument parts as we need components on a simulation-by-simulation basis.  Unassigning for now.

[2021-01-29 00:41] samreid commented on #401
This issue should be addressed in the context of a PhET-iO simulation instrumentation, unassigning until then.

[2021-01-30 02:04] samreid opened #659 "StopwatchNode should move to front when its buttons are pressed."
From https://github.com/phetsims/wave-interference/issues/450.  @KatieWoe said:

![moveforwardbuttons](https://user-images.githubusercontent.com/41024075/104382389-3c42f180-54eb-11eb-89b3-c06c858c5278.gif)

I replied:

[2021-01-30 02:04] samreid commented on #659
@jonathanolson said:

What is the desired behavior? I'm still very uneasy about having a default "moveToFront" inside a component (but I guess you can always wrap it with a Node if desired?)

That seems like something that might be nice to have for this and other reasons.

I think the better approach is to NOT have moveToFront baked into StopwatchNode (especially just in the dragTarget!!!), but in

[2021-01-30 02:05] samreid commented on #659
I discussed with @arouinfar and we agreed that it's not a blocking publication issue that clicking the buttons doesn't bring the stopwatch to the front.  Since waves intro 1.1.0-rc.3 moves the stopwatch node to front for all except for the buttons, I'll remove this issue from the milestone.

That seems like a nontrivial issue which would probably need to be discussed with the dev team, and may go

[2021-01-30 02:05] samreid commented on #659
@jonathanolson said:

[2021-01-30 02:05] samreid commented on #659
This patch seems to be working OK, is it what you had in mind?

[code]

[2021-01-30 02:05] samreid commented on #659
I noticed the patch doesn't pop it to the front when dragging out of the toolbox though.

[2021-01-30 02:05] samreid commented on #659
@jonathanolson said:

Presumably we'd want to handle touch-snag and the toolbox pattern! Having a DragListener with `attach:false` would handle the first, however the second would almost require information from the actual DragListener being triggered, right?

[2021-01-30 02:10] samreid commented on #659
Leaving unassigned since this was determined unnecessary for https://github.com/phetsims/wave-interference/issues/450

[2021-01-31 04:10] samreid opened #660 "Allow listeners to be attached to just the body + nozzle parts"
In order to support the design for Bending Light (for https://github.com/phetsims/bending-light/issues/339), we would like to attach a listener to the body + nozzle rather than the entire LaserPointerNode.  I think this means we would like to make a new child that combines the bodyNode + nozzleNode accessible.

[2021-01-31 04:12] samreid opened #661 "LaserPointerNode needs an option to move the button closer to the front."
For Bending Light, the original design calls for the button to be closer to the nozzle.  I think this is so that there is a bigger grab region for rotating the laser pointer.  This is for https://github.com/phetsims/bending-light/issues/339

[2021-01-31 18:11] samreid commented on #660
Implemented in the commit, tested in https://github.com/phetsims/bending-light/issues/339 and a number of other sims that use LaserPointerNode.  Ready for review.  One question for the reviewer: instead of making `bodyAndNozzleNode` `@public`, should we add `addBodyAndNozzleNodeInputListener` methods?  Assigning to the author of LaserPointerNode for review.

[2021-01-31 18:17] samreid commented on #661
Implemented in the commit and tested in https://github.com/phetsims/bending-light/issues/339, @pixelzoom can you please review?

[2021-02-01 00:07] pixelzoom commented on #661
The approach looks reasonable to me.  But the type expression for `getButtonLocation` is incomplete, and I would name its param `bodyNode` -- `body` looks like a model element to me.    Changes made in the above commit, back to @samreid for review.

[2021-02-01 00:14] pixelzoom commented on #660
I haven't reviewed this yet, but a regression seems to have slipped into LaserPointerNode.  The beam location is now forward of the optional lens (`hasGlass: true`), which is not correct.   See screenshot below.  Back to @samreid before I review.

In scenery-phet demo:

<img width="359" alt="screenshot_840" src="https://user-images.githubusercontent.com/3046552/106402574-5b94b680-63e7-11eb-88e9-91

[2021-02-01 02:34] samreid commented on #661
Thanks for the improvement, I added one more fix which seemed straightforward, closing.

[2021-02-01 02:34] #661 closed

[2021-02-01 02:41] samreid commented on #660
I shifted the source of the light so it will go through the lens.  I didn't track down the exact origination of this problem, but it appears it has been around for a while.

[2021-02-02 03:09] zepumph commented on #632
I definitely like "state" more than "mode". Will you please review and see if that is clearer?

[2021-02-02 18:21] pixelzoom commented on #660
I'm trying to figure out why this changed is needed.

Looking at phetsims/bending-light#339, you're using this feature in LaserNode, which uses LaserPointerNode via composition.  You're conditionally adding a decoration to (`knobImage`), and then using `bodyAndNozzleNode` for touch area and input listener target Node:

[code]

It's not clear to me - why can't you just use `laserPointerNode`?

[2021-02-02 18:30] pixelzoom commented on #660
Discussed with @samreid on Slack.  There is no need for this feature if we do `laserPointerNode.addChild( knobImage )` do `this.addChild( knobImage)`, and it's OK if the laser can be dragged by its button.   There is precedent for being able to drag by the button - see dropper in pH Scale - so if that's _not OK_, I'd like to hear why it's desirble in pH Scale, but not in Bending Light.

[2021-02-02 18:42] samreid commented on #660
I reverted the change to LaserPointerNode that made body+nozzle public, and I updated bending light's LaserNode accordingly.  @pixelzoom and I discussed adding the `knobImage` to `this` instead of to the `laserPointerNode` but that did not appear to be necessary, the input listeners seem to be doing the right thing with the knob a child of the `laserPointerNode`.

Also, for unknown reasons, the la

[2021-02-02 18:58] pixelzoom commented on #660
The input listener on the button would need to be `attach: false`.  And it looks like we did that in EyeDropperNode:

[code]

So something similar would need to be added to `const buttonOptions` in LaserPointerNode.

[2021-02-02 19:09] samreid commented on #660
@arouinfar should the laser pointer in Bending Light be able to be dragged by the button?

[2021-02-02 20:08] jbphet commented on #632
Looks much better.  I reformatted the comment for this to fit within the 120 column limit, and with that, I think we're done here.  Closing.

[2021-02-02 20:08] #632 closed

[2021-02-03 01:54] zepumph opened #662 "Should escaping to release a Drag fire on keyup?"
Currently, GrabDragInteraction is listening on keyup to see if Escape should "drop" the draggable item. @terracoda should this be on keyup, or on keydown? Or do you not care? It seemed a bit weird that it was on Escape, and I didn't remember if we meant to do it that way.

I see this code:

[code]

So we could move the escape listener to keydown if we wanted. Does this bother you at all?

[2021-02-03 01:54] zepumph commented on #662
I was testing this on Friction, but any GrabDragInteraction would likely have this behavior.

[2021-02-03 16:01] arouinfar commented on #660
@samreid I don't think the laser needs to be draggable by the button. It may also end up being accidentally dragged by users on touch devices.

For PhET-iO we are going to want to be able to make the body of the lasers pickable:false while keeping the button interactive. The same issue came up in pH Scale, see https://github.com/phetsims/scenery/issues/1041 and https://github.com/phetsims/scenery/

[2021-02-03 16:33] samreid commented on #660
@pixelzoom will our proposed strategy work with that design constraint?

[2021-02-03 16:38] pixelzoom commented on #660
No, it will not.  And it does not currently work that way in ph-scale, see https://github.com/phetsims/ph-scale/issues/141.

I'm also of the opinion that setting pickable is the wrong way to address this. We should be disabling specific input listeners, so that we can easily support exactly this type of requirements.

[2021-02-03 16:43] samreid commented on #660
In https://github.com/phetsims/scenery/issues/1041#issuecomment-726290053 it was argued:

Is there a way to pair the pointer input with the keyboard input so they can be disabled together?

[2021-02-03 16:50] pixelzoom commented on #660
@samreid It feels like we're now veering off into a discussion that belongs in phetsims/scenery#1041 (comment).  I don't have time for that right now, and I think it needs to involve more parties.

I recommend closing this issue (since the non-PhET-iO requirments are met), and opening a new issue for the PhET-iO requirement that @arouinfar mentioned (similar to phetsims/ph-scale#141);

[2021-02-03 17:36] #660 closed

[2021-02-04 14:25] terracoda commented on #662
@zepumph, actually, I requested the Escape be be an alternative way to release the Balloon in BASE.

The Escape key is often used to dismiss a form or exit a dialog and I thought it would be an intuitive way to exit the special grabbed mode, especially for JAWS users.

It's an alternative to Space and Enter keys to release a draggable object.

[2021-02-04 14:25] terracoda commented on #662
I hope that helps.

[2021-02-04 17:16] zepumph commented on #662
That is good to note. I think we should keep the escape key interaction also. Currently it fires when you release a key, would you prefer that? Or would it be better on keydown (when you press down a key).

[2021-02-04 17:19] terracoda commented on #662
Do you mean, a grabbed object is released when the learner lifts their finger off a pressed Escape key?

[2021-02-04 17:20] terracoda commented on #662
If so, I think that is good.
If they hold the ESC key down they may just being thinking about it  and not expecting anything to happen.

[2021-02-04 17:22] terracoda commented on #662
I wouldn't want to hear two utterances for a release, one on keydown and one on keyup, at least not typically. I can't think of a scenario like that.

[2021-02-04 19:43] zepumph commented on #662
Ok, we'll keep this on keyup, thanks

[2021-02-04 19:43] #662 closed

[2021-02-04 20:28] zepumph commented on #283
From today's dev meeting, I may be able bring this home while working on Projectile Motion for PhET-iO.

[2021-02-04 23:54] zepumph commented on #272
Just the todos here.

[2021-02-05 00:05] zepumph commented on #540
I want to reopen just to review as I go through some cleanup over in https://github.com/phetsims/scenery-phet/issues/283. It has been long enough since this work occurred that I want to take another look.

[2021-02-05 00:09] zepumph commented on #271
Potential (horrible) names for this thing:
* KeypadDisplay
* DisplayEnterKeypad
* KeypadEnterNode
* KeypadComposite

[2021-02-05 00:13] zepumph opened #663 "Create general Keypad modal layer type"
From https://github.com/phetsims/projectile-motion/issues/127 and https://github.com/phetsims/unit-rates/issues/153

And expanding (ish) on https://github.com/phetsims/scenery-phet/issues/271, where that adds an enter button and NumberDisplay to a Keypad creating a composite Node.

In unit rates and projectile motion, the Keypad Node is placed in a modal layer, called SIM/KeypadLayer. @jbphet ment

[2021-02-05 00:16] zepumph commented on #663
Looks like `MAKE_A_TEN/KeyboardPanel` is also a duplication of this logic. Tagging @jonathanolson and @pixelzoom so they are aware of potential work to consolidate common code from their sims.

[2021-02-05 00:21] zepumph commented on #271
I created https://github.com/phetsims/scenery-phet/issues/663 to deal with the modal dialog type solution needed for make a ten and Unit rates and projectile motion, please see https://github.com/phetsims/scenery-phet/issues/663.

Thus it seems like this issue is really more about adding the composition of numbers display bar and enter button. If I end up being wrong, and really this is all one ty

[2021-02-05 00:27] zepumph commented on #279
I moved the TODO to #333. Closing

[2021-02-05 00:27] #279 closed

[2021-02-05 00:28] zepumph commented on #283
Discussed with @jbphet today, and we checked off the top checkboxes that have been tackled.

Game plan for Keypad work:

-  [ ] go through this issue and clean up anything still to do
- [ ] Close this issue (once making sure all work is done or captured in side issues)
- [ ] https://github.com/phetsims/scenery-phet/issues/272
- [ ] https://github.com/phetsims/scenery-phet/issues/271 and https://gi

[2021-02-05 18:11] jbphet commented on #283
@zepumph is on the case, I'm going to unassign myself for now.

[2021-02-05 18:12] jbphet commented on #271
@zepumph is going to take this on (thanks @zepumph!), I'm unassigning myself for now.

[2021-02-08 18:14] pixelzoom opened #664 "dead code in ProbeNode.js"
Encountered while working on https://github.com/phetsims/scenery-phet/issues/488.

Introduced by @samreid in https://github.com/phetsims/scenery-phet/commit/c2c94c4019e629ab755940eaf7304af4f86deb04:

[code]

If this code is useful for some reason, please document why it's commented out.  Otherwise delete it.

[2021-02-08 18:16] pixelzoom commented on #664
I'm guessing that these are added to show the origins of some subcomponents.  The preferred way to do that is something like:

[code]

[2021-02-08 18:30] pixelzoom opened #665 "confusing code in ProbeNode.js"
Noted while working on https://github.com/phetsims/scenery-phet/issues/488.

There's some confusing code in ProbeNode.js.  Two primary things:

(1) "sensor" is defined as "circular part of the ProbeNode is called the sensor".  But then there are functions and variables like `createSensorShape` and `sensorShape` which are actually the entire probe, not the sensor.

(2) Function `createSensorShape`

[2021-02-08 18:55] pixelzoom commented on #665
Done in the above commits. Tested in scenery-phet demo and in a bunch of sims.

@samreid would you mind taking a peek, since you're the primary author, and you and I have collaborated on ProbeNode in the past?

[2021-02-08 19:10] pixelzoom commented on #665
Oops.  After this change, the probe is no longer draggable by the sensor area.  Back to me.

[2021-02-08 19:17] pixelzoom commented on #665
Oops again. There's nothing wrong with these changes. The sensor was not draggable due to a local change that I made, experimenting with a possible  fix for #488.

[2021-02-08 21:09] zepumph commented on #540
Discussed in a Projectile Motion design meeting today, I'll assign @arouinfar in case there are design concerns while working on https://github.com/phetsims/projectile-motion/issues/219

[2021-02-08 21:23] jessegreenberg opened #666 "Create a PlayStopButton"
For the Quick Access Menu we will need a PlayStopButton similar to PlayPauseButton. It will look like this
![image](https://user-images.githubusercontent.com/6396244/107282416-ee0d0980-6a28-11eb-9884-a418a96db26f.png)

It will share a lot with PlayPauseButton since the only difference is the icon. I am thinking about creating a supertype
PlayControlButton with a constructor that takes the isPlayin

[2021-02-08 21:29] jessegreenberg opened #667 "The globalKeyboardListener should be removed from PlayPauseButton"
It shouldn't be in this class because there is no constraint that there is only one in a sim. Anything using more than one PlayPauseButton will have all button isPlayingProperties toggle with "Alt + k".  TimeControlNode might work, but what if a sim uses more than one of those as well? Maybe we need to take that listener out and add it on a sim by sim basis.

@zepumph can we brainstorm a pattern f

[2021-02-08 21:31] zepumph commented on #667
How about we wrap that listener in an option, auto on, so that you can turn if off if we encounter a case for the second play pause button?

[2021-02-08 23:10] samreid commented on #666
That sounds like a reasonable plan, thanks!

[2021-02-08 23:30] samreid commented on #664
I removed the unused code, closing.

[2021-02-08 23:30] #664 closed

[2021-02-09 17:55] samreid commented on #665
I reviewed the commits and tested in the scenery-phet demo and did not have any recommendations.  I think this issue can be closed, but back to @pixelzoom just in case there's more to do first.

[2021-02-09 20:41] #665 closed

[2021-02-10 20:17] jessegreenberg commented on #667
OK thanks, that sounds good for now. Can you please review, particularly the name of the option?

[2021-02-10 21:41] zepumph commented on #667
Very nice!

[2021-02-10 21:52] #667 closed

[2021-02-10 21:52] jessegreenberg commented on #667
OK thanks!

[2021-02-10 23:07] jessegreenberg commented on #666
OK, cool thanks! I did this in the above commit. Would you mind reviewing?

[2021-02-11 19:38] samreid commented on #652
Dev meeting:

We assigned the appropriate developers to this issue for a chip-away.  Each developer can determine whether to match the previous style, or to reach out to their designer about switching to other style (the two styles being text +/- vs magnifying glass icons).

@pixelzoom points out that +/- may be better for graphs.

Also, keep in mind whether other symbols in the sim may confuse--l

[2021-02-12 20:34] zepumph commented on #490
Over in https://github.com/phetsims/ratio-and-proportion/issues/348 QA and I found that setting hidden like this prevents alerts on JAWS perhaps ~75% of the time. This occurs in some of our published sims as well. Reopening.

[2021-02-12 20:36] zepumph commented on #490
When I use this patch, JAWS correctly speaks alerts, but iOS VO again gets cut off mid alert.

[code]

We seem to be at some sort of impasse on how to make AriaHerald behave well for all screen readers.

[2021-02-12 20:53] zepumph commented on #490
So it looks like JAWS will say the first 4 alerts, cooresponding to the number of polite live elements we have, but once they have all been hidden, they no  longer work with JAWS.

[2021-02-12 20:58] zepumph commented on #490
This completely fixes JAWS, but doesn't work on iOS at all.
[code]

[2021-02-12 21:03] zepumph commented on #490
This patch didn't fix JAWS at all:

[code]

[2021-02-12 21:14] zepumph commented on #490
I also found that JAWS alerts were totally fixed by https://github.com/phetsims/ratio-and-proportion/issues/348#issuecomment-777907966 (removing the hiding of elements), but then you can access stale alerts at the end of the DOM (after the PDOM). This got me wondering if it is possible to hide this region in another way. `aria-disabled` didn't work.

[2021-02-12 21:18] zepumph commented on #490
I would have thought that display wouldn't effect screen reader output, but this was just as broken with JAWS, as setting hidden

[code]

[2021-02-12 21:26] zepumph commented on #490
using aria-busy seems to work as a way to have the virtual cursor not be able to access the aria live elements. This was only tested in chrome, but it worked very well!

[code]

The main issue with the above patch is that we aren't clearing the text content after setting, and so JAWS won't say an alert if it is the same as the alert content that is in the element from the last time. You can reprod

[2021-02-12 21:36] zepumph commented on #490
I also want to note that there are some similar-ish open issues in the JAWS issue tracker. Like https://github.com/FreedomScientific/VFO-standards-support/issues/296

[2021-02-12 21:43] jessegreenberg commented on #490
I just tried JAWS in Firefox and it isn't happening there. I am also seeing the bug in NVDA on Chrome now (but not Firefox). So I am thinking that it may actually be Chrome bug.

[2021-02-12 22:07] zepumph commented on #490
@jessegreenberg and I were able to confirm that this issue seems to be with all alerting done on Chrome (JAWS and NVDA).

@jessegreenberg and I figured out a platform specific solution that works on everything we have tested thus far. It also notest that setting `hidden` is more of a workaround for VO anyways, and that it shouldn't be standard.

We will make sure that QA hits this hard in the next

[2021-02-12 22:21] jessegreenberg commented on #490
If this works well, we probably want to redeploy all other sims with interactive-descriptions in a batch maintenance release. But we wanted to check in with @emily-phet first since this will take development and QA time. I would guess it will take 2-3 hours to go through the batch maintenance release process, and I would think about an hour of QA time to spot check the dozen or so sims that would

[2021-02-13 14:12] emily-phet commented on #490
Yes, please go ahead with the maintenance release.

[2021-02-13 23:47] samreid commented on #666
I tested the new buttons in the scenery-phet harness, and reviewed the code.  Things are working nicely! I have a few questions. I know some of my review comments pertain to code that was around before the change for this issue, but this seemed like an appropriate time to bring them up.  If there is no time to work on them now, they can move to side issues to be separately prioritized and assigned

[2021-02-15 02:02] jonathanolson commented on #652
I've only ever used the zoom amount (e.g. 0.25, 0.5, 1, 2, 4), instead of the zoom level as a Property. Is the zoom level preferred over the amount for phet-io? Otherwise presumably I'd have to include exponential functions whenever the zoom level is used (to convert it to the amount). Any objections if I use a bidirectional DynamicProperty for handling this coordinate frame change?

Additionally,

[2021-02-15 03:21] pixelzoom commented on #652
@jonathanolson said:

In that case, you might consider not bothering with this conversion.  Imo, different models for "zoom" are totally OK, there might not be enough value in adapting your model to the semantics of `zoomLevelProperty`..  In the sims I've developed, each "zoom level" was more complicated than just a multipler value -- it included range, grid line spacing, major tick spacing, minor

[2021-02-15 03:21] samreid commented on #652
I think the intention from the design was that the zoom levels could be indexed like [0,1,2,3,4,5] and they would correspond to desired zoom levels like [0.25, 0.5, 1, 2, 4].  For instance, I see this pattern in the bamboo example:

https://github.com/phetsims/bamboo/blob/87834b442e228557221b4ef08b7d718c48d0e62a/js/demo/DemoChartCanvasNode.js#L67-L70

[2021-02-15 13:58] terracoda commented on #490
Awesome! I am so happy for maintenance releases on these sims, in particular BASE and Friction as they both now have accessible grab and drag on mobile. Not sure if that automatically gets included, but it would be great if it did (no pressure).

Just an FYI, I did notice an issue with BASE last week - the charges were not displaying properly in the wall. See issue https://github.com/phetsims/ball

[2021-02-15 16:35] jessegreenberg commented on #490
OK thanks! A maintenance release for an unrelated issue is currently in progress, when that is done I will start this one (probably Wed 2/17).

@terracoda unfortunately this batch maintenance release won't include mobile accessibility or other improvements. Including mobile accessibility would be a much more destabilizing change and isn't something I would be comfortable doing in a batch of mainte

[2021-02-15 16:38] terracoda commented on #490
Ok, gotcha, @jessegreenberg! BASE will get a good maintenance release when the sound design is done. I'll have to be patient.

[2021-02-15 17:25] jessegreenberg commented on #666
Thanks for reviewing! Starting with the first since it involves git history, I tried to move contents of PlayControlButton into PlayPauseButton then rename PlayPauseButton to PlayControlButton, so that PlayControlButton has the history of PlayPauseButton, but after doing that locally I can no longer see any history under PlayControlButton with Webstorm. Ill try using `git mv` instead of webstorm r

[2021-02-15 17:56] samreid commented on #666
Would it work to do the following steps?

(a) revert the https://github.com/phetsims/scenery-phet/commit/1a65cfca9aa8fcfdc9994d418f14b3be7e0d1b73
(b) rename PlayPauseButton to PlayControlButton
(c) reapply the salient parts of https://github.com/phetsims/scenery-phet/commit/1a65cfca9aa8fcfdc9994d418f14b3be7e0d1b73 (this part may be manual)

I typically do a revert commit using WebStorm like so:

!

[2021-02-15 18:24] jessegreenberg commented on #666
That worked well, thanks! Those steps were done in the above commits. Moving on to remaining code review items.

[2021-02-15 18:34] jessegreenberg commented on #666
Each subtype needs the value to create its icon, but I moved the value to SceneryPhetConstants in https://github.com/phetsims/scenery-phet/commit/8670f3fa6a19e59767ec07c0b966f039921e0fb7

[2021-02-15 20:25] jessegreenberg opened #668 "Remove layout circles from PlayControlButton"
From a review comment in phetsims/scenery-phet#666 - There is this code

[code]

But since that was added ToggleNode (which PlayControlButton uses) was given an `alignChildren` option that should do this. It is likely that this layout code in PlayControlButton can be removed.

[2021-02-15 20:41] samreid commented on #666
What context will the Play Stop button be used in?  Will interacting with a stopped sim un-stop the sim?  Shouldn't this be accomplished by setting the `scaleFactorWhenPaused` to default to `1` (which it already does?). Then if we have a case where PlayStopButton needs to change size, it can just change the option?

Also, updating assignee since there are still some unchecked boxes a few comments

[2021-02-15 21:50] jessegreenberg commented on #666
Regarding https://github.com/phetsims/scenery-phet/issues/666#issuecomment-779438735, the first usages will play/stop speech, I would likely use a `scaleFactorWhenPaused` value of 1. I don't feel too strongly, and In retrospect I could see it being requested for a PlayStopButton in the future, I will move it to the supertype.

[2021-02-15 23:19] jessegreenberg commented on #666
OK, the rest of the review comments have been addressed or are back for feedback in https://github.com/phetsims/scenery-phet/issues/666#issuecomment-779391125. @samreid reassigning back to you.

[2021-02-16 21:45] jonathanolson opened #669 "branch: layout"
For https://github.com/phetsims/sun/issues/48.

[2021-02-17 04:34] samreid commented on #666
All the changes look great, nice work.  I reopened https://github.com/phetsims/sun/issues/121 to ask if we should guard against those listener removals.  I made one commit to use child options for the intermediate nodes, can you please review that?

Regarding the nested if statements, I compared with and without nesting:

with nesting:

[code]

without nesting:

[code]

and the without nesting see

[2021-02-18 01:12] zepumph opened #670 "SpeakerHighlighter should not depend on joist"
From https://github.com/phetsims/joist/issues/686, we should allow anything to use this without requiring a sim.

[2021-02-18 01:15] zepumph commented on #670
@jessegreenberg please review. Does this seem good to you?

[2021-02-18 01:51] zepumph opened #671 "MR for windows aria-live support"
This is from https://github.com/phetsims/scenery-phet/issues/490, and will need to patch as many sims as needed with

https://github.com/phetsims/utterance-queue/commit/1f1e3c1e58c0b0ffbf7e64dc5820481bc570a372

@jessegreenberg does that sound right to you?

ration and proportion 1.0 has already been patched.

[2021-02-18 01:52] zepumph commented on #490
https://github.com/phetsims/ratio-and-proportion/issues/348 has been tested and closed, so I think our patch worked.

I created https://github.com/phetsims/scenery-phet/issues/671 to do a batch MR to support alerts. I think this issue is ready to close. Please reopen if you feel differently.

[2021-02-18 01:52] #490 closed

[2021-02-18 16:36] jessegreenberg commented on #671
Yes, that sounds right to me. There is currently a MR in progress for https://github.com/phetsims/QA/issues/608, when that is finished we can begin this one.

[2021-02-18 23:16] jessegreenberg commented on #670
This change looks good, and I read through https://github.com/phetsims/joist/issues/686 to understand the context of getGlobal a bit more. Thanks!

[2021-02-18 23:16] #670 closed

[2021-02-19 16:28] pixelzoom commented on #671
@zepumph @jessegreenberg can you fill me in on why this is relevant for scenery-phet?  The commit that you reference above concernes AriaHerald, and I see no occurrences of AriaHerald in scenery-phet code.

[2021-02-19 16:32] pixelzoom commented on #649
@jessegreenberg Can you fill me in on why this issue lives in scenery-phet?  Scenery-phet is for components built on top of scenery.  Is there something specific to scenery-phet here that needs to be done?

[2021-02-19 16:35] pixelzoom commented on #638
@jessegreenberg @zepumph can you please fill me in on why this issue is relevant to scenery-phet? Scenery-phet is "Reusable components based on Scenery that are specific to PhET simulations."

[2021-02-19 16:37] pixelzoom commented on #631
This has been asssigned to review for 4 months. Raising priority of review to high.

[2021-02-19 16:39] pixelzoom commented on #623
This has been assign to @jonathanolson for review for 5+ months.  I'm confident in the changes, so I'm going to close this.

[2021-02-19 16:39] #623 closed

[2021-02-19 16:40] pixelzoom commented on #610
Hi @terracoda.  I'm now the responsible developer for scenery-phet.  Can you give me an estimate of when you might be able to address this issue?

[2021-02-19 16:41] pixelzoom commented on #610
Rasing priority to high since this issue has been inactive for 7+ months.  Feel free to adjust priority when we've decided on how/when to proceed. Thanks!

[2021-02-19 16:42] pixelzoom commented on #620
@samreid @zepumph Can you fill me in on why this issue lives in scenery-phet? It seems like it belongs in axon.

[2021-02-19 16:43] pixelzoom commented on #654
@jessegreenberg Permission to do this myself?

[2021-02-19 16:45] pixelzoom commented on #603
This fix has been assigned to @jonathanolson for 10+ months.  I'm inclined to close this. @jbphet are you confident that the change does not need review?

[2021-02-19 16:49] jbphet commented on #603
Yep, I think we're good.  Closing.

[2021-02-19 16:49] #603 closed

[2021-02-19 16:51] jonathanolson commented on #620
changeCount is specified e.g. here in Node:

[code]

and is called from TinyEmitter.

[2021-02-19 16:52] samreid commented on #620
It looks like I incorrectly created this issue in scenery-phet, it seems it should be in scenery.  I'll move it now.

[2021-02-19 16:55] terracoda commented on #610
Hi @pixelzoom, thanks for the heads up. I realize 7 months is a long time. I just created this issue as a reminder. I didn't have a due date in mind. What's the typical expectation for documentation like this? It's not blocking anything and Molecules and Light is a working example.

Greenhouse Effect is the next sim up with a Timing Control Node and Interactive Description. It might be handy to ha

[2021-02-19 16:56] pixelzoom commented on #597
Assigned to @arouinfar for ~10 months, so elevating priority to high.  @arouinfar how would you like to proceed with ColorProfile?  For Fourier, it's tandem is `fourierMakingWaves.global.view.colorProfile`.

[2021-02-19 16:59] pixelzoom commented on #569
Raising priority to high. Assigned to @jonathanolson for 6+ months without forward progress.  @samreid asked for your recommendation on how to proceed.

[2021-02-19 17:00] pixelzoom commented on #584
@samreid if you don't expect to work on this, want we remove the "medium" priority?

[2021-02-19 17:02] pixelzoom commented on #562
Raising priority to high.  Assigned to @jonathanolson and @jessegreenberg for 6+ months without forward progress.  How would you like to proceed?

[2021-02-19 17:03] pixelzoom commented on #559
Assigned to @jessegreenberg for review for 12+ months.  Raising priority to high.  @jessegreenberg when can you get to this?

[2021-02-19 17:06] samreid commented on #584
These spinners were made for Fraction Comparison, which is not in production and not on the horizon for production.  They look like this:

![image](https://user-images.githubusercontent.com/679486/108536725-00ddd480-729a-11eb-9e42-bc8bb0281fc1.png)

Should we delete them and recommend usage of `NumberSpinner`?

[2021-02-19 17:07] pixelzoom commented on #546
Assigned to @jessegreenberg for review for ~15 months. Raising priority to high. @jessegreenberg when can you get to this?

[2021-02-19 17:09] pixelzoom commented on #528
Assigned to @jessegreenberg for review for 16 months. Raising priority to high. @jessegreenberg when can you get to this?

[2021-02-19 17:10] pixelzoom commented on #367
Assigned to @jessegreenberg for review for 29 (!) months. Raising priority to high. @jessegreenberg when can you get to this?

[2021-02-19 17:12] pixelzoom commented on #338
Assigned to @jessegreenberg for review for 39 months. Raising priority to high. @jessegreenberg when can you get to this?

[2021-02-19 17:13] pixelzoom commented on #193
Assingned to @jonathanolson for review for 27 months. Raising priority to high.

[2021-02-19 17:16] pixelzoom commented on #303
This request to double-check John Travoltage was assigned to @jessegreenberg almost 4 years ago.  I'm guessing that we would have noticed a problem by now, so I'm just going to close.

[2021-02-19 17:16] #303 closed

[2021-02-19 17:20] pixelzoom commented on #610
No expectations.  I was looking for the info that you just provided.  Since it sounds like you don't have any plans to work on this right now, I'll give it "deferred" status.   When you start Greenhouse, you can decide whether to change the priority.

Thanks!

[2021-02-19 17:24] pixelzoom commented on #22
@jessegreenberg can you please evaluate whether this issue is still necessary? It's my understanding that a11y strings have been factored out into files like OhmsLawA11yStrings.js, and are no longer inlined.

[2021-02-19 17:27] pixelzoom commented on #320
Status of this issue: Assigned to @jonathanolson to review since 1/2019.  Raising prioirty of that review to high.

[2021-02-19 18:02] terracoda commented on #610
Thanks :-)

[2021-02-19 19:43] jessegreenberg commented on #671
I am guessing this was opened in scenery-phet because the parent issue #490 is in scenery-phet. AriaHerald used to live in scenery-phet which is why #490 was opened here in 2019. This MR involves code now in utterance-queue, I will move the issue there.

[2021-02-22 17:21] pixelzoom commented on #584
I don't see a reason why NumberPicker wouldn't work just fine here.  But not my call, that's an issue for you to discuss with the designer.

If you do need something that looks like these spinners...  Imo, it's not desirable to have multiple spinner implementations.  It's bad enough that we have NumberPicker and NumberSpinner, we don't need/want more.  And these spinners have been flagged for a lo

[2021-02-22 17:26] samreid commented on #584
I also noticed fractions-common has RoundNumberSpinner.js which looks like this:

![image](https://user-images.githubusercontent.com/679486/108745439-4d265000-74f8-11eb-893d-ea9002563e70.png)

Let's delete/deprecate UpDownSpinner and LeftRightSpinner from scenery-phet and recommend using NumberPicker and/or generalizing RoundNumberSpinner instead.

[2021-02-22 19:12] pixelzoom opened #672 "Triage scenery-phet GitHub issues"
At 2/18/2021, PhET assigned a responsible developer to each common-code repository.  I volunteered for scenery-phet.   My first task (and the subject of this issue) will be to triage all existing GitHub issues.   There are 79 open issues.

[2021-02-22 19:15] pixelzoom commented on #672
My first triage pass was done on 2/19.  I focused on issues that were labeled "ready-for-review".    For those issues that we unassigned, I assigned a developer.   For those issues that were assigned, I raised priority to "high" and requested more info. (There are many issues that have been ready-for-review for years!)

[2021-02-23 00:45] arouinfar commented on #540
@kathy-phet and I reviewed this as a part of https://github.com/phetsims/projectile-motion/issues/244.

We don't think clients need to customize the keypad, and things could get pretty weird if they start removing individual buttons or messing with enabledProperties. The model should be the only thing controlling whether or not the keypad is visible/enabled, so everything should be read only. Simi

[2021-02-23 02:29] zepumph commented on #638
I think it would probably be best to put this in sun/

[2021-02-23 02:48] pixelzoom commented on #668
Here's what PlayPauseButton and PlayStopButton look like in the Buttons screen of scenery-phet demo:

<img width="152" alt="screenshot_877" src="https://user-images.githubusercontent.com/3046552/108796804-d5334680-7546-11eb-9d63-f1829c4fbb91.png">

I tried simply removing playCircle and stopCircle, and the results:

<img width="148" alt="screenshot_876" src="https://user-images.githubusercontent.c

[2021-02-23 02:53] pixelzoom commented on #668
I noticed that this implementation wraps `endPlayingIcon` in `stopCircle`.   I renamed the latter to `endPlayingCircle`.

[2021-02-23 03:04] pixelzoom commented on #668
A couple of problems here...

Circle is the wrong tool for the job. AlignBox and AlignGroup are made for giving things that same effective size. That said, AlignBox will not let you shift the `centerX` of `playPath`.

Who ensures that `endPlayingIcon` fits in the BooleanRoundToggleButton?  It looks to me like the client is responsible for ensuring that `endPlayingIcon` fits inside `options.radius`

[2021-02-23 03:10] pixelzoom commented on #659
Imo, I don't think `moveToFront` (or any layering decision) belongs in a reusable UI component.   That is context-specific behavior, and its certainly not consistent across interactive UI components.   If it were my call, I'd remove the calls to `moveToFront` that occur when dragging starts, and when visiblity changes.  Those should be the responsibility of the client.

[2021-02-23 03:15] pixelzoom commented on #654
I made this change.  Highly unlikely that it broke anything since it's a rename of a local `const`.  But I don't know how to test self-voicing.  So to be safe, labeling this as blocking, and @jessegreenberg please review with high priority.

[2021-02-23 03:19] pixelzoom commented on #599
In https://github.com/phetsims/scenery-phet/issues/584#issuecomment-783537929, @samreid said:

Since these are being deleted, there's no reason to address this issue. Closing.

[2021-02-23 03:19] #599 closed

[2021-02-23 03:25] pixelzoom commented on #570
From https://github.com/phetsims/scenery-phet/issues/570#issuecomment-611681781, the remaining task appears to be "add documentation about this to Rosetta".   Since that was 10 months ago, I'm creating phetsims/rosetta#260 and closing this issue.

[2021-02-23 03:25] #570 closed

[2021-02-23 03:33] pixelzoom commented on #587
In the context of build-a-molecule, I verified that `cursor: 'point'` is necessary for both buttons. Closing.

[2021-02-23 03:33] #587 closed

[2021-02-23 03:36] pixelzoom commented on #563
The most recent decision for this issues is in https://github.com/phetsims/scenery-phet/issues/563#issuecomment-570338488:

sun#515 has been addressed and is closed, so this issue can presumably move forward, and is no long "on hold".

[2021-02-23 03:42] pixelzoom commented on #552
I don't see the need for this.  You can provide a custom value for `options.layoutFunction` that simply ignores its `numberDisplay` argument.

In any case, unless there's an actual request for this feature, I'd like to close this issue.  We can revisit if/when this feature is needed.

@zepumph is this feature currently needed somewhere?

[2021-02-23 03:44] pixelzoom commented on #551
I have folded this issue into https://github.com/phetsims/scenery-phet/issues/552. Closing.

[2021-02-23 03:44] #551 closed

[2021-02-23 03:50] pixelzoom commented on #534
I don't see this in the latested versions of Safari or Chrome on macOS 11.2.   It probably appears on some OS and some browser.  But FaucetNode is built from multiple Nodes, and there's already overlap built into those Nodes.   As @ariel-phet noted about, this is a very low priority issue.  And I seriously doubt that we would do something like reimplement FaucetNode as one Shape simply to get rid

[2021-02-23 03:50] #534 closed

[2021-02-23 03:52] pixelzoom commented on #533
The original idea proved to be both too complicated and unnecessary.  And it's not clear what (if anything) should be done.   So closing this issue.  If a similar feature is needed in the future, we can revisit.

[2021-02-23 03:52] #533 closed

[2021-02-23 03:54] pixelzoom commented on #447
@jessegreenberg @zepumph  No forward progress in 13 months.  How do we wrap this up?

[2021-02-23 03:58] pixelzoom commented on #529
The options in the above comment are not suitable for nested options.  Only 2 of them are relevant to Text (textColor, textMaxWidth), 2 are relevant to a Rectangle (textBackgroundColor, textBackgroundCornerRadius), and 2 are used in a computation to size the Rectange (textBackgroundXMargin, textBackgroundYMargin).

So until more control is needed over some subcomponent of MeasuringTapeNode, I thin

[2021-02-23 03:58] #529 closed

[2021-02-23 04:06] pixelzoom commented on #426
We had an extended discussion in https://github.com/phetsims/sun/issues/641 about the problems with the Property class hierarchy.  DerivedProperty extends Property, bu it's value is not directly settable.  An API may specify `@param {Property}`, but if it expects to be able to set that Property, then it cannot be a DerivedProperty.

We decided to handle this by adding method `isSettable`, and asse

[2021-02-23 04:06] #426 closed

[2021-02-23 04:10] pixelzoom commented on #311
In https://github.com/phetsims/scenery-phet/issues/584#issuecomment-783537929, @samreid said:

So I see no reason to spend time on duplicate code in these classes. Closing.

[2021-02-23 04:10] #311 closed

[2021-02-23 04:11] pixelzoom commented on #251
There has been no work on this (and apparently no need) for 3.5 years, so closing this issue.

[2021-02-23 04:11] #251 closed

[2021-02-23 15:04] jessegreenberg commented on #666
OK thanks! https://github.com/phetsims/scenery-phet/issues/666#issuecomment-780291309 looks good, closing.

[2021-02-23 15:04] #666 closed

[2021-02-23 15:48] jessegreenberg commented on #654
Thanks, the rename looks good.

[2021-02-23 15:48] #654 closed

[2021-02-23 15:54] jessegreenberg commented on #631
Thanks, these changes look good. I also reviewed the keyboard help dialogs in a number of sims and they all look correct.

[2021-02-23 15:54] #631 closed

[2021-02-23 16:14] jessegreenberg commented on #562
I just reviewed https://github.com/phetsims/scenery-phet/issues/562#issuecomment-657966100 - If I understand the example in https://github.com/phetsims/scenery-phet/issues/562#issuecomment-657966100 I think it is behaving correctly. Is that last line supposed to be `b.isPlayingProperty.value = true;`? The option (renamed to `scaleFactorWhenNotPlaying`) is the scale factor relative to the "playing"

[2021-02-23 16:16] jessegreenberg commented on #546
The three commits above look good.

[2021-02-23 16:16] #546 closed

[2021-02-23 16:20] jessegreenberg commented on #559
Thanks @zepumph, this looks good.  The last checkbox

Has since been done.

Closing.

[2021-02-23 16:20] #559 closed

[2021-02-23 16:25] zepumph commented on #552
Not that I know of, but because of phet io, if it comes up, I likely won't be enough to just not show it, because it will still be instrumented. I'm good to close until we need it though.

[2021-02-23 16:26] #552 closed

[2021-02-23 16:27] jessegreenberg commented on #528
This looks great. I had forgotten that we used to actually click the tweaker buttons to accomplish this, this change is much better.

[2021-02-23 16:27] #528 closed

[2021-02-23 16:42] pixelzoom commented on #218
The "remaining TODO" no longer exists.  Closing.

[2021-02-23 16:42] #218 closed

[2021-02-23 16:56] pixelzoom commented on #518
@arouinfar For example... Below is the current instrumentation of BicyclePumpNode shown for the Ideal screen in Gas Properties.   Are there any other parts of BicyclePumpNode that needs to be instrumented?

<img width="288" alt="screenshot_878" src="https://user-images.githubusercontent.com/3046552/108877417-74deec00-75bc-11eb-9d5e-cce29b51b346.png">

Here are the other parts of BicyclePumpNode th

[2021-02-23 17:13] pixelzoom commented on #659
Here's an example of why I don't believe this functionality belongs in StopwatchNode.  The _Lab_ screen in Pendulum Lab has 3 draggable tools - Ruler, Stopwatch, Period Timer - shown in the screenshot below.

<img width="1122" alt="screenshot_880" src="https://user-images.githubusercontent.com/3046552/108880468-8e356780-75bf-11eb-8198-0f49bed7e42e.png">

Only one of these tools, the Stopwatch, doe

[2021-02-23 18:03] pixelzoom commented on #299
This is an example of code making assumptions that are not verified (or documented).  So instead of the assumption being verified (via an assertion) there's a downstream failure, and we need to work backwards to determine what the assumption is, and where it's violated.   This is a problem with a lot of PhET code, and this specific case doesn't seem any more important than other such oversights, s

[2021-02-23 18:03] #299 closed

[2021-02-23 18:07] pixelzoom commented on #306
The remaining TODO was vestigial, addressed as described by @jonathanolson in https://github.com/phetsims/scenery-phet/issues/306#issuecomment-302763200.  I've removed the TODO. Closing.

[2021-02-23 18:07] #306 closed

[2021-02-23 18:14] pixelzoom commented on #541
I don't see any opportunities for using nested options in NumberAccumulator.

@zepumph Do you mean that KeyPad should use nested options for its NumberAccumulator subcomponent?

[2021-02-23 18:16] pixelzoom commented on #541
I'm going to work on this issue, self assigning.

[2021-02-23 18:17] pixelzoom commented on #541
There are 13 occurrences of `import Keypad` to be inspected for use of NumberAccumulator options.

[2021-02-23 18:47] pixelzoom commented on #541
Options `accumulatorOptions` was added to Keypad in the above commit, and adjustments were made to sims. area-model-common required no adjustments because it provides `options.accumulator` to Keypad, therefore making `options.accumulatorOptions` irrelevant.

In additon to testing all sims that use Keypad, I inspected the Studio tree in projectile-motion (screenshot below) and it looks correct.

@z

[2021-02-23 18:52] pixelzoom commented on #462
There's a lot of work that's been done here, but looks like it stalled out close to finish line -- no progress in 20 months.  Raising priority to high, labeling as blocking.

[2021-02-23 18:59] pixelzoom commented on #380
When we last left this issue (May 2018!) @zepumph asked @jessegreenberg if this issue was worth pursuing.  @jessegreenberg is this worth pursing, or can we close this issue?

[2021-02-23 19:30] pixelzoom commented on #181
Things appear to have evolved/diverged since this issue was created.

The 2 implementations in questions are:

* pendulum-lab.PendulumLabProtractorNode - scenery based, used in pendulum-lab
* scenery-phet.ProtractorNode - image based, moved from bending-light to scenery-phet on 6/17/20 for https://github.com/phetsims/scenery-phet/issues/609, used in bending-light and xray-diffration

Questions:

*

[2021-02-23 21:31] pixelzoom commented on #341
There has been significant work done here, but no closure, and no progress for 31 months.  So raising priority to high.

Status of this issue:

@zepumph had a question for @jessegreenberg in https://github.com/phetsims/scenery-phet/issues/341#issuecomment-370903305.

@mbarlow12 identified a potential related bug manifesting in plinko-probability in phetsims/plinko-probability#104, and asked @jesse

[2021-02-23 21:36] terracoda commented on #341
We have an accessible number control in Gravity Force Lab regular and accessible number spinners in Gravity Force Lab: Basics. I don't think the design patterns have been documented in "Binder", but the PhET objects are accessible with all inputs.

[2021-02-23 21:41] terracoda commented on #341
@pixelzoom, I think this issue stale and https://github.com/phetsims/plinko-probability/issues/104 is also likely stale since we didn't move forward with publishing that sim with Alternative Input.

[2021-02-23 21:46] pixelzoom commented on #341
Thanks @terracoda - you're probably correct, it looks stale to me too.  The subjects of @zepumph's question in https://github.com/phetsims/scenery-phet/issues/341#issuecomment-370903305 (`increasedEmitter` and `increasedFromA11yEmitter`) don't even appear to exist anymore.   But since I'm not familiar with the work that was being done here, I'd prefer to have @jessegreenberg to wrap this up.

[2021-02-24 00:10] zepumph commented on #380
I do not think this is the direction we should or are going. In general my type-a personality still believes that features should have an off switch so that pieces of description don't leak into a sim without it fully outfitted. But in general that is not the philosophy that PhET, or the web-accessibility community at large, as adhered to. We will instead devote resources to outfitting the feature

[2021-02-24 16:56] samreid commented on #562
I tried to create a breaking case, experimenting with scale changes like so:

[code]

But was unable to create the incorrect behavior.  My main concern was that roundoff error from ( * scale * 1/scale) repeatedly would accumulate, but that would be out in 10^-8 or lower.  I think this issue can be closed, thanks @jessegreenberg

[2021-02-24 16:56] #562 closed

[2021-02-24 22:33] jessegreenberg commented on #462
I reviewed comments and commits, nothing else to do here and review was complete. Closing.

[2021-02-24 22:33] #462 closed

[2021-02-24 22:45] jessegreenberg commented on #341
This is stale and can now be closed. The emitters referenced in https://github.com/phetsims/scenery-phet/issues/341#issuecomment-370903305 do not exist anymore, and the initial a11y code discussed in this issue has been removed or factored out in https://github.com/phetsims/scenery-phet/issues/452.

[2021-02-24 22:45] #341 closed

[2021-02-24 23:10] jessegreenberg commented on #338
Nothing else for this issue. The result of this issue was FocusHighlightPath.getDilationCoefficient which has been working well since 2017.  It looks like comments from https://github.com/phetsims/scenery-phet/issues/338#issuecomment-341850781 were discussed in a meeting on Nov 9 2017.  I reviewed the above commits again and code in FocusHighlightPath, things look good. Closing.

[2021-02-24 23:10] #338 closed

[2021-02-25 19:15] jessegreenberg commented on #367
Thanks @zepumph, this has been working well and the changes look good. This doesn't need to block publication anymore. But I agree with your concerns around a setter for the Property, I think that one should be removed. Also I don't think the callbacks for `start` `end` and `drag` need to be mutable, and I think it would be better if there weren't getters for them. Looking throughout the project I

[2021-02-25 19:29] jessegreenberg commented on #367
Removed in the above commit. I don't see problems fuzzing interactive-description sims.

There was also a question about the binding to `step`, but that listener no longer exists in KeyboardDragListener.

@zepumph back to you to verify you agree with https://github.com/phetsims/scenery/commit/5e9a5e65b991295fffc3c23fffff6d7fff0d5d1e and if there is anything else for this issue.

[2021-02-25 20:16] pixelzoom commented on #652
2/25/21 dev meeting:

@zepumph would take on projectile-motion because he's in there for PhET-iO.

@pixelzoom will create sim-specific issues, to be addressed when working on these sims.

[2021-02-25 21:05] pixelzoom commented on #652
Sim-specific issues now exist for all of the sims identified in https://github.com/phetsims/scenery-phet/issues/652#issue-769400005. They will be addressed when work is done on those sims.

Closing.

[2021-02-25 21:09] #652 closed

[2021-02-26 03:51] zepumph commented on #541
Looks really nice. Thanks

[2021-02-26 03:51] #541 closed

[2021-02-26 21:28] jonathanolson commented on #320
These changes look good, and works well for the simulations that use it!

@jbphet and @jessegreenberg, thoughts on whether we should have a shared trash can image for FAMB/balancing-act (that those sims effectively share, but potentially at different sizes)?

[2021-02-26 22:36] jonathanolson commented on #569
I'd propose the above commit (hard to describe in words). Tested it with different scales on both of the nodes it applies to in Gas Properties.

Because you're handling translations, you need to compare the "parent origin" (the local-bounds origin of the targetNode, but in its parent coordinate space) also with the borders of its bounds. This is basically the only way to know what the bounds "woul

[2021-02-26 23:18] jonathanolson commented on #193
@zepumph, the commit https://github.com/phetsims/phet-io-wrappers/commit/90d9f607abb5b67438a73fb1dec452c860d638b1 looks buggy (the array of parameters should have been removed into a parameter list). I can't find this code in master, does it still exist?

[2021-02-26 23:19] jonathanolson commented on #193
The others look good!

[2021-03-01 17:47] zepumph commented on #193
Agreed. It isn't there anymore. Closing

[2021-03-01 17:47] #193 closed

[2021-03-01 17:57] jbphet commented on #320
My thought would be that it would probably be better to have a shared image if we can come up with a scale that works for both sims.  If not, it doesn't seem like a big deal.  This would be worth maybe 1/2 hr of work.

[2021-03-01 22:14] samreid commented on #569
That sounds excellent, thanks!  I removed a remaining TODO since there is already documentation about the coordinate frames.  I tested in Gas Properties and Bending Light and it seemed reasonable.  Closing.

[2021-03-01 22:14] #569 closed

[2021-03-03 04:07] samreid commented on #584
I added deprecation warnings for now.  I don't think I can dedicate more time to this until we move Fraction Comparisons forward, or have another reason to generalize RoundNumberSpinner.

[2021-03-04 01:44] zepumph commented on #447
We haven't run into trouble with transforming the cue Node thus far (with 4 production usages). Perhaps we can work on it if we every run into trouble. Presumably it would be very obvious when the matrix is off (I'm sorta shrugging over here).

[2021-03-04 22:46] #367 closed

[2021-03-06 16:39] pixelzoom commented on #584
Self assigning. We've established that these classes should be deleted, and fractions-comparison should use something use. And I'd like to close this issue and get rid of this code, rather than having it hang around until work on fractions-comparison resumes.  So I'm going to make fractions-comparison use NumberSpinner for now, and create a fractions-comparison issue that essentially says "figure

[2021-03-06 16:41] pixelzoom commented on #584
Self assigning.

We've established that fractions-comparison is the sole client, fractions-comparison should use something else, and these classes should be deleted.  I'd like to close this issue and get rid of this code, rather than having it hang around until work on fractions-comparison resumes.

Proposal: I will change fractions-comparison to use NumberSpinner for now, and create a fractions-c

[2021-03-06 16:43] pixelzoom commented on #435
This issue stalled out 2+ years ago. Self-assigning to figure our where this is at, and propose a path forward.

[2021-03-06 16:45] pixelzoom commented on #396
TWIXT/MoveTo was replaced by TWIXT/Animation and deleted years ago. The remaining work here was to review Drawer.js.   It has been working fine for years, so I don't feel that's necessary. Closing.

[2021-03-06 16:45] #396 closed

[2021-03-06 17:22] pixelzoom commented on #584
A better idea that will take me less time...   Since  fractions-comparison is the sole client of these classes, I'm going to move UpDownSpinner.js and LeftRightSpinner.js to fractions-comparison. Then I'll transfer this issue from scenery-phet to fractions-comparison, and add a comment summarizing "next steps".   This will also allow whoever addresses this to borrow from UpDownSpinner.js and LeftR

[2021-03-08 19:08] pixelzoom commented on #435
Here's what remains to be done:

- [ ] Specify `DEFAULT_BASE_COLOR` in one place, use in the other 2 places. HeaterCoolerNode wold be the logical place for this, but that would create a circular dependency.  So HeaterCoolerFront is probably the next-best.
- [ ] Refer to "stove" consistently, instead of "stove" in HeaterCoolerFront and "burner" in HeaterCoolerBack.

I'll take care of this.

[2021-03-08 19:17] pixelzoom commented on #435
Each of the 3 remaining items is covered by one of the 3 commits above.   Tested in a scenery-phet demo, and a number of sims that use these classes (EFAC, Gas Properties, ...).  Since this issue had stalled out, I'm not going to risk that again by requesting a review.  I'll mention these changes in Slack dev-public channel.

Closing.

[2021-03-08 19:17] #435 closed

[2021-03-08 19:35] pixelzoom commented on #170
Discussion for this issue stalled almost 5 years ago, and it's assigned to @jessegreenberg.

I read through the comments, and I'm still confused about what work remains to be done. But I will note that the situation has been made worse by work in CCK that has apparently ignored this issue.  The most recent comment on this issue was 4/11/2016, where @arouinfar said:

But looking at CCK:AC, I see th

[2021-03-08 20:13] pixelzoom commented on #82
6+ years and this has not been addressed (or really necessary).  So I'm going to close this issue as "won't fix".

[2021-03-08 20:13] #82 closed

[2021-03-08 20:16] pixelzoom commented on #672
Number of issues has been reduced from 79 to 37, and I feel like I have a good handle on the status of the remaining issues.  So triage is done, and this issue can be closed.

[2021-03-08 20:16] #672 closed

[2021-03-09 17:58] pixelzoom opened #673 "EyeDropperNode: rename boolean Property options"
Noted while working on https://github.com/phetsims/beers-law-lab/issues/262.

EyeDropperNode has these options:

[code]

They should be renamed to `isDispensingProperty` and `isEmptyProperty`.

[2021-03-09 18:02] pixelzoom commented on #673
While I'm at it, I should probably address:

- [  ] `options.buttonEnabledProperty` and `options.touchAreaDilation` should be moved into nested `options.buttonOptions`.  This will also make it possible to delete the `buttonEnabledProperty` listener, and remove the code that's handling `touchArea`, since these are handled by RoundMomentaryButton.

[2021-03-09 18:19] pixelzoom commented on #673
Verified in BLL and pH Scale.  Since those are the only clients of EyeDropperNode, and I'm the developer of both sims and EyeDropperNode, I'm not going to request a review.  Closing.

[2021-03-10 14:37] samreid commented on #659
That sounds like a reasonable proposal.  I implemented it and tested in Wave Interference for the stopwatch:

<details>

[code]

</details>

Notes:
* I had to put `attach: false` in the StopwatchNode listeners.
* I had to specify the `targetNode` since `event.trail.lastNode` is a child, not the thing we typically want to move to the front.  Is there a way to automatically find the node a listener

[2021-03-11 18:18] pixelzoom commented on #659
Yes, your patch is exactly what I had in mind.

The sims that `import StopwatchNode` are:

- [ ] CL:B
- [ ] CCK-common
- [ ] collision-lab
- [ ] energy-skate-park
- [ ] gas-properties
- [ ] gravity-and-orbits
- [ ] masses-and-springs
- [ ] pendulum-lab
- [ ] wave-interference
- [ ] wave-on-a-string

If we add a chip-away issue, I think it will be a long time before this gets done.  How about if we

[2021-03-11 19:08] mattpen commented on #659
Dev Meeting 3/11: @pixelzoom announced this as a PSA and will continue with applying the patch.

[2021-03-12 16:40] chrisklus commented on #659
Oops, I misunderstood and thought this was a chip-away. Unassigning.

[2021-03-14 00:38] pixelzoom commented on #659
Oh boy, this went sideways quickly. Luckily I tried this in GasProperties first, and hit the problem immediately.

Here's the DragListener in CollisionCounterNode:

[code]

Note the comment that says "This needs to be a DragListener so that touchSnag works."

So `MoveToFrontListener extends PressListener` is not going to do it.  When the user drags a Node using touchSnag, the Node will not move to

[2021-03-15 22:15] pixelzoom commented on #659
I'm liking this option the best:

@jonathanolson @samreid thoughts?

[2021-03-16 01:14] jonathanolson commented on #659
I want to see if I'm understanding the desired behavior correctly:

- The StopwatchNode has two buttons with listeners
- The client usually adds a listener (usually a DragListener) on the `dragTarget` of the StopwatchNode
- We want to add a listener that activates moveToFront() when ANY of the above listeners enter their press state, but not otherwise

How do we want to handle when the listener on

[2021-03-16 01:17] jonathanolson commented on #659
That seems like it doesn't solve the above problems. The up-front cost to move touchSnag to PressListener isn't too much, but it feels weird. touchSnag would be an option on FireListener then? I'm not necessarily against it, but I still see problems with using that approach.

[2021-03-16 01:21] jonathanolson commented on #659
The general idea of MoveToFrontListener sounds really tricky. It sounds like we're trying to duplicate the conditions that would activate other listeners. I generally don't like the idea of trying to coordinate multiple listeners so they both "press" and "release" at the same time.

What about when one is disabled? What if the user adds specific conditions to one for it to be able to start a press

[2021-03-16 18:07] pixelzoom commented on #659
I think we need a subgroup meeting for this: me, @samreid, and @jonathanolson.

Summary:  `moveToFront` and DragListener is currently baked into StopwatchNode  I'm recommending that `moveToFront` and DragListeners don't belong in common-code components like RulerNode, StopwatchNode, etc.   But we have a need for common behavior related to `moveToFront` and DragListeners (particularly for "tools")

[2021-03-16 18:18] pixelzoom commented on #659
Here's a list (possibly incomplete) of scenery-phet "tools"  that might be draggable, but are not necessarily draggable.

* ConductivityTesterNode
* EyeDropperNode
* GaugeNode (and ValueGaugeNode)
* MagnifyingGlassNode
* MeasuringTapeNode
* ProbeNode
* ProtractorNode
* RulerNode
* StopwatchNode
* ThermometerNode

[2021-03-16 18:41] samreid opened #674 "Some sims fail to start in the Android app"
From https://github.com/phetsims/gravity-and-orbits/issues/382.  We determined that specifying font `'"Trebuchet MS", "Lucida Grande", monospace'` crashes Gravity and Orbits on startup (in the Android app on @KatieWoe test device, but still runs fine in Android Chrome and in the app on @mattpen test device), but `'monospace'` runs fine in both.  Also a note that

@jonathanolson can you help us inv

[2021-03-16 20:57] samreid commented on #659
After discussion today (@pixelzoom @jonathanolson @samreid):

* Add the 2nd DragListener from CollisionCounterNode to StopwatchNode, so it will move to front on picking (even when picking a disabled button).  @pixelzoom volunteered to take a look at this.
* We discussed factoring out https://github.com/phetsims/gas-properties/blob/5616f3b052f6592ce0575a7aefe42954b16f529b/js/common/view/CollisionCo

[2021-03-16 21:05] pixelzoom commented on #659
More notes from today's discussion....

StopwatchNode options `visibleBoundsProperty` should be renamed.  It probably started off as `visibleBoundsProperty` from Sim (the visible bounds of the browser window),  but it can really be any drag bounds.

The 2nd DragListener in CollisionCounterNode, which I'll add to StopwatchNode, is:

[code]

We discussed other ways of doing this (Emitter, ...) and d

[2021-03-16 21:12] samreid commented on #674
In discussion with @jonathanolson, he said it could be a number of things.  One potential problem is faulty metrics.  We could probably see the more precise problem if we could see a debugger.

Alternatively, we could set up a test harness that uses little or no phet-specific code to try to track this down.  I volunteered to take a look, but would probably need to coordinate with @KatieWoe .

[2021-03-17 15:05] samreid commented on #674
In https://github.com/phetsims/gravity-and-orbits/issues/382#issuecomment-800714007, @mattpen said:

Having a debugger set up seems like the most efficient way to diagnose and address this font problem.

[2021-03-17 17:44] KatieWoe commented on #674
Got the debugger to work and got this error with rc.2:
<img width="629" alt="consoleerror" src="https://user-images.githubusercontent.com/41024075/111513156-1e298580-8716-11eb-8f2c-b606cd9615e5.png">

[2021-03-17 17:57] pixelzoom commented on #659
Other cleanup to address:

- [ ] This field is unnecessary, not used outside of the constructor or by clients. Code would be clearer if `this.dragTarget` were replaced with `backgroundNode`.

[code]

[2021-03-17 18:33] pixelzoom commented on #659
Having 2 DragListeners was resulting in undesirable behavior with touchSnag, see https://github.com/phetsims/scenery/issues/1177#issuecomment-801301269. So after discussion with @jonathanolson, we revised the approach used for the 2nd input listener in the 2 commits directly above.

[2021-03-17 18:47] samreid commented on #674
That looks like the same problem as phetsims/phet-android-app#155, I should investigate and make sure the RC has the patch.

@jessegreenberg can you please assist?  Does gravity-and-orbits 1.4 have the SHAs to correct phetsims/phet-android-app#155 ?

[2021-03-17 18:57] pixelzoom commented on #659
Having 2 DragListeners was resulting in undesirable behavior with touchSnag, see https://github.com/phetsims/scenery/issues/1177#issuecomment-801301269. So after discussion with @jonathanolson, we revised the approach used for the 2nd input listener in f1e6c0c.  Here's the most important bit:

[code]

Note that this change also means that the 2nd listener is not instrumented, and this will break P

[2021-03-17 19:01] jessegreenberg commented on #674
The URL in https://github.com/phetsims/scenery-phet/issues/674#issuecomment-801281800 actually points to GAO 1.4 rc.1, and I would still expect to still see the issue there. I verified that gravity-and-orbits 1.4 was included by the automated MR process with https://github.com/phetsims/gravity-and-orbits/commit/3c59924a33933ea7af0d0b50533cdb9ffc66372c and I see scenery branch https://github.com/ph

[2021-03-17 19:07] pixelzoom commented on #659
Work is done, @samreid please review.     Also note the question about PhET-iO API breakage in https://github.com/phetsims/scenery-phet/issues/659#issuecomment-801332224.

[2021-03-17 20:33] jonathanolson commented on #659
Is that a convention that we're going to use `backgroundNode` for all of these cases (components with undraggable sections)? Many times it doesn't seem like it would be a background, so the name was explicitly chosen so that its purpose was clear.

[2021-03-17 21:27] pixelzoom commented on #659
I don't care what's it's called.  What I was objecting to was creating a public field that is currently unnecessary and unused (and therefore untested).  But I'll restore it.

[2021-03-17 21:34] pixelzoom commented on #659
`this.dragTarget` restored in the above commit.  I'll also point out that input listener APIs (including DragListener) use `targetNode`.  So `dragTarget` is inconsistent.  But I feel like I'm touching things that I shouldn't be, and will leave these rough edges to be polished by the authors.

[2021-03-17 21:58] KatieWoe commented on #674
Sorry, mistyped

[2021-03-19 15:50] kathy-phet commented on #674
@KatieWoe - I cannot tell if this is really still an issue. Are there other sims that fail in the Android app right now?

[2021-03-19 16:16] KatieWoe commented on #674
There weren't in published when I was testing the app for https://github.com/phetsims/QA/issues/612. This came about from testing a few rcs before they went out and seeing the issue. I don't know of any published that have the issue, but I can, of course, check again to make sure.

[2021-03-19 16:17] KatieWoe commented on #674
@samreid let me know if you want me to do a quick search through published sims to see if this issue comes up elsewhere.

[2021-03-19 16:23] samreid commented on #674
@KatieWoe did you mention another RC that failed to load in the app--maybe Waves Intro?

[2021-03-19 16:26] KatieWoe commented on #674
Yes. This was noted in https://github.com/phetsims/gravity-and-orbits/issues/382#issuecomment-800402302

[2021-03-19 17:23] samreid commented on #674
In https://github.com/phetsims/gravity-and-orbits/issues/382#issuecomment-800402302 we said:

  | 1.2.0-dev.17/ | 2020-10-30 11:47 | - |
  | 1.2.0-dev.16/ | 2020-09-15 10:34 | - |

This is the same time frame that `webSpeaker` was being developed.  To identify if fonts are related to the problem, I'd like to publish 2 dev versions from master, one that uses the suspicious font and one that does no

[2021-03-19 17:27] samreid commented on #674
This version uses the suspicious fonts on Android:
Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.5.0-dev.3/phet/gravity-and-orbits_en_phet.html

[2021-03-19 17:33] samreid commented on #674
This version uses 'monospace' on Android, which should be very safe:
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.5.0-dev.4/phet/gravity-and-orbits_en_phet.html

@KatieWoe can you please test 1.5.0-dev.3 and dev.4 in the app? This will help us determine if the font was a red herring.  If dev.3 crashes but dev.4 is OK, can you please test in the app with the debugger to see if there is a

[2021-03-19 17:44] jessegreenberg commented on #674
Waves Intro 1.1 rc.4 will also fail to load because of the `onvoiceschanged` error. It's SHAs were updated and that should be fixed in rc.5, see https://github.com/phetsims/QA/issues/603#issuecomment-777985685

[2021-03-19 18:07] KatieWoe commented on #674
Both dev.3 and dve.4 seem to work on the device. Not sure why.

[2021-03-19 18:09] samreid commented on #674
OK I think the font was a red herring, my mistake!  I think https://github.com/phetsims/phet-android-app/issues/155 was the root cause all along.  I recommend closing this issue, and in https://github.com/phetsims/gravity-and-orbits/issues/382#issuecomment-800402302 I'll revert the font change for Android.

[2021-03-19 18:09] #674 closed

[2021-03-23 03:30] samreid commented on #659
I discussed `this.dragTarget` with @jonathanolson and we agreed that `dragTarget` will be a nice name if we ever need a public API for it, but at the moment there is no need for it.  I'll cherry pick: 40b6e47328fcad90583c96e70c1e0b09818ca4ba

[2021-03-23 03:37] samreid commented on #659
I don't think we need to instrument the move to front listener, nor do we need to maintain backward compatibility with sims that exposed that in a prior version.

I tested the changes in Waves Intro with mouse and touch, over normal and disabled components and the behavior seemed reasonable.  I reviewed the code changes in StopwatchNode and skimmed the usage sites and did not have any recommendati

[2021-03-23 03:37] #659 closed

[2021-04-08 16:57] jbphet commented on #333
The issue of decimal point localization was discussed during the 4/8/2021 Q2 planning meeting, see notes in https://github.com/phetsims/rosetta/issues/263#issuecomment-815984007.  Based on this, I'm marking this issue as deferred for now and will un-defer once we can get to work on it.

[2021-04-08 17:00] zepumph commented on #170
A quarterly goal will include progressing this as it makes sense with @samreid's CCK work.

[2021-04-20 18:24] pixelzoom commented on #669
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:24] pixelzoom commented on #582
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:25] pixelzoom commented on #524
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:26] pixelzoom commented on #350
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:34] pixelzoom opened #675 "branch: tandem"
https://github.com/phetsims/special-ops/issues/196 restored some branches that had previously been deleted, and will need to be deleted again.  While inspecting branches for this repo, I discovered the "tandem" branch.  I have no idea what the purpose of this branch might have been, other than perhaps "something related to tandems".  The branch name is not particularly descriptive, and an issue wa

[2021-04-20 19:46] samreid commented on #675
This branch is 2482 commits behind master, and is no longer needed.  I think it should be deleted.  I almost clicked the "delete" button in https://github.com/phetsims/scenery-phet/branches but wondered if we need to coordinate efforts in https://github.com/phetsims/special-ops/issues/196

[2021-04-20 22:09] pixelzoom commented on #675
I'll handle deleting it when I get the "all clear" for phetsims/special-ops#198.

[2021-04-22 21:18] pixelzoom commented on #675
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:18] #675 closed

[2021-04-22 21:19] pixelzoom commented on #669
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:19] #669 closed

[2021-04-22 21:19] pixelzoom commented on #582
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:19] #582 closed

[2021-04-22 21:20] pixelzoom commented on #524
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:20] #524 closed

[2021-04-22 21:25] pixelzoom commented on #350
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:25] #350 closed

[2021-04-29 22:25] arouinfar opened #676 "StopwatchNode elapsed time not saved when previewing sim in Studio"
Noticed in https://github.com/phetsims/capacitor-lab-basics/issues/249, but appears to be a general problem with StopwatchNode.

Steps to reproduce:
1. Open a sim containing a StopwatchNode in Studio (such as capacitor-lab-basics, gas-properties, wave-on-a-string)
2. Start the stopwatch
   <img width="500" alt="Screen Shot 2021-04-29 at 4 20 22 PM" src="https://user-images.githubusercontent.com/84

[2021-04-30 19:02] zepumph commented on #676
You can reproduce this easily in the state wrapper.

1. State wrapper
2. "Set State Rate" to 0 so it doesn't automatically set
3. in upstream, open stopwatch and start it
4. press "Set State Now" and notice that the stopwatch is blank
5. Now that the stopwatch is showing, you can press the "Set StateNow" button and the timeProperty does update in the downstream sim.

I don't have any solutions for

[2021-04-30 19:14] samreid commented on #676
I pushed a proposed fix and it appears to be working correctly in CLB studio.  @zepumph can you please review?

[2021-04-30 20:16] zepumph commented on #676
Nice! Thanks for taking a look.

[2021-05-03 18:26] samreid commented on #676
Self-assigning to double check in this sim and another context.  If it checks out, we can run it past @arouinfar.

[2021-05-11 22:42] samreid commented on #676
It seems fine in Wave on a String.  @arouinfar can you please review?  Close if all is well.

[2021-05-17 04:13] arouinfar commented on #676
Looks good in wave-on-a-string and capacitor-lab-basics, thanks!

[2021-05-17 04:13] #676 closed

[2021-06-01 00:59] Ashton-Morris opened #677 "Create sound for the back button"
It was brought to my attention that we do not have a sound for the back button (ex. In Fourier). [Here are a few for us to try out.](https://drive.google.com/drive/folders/1AMcw551h-SWgyf_h-clYD_-5i0Jvehjv?usp=sharing)

- back-button-003.mp3
- back-button-002.mp3
- back-button-001.mp3

[2021-06-01 20:49] jbphet commented on #677
I'm transferring this issue from the vegas repo to scenery-phet, since that's where the back button lives nowadays.

[2021-06-01 23:29] jbphet commented on #677
We reviewed these three sounds in the vegas demo and in fourier-making-waves in today's sound design meeting and decided that we'll wait until the button selection sounds are in place before making any decisions.

[2021-06-02 22:04] jbphet commented on #677
I've marked this as blocking publication.  This only applies to sims that use this button, or that use other components that use this button.  This is because there will be untested code in the back button for a while as we work to determine what sound to use for it.

[2021-06-02 23:25] jbphet commented on #677
@Ashton-Morris, @emily-phet, and @arouinfar - I've published a dev version of the vegas demo that includes an "Options" dialog that allows us to choose between different sounds for the back button, and I've integrated the trhee initial candidate sounds that @Ashton-Morris provided (see above). Please give it a try and log your feedback in this ticket. The dev version can be found at https://phet-d

[2021-06-07 16:02] KatieWoe commented on #677
CT error seems to be showing up related to this:
[code]

[2021-06-10 17:47] samreid commented on #677
This one seems related to https://github.com/phetsims/vegas/issues/89.  At today's phet-io meeting, we were wondering what additional steps need to be done to unblock publication.  @jbphet can you please take a look?

[2021-06-10 17:48] samreid commented on #677
@pixelzoom suggested that since Gravity and Orbits doesn't have a back button or game, it may not be blocked by this issue.

[2021-06-10 17:49] samreid commented on #677
@pixelzoom also said Natural Selection is also not impacted by this.

[2021-06-10 17:51] pixelzoom commented on #677
I was not aware of this issue, and did not move any of this work to the vegas "sound-design" work as part of phetsims/vegas#89.

[2021-06-11 20:53] jbphet commented on #677
I fixed the issue that was causing CT failures.  I had neglected to handle the case where the global variable that is supposed to be set by an options dialog is not defined because the options dialog was not present.  My bad.

I'm going to mark this as blocking publication again, but _this only applies to sims that have sound enabled and use the back button!_  All other sims should be unaffected.

[2021-06-14 17:30] pixelzoom commented on #677
FYI, Fourier "feature complete" milestone has been moved to 8/24/21.

[2021-06-14 23:27] pixelzoom opened #678 "Optional input handling for NumberDisplay"
In https://github.com/phetsims/fourier-making-waves/issues/53, we decided not to support Alternative Input for the NumberDisplays and associated Keypad in Fourier.    This resulted in a general discussion about alt input support for NumberDisplay.  It sounds like having a optional input (with Keypad?) for NumberDisplay could be generally useful.

Here are the relevant comments from https://github.

[2021-06-15 21:30] jbphet commented on #677
@Ashton-Morris is going to supply one or two alternatives based on the discussion that he and @emily-phet had on this last week.

[2021-06-18 16:38] jessegreenberg opened #679 "Component icons should generally be hidden in the PDOM"
From phetsims/fourier-making-waves#73.

Component icons should generally be hidden in the PDOM. Sometimes icons are created programmatically and may have interactive content. The scenery-phet component generally makes the icon `pickable: false`, and it should similarly be removed from the PDOM so it is not focusable or discoverable with a screen reader. Accessibility for the component almost alway

[2021-06-18 17:37] Ashton-Morris commented on #677
I have a few alternatives for us to listen to at our n[ext meeting.](https://drive.google.com/drive/folders/1AMcw551h-SWgyf_h-clYD_-5i0Jvehjv?usp=sharing)

- back-button-006.mp3
- back-button-005.mp3
- back-button-004.mp3
- back-button-007.mp3

[2021-06-22 21:01] jessegreenberg opened #680 "Keys for the global keyboard listener of PlayControlNode should be customizable"
Currently, the only way to change the global hotkey listener added to the PlayControlNode is to remove it entirely with `includeGlobalHotKey`, a boolean option that prevents the listener from being added.

It would be much better if we could customize the hotkeys that fire the global key listener. This should be a general design pattern for hot keys in common code. It is OK for there to be a defau

[2021-06-22 21:29] jessegreenberg opened #681 "Global hotkey for the StepForwardButton should be moved to common code"
There is currently a hotkey added in molecules-and-light that steps forward the simulation when pressing alt + "l". This should be moved to common code. Most likely to StepForwardButton.

[2021-06-22 21:56] pixelzoom opened #682 "Hot-key support for TimeControlNode"
TimeControlNode needs a comprehensive hot-key design.  It has some partical support, but there has been no holistic design.

One of its subcomponent (PlayPauseButton) supports a hot key by default, while the other subcomponents (StepForwardButton, StepBackwardButton) do not support hot keys.  PlayPauseButton hot key is enabled by default, which feels odd.  And MAL added its own StepForwardButton s

[2021-06-22 21:58] pixelzoom commented on #681
Related to https://github.com/phetsims/scenery-phet/issues/682.

[2021-06-22 22:55] pixelzoom commented on #681
If move to StepForwardButton, it should be the default hotkey, not the only hotkey.

[2021-06-22 23:30] pixelzoom commented on #682
Also consider adding common-code support for TimeControlNode keyboard help content.  See https://github.com/phetsims/fourier-making-waves/issues/93.

[2021-06-23 15:10] jonathanolson commented on #515
I won't be able to serialize Density/Buoyancy without ReferenceIO-style references to ColorProfile Properties. Each Material can take a general `Property.<Color>` for its solid or liquid appearance, and many times these are ColorProfile Property references. Elevating priority.

[2021-06-23 23:06] jbphet commented on #677
We reviewed this in today's sound design meeting and decided upon back-button-006.  The next steps are to remove all unused sounds and finalize the sound files.

[2021-06-24 20:50] jbphet commented on #677
@Ashton-Morris - I need three things from you to help finish this off:

- [ ] I'll need a .wav version of the back-button-006 sound for the assets folder
- [ ] Please review the current volume level for this button in the vegas demo on master and let me know if you approve.  I ended up at a lower output level for this one versus, say, the reset-all sound.  I'm not entirely sure why, but this it wh

[2021-06-24 21:12] sarchang opened #683 "Invisible major tick mark label at end of RulerNode affects size of units label"
When insetsWidth is set to 0, the last major tick mark label does not appear:
![image](https://user-images.githubusercontent.com/29347882/123332645-01af9d00-d4fe-11eb-8429-9ce4998161f4.png)

However, it still affects the size of the units label: compare the size of "cm" above to the ruler below
![image](https://user-images.githubusercontent.com/29347882/123332762-2d328780-d4fe-11eb-937e-6f0da3a34d

[2021-06-29 13:26] samreid commented on #515
ColorProfile suffers from the same problems that PropertySet did, and we should eliminate it for the same reasons.  PropertySet was discussed in https://github.com/phetsims/axon/issues/71, https://github.com/phetsims/axon/issues/101 and https://github.com/phetsims/axon/issues/102.  To use the same pattern for ColorProfile, we could create a new supportive type that gives a convenient syntax for sp

[2021-06-29 22:18] jbphet commented on #677
We reviewed and adjusted the level for this button during today's sound design meeting, so I checked off one of the items above.

[2021-06-30 17:44] jonathanolson commented on #515
Seems significantly more verbose, what do you see us gaining from this style? Presumably we'd need to add in tandems and phetio types manually?

[2021-06-30 18:27] samreid commented on #515
PropertySet was less verbose than the alternative, but we decided against it anyways because we valued other aspects over succinctness. Using the synthesized properties makes it look like things are broken, and fails navigation/autocompletion and highlighting:

![image](https://user-images.githubusercontent.com/679486/124011677-80448880-d99d-11eb-92e7-7c08a1aa2166.png)

As mentioned in the comment

[2021-06-30 18:47] jonathanolson opened #684 "NumberControl arrow button enabledEpsilon"
For https://github.com/phetsims/density/issues/49, I ran into the need to handle epsilons on the view side (the model part won't know what the slider range is).

I'm adding `options.arrowButtonOptions.enabledEpsilon` as mentioned in Slack, which will slightly increase the range where the arrow buttons are disabled (when provided).

I also noticed arrowEnabledListener wasn't listening to options.en

[2021-06-30 18:48] jonathanolson commented on #684
@samreid would you be available to review this?

[2021-06-30 20:24] jonathanolson commented on #515
Perhaps a custom `ColorProfileProperty`? But yes this seems like a generally decent approach given that flexibility and IDE constraints.

[2021-06-30 20:38] samreid commented on #515
A good next step would be to get feedback on the proposal from @pixelzoom and @zepumph.

[2021-07-01 18:14] Ashton-Morris commented on #677
- [go-back.wav](https://drive.google.com/file/d/1t4JcgdAZyw8HCTxxPMhS7ob5L2eqJoe2/view?usp=sharing)

[2021-07-01 18:25] zepumph commented on #677
@jbphet said this is no longer blocking during today's dev meeting.

[2021-07-01 19:37] zepumph commented on #515
When I started at PhET, there was almost zero IDE and navigation support, and because of that I have a hard time ranking the importance of that. @samreid, what would be the ideal pattern here if we used TypeScript? Would anything be different?

In general I feel like we should continue with the path outlined in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-726981907. @samreid ca

[2021-07-02 17:54] samreid commented on #515
https://github.com/phetsims/scenery-phet/issues/515#issuecomment-726981907 does not support the features requested in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-512055519 or https://github.com/phetsims/scenery-phet/issues/515#issuecomment-726983363, but https://github.com/phetsims/scenery-phet/issues/515#issuecomment-870599230 supports it in the standard way.

Our team voted

[2021-07-02 18:01] pixelzoom commented on #515
For context, a reminder that the PhET team decided that all new sims should have a ColorProfile - see https://github.com/phetsims/scenery-phet/issues/642.

This is indeed annoying. It will become more annoying as use of ColorProfile increases.

I suspect that you are correct.  Again, I suspect this will change as use of ColorProfile increases.

[2021-07-02 18:10] pixelzoom commented on #642
Reopening.

This new policy is not being followed.  So we decided to add an item to the master checklist, and to the CRC.  I'll handle that.

[2021-07-02 18:15] zepumph commented on #515
The ability to conditionally instrument individual Properties and or to supply supplemental, and custom metadata to each Property could be solved in either way. Really this issue comes down to the pros and cons of dependency injection, especially as it pertains to PhET-iO.

We have used both patterns in the project, either supplying metadata in the form of an options object to a container to creat

[2021-07-02 18:17] samreid commented on #515
Can you elaborate on "dependency injection" in this context?

[2021-07-02 18:29] zepumph commented on #515
Whether or not ColorProfile is instantiating the Property, or if you are, and then passing them to ColorProfile.

[2021-07-02 18:54] samreid commented on #515
Should we mark this as a dev meeting subgroup so we can make a decision on this?

[2021-07-02 20:57] samreid commented on #684
I reviewed the code and tested with an epsilon of 5 in the scenery-phet demo. I did not see any problems, closing.

[2021-07-02 20:57] #684 closed

[2021-07-03 02:42] samreid commented on #170
I'm tracking the CCK aspect of this issue in https://github.com/phetsims/circuit-construction-kit-common/issues/679 and will wait for this issue to be planned as a quarterly goal before going further.  Self-unassigning.

[2021-07-06 16:51] pixelzoom commented on #642
Since `grunt create-sim` creates a sim with {{Prefix}}ColorProfile.js, I didn't see the point in adding this to the master checklist.  I added doc in SimulaRaseColoProfile.js noting that ColorProfile is required, and referencing this issue.

In the CRC, I added an item to the "Repository Structure" section, the same section that include {{PREFIX}}QueryParameters.js.

Closing.

[2021-07-06 16:58] samreid commented on #642
What about the following cases?

* Reviewing a sim that predates simula-rasa?  Would we want to check on the ColorProfile support?
* What about a sim that was built with a modern simula-rasa, but the developer hasn't embraced ColorProfile appropriately?  (i.e. it has the ColorProfile file, but it isn't used properly)?

Would we want this to be called out in the checklist for a while, at least unti

[2021-07-06 17:41] zepumph commented on #642
In both of those cases, wouldn't the CRC be the spot in which things were checked on? Updating the master checklist in either of those cases wouldn't help because likely either of those would already have a copied snapshot of that checklist in the first issue in that repo. Maybe instead @samreid you are noting that we should eagerly look into places where we should have a colorProfile in sims that

[2021-07-06 19:12] pixelzoom commented on #642
This requirement was discussed thoroughly as dev meetings, and it has since been announced on dev-public a couple of times. Anyone who didn't get the message is not paying attention. Furthermore, a developer who creates a new sim without a ColorProfile is either not running `grunt create-sim` (violating the master checklist) or is deleting the default ColorProfile that gets created by `grunt creat

[2021-07-06 19:15] pixelzoom commented on #642
This requirement was also requested by designers, see https://github.com/phetsims/scenery-phet/issues/642#issuecomment-726920361.   So if a sim somehow gets all the way to code review without a ColorProfile, then either no one had a reason to use colors.html, or they figured that the sim didn't support it and didn't ask for it.  Either way, something is wrong.

[2021-07-07 01:37] samreid commented on #642
CRC commit https://github.com/phetsims/phet-info/commit/bb048da3c6c9a546fd946c7f2f946a1245df9da3 seems like a good level of detail to me, I don't have any other recommendations for this issue, re-closing.

[2021-07-07 01:37] #642 closed

[2021-07-08 00:01] jbphet commented on #677
@Ashton-Morris - The sound you linked to above isn't normalized to our -1 dBFS standard.  Can you please update it to this level and assign back to me again when it's ready?

[2021-07-08 16:17] Ashton-Morris commented on #677
[Updated Version Here](https://drive.google.com/file/d/1t4JcgdAZyw8HCTxxPMhS7ob5L2eqJoe2/view?usp=sharing)

[2021-07-08 18:21] jessegreenberg commented on #515
Discussed during 7/8/21 Developer meeting:

It was agreed during the meeting that the approach in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-870599230 is a good way forward. Everyone agreed that for improved IDE support and the ability to instrument/customize individual Properties it is worth the effort.

Next steps are for a developer to investigate and implement more thorou

[2021-07-08 18:32] jessegreenberg commented on #515
@samreid also proposed a different solution, where colors can live at their usage sites. But they get an instrumentation to support customization through the "development colors html page". This would also mean that the color would exist in the PhET-iO tree for in the components that own them, much like other instrumented view Properties. Overall, there was a question about what having an explicit

[2021-07-08 18:38] jessegreenberg commented on #515
Marking for phet-io meeting because the changes suggested in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-876655914 will have some impact on the PhET-iO API for colors, and there are things here that we want to discuss with design team.

[2021-07-08 18:57] samreid commented on #515
I also saw a paper trail starting at https://github.com/phetsims/scenery-phet/issues/156#issuecomment-145726828 which is what led to ColorProfile originally.

[2021-07-09 18:05] jbphet commented on #677
Asset added, I think we're done here.  Closing.

[2021-07-09 18:05] #677 closed

[2021-07-09 18:19] pixelzoom commented on #677
It looks like the Back button sound was completed in https://github.com/phetsims/scenery-phet/issues/677. Do we now have support for all of the vegas components used by Fourier?

If so... @jbphet please review in Fourier (master), then assign to @arouinfar for sign-off.  Reviewing will be easier if you run with `?showAnwers&showReward`, which will show the challenge answers, and show the reward di

[2021-07-09 21:52] pixelzoom opened #685 "Convert RefreshButton to fontawesome-5"
From https://github.com/phetsims/sherpa/issues/83 ...

This is going to be a bit of a project.  RefreshButton has option `iconScale`, which is used by many clients.  And the scale is very different between fontawesome-4 and fontawesome-5.

So that we don't have to deal with this again if we ever change icons sources, I'm going to replace `iconScale` with `iconHeight`, and make RefreshButton respon

[2021-07-09 22:07] pixelzoom commented on #685
Clients of RefreshButton, and the current height of their RefreshButtonIcon:

build-a-molecule: 19.200000000000003
density-buoyancy-common: 19.200000000000003
equality-explorer: 23.04
expression-exchange: 26.88
fractions-common: 26.88
function-builder: 38.400000000000006
function-build-basics: 38.400000000000006
scenery-phet: 38.400000000000006
unit-rates: 13.824

[2021-07-09 22:23] pixelzoom commented on #685
API and client call sites were changed in the above commits. Instead of weird values like 38.400000000000006, I rounded to 38.  Here are the values that I used (and visually inspected) for each client:

build-a-molecule: 20
density-buoyancy-common: 20
equality-explorer: 23
expression-exchange: 27
fractions-common: 27
function-builder: 38
function-build-basics: 38
scenery-phet: 35
unit-rates: 14

C

[2021-07-09 22:23] #685 closed

[2021-07-15 17:48] zepumph commented on #515
From PhET-iO meeting today:

PhET-iO designers are fine with us removing ColorProfiles, and moving color Properties into the sim. In general designers feel like the PhET-iO instrumentation level of colors will be limited (depending on client desires).

We should make color profile a singleton, and we should add support for having common code support. The singleton should live in scenery, and can b

[2021-07-15 19:26] jbphet commented on #515
@samreid has offered to do the initial work on this (thanks!), and will take a shot at doing the work in the individual simulations as well.  This plan can change if it's taking too much time.

[2021-07-16 18:49] samreid commented on #515
I asked @arouinfar in slack:

She replied:

[2021-07-17 14:47] samreid commented on #515
Summary of changes in the upcoming commit:

### The new common code
* SCENERY/colorProfileNameProperty is a singleton which keeps track of which color profile is selected, such as `'default'` or `'projector'`.
* SCENERY/ColorProfileProperty extends ColorProperty and listens to colorProfileNameProperty to know when to change. It has a new option `'name'` which is shown in the HTML color editor.  Cu

[2021-07-17 17:32] samreid commented on #515
I also notified about current status on slack.

[2021-07-17 19:19] samreid commented on #515
CT is showing this error: `Uncaught Error: Assertion failed: colorProfile must have a profile named undefined`.  I'll take a look.

[2021-07-17 19:22] samreid commented on #515
I pushed fixes for the current column of CT issues and will keep an eye on the next column.

[2021-07-17 20:22] samreid commented on #515
There is a problem with this.  For instance, assume there are 2 screens, Screen A and Screen B.  If both screens are supposed to always have the same background color, they should use the same ColorProperty.  However, if the ColorProperty is defined in the Screen constructor, they will have different ColorProperties.  So many of the ColorProperty instances we have seen should remain factored out,

[2021-07-18 03:11] samreid commented on #515
Marking as blocks publication while sims are using different strategies.

[2021-07-18 16:01] samreid commented on #515
ProportionPlaygroundColorProfile history has inadvertently deleted, so I restored it through reverts.

[2021-07-19 12:46] samreid commented on #515
Summarizing status since this issue is getting long.  The main changes are described in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-881909812, beyond that there has been a naming improvement and simplification for singleton pattern.  The problem in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-881955316 had me rethinking this whole issue since colors are usu

[2021-07-19 12:54] samreid commented on #515
Likewise, for GasProperties, there are numerous files breaking the singleton lowercase naming convention, so I'll leave those up to @pixelzoom to determine how to proceed.

[2021-07-19 13:46] pixelzoom commented on #515
I recall that our decision was to have a single global ColorProfile, managed by scenery, that all repos (sims and common-code) will register with.  I'm guessing it will be `phet.scenery.colorProfile` or something similar.  That would make this issue of names like `gravityAndOrbitsColorProfile` moot.

Is that still the plan?

[2021-07-19 13:49] samreid commented on #515
Scenery defines `colorProfileProperty` but each sim still needs a way to specify sim-specific colors.

[2021-07-19 14:01] zepumph commented on #515
Could we call it instead `GasPropertiesColors`?

[2021-07-19 14:53] samreid commented on #515
Whether we call it `GasPropertiesColors` or `GasPropertiesColorScheme` or `GasPropertiesColorProfile` seems approximately equally good to me.  I'm happy with `GasPropertiesColorProfile` because that is the term used elsewhere to indicate the colors are selected from among profiles, like `ProfileColorProperty`.  I don't think it would be confusing for `GasPropertiesColorProfile` to contain other co

[2021-07-19 14:55] pixelzoom commented on #515
@samreid and I discussed on Zoom, he brought me up to speed, looks nice.

Re GasPropertiesColorProfile vis GasPropertiesColors...  The form still has the problem that `ColorProfile` had -- it's not a single profile, it's a description of 1 or more profiles (plural).   Using something other than "color profile" would allow us to ditch that baggage.

[2021-07-19 15:00] zepumph commented on #515
Isn't the goal/dream of this issue that modern sims would have have this culminating file of colors, and that instead they would be integrated into the usage sites, or put into CONSTANTS files if needed? So perhaps this is a bit of a moot point? I'm really fine with anything and any pattern as long as we don't suffix with `ColorProfile` because these are not ColorProfile instances. We only have on

[2021-07-19 15:24] samreid commented on #515
Yes, I'll be deleting ColorProfile soon.

[2021-07-19 20:29] samreid commented on #515
A reminder of summary comment https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882518280

[2021-07-19 21:17] pixelzoom commented on #515
Reminder to:

- [ ] Update the ColorProfile issue in the CRC to reflect the new pattern.

[2021-07-19 21:38] samreid opened #686 "Rename SimColorProfile.js files to SimColors.js"
From https://github.com/phetsims/scenery-phet/issues/515, we would like to rename sim color files to be `SimColors.js` instead of `SimColorProfile.js`.  https://github.com/phetsims/scenery-phet/issues/515 is getting a bit long, so I moved this to a side issue.

[2021-07-19 21:46] samreid commented on #686
In the above commit, the docs are pointing to the old style ColorProfile.js names, I decided to make it consistent until we can address all occurrences.

[2021-07-19 21:48] samreid commented on #515
I've completed everything for this issue or moved remaining work to side issues.  This is a lengthy issue, but I reviewed most of it with @pixelzoom in a meeting this morning.  I also thought it was appropriate to ask @pixelzoom to review https://github.com/phetsims/chipper/issues/1061, @pixelzoom do you also have time to review this issue?  Please keep in mind a few remaining parts have been move

[2021-07-19 23:25] pixelzoom commented on #515
I'll put my review notes in this comment, and add to them as I go.  Don't do anything with these until I assign back to @samreid, because I'll be modifying this comment.

---
SCENERY/colorProfileProperty.js

- [ ] 'default' is duplicated in colorProfileProperty.js 2x, initialize-globals.js 1x, and in numerous instantiations of ProfileColorProperty. Can we factor out (some? all?) of this duplicatio

[2021-07-19 23:49] pixelzoom commented on #515
Review completed, comments in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882927243. Back to @samreid.

[2021-07-20 03:18] samreid commented on #515
Would you like to use computed property names?  It could factor out those terms like so: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer

[code]

We have never tried to factor out key names before, I wonder what would happen if we did that across our project.

[2021-07-20 19:03] pixelzoom commented on #515
No, definitely not.  I hadn't considered that.

[2021-07-20 19:08] pixelzoom commented on #515
In the above commits, I renamed this .js for my sims.  For example, GasPropertiesColorProfile.js is now GasPropertiesColors.js

[2021-07-20 19:19] pixelzoom commented on #515
In the above commit, the .js file naming convention was applied to simula-rasa.

[2021-07-20 19:44] pixelzoom commented on #682
In https://github.com/phetsims/fourier-making-waves/issues/93#issue-927708422, I noted that Fourier will (someday) need hotkey support for TimeControlNode. (This will not be included in Fourier 1.0, see https://github.com/phetsims/fourier-making-waves/issues/92#issuecomment-867799973.)

In https://github.com/phetsims/fourier-making-waves/issues/93#issuecomment-867057378, @jessegreenberg replied:

[2021-07-22 17:02] zepumph commented on #515
- [ ] I'm also not sure what to do about `perennial/data/color-profiles`. Won't all sims have a color profile now?

[2021-07-23 18:00] samreid commented on #515
Thanks, I removed color-profiles.

[2021-07-23 21:23] pixelzoom commented on #515
Removing color-profiles has broken phetmarks for all release branches. I'm trying to test patches and RCs for ph-scale and natural-selection, and phetmarks crashes with:

On Slack dev-public, @zepumph proposed that someone should "MR phetmarks once and for all to be graceful if any data lists don't exist."  That sounds like a great idea, but I don't have time to do that.  So I am going to restore

[2021-07-23 21:27] pixelzoom commented on #515
Something seemed a little funky when I reverted the deletion of color-profiles. @samreid please check my work.

[2021-07-23 21:39] samreid commented on #515
Maybe a more robust way around this problem will be for phetmarks to depend on annual instead of perennial.

[2021-07-23 21:40] samreid commented on #515
The revert commit looks good, thanks!

[2021-07-26 15:34] zepumph opened #687 "ZoomButtonGroup to support non linear zoomProperty changes"
While working on https://github.com/phetsims/projectile-motion/issues/245, I found that Projectile Motion is not set up to have a linear delta applied on the zoomProperty, it instead multiplies/divides by 2 (like `[.25,.5,1,2,4]`). I mentioned this to the dev slack channel for assistance and @jonathanolson mentioned that he also has run into this problem:

and

My proposal is to turn the delta opt

[2021-07-26 15:43] zepumph commented on #687
@jonathanolson, will this suite your needs in the future? Please review. Are there any sims that you would like to create conversion issues in to use ZoomButtonGroup now that it supports your zoom model?

I'll proceed now back in https://github.com/phetsims/projectile-motion/issues/245

[2021-07-26 16:14] jonathanolson commented on #687
Looks great to me.

[2021-07-26 17:58] zepumph commented on #687
Thanks, I'll reopen if I come across unforeseen trouble in https://github.com/phetsims/projectile-motion/issues/245. Closing

[2021-07-26 17:58] #687 closed

[2021-07-26 20:09] zepumph commented on #272
TODOs have been removed. I added support for validateKey in NumberEntryControl, which will work, as long as you make sure to note how maxDigits behaves from that. I added a note in the option documentation since it wasn't obvious otherwise, and there is no real way to test the validateKey function's guts. I think we are ready to close this issue, as there are no more TODOs.

[2021-07-26 20:09] #272 closed

[2021-07-26 20:59] zepumph commented on #271
Some ideas to progress this issue.

1. We should probably get some design time for consultation.

Here are some keypads around the project:

**Modal, in Projectile Motion:**
![image](https://user-images.githubusercontent.com/6856943/127057687-ef62954b-bd08-46dc-9573-20560fadff6c.png)

**Modal, in Unit Rates**
![image](https://user-images.githubusercontent.com/6856943/127057762-cd76781f-80c0-471a-a

[2021-07-26 21:17] zepumph commented on #271
@amanda-phet. Does it seem reasonable that our composite Keypad type generally have these three features. I think that for the most part. What other constraints might be needed by other sims? For example, the top label in a few of these sims. Presumably this would be handled by a subtype, but maybe not?

[2021-07-27 17:56] samreid commented on #515
Since this issue is getting long, here is a link to the remaining work: https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882927243

[2021-07-27 19:38] samreid commented on #515
Thanks for the review recommendations, I addressed them in the commits. I also changed `PROJECTOR_COLOR_PROFILE_NAME` to `PROJECTOR_COLOR_PROFILE`. Every issue has been addressed or moved to a side issue.  Back to @pixelzoom to see if there is any remaining work for this issue.

[2021-07-27 19:58] pixelzoom commented on #515
I had to expand this issue multiple times to find my review comments. If I need to get to them again, direct link is https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882927243

@samreid Sorry, I don't have time to look through each commit to see how you addressed the review comments.  If you want to summarize and point me to the relevant commit, I'll be happy to take a look.

I did

[2021-07-27 20:13] samreid commented on #686
@pixelzoom said in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-887794140

[2021-07-27 20:17] samreid commented on #515
The changes were straightforward and the re-review step can be skipped at your discretion.

There are 9 commits listed above with these commit messages:
* Factor out "default" color profile name
* Improve visibility annotation
* Add documentation
* Update documentation
* Factor out 'projector' string
* Rename PROJECTOR_COLOR_PROFILE_NAME => PROJECTOR_COLOR_PROFILE

The changes were straightforward

[2021-07-28 03:31] samreid commented on #686
Before I work on converting these files, can we decide on the casing? Should it be `myRepoColors.js` or `MyRepoColors.js`?

[2021-07-28 14:12] pixelzoom commented on #686
Here's my what I (mostly) see being done across the PhET code base. We've never formalized this, but I think it makes sense.

* If the file exports  an instance of a class (has a constructor), then it's a singleton, and use lowercase. Like soundManager.js.

* If the file exports an object literal that's a collection of constants, use uppercase, e.g. MyRepoConstants.js.

What we're doing here for c

[2021-07-28 19:46] samreid commented on #686
OK I renamed files to SimColors.js.  @pixelzoom would you like to spot check?

[2021-07-28 19:54] pixelzoom commented on #686
👍🏻 closing.

[2021-07-28 19:54] #686 closed

[2021-07-29 00:34] pixelzoom commented on #515
I did a quick skim of the commits. Looks like good work, and I didn't see anything amiss.

Back to @samreid in case there's anything else to do here.

[2021-08-02 17:50] jessegreenberg opened #688 "GrabDragInteraction doesn't work with VoiceOver"
Initially discovered in https://github.com/phetsims/balloons-and-static-electricity/issues/519.

Once the object has been picked up and released, returning to it in a grabbable state causes VoiceOver to fail to read the accessible name and role information. Instead it just says "application".

This was observed in the balloons in BASE but also everything using the GrabDragInteraction in macOS Voic

[2021-08-02 20:23] amanda-phet commented on #271
yes, those three components (display, keypad, and enter button) seem to be consistent between the keypads. It seems like we need to support custom buttons in addition to 0-9 and enter, and perhaps a label.

Other features to consider are input types (if that's what to call it). In Area Model, we need to be able to enter a variable in addition to a number. Otherwise I can't think of any other poten

[2021-08-03 13:23] zepumph commented on #271
Maybe it also seems important that you can specify and adjust an optional "range text." That seems to be a need that will continue to be important to a keypad. The two usages of that above place it at the top, would it ever not be at the top?

[2021-08-03 22:11] amanda-phet opened #689 "MathSymbolFont artifact"
Noticed in https://github.com/phetsims/number-line-distance/issues/62

There seems to be an issue with the 'y' where part of the tail is left behind when the 'y' moves to a new location.

I see this in Function Builder sometimes as well, if I build a big function with negatives then change the values to 0. The location of the 'y' moves because the equation is getting shorter, and it leaves a trail

[2021-08-03 23:04] pixelzoom commented on #689
Here's the screenshot from https://github.com/phetsims/number-line-distance/issues/62:

<img width="412" alt="Screen Shot 2021-08-02 at 3 56 02 PM" src="https://user-images.githubusercontent.com/87318828/127919933-c7257339-6408-46f8-a7cd-063d60e825ae.png">

[2021-08-03 23:13] pixelzoom commented on #689
It's unlikely that this is a problem with MathSymbolFont.  More likely is that it's a problem with what's rendering text using that font.

In NLD, I believe that the relevant code uses `RichText`, in NLDBaseView.js:

[code]

In Function Builder, it's `Text` in SlopeInterceptEquatioNode.js:

[code]

So this is probably a scenery rendering issue, and assigning to @jonathanolson.

@amanda-phet please

[2021-08-03 23:22] amanda-phet commented on #689
This is not blocking for NLD. I think it would be worthwhile to find all sims affected by it and fix it for all of those at the same time. This is low priority in my opinion, but I wanted an issue about it since it's been happening for a while and would be nice to fix eventually.

[2021-08-04 15:06] zepumph commented on #515
The current CRC checklist item no longer makes sense, I believe we no longer want the colors file to look like "*ColorProfile.js", reopening.

[2021-08-04 15:10] zepumph commented on #515
@samreid, does this feel adequate to you?

[2021-08-04 15:40] pixelzoom commented on #515
Since I suggested changing the CRC item, and @samreid is on vacation, I took a look.  The changes look great to me.

[2021-08-04 15:41] pixelzoom commented on #515
Since this was reopened for the CRC item, I'll go ahead an re-close.

[2021-08-04 15:41] #515 closed

[2021-08-05 03:56] jonathanolson commented on #689
Looks like a likely SVG repaint issue, might be specific to this case (so wouldn't happen potentially in other sims even with the same symbol). Can usually be worked around by adding in things that trigger a repaint, like a transparent section (`fill: 'transparent'`) that covers the area.

@pixelzoom thoughts?

[2021-08-05 15:58] jessegreenberg commented on #688
![image](https://user-images.githubusercontent.com/6396244/128382216-083ea409-2bad-4a0b-98d7-9ceb0602f4b5.png)

Check out the above image! The application role is still on the button according to the dev tools, though it is not in the markup.

[2021-08-05 16:45] jessegreenberg commented on #688
Oddly, the bug where the "Application" role persists in the dev tools only happens when VoiceOver is enabled.

[2021-08-05 16:55] jessegreenberg commented on #688
I tried explicitly setting the role to something else (rather than just removing `application`) and it still kept "application" according to the dev tools when VoiceOver is enabled.

[2021-08-05 20:49] jessegreenberg commented on #688
The highlight that appears from VoiceOver is where the inner text for the Grabbable button is positioned
![image](https://user-images.githubusercontent.com/6396244/128415273-7ed87e3c-dd62-4153-88a8-ba9efbb7222e.png)

Oddly, when focus is on the balloon in this case the hint I get is "You are on a text element" and the text element I am on is the inner text of the "Grab Yellow Balloon" button. This

[2021-08-05 20:51] jessegreenberg commented on #688
I made this HTML example to try to find out what was causing the problem. But even as I added more and more attributes and made the example more complicated VoiceOver always reported the name and role of the "Grab" button. So this is indicating that it is not caused by the switch to use one element rather than move focus between two DOM elements.
<details>

[code]
</details>

[2021-08-05 20:55] jessegreenberg commented on #688
Something about this patch has the bug fixed:
<details>

[code]

</details>

[2021-08-05 21:35] jessegreenberg commented on #688
I identified that this line is causing this bug, removing this line makes the issue go away:
https://github.com/phetsims/scenery-phet/blob/4e822fb1d08ba5a325196abdb5886a0af5a793a3/js/accessibility/GrabDragInteraction.js#L235

[2021-08-05 22:16] jessegreenberg commented on #688
Setting the aria-label in BASE **does** make this issue go away. I don't know why I found that it didnt' earlier, I probably forgot to clear caches in that test. The button in my test HTML also does not have an aria-label so I don't know why it is working there.

So I think we need to make sure that aria-label is set in the `grabbableOptions` as a workaround for this bug.

[2021-08-05 22:26] jessegreenberg commented on #688
I am confused again.

With this line
[code]

VoiceOver calls the balloon "Grab Yellow Balloon, application"

Without that line and with ariaLabel removed from options, it says "Yellow Balloon, button". It is using the aria-label from the previous element, in this case. For some reason changing the aria-label seems to be causing problems.

[2021-08-06 15:24] jessegreenberg commented on #688
I can get VoiceOver to say "Grab Yellow Balloon, button" by assigning an `aria-roledescription` of "button" in its grabbable state.

There is some weird VoiceOver bugginess causing all of this and I don't think it is worth our time to investigate more. But I will summarize the combinations of attributes I tried with their output.

The first time VO reads the grabbable, it sounds correct. The follo

[2021-08-06 16:18] jessegreenberg commented on #688
I tested this change with NVDA + Firefox, JAWS + Chrome and Safari + VoiceOver, each are working and sounding good.

@zepumph would you mind reviewing https://github.com/phetsims/scenery-phet/commit/ff02afa159b11320e841e73a9cc56b1e18b3bcf8 before closing this issue?

[2021-08-06 16:30] zepumph commented on #688
This does not feel like a robust solution. I'd like to discuss alternatives, potentially in person. Basically you are mixing higher-level API features with lower-level ones. In master this works well because of the current default accessibleName behavior, but it doesn't feel too maintainable to me. Instead, we should expand the assertions about how what lower level keys you can pass in (to include

[2021-08-06 16:40] jessegreenberg commented on #688
Sorry, I don't understand, are you recommending a general improvement for GrabDragInteraction? I actually don't see higher level API funtions used in GrabDragInteraction yet, other than clearing the `accessibleName` in `grabbableOptions`. Or should `accessibleName` be removed from `grabbableOptions`, I don't see `accessibleName` set in `draggableOptions` or passed to grabbableOptions in the projec

[2021-08-06 21:56] jessegreenberg commented on #688
@zepumph and I discussed this issue and determined that it is OK as is. There isn't a mix of high and low level API functions, but there was some confusion because `draggableAccessibleName` is not actually using `accessibleName` setters.

On the call we agreed this could be closed.

[2021-08-06 21:56] #688 closed

[2021-08-06 22:39] pixelzoom opened #690 "BackgroundNode's backgroundOptions should be named rectangleOptions."
While working on Fourier, I used `BackgroundNode`.  It has option `backgroundOptions` which violates the naming conventions for nested options.  It should be named `rectangleOptions`, because they are propagated to a `Rectangle`.

There are only 5 uses, so I'm going to rename it. The affected sims are:

- [x] fourier-making-waves (1)
- [x] graphing-quadratics (1)
- [x] number-line-common (2)
- [x]

[2021-08-06 22:50] pixelzoom commented on #690
These changes were limited to my sims and @jbphet sims.  So I'll ask @jbphet to review.

[2021-08-07 02:47] pixelzoom commented on #689
There are no plans to do redeploy Function Builder.  And the sim where this came up was NLD, which is nearing publication.  @amanda-phet if you'd like this to be addressed for NLD, please work with @SaurabhTotey, and consult with @jonathanolson on how to address it -- potentially with the workaround he offered in https://github.com/phetsims/scenery-phet/issues/689#issuecomment-893142804.

If you d

[2021-08-09 02:31] zepumph opened #691 "Add to GrabDragInterantion voicing string: "Space to Grab or Release.""
I think this design doc item in friction would go best in common code, but I want to make sure that this isn't interrupting other usages.

[2021-08-09 02:32] zepumph commented on #691
@jessegreenberg will you please review. I don't know any usages other that friction that this will effect, can you? Does this seem robust?

[2021-08-11 18:52] zepumph opened #692 "Must KeyboardDragListener be a required parameter?"
@jessegreenberg, I just noticed, https://github.com/phetsims/scenery-phet/commit/363ba0f72eb6f95109a7829250a417ea07e1608f, from https://github.com/phetsims/scenery/issues/1140.

I totally understand this, but wish that we kept the client code more flexible than this. I'm imagining iterating through GrabDragInteraction.listenersForDrag, and if any keyboardDragListeners are present, then add that dr

[2021-08-11 19:00] jessegreenberg commented on #692
Thanks for posting the history, I am surprised to see that part of the change tied to https://github.com/phetsims/scenery/issues/1140. I thought making a KeyboardDragListener a required param was beneficial on its own. Without it, the GrabDragInteraction will have no drag functionality. What is the benefit of creating a GrabDragInteraction without a KeyboardDragListener?

[2021-08-11 19:03] zepumph commented on #692
In master, I can't think of a reason, but that doesn't mean KeyboardDragListener will be the only way to control a draggable from here until forever. I could imagine us creating a KeyboardDragListener v2, and I could also imagine coming across a draggable that we would want to control in a different, more custom way, perhaps because of PDOM tagName constraints or something.

If you still disagree,

[2021-08-11 19:36] zepumph opened #693 "Focus is not called on draggable focus anymore."
While working on https://github.com/phetsims/friction/issues/211, I noticed that the focus listeners on the GrabDragInteraction's draggable element were not firing. This means at least two listeners that we thought were firing on not:

https://github.com/phetsims/friction/blob/ffe03649b6e295da75095d889b25d591c9ced367/js/friction/view/book/BookNode.js#L112-L120

and also

https://github.com/phetsim

[2021-08-11 20:12] jessegreenberg commented on #693
It looks like the focus listeners are specifically blocked because of this in Input.js

[code]

[2021-08-11 20:14] zepumph commented on #693
That feels ok to me. Thinking through the actual definition of the inputListenerss, we shouldn't expect focus to be called after mutating a Node, where all the while that Node is focused. That doesn't really make sense.

I found that this patch fixes the problem.

[code]

[2021-08-11 20:16] zepumph commented on #693
You can test this out by running friction with `?sceneryLog=Input` and searching in the console for "focus"

[2021-08-11 20:33] jessegreenberg commented on #693
That fix makes sense because I also noticed that the `listenersToAdd` are added after the Node mutates. So even without the block in Input.js I wouldn't expect the `focus` event to fire because the listener is added after focus changes from the `mutate`.

https://github.com/phetsims/scenery-phet/blob/7a6b0480e7b81dc39ec48dc369bd951f59df9523/js/accessibility/GrabDragInteraction.js#L594-L602

Thats

[2021-08-11 20:44] zepumph commented on #692
Please first update the documentation in https://github.com/phetsims/scenery-phet/blob/5769b702fa042923742ce0826b0843c2bd7f5a7e/js/accessibility/GrabDragInteraction.js#L11-L12 which hints that this feature occurs through options, instead of parameters.

[2021-08-11 20:46] jessegreenberg commented on #693
I committed the patch, with the suggested assertion. @zepumph can you please review?

[2021-08-11 21:04] zepumph commented on #693
@jessegreenberg and I went over the above commit. We agreed it made the most sense to allow blur in grabbable, but to note that. In the future we could pretty easily add a flag like `if (this.turningToDraggable)` that grabbable blur listeners can check on if they don't want to fire in this case. Closing

[2021-08-11 22:44] zepumph commented on #691
The main question I have for review is how I collect my responses myself, instead of trying to integrate this hint into the wrappedNode's voicing implementation. Probably that is safest, but wouldn't it also be nice if there was just a single hint string for the wrapped Node? Answer: probably not, since this is just for focus on the grabbable, and there are many more hints to give in a grab/drag i

[2021-08-12 20:52] zepumph commented on #691
Actually, one more thought here, because there is another response desired when using gesture. I think we would swap these two out. Assigning back to myself again.

From the design doc:

[2021-08-13 01:15] pixelzoom opened #694 "Change image file names and imports."
For https://github.com/phetsims/chipper/issues/1060 ...

Use camelcase for image file names, and make imports match file names.

scenery-phet is the common-code repo with the most image files, so worth doing. Looks like ~20 need to be renamed. I'm the responsible dev for scenes-phet, so I'll take care of this.

[2021-08-16 19:22] pixelzoom opened #695 "Issues with voicingIcon.png"
images/voicing-icon.png (EDIT: now voicingIcon.png, see below) was added to scenery-phet on 9/4/2020.   It was added by @jessegreenberg, and the license.json file indicates that the artwork was created by @terracoda.

Two issues:

(1) There is no corresponding file in scenery-phet/assets/.  For all image files, the original file (typically an Adobe Illustrator .ai file) that was used to create the

[2021-08-16 19:37] pixelzoom commented on #695
Note that voicing-icon.png has been renamed to voicingIcon.png in https://github.com/phetsims/scenery-phet/issues/694, so that all images in this repository follow a consistent naming convention, compatible with https://github.com/phetsims/chipper/issues/1060#issuecomment-898662534.

[2021-08-16 19:39] terracoda commented on #695
@amanda-phet and I worked on the concept together. @amanda-phet should have the file.

[2021-08-16 19:41] terracoda commented on #695
@pixelzoom, we are talking about the icon used on the website, right?

[2021-08-16 19:43] zepumph commented on #597
This issue has been surpassed by the solution in https://github.com/phetsims/scenery-phet/issues/515. I think it is ready to close.

[2021-08-16 19:43] #597 closed

[2021-08-16 19:44] pixelzoom commented on #694
Done.  2 sims were touched and tested: faradays-law, capacitor-lab-basics.

Closing.

[2021-08-16 19:44] #694 closed

[2021-08-16 19:47] pixelzoom commented on #695
@terracoda Sorry, I have no idea where this icon is used.  That is one of the problems mentioned above:

If it's used on the website, then it does not belong in this repository.

It looks like this:

<img width="298" alt="screenshot_1183" src="https://user-images.githubusercontent.com/3046552/129620846-d6179d6b-7d2e-486b-98e5-fa109e30418e.png">

[2021-08-17 00:47] terracoda commented on #695
Thanks for the clarification @pixelzoom. That version of the voicing icon was used in earlier versions before we had the Voicing Toolbar. We no longer use that icon directly in the Voicing feature which is likely why you only see it in a branch.

@jessegreenberg, can you confirm that this was the icon we used for the Voicing accordion before we had designed the Toolbar?

I think we have intentiona

[2021-08-17 02:09] pixelzoom commented on #695
I'm not seeing it in a branch. I'm seeing it in master.  I asked if it was used in a branch, because we don't typically have unused images checked in to a repository. If it's not used in master or any branch that depends on master, I recommend deleting voicingIcon.png from master.   It can always be recovered later if it's needed - that the nature of GitHub.

@jessegreenberg could you please take

[2021-08-17 09:01] terracoda commented on #695
Thanks again @pixelzoom for the clarification. @jessegreenberg and will sort this out.

[2021-08-17 18:10] terracoda commented on #695
@jessegreenberg and I discussed the voicingIcon.png image. It is not currently being using in the Voicing feature, so it should not be checked in.

Assigning to @jessegreenberg to remove it.

[2021-08-17 18:25] jessegreenberg commented on #695
Thanks for reporting, this image should not be checked in anymore, Ill delete it. I read through the comments in this thread to make sure I didn't miss anything but there is no reason it should be checked into master. It also isn't used in any feature branches.

[2021-08-18 15:53] KatieWoe opened #696 "CT scientific notation is not supported"
[code]

[2021-08-20 17:24] amanda-phet commented on #689
The affected sims that I can consistently reproduce this issue with are:

- Number Line: Distance
- Function Builder
- Equality Explorer: Two Variables

It's possible there are others, but I haven't been able to identify them. I think this should be noted as a potential issue for future sims so that QA has an issue to reference when they encounter it again, but it's very low priority to fix IMO. I

[2021-08-23 20:00] jbphet commented on #690
Changes look good, and I verified that the behavior of `BackgroundNode` seemed correct in number-line-integers.  I made some edits to the comments in `BackgroundNode`, and some of the changes were related to this issue and some weren't.  I don't think they would be too controversial, some I'm closing the issue.

[2021-08-23 20:00] #690 closed

[2021-08-24 14:36] zepumph opened #697 "Rename AlertManager -> Alerter"
"AlertManager" seems like a great name when there is a singleton responsible for all alerting in a sim, but when that responsibility is divided up, we should call types Alerters. I discussed with @jessegreenberg.

- [x] Update AlertManager.js
- [x] Rename classes that are suffixed with AlertManager if they are singleton-ish to a sim.
- [x] Update documentation about different class patterns for de

[2021-08-24 18:40] jessegreenberg opened #698 "Add Interactive Highlights to GrabDragInteraction"
For https://github.com/phetsims/balloons-and-static-electricity/issues/516 and https://github.com/phetsims/friction/issues/200 we need to add support to GrabDragInteraction to have unique highlights for "Interactive Highlights" in the grab and drag state. The focus highlights cannot be used because children are added to these highlights in GrabDragInteraction that have content that is specific to

[2021-08-31 15:06] zepumph commented on #698
I'm seeing some really weird stuff over in friction, where the solid highlight around the Friction books are appearing even when interactive highlights are not enabled, and are sticking around even when I click on something else.

It seems like this is a work in progress, and you are not blocking me, but I thought I'd note in case you weren't aware of the bug.

[2021-08-31 15:26] jessegreenberg commented on #698
Thanks! I was not aware of this. This was not ready for review until some renaming was done but I had thought was otherwise stable. Will take a look.

[2021-09-01 15:29] pixelzoom opened #699 "Problems with not being able to set shiftKeyboardStep for NumberControl."
In NumberControl:

[code]

I understand the motivation for this. But I'm constantly bumping into this assertion, and I'm not convinced that this needs to be a "hard" requirement.  I think it would be nice to allow clients to optionally provide it, and default to `shiftKeyboardStep` if not provided.

For Fourier, I've typically been provided with requirements like _"For the Center control, set keyb

[2021-09-01 17:40] zepumph commented on #699
My thoughts were that this actually simplified the API by removing the duplication needed to specify delta and shiftKeyboardStep. I'm happy to remove the assertion though.

Over to @jessegreenberg to confirm this seems reasonable to him.

[2021-09-01 17:41] zepumph commented on #699
@jessegreenberg please assign back to @pixelzoom once you have spot checked this issue.

[2021-09-01 19:51] #697 closed

[2021-09-03 19:57] jessegreenberg commented on #698
I was able to get this to happen once in Friction, but have not been able to again so I can't find the case that is causing this. @zepumph are you able to get this to happen consistently, or do you know the steps to get it to happen by chance?

[2021-09-03 20:07] jessegreenberg commented on #698
I was able to get it to happen once by
1) Enabling Interactive Highlights
2) Grabbing the zoomed in book
3) Tabbing to the zoomed out book while mouse is down on the zoomed in book
4) Grabbing in the zoomed out book with "enter key", without releasing mouse.

In this case I saw a "grabbed" dotted highlight around both the zoomed in and zoomed out books. But trying to reproduce by following these s

[2021-09-03 20:26] jessegreenberg commented on #698
I think I got it!

1) Enable Interactive Highlights
2) Mouse click down on zoomed in chemistry book
3) Move your mouse over the zoomed out chemistry book, while dragging the zoomed in chemistry book
4) While holding mouse down, tab to the zoomed out chemistry book, and grab it by pressing enter
5) Move the pressed mouse back to the zoomed in chemistry book. Then release it.

[2021-09-07 20:48] zepumph opened #700 "NumberControl to support a mutable range"
Over in https://github.com/phetsims/projectile-motion/issues/153, there was a design request to be able to change the range max of a NumberControl given the value of another UI. On master right now, the only way to do that is to swap out two completely separate instances of NumberControl. It would instead be better to just be able to mutate the range of the component. I ran this by @jonathanolson

[2021-09-08 16:14] pixelzoom commented on #700
NumberControl was implemented before NumberProperty existed. I'm constantly having to unpack NumberProperty to pass it to NumberControl, like this:

[code]

And since NumberProperty already has support for dynamic Range, I think the best path forward would be to change NumberControl's constructor to:

[code]

[2021-09-08 16:15] pixelzoom commented on #699
Raising review priority to high. This is going to publish with Fourier 1.0, which will be going into dev-test soon.

[2021-09-08 16:17] pixelzoom commented on #695
Raising priority to high.  This issue has been languishing and should be wrapped up.

[2021-09-08 16:18] pixelzoom commented on #689
No progress in 19 days. @amanda-phet please put this on your list to discuss with @kathy-phet.

[2021-09-08 16:22] pixelzoom commented on #575
It looks like some (?) of the recommendations in https://github.com/phetsims/scenery-phet/issues/575#issuecomment-602847669 were done in the above commits, but the checklist items were not checked off.  And now this issue has been stalled out over 10 months.

@jessegreenberg what do we need to do to wrap this up?

[2021-09-08 16:24] pixelzoom commented on #563
I see StepForwardButton in TimeControlNode, and @jessegreenberg made some changes in the above commit for greehouse-effect.

@jessegreenberg what do we need to do to wrap this up?

[2021-09-08 17:45] jonathanolson commented on #700
Not allowing `DynamicProperty` by requiring a NumberProperty sounds like a problem.

[2021-09-08 19:08] zepumph commented on #700
Perhaps in an optimistic 2 months, we will have Typescript, and an overhauled axon, and therefore support for an interface that accepts (psuedo code) `Property & {range: Range}`

[2021-09-10 14:19] jessegreenberg commented on #698
In a meeting today, @zepumph pointed out that just turning on Voicing caused interactive highlights to appear in Friction.

[2021-09-10 22:39] jessegreenberg commented on #698
This bug was fixed by changing two things.

First, when changing the Interactive Highlight in InteractiveHighlight.js it was important to set the highlight invisible so that the HighlightOverlay is responsible for displaying it. Always setting it visible whenever the Node is "activated" by a Pointer missed important logic in HighlightOverlay.

Second, the check to prevent activating the Interactiv

[2021-09-10 22:56] jessegreenberg commented on #698
I don't anticipate any more changes here, even though https://github.com/phetsims/scenery/issues/1230 has a chance to rename some things. But I think this is ready for review.

@zepumph would you mind reviewing the changes to GrabDragInteraction. Changes can be found by searching for the added `grabInteractiveHighlight` and `dragInteractiveHighlight`.  The motivation for these changes is described

[2021-09-10 23:02] jessegreenberg commented on #699
Change seems reasonable to me. To review I just quickly tested passing a custom `shiftKeyboardStep` in `sliderOptions` to a NumberControl to verify the option worked. Closing.

[2021-09-10 23:02] jessegreenberg commented on #699
Oh, back to @pixelzoom from the request:

[2021-09-10 23:12] jessegreenberg commented on #695
voicingIcon.png has been removed from scenery-phet, closing.

[2021-09-10 23:12] #695 closed

[2021-09-10 23:35] jessegreenberg commented on #575
It looks like the recommendations from https://github.com/phetsims/scenery-phet/issues/575#issuecomment-602847669 were done and reviewed in https://github.com/phetsims/scenery-phet/issues/604 (thanks!).
The three above commits are showing up on 4/21/21 because they were done using copy-history-to-different-repo.sh when we moved molecules-and-light code into greenhouse-effect in https://github.com/

[2021-09-10 23:38] jessegreenberg commented on #380
I am fine closing this, if this is useful for development or requested by the design team someday we can add it. But it hasn't really come up since this issue was opened.

[2021-09-10 23:38] #380 closed

[2021-09-13 20:35] zepumph commented on #698
I general I feel not very up-to-date about these changes. I have a lot of questions about interactive highlights that may not apply to this review, but this is where I encountered them. Let me know if we should discuss in person instead of async in this issue.

- [ ] Can't we just use the focusHighlight by default? Is it already doing this without me realizing?

- [ ] Why do we specify this for fo

[2021-09-13 20:35] zepumph commented on #698
- [ ] Was BASE RC shas taken supporting Interactive Highlights? If so I would be worried about its implementation without addressing some of these concerns, but let's talk about it.

[2021-09-13 20:48] jessegreenberg commented on #563
The remaining work is to add something like https://github.com/phetsims/scenery-phet/issues/563#issuecomment-569961843 to StepButton and then add these assertions back https://github.com/phetsims/scenery-phet/commit/6d3ee9342b1f361694c621338dba32ed7c59da17.

I gave it a shot, but I didn't see a way to do this without adding another Property to StepButton to control whether its enabled. The result

[2021-09-13 21:54] jessegreenberg commented on #698
Thank you very much for the thorough review! Responding to each:

Often we can, but not for GrabDragInteraction because of https://github.com/phetsims/scenery-phet/blob/94f3080a46d8bd8f6500e833113d8adb7734eaba/js/accessibility/GrabDragInteraction.js#L346-L348. And so if `interactiveHighlightLayerable` is true it needs to be added to the scene graph on construction like the focus highlights.

Good

[2021-09-13 22:23] zepumph opened #701 "GrabDragInteraction interactive highlights could deviate between grab/drag cases"
From review in https://github.com/phetsims/scenery-phet/issues/698#issuecomment-918555053, I said:

Then @jessegreenberg said:

The case I am recommending that we support is the following:

[code]

This will not create appropriate drag highlights.

My recommendation is to support a "copy" function from FocusHighlightFromNode(), since it seems like that is really what we want here. And perhaps some

[2021-09-13 22:26] zepumph commented on #698
I think we should just leave it. I would rather not mess with focusHighlightLayerable logic. It has been working for quite some time, and its quite complicated.

Yes please. I trust you, and know that you are the person to do it and test that it is working as expected. Good luck!

[2021-09-13 22:27] zepumph commented on #698
Thanks @jessegreenberg, I am nervous to hear about BASE, but I'm also out of the loop about the entire feature and implementation. I defer to your judgement. Thanks for all this work! Especially since it has been so timely from my review earlier today.

[2021-09-13 23:13] zepumph opened #702 "GrabDragInteraction voicing should use ResponsePacket"
From https://github.com/phetsims/friction/issues/211, I see that the "Released" string is not in a voicing category yet. Let's fix that.

[2021-09-13 23:26] zepumph commented on #702
While I was here, I made it so that a statically created utterance was instead created per instance. I quite like that pattern, because it seems more sustainable and less likely to encounter weird bugs (though it is less important since the creation of utteranceWrapper).

@jessegreenberg, will you give me a spot check on the above? Please note that I'm totally in love with `Utterance.alert` suppor

[2021-09-14 16:45] pixelzoom commented on #699
👍🏻 closing.

[2021-09-14 16:45] #699 closed

[2021-09-14 16:47] pixelzoom commented on #575
👍🏻 closing

[2021-09-14 16:47] #575 closed

[2021-09-14 20:30] jessegreenberg opened #703 "Default behavior for showDragCueNode"
In https://github.com/phetsims/balloons-and-static-electricity/issues/534, it was requested that the drag cue node be hidden after a successful keyboard drag. This seems like a reasonable default, but the default behavior for showDragCueNode is to always be shown.

In https://github.com/phetsims/balloons-and-static-electricity/issues/534 I hade to implement create a variable that represents if the

[2021-09-14 20:51] zepumph commented on #703
That sounds totally fine, and like the way we should proceed. I would recommend making numberOfKeyboardDrags public and read-only, because we may want to use it in the future to show the drag cue for the first X drags instead of just until 1 success.

I also want to note again that I am not really much of a fan of having keyboardDragListener be a required argument. It feels much more valuable to s

[2021-09-23 20:52] jessegreenberg commented on #563
@zepumph helped think through another possibility where we remove option `isPlayingProperty` from StepButton and just pass an `enabledProperty` to it instead.  The default enabledProperty is a DerivedProperty whose value is `!isPlayingProperty.value`. If clients want to use their own `enabledProperty` they will be responsible for including the state of `isPlayingProperty` in the derivation (if the

[2021-09-23 22:26] jessegreenberg commented on #563
Changes made above. @pixelzoom would you mind reviewing this change to StepButton and TimeControlNode?

[2021-09-28 03:43] pixelzoom commented on #563
The approach described in https://github.com/phetsims/scenery-phet/issues/563#issuecomment-926144825 sounds good.   I reviewed https://github.com/phetsims/scenery-phet/commit/73a95427e97bef1d7cb3f03b3cf3d73dfb6c35fb, spot-checked the other commits, and didn't see any obvious problems.   So I think this is ready to close.

[2021-09-28 03:46] pixelzoom commented on #563
Oops, I see that @arouinfar was also assigned here.  So I'm not sure if I should have closed this. Is there still some design sign-off required?  Back to @jessegreenberg in case there's more to do here.

[2021-09-29 17:19] terracoda opened #704 "Visual Keyboard hint shows up on mobile ios platform"
I just noticed I get the keyboard hint for the grab button when using my iphone.
The spoken content and hints delivered through VoiceOver are correct.
- Yellow Balloon, movable
- PDOM Help text: Double tap and hold to grab Yellow Balloon. Lift to release.
- Upon first grab correct platform-specific help text: Yellow Balloon, Grabbed. At center of Play Area. Has no more negative charges than positi

[2021-09-29 17:35] zepumph commented on #704
This applies to grab drag interaction in general, so I moved it to scenery-phet.

Right now the running theory is that when GFL was published (our first mobile a11y grab drag interaction), iOS wouldn't move focus around, but instead just the virtual cursor. This has since changed with iOS 14.

@terracoda does not get the visual hint in the published version of GFL. We think that this was published

[2021-09-29 20:50] arouinfar commented on #563
Yes, that makes sense to me. The state of the step buttons should be determined by the state of the PlayPauseButton. It seems messy to let clients override the `enabledProperty`.

Here's a possible use case:
* Client wants students to make a prediction or take some measurements with a sim in a particular paused state.
* Using the step buttons could reveal the answer or lead to students examining d

[2021-09-29 20:50] #563 closed

[2021-10-08 22:34] jessegreenberg opened #705 "NumberDisplay shouldn't use groupFocusHighlight if it doesn't use ArrowButtons"
It looks strange.

<img width="216" alt="Screen Shot 2021-09-30 at 9 05 59 PM" src="https://user-images.githubusercontent.com/6396244/136602051-115e5268-1e1e-4395-a62b-41522afee9dc.png">

[2021-10-13 21:20] pixelzoom opened #706 "Factor PlusShape out of PlusNode."
PlusNode creates a Shape that looks like a mathematical plus symbol.  In GeometricOptics, PlusNode is rotated by -Math.PI/4 to produce a mathematic times symbol, used for the focal points.  The problem with rotating PlusNode like this is that the bounds are unnecessarily large, and it messes up spacing when used as a checkbox icon:

<img width="369" alt="screenshot_1341" src="https://user-images.g

[2021-10-13 21:26] pixelzoom commented on #706
Done in the above commit.  Spot-checked in various sims that use PlusNode.  And it looks nicer using PlusShape in Geometric Optics, screenshot below.

@chrisklus randomly selected to review.

<img width="216" alt="screenshot_1342" src="https://user-images.githubusercontent.com/3046552/137214334-4f01adee-91a8-48bb-9c76-89b5c3929cf4.png">

[2021-10-14 21:56] #706 closed, assigned to pixelzoom

[2021-10-19 15:05] #696 closed

[2021-10-19 16:41] samreid commented on #563
I ran `grunt generate-phet-io-api` in `gravity-and-orbits` and the changes seemed reasonable.  Reassigning to @jessegreenberg to spot check and see if other phet-io APIs need to be regenerated.

[2021-10-19 17:12] jessegreenberg commented on #563
Thanks @samreid, sorry I am not sure how gravity-and-orbits got missed.  APIs were updated generally in https://github.com/phetsims/phet-io/commit/1f9193d540aa313d4f197848838c6694dfd14cac.

I pulled all and ran ```perennial/bin/for-each.sh phet-io-api-stable grunt generate-phet-io-api```. I saw changes for states-of-matter but it didn't seem related to TimeControlNode.

[2021-10-19 18:04] zepumph commented on #698
I don't think there is anything else left for this. @jessegreenberg?

[2021-10-25 20:53] KatieWoe opened #708 "GrabDragInteraction doesn't support touchSnag"
**Test device**
Dell and iPad
**Operating System**
Win 11 and iPadOS 14
**Browser**
Chrome and Safari
**Problem description**
For https://github.com/phetsims/qa/issues/721. When picking up the balloon with touch when interactive highlights are on, one of two things can happen. If picked up directly the highlight is a dotted line indicating it is grabbed. If you swipe to pick up, the out line is so

[2021-10-25 21:12] jessegreenberg opened #707 "Remove unnecessary lines in GrabDragInteraction"
From https://github.com/phetsims/scenery-phet/issues/698, it seems like there are lines in GrabDragInteraction that are unnecessary related to setting visibility in `updateFocusHighlights`. The focus highlights are made invisible but the HighlightOverlay should be doing this for us automatically.

In this issue I will verify they can be removed, then remove and test.

[2021-10-25 21:19] #707 closed, assigned to jessegreenberg

[2021-10-28 17:04] pixelzoom opened #709 "ProfileColorProperty doesn't verify that 'default' is provided."
Looking at the implementation of ProfileColorProperty and colorProfileProperty.js, there's an assumption that each ProfileColorProperty has at least a 'default' (`SceneryConstants.DEFAULT_COLOR_PROFILE`) profile.  That's not verified anywhere in ProfileColorProperty.

So if I do something like this:

[code]

... it fails with:

[code]

So we probably need to add something like this to the top of P

[2021-11-01 19:17] jessegreenberg opened #710 "GrabDragInteraction issues with mouse/touch and alternative input"
Initially discovered in https://github.com/phetsims/balloons-and-static-electricity/issues/553 as a Firefox issue but then identified as a general problem when switching between mouse/touch and alternative input while using GrabDragInteraction in https://github.com/phetsims/balloons-and-static-electricity/issues/553#issuecomment-956499944.

There are cases where the Node of the GrabDragInteraction

[2021-11-02 16:21] samreid commented on #709
I added assertions that the default color is specified, @pixelzoom can you please review?

[2021-11-02 17:43] pixelzoom commented on #709
👍🏻 closing

[2021-11-02 17:43] #709 closed

[2021-11-10 17:53] zepumph opened #711 "labelWithIconList needs readingBlockContent implementation"
Reported over in https://github.com/phetsims/friction/issues/262, looks like this was added for `labelWithIcon`, but not `labelWithIconList`.

[2021-11-10 18:02] zepumph commented on #711
@jessegreenberg can you please review?

[2021-11-11 20:47] zepumph opened #712 "branch: altInputToolbox"
For prototyping work to be done in phetsims/a11y-research#166

[2021-11-13 02:44] samreid opened #713 "Limit the maximum number of charges that can be shown on a capacitor plate"
From https://github.com/phetsims/circuit-construction-kit-common/issues/772, it is sometimes trying to draw 60,000 or more charges on one plate, which yields poor performance.  PlateChargeNode already has a `NUMBER_OF_PLATE_CHARGES` range, but its max is not being respected.

I tested fuzzing and manually testing Capacitor Lab Basics, and could only get it to try for up to 625, the declared max fo

[2021-11-13 02:51] samreid commented on #713
Fixed in the commit, and I confirmed it fixes the performance problem described in https://github.com/phetsims/circuit-construction-kit-common/issues/772#issue-1045197327.  @jessegreenberg can you please review, or please reassign if another developer is more appropriate for this review?

[2021-11-15 15:16] samreid commented on #713
Elevating priority since this is needed for the CCK AC milestone.

[2021-11-16 17:34] jessegreenberg commented on #713
This change looks good to me! Thanks for the fix.

[2021-11-16 17:57] samreid commented on #713
Thanks, closing.

[2021-11-16 17:57] #713 closed

[2021-11-19 19:02] jessegreenberg commented on #710
Potential fix for this, where we can interrupt the DragListener:

<details>

[code]
</details>

Works well, but I wanted to do a bit more spot testing before committing.

[2021-12-16 21:31] pixelzoom opened #714 "Better names for keyboard-help section classes?"
PhET convention is name things based on how they appear on the screen when possible. This makes it easier to locate code.

Would it be possible to rename the predefined keyboard-help sections so that their titles match their class names?  That would make it a lot easier to find what I need, and to understand code that I'm not familiar with.

Some examples...

| title  | class name | better class n

[2021-12-16 21:39] pixelzoom opened #715 "Problems with ComboBoxKeyboardHelpSection"
This came up in https://github.com/phetsims/geometric-optics/issues/281.

`ComboBoxKeyboardHelpSection` provides keyboard-help content for a _specific_ combo box. The template looks like the screenshot below, where you fill in the blank with a name for the thing you're choosing.

Providing keyboard help for each individual combo box is not scalable - what if we have 3 combo boxes on a screen, like

[2021-12-16 23:17] jessegreenberg commented on #715
@zepumph what do you think of this patch? It makes the default heading string a little more general. I wasn't sure about this at first because usually a custom string is requested for headings in this dialog, but then I noticed the molarity usage passed a `thingAsTitle` but it wasn't used. We would check "Use a Combo Box" with design.

<details>

[code]

</details>

[2021-12-16 23:22] jessegreenberg commented on #714
Yes, this sounds good. The title for the general section used to be called "General Navigation" but it changed to "Basic Actions" and we didn't update the class name. Ill rename these.

[2021-12-16 23:53] jessegreenberg commented on #714
OK, I renamed

GeneralKeyboardHelpSection -> BasicActionsKeyboardHelpSection
SliderKeyboardHelpSection -> SliderControlsKeyboardHelpSection
SliderAndGeneralKeyboardHelpContent -> SliderControlsAndBasicActionsKeyboardHelpContent

The rest of the names seem appropriate to me, reassigning to @pixelzoom in case there is anything else.

[2021-12-17 00:02] pixelzoom commented on #714
Thanks for the quick turnaround on this, it will definitely make things easier going forward.

It looks like you hadn't done a pull-all before renaming, because this broke Geometric Optics. Fixed in the above commit.

Everything else looks good, closing.

[2021-12-17 00:02] #714 closed

[2021-12-21 18:07] arouinfar commented on #715
Just to throw in my 2 cents... I'm all for a general heading, but I'm not convinced that the average user is familiar with the term "Combo Box". I'd never heard the term before working for PhET. I would suggest using something like "Dropdown" or "Dropdown menu".  I know that not all ComboBoxes  open downwards, but I think users would be able to identify an upward-opening ComboBox as a "Dropdown".

[2021-12-21 18:48] pixelzoom commented on #715
I'm fine with using a term other than "combo box".

As in https://github.com/phetsims/scenery-phet/issues/714, class name should reflect the title, to make it easy to find.

[2021-12-22 21:15] zepumph commented on #715
Thanks for the great patch @jessegreenberg. I think that is perfect. I contemplated updating the heading option to just be a "thing" and forcing us to fill in a generic pattern, like "use a ___", but that seems too rigid. Just as is seems perfect. Just update it to whatever term we decide for "combo box."

[2022-01-04 00:57] pixelzoom opened #716 "Problems with implementation and help-content for hotkeys."
The way that hotkeys are specified seems odd (and brittle) to me.  For example, in BASE BalloonNode.js, here’s the implementation of J+W, which moves the balloon to the wall:

[code]

Here’s the corresponding help implementation in BASEKeyboardHelpContent.js:

[code]

Two major problems:

* There are two entirely different ways of specifying J+W.  There are even two different ways of specifying th

[2022-01-04 01:00] pixelzoom commented on #716
This might be a duplicate issue.  I know that I encountered this same problem when working on Fourier back in June 2021, but don’t recall if I reported it, or which repo it might have been in.

[2022-01-04 01:26] pixelzoom commented on #715
This is blocking completion of https://github.com/phetsims/geometric-optics/issues/281.

[2022-01-04 01:39] pixelzoom opened #717 "Should "descriptions" be optional in APIs for keyboard-help content?"
My understanding is that alternative input is becoming a standard part of PhET sims, while "descriptions" are not likely to be fleshed out for some time.  So would it make more sense to make descriptions optional in the API?

Most (all?) of the API for creating keyboard-help content treats descriptions as required.  They are required parameters to functions. Examples that I encountered while worki

[2022-01-04 01:49] pixelzoom commented on #715
Another problem with the current implementation.   The API allows you to supply a value for the `{{thingTitle}}` placeholder in this pattern that appears in scenery-phet-strings_en.json:

[code]

Any `{{thingTitle}}` that starts with a vowel should be preceeded by "an", e.g. "Choose an apple."

[2022-01-04 01:53] pixelzoom commented on #715
Doing a search for combo box synonyms, "drop-down list"  comes up quite a bit.  If the name of this things is going to be "down", then consider changing the text for the first "step" in the help, which is "Pop up list of options".

[2022-01-04 15:50] terracoda opened #718 "Inconsistant speech from VoiceOver with GrabDragInteraction implementions"
From Slack:

Though, it could be something to do with VoiceOver in particular. I have been starting to hear "article" more in the most recent releases of MacOS.

We could consider not using the `article `element until it is better supported by VoiceOver as suggested in https://github.com/phetsims/a11y-research/issues/164. But I also wanted to know why in our implementation there are differences as

[2022-01-04 15:53] terracoda commented on #718
Assigning to @jessegreenberg, but anyone who has time could have a look. It would be nice (if possible) to sort this out for the release next release of Friction and Ratio and Proportion.

[2022-01-04 15:54] terracoda commented on #718
Oh, since the next sims to be published are @zepumph 's sims, I'll assign to both.

[2022-01-04 15:55] terracoda commented on #718
@pixelzoom, you may be interested in this issue as you are currently working on a custom drag interaction, so just tagging you, too.

[2022-01-04 16:05] pixelzoom commented on #718
Thanks @terracoda.  No custom drag interactions in Geometric Optics at this time. But good to know about this in case that changes.

The things in Geometric Optics that would require custom drag interaction (and potentially UI sound design) are the framed "objects", light sources, projection screen, and rulers (see https://github.com/phetsims/geometric-optics/issues/235).   So far, the plan is tha

[2022-01-04 17:57] zepumph commented on #717
Yes that is a correct summary. It should be an option. Our goal was to limit the confusion description. I'll see how many usages there are and try to take care of them, if its too much for today I may give up though.

[2022-01-04 18:59] zepumph commented on #717
labelWithIconList is complete. It took longer than I would like, but I kinda feel too in it now. I'll keep going.

[2022-01-04 19:04] pixelzoom commented on #717
I said:

Now that descriptions will be optional, I'd prefer to remove those options from my sims that don't have descriptions (fourier, geometric-optics), and remove the placeholders from the strings.json file.  Does that seem reasonable @zepumph?

[2022-01-04 19:05] zepumph commented on #717
Whatever you would prefer, but will you please wait for my refactor to complete?

[2022-01-04 19:15] pixelzoom commented on #717
Yes, I'll wait for this issue to be closed.

[2022-01-04 19:47] zepumph commented on #717
Alright. `labelInnerContent` is now an option. There were many helper functions that used the primary `labelWithIcon` function, so there were a fair number of functions changed in KeyboardHelpSection (along with their usages). local fuzzing is passing.

@pixelzoom, can you please review. Does this feel like a better API to you?

@pixelzoom, where you passed `''`, I just removed it, where you creat

[2022-01-04 20:27] pixelzoom commented on #717
This is a much nicer API, and a better match for PhET's current "alt input now, descriptions later" approach.

In the above commits, I removed the description placeholders from geometric-optics and fourier-making-waves.

Closing.

[2022-01-04 20:27] #717 closed

[2022-01-12 17:33] jessegreenberg opened #719 "Utility function to get a description for a value from a range"
Something like this would be helpful to have support for in common code, but generalized: https://github.com/phetsims/greenhouse-effect/blob/9d5ab592588e1c3b4aa29c7bde52b582695ad529/js/common/view/describers/ConcentrationDescriber.ts#L94-L118

Could take a range, array of strings that describe values over the range, and current value.

[2022-01-12 22:21] jessegreenberg commented on #715
This came up in the quarterly planning meeting for QA 2022, it blocks publication of geometric-optics.

[2022-01-12 22:50] markgammon commented on #283
Reopening and turning to an epic

[2022-01-25 18:20] zepumph opened #720 "PhET-iO instrumentation for GrabDragInteraction"
From https://github.com/phetsims/friction/issues/236#issuecomment-940505198, it would be good to understand if there is anything to add to the interoperability. In general, I feel like this isn't. A design meeting may be nice though.

[2022-01-27 19:36] arouinfar commented on #720
@zepumph there needs to be a way to disable the GrabDragInteraction pressListener. Otherwise, you can do something like set `atomDragArea.inputEnabledProperty` to false, but it will still be focusable and provide the "Space to Grab or Release" hint which won't actually work.

[2022-01-31 17:19] zepumph opened #721 "Added faucetNode.enabledProperty to PhET-iO API"
Over in https://github.com/phetsims/scenery/issues/1340 there was consolidation of the enabledProperty passed to AccessibleSlider, and the one created in Node and automatically instrumented. As a result, FaucetNode is now instrumenting its enabledProperty whereas before it wasn't. This is in general an improvement, and likely if faucetNode was more complete, it would have had this anyways, but I s

[2022-01-31 17:22] zepumph commented on #721
@arouinfar, please take a look at the above updates in ph-scale and energy-forms-and-changes. For example, in EFAC, we were passing faucetNode an instrumented Property for its enabledProperty already, and Node was smart enough to register a linkedElement for us, see

`energyFormsAndChanges.systemsScreen.view.energySources.faucetAndWaterNode.faucetNode.enabledProperty`

[2022-02-01 16:30] pixelzoom opened #722 "CT: FlowConstraint assertion failures"
CT is reporting 2 different failures in FlowConstraint.js:

[code]

[code]

[2022-02-01 16:40] jonathanolson commented on #722
Thanks, looking into it (working on related logic right now).

[2022-02-04 04:30] arouinfar commented on #721
@zepumph the `faucetNode.enabledProperty` looks good in EFAC and ph-scale. In both cases, the `enabledProperty` is read-only, which I think is the right call. I'll go ahead and close, thanks!

[2022-02-04 04:30] #721 closed

[2022-02-09 22:02] pixelzoom opened #723 "Mulit-key hotkeys are behaving oddly."
I have 2 hotkeys, defined like this:

[code]

What I’m seeing is that the callback for J+O+1 is firing as soon as I type J+O, and I can’t get J+O+2 to fire at all.  Have hotkeys been tested with > 2 keys?

I'm considering using hotkeys like this in Geometric Optics, where we have multiple optical Objects (O) and Images (I).

[2022-02-14 23:58] pixelzoom commented on #715
We made some improvements to the keyboard help in Geometric Optics, so that we're no longer referring to "combo box".  But `ComboBoxKeyboardHelpSection` makes the rather unfortunate assumption that all nouns begin with a consonant.  So instead of "Choose an Object", we currently have "Choose a Object".  See below.

<img width="373" alt="screenshot_1556" src="https://user-images.githubusercontent.c

[2022-02-15 14:22] pixelzoom commented on #715
I think the patch proposed by @jessegreenberg in https://github.com/phetsims/scenery-phet/issues/715#issuecomment-996267439 is a fine solution, with the caveat that the default "Use a Combo Box" may need to be changed to something more "friendly".   Other than geometric-optics, there are only 2 usages of ComboBoxKeyboardHelpSection (molarity, ratio-and-proportion).   I'd be happy to handle applyin

[2022-02-15 14:25] pixelzoom commented on #715
One change from @jessegreenberg's patch...  I think we should remove this scenery-phet strings:

[code]

... because of the "a" versus "an" problem.  It would be preferrably to just have the clients provide the full title, e.g. "Choose a solute" in molarity and "Choose a Challenge Ratio" in ratio-and-proportion.

[2022-02-15 14:35] pixelzoom commented on #715
Interesting that in molarity, the usage is:

[code]

So the first constructor arg is thrown away, because it's providing option `headingString`.

[2022-02-15 14:55] pixelzoom commented on #715
@jessegreenberg I hope you don't mind... But since I had already prototyped 90% of this in my working copy, I took the liberty of completing the work in the above commits.  The existing usages still look the same (see screenshots below), clients provide the full heading via `options.headingString`, and the "a" vs "an" problem no longer exists.

The default header (currently "Use a Combo Box") stil

[2022-02-16 19:52] jessegreenberg commented on #715
Changes look great, thanks for taking this on. I reviewed usages of ComboBoxKeyboardHelpSection, all seems well. My understanding is that we cannot remove keys in translatable strings files once they have been used in a translation so I added back `keyboardHelpDialog.comboBox.chooseAThingPattern"`. Ill ask @jbphet if we can remove this and also check on the best term for "Combo Box".

[2022-02-16 20:48] jessegreenberg commented on #715
I discussed with @terracoda the right default name for this UI component. I suggested "dropdown" but she argued that our ComboBox can open up or down, and that would clash with our help content for ComboBox items which uses terminology "Pop up...". She suggested "Choose an option", but I argued that the user wouldn't identify "option" as the ComboBox UI component, "option" could refer to anything.

[2022-02-16 21:11] jessegreenberg commented on #715
@pixelzoom could you please review this rename change and decision since it is similar to https://github.com/phetsims/scenery-phet/issues/714?