[2019-02-08 00:22] pixelzoom commented on #283
And if `alternativeValidator` goes away:

[code]

[2019-02-08 21:58] arnabp opened #463 "ThermometerNode should have ability to access linear function inverse"
A temperatureToHeight function was added previously to allow public access to the linear function, but the inverse was never added. A heightToTemperature function should be made to allow to allow for temperature thumb mapping.

Feature needed for https://github.com/phetsims/sun/issues/473 and phetsims/blackbody-spectrum#61

[2019-02-08 22:01] arnabp commented on #463
Assigning @jbphet for code review

[2019-02-14 17:41] pixelzoom opened #464 "NumberPicker: simplify computation of pointer areas"
Noted while working on https://github.com/phetsims/graphing-lines/issues/124.

NumberPicker's computation of pointer areas is unnecessarily complex:

[code]

It would be much simpler to use `localBounds.dilatedXY`, i.e.:

[code]

[2019-02-14 17:52] pixelzoom commented on #464
Ah, never mind.  The dilation is not symmetric, see screenshot below.  Closing.

<img width="163" alt="screenshot_1059" src="https://user-images.githubusercontent.com/3046552/52806569-90ff3880-3046-11e9-9662-84bede0ba5d2.png">

[2019-02-14 17:52] #464 closed

[2019-02-18 16:41] pixelzoom opened #465 "focusHighlight for ResetAllButton"
In ResetAllButton:

[code]

Why is this in ResetAllButton?

Shouldn't this be the default for all subclasses of RoundPushButton, with an option for how much to dilate the radius?

[2019-02-18 16:56] jessegreenberg commented on #465
Absolutely, and we can go one further and put it in RoundButtonView.

[2019-02-19 01:38] pixelzoom opened #466 "Change StepButton constructor?"
Related to https://github.com/phetsims/wave-interference/issues/342.

Compare `PlayButton` and `StepButton` constructor APIs:

[code]

Why are they different?  Should `isPlayingProperty` be a required parameter for `StepButton`?

The only clients now are wave-interference and gas-properties, so this would be a good time to change.

@samreid your opinion?

[2019-02-19 01:44] pixelzoom commented on #466
Hmm... StepForwardButton extends StepButton, and is used by many sims, so this change would be more involved than expected.

Also wondering if wave-interference and gas-properties should be using StepForwardButton?

[2019-02-19 01:47] pixelzoom commented on #466
Oh my. StepForwardButton and StepBackwardButton totally fail if you don't pass them options. I'll fix that in the next commit.

[2019-02-20 19:26] jessegreenberg commented on #465
Oh, that line of code already exists in RoundButtonView and is duplicated. So we can remove from ResetAllButton and add the option.

[2019-02-20 19:33] jessegreenberg commented on #465
Done in the above commits, @pixelzoom would you please take a look and close if all is well?

[2019-02-21 17:06] pixelzoom commented on #465
👍 Closing.

[2019-02-21 17:06] #465 closed

[2019-02-21 23:35] jbphet commented on #463
@arnabp and I reviewed this together and made some changes to the function names.  I think our work here is done, closing.

[2019-02-21 23:35] #463 closed

[2019-02-22 21:40] pixelzoom opened #467 "transparency for HeaterCoolerNode"
Gas Properties is the first sim where I've used `HeaterCoolerNode`.  Something that I noticed immediately is that the "cooler" image (ice cubes) is transparent, while the "heater" image (flames) is opaque.  For example:

<img width="135" alt="screenshot_1077" src="https://user-images.githubusercontent.com/3046552/53272781-77e23180-36af-11e9-9676-b2af21ece4bd.png"> <img width="132" alt="screenshot_

[2019-02-25 18:50] jbphet commented on #467
Sure, transparent flames sounds good, or at least worth a try.  Please make sure it looks decent in the sims that use it before committing.

[2019-02-25 19:24] pixelzoom commented on #467
@jbphet said:

`HeaterCoolerNode` is used in gas-properties and states-of-matter.
`HeaterCoolerBack` is used in energy-forms-and-changes.

The opacity of the ice cubes is 80% (ice-cube-stack.ai).  So a good starting place for the flames (flame.ai) would be 80%.    That would look like this in gas-properties:

<img width="129" alt="screenshot_1080" src="https://user-images.githubusercontent.com/304

[2019-02-25 21:03] pixelzoom opened #468 "TimerNode: bad propagation of options"
In TimerNode.js:

[code]

Line 69 is needed because all options (including transforms) are being propagated to `TimerReadoutNode`.   While this hack may work for translation, it doesn't address other transforms.   Introduced in https://github.com/phetsims/scenery-phet/commit/25570409f9856df5a23586cecd11b2d3bcaacfb by @samreid.

`TimerReadoutNode` options should be either cherry-picked or nested (p

[2019-02-25 21:09] pixelzoom commented on #468
Affected sims:

- [ ] capacitor-lab-basics (passing `scale: 0.6`)
- [ ] masses-and-springs (calling `scale( 0.5 )` after instantiation)
- [ ] wave-on-a-string
- [ ] gas-properties (passing `unitsNode`)
- [ ] wave-interference (passing `unitsNode`)

[2019-02-25 21:41] arouinfar commented on #467
@pixelzoom at first, this seems like a natural adjustment to make, but it's actually a bit tricky.

Looking at ice-cube-stack.ai, the individual ice cubes have 80% opacity to create the illusion of a stack of ice cubes. There's quite a bit of overlap between ice cubes, so the apparent opacity of the ice-cube-stack is greater than 80%. To me, the fire looks too transparent in https://github.com/phe

[2019-02-25 21:46] pixelzoom commented on #467
Looks odd to me, but OK, leaving alone.

[2019-02-25 21:46] #467 closed

[2019-02-25 23:54] pixelzoom opened #469 "insufficient doc for PlayAreaNode and ControlAreaNode"
This identical doc appears in PlayAreaNode and ControlAreaNode:

[code]

Problems:

(1) Copy-paste error in ControlAreaNode.

(2) This doc provides no meaningful information.  I.e. what is "a Play Area accessible section", what are its responsibilities, etc.

[2019-02-25 23:56] pixelzoom commented on #469
Btw... I ended up here because instances of these nodes were added (also without documentation) to Molarity, a sim for which I'm the responsible developer.

[2019-02-26 02:31] ariel-phet commented on #468
@Denz1994 can you handle this as I believe you are pretty familiar with TimerNode these days?

[2019-02-26 18:18] Denz1994 commented on #468
`TimerNode.js` now uses nested options for `TimerReadoutNode.js`. The signiture for these options are as follows:

[code]

[code]
Defaults for these fields are defined in `TimerNode.js`. The default values for `largeFont` and `smallFont` have been added as statics to maintain compatibility with callsites (see `Gas_Properties/js/common/view/StopWatch.js` constructor `options`).

The refactor to cal

[2019-02-26 18:20] Denz1994 commented on #468
Fixing conflict during push.

[2019-02-26 18:24] Denz1994 commented on #468
Ready for feedback @pixelzoom.

[2019-02-26 19:24] pixelzoom commented on #468
Moving in the right direction, but there are some issues:

(1) I didn't notice that TimerReadoutNode doesn't have an `options` parameter, it has `config`.  Why it has `config` is a question for @samreid. It doesn't make much sense to me, and it's not at all robust because there's no verification for most of the `config` fields.  I recommend to convert to `options`, and move defaults from  TimerNod

[2019-02-26 20:36] pixelzoom commented on #468
Reviewing again because it looks like I pulled in the middle of a merge conflict.

Looks like (3) above was properly addressed, so ignore that one.  The others are still relevant.

[2019-02-28 21:50] pixelzoom opened #470 "NumberPicker: add enabledProperty"
In https://github.com/phetsims/graphing-quadratics/issues/112 and https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#heading=h.8ee6hb1jovtf, we need the ability to enable/disable NumberPicker, via `enabledProperty`.

The fastest way to do this would be to add it to NumberPicker directly, using the same boilerplate that has been used for other UI components.  The m

[2019-03-02 00:20] pixelzoom commented on #470
@ariel-phet since this is a new feature, and "enabled" pattern is well understood, I'm going to self-assign and proceed.  I'm going to add boilerplate, which can be factored out later as part of phetsims/sun#257.

[2019-03-02 00:29] pixelzoom commented on #470
Implemented and testing in various sims.  Also confirmed `enabledProperty` can be controlled in Studio, in the context of Graphing Quadratics.  I have not determined how to "feature" `enabledProperty` (or other internal Properties), but that seems like a more general issue that can be investigated separately.

@ariel-phet please assign someone to review.

[2019-03-02 00:49] pixelzoom opened #471 "NumberPicker has Properties that should not be instrumented"
Noted while working on Graphing Quadratics PhET-iO instrumentation, https://github.com/phetsims/graphing-quadratics/issues/112.

NumberPicker looks really complicated in Studio "All" mode. E.g. for the 'a' coefficient picker:

<img width="215" alt="screenshot_1101" src="https://user-images.githubusercontent.com/3046552/53674261-ee4fd800-3c49-11e9-91e4-d4b7f974278c.png">

This may be vestigial from

[2019-03-04 18:30] zepumph commented on #471
That seems reasonable to me. There is no reason to expand an already complicated api until it is asked for.

If a user wanted to know if the picker can be incremented more, then that should be done through the NumberProperty passed into the picker, and its associated range (so basically in the model instead of the view).

I'm in favor of picker having the following API:
* enabledProperty
* visible

[2019-03-04 19:08] pixelzoom commented on #471
@samreid @zepumph are you aware of any sims or clients that are relying on upStateProperty. downStateProperty, upEnabledProperty, downEnabledProperty?  Is it safe for me to remove them?

[2019-03-04 22:24] samreid commented on #471
I'm not aware of any usages.   Those 4 properties are either private or closure variables, and we have not published stable API simulations yet, so it is still safe to remove features like that.

[2019-03-04 23:14] pixelzoom opened #472 "NumberPicker fields should be local variables"
Noticed while working on #471.  These 2 Properties are not used outside of the constructor, and do not need to be instance fields. They should be local variables.

[code]

[2019-03-04 23:19] pixelzoom commented on #471
Instrumentation of internal Properties removed in the above commit.   Screenshot below shows an example, `graphingQuadratics.standardFormScreen.view.equationAccordionBox.interactiveEquationNode.aPicker`.

@zepumph would you please review?

<img width="205" alt="screenshot_1102" src="https://user-images.githubusercontent.com/3046552/53769469-344eab00-3e99-11e9-8341-18e760fba713.png">

[2019-03-04 23:25] pixelzoom opened #473 "classes are accessing private fields of trait AccessibleNumberSpinner"
NumberPicker is accessing private fields of trait AccessibleNumberSpinner.

AccessibleNumberSpinner:

[code]

NumberPicker:

[code]

Should these fields be `@protected`?

Are there any other fields that are intended to be accessed by the class that this trait is mixed into?

[2019-03-04 23:26] pixelzoom commented on #473
I see the same issue in `NumberSpinner` with these fields:

[code]

[2019-03-04 23:39] pixelzoom opened #474 "memory leak in NumberPicker"
Noted while working on https://github.com/phetsims/scenery-phet/issues/472.

NumberPicker's constructor has parameter `{Property.<number>} valueProperty`.   It links `valueObserver` to `valueProperty`.  `valueObserver` is not unlinked from `valueProperty` in `disposeNumberPicker`.  This is a memory leak.

[2019-03-04 23:40] pixelzoom commented on #472
There are quite a few fields that should be local variables. I'm guessing that this is vestigial, from the days before ` this.disposeNumberPicker` was added and more things needed to be accessible in `dispose`.

Here's the list of `@private` fields that should be local variables.

this.colorProperty
this.valueProperty
this.valueObserver
this.upEnabledProperty
this.downEnabledProperty

[2019-03-04 23:46] pixelzoom commented on #474
False alarm. `self.valueObserver` is unlinked in `disposeNumberPicker`.

[2019-03-04 23:46] #474 closed

[2019-03-04 23:49] pixelzoom commented on #472
Fields converted to local variables in the above commit.  Since these fields were all `@private`, I did not exhaustively test sims that use NumberPicker.  I tested a cross-section.   If a sim is using one of these `@private` fields, it will break in CT and should be fixed.

[2019-03-04 23:50] pixelzoom commented on #472
@ariel-phet please assigning someone to review.

[2019-03-04 23:54] pixelzoom commented on #461
Reopening.  I just noticed that disposeFineCoarseSpinner is unlinking without checking `hasListener`.  If `valueProperty` or `enabledProperty` is disposed by the client before FineCoarseSpinner is disposed, this will fail:

[code]

[2019-03-04 23:56] pixelzoom commented on #461
Fixed in the above commit. @jessegreenberg feel free to take a peek.  But I'm going to (re)close since this change was so trivial.

[2019-03-04 23:56] #461 closed

[2019-03-05 00:02] pixelzoom opened #475 "check hasListener before unlink in dispose"
AccessibleNumberSpinner:

[code]

Need to check `hasListener` before calling `unlink`.  If the client has called dispose on `valueProperty` or `enabledProperty` before disposing of the component that has trait AccessibleNumberSpinner, the `unlink` call will fail.

Potentially the same problem in AccessibleSlider:

[code]

[2019-03-05 00:21] zepumph commented on #381
Today @twant and I (but mainly @twant) had a good idea of trying not to add children to `ScreenView.screenSummaryNode` but instead passing a node up in the ScreenView constructor.

This sounds much nicer and cleaner to me, and would change these lines in MolarityScreenView.js:

[code]

into
[code]

And if you need to add children later, you could create a container yourself, pass it up, and then a

[2019-03-05 16:37] samreid commented on #470
I skimmed the change sets and tested in Graphing Quadratics studio.  All seems well.  My only question is about the latter commit: https://github.com/phetsims/scenery-phet/commit/1c0a1a764e1b29c8620604310203690c62badd21

In what circumstance would the `else if` predicate be false?  `self.enabledProperty.hasListener( enabledListener )`.  Should we add a code to clarify that case?

[2019-03-05 17:07] Denz1994 commented on #468
(1) From [software-design-patterns](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md) doc:

`config.maxValue` is a required parameter in `timerReadoutNodeOptions`, so a config pattern seems appropriate here. Because `config.maxValue` is the only required parameter, it is the only parameter that needs verification. Verification is currently limited to:

[code]

[2019-03-05 17:10] Denz1994 commented on #468
From my above [comment](https://github.com/phetsims/scenery-phet/issues/468#issuecomment-469765776):

Is this accurate @samreid? Or should we refactor this into using an options pattern?

[2019-03-05 17:16] pixelzoom commented on #470
@sam is asking about this

[code]

The `else if` occurs when the client has provided `options.enabledProperty`.  If the client disposed `enabledListener` before the `NumberPicker` instance, then `enabledListener` will no longer be a listener of `enabledListener`, and the `unlink` would fail (see Emitter `removeListener`, line 174).

This shouldn't need documentation here.  This needs to be done fo

[2019-03-05 17:19] pixelzoom commented on #470
To clarify the previous comment...  If you `link( someListener )` to a `{Property} someProperty` that you don't own, you should always check `someProperty.hasListener( someListener )` before doing `someProperty.unlink( someListener )`.  You don't know if the owner has called `someProperty.dispose()` before you called  `someProperty.unlink( someListener )`, and you shouldn't be relying on ordering

[2019-03-05 17:32] pixelzoom commented on #468
From https://github.com/phetsims/scenery-phet/issues/468#issuecomment-469765776:

There is currently no such documentation, and that's another problem.

`config.largeFont` and `config.smallFont` are also required, see lines 35 & 34. (Try using `undefined` for Text font.)   So the only value that is optional is `maxValue`.

No, these are not the correct constraints for `maxValue`.  `config.maxValue

[2019-03-05 17:40] chrisklus commented on #472
Changes looks good, I had no issues testing a couple sims with NumberPicker, and CT is showing no relevant failures. Back to @pixelzoom.

[2019-03-05 17:53] #472 closed

[2019-03-05 17:56] pixelzoom commented on #468
Discussed with @Denz1994 on Slack, and decided to commit/push what I had in mind. See above commits.   @Denz1994 @samreid let me know if you have any questions/concerns.

[2019-03-05 18:02] pixelzoom opened #476 "bug in BarrierRectangle disposeBarrierRectangle"
There's no listener passed to `unlink`, this will fail hard.

[code]

There should also be a `hasListener` test before doing the `unlink`, in case `modalNodeStack.lengthProperty` has already been disposed.

I can't tell when this was introduced, because BarrierRectangle was moved from joist to scenery-phet.  Assigning to the `@author` @zepumph.

[2019-03-05 19:29] zepumph commented on #476
In Emitter.removeListener (which is called from Property.unlink):

[code]

I don't think that the `hasListener` check is required @pixelzoom. At one point I added many of those checks around unlink calls and it didn't pass code review (and I removed them).

[2019-03-05 19:43] zepumph commented on #476
@pixelzoom please review.

[2019-03-05 19:44] pixelzoom commented on #476
Ah, I see....  The assertion in Emitter.removeListener is short-circuited if the Emitter has been disposed.   Sounds good, I'll note in some other issues were this has come up in the past 2 days.

[2019-03-05 19:45] #476 closed

[2019-03-05 19:46] pixelzoom commented on #475
In https://github.com/phetsims/scenery-phet/issues/476#issuecomment-469825394, @zepumph pointed out that Emitter.removeListener now skips the assertion if the Emitter (Property) has been disposed.   So it's safe to omit the `hasListener` check.

[2019-03-05 19:46] #475 closed

[2019-03-05 19:49] pixelzoom commented on #470
Update: In https://github.com/phetsims/scenery-phet/issues/476#issuecomment-469825394, @zepumph pointed out that Emitter.removeListener now skips the assertion if the Emitter (Property) has been disposed.   So it's safe to omit the `hasListener` check.

[2019-03-05 19:50] pixelzoom commented on #470
Update: In https://github.com/phetsims/scenery-phet/issues/476#issuecomment-469825394, @zepumph pointed out that Emitter.removeListener now skips the assertion if the Emitter (Property) has been disposed.   So it's safe to omit the `hasListener` check.

That said, I don't feel the need to remove it in `disposeNumberPicker`.

[2019-03-05 21:16] pixelzoom commented on #470
While doing some work elsewhere, I noticed that AccessibleNumberSpinner `initializeAccessibleNumberSpinner` takes `enabledProperty` as it's 3rd argument.   Since NumberPicker did not previously have `enabledProperty`, `initializeAccessibleNumberSpinner` was being called with a dummy BooleanProperty for its 3rd arg, i.e.:

[code]

So yikes, I almost missed this.  In the above commit, I've replaced

[2019-03-05 21:40] jessegreenberg commented on #470
That is correct @pixelzoom, thanks.

[2019-03-05 22:48] samreid commented on #446
I skimmed the commits and didn't see anything that requires further work.

I added `@deprecated` annotation and converted to block comment so IDEA (and maybe other tools) can indicate usages as deprecated:

![image](https://user-images.githubusercontent.com/679486/53842909-10a16880-3f5e-11e9-8fdf-19f5a2b1dcdd.png)

Back to @pixelzoom about this last point--close if all is well.

[2019-03-05 22:50] #446 closed

[2019-03-06 00:33] zepumph commented on #452
Is this issue ready for close? I think everything has been implemented. Anyone feel free to reopen if there is more to discuss.

[2019-03-06 04:21] samreid commented on #468
I made a few minor changes in the preceding commits which may be good for @pixelzoom to be aware of.

Also, I saw this check in TimerNode:

[code]

It's not a big difference, but it feels to me that `!x.hasOwnProperty('y')` is slightly clearer than `x.y === undefined`.  Let me know if you disagree.  No other issues or work noted.

[2019-03-06 14:14] pixelzoom commented on #468
I don't have a preference on I've `x.hasOwnProperty('y')` vs `x.y === undefined`.  Either it better than `!x.y`, which is what we most commonly seem to be using.

[2019-03-06 15:27] samreid commented on #468
Sounds good, closing.

[2019-03-06 15:27] #468 closed

[2019-03-06 21:54] zepumph commented on #471
Looks good to me!

[2019-03-06 23:50] #471 closed

[2019-03-14 21:28] jbphet commented on #449
I reviewed `ComboBoxDisplay` and the test code in `ComponentsScreenView`, and tested the behavior in the scenery-phet demo, and it all looks great to me.  I'll go ahead an integrate it into states-of-matter, and will re-open this if I run into anything major, but for now it seems that this is ready for closing.

[2019-03-14 21:28] #449 closed

[2019-03-18 03:52] samreid commented on #451
Using this patch, I identified the following sims are passing NumberControl options using the incorrect API (note it errors out on the first unsupported key):

* coulombs-law
* energy-skate-park
* gravity-force-lab
* wave-interference

I already opened an issue for Wave Interference (linked above).  I do see commits for the other sims, but perhaps they aren't completely converted to use the new AP

[2019-03-19 19:24] pixelzoom opened #477 "HandleNode: add options to hide attachment"
`HandleNode` currently has a grip and 2 "attachments" (as they're called in the code). The handle on the container lid in Gas Properties currently looks like this:

<img width="156" alt="screenshot_1112" src="https://user-images.githubusercontent.com/3046552/54635551-0b5a1880-4a4a-11e9-8bb2-4eefba959f33.png">

Requirements have changed, and Gas Properties now needs this:

<img width="156" alt="scr

[2019-03-19 19:41] pixelzoom commented on #477
Options were added in https://github.com/phetsims/scenery-phet/commit/60d40ff1dfd9a9ef5ccf0129522e31748339b223.  The other 2 commits are cleanup and conversion to class/ES6.

The new options are now being used in Gas Properties.

@chrisklus would you mind reviewing?

[2019-03-19 19:42] #477 closed

[2019-03-20 21:23] Denz1994 commented on #283
Addressing "big things" (4) and "little things" (4) from [#283 (comment)](https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811)

It was suggested by @jonathanolson to use an array of functions instead of flags for validators. I really like this [suggestion](https://github.com/phetsims/scenery-phet/issues/283#issuecomment-321714316) as it removes the need for `alternativeValid

[2019-03-20 21:37] Denz1994 commented on #283
Addressing "big things" (3) from https://github.com/phetsims/scenery-phet/issues/283#issuecomment-460807305:

If the user puts in an invalid value wouldn't we want the `proposedKeys` to be silently rejected. The behavior currently follows:

`user clicks a key -> it is registered as invalid -> nothing happens `

IMO, this is the expected behavior of a keypad, unless we want specialized negative fee

[2019-03-22 22:14] pixelzoom commented on #283
@Denz1994 said:

Seems like the wrong comment link. Did you mean https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811?

[2019-03-23 19:19] Denz1994 commented on #283
@pixelzoom Correct sorry for the confusion. The correct comment is the one you [mentioned](https://github.com/phetsims/scenery-phet/issues/283#issuecomment-322519811).

[2019-03-23 20:04] pixelzoom commented on #283
Thanks @Denz1994.  It's been awhile since my review, so I'm a little fuzzy on this issue.  But whether or not `proposedKeys` is silently rejected is not the primary point of that checklist item.  The primary point is the decoupling of `proposedKeys` and updating of `accumulatedKeysProperty` in `AbstractKeyAccumulator.validateAndUpdate`.  And since that method is currently commented out, I'm guessi

[2019-03-23 20:25] pixelzoom commented on #432
@chrisklus I'm about to start working on the Gas Properties model for pressure, and I hope to be hooking `GaugeNode` up to that model within the next 3-5 days.  And in doing so, I will undoubtedly hit some of the issues that I've identified.  Should I take over completion of this issue, or do you have time to address it with high priority?

[2019-03-23 20:28] chrisklus commented on #432
@pixelzoom thanks for the heads up, I'll finish it with high priority.

[2019-03-25 18:01] zepumph opened #478 "Sort out *HelpContent.js files"
@pixelzoom pointed out to me that it is confusing that some `*HelpContent.js` types extend `HelpContent`, and some extend `HBox`.  Currently the `HelpContent` filename suffix is overloaded. It can mean "a subtype of `HelpContent`, which is often just one of many sections of a keyboard help dialog, and we have also used it for the HBox that contains all of the `HelpContent` instances in the keyboar

[2019-03-25 18:12] pixelzoom commented on #478
Various thoughts...

Better naming would help. `HelpContent` should probably be called `KeyboardHelpContent`. Ditto for subclasses like `GeneralNavigationHelpContent`. PhET may have other types of "help" in the future, and you have classes like `JohnTravoltageKeyboardHelpContent`.

Better documentation would help.  For example, `HelpContent` is described as "Contains help content for a KeyboardHel

[2019-03-25 18:15] pixelzoom commented on #478
Friction has yet-another variation with `FrictionKeyboardHelpContentPanel`, which extends `Panel`.

[2019-03-25 20:42] chrisklus commented on #432
@pixelzoom I've completed your requested changes. Please review.

[2019-03-25 21:10] pixelzoom commented on #432
Thanks much for the quick response.   But several problems are still present

(1)  The change made in https://github.com/phetsims/scenery-phet/commit/af1676a369532b9e6793cfc615100531cf4135ff introduces a reentrant Property issue. When `valueProperty` changes, it calls `updateNeedle`, which in turn may change `valueProperty`. Relevant lines of code:

[code]

(2) GaugeNode is failing when range has

[2019-03-25 21:29] chrisklus commented on #432
Oh duh, whoops. Should I just clamp the property value as a new var, then?

[code]

Yeah, there is an assert preventing negative values, which I assumed was the desired behavior. Should I remove the assert?

Only because of the reentry you identified in (1). My proposed fix for (1) gracefully handles exceeded ranges.

Thanks for the tip, I haven't seen this before.

[2019-03-26 14:41] Denz1994 commented on #283
@pixelzoom Thanks for the feedback, the decoupling has been handled via `AbstractKeyAccumulator.validateKeys` and `AbstractKeyAccumulator.updateKeys`. Since the silent rejection isn't the main, issue I'll mark that item as completed and remove the relevant assignees.

[2019-03-26 14:56] Denz1994 commented on #283
The remaining unchecked item for this issue requires a brief review of the validator array implementation explained [here](https://github.com/phetsims/scenery-phet/issues/283#issuecomment-475034102).

[2019-03-26 22:30] chrisklus commented on #432
Since this is high priority (and the reentry issue was breaking CT), I went ahead and pushed my two proposed changes from https://github.com/phetsims/scenery-phet/issues/432#issuecomment-476385107.

I updated the range in scenery-phet demo so negative values and the out-of-range behavior are apparent.

Ready for review.

[2019-03-27 16:11] jessegreenberg commented on #478
Another renaming proposal:
 - HelpContent is renamed to KeyboardHelpSection. This Node contains one section of keyboard help content to be used alone or with other content in a KeyboardHelpDialog.
 - {{sim}}KeyboardHelpContent files remain as they are named. These assemble one or more KeyboardHelpSections, and are the content for a KeyboardHelpDialog.

Sounds good, Ill take a look at that too.

[2019-03-27 16:18] jessegreenberg commented on #478
@zepumph what do you think about the above? I agree it is beneficial to keep "Keyboard" in the name. If we want to reduce verbosity I would be OK with removing "{{Sim}}" prefix from the KeyboardHelpContent files.

[2019-03-27 18:13] zepumph commented on #478
That is unconventional to what we do with all other files like main, config, constants, etc.

I think we should go in the direction of the above proposal. I like almost everything except that I think that all we should prefix all `KeyboardHelpSection` subtypes with the full prefix, i.e. `GeneralNavigationKeyboardHelpSection`. Or shorten just to `GeneralKeyboardHelpSection`.

[2019-03-28 17:47] pixelzoom commented on #432
Looking good! A couple of things....

* Clarification about the range.  Since GaugeNode isn't should be usable for any quantity, there should be no constrain that the range must be positive.  Thanks for taking care of that, solution looks good.

* Thing things were missing related to `enabledProperty`.  (1) Any option that's referenced in the code should be represented by a default value and docum

[2019-03-28 18:00] pixelzoom opened #479 "Checkbox issues"
Noticed while working on enabledProperty in another UI component.

- [ ] `this.content` and `this.ownsEnabledProperty` do not need to be instance fields. They are used only in the constructor. Convert them to local variables.

- [ ] `this.enabledProperty` has no visibility annotation.  Typically `@public` in other UI components.

- [ ] options `checkboxAppearanceStrategy` and `contentAppearanceStr

[2019-03-28 18:03] pixelzoom opened #480 "why does Checkbox need a separate listener for keyboard input?"
Noted while working on https://github.com/phetsims/scenery-phet/issues/479.

Checkbox has this code related to "firing" of its state change:

[code]

Why do we need to add another listener for a11y that calls the exact same function as the ButtonListener that was already added?  This should be handled by ButtonListener; it should be able to handle _all types_ of button input, not just pointer.

[2019-03-28 18:04] chrisklus commented on #432
Oh yeah, understood.

Right! Thanks for making these changes and letting me know what needed improvement.

Ready to close.

[2019-03-28 18:04] #432 closed

[2019-03-28 18:05] pixelzoom commented on #480
Transferring this issue from scenery-phet to sun, since Checkbox lives in sun.

[2019-03-28 18:05] pixelzoom commented on #479
Transferring this issue from scenery-phet to sun, since Checkbox lives in sun.

[2019-04-01 18:46] pixelzoom opened #481 "NumberControl is doubly disabling its Slider"
In Gas Properties "Energy" screen, we have a NumberControl that can be disabled.

Here's what it looks like enabled:

<img width="205" alt="screenshot_1118" src="https://user-images.githubusercontent.com/3046552/55351512-c7203c80-547b-11e9-9897-e50f21440597.png">

and disabled:

<img width="209" alt="screenshot_1117" src="https://user-images.githubusercontent.com/3046552/55351513-ca1b2d00-547b-11e

[2019-04-01 18:55] pixelzoom commented on #481
It looks like this problem was introduced in https://github.com/phetsims/scenery-phet/commit/f5250b350b925aa3f4bd1445965bdff6e2cc87f8 for #451 (nested options).  `options.enabledProperty` should not be propagated to the Slider via `options.sliderOptions`.  Fixed in the above commit.  @mbarlow12 please review.

[2019-04-01 18:57] pixelzoom commented on #481
After the fix, here's how the Gas Properties control looks when disabled:

<img width="207" alt="screenshot_1119" src="https://user-images.githubusercontent.com/3046552/55352265-afe24e80-547d-11e9-9a72-37aab51a2000.png">

[2019-04-01 20:19] zepumph commented on #381
@jessegreenberg and I discussed what we want to see `ScreenView.js` take on in terms of PDOM container nodes, as well as the idiomatic way to access them:

1. Add an option to screen view to pass in a screen summary node. Then ]`ScreenView.screenSummaryNode` no longer needs to be a member var.
2. Add `this.playAreaNode` and `this.controlAreaNode` to `ScreenView.js`. public and read only
3. Rules t

[2019-04-01 20:23] zepumph commented on #381
Ugh, there is one problem with that above:

Notice here in molarity that the screen summary node needs a Property created after options because it uses an option. In order to support this, I think we need to add a setter to the screenView.
[code]

[2019-04-01 21:14] zepumph commented on #381
I discussed a bit more with @jessegreenberg and updated the above list in https://github.com/phetsims/scenery-phet/issues/381#issuecomment-478731559

[2019-04-02 01:12] zepumph commented on #381
Here is a patch I worked on today. It implemented just the new option for setting the screen summary node. I think it works alright, and it is worth pursuing more. For now I just implemented Friction, and didn't maintain backwards compatibility, so I will want to take this patch and convert all in one swoop so as not to move backwards (if we decide to go this direction). It is still a little weird

[2019-04-02 16:22] jessegreenberg commented on #478
OK sounds good, based on https://github.com/phetsims/scenery-phet/issues/478#issuecomment-477288070 I will
- [ ] Rename HelpContent to KeyboardHelpSection.
- [ ] Rename GeneralNavigationHelpContent to GeneralKeyboardHelpSection
- [ ] Rename SliderControlsHelpContent to SliderKeyboardHelpSection
- [ ] Rename FrictionKeyboardHelpContentPanel to FrictionKeyboardHelpContent, and change so that it no l

[2019-04-02 22:05] pixelzoom opened #482 "ComboBoxDisplay layout problem"
ComboBoxDisplay appears to have an initial layout problem when its value exceeds its range.  Selecting another choice and then switching back fixes the layout, hence "initial".

The problem also might be in NumberDisplay (displays the dynamic value), ComboBox (superclass), ComboBoxButton, ComboBoxListBox, ...

E.g. in Gas Properties `PressureDisplay` with `range: new Range( 0, 99 )`:

![screenshot

[2019-04-02 22:08] pixelzoom commented on #482
The problem also might be in NumberDisplay, which ComboBoxDisplay uses to display the value.

[2019-04-02 22:12] pixelzoom commented on #482
There are other problems.  When the listbox is open, the highlighting is all wrong.  For example, in this screenshot the cursor is over the bottom item in the listbox.

![screenshot_130](https://user-images.githubusercontent.com/3046552/55439500-088b1780-5562-11e9-8967-30fe9a116261.png)

[2019-04-05 15:28] jessegreenberg commented on #478
https://github.com/phetsims/scenery-phet/issues/478#issuecomment-479077697 is done, but some more things need to be renamed like `HelpContentRow` -> `HelpSectionRow` and so on.

[2019-04-05 16:35] jessegreenberg commented on #478
Alright, all done in the above commits. Extra commits just renamed local variables in all *HelpContent.js files to match this decision.

Ill take a look at

next.

[2019-04-05 16:58] jessegreenberg commented on #478
How about TwoColumnHelpContent? Just an HBox with appropriate defaults. This is the layout for pretty much all of our KeyboardHelpDialogs.

[2019-04-05 17:15] pixelzoom commented on #478
If "just an HBox" means `extends HBox`), then you'd need to somehow limit the number of children to 2.   So this is a case where composition might be better, so that you can hide HBox's API. E.g.

[code]

[2019-04-05 20:37] jessegreenberg commented on #478
I like it a lot, that is what I had in mind. Thanks!

[2019-04-07 00:22] jessegreenberg opened #483 "Type for slider and general navigation keyboard help content"
I noticed that we have a number of KeyboardHelpDialogs now that contain the SliderKeyboardHelpSection and the GeneralNavigationHelpSection. molecules-and-light, ohms-law, resistance-in-a-wire, and maybe there are others. We should have a general type that assemples these sections for us.

[2019-04-07 00:22] jessegreenberg commented on #483
Noticed during https://github.com/phetsims/scenery-phet/issues/478.

[2019-04-07 00:29] jessegreenberg commented on #478
OK, I think this is done. Sorry, to be cleaner I should have made another issue for the new type. @zepumph could you please review `TwoColumnKeyboardHelpContent`? Feel free to spot check changes for https://github.com/phetsims/scenery-phet/issues/478#issuecomment-479077697 if you wish but I don't feel it is as necessary.

[2019-04-07 01:06] jessegreenberg commented on #483
OK, I made this, and it can be used currently by molecules-and-light, ohms-law, plinko-probability, resistance-in-a-wire. For these cases, this Dialog can be used directly by {{sim}}-main `keyboardHelpNode` option. Then all of the *KeyboardHelpContent files for molecules-and-light, ohms-law, plinko-probabiliy, and resistance-in-a-wirie can be deleted. I think this is the right way forward, @zepump

[2019-04-08 15:21] jessegreenberg commented on #473
Thanks, they should be protected. I reviewed other fields, none of them are intended to be accessed.

[2019-04-08 15:22] #473 closed

[2019-04-08 17:16] zepumph commented on #483
This looks really nice! Thanks.

[2019-04-08 20:15] pixelzoom opened #484 "remove Tween preload"
TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:28] pixelzoom commented on #484
Tween preload was removed, tested requirejs and built versions. Closing.

[2019-04-08 20:28] #484 closed

[2019-04-09 00:02] jessegreenberg opened #485 "Design a better grouping system for Utterance"
Alert "grouping" is currently the way that we prevent an overwhelming amount of alerts to be sent to assistive devices.

In discussion with @samreid and @zepumph we identified a few shortcomings and ways that this system could be improved.

First, we dislike how delayTime and uniqueGroupId work. uniqueGroupId is the way that an alert group is specified. If more than one alert of the same group is

[2019-04-09 00:36] jessegreenberg commented on #485
Here is a proposal:
We remove both options `uniqueGroupId` and `delayTime`. They will become implementation details. `Utterance` has already been implemented so that it a client can keep a reference to it and add it to the `utteranceQueue` multiple times. We add a new boolean option called `alertWhenStable` (or something). When true the utterance will receive a unique ID and a delay of some amount

[2019-04-09 00:41] zepumph commented on #485
You can say that again! I really like this. And by making this an `Utterance`-centric implementation, we can easily supply options/add options when we create the utterance. Before going through with this I looked at the `new Utterance( { alert: alert, uniqueGroupId: 'position' } )`, which is used hierarchically. I'm sure this can be factored out, but it is good to note the only case I could find i

[2019-04-09 01:15] jessegreenberg commented on #485
Hmm, `collapse`, `collapseAlerts`, `uniqueAlert`, `oneOffAlert`, `loneAlert`, `singleAlert`, `singularAlert`, `theChosenOne`

[2019-04-09 01:20] jessegreenberg commented on #485
Good point, I hadn't through of that. I guess the way it would work is that the reference to that `Utterance` would be shared, or stored on the supertype.

[2019-04-09 15:53] jessegreenberg commented on #485
More names:

to the queue for X ms. This will the same utterance from hitting the user too frequently.

alertFixed
alertStatic
alertStable
preventSpam
temperAlerts
suppressRepeats

[2019-04-09 16:01] jessegreenberg commented on #485
This was mentioned during disccussion, but this proposal  has the limitation that if the alert *never* stops changing, it will *never* be spoken.

[2019-04-09 16:20] jessegreenberg commented on #485
Maybe we should go a bit further with changes than I proposed in https://github.com/phetsims/scenery-phet/issues/485#issuecomment-481057247. More brainstorming:
[code]

An UtteranceSuppressor can be passed through options and by default an UtteranceSuppressor with its default options is used.

[2019-04-09 17:18] zepumph commented on #485
To me all of these options could be added to an `Utterance` just fine. I don't see a sub-type as that beneficial. I'm a bit confused about the predicate option. Could you provide a bit more explanation including a potential use case?

[2019-04-09 18:38] jessegreenberg commented on #485
OK, sounds good. My motivation for creating a type was to make it very explicit that these options are dependent on one another.

The `predicate` function is already a feature of Utterance, but I thought it would fit into a "Suppressor" type if we had one. The purpose it to provide another way to prevent stale alerts. So you could do something like

[code]

[2019-04-09 19:01] zepumph commented on #485
To me, I think of an api similar to `minify.js`. Not to say this is the "best" way to do it, but here "parallel leveled" options are dependent on each other and I think it makes sense, and is easy to document:

[code]

And so I was thinking of something similar for `Utterance`.  We would have some options "only enabled if `alertStable` is true."

To me each of these could have a nice default. If y

[2019-04-09 19:04] jessegreenberg commented on #485
That sounds great to me, I will add them as options in Utterance.

[2019-04-09 20:53] jessegreenberg opened #486 "Remove utteranceQueue.setStepInterval"
After #485 I don't see much of a benefit for keeping utteranceQueue.setStepInterval. As it is, utteranceQueue.setStepInterval is not used at all in sims and even has this documentation already:

There are complications when considering the utteranceQueue interval and Utterance.alertStableDelay (to be added in #485). So I am going to remove it.

@zepumph please let me know if you have concerns.

[2019-04-09 21:08] jessegreenberg commented on #486
Removed, assigning to @zepumph to make sure there are no concerns.

[2019-04-10 16:14] jessegreenberg commented on #485
Now that Utterances are designed to be persistent and their `alert` can be changed, I am finding that the required alert is too strict. It is more convenient to set the alert later. @zepumph is it OK if I remove
[code]

[2019-04-10 16:39] jessegreenberg commented on #485
I am going to proceed with that, which means that config can be turned to options since none of the fields are required.

[2019-04-10 17:34] pixelzoom opened #487 "HandleNode support for ColorDef"
I ran into this in Gas Properties, where is was impossible to use a ColorProfile with HandleNode because it doesn't fully support `{ColorDef}`, specifically `{Property.<null|string|Color>}`.   I don't need this immediately in Gas Properties, because there is currently no requirement to change the handle color for projector mode.  But it would nice to be able to experiment with the color in gas-pro

[2019-04-10 19:25] pixelzoom commented on #487
HandleNode now has option `{ColorDef} gripBaseColor`.   PaintColorProperty and the example in RectangularButtonView were very useful.  But it was tricky coming up with luminance values that preserved the same look of the handle gradient.  The original implementation was using Color `darkerColor` and `brighterColor`, while PaintColorProperty uses Color `colorUtilsBrighter` and `colorUtilsDarker`.

[2019-04-10 22:27] jessegreenberg commented on #485
From the original  ticket:

I believe this is done. The other potential improvement for this issue was

I don't think this is necessary at this time. A similar outcome can be accomplished now by using `alertStable` for an Utterance.  This is very explicit while automatically removing utterances of the same text feels too "tricky" to me.

@zepumph what do you think? Is there anything else that shou

[2019-04-10 22:35] jessegreenberg commented on #483
OK, thanks @zepumph sounds good.

[2019-04-10 23:04] jessegreenberg commented on #483
Done for the sims mentioned in https://github.com/phetsims/scenery-phet/issues/483#issuecomment-480550021. Closing.

[2019-04-10 23:04] #483 closed

[2019-04-11 15:00] KatieWoe opened #488 "ProbeNode: rotation results in incorrect default pointer areas"
Documented in https://github.com/phetsims/beers-law-lab/issues/236.  Also seen in the Concentration sim.  When looking at the pointer areas of the concentration tool, the blue one that indicates mouse interaction droops down.  On my iphone it seemed to occur in landscape mode, but upon checking other platforms it seems to be the norm there.  This pointer area doesn't seem to be actually be interac

[2019-04-11 15:51] pixelzoom commented on #482
I've worked around this in gas-properties by increasing the range provided to NumberDisplay.   So I'm decreasing the priority for addressing this.   Other users of ComboBoxDisplay (e.g. @jbphet states-of-matter) should be aware of this issue.

[2019-04-11 16:25] pixelzoom commented on #488
I don't see anything obviously wrong with ProbeNode.  @jonathanolson is a Node's transform applied to its pointer areas?

[2019-04-11 16:56] jonathanolson commented on #488
The touch/mouse area are in the local coordinate frame, so generally no

[2019-04-11 17:26] samreid commented on #488
I tested https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482180713 using this patch:

[code]

And found that the hand turned into a cursor over the probe itself, not over the purple/blue area.

[2019-04-12 02:59] pixelzoom opened #489 "NumberControl pointer area dilation needs work"
We need to fix how pointer area dilation is handled in NumberControl.  From  https://github.com/phetsims/beers-law-lab/issues/236#issuecomment-482417491:

@arouinfar wrote:

@arouinfar is asking for this:

<img width="573" alt="screenshot_1131" src="https://user-images.githubusercontent.com/3046552/56009285-8787fa80-5c9c-11e9-9f23-15c134abd002.png">

Concentration is a NumberControl, and this is c

[2019-04-12 03:00] pixelzoom commented on #489
@ariel-phet OK if I work on this?  It's going to take a couple of hours.

[2019-04-12 03:29] pixelzoom commented on #488
I'm going to take a stab at debugging this in scenery playground. Some notes to myself:

* http://phetsims.github.io/scenery/tests/playground.html
* `scene` is the top-level node
* namespacing is different, e.g. `window.dot`, `window.kite`, `window.scenery`, etc.
* to show pointer areas, `display.setPointerAreaDisplayVisible( true )`
* `display.updateDisplay()` is not automatically called; call it

[2019-04-12 03:43] pixelzoom commented on #488
Here's where the pointer areas are set in ProbeNode:

[code]

If I add 2 calls to `outline.copy()`, the problem goes away:

[code]

So I thought that perhaps each pointer area needed a unique shape.  But I tried this, and it does not work:

[code]

So I suspect that there's something funky about the Shape created by `createShape().close()`, and that the funkiness is resolved by calling `copy`.

@j

[2019-04-12 03:49] jonathanolson commented on #488
I'll take a look.

[2019-04-12 14:52] pixelzoom commented on #488
@jonathanolson In case it's significant, note @samreid's findings in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482215760.  For mouseArea, the cursor changes over the expected area.  So it may just be that the pointer area shapes are drawn incorrectly.

Also note that part of the shape is drawn correctly, and part (the partial ellipse?) is not.

[2019-04-12 15:58] jbphet commented on #482
Thanks for the heads up.  States of Matter doesn't support alternative units for pressure, it only uses atm, so at least for now I don't think this issue affects it.

[2019-04-12 17:17] pixelzoom commented on #482
@jbphet I guess I was thinking of the thermometer in SOM.   But it looks like you haven't change to use ComboBoxDisplay yet in https://github.com/phetsims/states-of-matter/issues/236.

[2019-04-12 17:54] jessegreenberg opened #490 "Change how we hide ariaHerald alert content"
It was discovered in https://github.com/phetsims/ohms-law/issues/136 that the way we remove alert content from the DOM interferes with how mobile VO reads alerts.

[code]

The purpose of this is to make it impossible to read alert content again with  the virtual cursor once it is spoken. But it will interrupt mobile VO from completing the alert. We need another way to do something similar.

I trie

[2019-04-12 18:27] pixelzoom commented on #489
There are 12 occurrences of `arrowButtonOptions:`.  Only one, in `projectile-motion.ProjectileMotionScreenView` uses pointer area options.  So this change should be relatively easy to address in call sites.

[2019-04-12 19:21] pixelzoom commented on #489
Change to NumberControl in the above commits:

(1) Remove options related to pointer area dilation from `arrowButtonOptions`, handle asymmetrical dilation in NumberControl.

(2) Adjust default for `sliderOptions.thumbTouchAreaXDilation` so that thumb and arrow button pointer areas don't overlap.

Projectile Motion required no changes; the values used still look fine.

Beer's Law Lab is now using t

[2019-04-12 20:01] jessegreenberg commented on #490
@KatieWoe could you please test VO on MacOS with this version and make sure alerts are working OK?

https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.32/phet/ohms-law_en_phet.html

Maybe just make sure that ~10 alerts come through.

[2019-04-12 20:13] KatieWoe commented on #490
Looks ok from my tests @jessegreenberg

[2019-04-12 20:13] jessegreenberg commented on #490
Cool, thank you @KatieWoe!

[2019-04-12 22:22] KatieWoe commented on #489
Checked in master and saw that pH Scale basics seems to have gained this problem.  The published version and master both have this odd instance of a red pointer area that can be dragged on screen and manipulated as well.
![Image from iOS](https://user-images.githubusercontent.com/41024075/56069203-34b34f00-5d3f-11e9-8fe4-35efdd4b9aa7.png)

[2019-04-12 22:23] KatieWoe commented on #489
Sorry ignore that.  I was in the wrong issue.

[2019-04-12 22:25] KatieWoe commented on #488
I saw that pH Scale Basics has an odd  red pointer area that starts just off screen, connected to the Probe Node, that can be manipulated when on screen.  Seems like it may be related.
![Image from iOS](https://user-images.githubusercontent.com/41024075/56069267-83f97f80-5d3f-11e9-9167-10d693e9dc90.png)

[2019-04-13 14:03] pixelzoom commented on #488
@ariel-phet I had planned to create an RC (new release branch) for _pH-Scale_ and _pH Scale: Basics_ this coming Monday.  But since this problem is occurring in those sims, I'm going to hold off.  Please prioritize this issue, and let me know how you want me to proceed with RC.

[2019-04-13 14:07] pixelzoom commented on #488
A couple of things to note about the _pH Scale_ case that @KatieWoe identified in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482741494:
* pH Scale rotation is `Math.PI/2`, while the BLL rotation was `-Math.PI/2`
* pH Scale shows a problem with `touchArea` specified by the client, while BLL shows a problem with ProbeNode's default `touchArea`

[2019-04-13 14:45] pixelzoom commented on #488
A couple more clues:

* in BLL, the problem is transient; it isn't visible until you move the probe around, and it comes and goes. In pH Scale, the problem is persistent.

* The problem is present in the published versions of both sims.

[2019-04-13 14:50] pixelzoom commented on #488
This problem seems to be present in any sim that uses a rotated ProbeNode.   In addition to beers-law-lab and ph-scale, that includes energy-skate-park (@samreid @jessegreenberg), see screenshot below.

@KatieWoe if you find other sims that are affected, please note in this issue, rather than sim-specific issues.

<img width="1038" alt="screenshot_1135" src="https://user-images.githubusercontent.c

[2019-04-15 18:23] ariel-phet commented on #488
Although this issue is odd, (and is worthy of investigation), it does not appear to be causing any noticeable issues (and it has existed for a long time without complaint in the published sims). It would be good to fix in the long run, but I do not see it as a blocking issue.

@pixelzoom you are free to proceed with RC's as you see fit.

[2019-04-15 18:25] KatieWoe commented on #488
I would generally agree.  I'm a bit more concerned about this aspect: https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482741494 if it is connected.  If it's not, let me know and I will make a new issue.

[2019-04-15 18:33] ariel-phet commented on #488
@KatieWoe that aspect is definitely a bit funky, but I think still not a blocking issue as it seems unlikely to cause any strange use cases. I can actually grab in this spot using touch, but only when the probe is in a place where it would be pretty unlikely to be touching the screen where the "cord" touch area appears. Would definitely be worth understanding and fixing, but still not blocking or

[2019-04-15 18:39] ariel-phet commented on #489
@chrisklus seems like this should be quick, mind doing the review?

[2019-04-15 21:37] chrisklus commented on #487
Looks good, @pixelzoom. Your changes make sense to me, and I tested the implementation with gas-properties-colors.html. I'll use the same pattern in BicyclePumpNode.

This seems problematic, do you know why this is? I see 19 usages of `brighterColor` or `darkerColor` in BicyclePumpNode, which will be a lot of fiddling. Though, I suppose I was planning on fine tuning the current usages anyway so th

[2019-04-15 21:48] jessegreenberg commented on #490
@zepumph and I noticed today that alerts are duplicated, at least in the a11y view and I think it is because of this. My theory is that the MutationObserver of the a11y view is registering the new change as we remove alert content from the DOM.

[2019-04-15 22:01] pixelzoom commented on #487
@zepumph asked:

`brighterColor` and `darkerColor` (as indicated in their doc) implement the algorithm used by Java. There are provided so you don't have to fiddle with colors when porting sims from Java.  You'll have to ask @jonathanolson about the origin of `colorUtilsBrighter` and `colorUtilsDarker`, and why they are preferable for HTML5.

[2019-04-15 22:03] pixelzoom commented on #488
If it was simply the case that pointer areas are drawn in the wrong place, I would be more comfortable with proceeding.  But the fact that you can grab the incorrect pointer area is disconcerting.  And my workaround for BLL unfortunately does not apply in general, i.e. does not fix pH Scale.

In Slack discussion with @ariel-phet, he indicated that @jonathanolson's status on this issue is:

I will

[2019-04-15 22:20] chrisklus commented on #487
Gotcha, thanks.

Well, there are over 100 usages of `colorUtilsBrighter` and `colorUtilsDarker`, so I don't think that algorithm is changing anytime soon...

Ready to close.

[2019-04-15 23:02] chrisklus commented on #489
@pixelzoom Your changes look good and the pointer areas for NumberControl appear as desired in several sims that I checked out.

It might be nice to have a comment for `touchAreaXDilation` on line 105...

[code]

...that explains this will be shifted so that one side will be 0 and the other side will be doubled (and therefore this actually matches the default value for `touchAreaYDilation`), but I

[2019-04-15 23:51] zepumph commented on #490
@jessegreenberg, please note that in GFLB, when toggling the constant size checkbox, I get between 2 and 3 of the same alert.

[2019-04-16 00:07] jessegreenberg commented on #490
OK thanks @zepumph, I will take a look. Duplications we were seeing elswhere were fixed by the above commits which only show the alerts in the a11y view on DOM Node insertions. I am still seeing duplicate alerts for the GFLB checkboxes.

[2019-04-16 00:11] #487 closed

[2019-04-16 00:19] jessegreenberg commented on #490
I believe the remaining duplicates are caused by https://github.com/phetsims/gravity-force-lab-basics/issues/117, @zepumph can you please confirm? I think this can be closed again if you agree.

[2019-04-16 00:29] pixelzoom commented on #489
@chrisklus good idea on the options doc, done in the above commit.  Closing.

[2019-04-16 00:29] #489 closed

[2019-04-16 12:02] terracoda commented on #490
FYI, I have been experiencing duplicate alerts in the sonification wrapper for a long time. This seems to be a MacOS problem, just thought I would mention it here. I always had a suspicion it had something to do with the iframe.

I can't seem to find a specific issue, though I thought made a least one.

[2019-04-16 15:25] jessegreenberg commented on #490
Understood @terracoda, was it this one? https://github.com/phetsims/a11y-research/issues/132

[2019-04-16 16:14] jonathanolson commented on #488
I'm curious how I can "grab" in the incorrect area, or reproduce this? So far it seems like it's mainly a graphical glitch in how things are being shown with the query parameter.

[2019-04-16 16:16] KatieWoe commented on #488
I don't believe you can grab the node, or at least I have not seen it.  But the red box in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482741494 can be grabbed and moved.

[2019-04-16 16:21] samreid commented on #488
While I was trying to reproduce the problem with the red box in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482741494 I noticed that the pointer area for the ProbeNode flickers during window resize:

![flicker](https://user-images.githubusercontent.com/679486/56226820-4d6a8000-6031-11e9-956b-1e0cd892ed5b.gif)

Kind of hard to tell from the gif, but it flickers between the corr

[2019-04-16 16:25] samreid commented on #488
I confirmed I can also drag the probe by its red rectangle in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-482741494.   I also noted that when dragging the red rectangle, there are certain regions of the screen where the ProbeNode pointer area goes buggy, and some regions where it is normal.

[2019-04-16 16:39] jonathanolson commented on #488
I'm mostly confirming that this is manifesting only as a display-only problem.

It looks like `Shape.transformed` is not behaving correctly for a certain class of transforms (depending on the exact scale/translation) for the probe shape. This is used for the display, but NOT in the hit testing.

For instance a buggy case is the Shape:
[code]

Transforming with the matrix:
[code]

ends with the bug

[2019-04-16 17:32] pixelzoom commented on #488
@jonathanolson said:

It doesn't sound like that's the case. @ariel-phet (https://github.com/phetsims/scenery-phet/issues/488#issuecomment-483367487) and @samreid (https://github.com/phetsims/scenery-phet/issues/488#issuecomment-483733447) have both reported being able to interact with the incorrect pointer areas.

[2019-04-16 17:47] jonathanolson commented on #488
I believe @samreid's comment in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-483733447 is referring to the rectangular hit area:

<img width="146" alt="Screen Shot 2019-04-16 at 11 46 45 AM" src="https://user-images.githubusercontent.com/480878/56232166-5c572f80-603d-11e9-9996-40212ea147f2.png">

@ariel-phet can you provide an example where it is possible to click on the "impro

[2019-04-16 20:17] zepumph commented on #485
I see that `delayTime` was converted in `alertStableDelay`. For example in ohms-law/ControlPanel. I wonder if this number is now too big, since the implementation should be improved now to keep these alerts in the queue more consistent. Mostly I can notice a delay between moving the slider and hearing the alert. Do you think those values need to be adjusted?

[2019-04-17 15:58] zepumph commented on #485
- [ ] Should `alertStable` be renamed to `alertWhenStable`?

There seems to be an inherent flaw in the "alertStableDelay" which is that the "granularity" of that number is based on the step interval of the utteranceQueue. Since the step interval is `500`, `alertStableDelay` of 300 vs 400 won't have any effect. I wonder if we should separate the `stableTime` updating from the interval that sends it

[2019-04-17 16:24] jessegreenberg commented on #485
Good point, I hadn't thought of `alertStableDelay` as a way to order Utterances. Alternatively, now that `Utterance` manages timing for utterances maybe there isn't a need to have a large interval in utteranceQueue. Could that be reduced to something like ~10-20 ms so that `stableTime` can be updated with `utteranceQueue.next()`

[2019-04-18 18:27] KatieWoe commented on #488
Was looking at ph scale, and for some reason the rotating pointer area wasn't appearing.  The red dragable box was.

[2019-04-22 16:55] zepumph commented on #486
This is great. We should decide on a time and that should be constant for all sims/runtimes. Back to you to close or what have you

[2019-04-22 17:14] zepumph commented on #485
More review:

- [ ] Is this the best default? I see alertStable is default to true, and the delat is default to 500 ms (quite a lot if you ask me). I think it is quite possible that the current default behavior of Utterance would yield nothing being alerted for a simple case like linking to a model Property that is changing every step. It could be nice to design the defaults geared more towards hi

[2019-04-22 17:16] zepumph commented on #485
Back to you @jessegreenberg. I'm happy to go through some of these together, as some of these are more discussion points than recommendations. Let me know!

[2019-04-22 17:40] zepumph commented on #490
Review:

- [ ] Since `DEFAULT_WITH_CLEAR` is true, then this is buggy if you pass in a `withClear` value of "false"

      // will fail to read the content

- [ ]  This makes sense, but why do we have to wait 200ms? Did you try only 10ms or 0ms? I worry about the delay stacking going on throughout the alerting framework. I don't want extra time to sneak in if it doesn't need to

- [ ] Expanding of

[2019-04-23 18:09] jessegreenberg commented on #490
Thanks very much for reviewing @zepumph!

It likely comes from before we had utteranceQueue, lets try to reduce it to nearly nothing so that the timing doesn't complicate utteranceQueue.

I suspect that is the case, lets try to remove it.

[2019-04-23 19:30] zepumph opened #491 "Tweak alerting delay/interval values"
From https://github.com/phetsims/scenery-phet/issues/490 and https://github.com/phetsims/scenery-phet/issues/485 we made some changes to the alerting system. There are some numbers that are likely worth tweaking, but they should be done in conjunction with each other to assure that we get the desired effect. @jessegreenberg and I discussed and we think it would be best to have alerts move through

[2019-04-23 20:08] zepumph commented on #491
I posted in slack:

[2019-04-23 21:02] jessegreenberg opened #492 "Create new Utterance for "activation" alerts"
The changes in https://github.com/phetsims/scenery-phet/issues/491 are generally good for most utterances, but there are a category of Utterances that will need a longer `alertStableDelay` so that alerts generally don't get repeated when you press and hold down buttons. We are seeing now that if you press and hold the ResetAllButton, you will get two "reset" alerts because the `alertStableDelay` i

[2019-04-23 21:18] jessegreenberg commented on #492
Created and used in ResetAllButton in the above commit.

[2019-04-23 21:30] jessegreenberg commented on #492
Also used in NavigationBarSoundToggleButton.

I inspected instances of `new Utterance` and didn't see any other cases right now that would benefit from `ActivationUtterance`.

@zepumph could you please review? Mostly, are you OK with the name ActivationUtterance?

[2019-04-23 21:31] jessegreenberg commented on #491
Each of https://github.com/phetsims/scenery-phet/issues/491#issue-436352858 was completed in https://github.com/phetsims/scenery-phet/commit/7353071eaf03ea937868bc826fd951c50f2f340b, so lets test on

- [ ] iOS 12 VO
- [ ] Firefox + NVDA
- [ ] Chrome + JAWS
- [ ] macOS VO

And if all sounds well I think this issue can be closed.

[2019-04-23 21:35] jessegreenberg commented on #491
I just tested ohms-law on my desktop with NVDA and Firefox and I am missing alerts ~15 percent of the time, I don't remember that from before this change.

[2019-04-23 21:46] jessegreenberg commented on #491
When I bump the timeouts in ariaHerald back up to 200 ms I can no longer produce the issue.

[2019-04-23 21:53] jessegreenberg commented on #491
I changed the timing to:

[code]

And I am getting all alerts from NVDA in Firefox (testing the sim for ~2 minutes changing things as fast as I can with the keyboard). So it seems like as long as the delay before hiding is long enough we get everything, at least in NVDA.

[2019-04-23 22:18] jessegreenberg commented on #491
@terracoda or @KatieWoe can you please check master and make sure that alerts sound OK on macOS VoiceOver after this change?

[2019-04-23 22:41] jessegreenberg commented on #490
@zepumph I think the above is addressed by removing optional `withClear`, reducing the timeout delays in https://github.com/phetsims/scenery-phet/issues/491, and adding the requested documentation. Would you mind taking another look at your convenience?

[2019-04-23 22:52] KatieWoe commented on #491
Looked at adjusting sliders on Ohm's Law and it seemed ok

[2019-04-23 23:06] zepumph commented on #491
@jessegreenberg did you try waiting 100ms instead of 200? Just out of curiosity.

[2019-04-23 23:46] jessegreenberg commented on #491
It looks like 100ms also works. I had previously tried 10 -> 30 -> 50, and each of those had the issue consistently. I reverted to 200 and the issue seemed to go away. But 100ms also seems sufficiently long in FF with NVDA.

[2019-04-23 23:48] jessegreenberg commented on #491
I reduced to 100ms. We tested this change against each of our supported ATs on their platforms, so I believe this can be closed. @zepumph is there anything else for this issue?

[2019-04-24 00:16] zepumph commented on #491
Not from me thanks.

[2019-04-24 00:28] zepumph commented on #490
This is all very nice thanks! Closing

[2019-04-24 18:43] pixelzoom commented on #488
@KatieWoe By "rotating pointer area" do you mean the blue dashed shape? FYI, red is touch area, blue is mouse area.

[2019-04-24 18:44] KatieWoe commented on #488
Yes, the mouse area was not in the incorrect rotated state.

[2019-04-24 18:47] pixelzoom commented on #488
In pH Scale, I see the mouse area becoming incorrect only after it's dragged.  @KatieWoe is that what you see too, or are you seeing that it remains correct?

[2019-04-24 18:51] KatieWoe commented on #488
I was not seeing it at all on pH Scale for some reason.  On Win 10 chrome or on iOS 12.2 safari phone.  It seemed very odd to me since it showed up in related sims.

[2019-04-24 19:17] ariel-phet commented on #488
@jonathanolson this is fairly easy for me to reproduce. Tried on both my windows laptop touchscreen and through the app on my phone. Basically just get the sim in this configuration:

![phscale](https://user-images.githubusercontent.com/4051174/56687266-1cbec200-6693-11e9-8081-fdd92b7946da.PNG)

Then put your finger in near the "sag" in the wire in the button left, and you can move the probe aroun

[2019-04-24 20:21] jessegreenberg commented on #486
Thanks for reviewing, timing for utteranceQueue was updated heavily in #491 so this can be closed.

[2019-04-24 20:21] #486 closed

[2019-04-24 20:37] jessegreenberg commented on #485
This was done in #491.

Also addressed in #491 as utteranceQueue is stepped every frame.

I don't feel strongly about this. It was initially intended to be a "rarely used" feature, because I think Utterances describing Properties that change every animation frame will generally have more sim specific code for deciding when it is time to alert. But maybe ~3000 is a better default. Number.MAX_VALUE

[2019-04-25 18:38] pixelzoom commented on #488
4/25/19 dev meeting:

@ariel-phet requested that this issue be deferred and assigned to him.

[2019-04-25 19:11] pixelzoom commented on #488
@jonathanolson @ariel-phet FYI, the bogus touchArea (red rectangle) shown in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-486389051 was a sim-specific bug.  It has been fixed, see https://github.com/phetsims/ph-scale/issues/77.

So the remaining problem here is the default pointer areas in ProbeNode. And the cause was identified by @jonathanolson in https://github.com/phetsims/

[2019-04-29 16:04] samreid opened #493 "NumberControl with arrowButtonOptions or sliderOptions crashes on IE11"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/485, `Array.includes` is undefined on IE11, so any NumberControl with arrowButtonOptions or sliderOptions crashes on IE11.   This problem looks like it was introduced in f5250b350b925aa3f4bd1445965bdff6e2cc87f8 around Feb 2, 2019.

[2019-04-29 17:16] samreid commented on #493
I pushed a proposed fix, @mbarlow12 can you please review?

[2019-04-30 01:46] pixelzoom commented on #493
This is the tip of the iceberg.  There are many other places in PhET code where `Array.includes` is used, including core classes like Screen, Enumeration, ComboBox,...  How has this not been caught in testing?

[2019-04-30 01:49] samreid commented on #493
For example, Screen.js usage of `Array.includes` is only in an assertion.

[2019-04-30 01:53] pixelzoom commented on #493
Moving the general issue of replacing `Array.includes` with `_.includes` to https://github.com/phetsims/tasks/issues/998.

[2019-04-30 01:53] #493 closed

[2019-04-30 01:54] pixelzoom commented on #493
Then that tells me that we're not testing with assertions on IE.  Why?!?

[2019-04-30 20:59] zepumph commented on #491
This may be causing https://github.com/phetsims/gravity-force-lab-basics/issues/121, we should reopen and see.

[2019-04-30 21:20] terracoda opened #494 "Possible extra aria-labelledby in Keyboard Shortcuts dialog"
From https://github.com/phetsims/gravity-force-lab-basics/issues/118#issuecomment-488117763
@zepumph, I think there might be an extra ` aria-labelledby` because I am hearing an end of group announcement after the starting heading block of the dialog. It sounds odd to me to hear the end of the group when I am near the top of the dialog.

Note this is not new, I have heard this "end group" announcem

[2019-04-30 23:23] zepumph commented on #494
I didn't realize that having an aria-labelledby attribute for the title div would effect how it sounded with the grouping. I removed the extra aria-labelledby and now there is just a single one on the parent. @terracoda please review that piece.

Furthermore, while testing this, I found that the dialog doesn't sound that good when opening with NVDA (chrome/firefox). Here is what I get when I open

[2019-05-01 00:20] pixelzoom opened #495 "multiple problems with HeaterCoolerNode options"
There are multiple problems with HeaterCoolerNode options, discovered in Gas Properties.

- [x] This assertion expression is buggy:

[code]

- [x] This assertion expression is buggy:

[code]

- [x] This `_.extend` call is modifying `backOptions`, which violates best practices.

[code]

- [x] This `_.extend` call is buggy. It's extending `backOptions` when it should be `frontOptions`. And it's modi

[2019-05-01 00:35] pixelzoom commented on #495
@chrisklus would you mind reviewing these changes, since you and I worked on this in the not-so-distant past?

[2019-05-01 15:05] jessegreenberg commented on #491
I should have access to macOS VO now, I will see if I can figure out what VO dislikes in changes for this issue and #490.

[2019-05-01 18:25] jessegreenberg commented on #491
I only have access to macOS 10.10.5, but I confirmed that alerts are gone prior to https://github.com/phetsims/scenery-phet/commit/7a6c7c9936cb7178dc3088836a241ddffb959291 and return after.

[2019-05-01 18:33] ariel-phet commented on #195
Issue is stale...closing. A new issue will be made if we need this later.

[2019-05-01 18:33] #195 closed

[2019-05-01 19:03] jessegreenberg commented on #491
I updated the doc to indicate that 200 ms was also critical for VoiceOver.

@zepumph also said:

What about a specific subtype of Utterance for this (like ActivationUtterance in #492) that helps VoiceOver read alerts after aria-valuetext, like ValueChangeUtterance?

[2019-05-01 21:32] zepumph commented on #491
That sounds excellent

[2019-05-01 21:44] jessegreenberg commented on #492
Following a similar pattern, we are going to create a special type of Utterance that will assist with alerts that happen after a value changes called ValueChangeUtterance.

[2019-05-01 22:08] jessegreenberg commented on #491
@zepumph can you please review by using ValueChangeUtterance in gravity-force-lab and seeing if it resolves the issue?

[2019-05-01 22:38] jessegreenberg commented on #492
Done, and ready for review again.

[2019-05-01 23:42] chrisklus commented on #495
@pixelzoom your changes look good and so do the various usages i checked out (HeaterCoolerNode cases, separated Front and Back cases, and with `stringTest=long`). Back to you.

[2019-05-02 08:36] terracoda commented on #494
@zepumph, I just tested and it sounded just about perfect in VoiceOver.
Upon opening, I got the following automatically:

Then when I used the arrows keys to read (down arrow), I got the content in order, starting from the H1, and no repetition.

Quite a while ago, when @jessegreenberg and were getting ready to launch BASE I think, we worked on getting the opening message to sound as good as we co

[2019-05-02 08:41] terracoda commented on #494
It's possible more semantic elements, like `header` instead of `div` could help, but I wouldn't worry too much about that right now. The main things are:
1. ensuring users can't get back into the sim without closing the dialog, and
2. a decent or "best we can get" opening message on as many screen readers as possible.

Item 1 takes precedence over item 2 and that right now is still working fine.

[2019-05-02 14:15] jessegreenberg commented on #494
Here is the issue from BASE discussing how the dialog is read by NVDA and VO https://github.com/phetsims/balloons-and-static-electricity/issues/399. It sounds like things are sounding similar to the way they were left in that issue, see specifically https://github.com/phetsims/balloons-and-static-electricity/issues/399#issuecomment-382460634 and https://github.com/phetsims/balloons-and-static-elec

[2019-05-02 15:41] #495 closed

[2019-05-02 15:44] zepumph commented on #494
Alright! I'm glad everyone is on the same page. I don't think it sounds bad per-say, I just was curious about how it sounds in NVDA. It is less strange now that I realize the priorities, mainly getting it to sound good when opened.

[2019-05-02 15:44] #494 closed

[2019-05-03 22:58] zepumph commented on #389
Personally I think the division of responsibilities makes sense, and I like having UtteranceQueue implemented as a data structure, not tied to the implementation details of how it works with the HTML. Such that that can be handled instead by another file (AriaHerald).

[2019-05-06 17:25] ariel-phet commented on #488
@KatieWoe since this bug just shows something odd in a internally used tool, I am inclined to close this issue as `wontfix` and just have it be a known issue.

Feel free to close if you agree.

[2019-05-06 21:04] pixelzoom commented on #488
Reopening.  While I agree that it's OK to ignore the problem as it manifests in ProbeNode, I don't think it's a good idea to ignore the underlying problem in kite.  Kite is a foundational repo, and that problem could easily manifest in other places.  So I'd like to see an issue that identifies the problem in kite, and refers to this issue, before closing this issue.

[2019-05-06 21:06] pixelzoom commented on #488
@jonathanolson identified the general problem in https://github.com/phetsims/scenery-phet/issues/488#issuecomment-483738588:

Recommended to have him create an issue for that, including any additional information that he knows about.  In face-to-face discussion, I recall him providing more details that I don't see documented in in this issue.

[2019-05-07 21:33] jonathanolson commented on #488
Added details, image and a link in https://github.com/phetsims/kite/issues/77. Closing here.

[2019-05-07 21:33] #488 closed

[2019-05-11 18:50] Denz1994 commented on #283
Updated validator implementation has been reviewed by @jonathanolson as explained [here](https://github.com/phetsims/scenery-phet/issues/283#issuecomment-475034102).
Removing his assignment and proceeding to related issues.

[2019-05-13 17:58] pixelzoom opened #496 "use TimeControlNode in sims"
In scenery-phet, I see `TimeControlNode`, which looks like this:

![screenshot_966](https://user-images.githubusercontent.com/3046552/57643036-fd220780-7575-11e9-8c01-c262a957f9c7.png)

I see only 2 sims using it:  capacitor-lab-basics and masses-and-springs.   And there are many more sims that could be using.   I wasn't previously aware of this, so I'm going to use it in gas-properties --- assumi

[2019-05-13 18:09] pixelzoom commented on #496
First step is to agree on capitalization of radio button labels.

@arouinfar @ariel-phet  The design doc for Gas Properties specifies “normal” and “slow” labels.   Many sims uses those same labels. But MAS and CL:B uses common-code component `TimeControlNode ` with radio buttons labeled “Normal” and “Slow”.   I don't agree that capitalization is appropriate here, and I prefer "normal" and "slow",

[2019-05-13 18:31] arouinfar commented on #496
That's frankly quite surprising. Thanks for opening the issue @pixelzoom. The are also some older sims using "Normal" and "Slow Motion" (Bending Light and Energy Skate Park Basics come to mind), which could be updated to "Normal" and "Slow".

I don't particularly want to re-hash the great casing debate from https://github.com/phetsims/tasks/issues/953, but I still vastly prefer title case for UI c

[2019-05-13 19:53] pixelzoom commented on #496
I'll need to add 2 things to TimeControlNode in order to use it in Gas Properties:

(1) enabledProperty
(2) make the normal/slow radio buttons optional

[2019-05-13 20:36] pixelzoom commented on #496
Oh no...this is becoming an ordeal.  `TimeControlNode` has no `dispose`, and neither does `VerticalAquaRadioButtonGroup`.

[2019-05-13 21:11] pixelzoom commented on #496
The Normal/Slow (speed) radio buttons are now optional,  so this control can be used in sims in either of these 2 configurations:

![screenshot_966](https://user-images.githubusercontent.com/3046552/57643036-fd220780-7575-11e9-8c01-c262a957f9c7.png)
![screenshot_967](https://user-images.githubusercontent.com/3046552/57654414-53507400-7591-11e9-98e4-67aafd6a6d1b.png)

Summary of changes, @ariel-phe

[2019-05-13 21:12] pixelzoom commented on #496
@Denz1994 FYI, `TimeControlNode` has undergone extensive changes. I've tested with MAS and CL:B, but it would be good for you to verify too.

[2019-05-14 03:15] pixelzoom opened #497 "TimerNode has inappropriate touchArea option"
Yet-another inappropriate pointer area default, this one in TimerNode:

`      touchAreaDilation: 10,`

First, this kind of default doesn't belong in a common-code component, especially one this large.   This issue started when I discovered that I had to set `touchAreaDilation: 0` to use this in Gas Properties.

Second, why is there an option for touchArea, but no option for mouseArea?

Third, the

[2019-05-14 03:27] pixelzoom commented on #497
Option removed, call sites changed.

@ariel-phet please assign someone to review.

[2019-05-14 18:50] samreid opened #498 "SpectrumSlider vs NumberControl"
In https://github.com/phetsims/wave-interference/issues/377 and moved to a new issue https://github.com/phetsims/wave-interference/issues/394, the wavelength slider in Wave Interference Diffraction Screen currently looks like this:

![image](https://user-images.githubusercontent.com/679486/57723375-b8fe3800-7645-11e9-96a3-ed895217b820.png)

It was requested that:

Here's how Bending Light's Wavele

[2019-05-15 01:56] Denz1994 commented on #497
@pixelzoom Shouldn't the revised call site in WOAS read:

[code]

The original call site didn't pass in an override to `touchAreaDilation`, so it should match the default that was present in `TimerNode.options.touchAreaDilation`.

Otherwise, this change looks appropriate.

[2019-05-15 02:11] pixelzoom commented on #497
@Denz1994 Sorry, I should have noted.  I modified WOAS's `touchAreaDilation` because it had a problem. With `touchAreaDilation:10`, it kisses the "Rulers" checkbox touchArea:

<img width="293" alt="screenshot_1184" src="https://user-images.githubusercontent.com/3046552/57743886-2cbf3580-7684-11e9-95f1-1e6f946b4d27.png">

Changing to `touchAreaDilation:5` resolved the problem. And regardless, the T

[2019-05-15 02:12] pixelzoom commented on #497
Btw... If you want to change WOAS back to `touchAreaDilation:10`, go for it, you're the responsible dev.

[2019-05-15 11:51] Denz1994 commented on #497
Understood, but @jonathanolson is listed as the responsible dev for WOAS.

The WOAS TimerNode touch area looks good. Also from the use cases above, there weren't any instances where the mouse areas should be adjusted either.  Assigning back to @pixelzoom to close.

[2019-05-15 13:48] #497 closed

[2019-05-15 21:40] pixelzoom opened #499 "migrate OopsDialog from equality-explorer"
Equality Explorer has `OopsDiaog`, which looks like this:

<img width="524" alt="screenshot_1187" src="https://user-images.githubusercontent.com/3046552/57811301-1cac6200-7727-11e9-8137-5c009d2bcf80.png">

It has these resources:

* phet-girl-wagging-finger.png
* phet-girl-wagging-finger.ai

[Gas Properties design document](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-

[2019-05-16 01:01] pixelzoom commented on #499
I discovered that "Oops!" is part of the message string, and I suspect that's actually better than being locked into "Oops!" everywhere.

`OopsDialog` and its resources have been moved to scenery-phet.  I converted it to an ES6 class, and I added a demo (Dialogs screen).

@ariel-phet please assign someone to review.

[2019-05-17 16:35] samreid commented on #498
I experimented with showing a gradient in the slider track, and showing a drop-down thumb with a "cursor" area, and it looked like this:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/679486/57942040-b7bf4c00-788d-11e9-949b-7881c23f1cdd.png)

This seems like the right direction to me.  I know it will be complicated to create options or features to customize/crea

[2019-05-18 00:47] zepumph commented on #478
These changes are so great. They are really overdue, so thank you!

* I really like that TwoColumnKeyboardHelpContent factors out the duplicated spacing and so on for the HBox. What if we took this one step farther. It would be nice if `TwoColumnKeyboardHelpContent` could take parameters that were `KeyboardHelpSection` or lists of `KeyboardHelpSection` to be formed into VBoxes instead of Nodes. Pe

[2019-05-18 02:56] zepumph commented on #492
@jessegreenberg, above I updated ISLC suite sims to use `ActivationUtterance` and `ValueChangeUtterance`. This is looking pretty nice. I really like that we have factored out control of timing to a single place based on use. I'm not totally convinced that 1000ms is the right time for the value change utterance. To me it is a bit long, but I defer to what the designed decision is.

@terracoda could

[2019-05-20 15:48] jessegreenberg commented on #492
I agree, it is a bit longer than ideal. We landed on 1000 ms in https://github.com/phetsims/john-travoltage/issues/315 because we discovered that JAWS has a hard time reading alerts if they happen too quickly after reading aria-valuetext. I added a missing reference link in the doc. If we want to reduce the time, we will want to test changes against JAWS and VO.

[2019-05-20 17:07] jessegreenberg commented on #478
Thanks for the review! That was a great suggestion, a number of VBoxes could be removed. @zepumph could you please review again, was this what you had in mind?

[2019-05-20 20:27] zepumph commented on #478
That looks excellent. Thank you. Especially https://github.com/phetsims/gravity-force-lab/commit/f48f5a9fbc8d2001817eac47b08db742fabb5790, very prime!

Back to you.

[2019-05-21 21:39] jbphet opened #500 "SpectrumNode can be undersized for non-integer dimensions"
In https://github.com/phetsims/blackbody-spectrum/issues/62 we ran into an issue where the spectrum representation for visible light on the graph ended up being narrower than expected, and that smallness got worse as the node was scaled up (to see a screen capture of how this looked, search [the issue](https://github.com/phetsims/blackbody-spectrum/issues/62) for the word "rainbow").  After much i

[2019-05-21 22:25] chrisklus commented on #499
The code, usages, and demo in scenery-phet look good, and the dialog correctly handles long strings. Back to you @pixelzoom.

[2019-05-21 22:35] samreid commented on #498
@ariel-phet reviewed the issue and recommended scheduling discussion for Thursday.

[2019-05-21 22:46] pixelzoom commented on #500
I'd think that you'd want to use `Math.ceil` rather than `Util.roundSymmectric`.   Otherwise you're going to lop off pixels for values like 54.3.  Otherwise this should be fine, as long as you don't draw outside of `config.size`.

It also might be good to reimplement `SpectrumNode` as a subclass  `CanvasNode`, which didn't exist when `SpectrumNode` was created for use in BLL.

[2019-05-22 16:14] jbphet commented on #500
Okay.  Assigning to @arnabp to add `Math.ceil`, test in Blackbody Spectrum and in the scenery-phet demo and, if all looks good, close.  The port to `CanvasNode` sounds like a reasonable idea, but it's more than we want to take on to resolve this.

[2019-05-22 16:25] pixelzoom opened #501 "rewrite SpectrumNode as a subclass of CanvasNode"
Noted in https://github.com/phetsims/scenery-phet/issues/500#issuecomment-494586855:

@jbphet said in https://github.com/phetsims/scenery-phet/issues/500#issuecomment-494871473:

In light of https://github.com/phetsims/scenery-phet/issues/498 (SpectrumSlider vs NumberControl) if may be better to do this sooner rather than later.

Assigning to @ariel-phet to prioritize and assign.

[2019-05-22 16:26] pixelzoom commented on #500
OK, we'll track that in https://github.com/phetsims/scenery-phet/issues/501.  But in light of #498 (SpectrumSlider vs NumberControl) if may be better to do this sooner rather than later.

[2019-05-22 16:26] pixelzoom commented on #498
Related issue https://github.com/phetsims/scenery-phet/issues/501

[2019-05-22 16:34] pixelzoom commented on #501
This looks easy, I'm just going to do it.

[2019-05-22 16:35] pixelzoom commented on #500
@jbphet @arnabp  hold off on changes to SpectrumNode.  I'm going to take care of #501, port to CanvasNode.

[2019-05-22 17:20] pixelzoom commented on #501
Rewrite completed.  SpectrumNode is now a subclass of CanvasNode, and uses ES6 language features.

[2019-05-22 17:22] pixelzoom commented on #500
SpectrumNode work completed in #501.  Pull scenery-phet to test in blackbody-spectrum.

The first thing I notice (comparing to blackbody-spectrum 1.0.0-dev.16) is that brightness looks reduced. I'm not sure why that is, because the algorithm to compute the colors is unchanged.

I have not added Math.ceil calls yet, because there’s no indication in CanvasNode docs that integer values are required.

[2019-05-22 18:03] pixelzoom commented on #501
@jbphet please review.

[2019-05-23 02:29] ariel-phet commented on #496
@Denz1994 could you do this review?

[2019-05-23 15:21] jessegreenberg commented on #478
Thanks for reviewing @zepumph, then https://github.com/phetsims/scenery-phet/issues/478#issuecomment-479077697 is done with the additional cleanup above and this can be closed.

[2019-05-23 15:21] #478 closed

[2019-05-23 15:55] #499 closed

[2019-05-23 20:06] jessegreenberg commented on #498
5/23/19

- Group consensus is to proceed with option 1 above. @samreid will explore it, and if he runs into any trouble will report back. @samreid may reach out to @pixelzoom for advice if necessary.

[2019-05-23 20:50] zepumph commented on #481
Yes that looks very nice to me. Since NumberControl is the parent node, setting it to be pickable false will apply to all children (or so I notice when manually toggling this Property in a sim). Thanks for implementing the bug when you saw it! Anything else here?

[2019-05-23 22:35] arnabp commented on #500
The reason for the reduced brightness is that there now appear to be black lines between each of the rectangular fills. I tried increasing the width of the rectangles, but while that did remove the black lines, the individual rectangles are still very visible. So the new port to CanvasNode has done something to how the SpectrumNode used to be smooth.

I've increased the size of the wavelengthSpect

[2019-05-24 00:40] pixelzoom commented on #500
Thanks @arnabp, I'll have a look.

Is the "graph ended up being narrower than expected" problem still present?

[2019-05-24 05:40] pixelzoom commented on #500
In the above commit, I reverted to `SpectrumNode extends Image`, and I added the `Math.ceil` calls for width and height.

I see that BLACKBODY_SPECTRUM/GraphDrawingNode is already adding a Math.ceil call.  I tried removing it.   But I'm not familiar with the original problem.   So @jbphet or @arnabp please have a look.

I'm also not sure how to proceed with this issue.  I've currently documented `

[2019-05-24 06:00] pixelzoom commented on #500
I said:

That's exactly what I did in the above commit. I think this is the way to go. But @jbphet @arnabp let me know what you think.

A general concern with this issue is that some sim may be unknowingly relying on `SpectrumNode` being smaller than the `options.size` value that was provided.   I poked around a bit to see if I could identify usages, but it was difficult -- SpectrumNode isn't used

[2019-05-24 06:02] pixelzoom commented on #501
This didn't work out, and that was reported over in https://github.com/phetsims/scenery-phet/issues/500#issuecomment-495409067.   To make a long story short, I reverted to `SpectrumNode extends Image, and we'll continue this work over in #500.  So closing this issue.

[2019-05-24 06:02] #501 closed

[2019-05-24 06:08] pixelzoom commented on #481
Nope, I think we're done. Closing.

[2019-05-24 06:08] #481 closed

[2019-05-26 21:39] terracoda commented on #492
@jessegreenberg when I worked with sim on Friday, and the alerts seemed slow. I will review again, and post here on Monday.

[2019-05-27 02:38] pixelzoom commented on #482
Hmm....  This is still an issue in Gas Properties in some situations.  For example, if you put a couple of particles in the container and heat them up, you can exceed the range of the pressure gauge.  The correct pressure is displayed, but the formatting is a little off, see screenshot below.  I could add an additional digit to the pressure gauge to make this more difficult to happen, but it would

[2019-05-28 09:40] terracoda commented on #491
@zepumph, the position sliders and the mass slider/numberpickers sound fine in GFL Basics!

[2019-05-28 09:40] terracoda commented on #491
@zepumph, is it safe to close this issue?

[2019-05-28 09:51] terracoda commented on #492
@jessegreenberg, the alerts feel like they appear in the orange box a little slowly when using the A11y View, but I think they sound fine when I use the sim with VoiceOver.

[2019-05-28 09:52] terracoda commented on #492
@jessegreenberg, I'm going to close this issue. Pleas ere-open if I closed prematurely.

[2019-05-28 09:52] #492 closed

[2019-05-28 19:28] arnabp commented on #500
Testing in blackbody shows no issues, the spectrum is back to being smooth and the SpectrumNode handles the original graph width problem just fine, so everything looks good on this end.

[2019-05-28 21:14] arnabp commented on #500
Assigning this back to you @pixelzoom, not sure if you want to keep it alive to try to port to CanvasNode again in the future and try to resolve the strange rendering issue, or leave it as is.

[2019-05-29 04:04] pixelzoom opened #502 "issues with GaugeNode"
Issues with GaugeNode that I've encountered in Gas Properties:

- [x] needle is behind the tick marks
- [x] no way to set `lineWidth` for needle
- [x] no way to set `stroke` for tick marks, and they are 'gray'

[2019-05-29 04:09] pixelzoom commented on #502
Addressed in the above commits.  I added options `needleLineWidth`, `majorTickStroke`, and `minorTickStroke`, and preserved their original values as defaults.   And did `addChild( needle )` last, so that the needle is on top of the ticks.

@ariel-phet please assign someone to review.

[2019-05-29 15:11] pixelzoom commented on #500
I think I'll just punt on using CanvasNode here.  Closing.

[2019-05-29 15:12] pixelzoom commented on #500
Reopening because this is affecting https://github.com/phetsims/wave-interference/issues/402.

[2019-05-29 15:20] pixelzoom commented on #500
Confirmed that https://github.com/phetsims/wave-interference/issues/402 is not a problem in master, closing again.

[2019-05-29 15:20] #500 closed

[2019-05-29 16:04] pixelzoom commented on #482
Here's an implementation of SCENERY_PHET/ComponentsScreenView `demoComboBoxDisplay` that can be used to reproduce the problem.

[code]

[2019-05-29 17:37] samreid commented on #502
I'll take a look.

[2019-05-29 17:47] samreid commented on #502
The commits look reasonable to me.  The flat options pattern was used instead of the composite options pattern, but that seems reasonable to keep things simple here.  I'll open up a side issue regarding the z-order of the needle, but I think this issue can be closed. I'll send it back to @pixelzoom in case there's anything else before closing.

[2019-05-29 17:50] samreid opened #503 "Should the GaugeNode make it possible to see which tick mark the needle is pointing to?"
From #502.

Regarding the z-order of the needle, I think it is somewhat problematic that you cannot see both the needle and the tickmark at the same time.  This is not a new problem introduced by fixes in #502--it was already pretty difficult to see both, here is a screenshot from published Forces and Motion: Basics (2.3.9)

![image](https://user-images.githubusercontent.com/679486/58578963-454459

[2019-05-29 20:02] pixelzoom commented on #503
I don't believe that anyone is actually reading tick marks with this gauge.   If they are trying to read ticks, then there are bigger problems; the ticks aren't labeled, and neither is the min/max.

So I don't really think this is an issue.  But if you're convinced that it is, then make the needle a bit shorter.

[2019-05-30 01:53] ariel-phet commented on #503
@pixelzoom @samreid the needle of the gauge should definitely not be behind the tickmarks in my opinion, I think that would look unrealistic and a bit odd.

Two changes would be ideal if we want to have a slightly more realistic gauge As in this picture:

![speedometer ttk](https://user-images.githubusercontent.com/4051174/58602693-12bc5000-824b-11e9-847d-10cfe8e1db9b.jpg)

1. Shorten the needle s

[2019-05-30 01:55] ariel-phet commented on #503
Whoever feels like making the needle short first, go for it.

[2019-05-30 04:58] pixelzoom commented on #502
Thanks for the review, nothing else to do, closing.

[2019-05-30 04:58] #502 closed

[2019-05-30 05:52] pixelzoom commented on #503
I'm on it.

Minor ticks aren't placed like the gauge shown in https://github.com/phetsims/scenery-phet/issues/503#issuecomment-497171078, so "halfway into the minor tickmark" doesn't do much to address this.  It would look like this in scenery-phet demo:

<img width="405" alt="screenshot_1222" src="https://user-images.githubusercontent.com/3046552/58611493-8c186a80-826c-11e9-843e-38a568217da1.png"

[2019-05-30 15:09] ariel-phet commented on #503
@pixelzoom looks good to me!

[2019-05-30 16:20] pixelzoom commented on #482
In the above commits, I rewrote SCENERY_PHET/ComponentsScreenView `demoComboBoxDisplay` to exercise layout functionality.   This demonstrates the problem.

[2019-05-30 16:37] pixelzoom commented on #482
The problem is that ComboBoxListBox is not equipped to deal with item Nodes whose bounds change.  This is going to require some significant changes, and might be a good place to use AlignGroup and AlignBox.

[2019-05-30 17:41] pixelzoom commented on #482
In the above commits, I added dynamic layout of items in the listbox and button.   This is working nicely in scenery-phet demo.

@ariel-phet please assign someone to review, which should be completed before Gas Properties starts QA process.

[2019-05-30 17:47] pixelzoom commented on #482
@ariel-phet if you're looking for suggestion for a reviewer, @jessegreenberg did review of the recent rewrite of ComboBox and its components.

[2019-05-30 20:27] zepumph commented on #491
Looks good to me. @jessegreenberg anything else?

[2019-05-31 23:16] jessegreenberg commented on #491
Thanks for the review.

[2019-05-31 23:16] #491 closed

[2019-06-01 02:49] jessegreenberg commented on #485
Sorry it took so long to get to this. I did

The last two of these feel like they should be their own function

In the above two commits. I also checked off the review items that were discussed and handled in separate issues. @zepumph lets discuss the remaining check boxes on a11y dev meeting monday.

[2019-06-03 04:30] samreid commented on #498
A note about mutually exclusive options.  Slider.js already has this code:

[code]

I don't see any logic about requiring these options to be mutually exclusive.  Similar options will be added for track, and I created a library for asserting the options are mutually exclusive.  In the case of the track, the usage is like so:

[code]

This works great for Slider.  However, NumberControl supplies th

[2019-06-03 04:52] samreid commented on #498
The mutual exclusivity feature is catching occurrences in

* coulomb's law
* molecules-and-light

where `thumbNode` and `thumbSize` are both being specified.  It seems nice to be able to detect and prevent this kind of problem.

[2019-06-03 05:00] samreid commented on #498
- [ ] document and finish SpectrumTrack
- [ ] document and finish SpectrumThumb
- [ ] can WavelengthSlider/FrequencySlider be rewritten using new strategy?

[2019-06-03 16:16] samreid commented on #498
I'm at a good checkpoint for review, will commit shortly.  If we decide we want to proceed with this strategy and once the API is finalized, we can port delete SpectrumSlider or rewrite it to use this new common code.

[2019-06-03 22:03] ariel-phet commented on #482
@pixelzoom, unfortunately JG is unavailable currently. @zepumph can review but it will be on Thursday

[2019-06-03 22:06] samreid commented on #498
I got to a good checkpoint and committed an initial working proposal.  I added a new Slider constructor option `trackNode` which can be used to specify an alternate track.  This mirrors the pre-existing option `thumbNode` which has been widely used.  In https://github.com/phetsims/phet-core/issues/60 I also added support for checking that mutually exclusive options were not supplied.

@ariel-phet

[2019-06-03 23:45] zepumph commented on #462
Oh my goodness sorry for the delay. I didn't see anything that I didn't love here! Especially with the work done since creating `KeyboardHelpSection`. Back to you friend.

[2019-06-04 06:51] ariel-phet commented on #498
@pixelzoom if you are able to do this review, I think that would be the most efficient. If you feel you don't have time currently, feel free to kick it back to me to find someone else.

[2019-06-04 13:40] pixelzoom commented on #498
I'll be happy to review, but I'm unlikely to get to it until Thursday.

The request that will take me the most time is this one:

@samreid said:

@samreid have you made a pass at this verification yourself? If so, then perhaps I can just spot check.

[2019-06-04 13:48] samreid commented on #498
I did the following verification:
* lint-everything is passing
* CT doesn't show any new problems related to this
* Tested the Evaporation slider in Beer's Law Lab
* Tested the Mass slider in Energy Skate Park: Basics
* Tested some sliders in Graphing Quadratics
* Tested the sliders with custom thumb in Coulomb's Law
* Tested all slider components in the scenery-phet demo, including the NumberCont

[2019-06-04 14:31] pixelzoom commented on #498
Thanks for the clarification @samreid.  I haven't done any review of the changes yet, so I don't know how extensive they are.  Do you think that an exhaustive look at Slider usages is a good idea? If so, then perhaps some time should be scheduled with QA.

[2019-06-04 16:38] samreid commented on #498
Changes to existing features are medium-small.  An exhaustive QA test of all sliders seems like overkill, but will be a good thing to say "heads up" during upcoming RC tests.

[2019-06-05 00:22] jessegreenberg commented on #485
@zepumph and I paired on this today, and we went over the remaining review items. We identified that the remaining confusion about timeInQueue and stableTime is because  `next` was poorly named since it didn't always speak the "next" utterance. We distributed its work across new functions driven by `stepQueue` that are easier to understand.

We also identified that the option `alertStable` was not

[2019-06-05 00:27] jessegreenberg commented on #485
All done in the above commits. We fixed unit tests and usages after the API change. I think this issue can now be closed.

[2019-06-05 00:27] #485 closed

[2019-06-06 20:28] pixelzoom commented on #498
Most of this looks good to me.  `assertMutuallyExclusiveOptions` looks generally useful, and appropriate to use here.  Handling of `trackNode` option in `Slider` looks good.

A few things that I think could be improved:

- [ ] `SpectrumTrack extends SliderTrack` is odd.  It's a track on top of a track.  How about factoring out a base class, something like:

[code]

- [ ] Generally we want `new` to

[2019-06-06 20:34] pixelzoom commented on #498
Next, the answer to additional questions...

I did not do an exhaustive test.  I spot-checked a few sims and didn't see any obvious problems.

@samreid Do you mean that you must pass the same  `valueToColor` to both the SpectrumSlider and Spectrum thumb?  If so, I think that's fine.  If something else, please clarify.

See https://github.com/phetsims/scenery-phet/issues/498#issuecomment-499654770,

[2019-06-06 20:48] samreid commented on #498
The problem is that the `valueToPosition` LinearFunction doesn't exist until the Slider constructor is partway through.  For clients that pass in a custom `SliderTrack`, they will not be able to supply the `valueToPosition` value until it is created.  We could do something like this, but in my opinion that is more complex:

[code]

Note, for instance, this makes it impossible to create a `SliderTr

[2019-06-06 20:50] samreid commented on #498
I struggled with that.  I'm not sure where to put these because Slider is defined in sun, but the spectra are defined in scenery-phet, and take 2 classes to make it work.  Where do you recommend these go?

[2019-06-06 20:55] pixelzoom commented on #498
@samreid said:

I'll need to get back to you on that, self assigning.

Would it be useful to create `SpectrumSlider extends Slider` and `SpectrumNumberControl extends NumberControl`, then use those class names for the demo names?

[2019-06-06 21:26] zepumph commented on #482
* >The lovechild of a ComboBox and a NumberDisplay.

  I could definitely see the passion written into the code.

* >      `itemNodeWrapper.on( 'bounds', () => { updateAlignment(); } );`

  can be simplified to `itemNodeWrapper.on( 'bounds', () => updateAlignment() );`

* The "range" Property in each item passed to the ComboBoxDisplay seems like its job is a bit more opaque now. There is no error

[2019-06-06 21:44] samreid commented on #498
That sounds nice, I'm going to upgrade SliderTrack to ES6/class and look into it further.

[2019-06-07 02:28] samreid commented on #498
@pixelzoom we could start with a default (identity function?) `valueToPosition` which is wrong but can be overriden when connected to the slider?

[2019-06-07 18:52] pixelzoom opened #504 "NumberDisplay numberRange is confusing"
This has bothered me for awhile and was most recently pointed out by @zepumph in https://github.com/phetsims/scenery-phet/issues/482#issuecomment-499673892.

`NumberDisplay` constructor signature is:

[code]

The `numberRange` parameter is not actually the range of `numberProperty`.  It's used to size the display's background and set its maxWidth.   Here's the relevant code:

[code]

We definitely

[2019-06-07 18:53] pixelzoom commented on #504
When this is addressed, we'll also need to address the API for `ComboBoxDisplay`, which is exposing this wart in its `items` data structure.

[2019-06-07 18:54] pixelzoom commented on #482
@zepumph

The code hasn't looked like that since 5/30/19. @zepumph were you reviewing an older version of the code?

I agree with all of this.  But this design issue is rooted in NumberDisplay, not ComboBoxDisplay.   So I've created https://github.com/phetsims/scenery-phet/issues/504.

Back to @zepumph.

[2019-06-07 19:12] pixelzoom commented on #498
`valueToPosition` is:

`new LinearFunction( range.min, range.max, 0, trackSize.width, true /* clamp */ );`

You know `range` because it’s a required Slider constructor arg.

You know `trackSize` because it’s provided to the SliderTrack constructor via options.

Change SliderTrack and SpectrumTrack constructors to:

`constructor( property, range, options )`

Then `new SliderTrack` has everything it

[2019-06-07 19:24] pixelzoom commented on #498
Example:

[code]

[2019-06-07 19:29] pixelzoom commented on #498
Slack:

That sounds good.  We will additionally need a way to update the range. Note that in Slider.js the valueToPosition function can change in enabledRangeObserver. Anyways, I can investigate that.

Chris Malley [1:27 PM]
You might want to consider using the NumberPicker approach for dynamic range:

```function NumberPicker( valueProperty, rangeProperty, options )```

[2019-06-08 01:28] zepumph commented on #482
Yeah sorry about that. I'm not sure what I was looking at as I went through the commits. I should have checked with master before making that review comment. Though eventually I did look at the commits in summation on master.

Back to you.

[2019-06-09 22:45] pixelzoom commented on #482
Closing, since the only unaddressed feedback has been moved to #504 (NumberDisplay numberRange is confusing).

[2019-06-09 22:45] #482 closed

[2019-06-10 21:19] samreid commented on #498
Stashing a patch with progress on adding Range argument to tracks:

[code]

[2019-06-14 13:26] samreid commented on #498
I'm going to split out the remaining work into separate issues.

[2019-06-14 13:30] samreid opened #505 "SpectrumTrack extends SliderTrack is odd."
From #498

   DefaultSliderTrack extends SliderTrack - provides a Rectangle for the track
   SpectrumSlider extends SliderTrack - provides a SpectrumNode for the track

I replied:

That sounds nice, I'm going to upgrade SliderTrack to ES6/class and look into it further.

Port to ES6 was done in https://github.com/phetsims/sun/commit/563b9202e7a9d632e29799d0653d36bb14a8f6da

[2019-06-14 13:32] samreid opened #506 "But new SliderTrack creates an instance that is not usable (and will fail an assertion) until setValueToPositionFunction is called."
From #498

See other comments in #498 culminating in https://github.com/phetsims/scenery-phet/issues/498#issuecomment-500599165

[2019-06-14 13:35] samreid opened #507 "Fix scenery-phet demo titles"
From https://github.com/phetsims/scenery-phet/issues/498#issuecomment-499654770

I replied:

I struggled with that. I'm not sure where to put these because Slider is defined in sun, but the spectra are defined in scenery-phet, and take 2 classes to make it work. Where do you recommend these go?

[2019-06-14 13:36] samreid opened #508 "can WavelengthSlider/FrequencySlider be rewritten using new strategy? Or delete them and revisit sims that use them using Slider?"
From #498

can WavelengthSlider/FrequencySlider be rewritten using new strategy? Or delete them and revisit sims that use them using Slider?

[2019-06-14 13:36] samreid opened #509 "Add wavelength slider overlays to highlight certain wavelengths"
From #498

Add wavelength slider overlays to highlight certain wavelengths

[2019-06-17 18:55] samreid commented on #505
Proposed fixes committed, please review.

[2019-06-17 19:47] pixelzoom commented on #505
I did a quickie review because otherwise I won't be able to get to this until July.   Looks good, makes sense.

Not exactly specific to this issue, but I noticed it now that there's a "track" hierarchy...  Consider renaming `SpectrumTrack` and `SpectrumThumb` to `SpectrumSliderTrack` and `SpectrumSliderThumb` respectively.   They are parts of the SpectrumSlider, and their current names are missing

[2019-06-17 19:51] samreid commented on #506
Implemented and ready for review.

[2019-06-17 19:56] samreid commented on #505
Renamed as prescribed, ready for review.

[2019-06-17 20:01] samreid commented on #507
There is already a legacy file named "SpectrumSlider" which we are hoping to replace with Slider + SpectrumSliderTrack.

[2019-06-17 20:13] samreid commented on #508
@ariel-phet now that Slider has been generalized to support a track with a spectrum, we can proceed with updating simulations to use this new common code instead of the previous version.  When all simulations are using the new code, we can delete WavelengthSlider, FrequencySlider and SpectrumSlider.  I see around 4 sims using WavelengthSlider and only one using FrequencySlider.  I'll update Wave I

[2019-06-17 20:13] samreid commented on #509
@ariel-phet similar question as https://github.com/phetsims/scenery-phet/issues/508#issuecomment-502833285. Do you want to investigate a "highlight certain wavelengths" feature now before Wave Interference 2.0 goes into production, or as a separate issue when we are working on a sim with that feature?

[2019-06-17 20:46] samreid commented on #508
After the above commit, there are no more usages of FrequencySlider (outside of demos), and the usage in Wave Interference is preferable.  I'll delete FrequencySlider.

[2019-06-17 20:49] samreid commented on #508
FrequencySlider has been removed in the preceding commits.  The only remaining mentions are in binder.  @zepumph can you please update binder or recommend how I can do so?

[2019-06-17 22:59] zepumph commented on #508
Sorry for commits to this issue. I reran binder (with a few extra changes as I went, and a bug fix for https://github.com/phetsims/tasks/issues/958), and I now see zero usages of FrequencySlider. Does this seem correct to you?

[2019-06-17 23:02] samreid commented on #508
Thanks @zepumph, that looks great.  Leaving assigned to @ariel-phet for discussion of https://github.com/phetsims/scenery-phet/issues/508#issuecomment-502833285

[2019-06-18 00:02] pixelzoom commented on #505
👍 closing.

[2019-06-18 00:02] #505 closed

[2019-06-18 00:23] pixelzoom commented on #506
I reviewed the commit, which seems to be based on the approach outlined in https://github.com/phetsims/scenery-phet/issues/498#issuecomment-500005571.

But in https://github.com/phetsims/scenery-phet/issues/498#issuecomment-500010699, @samreid said "additionally need a way to update the range" so I was sort of expecting to see `{Property} rangeProperty` instead of `{Range} range`.    @samreid did

[2019-06-18 01:29] pixelzoom commented on #504
Thinking out loud...  Maybe we should:
* get ride of param `numberRange`
* add option `minWidth` to set an optional min width
* use existing option `maxWidth` to set an optional max width

[2019-06-18 01:34] pixelzoom commented on #509
Is this motivated by the MOTHA requirement that I mentioned in https://github.com/phetsims/scenery-phet/issues/498#issuecomment-492386526?

I'm not convinced MOTHA's requirement is something that is generally useful.  So I don't think we need to do this immediately, or perhaps at all.  As long as there's a way to decorate a track, which seems doable with the new SpectrumSliderTrack, et. al.

[2019-06-18 01:39] pixelzoom commented on #509
To job my memory and demo MOTHA requirements, here's what the spectrum slider looks like with "Show absorption wavelengths" checked:

<img width="374" alt="screenshot_1258" src="https://user-images.githubusercontent.com/3046552/59647132-4ba76080-9137-11e9-8f43-0a0aff21b5ee.png">

And when the thumb is positioned at one of the absorption wavelengths, note that the thumb stroke changes to 'white' to

[2019-06-18 03:18] samreid commented on #509
Yes, precisely.  I agree that the existing design is amenable to decoration in the future and believe this issue can be closed.  @ariel-phet or @pixelzoom feel free to reopen if you disagree.

[2019-06-18 03:18] #509 closed

[2019-06-18 03:47] samreid commented on #451
This issue seems related to https://github.com/phetsims/wave-interference/issues/406, so I've marked as blocking and increased the priority.

[2019-06-18 15:30] samreid commented on #506
My apologies, I was conflating two issues.  It seem that Slider does not support a dynamic range, but it does support a dynamic `enabledRange`.  I followed this pattern in SliderTrack, which takes a `enabledRangeProperty` option.

[2019-06-18 15:35] samreid commented on #506
Marking for https://github.com/phetsims/wave-interference/issues/408

[2019-06-19 18:29] zepumph commented on #451
@samreid your patch for finding the old api keys was very helpful! I fixed the sims you mentioned above, though I didn't look at any other simulations.

I haven't gotten to https://github.com/phetsims/scenery-phet/issues/451#issuecomment-502934516 yet.

[2019-06-20 02:44] ariel-phet commented on #508
@samreid can you identify the sims? I am guessing they are Bending Light and a few of CM's sims. If they are mostly @pixelzoom sims, if you make sub issues, they will get addressed quickly, so we might consider doing this before 2.0 (since CM will be doing the code review of the diffraction screen anyhow).

[2019-06-20 16:26] samreid commented on #498
We'll continue in the related issues, closing this parent issue.

[2019-06-20 16:26] #498 closed

[2019-06-21 13:14] pixelzoom commented on #506
Got it, thanks for clarification.  Feel free to close if this is done.

[2019-06-22 23:17] #506 closed

[2019-06-22 23:41] samreid commented on #508
Beer's Law Lab
Color Vision
Models of the Hydrogen Atom
Bending Light

@pixelzoom is listed as responsible dev for all but Bending Light.  Before moving forward to creating sub-issues, we should discuss the plan for proceeding.  @pixelzoom do you think we should (a) delete WavelengthSlider and have those 4 sims (and future sims) just use `new HSlider( property, range, { trackNode: ..., thumbNode:

[2019-06-24 00:22] pixelzoom commented on #508
(b)

[2019-06-24 14:56] samreid commented on #508
Marking for possible inclusion in https://github.com/phetsims/wave-interference/issues/408

[2019-06-25 19:24] samreid opened #510 "FaucetNode accessibility should respect interactiveProperty"
While working on https://github.com/phetsims/wave-interference/issues/412, @zepumph and I noticed that FaucetNode has an accessible peer dom element whether or not `interactiveProperty` is true.  We would like to change it so that FaucetNode is only keyboard navigable when `interactiveProperty` is true.

[2019-06-25 19:28] samreid commented on #510
@zepumph and I collaborated to make this change.  We tested with Waves Intro as well as Concentration.  Lint is passing, and the root problem in Waves Intro is fixed.  However, neither of us is familiar with FaucetNode, so it would be great if @pixelzoom can do a review.  You can test the keyboard navigability by running Waves Intro, which now as `accessible: true` by default.

[2019-06-26 00:47] pixelzoom commented on #510
I skimmed the above commits and my only conclusion is that I'm not qualified to review. I was not involved in adding a11y to FaucetNode, looks like @jbphet handled that in https://github.com/phetsims/scenery-phet/commit/7d606270a2de72ab26fe24e6fce1070da09e7534.  It would probably be best to have @jbphet or someone else on the a11y team review.

[2019-06-26 02:35] samreid commented on #508
Here are snapshots from each of the 4 sims listed above:

Beer's Law Lab:
![image](https://user-images.githubusercontent.com/679486/60146811-432ed580-9788-11e9-8e85-dc755c7929b8.png)

Color vision:
![image](https://user-images.githubusercontent.com/679486/60146820-4aee7a00-9788-11e9-9abb-ac2de0e597c9.png)

Models of the Hydrogen atom:
![image](https://user-images.githubusercontent.com/679486/60146

[2019-06-26 04:46] samreid commented on #508
Here's a patch of my progress:

<details>

[code]

</details>

This creates WavelengthNumberControl and attempts to use it in several sims.  Color vision is not working correctly (should just use HSlider with spectrum track and thumb), options API for overriding things is questionable, trackHeight option in WavelengthNumberControl is odd, etc.

[2019-06-26 15:38] samreid commented on #510
@jbphet or @jessegreenberg can you please take a look?

[2019-06-26 19:32] jessegreenberg commented on #510
I reviewed, this change looks good to me, thanks!

[2019-06-26 22:41] #510 closed

[2019-06-27 21:45] zepumph commented on #451
I reviewed this sim, and things look very good. @mbarlow12 was very thorough and clean. I made a few minor adjustments based on conversations we have had about best practices since this work was done. Sorry it took so long for me to get to the review.

Summary of review and changes:
* Looked at all commits, including usage changes
* Mostly looked at option nesting initialization at the top of Numb

[2019-06-27 23:49] pixelzoom commented on #451
Re "spot check"... Over in https://github.com/phetsims/phet-info/issues/96#issuecomment-506518314, @zepumph said he wasn't sure about https://github.com/phetsims/scenery-phet/commit/8302c084b3569b06a71ccff4180d6d10aa16413b#diff-22cf8008e26ed989c8977040d76d6913R171, and was using something identified as a "CON" in "Example 1" of https://github.com/phetsims/phet-info/issues/96#issue-418531655.   I r

[2019-06-28 15:52] samreid commented on #451
The commit referenced above does not seem to have the problem of mutating a passed-in options object.

I reviewed the commits and tested that the behavior in Wave Interference is the same.  The changes are looking good and I wanted to ask about the following:

* I saw usage of nested options, but not using the `PHET_CORE/merge` strategy.
* I saw checking for `* Only general or specific callbacks a

[2019-06-28 18:51] zepumph commented on #451
I didn't know that was ready for production. I marked https://github.com/phetsims/phet-info/issues/91 for developer meeting to understand that better. For now I'm going to try adding it in and just see how it goes. I also notice usages in wave-interference.

I think that will be excellent. Thanks! Also see https://github.com/phetsims/phet-core/issues/62

[2019-06-28 19:46] zepumph commented on #451
I just realized this won't work, since one set of options is in `options`, and the other set of options is checked in `options.arrowButtonOptions` and `options.sliderOptions`. Still it is good to learn about that function, so thanks.

[2019-06-28 20:58] zepumph commented on #451
When it comes to merge. Many of the default nested options rely on options passed to the NumberControl. Here is a patch that extends some of the options, and then merges the rest of them. Perhaps we could make something like this work. like extend all options for NumberControl, and then do a single merge for all nested options (this patch doesn't quite get to that suggestion).

<details>

[code]
<

[2019-06-28 20:59] zepumph commented on #451
@samreid please review the above comments. After the two investigations above. I would be fine either keeping things the way they are, or investigating merging all nested options in a single call.

[2019-06-28 21:07] zepumph commented on #451
Hey sorry for the stream of consciousness above. I actually ended up implementing the proposal in https://github.com/phetsims/scenery-phet/issues/451#issuecomment-506874805.

It worked well to have an extend call for all options for NumberControl, and then a second merge for all nested options at once.

Though this doesn't simplify things into a single call, it get's closer than X extend calls, on

[2019-06-28 22:28] samreid commented on #451
@zepumph and @chrisklus reviewed the changes and the preceding comments today, and all seems well. Closing.

[2019-06-29 13:26] samreid commented on #451
CT is showing some issues likely related to these changes.

[code]

[2019-06-29 13:49] samreid commented on #451
In the preceding 2 commits, I fixed the NumberControl options extend and fixed a typo in energy-skate-park.  The following commits will be the results of `grunt update`.

[2019-06-29 13:52] samreid commented on #451
@zepumph can you please review the changes?

[2019-06-30 19:57] samreid commented on #508
I've created a rough draft for WavelengthNumberControl which will work for Wave Interference and Bending Light.  Here is a proposed plan for going forward:

- [ ] I will commit a rough draft proposal for WavelengthNumberControl.js as well as proposed usage in Scenery PhET Demo and Wave Interference
- [ ] Review of the drafts, and refinement of API/defaults/etc.

At this point, this issue will no l

[2019-07-01 14:22] samreid commented on #503
@pixelzoom does this issue require further work before closing? https://github.com/phetsims/scenery-phet/commit/a6683aea16aa0613dfc7c4f36fd01546af1c863f looks good to me.

[2019-07-02 00:14] pixelzoom commented on #503
👍

[2019-07-02 00:14] #503 closed

[2019-07-02 16:58] arnabp opened #511 "Fixed decimal places in NumberDisplay restricts their usage"
NumberDisplay currently sets a fixed number of decimal places at which to display its numbers. This is done so that the maxWidth of the box can be calculated on construction.

However, this has presented a problem in https://github.com/phetsims/projectile-motion/issues/173 where user entry for a property's value means the display should match however many decimal places the property itself has.

I

[2019-07-02 18:17] ariel-phet commented on #511
@pixelzoom marking medium priority since this sounds reasonably quick. If my impression is wrong, feel free to defer, or kick back to me.

[2019-07-02 21:50] pixelzoom commented on #511
This should be a relatively easy change in `NumberDisplay`, and it's independent of #504.   The bulk of the time will be visiting all of the usages of `NumberDisplay`, identifying the ones that don't set `decimalPlaces`, and making them explicitly set `decimalPlaces: 0`.

[2019-07-02 21:58] pixelzoom commented on #511
* 13 occurrences of "const NumberDisplay ="
* 1 occurrence of "var NumberDisplay ="
* 24 occurrences of "new NumberDisplay("
* 0 occurrences of "extends NumberDisplay"
* 0 occurrences of "inherit( NumberDisplay"
* 3 occurrences of "numberDisplayOptions"

[2019-07-02 22:58] zepumph commented on #451
This looks great thank you. CT has been clear for a few days now. I appreciate the cleanup!

[2019-07-02 22:58] #451 closed

[2019-07-03 19:14] pixelzoom commented on #508
Re the questions in https://github.com/phetsims/scenery-phet/issues/508#issuecomment-507062895:

Provide a custom layout function via `options.layoutFunction`.   For an example of a NumberControl with no title, see `temperatureLayoutFunction` in `GAS_PROPERTIES/InjectionTemperatureAccordionBox`. Yes, it's a bit inconvenient/wasteful to create a title that isn't used.  If that's something you want

[2019-07-03 19:18] pixelzoom commented on #508
@samreid In https://github.com/phetsims/wave-interference/commit/2040d7dcc43a37a96288ee40765df27ccc346c50, you are modifying PANEL_OPTION, which is used by 5 other UI components.  This is dangerous and violates PhET's best practices for options.

DiffractionScreenView, line 262:
[code]

Recommended to change to `_.extend( {}, PANEL_OPTIONS, {...} )`.

[2019-07-03 19:32] pixelzoom commented on #508
Review of `WavelengthNumberControl` draft completed.   Looks like a reasonable approach to me.

Questions:
* Should `RANGE` be an option?
* How would I dynamically change the thumb stroke, as will be required for MOTHA to highlight the thumb when `property.value` is a transition wavelength?

Back to @samreid.

[2019-07-03 20:14] pixelzoom commented on #511
Also need to inspect all uses of `ComboBoxDisplay`, `FineCoarseSpinner`, `NumberControl`, `ValveGaugeNode` -- they use `NumberDisplay`.

This is turning into a _lot_ of work.   So here's what I'm going to do is:
* Keep the default of `decimalPlaces: 0`, since there are so many places that assume that default.
* Add support for `decimalPlaces: null`, which can be used in Projectile Motion and any o

[2019-07-03 20:33] pixelzoom commented on #511
Support for `decimals: null` was added in the previous commit.  If you'd like to test this, go to `SCENERY_PHET/ComponentsScreenView` and in function `demoNumberDisplay` add `decimals: null` like this:

[code]

Back to @arnabp for review, and to verify that this provides the functionality needed in Projectile Motile.

[2019-07-10 13:56] samreid opened #512 "NumberControl title should be optional"
From https://github.com/phetsims/scenery-phet/issues/508#issuecomment-507062895

@pixelzoom replied

I'm not sure of the best time to work on this, perhaps next time we develop a simulation (or revisit a pre-existing simulation) that has a NumberControl without a title.  Assigning to @ariel-phet for now so he's aware of this request, and can comment on timing, priority, scheduling and delegation.

[2019-07-10 14:05] samreid opened #513 "NumberControl tweaker buttons should be able to match the size of the NumberDisplay"
In https://github.com/phetsims/scenery-phet/issues/508#issuecomment-507062895 I said:

@pixelzoom replied:

[code]

UPDATE: Tagging for https://github.com/phetsims/wave-interference/issues/408

[2019-07-10 14:55] samreid commented on #508
I created side issues for https://github.com/phetsims/scenery-phet/issues/508#issuecomment-508221961, then committed a fix to the extend call and committed a fix to make range an option.  Regarding this question:

At the moment, the way will be to create a sim-specific type like `MOTHAThumbNode extends SpectrumSliderThumb` and use something like this:

[code]

@pixelzoom anything else for this iss

[2019-07-10 15:02] samreid commented on #513
Would it be better to use `null` instead of `undefined` so we don't end up passing `undefined` from client code?  Would we change the default value from `0.85` to `null`?  And, if so, will we need to check through all sims that used the old default to make sure the new default is acceptable?

[2019-07-10 21:40] arnabp commented on #511
Functionality matches what I'm looking for in Projectile Motion, looks good!

[2019-07-10 21:40] #511 closed

[2019-07-11 15:52] pixelzoom commented on #513
Since `scale` is `Node` option, I would probably use whatever scenery used for the default. Looking at `DEFAULT_OPTIONS` in `Node`, it looks like the default for `scale` is probably `undefined`.

Yes.  Unless it's OK to push this new convention into all sims, which is a question for designers.

Yes.

[2019-07-11 15:53] pixelzoom commented on #508
From https://github.com/phetsims/scenery-phet/issues/508#issuecomment-508227348

I'm OK with it not being an option for now, since it wasn't previously an options.  @samreid feel free to address or not, then close.

[2019-07-15 03:03] samreid commented on #508
Range was moved to an option in the commit referenced above: https://github.com/phetsims/scenery-phet/commit/061610101114b7f422e788fdf10397d356db8580

Back to @pixelzoom for a mini-review.

[2019-07-15 15:19] samreid commented on #513
I tried using this code in Wave Interference:
[code]

And was met with

Therefore it does not seem there is a simple way for pre-existing simulations to have `0.85` and other occurrences opt-in to undefined.

@pixelzoom how do you recommend to proceed?

[2019-07-15 17:47] brandonLi8 opened #514 "Degrees ° should be added to math symbols"
Degrees  ° ('\u00B0' ) should be added to math symbols.

@pixelzoom suggested possibly adding ‘°C’, but says "...although that is straying from “math”'

[2019-07-15 18:06] pixelzoom commented on #508
Default option values that involve `new` should typically be factored out as constants. I don't see any reason what that doesn't apply to `range`, so I factored out `DEFAULT_RANGE` in the above commit.  Back to @samreid for review.

[2019-07-15 18:09] pixelzoom commented on #513
There's no reason to set `scale: undefined` explicitly as the default in `arrowButtonOptions`.   You want to test for whether the caller provided this option.   If testing for `options.arrowButtonOptions.scale === undefined` seem distasteful, then use `!options.arrowButtonOptions.hasOwnProperty( 'scale' )`.

[2019-07-15 21:32] samreid commented on #508
Change set looks good, thanks!  Closing.

[2019-07-15 21:32] #508 closed

[2019-07-15 22:34] samreid commented on #513
Here's a change set that defaults the arrow buttons to the height of the number display:

<details>

[code]

</details>

We cannot have some sims use one default and other sims use another default, so I think we will need to see if we can make this change for all simulations.  Thanks to binder, here is a list of sims that use NumberControl:

beers-law-lab
coulombs-law
energy-skate-park
gas-propert

[2019-07-15 23:54] samreid commented on #513
When I restricted the binder search to sims that use the defaults for NumberControl, it returned this list:

gas-properties
hookes-law
plinko-probability
rutherford-scattering
wave-interference

# gas properties
the change looks minor, but seems acceptable to me
Original
![image](https://user-images.githubusercontent.com/679486/61255954-05d6bb80-a728-11e9-8699-e550874777f8.png)
Proposed change
![i

[2019-07-15 23:59] pixelzoom commented on #513
Couldn't help lurking and throwing my opinion in :)  They all look mighty fine to me too.   Might be good to also check with `?showPointerAreas` to make sure there's nothing whacky going on there.

[2019-07-16 01:12] samreid commented on #513
I tested hookes law, and it looks like the pointer areas changed proportionately:

Original
![image](https://user-images.githubusercontent.com/679486/61258765-78e62f00-a734-11e9-8c83-dc1032bd41c5.png)

Proposed
![image](https://user-images.githubusercontent.com/679486/61258771-800d3d00-a734-11e9-8604-b3fa793468e7.png)

[2019-07-16 15:07] arouinfar commented on #513
Looks great @samreid! It's a subtle change, but I think matching tweaker height to the readout makes things look cleaner overall.

[2019-07-16 17:40] samreid commented on #513
Changes pushed, @pixelzoom can you please review?

[2019-07-16 17:50] pixelzoom commented on #513
Changes reviewed, looks good.  Feel free to close if work is completed.

[2019-07-16 17:51] samreid commented on #513
All set, thanks, closing.

[2019-07-16 22:57] pixelzoom opened #515 "PhET-iO instrumentation for ColorProfile"
I discovered while adding tandems to Gas Properties in https://github.com/phetsims/gas-properties/issues/30 that `ColorProfile` is not set up for PhET-iO use.    I'm not sure how important it is, that would be a question for designers.  But I can imagine clients wanting to (for example) customize the color of particles in Gas Properties.

[2019-07-17 00:42] pixelzoom commented on #515
Thoughts:

* Instrument some colors but not others. For example in Gas Properties there are only a few colors that clients might be interested in changing
* Provide metadata per color. For example to describe a color via `phetioDocumentation`, or inspect (but not set) a color via `phetioReadOnly`

[2019-07-17 19:03] arnabp opened #516 "ThermometerNode ticks should have option to space by temperature"
Currently ThermometerNode spaces tick marks based on a pixel value. An option for spacing tick marks based on a temperature value would be more logical for thermometers where the exact temperature of the thermometer is important.

Feature needed from https://github.com/phetsims/blackbody-spectrum/issues/107

[2019-07-17 20:39] pixelzoom commented on #504
Adding label "meeting:developer".  Please weigh in on the proposed API change in https://github.com/phetsims/scenery-phet/issues/504#issuecomment-502909488, and/or suggest alternatives.

[2019-07-18 02:28] pixelzoom commented on #515
Looks like `profileNameProperty` is the only bit that is currently instrumented.

[2019-07-18 05:19] samreid commented on #504
I don't understand how the proposal is supposed to size the rectangle to match the longest `valueToString` text, or how it is supposed to make that step unnecessary.  Would it help if the api changed something like this?

[code]

[2019-07-18 15:57] pixelzoom commented on #504
It doesn't -- it does away with dependency on any value, and sets a `minWidth`.

[2019-07-18 16:21] pixelzoom commented on #504
It doesn't -- it does away with trying to compute min width from a value, and sets an explicit `minWidth`.

[2019-07-18 16:21] samreid commented on #504
That sounds like a good solution to me.

[2019-07-18 18:40] pixelzoom opened #517 "ColorProfile should use StringProperty"
In ColorProfile constructor:

[code]

From the code-review checklist:

[2019-07-18 20:24] arnabp commented on #516
Some things of note:

Originally ticks were added to the thermometer from the top down. I'm not sure why this was done and couldn't find any reasons in past commits. I changed it to bottom up so the minor/major ticks would make more sense with temperature based tick spacing.

I also had to adjust how spacing was done in general, so this change affected all thermometer nodes in terms of exact tick

[2019-07-18 20:55] pixelzoom commented on #516
Hmmm... I haven't looked at other sims, but this is a change to Gas Properties.

Before:

<img width="244" alt="screenshot_1286" src="https://user-images.githubusercontent.com/3046552/61491152-dca66d00-a96b-11e9-93c4-7bcf732fc2cb.png">

After:

<img width="207" alt="screenshot_1287" src="https://user-images.githubusercontent.com/3046552/61491158-e203b780-a96b-11e9-8e76-016f0acba293.png">

I'm not

[2019-07-18 21:08] arouinfar commented on #516
@pixelzoom I think this is fine for Gas Properties, and I don't think it necessarily needs to block the rc.

However, this very likely threw a wrench into Energy Forms and Changes where the tick marks had deliberate placement, so @chrisklus may want to comment here.

[2019-07-18 21:25] arnabp commented on #516
Took a look at Energy Forms and Changes and there was some behavior there that wasn't intended (tick marks going into the curved top of the thermometer). Added a hotfix for that (gas properties remains unchanged).

[2019-07-19 23:42] pixelzoom commented on #516
Back to your question in https://github.com/phetsims/scenery-phet/issues/516#issuecomment-512973502...

I think that's a decision best left up to the sim designers, so assigning to @arouinfar.  In all of the sims where I've used ThermometerNode so far, the position of the mercury in the tube is qualitative, and the position/spacing/number of ticks is not significant.

[2019-07-20 17:08] arouinfar commented on #516
In general, that also sounds reasonable to me.

Most of the time ThermometerNode is purely qualitative. Energy Forms and Changes is one exception, which has tick marks deliberately spaced in 25 *C increments, so the boiling point of water perfectly aligns with a tick mark.
<img width="194" alt="Screen Shot 2019-07-20 at 10 38 55 AM" src="https://user-images.githubusercontent.com/8419308/61581626-1

[2019-07-20 23:02] pixelzoom commented on #517
Done in the above commit, tested with a couple of ColorProfiles.  @chrisklus would you mind glancing at this?

[2019-07-22 19:02] chrisklus commented on #517
Looks good @pixelzoom, back to you.

[2019-07-22 19:27] #517 closed

[2019-07-22 20:50] chrisklus commented on #516
I think this change is a step in the right direction, but needs to be tuned a little bit (at least in EFAC's case). The new option is helpful for me to explicitly set min and max tick marks for desired temperatures, see https://github.com/phetsims/energy-forms-and-changes/issues/240#issuecomment-485991115.

![image](https://user-images.githubusercontent.com/5618316/61661356-14bdf080-ac89-11e9-8df4

[2019-07-22 23:55] pixelzoom opened #518 "PhET-iO instrumentation for BicyclePumpNode"
Required for https://github.com/phetsims/gas-properties/issues/147.

[2019-07-23 00:03] pixelzoom commented on #518
I added only the most basic instrumentation, so I could proceed with Gas Properties.  I instrumented the BicyclePumpNode itself, and the drag handler for its handle ('handleDragListener').

Assigning to @arouinfar for PhET-iO design, to decide what else (if anything) needs to be instrumented.

[2019-07-23 19:44] arnabp commented on #516
It was my initial intention that major ticks correspond to even multiples of tick spacing, but the large tick coming first in this case threw it off. I was able to fix that issue so major tick marks should now correspond to even numbers.

I've also increased how high the final tick can go. This should make it so the gap at the top isn't so big without creating tick marks that go outside the thermo

[2019-07-23 21:26] zepumph commented on #381
Above are commits that updated the API for setting the screen summary on a ScreenView. The new api supports passing in a Node via ScreenView options (`screenSummaryContent`). There is also a method to set it after the ScreenView call, `this.setScreenSummaryContent`, which worked really well in BASE, and wasn't needed anywhere else.

Next I will work on creating the playArea and controlArea nodes i

[2019-07-23 21:38] chrisklus commented on #516
EFAC thermometers look great, thanks @arnabp. Code looks good, too.

![image](https://user-images.githubusercontent.com/5618316/61749385-e3642400-ad5f-11e9-9012-266309f0b9cf.png)

[2019-07-24 00:37] zepumph commented on #381
accessible section nodes added to ScreenView and usages updated in the above commits. I also deleted the unused `AccessibleSectionNode`. @jessegreenberg will you please review.

[2019-07-24 00:38] zepumph commented on #381
accessible section nodes added to ScreenView and usages updated in the above commits. I also deleted the unused AccessibleSectionNode. @jessegreenberg will you please review.

[2019-07-24 00:55] zepumph commented on #469
@pixelzoom how is that?

[2019-07-24 00:56] zepumph commented on #469
Note work recently done in https://github.com/phetsims/scenery-phet/issues/381 means that these nodes are now created in ScreenView instead of directly in molarity (et all).

[2019-07-24 22:13] arouinfar commented on #518
@pixelzoom I'm not sure what you're asking me to do here. Do you want me to review the sim in studio and look at what options are available for the BicyclePumpNode? If so, how do I access the latest version in studio? The last several dev versions only included a `phet` brand.

[2019-07-25 16:00] pixelzoom commented on #518
I'd like you to identify any subcomponents of BicyclePumpNode that need to be instrumented.  Hypothetical examples:

* If the client wants to change the color of the handle, then the handle needs to be instrumented.
* If the client wants to hide the %full indicator, then it needs to be instrumented.

And for any subcomponents that you do want to instrument, please identify what (if anything) shoul

[2019-07-25 18:10] pixelzoom commented on #469
👍 closing.

[2019-07-25 18:10] #469 closed

[2019-07-25 19:15] pixelzoom commented on #504
7/25/19 dev meeting:

What we want to be able to do is specify a fixed size for the display.  Currently we can't support pixel-polishing like "make that 2 pixels wider".   I'll investigate mutually exclusive `fixedWidth` and `range` options.   And I'll evaluate how many call sites need to be changed.

[2019-07-25 21:15] arnabp commented on #516
Passing this back to @pixelzoom since adjustments have been made for blackbody and EFAC use cases; to review changes and how best to move forward with possibly making this the default for thermometerNode.

[2019-07-28 21:08] pixelzoom commented on #516
As I said in https://github.com/phetsims/scenery-phet/issues/516#issuecomment-513412746... In all of the sims where I've used `ThermometerNode` so far, the position of the mercury in the tube is qualitative, and the position/spacing/number of ticks is not significant. So whether this is a better default is a decision best left up to sim designers.  If the concerns that @arouinfar and @chrisklus ha

[2019-07-29 17:58] arouinfar commented on #516
The EFAC thermometer in https://github.com/phetsims/scenery-phet/issues/516#issuecomment-515795315 looks good to me, and serves the goals of that sim. It sounds like @chrisklus is also happy with the implementation, so I'd say `ThermometerNode` is good to go.

[2019-07-29 20:30] chrisklus commented on #516
Yep, I'm happy with the option.

@pixelzoom said:

No preference on default behavior - I'm happy to leave it qualitative as it's always been. Sounds like that is the more used case right now, anyway. And no more sim work needs to be done if we leave it as is.

@pixelzoom I couldn't tell if you were done reviewing - I'll pass back to you to finish or close if we are all satisfied.

[2019-07-29 20:36] pixelzoom commented on #516
Yes, I've finished reviewing.  Back to @arnabp in case there's anything else to do here.

[2019-07-30 00:20] zepumph opened #519 "Is a11y api for NumberControl ideal?"
Discovered as part of https://github.com/phetsims/gravity-force-lab/issues/171. First it would be best to understand how NumberControl is set up for a11y customization now, please read:

https://github.com/phetsims/scenery-phet/blob/eaaa0d39791b1d782ebacf0c2078cd425b7d9e71/js/NumberControl.js#L7-L11

This is a bit strange, but understandable to me. I think that if we decided to keep this, it would

[2019-07-30 14:38] KatieWoe opened #520 "CT Cannot read property tickLabelFont of undefined"
[code]

[2019-07-30 16:09] zepumph commented on #520
In 8de8aba820046d4cbc851a627a0599981a747ea4 I converted the `extend` call to `merge`, but didn't take into account that sliderOptions were trying to use top level options. In the above commit I made one of the commits a merge, so that any options (even nested ones) passed to the function are supported.

[2019-07-30 16:09] #520 closed

[2019-07-30 16:09] zepumph commented on #520
Also note that `merge` didn't support optional options objects until just now, see https://github.com/phetsims/phet-info/issues/91

[2019-07-30 17:05] chrisklus opened #521 "Dilate touch area for FaucetNode shooter"
For https://github.com/phetsims/energy-forms-and-changes/issues/239, @arouinfar asked if I could dilate the touch area of the FaucetNode handle a bit. It doesn't look like ShooterNode supports that yet, can we add this option @pixelzoom? I'm happy to do it unless you would prefer to.

[2019-07-30 19:23] zepumph commented on #452
@jessegreenberg and I are rethinking our previous decision on this issue, especially in light of https://github.com/phetsims/scenery-phet/issues/519. Reopening.

[2019-07-30 19:29] zepumph commented on #452
Our proposal:

* NumberControl's HSlider is the accessible slider
* NumberControl doesn't mixin accessible slider
* NumberControl's arrow buttons are tweaked to work with the nested a11y slider implementation
* NumberControl keeps its same focus highlight.
* NumberControl will expose a `this.slider` field to keep  available its public a11y api (things like `slider.setAccessibleName()` etc).

We th

[2019-07-30 19:31] zepumph commented on #519
@jessegreenberg and I decided "no, it isn't." We will take on work in https://github.com/phetsims/scenery-phet/issues/452 to make things better. I'm going to close this issue, and the necessary will will be taken on in that issue.

[2019-07-30 19:31] #519 closed

[2019-07-30 20:37] jessegreenberg commented on #452
I think this also means we can remove the `isAccessible` option from Slider.js. Is that worth keeping around?

[2019-07-30 20:51] zepumph commented on #452
I don't think so. Let's get rid of it.

[2019-07-30 21:21] jessegreenberg commented on #452
This is done in the above commits. I reviewed sims in perennial/accessibility and couldn't find any sims using AccessibleValueHandler API through NumberControl. The original discussion around this was because we needed to set ariaValueText outside of NumberControl. But that function has since been removed as well. I left `this.slider` public because I still think the AccessibleValueHandler API sho

[2019-07-30 21:41] arnabp commented on #516
Functionality needed for blackbody is in, everything else looks good. Closing.

[2019-07-30 21:41] #516 closed

[2019-07-31 00:39] zepumph commented on #452
Review:

* This doesn't seem quite complete to me. We would also need to see where any Accessibility.js options were being passed to NumberControl instead of to the slider via `sliderOptions`. I looked through all usages of `NumberControl.call` and the callee constructions. I also looked at all usages of `new NumberControl` and usages of `createNumberControl`. I found that Rutherford Scattering an

[2019-07-31 01:41] jessegreenberg commented on #452
Thank you, good catch. And thanks for checking the other things. With that, I think this can be closed, please reopen if you disagree.

[2019-07-31 01:41] #452 closed

[2019-07-31 05:02] pixelzoom commented on #521
Go for it, I have too many other higher priority things on my plate right now.   I'll be happy to review the changes.

Thoughts:
* Add support for both touchArea and mouseArea dilation.
* It's probably appropriate to do this via nested options, i.e. `shooterOptions`.
* It looks like there is one existing option, `knobScale`, that should be moved to `shooterOptions`.  It has zero uses outside of Fa

[2019-07-31 05:10] pixelzoom opened #522 "issues with FaucetNode dispose"
Noted while commenting on https://github.com/phetsims/scenery-phet/issues/521.

(1) `inputListener` is assigned a tandem but not disposed by `disposeFaucetNode`.

(2) This bit of code is unnecessary in `disposeFaucetNode`, because FaucetNode owns both `shooterNode` and `inputListener`.

[code]

@chrisklus while you're working on https://github.com/phetsims/scenery-phet/issues/521, would you mind t

[2019-08-03 06:01] samreid commented on #513
In https://github.com/phetsims/wave-interference/issues/420 @KatieWoe pointed out a flaw with this design rule.

We set the tweaker button size to match the size of the number display. Lengthy text can shrink the number display, so the arrow buttons have shrunken too. This problem will impact every sim with NumberControl.

![image](https://user-images.githubusercontent.com/679486/62408133-e097d900

[2019-08-03 06:06] pixelzoom commented on #513
Me too, no good solution comes to mind. I will ruminate.

[2019-08-03 06:10] pixelzoom commented on #513
Rumination complete :)

My recommendation is to back out this change, and require the client to adjust the size of the arrow buttons.   If the changes that @arouinfar identified as "cleaner overall" in https://github.com/phetsims/scenery-phet/issues/513#issuecomment-511857309 are worth keeping, note the arrow button sizes before reverting, and set them explicitly after reverting.

[2019-08-03 06:20] pixelzoom commented on #513
More...

I'm not sure that reverting is the best option, but it's the best I could come up with.  Setting arrow button sizes explicitly will result in fixes sizes that won't adapt to change in NumberDisplay size that occur due to font size differences across platforms.  But this never bothered me previously, seemed to work fine. And the improvement was described by @arouinfar as "subtle", so maybe

[2019-08-03 06:21] pixelzoom commented on #513
Still more...

So the options that I can come up with are:

(1) Revert and live with it.

(2) Leave as is and live with it.

[2019-08-03 06:27] samreid commented on #513
One more part of this problem.  I don't see a clear way to explicitly set the height of these buttons, the API is instead centered around `arrowButtonOptions.scale`.  The default value is `1`, but it's unclear how big that is exactly, or what it is supposed to match.  I'm seeing several sims that are using `0.56` or `0.5` or `0.55` for the scale.  Should this API ultimately be changed to be about

[2019-08-03 06:27] samreid commented on #513
@arouinfar can you please review https://github.com/phetsims/scenery-phet/issues/513#issuecomment-517897850 and below?  What do you recommend?

[2019-08-05 20:01] arnabp opened #523 "TemperatureAndColorSensorNode from EFAC should be moved to scenery-phet"
The `TemperatureAndColorSensorNode` which is used in [energy-forms-and-changes](https://github.com/phetsims/energy-forms-and-changes) is also being used in [number-line-integers](https://github.com/phetsims/number-line-integers) and so should be moved to common code.

[2019-08-06 02:35] arnabp commented on #523
Added TemperatureAndColorSensorNode to scenery-phet, assigning @jbphet for review

[2019-08-06 15:41] samreid commented on #513
Another solution would be to (by default) set the height of the tweaker buttons to match the height of the unscaled `numberDisplay`.  @jonathanolson pointed out this can be done by using the `localBounds.height` of the number instead of just the `height`.  This appears OK in local testing and resolves the shrinking button problem, I'll commit and run this past @pixelzoom.

[2019-08-06 15:54] samreid commented on #513
@pixelzoom can you please review?

[2019-08-06 17:38] pixelzoom commented on #513
This looks good.  I'd like to see a comment in the code about why we're ignoring NumberDisplay `maxWidth` and instead using `localBounds`, specifically mentioning the problem reported in https://github.com/phetsims/scenery-phet/issues/513#issuecomment-517897850 (a link to that comment would be good too).

[2019-08-07 02:36] samreid commented on #513
I added docs above.  It felt a bit wordy but I wasn't sure how to improve it.  @pixelzoom can you please review?

[2019-08-07 02:48] pixelzoom commented on #513
👍 Looks good to me, not too wordy.  Closing.

[2019-08-07 02:48] #513 closed

[2019-08-07 22:49] jbphet commented on #523
Two suggestions:
+ Pass in a color property instead of having a method.  It seems inconsistent to pass in a property for one of the attributes displayed (temperature) and set the other via a method (color).  This may have been done to make it easier to use a fixed, unchanging color, but none of the current use cases do this and it would be easy enough to create an unchanging property if such a nee

[2019-08-08 01:05] pixelzoom commented on #504
NumberDisplay is used directly and as a subcomponent of several common-code UI components.   Here's an inventory of the usage sites.

Direct use:
24 - `new NumberDisplay`
1 - `extends NumberDisplay`
0 - `inherit( NumberDisplay`

As a subcomponent of `ComboBoxDisplay`:
1 - `new ComboBoxDisplay`
2 - `extends ComboBoxDisplay`
0 - `inherit( ComboBoxDisplay`

As a subcomponent of `FineCoarseSpinner`:
3

[2019-08-08 01:11] pixelzoom commented on #504
As an interim "fix"... In the above commit, I renamed parameter `numberRange` to `displayRange`, and improved the documentation.  This is a small change, but should reduce the confusion about how this parameter is used.

[code]

[2019-08-08 01:14] pixelzoom commented on #504
Based on the extensive use of `NumberDisplay` documented in https://github.com/phetsims/scenery-phet/issues/504#issuecomment-519322761, I'm not interested in doing the amount of Javascript busy-work that would be required to change this.  My recommendation is to leave it as is.   Labeling for dev meeting and assigning to @ariel-phet to decide how to proceed.

[2019-08-08 15:18] jessegreenberg commented on #504
Going with a rename seems very reasonable to me and helps a lot. Previously, we said

Isn't that supported already by option xMargin?

[2019-08-08 16:04] arnabp commented on #523
Implemented both suggested changes. I noticed that EFAC had some extra property linking for setting the color to a default when the thermometer was disabled. Just setting a simple link to the colorProperty seems to be okay to me, but if you know the specific case for which that extra bit of code was added it would be good to spot check.

[2019-08-08 18:24] pixelzoom commented on #504
Adjusting `xMargin` will allow you to pixel polish the width of the NumberDisplay, but not the width of the value in the display.

At 8/8/19 dev meeting, we decided that this is sufficient, and will close.

[2019-08-08 18:24] #504 closed

[2019-08-08 21:24] jbphet opened #524 "branch: sounds-in-common-code"
This branch will be used as a place to try out and hopefully finalize the strategies for integrating sound into common code components.  See https://github.com/phetsims/tambo/issues/73, https://github.com/phetsims/sun/issues/505, and https://github.com/phetsims/sun/issues/506.  There is also a parallel branch in sun for this work, see https://github.com/phetsims/sun/issues/521.

[2019-08-08 23:50] zepumph opened #525 "Instrumentation tweaks to NumberDisplay"
From design meeting today in GFL in https://github.com/phetsims/gravity-force-lab/issues/76:

* `valueNode` renamed to `valueText`
* make it `phetioReadOnly`

Tagging @samreid because he made the initial implementation, and @pixelzoom because there are commits from him recently in the file.

[2019-08-12 17:03] pixelzoom commented on #512
I'll do this.

[2019-08-12 21:22] pixelzoom commented on #512
This is a much bigger can of worms than I'd guessed.

First I looked at changing the NumberControl constructor signature from `{string} title` to `{Node} titleNode`. This would be a lot of work, with 36 uses in 10 sims, and would involve requiring the sims to construct the `{Node} titleNode`.   100% of those sims currently use strings.   So until some sim needs a non-string title, I recommend that

[2019-08-19 22:15] chrisklus commented on #521
Thanks @pixelzoom.

Because they share the same file, I nested the default options in FaucetNode options, and then passed them through to ShooterNode as config. I thought that seemed preferable to duplicating them in ShooterNode or just hiding them in ShooterNode.

@pixelzoom please review.

[2019-08-20 16:12] zepumph commented on #525
Over to @samreid to review.

[2019-08-20 17:37] pixelzoom commented on #521
Maybe I'm missing something, but this seems overly complicated:

[code]
<br>
Is there some reason why this more typical way of dilating pointer areas can't be used? (untested)

[code]

[2019-08-20 17:48] chrisklus commented on #521
Using `localbounds` resulted in a much smaller pointer area than what you originally implemented, see the old usages of `dx` and `dy`. I added those in that way so that 0 dilation resulted in the same former behavior (same size pointer area).

Alternatively, I think we could use the standard way of dilating pointer areas and then have large default values so the usages of FaucetNode are unchanged.

[2019-08-20 17:56] pixelzoom commented on #521
I think we should use localBounds, keep `0` as the default option values, and adjust the current usages of FaucetNode.

[2019-08-20 17:58] pixelzoom commented on #521
... Or you could consult with designers and ask whether a non-zero default touchArea dilation is OK.

[2019-08-20 18:01] chrisklus commented on #521
There are only 6, but that seems strange to me that we would override with options for every case and never use the defaults. Is that just our standard practice - to have a node's pointer area default to its bounds?

Seems reasonable. @arouinfar what do you think?

[2019-08-20 18:07] pixelzoom commented on #521
Yes, the default point area for any Node is is bounding rectangle.   So the current implementation for the shoot in FaucetNode does not yield the results that I'd expect.

[2019-08-20 18:20] pixelzoom commented on #521
I discussed with @chrisklus via Zoom.  Here's what we're going to do for now:

* use `knobNode.localBounds.dilatedXY` to compute pointer areas
* set `mouseAreaXDilation` and `mouseAreaYDilation` defaults to `0`
* set `touchAreaXDilation` and `touchAreaYDilation` to  whatever is needed to provide the same touchArea before these changes were done

Then @arouinfar and @chrisklus can work out whether

[2019-08-21 03:31] arouinfar commented on #521
This sounds reasonable to me, assuming that touch area dilations are normally 0 by default. However, if common UI components generally have some non-zero touch area dilation by default, then we should probably pick something greater than zero.

[2019-08-21 21:30] ariel-phet commented on #512
@pixelzoom I am OK with the "do nothing" strategy for this issue. Closing.

[2019-08-21 21:30] #512 closed

[2019-08-22 02:12] zepumph opened #526 "Recenter NumberControl title when changed with PhET-iO?"
From https://github.com/phetsims/gravity-force-lab/issues/76. It looks like GFL is using layoutFunction3 with the title align "center". @kathy-phet and I thought it would be nice if that recentered when the text changed. I couldn't figure out an easy way to do it, I tried something like
[code]
But it didn't work out of the box. I think this may have to do with the "resize" option which is set to f

[2019-08-22 16:43] pixelzoom commented on #526
My recommendation is to not make the change to NumberControl.  Instead, set a `maxWidth` for the title, and require that any title set via PhET-iO to be limited to that width.  If you don't do that, then you're asking for layout problems.  That said...

Its more appropriate (and probably safer) to observe 'bounds', not 'text':

`titleText.on( 'bounds', ()=> { titleText.centerX = wholeNode.centerX;

[2019-08-22 17:50] kathy-phet commented on #526
The way it was working did seem to be resizing the text correctly - it just wasn't centering it.

[2019-08-22 22:33] zepumph opened #527 "RulerNode: `unitsLabelMaxWidth` doesn't support changing label with PhET-iO"
From https://github.com/phetsims/gravity-force-lab/issues/76, I noticed that changing "meters" to something longer on the RulerNode in GFL studio overlaps with the first major tick label.

Looking at the implementation of `RulerNode`, it wasn't obvious to me how to support this. I saw that @jbphet had made some commits in the area about scaling the units text. @jbphet does this seem like something

[2019-08-23 19:04] jbphet commented on #527
The code was written to only adjust the max width of the units label if necessary at load time.  Since it is now possible to change the label through PhET-iO **after** load time, I changed the code to always set the max width of the units node.  This seems to work, and I tested it by running with `stringTest` set to `long`, `double`, `x`, and to nothing (i.e. the normal case), and it looked fine i

[2019-08-23 21:25] zepumph opened #528 "NumberControl: How do constrainValue, delta, and shiftKeyboardStep work together?"
From https://github.com/phetsims/gravity-force-lab/issues/173, the request was that the slider moved by 10, and the tweakers moved by 1. The issue as it pertains to a11y is that there is no a11y for the tweakers, everything interfaced through the slider. So adding "`constrainValue` to 10"  there makes it impossible to move the slider by 1.

@jessegreenberg how should we remedy this? The naive and

[2019-08-23 21:35] zepumph commented on #527
The commit looks clean and concise to me. No thoughts or worries there.

This works really well in the GFL case and in BLL when changing in studio. I then launched BLL in studio with `stringTest=long`, and I was able to shorten it and it re-scaled nicely. I also chose a random sim and launched it with `stringTest=long` in phet brand (FPAF). Things look really good! Thanks for the speedy change. I'

[2019-08-23 21:35] #527 closed

[2019-08-27 02:39] samreid opened #529 "MeasuringTapeNode should be updated to use the newer nested options pattern"
From https://github.com/phetsims/wave-interference/issues/431

MeasuringTapeNode has:

[code]

This should be upgraded to use our nested options pattern.

[2019-08-28 23:44] jbphet commented on #523
I made some minor documentation changes, and tested the behavior on EFAC, and all of it looks good to me.  Closing.

[2019-08-28 23:44] #523 closed

[2019-08-29 15:32] chrisklus commented on #521
I've set the default touch area dilation to 0 and updated the relevant usages to the previous size, searching on `new FaucetNode`, `extendsFaucetNode`, and `FaucetNode.call`.

@pixelzoom please review.

[2019-08-31 17:15] pixelzoom commented on #521
I reviewed the above changes. I verified that the XY touchArea dilation to these changes was (36.5,60), so using (37,60) at call sites seems reasonable.   Closing.

[2019-08-31 17:15] #521 closed

[2019-09-03 17:23] samreid opened #530 "Should TimerNode be renamed to StopwatchNode?"
I noticed that in many occurrences such as Gas Properties, Pendulum Lab and CCK AC (design), the TimerNode is referred to as a "Stopwatch".  One exception is Wave on a String, where it is called "Timer".  I'm wondering if we should rename the JS file from TimerNode to StopwatchNode to be clearer?  Should we also rename the checkbox in Wave on a String to "Stopwatch" for across-sim consistency?

Ta

[2019-09-03 19:13] jonathanolson commented on #530
Sounds fine to me.

[2019-09-03 19:17] arouinfar commented on #530
@samreid while perhaps a bit verbose, StopwatchNode would be more accurate. Generally, a timer counts down to zero, while a stopwatch counts up.

[2019-09-03 19:18] arouinfar commented on #530
I would also be in favor of changing the string in WOAS to "Stopwatch", though it's not particularly urgent.

[2019-09-03 20:27] jessegreenberg commented on #528
What do you think about changing the interval of `constrainValue` in MassControl so that it depends on whether shift key is down like
[code]

Alternatively, arrow tweakers in NumberControl don't call constrainValue but round to the delta of the arrow button. Maybe we should do that in AccessibleValueHandler - when shift key is down, we round to nearest `shiftKeyboardStep` and don't call constrainV

[2019-09-09 17:30] samreid commented on #525
The changes look great, thanks!

[2019-09-09 17:30] #525 closed

[2019-09-09 21:47] samreid commented on #401
I didn't see any sims listed in the upcoming PhET-iO sim instrumentation milestones that has a TimerNode, if I'm wrong or if one pops up, we can reassign this issue.  For now I'll unassign.

[2019-09-09 23:01] zepumph commented on #526
The priority of this was raised because a client asked for it. In lieu of this I decided to only update this for NumberControls using layoutFunction3 and centering the title. I tested that this works as expected when changing the title in GFL studio, and I also regression tested a slider that with a centered title, and a slider with a left aligned title.

@pixelzoom please review.

[2019-09-09 23:04] zepumph commented on #526
Here is the phetioID of the element in GFL studio that adjusts a number control title:
gravityForceLab.gravityForceLabScreen.view.massControl2.numberControl.titleNode.textProperty

[2019-09-10 01:09] pixelzoom commented on #526
Imo, https://github.com/phetsims/scenery-phet/commit/e1f6bb5322e674ed207479e288f8ca64c1c8b876 is totally unacceptable.  Not only does it not address layout functions uniformly, it doesn’t even handle all values of `options.alignTitle`.  It’s totally specific to createLayoutFunction3 and 'center' alignment. For something as important as NumberControl, I recommend taking the time to do this right. I

[2019-09-10 01:18] zepumph commented on #526
Thanks! I'll take another look.

[2019-09-10 01:49] pixelzoom commented on #526
After discussing with @zepumph on Slack, here's what I recommend:

(1) Correctly handle all values of `options.alignTitle` in `createLayoutFunction3`, so that you're not creating buggy behavior for clients who use something other than `'center'`.  @zepumph suggested something like:

[code]

(2) If being able to change the title is truly "important for PhET-iO", then adding support to `createLayout

[2019-09-10 14:42] samreid commented on #439
I'm not planning to continue on this in the immediate future, unassigning.

[2019-09-11 21:54] samreid opened #531 "Buggy setters in EyeDropperNode.js"

[2019-09-11 21:55] samreid commented on #531
@zepumph I thought you might be able to think of a good way to search for other occurrences of the same kind of bug, can you please take a look at the change set?

[2019-09-11 23:31] zepumph commented on #531
Using a regex I basically looked for something like "zProperty = X" where x doesn't have "Property" or "null" in it. I see 31 matches but didn't really look at them. Good luck!

`\w+Property = ((?!(Property|null)).)*$`

[2019-09-12 00:43] samreid commented on #531
I didn't see any bugs of the form identified in https://github.com/phetsims/scenery-phet/commit/efd3844aa1c113f598bacf8877983ecc905f0ad9, but there were some other minor issues, I'll create side issues and close this one.

[2019-09-12 00:43] #531 closed

[2019-09-13 19:36] pixelzoom opened #532 "assertion commented out in ArrowNode setTipAndTail"
Discovered in vector-addition while determining how to handle zero-magnitude vectors uniformly in ArrowNode and LineArrowNode.  High priority.

In https://github.com/phetsims/scenery-phet/commit/42eaa4ea82477ddf436b2675b278fd7297c27824, @samreid commented out this assertion in ArrowNode `setTailAndTip`:

[code]

@samreid what is your reason for commenting this out? Please either (a) remove the ass

[2019-09-13 19:39] pixelzoom commented on #532
Block https://github.com/phetsims/vector-addition/issues/177.

[2019-09-16 16:01] samreid commented on #532
That change was apparently made while working on Masses and Springs, probably related to https://github.com/phetsims/kite/issues/69.

I removed the assertion and updated the documentation to indicate no arrow is shown when tail===tip.

[2019-09-16 17:30] pixelzoom opened #533 "add tailDash feature to ArrowNode"
Motivated by decisions in https://github.com/phetsims/vector-addition/issues/177#issuecomment-531876724.

* `tailDash` value will be similar to `SCENERY/Line` `lineDash`, e.g. `tailDash: [ 3, 2  ]`
* `ArrowNode` will continue to be a subclass of `Path`, described by a single `Shape`
* dash will be constructed from tail to tip, so that any partial dash (or space) is near the tip

[2019-09-16 18:58] pixelzoom commented on #532
👍 closing

[2019-09-16 18:58] #532 closed

[2019-09-16 19:41] pixelzoom commented on #533
Ugh, this is getting really complicated. `ArrowNode` and `ArrowShape` are full of optimizations that assume that the Shape can be described as a reusable set of Vector2 instances. And that's not possible if the tail is dashed.  @ariel-phet FYI.

[2019-09-16 19:43] pixelzoom commented on #533
Ugh, this is getting really complicated. ArrowNode and ArrowShape are full of optimizations that assume that the Shape can be described as a reusable set of Vector2 instances. And that's not possible if the tail is dashed. @ariel-phet FYI.

[2019-09-16 22:33] pixelzoom commented on #533
Slack discussion:

Chris Malley 1:47 PM
I’ve been asked to add a tailDash option to ArrowNode, see https://github.com/phetsims/scenery-phet/issues/533.   I’ve discovered that the current implementation is very tightly coupled to describing the Shape as a reusable {Vector2[]}, which assumes a solid tail.  The documentation indicates that this is for performance reasons.  Does anyone recall which si

[2019-09-16 22:33] pixelzoom commented on #533
The conclusion of the above Slack conversation as to try creating `DashedArrowShape`, and use it instead of `ArrowShape` in `ArrowNode`, if option `tailDash`.

[2019-09-16 22:36] pixelzoom commented on #533
I tried creating `DashedArrowShape`.  It was a horrible mess, and I bailed.

This is not currently feasible to add to `ArrowNode`/`ArrowShape` or `LineArrowNode`.  If this is a feature that is generally needed by sims, then I recommend a complete redesign and reimplementation of `ArrowNode` - a major project.   That's not something that I currently have time/interest for.   So to address https://g

[2019-09-17 14:51] ariel-phet commented on #533
@pixelzoom I actually think a sim specific implementation is totally appropriate currently. We can wait until some recalcitrant designer (ie me) demands dashed arrows in another sim before making a general solution. I think what you will have done in Vector Addition will be informative to that general solution when it becomes desired.

This might also potentially be nice work for someone like @bra

[2019-09-17 22:17] ghost opened #534 "Lines in faucet"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.6

**Browser**

Safari 12.1.2

**Problem Description**

For https://github.com/phetsims/QA/issues/426. Upon loading the sim in Safari, there are lines in the faucet. Sometimes it's just the vertical line. Zooming in will usually make the line(s) go away.

**Visuals**

![issue](https://user-images.githubusercontent.com/31285590/6508317

[2019-09-17 22:37] jessegreenberg commented on #528
We took a look at this today. Overall, we are not thrilled with the implementation in NumberControl using `attemptedIncreaseEmitter` and `attemptedIncreaseEmitter` to press the arrow buttons when appropriate. We agreed that it would be nice if we could find another way to have the arrow buttons look clicked while only having the slider in the PDOM.

However, I did try the `constrainValue` in https

[2019-09-21 00:06] zepumph commented on #528
[This](https://github.com/phetsims/gravity-force-lab/issues/173) issue is kinda an example of how NumberControl is more than just a single PhET implementation of a Slider. We want to provide constraint to the slider to round by 10, but we want to be able to provide finer specificity with the shift key down.

To me this is close to redefining constrainValue, giving shiftKeyStep a backdoor around th

[2019-09-21 00:08] zepumph commented on #528
Assigning for comment.

[2019-09-23 23:41] zepumph commented on #526
I added (1) in the above commit. When testing with ISLCControlPanel (in GFL), the "left" option worked as expected, but for some reason, the "right" one did not. I'm going to have to investigate further (it may be ISLC implementation specific).

[2019-09-24 20:53] jessegreenberg commented on #528
@zepumph and I discussed this on 9/24/19. We decided on 3 action steps given the current state of this issue:
- We look into the recommendation in https://github.com/phetsims/scenery-phet/issues/528#issuecomment-527625676 a bit more, but try to build it into NumberControl.
- We would like to have a meeting with an a11y designer to determine if the styling of these buttons is really necessary. This

[2019-09-26 01:13] zepumph commented on #526
After some more experimenting, I found a solution that I am more happy with. Instead of manually trying to recompute the alignment, I just passed that work up to the vbox. This is working perfectly save for really large strings. When the string is past the maxWidth, it begins scaling down, and then that pushed the numbercontrol content up, see below. I don't know an easy way around this. @pixelzoo

[2019-09-26 17:22] pixelzoom commented on #526
Example of how you're using VBox to solve the problem?

[2019-09-26 20:02] zepumph commented on #526
In `NumberControl.createLayoutFunction3`:

[code]

To set this, open GFL in studio, and change the text on `gravityForceLab.gravityForceLabScreen.view.massControl1.numberControl.titleNode.textProperty`

[2019-09-26 20:10] pixelzoom commented on #526
Looks like changes to `NumberControl.createLayoutFunction3` introduced this documentation bug:

[code]

`HStrut` is no longer involved.

[2019-09-26 20:17] pixelzoom opened #535 "bug in NumberControl.createLayoutFunction3 documentation"
Looks like changes to `NumberControl.createLayoutFunction3` (possibly in https://github.com/phetsims/scenery-phet/issues/526?) introduced this documentation bug:

[code]

`HStrut` is no longer involved.

[2019-09-26 20:20] pixelzoom commented on #526
I think this problem is in the same category as blank spaces that appear in panels when UI components are hidden.  The client will just have to live with it.

This is how text behaves when you set a maxWidth.  If the maxWidth (or maxHeight) is exceeded, it gets scaled down.  And if it's in a layout with other UI components, then things will move around.  I don't recommend adding some title-specifi

[2019-09-27 00:09] zepumph commented on #535
Thanks for that. It looks like I committed it with incorrect doc back in https://github.com/phetsims/scenery-phet/commit/b043daf3a2eb0ef3fa65e1849a6eb3ba2acb149b. I updated it above.

[2019-09-27 00:18] zepumph commented on #526
I totally agree with you, and I'm very happy you said this! To me no further work is needed here. Thanks @pixelzoom for the review.

I created https://github.com/phetsims/phet-io/issues/1551 to investigate what further work is needed for PhET-iO dynamic layout both in NumberControl and in general. Closing

[2019-09-27 00:18] #526 closed

[2019-09-27 00:21] zepumph commented on #447
Yes this is less than ideal, and it was the cause of https://github.com/phetsims/friction/issues/181. I would love to find a different solution that was more robust.

[2019-09-27 00:25] zepumph commented on #417
Currently we have tons of `*Describer` types that have been working really well for us. We haven't yet needed `*Alerter` types, and likely we won't need to, since utteranceQueue logic to this point has been quite a bit simpler, instead just wiring up the proper calls the the Describers. We can update the pattern in the future if needed, but for now I'm feeling pretty good.

[2019-09-27 00:25] #417 closed

[2019-09-27 00:41] zepumph commented on #445
This issue has gotten really out of date. Unassigning until I work on Movement describer again.

[2019-09-27 02:50] pixelzoom commented on #535
👍

[2019-09-27 02:50] #535 closed

[2019-09-27 19:04] jessegreenberg commented on #536
Transfered to scenery-phet because it impacts the GrabDragInteraction implemented here.

[2019-09-27 20:05] terracoda commented on #536
We've had at least one interview with a person using VoiceOver on an iOS device. The keyboard-accessible interaction for grabbing the Yellow Balloon in BASE was completely inaccessible to them. They were unable to figure out how to grab and drag the Yellow Balloon.

The main reason from my perspective was because the instructions on how to grab the balloon were confusing and misleading. Not surpri

[2019-09-30 21:01] pixelzoom commented on #514
Done, closing.

[2019-09-30 21:01] #514 closed

[2019-10-03 23:26] zepumph commented on #515
@pixelzoom I'm trying to note the priority for this. Is there a sim currently under phet-io development that is using a ColorProfile. If not please let us know when that is the case. I think that will be the easiest way to proceed here.

[2019-10-04 01:55] pixelzoom commented on #515
As noted in the first comment, gas-properties uses ColorProfiles, and whether they need to be instrumented is a question for designers.  If (for example) allowing PhET-iO clients to change the particle colors is a desired feature, then ColorProfiles (and the Properties that they synthesize) will need to be instrumented.

[2019-10-07 17:52] samreid opened #537 "Move the capacitor view from capacitor-lab-basics to scenery-phet"
From https://github.com/phetsims/circuit-construction-kit-common/issues/452, we would like to reuse the capacitor rendering code in Circuit Construction Kit.  I'll factor it out.  It's not clear how much of the model may need to be moved.  We should also create an isolated test harness for it.

[2019-10-07 17:57] samreid commented on #537
@zepumph published a reference version before any work began:
https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.8.0-dev.2/phet/capacitor-lab-basics_en_phet.html

[2019-10-07 19:26] terracoda commented on #536
First Steps:
1. Do not change the interaction and just change the instructions to the ones listed above.
2. Also figure out a way to update the Keyboard Shortcuts to Touch Shortcuts, or to toggle them back and forth.
3. Investigate two double taps with a hold on the second double tap for a custom drag interaction. This would require a change o instructions and interaction.

The changes to the inst

[2019-10-08 01:17] zepumph commented on #528
This blocks publication because it is breaking NumberControl shift keyboard step. Any sim with alternative input using a NumberControl should wait for this one (like GFL).

[2019-10-08 12:37] samreid commented on #537
The main port is complete, and a demo has been added to the scenery-phet harness.  I'll continue by converting to ES6 and performing a code review.

[2019-10-08 15:14] KatieWoe opened #538 "CT maxHeight should be null or a positive number"
[code]

[2019-10-08 15:17] samreid commented on #538
Duplicate of https://github.com/phetsims/joist/issues/582, closing.

[2019-10-08 15:17] #538 closed

[2019-10-08 16:17] zepumph commented on #528
@terracoda and I discussed this, and we think that styling the tweakers isn't very important for accessibility. We think there are two alternatives that we could do instead:
1. This preferred solution is to disable the tweaker buttons when the slider has dom focus. On blur we re-enabled them. This will help communicate that it is expected that you can't navigate to those buttons.
2. The alternativ

[2019-10-09 01:18] zepumph commented on #528
@jessegreenberg, @emily-phet, and I discussed this earlier today, and we agreed to go with (1) from above for now.

@twant and I implemented this in the above commits. It felt really good to delete the code that was reaching into AccessibleValueHandler, and to instead just have to pass the `delta` in as the `shiftKeyboardStep`. @twant and I were also able to come up with a solution that we liked f

[2019-10-11 21:00] zepumph opened #539 "Convert DownUpListeners to PressListeners"

[2019-10-11 21:25] zepumph opened #540 "Instrument Keypad for PhET-iO"
This is needed for https://github.com/phetsims/projectile-motion/issues/177. I'll take a first pass at this, but I think it will want some PhET-iO design time too.

Design Questions:
* Does AbstractKeyAccumulator.accumulatedKeysProperty need to be instrumented?

[2019-10-11 21:30] zepumph opened #541 "Keypad should use nested options for its NumberAccumulator"
Discovered while working on https://github.com/phetsims/scenery-phet/issues/540. Tagging @Denz1994 to see what he thinks.

[2019-10-11 21:35] zepumph commented on #541
Right now I have to omit the parent tandem before passing in the child one:

[code]

[2019-10-14 22:52] zepumph opened #542 "Move UtteranceQueue to its own repo"
This was a side project that was discussed in the last few weeks with @emily-phet and @jessegreenberg  as something that @twant may be able to tackle as a back burner project. The priority of it may shift as we think about https://github.com/phetsims/molarity/issues/155 and how a fix for alerts firing in full-screen mode in Chrome may be to have scenery control the `UtteranceQueue`.

On hold until

[2019-10-15 16:23] terracoda commented on #536
Keep general Grab & Drag items (e.g., visual hints) in this issue and Ruler specific items in GFL regular repo.

[2019-10-15 19:53] jessegreenberg commented on #536
It looks like detection of iOS was updated to support latest version inhttps://github.com/phetsims/phet-core/commit/91bb985a5eb37cff9b31836af7ddcace8be32a34, so we should be good to go for next steps here. Thanks @jonathanolson!

[2019-10-15 19:55] jessegreenberg commented on #536
Today @liquatics mentioned that it would be great to have a version of this ready for an interview on 10/23, so we will shoot to have an initial version ready by then.

[2019-10-17 21:39] samreid commented on #537
Tagging for https://github.com/phetsims/circuit-construction-kit-common/issues/528

[2019-10-21 16:56] zepumph opened #543 "Convert GrabReleaseCueNode to be a Panel"
Related to work for https://github.com/phetsims/scenery-phet/issues/536, this should be done before changing the cue node any further.

[2019-10-21 18:25] jessegreenberg commented on #536
I just tried `role="application"` on its own. Unfortunately, iPadOS 13 VoiceOver doesn't give us any special gestures while the virtual cursor is on it. Nor does it say anything about the "application" role. This verifies that the only way to have grab and drag is to double tap and hold on the object to initiate drag. Releasing the finger releases the object.

[2019-10-21 20:32] #543 closed

[2019-10-21 20:41] zepumph commented on #536
From grab/drag interaction meeting today, here are some elements that came out of discussion:

* For now we would like to keep the keyboard help dialog the same. Perhaps adding sentence in the screen summary could be useful when on mobile devices.
* Help text for the grabbable/draggable Node is too often too complex and context specific to try to factor out a section for keyboard vs touch controls

[2019-10-21 21:57] pixelzoom opened #544 "incorrect doc for fractionalHeadHeight"
In ArrowNode, ArrowShape, and vector-addition/DashedArrrow:

[code]

The doc is incorrect, is should read "greater than".

[2019-10-21 21:58] pixelzoom commented on #544
Fixed in above commit. @samreid sanity checked me in Slack before I made this change, so closing.

[2019-10-21 21:58] #544 closed

[2019-10-21 23:31] pixelzoom opened #545 "polish fractionalHeadHeight code in ArrowShape"
Related to #544...

`ArrowShape` has this option:

[code]

Here's the test for whether the condition described above is met, also in `ArrowShape`:

[code]

The `if` expression here doesn't match the documentation description, and is consequently difficult to read.  It should be:

[code]

[2019-10-21 23:42] pixelzoom commented on #545
There were other issues here... Unclear doc, duplicated computation to maximum head height, ...   I've addressed these in the above commits. Tested with all sims that use `isHeadDynamic` and `fractionalHeadHeight` (gravity-and-orbits, trig-tour, vector-addition), no problems noted.

@chrisklus randomly selected to sanity check. Please close if all looks well.

[2019-10-21 23:53] chrisklus commented on #545
Code changes look good, closing.

[2019-10-21 23:53] #545 closed

[2019-10-22 13:36] terracoda commented on #536
Given the potential complexities and interaction nuances of grab and drag interactions in simulation, I do think it will be useful to have an option to create a label that does not contain the word "Grab".

That said, I am willing to try the label "Grab {{Measure Distance Ruler}}". It's a bit longer than the "Measure Distance" and "Measure Distance Ruler", but it might still achieve my goal of mak

[2019-10-22 19:03] zepumph commented on #542
Initial commit is done, next steps:

- [ ] Update readme
- [ ] support self build
- [ ] add initialization code to scenery
- [ ] move aria-live attributes into scenery

[2019-10-25 19:43] zepumph commented on #540
From first design meeting, the notes were to have the most minimal instrumentation to support record/payback. It also seemed valuable to be able to get the value out of the keypad. @samreid will you please review the current instrumentation. A great way to do that is in Projectile Motion studio. The lab screen -> custom options in the combobox -> press a yellow "edit" button to pop up the keybad.

[2019-10-25 19:44] samreid commented on #540
Scenery input event recording does not require UI components to be instrumented, right?

[2019-10-25 19:45] zepumph commented on #540
Sorry, I edited that above.

[2019-10-25 19:45] samreid commented on #540
Thanks!  What's the timeline for this sim?

[2019-10-25 19:46] zepumph commented on #540
Same timeline for Gravity and Orbits I believe, asap for the phet-io developer as it can be balanced with dynamic state.

[2019-10-27 20:23] samreid commented on #530
Marking for potential work in https://github.com/phetsims/circuit-construction-kit-common/issues/528

[2019-10-28 21:34] jessegreenberg commented on #536
From meeting today with @terracoda and @zepumph:

Double Tap is the native interaction for activating buttons when VO is on
Double Tap and Hold is a custom gesture that can be used on any element when VO is on
A while ago, we were not receiving click or any other events with iOS, only point events. Now iOS gets click events AND pointer events.
This prompted a Scenery work-around that says if this

[2019-10-28 22:11] jessegreenberg commented on #536
I worked on this a while today and learned some new things about iOS VO.

1) aria-describedby only works on elements with interactive roles. `button`, `img`, slider` all work. But `div` doesn't work.
2) The black highlight VO uses doesn't surround the bounds of the element unless it is interactive. Again, only `button`, `img`, `slider`, etc.../
3) When using role=button on a div, the element is st

[2019-10-28 23:46] zepumph commented on #536
This looks really reasonable. Good work.

[2019-10-29 17:08] zepumph commented on #381
@jessegreenberg, while working on https://github.com/phetsims/gravity-force-lab/issues/141, I found that it was easy to blow away these PDOM Nodes defined in ScreenView.js when setting children for layout order (a pattern used in many sims).

As a result I would like to override setChildren in ScreenView. I did something like

[code]

But that caused a few ct problems, instead @pixelzoom mentioned

[2019-10-29 17:10] pixelzoom commented on #381
This broke multiple sims in CT today.  I asked in Slack:

@zepumph replied:

3+ months waiting for review of ScreenView changes seems excessive.

Raising priority of review to high.

[2019-10-29 17:17] pixelzoom commented on #381
Comment that I made in Slack:

More on PDOM nodes in ScreenView…  Good chance that I would have unknowingly blown away `this.playAreaNode` in Natural Selection.  The entire design team refers to one of the UI elements (the area where the bunnies live) as the play area, and I was headed towards naming it playAreaNode.   I long ago gave up on the disconnect between how we generally use “play area” a

[2019-10-29 18:22] zepumph commented on #381
My changes above are as follows:
* I moved PDOM Nodes to be a child of a single parent, and then added a `setChildren` override, as recommended by @pixelzoom, that conditionally adds the parent back in if it wasn't added during the `.children = [...]` call. Note that it shouldn't ever be part of that, as `pdomParent` is actually a private member, and there is no reason or need to access it from ou

[2019-10-29 22:35] jessegreenberg opened #546 "Add way to get directional movement description from MovementDescriber"
Needed for interactive description work in molecules-and-light. MovementDescriber currently supports creating and alerting directional movement. But there isn't a way to get the description of direction outside an alert.

I am imagining statics like
MovementDescriber.getDirectionDescription( angle )

or

MovementDescriber.getDirectionDescription( pointA, pointB )

would be helpful.

[2019-10-29 22:42] jessegreenberg opened #547 "MovementDescriber should take an optional ModelViewTransform2"
Needed for https://github.com/phetsims/molecules-and-light/issues/201, but also after some conversation on a11y-dev slack channel. MovementDescriber is responsible for generating descriptions and alerts about directional  movement. It is driven by a provided locationProperty which is in the model coordinate frame. But we want to describe what the movement looks like in the view coordinate frame. A

[2019-10-29 23:27] jessegreenberg commented on #547
The above is pretty much all that is needed. Ill test it out in molecules-and-light before requesting review.

[2019-10-30 01:21] samreid opened #548 "Add BanNode"
For https://github.com/phetsims/circuit-construction-kit-common/issues/541#issuecomment-547178467 we would like a circle-with-a-line-through-it "ban" icon.

Also marking for https://github.com/phetsims/circuit-construction-kit-common/issues/528

Font awesome has an icon for this, but it is not customizable, see https://fontawesome.com/icons/ban

[2019-10-30 01:25] samreid commented on #548
I asked on slack:

I thought we had something like that, but couldn't find something after a quick skim.  I created BanNode.js in scenery-phet, and used it in CCK.

@ariel-phet can you please schedule a reviewer?  It's a short file (53 lines).  Some questions for the reviewer are marked as "TODO" in the file.  Other questions for the reviewer:

* does this component warrant sample usage in the sce

[2019-10-30 18:44] terracoda commented on #536
@jessegreenberg, I like your idea of sticking with button, but preventing the transformation to draggable.

[2019-10-30 22:30] ariel-phet commented on #548
@samreid before you do this...I know function builder has such a symbol. If you for instance put in the Warhol Function (the soup can)on the first screen, drag an item through and then try to drag it in reverse you will see this "ban" symbol. We probably don't want to duplicate, so can we first see if that node already exists there? If so, @pixelzoom would probably be the proper reviewer.

[2019-10-30 22:31] ariel-phet commented on #548
@pixelzoom in Function Builder is that just an image, or something you drew in code?

[2019-10-30 23:10] pixelzoom commented on #548
The symbol is the universal "no" symbol, see https://en.wikipedia.org/wiki/No_symbol. It's known by a number of different emoji names, include "banned", see https://emojipedia.org/no-entry-sign/.

In Function Builder, the symbol is created programmatically by combining a `SCENERY/Circle` and a `SCENERY/Line`, see `NotInvertibleSymbolNode`. It could also possibly be implemented as a FontawsomeNode

[2019-10-30 23:11] pixelzoom commented on #548
Btw... If you want to move `NotInvertibleSymbolNode` to common code, go for it.  It has no dependencies on function-builder (other than namespace).  It should probably be named something more general, like `BannedNode`.

[2019-10-31 14:47] jessegreenberg commented on #546
@zepumph since you were original author would you mind reviewing this? Example usage is in `ObservationWindow.getEmissionPhaseDescription`

[2019-10-31 21:04] jessegreenberg commented on #381
This and changes after https://github.com/phetsims/scenery-phet/issues/381#issuecomment-547563528 look good @zepumph, thank you.

I also inspected usages in sims, I like this pattern. And I verified that order/structure in sims is correct with these Nodes. I think this can be closed.

[2019-11-02 00:35] zepumph opened #549 "NumberControl option to exclude arrow buttons"
From https://github.com/phetsims/projectile-motion/issues/197, there are currently layoutFunctions that support excluding the tweakers, but for PhET-iO this is incomplete. I think that it would be better to not create them at all.

After discussing with @samreid and poking around a bit, it turned out to not be a very invasive change.

[2019-11-02 02:22] zepumph commented on #549
I added an option above, and called it `excludeTweakers`, paralleling the option in `layoutFunction4`. I then removed support for that, and make those usages use the NumberControl options. @pixelzoom will you please review this change?

[2019-11-02 05:31] pixelzoom commented on #549
I reviewed the commits.  I understand why you renamed the option `excludeTweakers`.  But I think your first instinct, to name it `includeArrowButtons`, was the correct choice. It's more consistent with both the API and implementation -- option `arrowButtonOptions` (not tweakerOptions) is part of the API, and the buttons are `ArrowButtons` (not TweakerButtons, which don't exist).  I'm also not a fa

[2019-11-02 05:39] pixelzoom commented on #549
Thoughts on my previous comment...

I'd like to see the option renamed to `includeArrowButtons: true`, otherwise I think this specific issue is addressed nicely.

I think it would be fine to address optional title and NumberDisplay in new issue(s).

Reflection on `NumberControl` probably warrants a design discussion.

[2019-11-04 19:25] jessegreenberg commented on #536
Discussion on 11/4/19:

We agree that the proposal in https://github.com/phetsims/scenery-phet/issues/536#issuecomment-547167870 sounds good.

Up next we want to make sure that this is working well. A few issues have been reported involving duplication of the aria-describedby text in BASE, incorrect appearances of the help text when using a desktop screen reader, and a flood of alerts. In the foll

[2019-11-04 20:12] jessegreenberg commented on #536
We expect the grab and drag interaction to behave like the following on iOS VoiceOver and Talkback:

- When in the "grabbable" state:
  - Object is a "button" in the PDOM.
  - It has an `aria-roledescription` of "movable".
  - It has help text associated with `aria-describedby`.
  - The help text is "Double tap and hold to drag {{object}}. Lift finger to release."

- When it is in the "draggable"

[2019-11-04 23:13] zepumph commented on #536
In the above commits, I tried to  refactor usages of the gesture help text so that there are less usages of `phet.joist.sim.supportsTouchA11y` at the call site. Instead I converted grabbableHelpText into a few other options. I tried to make this as clear and flexible as possible. I think of BASE as the normal case, and so I think that that usage is very stream lined and nice. It is less great that

[2019-11-04 23:18] zepumph commented on #536
This was because there was ISLCRulerNode specific code that was adding aria-describedby associations. I removed it in the above commits.

I think the only thing left for this issue is:
- [x] Duplicated aria-describedby text, see https://github.com/phetsims/balloons-and-static-electricity/issues/457 (checked off here, but to be worked on over there)
- [x] Reduce the number of movement alerts (BASE

[2019-11-04 23:37] zepumph opened #550 "Grab/Drag grabbableOptions.appendDescription: true by default"
While working on https://github.com/phetsims/scenery-phet/issues/536, it looks like every help text given to a grab/drag interaction wants to be appended, so I'll make that the default.

[2019-11-04 23:38] zepumph commented on #550
@jessegreenberg please review the addition of this default.

[2019-11-05 14:41] jessegreenberg commented on #550
Yep, this is a better default, thanks.

[2019-11-05 14:41] #550 closed

[2019-11-06 01:32] terracoda commented on #536
@jessegreenberg and @zepumph, I thought of something new today. It may not be a good idea, but then it might be a good idea, so I just want to mention it.

What if the created grabbed object's name/label actually included the word grabbed, and then "Grabbed." in the alert would not be needed.

**Code for the ruler might look like this:**
[code]
**Which might sound like this:**
"Grabbed Ruler, move

[2019-11-06 01:35] terracoda commented on #536
@jessegreenberg and @zepumph, my previous comment may only be relevant for keyboard interaction? I am not 100% sure about a11y gesture.

[2019-11-06 19:24] zepumph opened #551 "NumberControl option to exclude title"
Just like https://github.com/phetsims/scenery-phet/issues/549

[2019-11-06 19:24] zepumph opened #552 "NumberControl options to exclude numberDisplay and titleNode"
Like https://github.com/phetsims/scenery-phet/issues/549

[2019-11-06 19:25] zepumph commented on #549
Good idea. Done in the above commit.

I created new issues, though I don't know how to assign or prioritize them.

Closing.

[2019-11-06 19:25] #549 closed

[2019-11-06 19:30] jbphet commented on #295
Looks good to me, sorry it took so long for me to review.  Closing.

[2019-11-06 19:30] #295 closed

[2019-11-06 22:26] samreid commented on #540
Things look pretty good.  A few questions.  I was surprised to see the "enterButton" was a sibling of the "keypad"--should they be more closely related, sharing a nearer parent or something?  Also, do you like dynamically creating the tandem names like ``keyPadTandem.createTandem( `${_.camelCase( keyObject.identifier )}Button` )``?  I have experimented with creating "whole" tandem names earlier, s

[2019-11-06 23:53] zepumph commented on #540
I think this is fine to me, as `enter` is part of the current keypad implementation. I can only assume that there was a reason that that was not implemented as part of the keypad (likely for flexibility if you don't want to have a submit style entry?).

So would you rather have a field in `Key.js` that looks like this?

        this.buttonTandemName = _.camelCase( keyObject.identifier )}Button

Th

[2019-11-07 00:48] samreid commented on #540
Not feeling 100% great about any of the proposals (including the one below), but the one I had in mind was `new Key( '7', KeyID.SEVEN, '7Button' )`.  The philosophy is to make all tandems 100% searchable, and not using string concatenation for any tandem term construction.

[2019-11-07 01:04] samreid opened #553 "Compress Key layouts"
While working on https://github.com/phetsims/scenery-phet/issues/540 I came across the key layouts, which look like this:

[code]

Since the Key seems to be a data type, it may be possible to factor out the keys like so:

[code]

Assigning to @jbphet for initial discussion.

[2019-11-07 22:57] zepumph commented on #193
While working on https://github.com/phetsims/chipper/issues/794, I found a TODO marked for this issue, and a commented out lint rule. It looks like back in 2015 it was worth changing these usages, and when I added the lint rule back in, there were  only 5 issues, so I fixed them, @jonathanolson please review these and close if all seems good, and keeping the lint rule is best.

[2019-11-09 00:08] zepumph commented on #540
From https://github.com/phetsims/projectile-motion/issues/177 design meeting, here are two more items:

- [ ]  instrument the KeypadLayer
- [ ]  knowing when the keypad is shown.

@samreid's item:
- [ ] look into how the tandemName is set, try not to use string concatentation for it.

[2019-11-09 00:38] pixelzoom opened #554 "TODOs with no issue number"
BannedNode by @samreid:

[code]

ConductivityTesterNode by @pixelzoom (?):

[code]

KitControlSides:

[code]

... and the list goes on.

[2019-11-11 17:09] terracoda commented on #536
@jessegreenberg and @zepumph, I verified BASE's mobile a11y over in https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-552522445

Mobile A11y gesture is working pretty god, but keyboard interaction no longer works. I will not test further until I hear from you folks.

[2019-11-11 17:37] terracoda commented on #536
And I just took a quick pass with GFL gesture,
https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-552534326

then keyboard
https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-552537106

I won't test further until I am given the go ahead. I mostly wanted to bring myself up to speed on where we were at with Drag & Grab before our meeting.