[2013-05-17 16:37] samreid opened #1 "Text should default to Tahoma?"
Noah said that @ariel-phet recommended Tahoma font as being safest across platforms and browsers.  Should we confirm this and add a PhetText node that defaults to Tahoma (possibly here or in scenery)?  Let's discuss.

[2013-05-23 00:56] samreid opened #2 "The reset all button and audio button are different sizes and look awkward together"
The reset all button and audio button are different sizes and look awkward together, see screenshot.
![controls](https://f.cloud.github.com/assets/679486/552168/886a1e18-c343-11e2-86d4-b0c522b557c3.png)

Perhaps we could add some padding to the smaller one so they will have same dimensions?

[2013-05-29 19:27] jbphet opened #3 "Add support for centralized font similar to PhetFont was in Java-land"
We should have a way of supporting fonts that works consistently across browsers and languages.  This should be similar in behavior to the way that PhetFont works in PhET's Java simulations.  As of this writing, @pixelzoom has created a preliminary version of this sort of thing for Beer's Law Lab in the BLLFont.js file.  This may serve as a useful starting point.

[2013-07-12 03:25] pixelzoom opened #4 "add support for consecutive line breaks to MultiLineText"
... for example: 'Hello\n\nWorld'

One way to do this would be to look for consecutive line breaks, then insert a sun.Rectangle (stroke:null, fill:null) whose height is equal to the height of some capital letter (eg 'X').

Other suggestions?

[2013-08-01 19:10] pixelzoom opened #5 "use a single implementation of ResetAllButton"
On instructions from AP, all sims have their own local copy of ResetAllButton and associated images. A single copy should be moved to 'scenery-phet' and used by all sims. To do this, we'll need to solve the problem of how to include common-code images in a build.

When ResetAllButton is moved to scenery-phet, it's default size should probably be appropriate for default TabView.layoutBounds.

[2013-08-01 19:11] #3 closed, assigned to nobody

[2013-08-23 21:59] pixelzoom opened #6 "change interface for PhetFont"
The constructor currently looks like PhetFont( size, weight ), where weight is optional.

Problems:
- no way to change other options, eg, family (needed by joist)
- if weight is optional, it should be in the options parameter
- no way to get a font with the default size, eg new PhetFont()
- constructor interface is different than scenery.Font, ie, new Font(options)

Proposal is to change the inter

[2013-08-28 19:09] #6 closed, assigned to pixelzoom

[2013-08-28 19:21] pixelzoom opened #7 "automatically add fallback family for PhetFont"
If the caller provides a non-default font family, we should automatically add a fallback of sans-serif.  Probably OK to add the fallback even if it's already in the caller's family value.

[2013-08-28 20:09] #7 closed, assigned to pixelzoom

[2013-08-28 20:43] jbphet opened #8 "Ruler should be made to handle translation better"
This issue was moved from the Gravity Force Lab sim, where it was entitled, "Ruler should only have markings on the top".  The motive for this request was that the current version may not work well if some language has a longer word for "meters" than the English version (see screenshot).

![ruler-pic](https://f.cloud.github.com/assets/3082831/1045276/6b1f9d98-1022-11e3-8724-e89482190309.png)

Here

[2013-08-28 22:15] #2 closed, assigned to nobody

[2013-08-28 22:17] #1 closed, assigned to nobody

[2013-08-29 00:00] pixelzoom opened #9 "cleanup interface to ArrowNode"
Discussed some of this with @jbphet  ...

(1) Make headHeight, headWidth and tailWidth options instead of parameters. This will solve the problem that these are in a non-intuitive order, and will allow for quick prototyping of arrows.

(2) Add an option to have a head at both ends of the arrow. I've needed this in beers-law-lab, and I need it again in graphing-lines. In java, we have a separate Do

[2013-08-29 23:21] pixelzoom opened #10 "bad smell in VerticalCheckBoxGroup and VerticalAquaRadioButtonGroup"
None of these are difficult to fix.  And yes, I see the disclaimer, "not ready for use in simulations". But these are used in production simulations, so they need to be fixed.

(1) These should both use VBox for layout.

(2) Both have poor handling of options.

(3) VerticalCheckBoxGroup expands mouseArea and hitArea by a constant '5', which looks like it's dependent on the default options.spacing

[2013-09-10 05:59] jonathanolson opened #11 "Resolving Bucket differences compared to Java"
Multiple differences including bucket location, bucket text position, and a very different color gradient that goes across different hues (old bucket used just a single hue).

From Java:
![buckets-java](https://f.cloud.github.com/assets/480878/1112432/28ad390a-19de-11e3-8d43-4335a3e30fc1.PNG)

From HTML5:
![buckets-html5](https://f.cloud.github.com/assets/480878/1112433/2c470e06-19de-11e3-8ef5-8b4

[2013-09-11 04:10] #11 closed, assigned to jonathanolson

[2013-09-11 20:49] #9 closed, assigned to jbphet

[2013-09-24 18:01] pixelzoom opened #12 "create ResetAllButton programmatically instead of using images"
Moved this out of #5.

@jonathanolson signed up for this at 8/29/13 developer meeting.

Low priority.

[2013-09-24 18:02] #5 closed, assigned to nobody

[2013-09-27 22:15] pixelzoom opened #13 "faucet handle issues (Firefox)"
FaucetNode was migrated from beers-law-lab to scenery-phet. Original issue was here: https://github.com/phetsims/beers-law-lab/issues/19

Firefox 22.0, 'svg' renderer

Two things noticed:

(1) There's a vertical white line between the flange and the shaft, perhaps a tiny bit of horizontal space?

(2) After dragging the faucet knob, it sometimes shifts up or down a pixel or two when you release it.

[2013-09-27 22:30] pixelzoom opened #14 "FaucetNode: pipe sometimes doesn't line up with spout"
This occurs on Safari and Chrome, see screenshot below. It's due to https://github.com/phetsims/scenery/issues/132.  The workaround is to rewrite FaucetNode so that it uses scaling instead of scenery.Pattern.

![faucet-pattern-bug](https://f.cloud.github.com/assets/3046552/1229914/612d634c-27c4-11e3-9849-d926dd81d136.jpg)

[2013-10-14 21:48] #13 closed, assigned to nobody

[2013-10-15 21:33] pixelzoom opened #15 "FaucetNode requires further generalization"
FaucetNode was migrated to scenery-phet from beers-law-lab. But it still depends on beers-law-lab.Faucet (there is no import of Faucet). Things could still work via duck typing, but I think it should be generalized further.

[2013-10-15 23:46] #15 closed, assigned to pixelzoom

[2013-10-17 22:04] pixelzoom opened #16 "replace MultiLineText with support in scenery"
See https://github.com/phetsims/scenery/issues/67

[2013-10-24 20:53] jonathanolson opened #17 "add 'vertical pipe length' feature to FaucetNode"
Requested in PH Scale.

The main vertical portion (with the constant width) here should be adjustable:
![screen shot 2013-10-24 at 2 51 40 pm](https://f.cloud.github.com/assets/480878/1403100/295a5e5e-3cee-11e3-9884-03ed8dd742b2.png)

[2013-10-25 19:35] samreid opened #18 "Reset all button doesn't respond to touch/mouse sometimes"
It has been reported for a number of sims that the reset all button doesn't respond to touch/mouse.  It is very reproducible on Win8/Firefox24 if you restart firefox then launch a built version of Build an Atom then try pressing the reset all button.

[2013-10-28 20:52] #17 closed, assigned to pixelzoom

[2013-10-29 04:35] #10 closed, assigned to nobody

[2013-11-04 00:01] #18 closed, assigned to jbphet

[2013-11-04 00:27] pixelzoom opened #19 "sizing of TimerToggleButton is not production code"
Assigning to @jbphet who authored TimerToggleButton.

I'm referring to this bit of code:

[code]

Problems:
1. Relies on knowledge of which icon used by SoundToggleButton is 'largest'.
2. Will break when SoundToggleButton changes, which we have decided to do (see #20).
3. This dependency is invisible to anyone changing SoundToggleButton.
4. Why does there need to be size dependency between buttons

[2013-11-04 00:30] pixelzoom opened #20 "change look of SoundToggleButton"
Decided in 10/31/13 developer meeting. Make it look like the YouTube sound icon.

[2013-11-04 00:33] pixelzoom opened #21 "FontAwesomeNode has 10 bogus imports"
Looks like someone did a copy-paste of imports from somewhere else, then forgot to clean them up.

[2013-11-04 00:38] pixelzoom opened #22 "i18n of accessibility labels"
Accessibility labels are currently not localized, and I believe this is the case throughout all code (not just 'sun').

For example, in TimerToggleButton:

[code]

Related questions:
- Will labels be spoken by a screen reader? If so, they need to be localized.
- Should we prefix all accessibility strings with something ('accessibility.' ?) so that translators can identify them
- Are there other no

[2013-11-04 19:56] #21 closed, assigned to nobody

[2013-11-15 17:25] #20 closed, assigned to jbphet

[2013-11-15 18:53] samreid opened #23 "ResetAllButton should be generalized"
In #12 the ResetAllButton was created programmatically, but it should be generalized so the same pattern can be used for other buttons (with different icons & color schemes).

[2013-11-15 18:54] #12 closed, assigned to jbphet

[2013-11-15 18:55] samreid opened #24 "ResetAllButton uses PushButton"
ResetAllButton uses a fairly large tree since it provides composite nodes to PushButton. We should evaluate the performance of that and consider rewriting to use mutable state if it is a problem.  See https://github.com/phetsims/joist/issues/94

[2013-11-26 19:52] jbphet opened #25 "RulerNode not using PhetFont"
There are several places where the font is set to '18px Arial' in RulerNode.js.  I'd be happy the change it, but wanted to make sure there wasn't some reason for this.

[2013-11-28 00:24] #25 closed, assigned to nobody

[2013-12-02 22:20] samreid opened #26 "GaugeNode appears in the profiler even when invisible"
GaugeNode.js updates like so:

[code]

This happens even when the gauge node is invisible which consumes CPU.  Can we make it only update when visible?

[2013-12-20 17:45] #23 closed, assigned to samreid

[2014-01-06 03:26] samreid opened #27 "RoundShinyButton shouldn't take a callback as 1st parameter."
Currently RoundShinyButton takes a callback function as 1st parameter.  We should use the same convention we used elsewhere (I believe we put it in the options).

[2014-01-08 17:34] samreid opened #28 "Faster performing arrows"
In a Gravity and Orbits performance evaluation, it was determined that the velocity arrows that update at every time step take a significant part of the CPU, about 30% of the total CPU time.  The problem is that recreating the shapes is very expensive.  It could be optimized by scaling the tail, rotating the head and using line segments if a stroke is necessary.

[2014-01-16 22:03] pixelzoom opened #29 "node for rendering text with subscripts and superscript"
This is primarily for chemical formulae (e.g., H<sub>3</sub>O<sup>+</sup>) and numbers in scientific notation (e.g. 4.56 x 10<sup>8</sup>).

scenery.HTMLText looks crappy for sub/superscripts, incorrect bounds make it impossible to accurately position, and opacity attribute doesn't behave correctly because HTMLText is rendered using DOM.  Here's an example from ph-scale:

![screenshot_201](https:/

[2014-02-05 21:08] pixelzoom opened #30 "ArrowShape: constraint on max head height is too restrictive"
Currently the max head height is half the arrow length. Here's where that's enforced, line 37:

[code]

This makes it impossible to create arrows with stubby tails, like I need in Molecule Polarity. A more reasonable constraint would be that arrows need to have a non-zero tail length.  That can be accomplished by changing line 37 to this:

[code]

[2014-02-12 23:08] pixelzoom opened #31 "add tap-to-dispense feature to FaucetNode"
According to Y2C: Based on 'pH Scale' interviews, many students (50%) are having difficultly using the 'shooter' on the faucet. Students tap or press, see no response, and move on to other controls; some eventually figure it out, others need to be prompted in order to make successful use of the feature.

The proposed solution is to add a 'tap-to-dispense' feature. Tapping the shooter will dispense

[2014-02-14 20:26] jbphet opened #32 "Questionable assert in FaucetNode"
The Under Pressure simulation was hitting the assert at line 113 of FaucetNode SHA=e6f15653e8b31ed04d03acf639de41c781b8bcaa.  This was happening because a zero-length pipe was being specified.  However, some testing where no pipe length was specified also hits the assert, so something seems amiss.  Intuitively, it should be possible to specify a zero-length pipe, and it would consist of just the f

[2014-02-25 17:54] pixelzoom opened #33 "add fractionHeadHeight feature to ArrowNode"
Make this behave similar to Java implementation, see piccolophet.ArrowNode.

This is essentially implemented already in molecule-polarity.DipoleNode.

[2014-02-25 17:55] #30 closed, assigned to samreid

[2014-02-25 18:07] pixelzoom opened #34 "consolidate ArrowNode and MutableArrowNode"
Discussed at 2/25/14 developer meeting in the context of #30. Notes:

- A single implementation of arrows is preferred.

- Why is MutableArrowNode needed? Is it really an issue in GAO, or are there other things contributing to poor performance? (e.g., multiple updates during one animation cycle)

- MutableArrowNode is a much more complicated implementation than ArrowNode. Prefer the less complicat

[2014-03-03 21:59] pixelzoom opened #35 "DropperNode needed"
beers-law-lab and ph-scale (and other sims?) have dropper nodes. They are slightly different, but it would be worthwhile to have a common-code node.

best to use ph-scale implementation, since the image files have been corrected to provide consistent lighting direction.

[2014-03-03 23:21] #29 closed, assigned to jbphet

[2014-03-28 14:08] samreid opened #36 "Extra "chrome" beneath faucet control looks odd and distracting"
Can we get rid of the extra gradient beneath the faucet controls?  It looks kind of like a bug in the rendering.

Here's a picture of the faucet with its controls:
![faucetnored](https://cloud.githubusercontent.com/assets/679486/2550357/3489d5bc-b682-11e3-9900-d0d223981d5f.png)

Here I highlighted the region that looks odd:
![faucetred](https://cloud.githubusercontent.com/assets/679486/2550360/3be

[2014-03-28 20:22] jbphet opened #37 "Default touch area not based on actual radius in RoundShinyButton"
The default touch area is based on the default radius in RoundShinyButton, and this leads to very large default touch areas for small buttons (see the mass kit buttons in the screenshot below).  This should be changed to be something like 'touchAreaExtension' which adds a fixed amount to the radius.

![ba-large-touch-areas](https://cloud.githubusercontent.com/assets/3082831/2554816/ac96aef2-b6b6-1

[2014-04-14 22:06] pixelzoom opened #38 "repository has no LICENSE file"

[2014-04-19 01:13] #32 closed, assigned to pixelzoom

[2014-04-22 15:22] pixelzoom opened #39 "implement CurvedArrowNode"
Originally identified in https://github.com/phetsims/sun/issues/84

Needed in a few places:

• molecule-polarity.MoleculeAngleArrowsNode
• sun.RefreshButton
• fraction-coomparison. CompareSeparateButton

Requirements:

• API similar to scenery-phet.ArrowNode
• radius (probably a required parameter)

[2014-05-07 18:04] samreid opened #40 "Play/Pause and step buttons should use the new buttons"
Play/Pause and step buttons should use the new buttons, see https://github.com/phetsims/sun/issues/94

[2014-05-09 21:16] samreid opened #41 "Choose an optimal default size for the ResetAllButton"
Many usages of ResetAllButton are changing the default size by scaling or changing the radius.  We should find out what is the most popular size, and make it the new default.

[2014-05-19 04:22] samreid opened #42 "Add a "kitchen sink" style demo of scenery-phet components"
Add a "kitchen sink" style demo of scenery-phet components

[2014-05-19 04:23] #42 closed, assigned to nobody

[2014-05-19 04:27] samreid opened #43 "Create a ThermometerNode"
For seasons and other sims, we will need a ThermometerNode.  This issue is to describe what it should look like, what the API should be, including options and defaults.

[2014-05-22 15:00] samreid opened #44 "Return to level selection screen and refresh buttons should be the same width"
see https://github.com/phetsims/fraction-matcher/issues/35

[2014-05-22 15:21] samreid opened #45 "Reset all button should be disabled when sim is already reset"
If it's not too expensive, I think it would be nice to disable the reset all button when the sim is already reset, so it doesn't look like something else the user can "do".

[2014-05-27 21:08] aaronsamuel137 opened #46 "Options in WavelengthSlider"
I tried to put the wavelength slider in the middle of the screen with this code, but it still appeared at the top of the screen. I think its because the options are passed along in a call to the parent class instead of with mutate()

[code]

[2014-05-27 21:17] aaronsamuel137 opened #47 "Make plus/minus buttons optional in WavelengthSlider"
In order to use the WavelengthSlider in ColorVision, it would be useful to have the option to not show the plus/minus buttons.

[2014-05-27 21:41] #46 closed, assigned to pixelzoom

[2014-05-27 22:02] pixelzoom opened #48 "use CanvasNode in SpectrumNode"
WavelengthSlider is currently inserting a <canvas> into the DOM. It would be better to use scenery.CanvasNode, so that we're doing as much rendering as possible within the scenery framework.

[2014-05-27 22:04] pixelzoom opened #49 "clean up WavelengthSlider"
There are currently a few more option tests (e.g., 'if ( options.tweakersVisibile)') than I'd prefer to see. Restructuring the constructor a bit would make things cleaner, especially the layout and rendering-order code. Low priority.

[2014-05-27 22:04] #47 closed, assigned to pixelzoom

[2014-06-05 18:22] pixelzoom opened #50 "additional options for NumberPicker"
These were requested in https://github.com/phetsims/balancing-chemical-equations/issues/3, and would be useful in other sims:

• stroke around the value rectangle
• dimensions of arrows

[2014-06-09 22:33] pixelzoom opened #51 "add ability to keep faucet open"
Ariel said:
Does our current faucet have an option for once the user has set the flow for it to stay open, or does it always "spring back" to the closed position...we will need that funtionality for the water tower screen of Fluid Pressure and Flow if it does not already exist.

[2014-06-10 20:33] #50 closed, assigned to pixelzoom

[2014-06-10 22:03] pixelzoom opened #52 "FaceWithScoreNode problems"
(1) alignment
The current options for scoreAlignment are 'bottom' and 'rightBottom'. In all of the Java sims that I've worked on, the score is to the right of the face, vertically centered ('rightCenter'), see screenshot. And this is true of graphing-lines and other sims currently in development.

![screenshot_276](https://cloud.githubusercontent.com/assets/3046552/3237551/13297a74-f0ea-11e3-8694-

[2014-06-12 01:25] ariel-phet opened #53 "Adjust Play/Pause/Step buttons"
Please adjust the look of the Play/Pause/Step buttons (in terms of the black shape size and placement) to match the mockups shown below
![nsmail](https://cloud.githubusercontent.com/assets/4051174/3253120/6285fec6-f1d0-11e3-8acc-dd2a0c5a38ea.png)

[2014-06-12 17:22] pixelzoom opened #54 "encapsulate implementation of faucet 'shooter'"
While investigating #51, I noticed that the implementation of the 'shooter' (the interactive part of the faucet) has gotten a bit complicated. It's composed of 5 nodes, and it has some specific 'enabled' behavior. The implementation of this is currently spread out in FaucetNode, and it would be better if everything about the shooter were encapsulated in an inner type, so that it's clear what code

[2014-06-12 17:24] #54 closed, assigned to nobody

[2014-06-12 20:23] ariel-phet opened #55 "Keypad entry"
This issue will track issues surrounding keypad entry

[2014-06-12 22:07] #31 closed, assigned to pixelzoom

[2014-06-12 22:36] #51 closed, assigned to nobody

[2014-06-16 14:35] samreid opened #56 "Generalize the BarometerNode from under pressure"
Generalize the BarometerNode from under pressure, so that it can be reused in Fluid Pressure and Flow.

[2014-06-16 14:48] samreid opened #57 "Generalize the MeasuringTape from Gravity and Orbits"
Generalize the MeasuringTape from Gravity and Orbits, so it can be used in Fluid Pressure an Flow and elsewhere.

[2014-06-16 16:40] samreid opened #58 "WavelengthSlider is double mutating"
Wavelength slider is applying its options twice, once in the super call and once in mutate.  This should be changed so it is just applying the options in the mutate call.  Applying the options in the super is causing an assertion error.

[2014-06-16 19:22] #40 closed, assigned to jbphet

[2014-06-16 20:03] #52 closed, assigned to pixelzoom

[2014-06-17 13:15] pixelzoom opened #59 "WavelengthSlider thumb should have a pointy tip"
In https://github.com/phetsims/scenery-phet/commit/33ce7a07c8d8c2c3bf72375e1a9ac6844291240c, @aaronsamuel137 added requested curved edges to the thumb of WavelengthSlider. In general, this looks very nice, here's a screenshot from Beer's Law Lab:

![screenshot_121](https://cloud.githubusercontent.com/assets/3046552/3300419/e4148562-f620-11e3-9c4c-d0c8190c1419.png)

The one part that I think should

[2014-06-17 14:10] #58 closed, assigned to samreid

[2014-06-17 19:22] #59 closed, assigned to aaronsamuel137

[2014-06-18 01:57] #53 closed, assigned to aaronsamuel137

[2014-06-23 17:39] pixelzoom opened #60 "animated transitions"
At 6/19/14 status meeting, @samreid suggest that PhET include animated transitions as a standard part of user interfaces, especially in games.  That was approved, and we're now supposed to include transitions in all games currently under development (including graphing-lines, balancing-chemical-equations, arithmetic-builder, ...) and future games.

[2014-06-23 20:47] #26 closed, assigned to jbphet

[2014-06-26 21:27] aaronsamuel137 opened #61 "pointerArea size in WavelengthSlider"
Running both color-vision and beers-law-lab with showPointerArea reveals some overlap between the wavelengthSlider thumb pointerArea and the pointerArea of the nodes beneath them (the ruler in beers-law and the bulb icon in color-vision).

![color-vision](https://cloud.githubusercontent.com/assets/3193912/3405040/9dc864b6-fd78-11e3-94a4-922c02ce8c37.png)
![beers-law](https://cloud.githubuserconten

[2014-06-27 00:08] pixelzoom opened #62 "replace mvt with modelViewTransform"
see https://github.com/phetsims/graphing-lines/issues/15

[2014-06-27 00:13] #62 closed, assigned to nobody

[2014-06-27 00:15] pixelzoom opened #63 "'model of a bucket' is undefined"
BucketFront and BuckHole constructors both have this parameter:

Nowhere is there a description of what 'model of a bucket' is. You have to look across multiple files to determine what is required for something to be a bucket.

[2014-07-22 22:41] #19 closed, assigned to pixelzoom

[2014-07-23 16:17] pixelzoom opened #64 "wasteful axon wiring in NumberPicker"
I noticed this while investigating an unrelated issue with NumberPicker. This bit of code:

... creates 4 functions (one by created each bind call) and results in 4 notifications (one for each link call) when a NumberPicker is created. Reduce to one instance of each function, and use Property.multilink to wire them up.

[2014-07-23 16:38] #64 closed, assigned to pixelzoom

[2014-07-23 19:52] pixelzoom opened #65 "pressing NumberPicker sometimes results in no change"
This seems to happen when you press, hold a bit, then release before the 'fire continuous' feature kicks in. To reproduce:
1. Press and hold a bit
2. Release before it starts firing continuously

You may need to adjust how long "a bit" is before you reproduce this. By default, it starts to fire continuously after 400ms, and fires once every 100ms.  So somewhere between 400 and 500ms is the sweet s

[2014-07-23 20:11] #65 closed, assigned to pixelzoom

[2014-08-08 02:06] samreid opened #66 "Number of top level files is getting overwhelming"
The number of top level files is getting overwhelming, can we add some directory structure or something?

[code]

[2014-08-13 21:42] samreid opened #67 "FaucetNode needs a new "on but not editable" mode"
As described in https://github.com/phetsims/fluid-pressure-and-flow/issues/132, FaucetNode needs a new "on but not editable" mode.

[2014-08-18 15:29] samreid opened #68 "Create Measuring Tape"
A number of our new and upcoming HTML5 simulations need measuring tape, including Gravity and Orbits and Fluid Pressure and Flow.  Please see this issue:
https://github.com/phetsims/fluid-pressure-and-flow/issues/2#issuecomment-52323038

I see 7 measuring tape implementations in Java (not sure if there are any in our Flash sims).

We need to do the following:

(1) review the existing Java + Flash

[2014-08-18 20:01] pixelzoom opened #69 "delete image files related to old 'Reset All' button"
scenery-phet/images still contains images related to the old "Reset All" button. I don't see them used anywhere. OK to blast them?

From the license.txt file:
reset_button_disabled.png source=PhET author=Sharon Siman-Tov
reset_button_down.png source=PhET author=Sharon Siman-Tov
reset_button_over.png source=PhET author=Sharon Siman-Tov
reset_button_up.png source=PhET author=Sharon Siman-Tov

[2014-08-18 20:21] pixelzoom opened #70 "missing some assets for FaucetNode"
While reviewing https://github.com/phetsims/scenery-phet/issues/67, I noticed that the assets file for faucet images (faucet_components.ai) is missing some components of the faucet.  Specifically, the assets corresponding to these images are missing: faucet_knob.png, faucet_knob_disabled.png, faucet_vertical_pipe.png.  This is because (a) I don't have Illustrator to inspect .ai files, and (b) I to

[2014-08-26 16:46] pixelzoom opened #71 "issues related to "press-and-hold" feature in ArrowButton"
ArrowButton should be implemented as a subtype of buttons.RectangularPushButton, and specialized with press-and-hold feature.

New sims needing this included RPAL and Area Builder. But there are several other existing sims that will benefit from this.

[2014-08-26 20:25] pixelzoom opened #72 "bug introduced into ZoomButton during sun button development"
In https://github.com/phetsims/scenery-phet/commit/d5e040192b77f2df45e911ed811e53e0aab5bd8a, this line of code was introduced, which handles the appearance of the button when the state changes:

Looking at the supertype RectangularPushButton, the option is named contentAppearanceStrategy (lowercase).  So this is clearly a typo.

The only client is pH Scale, so I'll investigate what it affects.

[2014-08-26 20:29] #72 closed, assigned to pixelzoom

[2014-08-28 18:08] pixelzoom opened #73 "asset and license.txt entry missing for measuring tape"
Assigning to @aaronsamuel137 since he checked in measuringTape.png.

An entry needs to be made in the images/license.txt file, and the original Illustrator file (.ai) needs to be checked in to assets/.

[2014-08-28 18:32] pixelzoom opened #74 "vestigial clock files?"
These don't appear to be used anywhere:

scenery-phet/assets/Clock.ai
scenery-phet/assets/simple_clock.svg

Assigning to @jbphet since he created them. They also have entries in assets/license.txt.

[2014-08-29 15:56] #74 closed, assigned to jbphet

[2014-09-05 18:55] samreid opened #75 "Airplane icon should match the original"
Here are the points that define the original airplane in our logo (exported from AI file):

`
<polygon fill="#F2E916" points="221.92,131.225 234.307,135.705 250.253,122.428 237.983,136.955 251.236,141.627 256.021,114.975
    "/>
<polygon fill="#F2E916" points="238.004,139.547 238.312,146.48 243.254,141.54 "/>
`

Here is the code that draws it in PaperAirplaneNode.js:

[code]

Do these match up suf

[2014-09-06 02:46] samreid opened #76 "Create an Eraser node"
Multiple sims are using an eraser icon now.  We should move it to scenery-phet.

[2014-09-08 19:02] #73 closed, assigned to pixelzoom

[2014-09-25 04:47] jonathanolson opened #77 "CurvedArrowNode/CurvedArrowShape move to common code?"
CurvedArrowNode (and more generally, the Shape it creates) would be great to use in faradays-law. Is there anything blocking moving this file to common code from molecule-polarity?

Additionally, I would like to see a separate Shape for this purpose, so if you need access to it you don't need to create a Path directly with it.

[2014-09-29 17:55] #69 closed, assigned to nobody

[2014-09-29 18:43] pixelzoom opened #78 "enhancements to Pseudo3DRoundedRectangle"
As discussed on Skype 9/29/14:

• Change the name from Pseudo3DRoundedRectangle to ShadedRectangle.

• Add lightSource option, with {string} values leftTop, rightTop, leftBottom, rightBottom.

[2014-09-29 19:53] #78 closed, assigned to jonathanolson

[2014-09-30 23:37] pixelzoom opened #80 "reimplement RoundRedButton using sun.buttons"
RoundRedButton is based on image files, and can be configured as either a toggle button or momentary button.  sun.buttons currently does not support the "look" of this button, specifically the pseudo-3D look when it's in the unpressed state.  sun.buttons does not support buttons that are solely composed of image files.  And sun.buttons does not support momentary buttons.  So there is a bit of sun

[2014-10-02 05:22] jessegreenberg opened #81 "SpectrumNode should have variable height"
While using SpectrumNode, I noticed that the height is set by the canvas fillRect() method:

[code]

This draws the spectrum with a height of 50.  It seems like the last line in the loop should be

[code]

which will fill a rectangle of the desired height.

[2014-10-02 18:31] #38 closed, assigned to nobody

[2014-10-02 18:31] #39 closed, assigned to nobody

[2014-10-03 16:13] #81 closed, assigned to aaronsamuel137

[2014-10-06 21:58] #77 closed, assigned to jonathanolson

[2014-10-06 22:15] #24 closed, assigned to nobody

[2014-10-06 22:16] #61 closed, assigned to nobody

[2014-10-06 22:44] pixelzoom opened #82 "should ShadedRectangle API be more similar to scenery.Rectangle?"
The primary form of the constructor for scenery.Rectangle is:

There are 3 other forms that are less obvious, but supported

The primary constructor for scenery-phet.ShadedRectangle is:

The fact that one is described as a rectangle and the other as bounds has already bitten me more than one. If I'm creating a rectangle, I expect to describe it as I would a rectangle. So I would highly recommend m

[2014-10-08 02:39] samreid opened #83 "setID calls are leaking in to master"
Sims are crashing on startup because setID is being called in ResetAllButton, SoundToggleButton, TimerToggleButton.  Presumably this belongs in the arch branch?

[2014-10-08 16:40] pixelzoom opened #84 "remove use of deprecated sun types from KitControlNodeSides, KitControlNodeTop"
As discussed in https://github.com/phetsims/sun/issues/94, this is assigned to @jbphet.  Usages of RectanglePushButtonDeprecated and RoundShinyButtonDeprecated must be replaced.

[2014-10-08 16:41] pixelzoom opened #85 "remove use of deprecated sun types in LeftRightSpinner, UpDownSpinner"
As discussed in https://github.com/phetsims/sun/issues/94, this is assigned to @samreid. Uses of RoundShinyButtonDeprecated must be removed.

[2014-10-08 17:35] #83 closed, assigned to jbphet

[2014-10-15 18:40] jbphet opened #86 "Changes requested for the clock icon"
The clock icon currently looks like this (as of 6061555b902306afd38b71a60ca64cdda8addd66):

![clock-icon](https://cloud.githubusercontent.com/assets/3082831/4651207/2bfb186e-549a-11e4-9be7-f5a6dc04b2ef.png)

During one of the recent status or design meetings, someone stated that they were initially confused by this icon, thinking that the hands looked like the letter 'L'.  It was suggested that th

[2014-10-16 17:37] bereaphysics opened #87 "MutableArrowNode does not line up properly under resizing"
The mutable Arrow does not rescale properly. The head of the arrow is no longer centered with respect to the tail of the arrow.

To repeat the bug. Start with a long arrow and shorten up the length dynamically (with setTailAndTip) such that the length is smaller than the size of the arrow head. The bug will occur when the arrow size is increased from that state. The arrow head is lopsided..

![ima

[2014-10-16 19:51] pixelzoom opened #88 "string keys need some context"
Thinking ahead to translation... These keys could use come qualification, so translators know what context they are used in.

For example:

[2014-10-16 22:29] #86 closed, assigned to nobody

[2014-10-20 22:01] #84 closed, assigned to jbphet

[2014-10-29 21:58] jbphet opened #89 "Move BackButton to common code"
The BackButton, which currently appears in the Fraction Matcher sim, is now needed for Arithmetic.  It should be moved to the scenery-phet repository.

[2014-10-29 23:01] jbphet opened #90 "Change name of ReturnToLevelSelectionButton to StarButton"
The original design for the button that was to be used for returning to the level selection screen in a game was a button with a star on it, which was meant to connect with the stars on the level selection screen.  It was used in some sims for a while, but is now used only on the demo, and the BackButton is being used in its stead.  @samreid decided to change the name so that it is clear that ther

[2014-10-29 23:04] #90 closed, assigned to nobody

[2014-10-30 18:46] #89 closed, assigned to samreid

[2014-11-08 03:50] samreid opened #91 "RulerNode might have too many children"
The RulerNode is created with lots of different Shape instances instead of lineTo calls.  Where strokes and colors are the same, using a single Path with lineTo/moveTo can be more efficient and @jonathanolson suggested refactoring it as such.  Not sure how much this will improve performance, but in Fluid Pressure and Flow 350 nodes are being created by RulerNode children (some of which are Text la

[2014-11-10 23:54] #76 closed, assigned to samreid

[2014-11-12 17:12] #67 closed, assigned to samreid

[2014-11-13 01:09] #85 closed, assigned to pixelzoom

[2014-12-01 23:42] pixelzoom opened #92 "consolidate EraserButton in scenery-phet"
There are 3 identical copies of EraserButton, in area-builder, least-squares-regression and plinko-probability. These should be replaced by a single implementation in scenery-phet.  The image file already lives in scenery-phet.

[2014-12-08 20:26] samreid opened #93 "Text gets separated from the measuring tape body"
Discovered during #68.  The text can get pretty far beneath the measuring tape.  It looks like it is using the rectangular bounding box of the image to do layout?  For example:

![image](https://cloud.githubusercontent.com/assets/679486/5346251/72b4e210-7edb-11e4-8b60-ca0f940cbdff.png)
![image](https://cloud.githubusercontent.com/assets/679486/5346259/81a9fa9e-7edb-11e4-8ba2-475e1fe62d1f.png)

Per

[2014-12-08 20:26] samreid opened #94 "Improve JSDoc for the measuring tape"
Discovered during #68.  The Header JS doc needs to be added.  Describe what the measuring tape look/behaves like.  Here is some more complete header JS doc that you can use as an example: https://github.com/phetsims/scenery-phet/blob/master/js/KitControlNodeSides.js

[code]

Currently the MeasuringTape doc says only:

[code]

[2014-12-08 20:33] samreid opened #95 "Make sure the measuring tape is consistent with Gravity and Orbits"
Discovered during #68.  The new measuring tape is already being referenced by Gravity and Orbits, which is causing Gravity and Orbits to fail on startup with an undefined error.  Gravity and Orbits's call site should be updated to use the new measuring tape.

Gravity and Orbits is in a bit of a state of flux since @aaronsamuel137 will be rewriting it, but it would be good to test the measuring tap

[2014-12-08 20:36] samreid opened #96 "Fluid Pressure and Flow should use the new measuring tape"
Discovered during #68. Fluid Pressure and Flow currently uses its own copy of the measuring tape.  That version should be deleted and the new one in scenery-phet should be used.

We may also need the feature in measuring tape to change units (may already be supported--I haven't checked).  Many sims that have distance measurements allow the user to measure in meters or feet, for example.

[2014-12-08 20:38] samreid opened #97 "Some parameters missing from constructor JSDoc"
During #68, @aaronsamuel137 & I noticed this constructor JSDoc:

[code]

The isVisibleProperty and options should be documented.

[2014-12-08 20:48] samreid opened #98 "Clean up formatting for the constructor @param annotations in measuring tape"
During the review for #68, @aaronsamuel137 & I saw the JSDoc for the MeasuringTape constructor, which looks like so:

[code]

The formatting should be changed to match the guidelines in the PhET Development Overview Style Guide:
https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#bookmark=id.1zymyfrqqoau

Copied here for your convenience:

[code]

[2014-12-08 20:53] samreid opened #99 "Default position should probably be (0,0)"
During the code review for #68, @aaronsamuel137 & I saw this default value for the basePosition:

[code]

Perhaps to mesh nicely with scenery defaults, this default should be (0,0)?

[2014-12-08 20:55] samreid opened #100 "Use terminology other than "pixels""
During #68, @aaronsamuel137 & I noticed the word `pixels` used in the constructor to denote the coordinate frame.  However, this isn't exactly correct--it is more like "stage coordinates" or "scaled joist coordinates" or "scenery coordinates", not screen pixels.  Just rewording this could clear up potential confusion for future users of measuringtape.

[2014-12-08 21:04] samreid opened #101 "Call update() from the constructor"
During #68, @aaronsamuel137 & I noticed that `update()` is never called from the constructor.  This suggests that work is duplicated between the constructor and update, for instance setting the angle of the body image, and laying out the text.  Perhaps it would be simpler to have the constructor call the update function instead of doing its own (duplicated) efforts to synchronize the view.

[2014-12-08 21:14] samreid opened #102 "Should the fontWeight be specified in the PhetFont or separately?"
During #68, @aaronsamuel137 & I noticed that the fontWeight and PhetFont are being specified independently (in the MeasuringTape constructor)

[code]

However, this seems like a problem since the fontWeight can also be specified in the PhetFont, so the values might be in conflict.  @jonathanolson can you comment?  We noticed that scenery.Text takes a font as well as a fontWeight.

[2014-12-08 21:21] aaronsamuel137 opened #103 "imageScale option should be renamed"
During code review #68, @samreid and I noticed that the imageScale option assumes the client knows that the tape base is an image. It would probably be better to call this baseScale or tapeBaseScale to be more clear. Also it is possible we will change the implementation in the future so that it doesn't use an image anymore.

[2014-12-08 21:27] aaronsamuel137 opened #104 "lineWidth option should be split into separate options for tape and crosshair"
During code review #68, @samreid and I noticed that the tape lineWidth and crosshair lineWidth are constrained to be the same. It would be good to make these two different options, perhaps tapeLineWidth and crosshairLineWidth.

[2014-12-08 21:35] aaronsamuel137 opened #105 "erodedDragBounds should be based on options.crosshairSize"
During code review #68, @samreid and I noticed that the erodedDragBounds is always eroded by a constant 4, regardless of what the crosshair size is. Is this intentional, or is this meant to be related to the crosshair size?

[2014-12-08 21:45] aaronsamuel137 opened #106 "DragHandlers in MeasuringTape should use MoveableDragHandler"
During code review #68, @samreid and I noticed that the tape tip is not constrained to the drag bounds.

Additionally, constraining the bounds in the way that it is currently done introduces a bug where the mouse position and the tape can get out of sync. Using MoveableDragHandler for both the tape and the tip will address these concerns.

[2014-12-08 21:59] aaronsamuel137 opened #107 "Units in MeasuringTape"
During code review #68, @samreid and I noticed that model units (feet, meters, etc.) must be passed in, but that the original tape length is specified in view coordinates. To make things cleaner and more consistent, it would probably be better to specify the initial tape length in model coordinates, and requiring the client code to also pass in the modelViewTransform for the simulation.

For examp

[2014-12-08 22:06] aaronsamuel137 opened #108 "Make basePosition and tipPosition Properties"
During code review #68, @samreid and I noticed that the options object is used to remember initial values for the base and tip position for reseting the tape, like so:

[code]

This isn't a pattern that is used very often in PhET code, and is a little confusing. It might be better to make these positions properties, that way you could just call reset on the properties instead.

[2014-12-08 22:11] aaronsamuel137 opened #109 "Get rid of this.options"
During code review #68, @samreid and I noticed that this.options may not be necessary to keep a reference to anymore after addressing #108.

[2014-12-08 22:16] aaronsamuel137 opened #110 "baseImage doesn't need Node wrapper"
During code review #68, @samreid and I noticed that baseImage is a Node with a single Image child:

[code]

However, the code seems to work as expected without this extra node, like so:

[code]

[2014-12-08 22:23] aaronsamuel137 opened #111 "mouseArea for tip and base in MeasuringTape"
During code review #68, @samreid and I noticed this code setting the mouseArea for the tip and base in MeasureTape:

[code]

For the tip, setting the mouseArea to 0, 0 changes it from a circle to a square, which makes it less accurate. For the base, the code doesn't change the bounds anyway, so is unnecessary.

[2014-12-08 22:41] samreid opened #112 "Update visibility documentation for measuring tape."
See #68.  Currently reads:

[code]

[2014-12-08 22:42] samreid opened #113 "Update text links for measuring tape"
During #68 I noticed this code:

[code]

It looks like this callback can be factored out, and the units/scale argument can be omitted.

[2014-12-08 22:44] samreid opened #114 "Add documentation for the public methods"
During #68 I noticed this code:

[code]

These public methods should be documented with standard jsdoc.  Please describe the method, when it would be used, etc.

[2014-12-10 15:30] #103 closed, assigned to aaronsamuel137

[2014-12-10 15:31] #104 closed, assigned to aaronsamuel137

[2014-12-10 15:35] #110 closed, assigned to aaronsamuel137

[2014-12-10 15:36] #111 closed, assigned to aaronsamuel137

[2014-12-11 21:31] #91 closed, assigned to samreid

[2014-12-11 23:29] veillette opened #115 "Increasing the linewidth shrinks the width of the fluid"
While reviewing issue #43, I noticed that increasing the lineWidth shrinks the width of the liquid rectangle significantely.  I leave it up to you to find a more natural look

Below in an extreme case
![image](https://cloud.githubusercontent.com/assets/7633344/5402400/7497a87a-8141-11e4-8091-53d5051796ec.png)

![image](https://cloud.githubusercontent.com/assets/7633344/5402317/a27b31cc-8140-11e4-9

[2014-12-11 23:39] veillette opened #116 "constants could be put in options in ThermometerNode"
While reviewing #43, I noticed that there was some color constants that had been defined. The color constants as well as the color in line 107 could be set as default options so that the client can change them if she wishes

[code]

[code]

[2014-12-12 16:45] veillette opened #117 "Include a close statement in ThermometerNode"
While reviewing #43, I noticed that the outline of the thermometer is not a close path. It affects the right hand side of the thermometer between the vertical segment and the arc. Including a
shape.close() statement in line 77 should fix it.

![image](https://cloud.githubusercontent.com/assets/7633344/5415272/4891a030-81e3-11e4-97d5-c478c0f5f3ed.png)

[2014-12-12 17:00] #115 closed, assigned to veillette

[2014-12-12 17:02] #116 closed, assigned to aaronsamuel137

[2014-12-12 17:13] #109 closed, assigned to aaronsamuel137

[2014-12-12 17:14] #101 closed, assigned to aaronsamuel137

[2014-12-12 17:15] #117 closed, assigned to veillette

[2014-12-12 17:26] aaronsamuel137 opened #118 "MeasuringTape: this.update"
During the measuring tape code review #68, I noticed this code for the update function:

[code]

There are few issues here. First, it seems like the three vars declared before the function are unnecessary. They can be removed and the update function can begin with:

[code]

In general, it is preferable to keep vars as local as possible.

[2014-12-12 17:29] aaronsamuel137 opened #119 "MeasuringTape: should this.update() be defined in the inherit call instead of the constructor?"
During code review #68, I noticed that this.update is defined in the constructor instead of the inherit call. This seems a little unusual for PhET code, but I can see why it was done (it relies on many vars defined the constructor). To move it to the inherit call would require changing many vars in the constructor to instance variables.

Do other developers have an opinion on this?

[2014-12-12 17:30] #114 closed, assigned to samreid

[2014-12-12 17:31] #112 closed, assigned to samreid

[2014-12-12 18:08] #100 closed, assigned to samreid

[2014-12-12 18:09] #99 closed, assigned to samreid

[2014-12-12 18:09] #94 closed, assigned to samreid

[2014-12-12 18:10] #93 closed, assigned to samreid

[2014-12-12 18:50] #102 closed, assigned to aaronsamuel137

[2014-12-12 19:01] #98 closed, assigned to veillette

[2014-12-12 23:58] samreid opened #120 "[measuring-tape] Update text before laying out text"
I saw this code in MeasuringTape:

[code]

I think centering the text before changing the text could be problematic--may be better to setText before setting centerTop, to account for the dimensions of the new text.

[2014-12-13 00:00] samreid opened #121 "[measuring-tape] Possible performance issue"
In MeasuringTape.js, I saw this code:

[code]

This is 3 scenery matrix update operations which could potentially be rolled into one matrix update.  I recommend testing performance on our slowest supported device to see if this is necessary.

[2014-12-14 22:42] #70 closed, assigned to pixelzoom

[2014-12-15 00:05] pixelzoom opened #122 "demo is a mess"
The scenery-phet demo has become a mess (visually), too many components jammed into one screen. I'm going to break it up into multiple screens, by component type.

[2014-12-15 00:24] pixelzoom opened #123 "Thermometer node has a visual glitch at minTemperature"
When the temperature is at its minimum, the rectangle used to fill the tube is still visible peeking out from the edges of the fluid in the bulb. See screenshot below from scenery-phet demo. Fixing this is probably a matter of making this rectangle invisible when the temperature is at its minimum.

Assigning to @aaronsamuel137 since he seems to be the primary author.

![screenshot_151](https://clo

[2014-12-15 01:10] pixelzoom opened #124 "MeasuringTape: make modelViewTransform an option"
In MeasuringTape, modelViewTransform is currently the first required constructor parameter. How about making it an option, which defaults to the identity transform?

[2014-12-15 01:20] pixelzoom opened #125 "MeasuringTape: demo raises questions about scaleProperty"
I noticed this while working on #122, revising the scenery-phet demo.

MeasuringTape has options.scaleProperty. The default is defined and documented like this:

First problem is that I don't really understand this, no matter how many times I read it.

Second problem is demonstrated in the the demo application for scenery-phet (see ComponentsView.js). measuringTapeScaleProperty is passed to both a

[2014-12-15 01:21] #122 closed, assigned to pixelzoom

[2014-12-15 01:29] pixelzoom opened #126 "MeasuringTape: options are not propagated to supertype"
The supertype constructor call is Node.call(this), and there's no call to this.mutate(options).  So it looks like options are not being propagated to the supertype. All common-code nodes need to handle this, so that standard scenery options (left, top, x, y, scale,...) can be specified in options.

[2014-12-15 16:20] #113 closed, assigned to aaronsamuel137

[2014-12-15 16:21] #118 closed, assigned to aaronsamuel137

[2014-12-15 17:52] pixelzoom opened #127 "ThermometerNode has a problem at maxTemperature"
Fixing #123 (minTemperature) exposed a problem with maxTemperature. At maxTemperature, the fluid is covering up the top part of the glass. Compare the screenshots (below) from scenery-phet's demo and LiquidExpansionThermometer.java.  Note how the glass has thickness around its *entire* border in the Java version.

![screenshot_412](https://cloud.githubusercontent.com/assets/3046552/5440753/50460e6

[2014-12-15 17:52] #123 closed, assigned to pixelzoom

[2014-12-15 17:54] #125 closed, assigned to veillette

[2014-12-15 18:01] pixelzoom opened #128 "ThermometerNode: unnatural separation between fluid in ball vs tube"
The "separateness" of the fluid in the ball and the fluid in the tube is a bit ugly, and unnecessary.  They look like unnaturally separate shapes, with inconsistent specular highlighting. Why not use one (clipped) rectangle, with one linear gradient, to fill both the ball and tube?  Consult the Java version, LiquidExpansionThermometer.

Comparing HTML5 and Java versions:

![screenshot_412](https:/

[2014-12-15 19:20] #119 closed, assigned to aaronsamuel137

[2014-12-15 19:21] #108 closed, assigned to aaronsamuel137

[2014-12-15 21:41] pixelzoom opened #129 "MeasuringTape needs a dispose function"
MeasuringTape links to 3 properties: unitsProperty, isVisibleProperty, and scaleProperty. A dispose function is needed that unlinks from those properties.  If the lifetime of those properties exceeds the lifetime of MeasuringTape, failing to call MeasuringTape.dispose will create a memory leak.

See sun.AccordionBox for an example dispose function.

[2014-12-16 00:25] #128 closed, assigned to pixelzoom

[2014-12-16 00:33] #129 closed, assigned to pixelzoom

[2014-12-16 00:34] #124 closed, assigned to pixelzoom

[2014-12-17 02:46] #49 closed, assigned to nobody

[2014-12-17 02:49] #44 closed, assigned to samreid

[2014-12-17 02:50] #43 closed, assigned to aaronsamuel137

[2014-12-17 02:58] #27 closed, assigned to nobody

[2014-12-17 03:00] #14 closed, assigned to nobody

[2014-12-17 17:57] #66 closed, assigned to samreid

[2014-12-17 17:58] #57 closed, assigned to samreid

[2014-12-17 18:00] #56 closed, assigned to samreid

[2014-12-17 18:54] #63 closed, assigned to jbphet

[2014-12-17 23:38] #48 closed, assigned to pixelzoom

[2014-12-19 17:51] #95 closed, assigned to veillette

[2014-12-23 19:17] pixelzoom opened #130 "use ArrowButton in NumberPicker"
Rather than implementing its own arrow buttons (and duplicating press-and-hold functionality), NumberPicker should use ArrowButton.

Related to #71.

[2015-01-02 21:05] bereaphysics commented on #96
The scenery-phet measuringTape has been incorporated in Fluid Pressure and Flow and measuringTapePosition is now a property.  Assigning to @aaronsamuel137 for review

[2015-01-02 21:13] bereaphysics commented on #107
Here is the new API
[code]

[2015-01-05 19:17] pixelzoom commented on #80
RoundRedButton has been replaced with sun.RoundToggleButton in beers-law-lab.LightNode.  So RoundRedButton now exists only in scenery-phet.EyeDropperNode.

[2015-01-05 22:16] pixelzoom commented on #80
Completed implementation of momentary buttons in https://github.com/phetsims/sun/issues/149, and replaced RoundRedButton with sun.RoundMomentaryButton.  Tested in beers-law-lab and ph-scale. Deleted RoundRedButton and associated image files.

Closing.

[2015-01-05 22:16] #80 closed

[2015-01-08 18:14] amanda-phet opened #131 "Faucet knob "jumps" when fully opened in Firefox"
When using the latest faucet (http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.2/scenery-phet_en.html?screens=3) I noticed that when I pull the knob out all the way there is a slight separation between the blue knob and the gray plunger.

I managed to grab a screenshot:
![screen shot 2015-01-08 at 11 11 58 am](https://cloud.githubusercontent.com/assets/7852916/5667744/428d97bc-

[2015-01-08 18:40] pixelzoom commented on #131
I reproduced this in scenery-phet 1.0.0-dev.2.  It also occurs in published sims like Beer's Law Lab 1.2.3, see http://phet.colorado.edu/sims/html/beers-law-lab/latest/beers-law-lab_en.html.  So it's not at all related to recent changes to the faucet image files. This is a long-standing issue with rendering image files in Firefox.  It's my understanding that this is not something that we can fix.

[2015-01-08 20:55] pixelzoom opened #132 "migrate ConductivityTesterNode and LightBulbNode to scenery-phet"
See https://github.com/phetsims/acid-base-solutions/issues/128 for prior discussion and requirements.

[2015-01-08 21:30] pixelzoom commented on #132
LightBulbNode and associated resources were migrated to scenery-phet in https://github.com/phetsims/scenery-phet/commit/f88d824d533d82e20a180efe58aa942324901333.

[2015-01-11 05:05] samreid commented on #35
EyeDropperNode.js looks great, nice work.  Closing.

[2015-01-11 05:05] #35 closed

[2015-01-13 23:01] pixelzoom commented on #132
Remaining tasks:
• remove dependency on ConductivityTester
• make the entire tester movable
• add "short circuit" feature
• add convenience function for creating an icon (for use in control panels, toolboxes, etc.)
• move from acid-base-solutions to scenery-phet

[2015-01-15 23:29] pixelzoom commented on #130
I investigated using ArrowButton, and it's not a good fit. What is a good fit is to use PressAndHolderListener, which was recently factored out of ArrowNode (see https://github.com/phetsims/scenery-phet/issues/71) and contains the press-and-hold functionality.

[2015-01-15 23:34] pixelzoom commented on #130
Work completed. I tested it in the 2 sims where NumberPicker is used (BCE, Graphing Lines) and all seems to be well.  So I'm going to close this.  If someone feels inclined to review, go for it.

[2015-01-15 23:34] #130 closed

[2015-01-15 23:35] pixelzoom commented on #130
Btw... As part of this work, I also implemented dispose, so that this UI component won't be leaking memory.

[2015-01-22 03:20] pixelzoom opened #133 "LightBulbNode assertion failure: More than one mutation on this Node set the y component"
After upgrading to scenery 0.2, here's the stack trace:

![screenshot_430](https://cloud.githubusercontent.com/assets/3046552/5850001/e149cbea-a1aa-11e4-91c4-775f736ba332.png)

options.y and options.bottom are both set.

[2015-01-22 03:21] #133 closed

[2015-01-26 04:14] pixelzoom commented on #131
@jonathanolson, still awaiting your comment on this issue.

[2015-01-26 17:02] pixelzoom commented on #131
This is still a problem after moving to Scenery 0.2. I resolved the gap between shaft and flange by introducing a 1-pixel overlap.  But the entire knob moves a bit vertically when you drag it.

[2015-01-26 17:10] pixelzoom commented on #131
Updated to FF 35.0.1 on Mac OS, and I don't see the knob moving around anymore. So this issue is resolved, closing.

[2015-01-26 17:10] #131 closed

[2015-01-26 22:27] pixelzoom commented on #132
ConductivityTesterNode has been generalized quite a bit, and moved to scenery-phet. But it doesn't have all of the features required by SASS, so don't use it yet.  Features currently missing include:

• option to make the entire tester movable
• option for "short circuit" feature
• convenience function for creating an icon (for use in control panels, toolboxes, etc.)

[2015-02-06 20:46] pixelzoom commented on #132
Note to self: Consider making the entire ConductivityTesterNode move based on its model location, then position the probes relative to the tester.  That would remove the requirement state in the doc header ("This node assumes that it is located at (0,0)") and would simplify repositioning (dragging) of the entire tester.

[2015-02-06 20:54] pixelzoom commented on #132
The light bulb and battery in SASS are much larger than in ABS. So I'm guessing that these constructor options will probably be needed:

If this is the case, then we'll also need larger default image files. And we'll undoubtedly have problems with the quality of those files on Firefox and IE.

[2015-02-07 20:03] pixelzoom commented on #71
To summarize the state of this issue.... ArrowButton has been reimplemented using RectangularPushButton.  And PressAndHoldInputListener has been extracted for use by other clients. Waiting for review by @jbphet.

[2015-02-07 20:05] pixelzoom commented on #127
To summarize the status of this issue...

[2015-02-07 20:35] pixelzoom commented on #127
When I tried to fix the 1-px overlap issue that @samreid pointed out above, I found it unnecessarily difficult to do so, due to lack of documentation and var names that are not descriptive (e.g., rectangleX). I correct some of this, and improved the doc.  I also added TODO items where there appear to be errors.

[2015-02-07 20:59] pixelzoom commented on #71
There's another bug in ThermometerNode, the backgroundFill option does not fill the sphere. Demonstrated by adding backgroundFill: 'yellow' to scenery-phet demo.  See screenshot below.

![screenshot_449](https://cloud.githubusercontent.com/assets/3046552/6093925/73229a1e-aed1-11e4-9203-35372c937540.png)

[2015-02-07 21:11] pixelzoom commented on #71
Another bug... In trying to fix the backgroundFill, I discovered that the height of the tube in not options.tubeHeight.  The rounded part of at the top of the tube is being added to tubeHeight.

[2015-02-07 21:28] pixelzoom opened #134 "ThermometerNode options.backgroundFill is buggy"
In ThermometerNode, the backgroundFill option does not fill the sphere. Demonstrated by adding backgroundFill: 'yellow' to scenery-phet demo. See screenshot below.

![screenshot_449](https://cloud.githubusercontent.com/assets/3046552/6094045/98ebd72a-aed5-11e4-8969-d8d6eac92286.png)

[2015-02-07 21:29] pixelzoom commented on #71
Ignore the above commits, they were intended for #134.

[2015-02-07 21:30] pixelzoom commented on #134
Fixed in https://github.com/phetsims/scenery-phet/commit/0fece5b3b7d3d2232c0f0507a6af8e8ae2f7fed6/.

Assigning to @aaronsamuel137 to review.

[2015-02-07 21:35] pixelzoom opened #135 "why does ThermometerNode have separate glass-thickness options for bulb and tube?"
ThermometerNode has these options:

If I set these to different values in the scenery-phet demo:

it looks like this:

![screenshot_450](https://cloud.githubusercontent.com/assets/3046552/6094058/49b806fa-aed6-11e4-92cc-3a0d74758c1d.png)

Two issues with this:

(1) It looks odd.
(2) Any client who wants to change the 'glass thickness' must change 2 options, and set them to the same value.

Highly

[2015-02-07 21:37] pixelzoom commented on #135
The Java implementation (LiquidExpansionThermometerNode) did not have separate widths for the glass in the tube vs bulb, they were the same.

[2015-02-07 21:41] pixelzoom commented on #127
Changed the API and implementation to use 'bulb' and 'tube' consistently, instead of sometimes referring to 'sphere' and 'rect'. Commits:
https://github.com/phetsims/friction/commit/74c7a15fb7542b455a3d6395a29a79ae07f591f9
https://github.com/phetsims/blackbody-spectrum/commit/6c36251c0d222d1ba2326276ff766c81b6ad7b9f
https://github.com/phetsims/scenery-phet/commit/a644621341ae5a8c2b8ca442bb891ff860

[2015-02-07 21:50] pixelzoom opened #136 "ThermometerNode: height of tube is incorrect"
ThermometerNode has these options that should determine the height of the node:

[code]

After outlineNode is created, this assertion should be true (but isn't):

[code]

Btw... It's `+ options.lineWidth` because the half of the stroke on top and bottom is outside the shape.

The problem is that the rounded top on the tube is being added to options.tubeHeight. So the client ends up with a tube tha

[2015-02-07 21:58] pixelzoom commented on #136
Putting a `debugger` breakpoint before the assertion, here's what I see in the console when running scenery-phet demo:

So in this case, the thermometer is 10-px taller than expected.

[2015-02-07 22:19] samreid commented on #135
Yes, a single `glassThickness` sounds good.

[2015-02-07 22:38] pixelzoom commented on #136
Tube height is now fixed so that the assertion passed. But now the tick marks look "off". Based on the Java version, the ticks should start from the top of the straight portion of the tube. Looks like they are starting below that (perhaps 1 tick below?)

![screenshot_451](https://cloud.githubusercontent.com/assets/3046552/6094240/50c8d84e-aedf-11e4-8328-6a36a214acae.png)

[2015-02-07 23:22] pixelzoom commented on #136
Tube height and tick marks are fixed. Assigning to @aaronsamuel137 to review.

[2015-02-08 22:32] pixelzoom opened #137 "FaucetNode constructor fails assertion with default option values"
This can be demonstrated in the scenery-phet demo:

[code]

This assertion in FaucetNode fails:

[2015-02-08 22:35] #137 closed

[2015-02-08 23:01] pixelzoom commented on #127
Seam is fixed:

![screenshot_452](https://cloud.githubusercontent.com/assets/3046552/6099036/aba058e2-afab-11e4-9537-eee1f609020b.png)

[2015-02-08 23:01] pixelzoom commented on #127
If @jbphet is OK with the look of the thermometer, then this issue can be closed.

[2015-02-08 23:45] aaronsamuel137 commented on #134
Thanks for fixing this! It's much cleaner to do it this way than with a Rectangle, not sure why I didn't think of that. Looks great. Closing.

[2015-02-08 23:45] #134 closed

[2015-02-09 00:08] aaronsamuel137 commented on #135
I agree that this is a good idea. The only reason I added these as different options was because I was attempting to preserve the look of Friction exactly as it was when I integrated the new thermometer. In any case, I've updated the options to have a single glassThickness option.

Assigning to @pixelzoom for review.

[2015-02-09 00:19] aaronsamuel137 commented on #136
Much more readable now, thanks! Closing.

[2015-02-09 00:19] #136 closed

[2015-02-09 00:20] pixelzoom commented on #135
Looks like you missed usages of fluidTubeSpacing and fluidBulbSpacing in blackbody-spectrum. I cleaned them up, see above commit. Closing.

[2015-02-09 00:20] #135 closed

[2015-02-09 17:04] pixelzoom commented on #132
Need to locate the .ai file for battery.png.

[2015-02-09 17:10] pixelzoom commented on #132
Found .ai file for battery in Unfuddle, added it to this repo, renamed .png file to match .ai file. https://github.com/phetsims/scenery-phet/commit/12b2370f8be26880d749468a42d9168201eb4a4e

[2015-02-09 19:41] pixelzoom commented on #132
I'm not going to make ConductivityTesterNode responsible for dragging itself. That functionality is already generalized in MovableDragHandler, which can be applied to any Node, and allows you to tailor the dragBounds to your situation.  If you want to make a ConductivityTesterNode movable, here's the pattern:

[code]

[2015-02-09 21:16] pixelzoom commented on #132
Once thing remaining to do, create larger PNG files for the bulb and battery, then add these options for ConductivityTesterNode:

and propagate lightBulbScale to LightBulbNode.

[2015-02-09 21:17] pixelzoom commented on #132
Dilema... If I make the lightbulb and battery PNG files larger (to satisfy SASS), then they will look lousy in ABS on Firefox and IE.

[2015-02-09 21:19] pixelzoom commented on #132
@AshrafSharf please try this out in SASS. Let me know if the bulb and battery really need to be larger (scalable) or whether we can live with the size used in ABS.

[2015-02-09 21:28] pixelzoom commented on #132
I added options.bulbImageScale and batteryImageScale. In ABS they are scaled to 0.33 and 0.6 respectively. So there's definitely some ability to make them larger for SASS.

[2015-02-09 21:30] pixelzoom commented on #132
Sound probably add modelViewTransform as an option to ConductivityTesterNode. ABS uses no modelViewTransform, but I can imagine sims that will need one.  The default would be identity.

[2015-02-10 18:57] jbphet commented on #71
There is a TODO in this code about how a Scenery input listener if being used for the press-and-hold behavior was used and this approach is "ignoring the listener support of its supertype (RectangularPushButton)"  The comment also says, "It would be preferable to handle this via RectangularPushButton, or at least use sun.ButtonListener. But I couldn't see how to do that - which makes me think this

[2015-02-10 19:34] pixelzoom commented on #71
Sounds good, let me know if you need any input from me.

[2015-02-10 19:37] jbphet commented on #127
I checked it out in the Friction sim and in the scenery-phet demo.  Looks great in both.  Closing.

[2015-02-10 19:37] #127 closed

[2015-02-13 01:10] pixelzoom opened #138 "focusable should not be set in ResetAllButton"
ResetAllButton is currently setting `focusable:true`. This should be handled in `RoundButtonView`, as is done currently in `RectangularButtonView`.

Added by @samreid in  https://github.com/phetsims/scenery-phet/commit/7cdfe905d29dd7ff92218f8267cd1c77a80f3845.

[2015-02-13 01:18] pixelzoom commented on #138
Fixed and tested. This involved relocating 1 line of code. All of the various 'round' sun buttons are now accessible, instead of only the Reset All button.

Assigned to @samreid for a quick look.

[2015-02-13 01:21] pixelzoom commented on #138
@samreid you may also want to take a look at FAMB.GoPauseButton. It's using RoundPushButton, but is setting `focusable: false`.

[2015-02-13 06:34] samreid commented on #138
Thanks for making this change, it seems good.

For FAMB, the focusable:false is commented as:

[code]

This means that normally the RoundPushButtons would have been focusable, but we wanted to treat the Go and Pause buttons as a unified button even though it is implemented as two separate RoundPushButtons.  Overriding focusable to false in the RoundPushButtons and setting focusable:true in the par

[2015-02-13 06:36] pixelzoom commented on #138
Got it, that makes sense. Closing.

[2015-02-13 06:36] #138 closed

[2015-02-13 17:29] AshrafSharf commented on #132
@pixelzoom @samreid by giving different scale values to bulbImageScale (0.7) and batteryImageScale (0.8) we could bring the bulb and battery image appearance close to the original implementation. I have included the screen shot below after integrating the scenery-phet conductivityTesterNode with SASS sim. (yet to implement dragging though)

![image](https://cloud.githubusercontent.com/assets/84981

[2015-02-13 18:08] pixelzoom commented on #132
Looks good to me. Let me know if you need any assistance with dragging. See the example I gave in above, using MovableDragHandler.

Does SASS have any need for a model-view transform? That's the only feature that's not yet implemented.

[2015-02-14 01:03] AshrafSharf commented on #132
@pixelzoom Thanks for the suggestion. I will implement MovableDragHandler and let you know if I find any issues. SASS has its own specific model-view transform but in this case I converted the model values to view, before passing them to ConductivityTesterNode. Only the location Property has two way binding which I can convert back to model value when dragged.

[2015-02-17 23:24] pixelzoom commented on #132
@AshrafSharf I've added options.modelViewTransform to ConductivityTesterNode. If you'd prefer not to convert values before passing them to ConductivityTesterNode, take it for a test drive. Note that some of the options (as documented) are still in the view coordinate frame. Disclaimer: the modelViewTransform feature has not been thoroughly tested.

[2015-02-18 18:22] pixelzoom opened #139 "proposed API change for MovableDragHandler"
The current API mixes some things that are not required into the constructor parameters, specifically dragBounds and mvt.  Here's the current API:

[code]
Proposed API is to move dragBounds and modelViewTransform to options. It would look like this:

[code]

There are currently 22 occurrences of 'new MovableDragHandler', so this refactor won't be too difficult.

@jonathanolson @samreid @jbphet doe

[2015-02-18 18:30] jbphet commented on #139
Looks like an improvement to me.  Much more compact and clear.

[2015-02-18 19:05] pixelzoom commented on #132
modelViewTransform is now tested and debugged.

ConductivityTesterNode is also represented in the scenery-phet demo application.

[2015-02-18 19:59] bereaphysics commented on #139
Indeed, this is a bit more intuitive and  mvt.createIdentity default will be useful.

[2015-02-18 20:18] jonathanolson commented on #139
Looks good to me.

[2015-02-18 20:24] pixelzoom commented on #139
Changes complete, as described above.

Sims that were touched (and tested):

beers-law-lab
bending-light
blackbody-spectrum
fluid-pressure-and-flow
pendulum-lab
ph-scale
sugar-and-salt-solutions
under-pressure

Closing.

[2015-02-18 20:24] #139 closed

[2015-02-20 19:12] pixelzoom commented on #132
There is one TODO item in code that I don't plan to address at this time. Here it is, in context:

[code]

I'm not going to deal with this now because I believe that brightness will typically be zero (or can be set to zero, as a workaround) when ConductivityTesterNode is constructed.  In the meantime, the assertion will alert you to the constraint.

[2015-02-20 19:14] pixelzoom commented on #132
[2/20/15, 12:12:34 PM] Chris Malley: Does anyone have time to review my work on ConductivityTesterNode? https://github.com/phetsims/scenery-phet/issues/132
[2/20/15, 12:13:43 PM] Chris Malley: No pressure, I know that everyone is very busy.  But if anyone has time, please self-assign. If it goes unassigned until next Friday, I'll close it.

[2015-02-20 19:17] pixelzoom commented on #132
Code to review includes:
scenery-phet.LightBulbNode
scenery-phet.ConductivityTesterNode

Example usages include:
scenery-phet demo (Components screen)
acid-base-solutions
sugar-and-salt-solutions

[2015-02-23 17:46] jonathanolson commented on #132
I'm not in a good position to do a code review (haven't used/seen any of that code), but acid-base-solutions is hitting an assertion on ConductivityTesterNode line 88:

[code]

[2015-02-23 18:50] pixelzoom commented on #132
Thanks @jonathanolson, assertion expression was incorrect, fixed.

[2015-02-24 00:52] jbphet commented on #71
The listener that is currently passed up the hierarchy from ArrowButton is a simple 'fire' listener, i.e. a function that is called when the button model decides that it has been fired, so it can't be used to implement press-and-hold behavior.  After looking at this for a bit, I'm thinking that it may make the most sense to integrate the press-and-hold behavior into PushButtonModel, which would th

[2015-02-24 23:25] pixelzoom commented on #16
Based on 2/25/15 dev meeting, this is never going to happen, so closing this issue.

Here are the meeting notes:

JO: Bigger concern is layer splits, since HTMLText forces a DOM element
JO: Could investigate https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject (allows simple DOM in SVG), but IE doesn't support it.
SR: https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Dr

[2015-02-24 23:25] #16 closed

[2015-03-05 18:22] #132 closed

[2015-03-06 17:35] pixelzoom opened #140 "port PhetColorScheme"
This replaces https://github.com/phetsims/phetcommon/issues/22.

Port the Java version of PhetColorScheme. It will live in scenery-phet because Color is part of scenery.util, and PhetColorScheme is PhET-specific colors.  After porting, designers/developers can discuss how to modify the color scheme.

[2015-03-06 18:52] pixelzoom commented on #140
This is done.

I removed:
- generic colors (e.g., 'red') that were duplicated in scenery.Color
- generic colors (e.g. 'PALE_BLUE') that were not used anywhere in the Java implementation

Assigning to @ariel-phet to decide how to proceed. Below is additional information to decisions.

According to the code documentation:

Here's an overview of where PhetColorScheme is used in the Java implementatio

[2015-03-06 19:39] pixelzoom commented on #140
I searched around for copies of color-blind red and replaced them with PhetColorScheme.RED_COLORBLIND. See commits above.

I also see quite a few uses of 'red', which should probably be inspected on a case-by-case basis.

[2015-03-06 20:09] samreid commented on #140
Can (/should?) we move RED_COLORBLIND from PhetColorScheme to Color?  It may be much more convenient for many usage sites.

[2015-03-06 20:45] pixelzoom commented on #140
@samreid asked:

Depends on whether we want to consider it to be something that's PhET-specific, or whether we're confident that it's general enough (and has been tested well enough) to be part of the Scenery API.

[2015-03-06 20:45] pixelzoom commented on #140
I inspected various uses of 'red', "red' and Color.RED in sims, and created issues for evaluating whether they should be using RED_COLORBLIND.

[2015-03-08 17:57] pixelzoom opened #141 "Properties should have `Property` suffix"
Examples of anti-pattern:

ButtonsView: var soundEnabled = new Property( true );
ButtonsView: var timerEnabled = new Property( true );

[2015-03-09 15:07] #141 closed

[2015-03-11 04:40] samreid commented on #120
Code looks great, behavior looks great in the scenery-phet components demo, nice work @bereaphysics.  Closing.

[2015-03-11 04:40] #120 closed

[2015-03-11 04:42] samreid commented on #97
Here's the new parameters:

[code]

Looks good to me, thanks @bereaphysics!  Closing.

[2015-03-11 04:42] #97 closed

[2015-03-12 19:02] bereaphysics opened #142 "Generalize MovableDragHandler to handle dynamical bounds"
For charges-and-fields, the drag bounds are dynamical and set by the size of the window. By having dragBounds as property, it is possible to constrain the location to be within the dynamical dragBounds.

Here is how it is done in charges-an-fields: https://github.com/phetsims/charges-and-fields/blob/master/js/charges-and-fields/view/MovableDragHandler.js

It would be good if this capability could

[2015-03-13 14:42] pixelzoom commented on #142
FYI, I probably won't have a chance to look at this until Monday, 3/16.

[2015-03-16 23:44] pixelzoom commented on #142
Here's what I had in mind:

(1) Add private field `this._dragBounds = options.dragBounds;`
(2) Add ES5 setter and getter for dragBounds, following the pattern used in scenery.
(3) When dragBounds is set, check whether locationProperty.value is within the dragBounds. If not, move locationProperty to the nearest position within the dragBounds.

@bereaphysics does that sound like it will meet your ne

[2015-03-16 23:53] pixelzoom commented on #142
Since Bounds2 is mutable, we may want to make a copy of the dragBounds in the constructor and setDragBounds, in case the client is ill-behaved and mutates the dragBounds.

[2015-03-16 23:54] bereaphysics commented on #142
yes that would work for my need.

[2015-03-16 23:55] pixelzoom commented on #142
I can get to it when I'm done with the flu. Or feel free to proceed if you'd like. Up to you...

[2015-03-17 00:00] bereaphysics commented on #142
I'll leave it to you since I don't feel very confident about touching the common code.

[2015-03-17 19:41] jbphet opened #143 "Make shapes within common buttons non-pickable for better performance"
While working with @jonathanolson on https://github.com/phetsims/molecules-and-light/issues/98, he noticed that the reset all button, play/pause button, and step button all have some shapes within them that require hit testing.  This has a slight performance cost, since hit testing is often a bit computationally expensive, especially for elaborate shapes like that of the curved arrow in the reset

[2015-03-17 23:19] bereaphysics commented on #142
I'm going to give it a try after all

[2015-03-17 23:45] bereaphysics commented on #142
The options dragBounds had to be set to Bounds2.EVERYTHING instead of null.

[2015-03-18 00:16] bereaphysics commented on #142
Assigning to @pixelzoom for review. For your information, Charges and Fields uses the setter for dragBounds.

[2015-03-18 18:58] jbphet commented on #143
This ended up touching a lot of the common buttons.  I tested all affected buttons, most in multiple sims.  I couldn't test the rewind one because this button is only used in Gravity and Orbits and the rewind functionality seems to be broken.

Assigning to @jonathanolson for a quick sanity check sort of review before closing.

[2015-03-18 19:30] pixelzoom commented on #143
@jbphet Any reason why you didn't just make the button supertype (e.g. RectangularPushButton, RoundPushButton) set pickable:false for its options.content, rather than making the subtype/client responsible for that?  With the current approach, we're going to need to remember to do this for new buttons.

[2015-03-18 19:55] samreid commented on #143
I am wondering what @pixelzoom is wondering.

[2015-03-18 19:56] jbphet commented on #143
I just didn't think of it.  My bad.  I'll make the changes.

[2015-03-18 20:14] pixelzoom commented on #142
Thanks @bereaphysics, looks great.

I made a couple of doc and "cosmetic" changes, which you're welcome to review. I moved the ES5 setter and getter next to setDragBounds and getDragBounds, ala the pattern used in scenery (e.g., see scenery.Node). I also removed an `if ( self._dragBounds )` test, since dragBounds is no longer optional (defaults to Bounds2.EVERYTHING.)

Closing.

[2015-03-18 20:14] #142 closed

[2015-03-18 20:44] jbphet commented on #143
Addressed in Sun by doing what was suggested above, i.e. making the content node non-pickable.  See commit https://github.com/phetsims/sun/commit/0d501fd42c31d650ed4040c15f6c0b7052dad73d.  Assigning to @samreid to review.

[2015-03-21 02:21] samreid commented on #143
The above change set looks good to me, thanks @jbphet

[2015-03-21 02:21] #143 closed

[2015-03-23 01:29] samreid commented on #4
I tested a few `\n` in the credits, reviewed the change set and it seems this will work well, thanks @pixelzoom

[2015-03-23 01:29] #4 closed

[2015-03-30 18:54] pixelzoom opened #144 "delete arch branch?"
I believe that everything in the arch branch has been merged into master. If so, please delete the branch.

[2015-03-30 18:55] pixelzoom opened #145 "branch: open-stax"
@samreid I believe that you created this branch.  Please indicate what it's for, and when/whether you expect to delete it.

[2015-03-30 18:58] pixelzoom commented on #145
Related to open-stax branch of forces-and-motion-basics?

[2015-03-31 02:17] samreid commented on #144
Deleted, closing.

[2015-03-31 02:17] #144 closed

[2015-03-31 02:19] samreid commented on #145
Openstax uses a gray UI for certain components--this was a demonstration how to do so.  I think it is no longer needed.

[2015-03-31 02:19] samreid commented on #145
I deleted the openstax branch here and in FAMB.  Closing.

[2015-03-31 02:19] #145 closed

[2015-03-31 20:00] pixelzoom opened #146 "branch: home-button"
Branch created by @samreid for https://github.com/phetsims/joist/issues/90, which is closed. Can this branch be deleted?

[2015-03-31 20:02] pixelzoom opened #147 "branch: experimental-webgl-support"
Branch created by @samreid for https://github.com/phetsims/fluid-pressure-and-flow/issues/251, which is closed.  There is a branch with the same name in fluid-pressure-and-flow. Can these branches be deleted?

[2015-04-01 04:35] samreid commented on #146
Deleted, closing.

[2015-04-01 04:35] #146 closed

[2015-04-01 04:37] samreid commented on #147
Deleted, closing.

[2015-04-01 04:37] #147 closed

[2015-04-05 18:07] aaronsamuel137 opened #148 "Changes to MovableDragHandler for GAO"
I am consider making a few changes to MovableDragHandler that will make it usable in Gravity and Orbits.

1. Make the modelViewTransform have setters and getters (much like @bereaphysics did with the bounds in #142). In GAO, there is a Property<ModelViewTransform> that changes as the sim is scaled in and out.

2. Add an optional method "onDrag" that gets called every time "drag" is called. This wo

[2015-04-05 18:16] pixelzoom commented on #148
Sounds great.

[2015-04-05 18:37] aaronsamuel137 commented on #148
I've made these changes, feel free to review if you'd like @pixelzoom.

[2015-04-06 16:27] pixelzoom commented on #148
I inspected the changes, looks good, closing.

[2015-04-06 16:27] #148 closed

[2015-04-20 20:46] bereaphysics commented on #107
This issue is no longer relevant since we committed a new measuringTape in
https://github.com/phetsims/scenery-phet/commit/aa6e92ea021091d1f3fc0cb1e0d90ecc6dcd4982

Now both tip and base position are specified in model coordinates

[2015-04-20 20:46] #107 closed

[2015-04-20 20:49] bereaphysics commented on #105
The new measuringTape does not have eroded drag Bounds  by default.  (see https://github.com/phetsims/scenery-phet/commit/aa6e92ea021091d1f3fc0cb1e0d90ecc6dcd4982). Closing since no longer relevant.

[2015-04-20 20:49] #105 closed

[2015-04-20 20:58] bereaphysics commented on #106
The current implementation of MeasuringTape (see https://github.com/phetsims/scenery-phet/commit/aa6e92ea021091d1f3fc0cb1e0d90ecc6dcd4982) uses two SimpleDragHandler. Although it is trivial to rewrite the tip drag Handler as a MovableDragHandler this is not so for the base drag handler. The base drag handler must have extra logic since it needs to know about the state of the tip (is it being dragg

[2015-04-20 20:59] bereaphysics commented on #96
The measuringTape is used in FPAF. Closing

[2015-04-20 20:59] #96 closed

[2015-04-20 21:05] bereaphysics commented on #121
The three matrix operations are still present in the most recent incarnation of MeasuringTape ( see https://github.com/phetsims/scenery-phet/commit/aa6e92ea021091d1f3fc0cb1e0d90ecc6dcd4982).
The Ipads 2 and 3 does not show perform degradation with the measuringTape.

Although it is technically possible to roll the scenery operations into one matrix, it is very ugly code with lots of sine and cosin

[2015-04-20 21:05] #121 closed

[2015-04-20 21:14] bereaphysics commented on #126
This issue is still relevant for the MeasuringTape (see https://github.com/phetsims/scenery-phet/commit/aa6e92ea021091d1f3fc0cb1e0d90ecc6dcd4982).
Pickable, scaling, focusable are options that could be useful.  Therefore, it is worth to propagate options to the supertype.

The main point of this issue is that it is possibly confusing since we don't want someone to use x and y positions to position

[2015-04-20 21:18] bereaphysics commented on #68
Except for #106, all the issues were addressed. I'll leave #106 as open and close this issue.

[2015-04-20 21:18] #68 closed

[2015-04-21 15:24] samreid opened #149 "EyeDropperNode.on replaces Node.on"
In phetsims/together#85 I noticed that EyeDropperNode.on overwrites Node.on.  Thought this might cause trouble depending on how scenery is relying on `on`.

[2015-04-21 15:26] samreid commented on #149
Here are lines that overwrite the Node Events mixin:

[code]

[2015-04-21 15:32] pixelzoom commented on #149
EyeDropperNode was moved over from beers-law-lab.DropperNode.  At the time that DropperNode was written, Node had no `on` function.  So this is a general problem - as function and fields are added to Scenery, is someone checking to make sure that they are not used by existing subtypes?

I will rename the EyesDropperNode function to something else.

[2015-04-21 15:35] pixelzoom commented on #149
Suggestions for what I should rename `on` to in EyeDropperNode? In order for this to make sense, I guess I should also rename `onProperty`.

[2015-04-21 15:36] pixelzoom commented on #149
How about `dispensing` and `dispensingProperty`? That should be pretty safe :)

[2015-04-21 15:38] pixelzoom commented on #149
EyeDropperNode is used in beaker, beers-law-lab, ph-scale and scenery-phet (demo).

[2015-04-21 18:17] pixelzoom commented on #149
@jonathanolson I haven't made any changes to fix this yet, but the droppers in beers-law-lab, ph-scale, etc. appear to be still functioning properly.  How can that be the case if I'm overriding Node.on?  You described it as essential to (among other things) registering input listeners.

[2015-04-21 19:27] pixelzoom commented on #149
@samreid and @jbphet:  To address this issue, I'll be changing onProperty to dispensingProperty. This affects the together API for beaker.  Do you want me to change 'beakerScreen.dropper.on' to 'beakerScreen.dropper.dispensing'?

[2015-04-21 19:28] pixelzoom commented on #149
Ditto for concentration-api.js.

[2015-04-21 19:42] jonathanolson commented on #149
Interesting, will look into it. I typically try to do onStatic since it won't require array copies on notifications.

[2015-04-21 19:58] pixelzoom commented on #149
@samreid  and @jbphet Note that 2 changes were made to together APIs. Notify clients as appropriate. The changes are:

[code]

[2015-04-21 19:58] pixelzoom commented on #149
Done, closing.  If anyone wants to review, go for it.

[2015-04-21 19:58] #149 closed

[2015-04-21 20:05] pixelzoom commented on #149
Btw... There are other places where this is very likely to be a problem again.  For some UI components, 'on' is the natural name for a Property.  onProperty occurs throughout the sun button package; in sun switches (OnOffButton, ABSwitch); in Color Vision for the light; in Beer's Law Lab for the light and AT Detector,...

[2015-04-22 16:17] samreid opened #150 "FaucetNode needs a dispose function"
When @jbphet & I were working on tandem instrumentation for concentration, in https://github.com/phetsims/beers-law-lab/issues/98 we added instrumentation into FaucetNode.  We also wanted to add a dispose() method that would unregister from tandem, but (a) there were many many other listeners that would need to be removed during dispose and (b) we didn't think FaucetNode is something that would be

[2015-04-22 17:26] pixelzoom commented on #36
@ariel-phet Should this be closed? I don't believe that the "chrome" is going away.

[2015-04-22 18:05] ariel-phet commented on #36
Yes, this can be closed.

[2015-04-22 18:05] #36 closed

[2015-04-26 01:46] jessegreenberg opened #151 "Create a HeaterCoolerNode"
The HeaterCoolerNode is used in 'Energy Forms and Changes' and 'States of Matter'.  It is an element that can heat up or cool down objects in the sim environment.  It is currently implemented in 'States of Matter' but it will be used frequently throughout PhET sims so @jbphet suggested that it be generalized and moved to scenery-phet.

It is currently called StoveNode in States of Matter, but the

[2015-04-26 02:07] jessegreenberg commented on #151
I renamed StoveNode to HeaterCoolerNode and moved it to scenery-phet.  In order to make it a common sim component I did the following:

- HeaterCoolerNode colors and properties are now optional parameters rather than constants.
- Optional snapToZero property was added to control whether or not the slider snaps to off.  This is a feature from the original Java.
- Scale the 'Heat' and 'Cool' labels

[2015-04-29 21:00] pixelzoom commented on #150
Changing title. FaucetNode definitely needs a dispose function.

[2015-04-29 21:08] pixelzoom commented on #150
There are 3 property observers that need to be unlinked and 1 tandem that needs to be removed.  This is 10 minutes of work.  I'll do it.

[2015-04-29 21:36] pixelzoom commented on #150
10 minutes to implement, 30  minutes to fix a broken tandem in beers-law-lab (where I was trying to test this.)

Input listeners added to nodes that are created by FaucetNode do not need to be cleaned up.

Tested in the context of ConcentrationView by calling solventFaucetNode.dispose. The solvent faucet seemed to be broken, as expected.

Assigning to @samreid for review.

[2015-05-03 01:14] samreid commented on #150
The implementation looks correct and complete.  Closing.

[2015-05-03 01:14] #150 closed

[2015-05-03 22:06] bereaphysics opened #152 "RulerNode does not handle well non-integer value for majorTickWidth"
![image](https://cloud.githubusercontent.com/assets/7633344/7447144/058e169e-f1ad-11e4-9996-e73d70a33305.png)

It is not too unusual to try to specify the ruler using model coordinates.
However the resulting view coordinates might not be integer.
In https://github.com/phetsims/blackbody-spectrum/blob/master/js/blackbody-spectrum/view/MovableLabRuler.js, the value for the rulerWidth is 256 and the

[2015-05-03 22:30] bereaphysics commented on #152
Assigning to @pixelzoom since he wrote the current implementation.

[2015-05-04 23:05] pixelzoom opened #153 "RulerNode inset is buggy"
The inset on the right end of RulerNode is buggy.  Here's an example from scenery-phet.ComponentsView (demo):

[code]

It looks like this:

![screenshot_18](https://cloud.githubusercontent.com/assets/3046552/7464330/862e2140-f27f-11e4-966f-b32e4da48a27.png)

The same inset (options.insetsWidth: 25) should occur on both the left and right ends of the ruler. The inset on the left is correct, but the

[2015-05-04 23:30] pixelzoom commented on #153
This was a trivial fix.  Here's the scenery-phet demo after the fix:

![screenshot_20](https://cloud.githubusercontent.com/assets/3046552/7464766/182700fa-f283-11e4-97ad-12a3568294c4.png)

The one thing that made this a little more time consuming was that FPAF was relying on the buggy behavior of the insets.  So I fixed FPAF so that the behavior matches the most recent dev version, 1.0.0-dev.19.

[2015-05-04 23:31] pixelzoom commented on #153
Here's the FPAF fix, which was associated with the wrong issue: https://github.com/phetsims/fluid-pressure-and-flow/commit/c1e67bd188ec7bfab16781be438c1928388b51d4

[2015-05-04 23:32] pixelzoom commented on #153
Since this was such a trivial change, and everyone is so busy, I'm going to close this issue. If anyone wants to review, go for it.

[2015-05-04 23:32] #153 closed

[2015-05-05 00:40] pixelzoom commented on #152
Ignore fluid-pressure-and-flow commit immediate above. It was incorrectly associated with this issue.

[2015-05-05 01:03] pixelzoom commented on #152
In beers-law-lab.BLLRulerNode:

[code]

And in this case, majorTickWidth is 62.5.  So I suspect that what you're experiencing is due to rounding error, and that 51.2 is more liable to result in error than 62.5.  But I'll investigate.

[2015-05-05 01:04] pixelzoom commented on #152
In beers-law-lab.BLLRulerNode:

[code]

And in this case, majorTickWidth is 62.5.  So @bereaphysics, I suspect that what you're experiencing is due to rounding error, and that 51.2 is more liable to result in error than 62.5.  But I'll investigate.

[2015-05-05 17:16] pixelzoom commented on #152
There is indeed a precision problem involved. In RulerNode, the loop that creates tick marks is at line 91. It looks like this:

[code]

Before entering the loop, the relevant values for blackbody-spectrum are as follows:

[code]

After one step of the loop, we execute this at the bottom of the loop:

`x += minorTickWidth;`

And in the case of blackbody-spectrum, this is:

`x = 14 + 10.24 = 24.240

[2015-05-05 17:47] pixelzoom commented on #152
Skype discussion:

[5/5/15, 11:30:53 AM] Chris Malley: can someone to explain to me why 14 + 10.24 = 24.240000000000002 in JavaScript?
[5/5/15, 11:31:42 AM] Jonathan Olson: IEEE?
[5/5/15, 11:31:56 AM] Jonathan Olson: same in Python
[5/5/15, 11:32:22 AM] Martin Veillette: 24/100 doesnt have an exact representation in based 2
[5/5/15, 11:32:38 AM] Martin Veillette: it is like 1/3 in based 10  0.3333

[2015-05-05 18:25] pixelzoom commented on #152
Fix pushed. Assigning to @bereaphysics to verify.

[2015-05-05 18:31] pixelzoom opened #154 "RulerNode: shouldn't draw first and last tick when insetsWidth === 0"
Beer's Law Lab (for example) has a ruler with no insets. Here it is with tick stroke and lineWidth temporarily changed so that you an clearly see where the ticks are drawn:

![screenshot_510](https://cloud.githubusercontent.com/assets/3046552/7480006/a98587b6-f322-11e4-892d-4bb838cf4f34.png)

The first (leftmost) and last (rightmost) ticks should not be drawn in this case.

[2015-05-05 19:02] pixelzoom commented on #154
Here's the Beer's Law Lab ruler after the fix (again, with tick stroke and lineWidth temporarily changed):

![screenshot_511](https://cloud.githubusercontent.com/assets/3046552/7480579/c294143a-f326-11e4-8b64-bcd542587c76.png)

Also verified that rulers with non-zero insets still render properly. For example, here's blackbody-spectrum:

![screenshot_512](https://cloud.githubusercontent.com/assets/

[2015-05-05 19:02] pixelzoom commented on #154
Closing this. If anyone wants to review, go for it.

[2015-05-05 19:02] #154 closed

[2015-05-05 19:06] pixelzoom opened #155 "RulerNode renders an extra tick in some cases"
This popped up after addressing https://github.com/phetsims/scenery-phet/issues/152. Currently only occurs in fluid-pressure-and-flow, in the "Flow" screen with "English" units selected.  Screenshot below, note the extra tick off the top of the ruler.  This is probably yet-another floating-point precision error.

![screenshot_514](https://cloud.githubusercontent.com/assets/3046552/7480689/884edb24

[2015-05-05 19:12] #155 closed

[2015-05-05 19:13] pixelzoom commented on #155
This was not a floating-point error.  In #152, I had forgotten to ensure that numberOfTicks was an integer by calling Math.floor.

[2015-05-07 10:22] notsiddhartha commented on #152
Related issue: https://github.com/phetsims/under-pressure/issues/65

[2015-05-07 17:37] pixelzoom opened #156 "unified approach to color profiles"
(5/7/2015 developer meeting)

Develop a unified approach for color profiles.

Properties for colors, base types for common color profiles (e.g. "projector"),...

Similar to the direction used in molecule-shapes.

Related issue: https://github.com/phetsims/joist/issues/222

[2015-05-07 18:36] aaronsamuel137 commented on #156
I can take a look at this when I am implementing color profiles for GAO.

[2015-05-08 01:24] samreid commented on #156
This is somewhat out on a limb and very brainstormy, but I wonder if it makes sense to use a tandem-like approach for implementing color profiles.  That is to say: declaring color profiles as a set of tandem path => color, then using actual tandem instances for setting colors during initialization.  On the one hand, tandem/together is very well suited for this task.  On the other hand, we cannot a

[2015-05-10 06:04] bereaphysics opened #157 "Regression in MovableDragHandler"
In the commit https://github.com/phetsims/scenery-phet/commit/11d9a99b43f96e7ac723acde799ba23e1cf5eab8, there was a small change brought to the MovableDragHandler

for the start drag it used to be this,
[code]

which was changed to this
[code]

If the options.startDrag(event) changes the locationProperty, then it doesn't affect the startOffset in the second scenario whereas it would in the first.

[2015-05-10 06:06] bereaphysics commented on #157
Assigning to @jbphet since he took over @samreid  responsabilities

[2015-05-10 12:45] samreid commented on #157
Here is an implementation that seems like it addresses the symptom in charges and fields so that the particle appears centered above the pointer:

[code]

Can @bereaphysics @jbphet or @pixelzoom reviews this change before we commit it?  Also, visually inspecting the drag and end, it seems like they don't suffer the same fate, but it would be good for someone else to confirm that.

[2015-05-10 16:26] pixelzoom commented on #157
Assigning to myself to review.

[2015-05-10 20:33] bereaphysics commented on #157
As far as the behavior of MovableDragHandler goes, the proposed change would revert it to the how it used to work, which would fix the problem. I can' speak on how it affects the logging of events for together.js though.

Wouldn't want to have a parallel between the endDrag and the startDrag?
endDrag goes like this

[code]
so the startDrag could go like this.

[code]

again i dont understand toget

[2015-05-10 21:32] jessegreenberg commented on #151
The HeaterCoolerNode needs independent front and back components so that objects can be layered inside of the heater to create a 3D effect.

The HeaterCoolerNode also needs optional parameters that enable and disable heating/cooling.

[2015-05-10 22:09] jessegreenberg commented on #151
I split HeaterCoolerNode into HeaterCoolerFront and HeaterCoolerBack.  Both of these exist in scenery-phet.  HeaterCoolerNode still exists as a convenience node that layers these two front and back components in case a sim does not require layering nodes 'inside' of the stove.

The optional parameters to enable/disable heating/cooling have been added.

[2015-05-10 23:22] samreid commented on #157
Ah yes, I think you are right about the options.XXXDrag() possibly changing the locationProperty in the drag and dragEnd cases as well, thanks @bereaphysics.

For the tandem/trigger messages, I think delivering the original message of the location of the object *before* the `options.startDrag` takes effect is desirable, and the location property change within the `options.startDrag` can be tracked

[2015-05-11 17:51] pixelzoom commented on #157
The fix to `start` looks good.

I agree that a similar approach to reporting location should be used in `start` and `end` (and `drag`?), and that is currently not the case.  I'm not clear on which approach is desirable/required.

Questions for @samreid:
• How do you want to proceed with this? Fix it as part of this issue? Open a new issue?
• Which approach to use?
• Which cases to fix? You mention

[2015-05-11 17:52] pixelzoom commented on #157
Labeling this as high-priority, since MovableDragHandler is used by many sims.

[2015-05-12 20:13] jbphet commented on #151
For the most part this looks good.  There are a couple of things that @jessegreenberg should probably address:
+ There is a multiplier - 0.1 - that is used in a number of places to control the size of the opening in the top of the burner relative to the width.  This should be pulled into one place so that it could be changed easily if needed.  This would make it much easier to turn it into an opti

[2015-05-13 18:40] samreid commented on #157
I think the proposed solution for start() is good.  end() is already OK since locationProperty.get() is called after the options.endDrag().  For drag() we just need to change its last line to:

self.events.trigger1( 'endedCallbacksForDragged', locationProperty.get() );

So I believe the entire SimpleDragHandler instantiation will be:

[code]

Can @pixelzoom review and commit if it looks correct?

[2015-05-13 19:44] pixelzoom commented on #157
Looks OK to me. But I'm not totally clear on what the requirements are for events (i.e., whether you want to send the value before or after modification).

[2015-05-14 13:31] samreid commented on #157
I'm not totally clear what values would be best to send either.  Right now, it will be sending the location before the object is grabbed (which I think sounds best) and after it is grabbed (though I don't believe together.js is currently doing anything with the latter).  Also, we are sending the model property value, rather than the node coordinates.

If the object is at (x0,y0) before it is grabb

[2015-05-14 18:32] pixelzoom opened #158 "Bracket node"
There's a need for a general bracket node.

hookes-law needs a vertical bracket, as shown in this mockup:

![screenshot_519](https://cloud.githubusercontent.com/assets/3046552/7638772/5c7c2aa6-fa34-11e4-8f3b-4375e2db7cb5.png)

states-of-matter has a vertical bracket that looks almost identical:

![pastedgraphic-1](https://cloud.githubusercontent.com/assets/3046552/7638880/30c69846-fa35-11e4-87c6-7

[2015-05-14 18:34] pixelzoom commented on #158
@arouinfar Would a curvy bracket be OK in hookes-law?

@jbphet Would a curvy bracket be OK in atomic-interactions?

[2015-05-14 18:36] arouinfar commented on #158
@pixelzoom, yes, absolutely!

[2015-05-14 18:39] pixelzoom commented on #158
The bracket in states-of-matter is implemented in ForcesControlPanel. It's not currently a separate Node subtype, and isn't particularly general.  So I still think the best approach is to generalize reactants-products-and-leftovers.HBracketNode, which is most of the way there.

[2015-05-14 18:41] jbphet commented on #158
I think a curvy one would look fine in atomic-interactions, probably better than the one that's there.

As you can see from the screenshot from atomic-interactions, the one used there would look better if it were a little asymmetrical.  If it's easy to do, you might want to add the ability to alter the position of the "point".

[2015-05-14 19:08] pixelzoom commented on #158
Accidentally checked in BracketNode in https://github.com/phetsims/scenery-phet/commit/98a4f5b09c929af2a92f07c71dc2594b634b052c.  It's not ready yet, so don't start using it.

[2015-05-14 20:15] pixelzoom commented on #158
@jbphet wrote:

I did this, see options.bracketTipLocation.

BracketNode now supports various orientations (up, down, left, right).  And I've added it to the scenery-phet demo (Components screen).   And BracketNode is now being used in reactants-products-and-leftovers.

Assigning to @jbphet to review.

[2015-05-15 19:25] samreid commented on #28
Not sure how to proceed with this--perhaps as Gravity and Orbits development continues, we will get a better sense of what is necessary/possible here.  Reassigned to @aaronsamuel137 in case this is a good idea.

[2015-05-15 20:58] pixelzoom commented on #157
Sounds good.

Who is going to make the change proposed by @samreid in https://github.com/phetsims/scenery-phet/issues/157#issuecomment-101771817 ?

[2015-05-16 01:56] jessegreenberg commented on #151
The multiplier has been consolidated to a single constant in HeaterCoolerBack. The value also defines the shape of HeaterCoolerFront so it is a static property of HeaterCoolerBack with public access.  Please let me know if you would rather have this done a different way.

HeaterCoolerNode has replaced StoveNode in States of Matter and StoveNode has been removed from that sim.

Reassigning to @jbph

[2015-05-19 18:27] pixelzoom commented on #157
Since @samreid and @bereaphysics are both gone for an extended period of time, I implemented the solution proposed in https://github.com/phetsims/scenery-phet/issues/157#issuecomment-101771817.

I have no idea how this affects data collection, so assigning to @jbphet to verify that (a) this doesn't cause problems with data collection, and (b) this is what is desired for data collection.

[2015-05-20 00:25] samreid commented on #157
One issue that confused me when trying to test these changes was the difference in drag behavior when dragging something out of the toolbox vs dragging in the play area.  I documented the difference here: https://github.com/phetsims/charges-and-fields/issues/31

[2015-05-21 16:19] aaronsamuel137 commented on #92
There is now another implementation of EraserButton in charges-and-fields. Should this be consolidated too?

This version is drawn in code instead of with an image - so it has the potential to be more flexible with regard to color, etc.

Noticed while doing CAF code review: https://github.com/phetsims/charges-and-fields/issues/28

[2015-05-21 16:23] pixelzoom commented on #92
+1 for a code-based implementation, if the look is acceptable.

[2015-05-21 18:37] samreid commented on #92
There is also an eraser in Energy Skate Park: Basics that should me considered/merged/etc.

[2015-05-22 18:28] pixelzoom commented on #126
Assigning this to @aaronsamuel137 since he is assigned #106, which is also related to MeasuringTape.

[2015-05-22 18:29] pixelzoom commented on #92
I'll have a look at doing this one.

[2015-05-22 18:30] pixelzoom commented on #88
I'm now of the opinion that this is not necessary. Assigning to @jbphet for his opinion.

[2015-05-22 18:33] pixelzoom commented on #8
5 months later, repeating... @jbphet made the last commit on this. No indication if that commit addressed this issue. Assigning to him for status.

[2015-05-22 19:14] aaronsamuel137 commented on #126
@bereaphysics and I decided that we should propogate to the supertype after all, and just add some documentation that the location should be set with basePositionProperty and tipPositionProperty.

Documentation added. Closing

[2015-05-22 19:14] #126 closed

[2015-05-22 21:38] aaronsamuel137 commented on #106
Because of some specialized behavior in MeasuringTape, I think it is best to leave the SimpleDragHandlers. I replaced constrainLocation with closestPointTo in MeasuringTape. Closing

[2015-05-22 21:38] #106 closed

[2015-05-26 17:27] pixelzoom commented on #92
Changed ESPB to use scenery-phet.EraserButton.

[2015-05-26 17:28] pixelzoom commented on #92
Changed ESPB to use scenery-phet.EraserButton, instead of reaching into scenery-phet/images/ and creating its own button. Button sized to match ESPB 1.0.1-dev.2.

[2015-05-26 17:31] pixelzoom commented on #92
Hmmm... The implementation is charges-and-fields requires 3 Shapes, 3 Paths, and 3 LinearGradients. And the LinearGradients are currently very specific to creating a pink eraser, not the look used in the other 4 sims.

Questions:
1. @jonathanolson Which version will perform better? (images or programmatic)
2. @ariel-phet Why do we have a different look for the eraser in charges-and-fields?

[2015-05-26 17:35] pixelzoom commented on #92
Email to @arouinfar and @dubson:

Amy, Mike,

I’m contacting you because you’re listed as the designers of “Charges and Fields”.

Regarding the HTML5 version of this sim, please see https://github.com/phetsims/scenery-phet/issues/92

There are 5 sims (enumerated in the issue) with an eraser button. 4 of those sims have the same look. 1 sim (Charges and Fields) has a different look and its own uniq

[2015-05-26 17:56] arouinfar commented on #92
@pixelzoom, is the problem with having a pink eraser, a non-yellow button, or both?

We deliberately did not want to have a yellow button on the equipotential tool because it would be far too eye catching. After giving the button a more muted appearance it had poor contrast with the gray eraser, so we decided to made it pink. If a non-yellow button is acceptable, I can play around with the color t

[2015-05-26 18:02] jonathanolson commented on #92
Re: performance, how will it be used/changed? If there's a 3-gradient solution, I'd start with that. Can always use toImage later or cache it for fast WebGL display?

Other questions to evaluate performance: Does the button move a lot? Does it live in a layer with other things that change every frame? Will the gradients/shapes/paths be changing a lot?

[2015-05-26 18:14] pixelzoom commented on #92
@arouinfar asked:

The problem is primarily the pink eraser. The common-code EraserButton lets you change the button color, but the eraser icon is an image file.

[2015-05-26 18:19] arouinfar commented on #92
@jonathanolson, it's likely that the button will be moved around a lot because it is attached to a tool that students will need to drag around the screen.

Thanks, @pixelzoom. I will play with the button color to find something more suitable.

[2015-05-26 20:03] arouinfar commented on #92
I've found a more suitable color for the eraser button (RGB (242, 242, 242)), and have created an issue in the Charges & Fields repository to update the color.

[2015-05-26 20:24] pixelzoom commented on #92
I've switched charges-and-fields to use scenery-phet.EraserButton, so all eraser buttons are now using the same implementation.  But I have not deleted charges-and-fields.EraserButton.  I'm on the fence about whether to use the programmatic implementation, because it's quite a bit more code than the image-based implementation.  Would like to hear opinions from @jonathanolson, @jbphet, @aaronsamuel

[2015-05-26 21:17] pixelzoom commented on #92
@arouinfar here's '#F2F2F2'.

![screenshot_532](https://cloud.githubusercontent.com/assets/3046552/7823658/543ff19e-03ba-11e5-824f-8cf02f5cd18b.png)

[2015-05-26 21:41] jonathanolson commented on #92
I am fine with the image based solution.

[2015-05-26 22:00] pixelzoom commented on #92
I'm going with the image-based solution.  If we ever change our minds, look in https://github.com/phetsims/charges-and-fields/commit/682b5486d92e4551b4c49ebaabd5afa675cf61b6 for the code-based implementation.

All sims are now using scenery-phet.EraserButton.

Closing.

[2015-05-26 22:00] #92 closed

[2015-05-29 18:06] pixelzoom opened #159 "duplicate options for HeaterCoolerNode labels"
HeaterCoolerNode line 72:

[code]

The options for both titles are identical. The font is factored out, but the rotation is duplicated.

Recommended to change to:

[code]

[2015-05-29 18:10] pixelzoom opened #160 "look for Text nodes that aren't using PhetFont"
scenery-phet is PhET-specific, so all Text nodes should be using PhetFont.

[2015-05-29 18:14] pixelzoom commented on #160
Places where PhetFont should be used:

MultilineText:

ComponentsView:

[2015-05-29 18:18] pixelzoom opened #161 "delete MeasuringTapeDeprecated"
I see no uses of MeasuringTapeDeprecated. Presumably this has been replaced by MeasuringTape?

[2015-05-29 18:19] pixelzoom commented on #161
Assigning to @aaronsamuel137 because he was creator of this file in GitHub.

[2015-05-29 18:25] pixelzoom opened #162 "MultiLineText bugs"
In constructor:

In set text:

In get text:

So we have `thisNode.text` and `thisNode._text`. They should all be the same.

[2015-05-29 18:31] pixelzoom commented on #162
This is also potentially problematic, added by @samreid with comment "Fixes for the Adapted from PhET text fill".

[code]

This relies on the container for the Text nodes being the first child.  This can easily be broken by calling insertChild or moveChildToBack.

[2015-05-29 18:37] pixelzoom commented on #162
In the constructor, this is actually calling the ES5 setter:

[2015-05-29 18:42] pixelzoom commented on #162
This is also a problem, in `set text` at line 57:

[code]

So changing the text blows away all children that were previously added.

[2015-05-29 19:11] pixelzoom commented on #162
Yet another problem.  If you do this:

[code]

... you will not get red text, you'll get green text. This is because setFill does not save the new fill, and setText uses the fill that was provided by the constructor.

[2015-05-29 19:21] pixelzoom commented on #162
I believe I've addressed all of the issues identified herein.  Some of these problems with introduced by a change made for "Adapted from PhET", and I have no idea how to test that.  So I tested in the context of AboutDialog, using this code snippet, which changes the "lead design" value string and fill.

[code]

Assigning to @samreid to review, since he made the changes for "Adapted from PhET".

[2015-05-29 19:31] pixelzoom commented on #160
All work done here, closing.

[2015-05-29 19:31] #160 closed

[2015-05-29 22:00] jbphet commented on #158
Code looks good, seems like options are well thought out.  I added one additional option for line width, but it's pretty trivial.  I've integrated this into states-of-matter/atomic-interactions and it worked well.  Closing.

[2015-05-29 22:00] #158 closed

[2015-05-30 16:49] aaronsamuel137 commented on #161
Deleted. Closing

[2015-05-30 16:49] #161 closed

[2015-06-08 18:53] jbphet commented on #157
I've tested the behavior on the instrumented versions of concentration and faradays-law.  It seems fine, at least for the current round of data collection.  The commits look good.  The issue about charges-and-fields is tracked elsewhere, and there is more work to be done on the MovableDragHandler due to https://github.com/phetsims/together/issues/131, but I think the core issue here has been addre

[2015-06-08 18:53] #157 closed

[2015-06-09 17:33] pixelzoom opened #163 "add startCallback and endCallback options to ArrowButton"
For hookes-law, I need to keep track of when the user is interacting with a control that includes 2 ArrowButtons. The most general way to do this is to add options.startCallback and options.endCallback to ArrowButton. (Something similar is supported in HSlider, which I'll also be using.)  In hookes-law, I'll simply increment a counter in startCallback, then decrement the counter in endCallback.

[2015-06-09 17:34] pixelzoom opened #164 "PressAndHoldInputListener doesn't handle 'over' properly"
PressAndHoldInputListener is a subtype of scenery.ButtonListener. It handles 'up', but not 'over'.  I discovered this while implementing https://github.com/phetsims/scenery-phet/issues/163, which adds start and end callback options to ArrowButton, which uses PressAndHoldInputListener.

[2015-06-09 17:36] pixelzoom commented on #163
This requires propagating options.startCallback and options.endCallback to PressAndHoldInputListener, which handles the processing of scenery input events.

[2015-06-09 17:39] pixelzoom commented on #164
Fix completed.  I'm going to close this, feel free to review if anyone is so inclined.

[2015-06-09 17:39] #164 closed

[2015-06-09 17:39] pixelzoom commented on #163
Work completed. I'm going to close this. Feel free to review if anyone is so included.

[2015-06-09 17:39] #163 closed

[2015-06-10 17:10] jbphet commented on #8
I checked this on Balancing Act and Gravity Force Lab.  The former has the lower ticks disabled, and works fine with long strings.  The latter looks bad with long strings.  So as of now, this issue is not fully addressed.  Screenshots below.

![ruler-ba](https://cloud.githubusercontent.com/assets/3082831/8088787/236d848e-0f61-11e5-956d-e055e531793f.png)

![ruler-gfl](https://cloud.githubuserconten

[2015-06-10 19:32] pixelzoom opened #165 "LineArrowShape"
ArrowNode currently uses ArrowShape to draw arrows that look like this:

![screenshot_533](https://cloud.githubusercontent.com/assets/3046552/8092042/908abc04-0f74-11e5-8f67-f37d87e64cf9.png)

Hooke's Law requires an arrow that looks like this:

![screenshot_534](https://cloud.githubusercontent.com/assets/3046552/8092055/a1f4f52c-0f74-11e5-82d6-3acca48a8081.png)

This new type of arrow is currentl

[2015-06-10 19:35] pixelzoom commented on #165
For Hooke's Law, it's important to resolve the problem with the precision of the tip, so I'll probably do this sooner rather than later.

[2015-06-10 20:18] pixelzoom commented on #165
Unless we use options.tailWidth for the width of the head segments, it seems impossible for LineArrowShape have the same API as ArrowShape.  That seems like an abuse of options.tailWidth. @jonathanolson suggested renaming tailWidth to bodyWidth throughout the ArrowShape/ArrowNode API, and at all use sites.  There are currently 121 occurrences of "tailWidth", so I'm going to wait on that until the

[2015-06-10 20:25] pixelzoom commented on #165
Another questions, see line drawing below. headWidth presumable corresponds to dimension "w" in the drawing. But does "headHeight" correspond to "h1", "h2", or something else?

![screenshot_535](https://cloud.githubusercontent.com/assets/3046552/8093154/7bff53fa-0f7c-11e5-9144-fd403e48df8f.png)

[2015-06-10 20:47] samreid commented on #165
I think headHeight would be h1.

[2015-06-11 14:26] jessegreenberg commented on #159
Thanks for catching this, the recommendation above is tighter.  I have made the recommended change.

[2015-06-11 14:26] #159 closed

[2015-06-17 22:44] jbphet commented on #88
I agree that the context is not needed.  It might be helpful to inexperienced translators, but requiring this would make it harder to use these patterns generally throughout a sim.  And so far, translators have been able to figure it out.  Closing.

[2015-06-17 22:44] #88 closed

[2015-06-23 23:16] jbphet commented on #71
Basic support has been added for what I'm now referring to as the fire-on-hold feature.  There is some other functionality needed by ArrowButton that is somewhat related to this feature that has not yet been added.  I'd like to get some input from other developers on how best to add this functionality before doing it so that I don't end up wasting time.  Will discuss at 6/25/2015 developer meeting

[2015-06-24 22:17] jbphet commented on #8
List of simulations that currently use the ruler and whether it has issues when strings are doubled:

+ beers-law-lab (no issues)
+ blackbody-spectrum (issue: label overlaps next tick label, see screenshot below)
+ fluid-pressure-and-flow (no issues, but looks croweded)
+ gravity-force-lab (issues, see screenshot in comment above)
+ pendulum-lab (issue: label goes off end of ruler, see screenshot

[2015-06-25 15:04] pixelzoom opened #166 "WavelengthSlider: replace toFixed with dot.Util.toFixed"
WavelengthSlider uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 16:07] #166 closed

[2015-06-25 22:10] jbphet commented on #8
It turns out to be nigh on impossible to position the text as depicted in the mockups shown in https://github.com/phetsims/scenery-phet/issues/8#issuecomment-24346047 due to limitations on the precise positioning of text.  And, to quote @pixelzoom, "it also looks crappy."  In the 6/25/2015 developer meeting, I proposed and demoed an alternative where we maintain the vertical alignment with the tic

[2015-06-25 22:43] jbphet commented on #8
I've implemented the approach described above, and also fixed some code in Fluid Pressure and Flow that was doing some odd things to position the units label.  Assigning to @pixelzoom for review.

[2015-06-30 14:17] pixelzoom commented on #71
At 6/25/15 developer meeting, we decided that the startCallback and endCallback options are generally useful.  They should be added to ButtonModel (rather than PushButtonModel) so that they are available to all buttons.

The amount of duplication with between PressAndHoldListener and PushButtonModel still bothers me. I'd like to take a closer look, perhaps there's some general "handler" pattern th

[2015-06-30 14:18] pixelzoom commented on #71
At 6/25/15 developer meeting, we decided:

(1) The startCallback and endCallback options are generally useful.  They should be added to ButtonModel (rather than PushButtonModel) so that they are available to all buttons.

(2) PressAndHoldListener is still generally useful, because there are things other than buttons that require this feature. The amount of duplication with between PressAndHoldList

[2015-06-30 15:05] pixelzoom commented on #71
Just for the record... The design team was referring to this as "press-and-hold", which is why I used that name in related code.

[2015-06-30 18:42] pixelzoom commented on #71
PressAndHoldListener has been renamed FireOnHoldInputListener, so that terminology is consistent across implementations.

Regarding the duplication in PressAndHoldListener and PushButtonModel, here's a summary of what I did:

• Factored out duplicate code into sun.CallbackTimer, which manages a callback list and a joist.Timer.
• Used CallbackTimer in sun.PushButtonModel. Since the fire-on-hold fea

[2015-06-30 19:07] pixelzoom commented on #71
Assigned this to myself to complete remaining work.

[2015-06-30 19:32] pixelzoom commented on #71
ButtonModel: I added options.startCallback and endCallback. It was odd that I also had to add `@param options` to the constructor, because it should have been passing options to PropertySet for together support. The supertype constructor call was generally messed up, see https://github.com/phetsims/sun/issues/190.

ArrowButton: I removed the FireOnHoldInputListener, and passed the options related

[2015-06-30 20:02] pixelzoom commented on #71
Assigning back to me. ArrowButton startCallback and endCallback are not working in hookes-law.

[2015-06-30 20:10] pixelzoom commented on #71
OK, fixed. I was using `property( 'down' ).onValue` to call startCallback and endCallback in ButtonModel. But `onValue` is like `link`, in that it's called immediately.  Converted this to `lazyLink` and hookes-law works as expected.

Back to @jbphet.

[2015-07-01 23:30] jbphet commented on #71
I'm trying to test this in order to verify it, but I'm running into an immediate issue.  While running with assertions enabled, I keep hitting the following assertion, which is the first line of the ```fire``` function in CallbackTimer.js and is currently on line 109:

[code]

This line of code seems to be saying that the timer shouldn't be running when this function is called, but the other code

[2015-07-03 14:37] pixelzoom commented on #71
Re: `assert && assert( !this.isRunning() );`

Sorry, that was a stray assertion that got moved over from PhetButtonModel when I factored out the timer code.  It originally looked like this in @jbphet's code, and was in the 'down' handler.

[code]

Delete the assertion. Back to @jbphet.

[2015-07-03 16:48] pixelzoom commented on #8
I reviewed the code, looks overall good. But @jbphet why are you using `scale` instead of the new `maxWidth` property of Node?

[2015-07-06 03:29] pixelzoom opened #167 "add vertical alignment option to SubSupText"
SubSupText is used for text that contains subscripts and superscripts.  A subscript is vertically centered on the _bottom_ of the text preceding it.  A superscript is vertically centered on the _top_ of the text preceding it.  Options are provided (subXSpacing, supXSpacing) for shifting the position up or down.

When adding the registered trademark symbol (®) to "PhET" in https://github.com/phetsi

[2015-07-06 19:15] jbphet commented on #71
All looks good now.  The desired fire-on-hold (previously knows as press-and-hold) behavior is now a part of the common code buttons instead of being specific to the arrow buttons.  I just tested the behavior on Beaker, Hooke's Law, and the Sun Demo.  Works fine in all cases.  I think our work here is done.  Closing.

[2015-07-06 19:15] #71 closed

[2015-07-06 21:20] jbphet commented on #8
Ah right - I'd forgotten about maxWidth.  Will change the code to use that.

[2015-07-06 21:23] jbphet commented on #8
@pixelzoom has seen the latest set of changes and approves, closing.

[2015-07-06 21:23] #8 closed

[2015-07-08 14:11] pixelzoom commented on #165
I asked:

@arouinfar replied:

So I'm removing the "high priority" label from this issue.

[2015-07-08 20:08] pixelzoom opened #168 "NumberPicker highlighting is broken"
As reported in https://github.com/phetsims/balancing-chemical-equations/issues/101#issuecomment-119715620, the top and bottom halves of the number display no longer highlight on pointer over.

[2015-07-08 21:33] pixelzoom commented on #168
Bug introduced in 73d83fd892ac1413fb2803fbdc6e3310774da44d on 1/15/15, when PressAndHoldListener was factored out for use in ArrowButton.

[2015-07-08 21:58] pixelzoom commented on #168
Fixed. @aaronsamuel137 would you mind verifying? There's a sample NumberPicker in the "Components" screen of the scenery-phet demo app.

[2015-07-09 16:27] aaronsamuel137 commented on #168
Looks good. There is one behavior that seems odd to me where mousing over the space between the arrows and the number picker itself doesn't have the highlight. Is this intended? It looks a little weird if you go to mouseover the number picker and the highlight flashes on and off when going over this region.

[2015-07-09 17:26] aaronsamuel137 commented on #168
Assigning to @pixelzoom to comment or address

[2015-07-09 18:52] pixelzoom opened #169 "highlight behavior of NumberPicker"
There is one behavior that seems odd to me where mousing over the space between the arrows and the number picker itself doesn't have the highlight. Is this intended? It looks a little weird if you go to mouseover the number picker and the highlight flashes on and off when going over this region.

[2015-07-09 18:52] pixelzoom commented on #168
Moved the feature request to https://github.com/phetsims/scenery-phet/issues/169.

Closing.

[2015-07-09 18:52] #168 closed

[2015-07-13 18:54] jessegreenberg opened #170 "Consolidation of LightBulbNode styles"
There are two styles of light bulbs requested across sims.  One is currently used in acid-base-solutions and uses light rays to indicate brightness.

![acid bulb](https://cloud.githubusercontent.com/assets/6396244/8656785/f7a518ac-2956-11e5-85ae-c8c8e1300331.PNG)

The other style is used in Faraday's Law and is requested in Capacitor Lab: Basics, uses halos to indicate brightness.

![faraday_bulb]

[2015-07-13 18:58] ariel-phet commented on #170
Basically, the halo style tends to be preferred for very dynamic changes (such as in faraday's law), and the ray style tends to be preferred when you have a more static representation that can be changed by a parameter in the sim (such as with the conductivity meter). The rays give an easily "countable" comparison, we will want both styles. If that means keeping these separate "raylightbulb" and "

[2015-07-13 18:59] ariel-phet commented on #170
@jessegreenberg feel free to make a topic for dev meeting as to the best approach.

[2015-07-13 19:39] pixelzoom commented on #170
If both are needed, then my recommendation is:

1. rename scenery-phet.LightBulbNode to RaysLightBulbNode
2. create scenery-phet.HaloLightBulbNode
3. defer switching between bulb types in ConductivityTesterNode until someone asks for it.

After 1 & 2, someone can review to see if there's enough commonality to warrant a base type, or a single type with {string} lightType "rays"|"holo"

[2015-07-13 20:04] jessegreenberg commented on #170
Thanks for the recommendation @pixelzoom.  I will go ahead with this plan.

[2015-07-13 21:08] pixelzoom opened #171 "tandem should not be passed to supertype"
In general, if a type calls tandem.addInstance, then the tandem should not be passed to the supertype, as this can lead to multiple calls to addInstance. There several examples in scenery-phet (EyeDropperNode, FaucetNode,...) where a subtype calls tandem.addInstance, and then proceeds to pass the tandem to its supertype.

[2015-07-13 21:29] pixelzoom commented on #169
This could be addressed by adding a transparent overlay that covers both an arrow and its associated half (top or bottom) of the numeric display.  Then attach the inputListeners to the overlays instead of the arrows and numeric display.  pointerArea changes should also apply to the overlaps.

[2015-07-13 23:19] pixelzoom opened #172 "package.json is missing simTitleStringKey, scenery-phet demo won't build"
[code]

[2015-07-13 23:19] pixelzoom commented on #172
Fixed in https://github.com/phetsims/scenery-phet/commit/e32eaf914daad3d1b66c1ba58bdd94d942c279d7.

[2015-07-13 23:19] #172 closed

[2015-07-14 01:13] samreid commented on #171
Please see my thoughts over here https://github.com/phetsims/sun/issues/192#issuecomment-121104265

[2015-07-14 17:36] pixelzoom commented on #171
7/14/15 dev meeting consensus: If you pass a tandem through options, don't pass it to supertype unless you document why you're doing so.

[2015-08-02 19:57] samreid commented on #162
Looks good, I reviewed the code and tested using this snippet:

[code]

And the output was as expected.  Closing.

[2015-08-02 19:57] #162 closed

[2015-08-03 02:33] samreid commented on #87
There are currently no usages of MutableArrowNode.js in the code.  I think we should close this issue and move forward with #34

[2015-08-03 16:09] pixelzoom commented on #87
If MutableArrowNode is not used anywhere, should it be deleted?

[2015-08-03 16:10] pixelzoom commented on #87
Reopening.

Closing this issue because MutableArrowNode is not currently used doesn't address the problem. Either leave the issue open, or delete MutableArrowNode.

[2015-08-03 18:08] samreid commented on #87
+1 to delete MutableArrowNode and focus our efforts on improving performance for ArrowNode.

Based on @pixelzoom's comment:

Let's go ahead and delete it.  I'll assign to @samreid to take care of this.

[2015-08-03 23:10] samreid commented on #87
I removed MutableArrowNode.js above. Let us focus our efforts on faster performing arrows in https://github.com/phetsims/scenery-phet/issues/28 when necessary.

[2015-08-03 23:10] #87 closed

[2015-08-03 23:10] samreid commented on #34
I removed MutableArrowNode.js above. Let us focus our efforts on faster performing arrows in https://github.com/phetsims/scenery-phet/issues/28 when necessary.

[2015-08-03 23:10] #34 closed

[2015-08-05 19:48] pixelzoom commented on #169
Enhancement completed in https://github.com/phetsims/scenery-phet/commit/62d12071a7768241b8b62d65f5d4c966ff31b514.

For the primary work... I added an invisible rectangle on top of the arrow + background piece, and applied input event processing and pointer areas to that.  Here's the relevant bit of code:

[code]

Other changes:
• moved static functions (createVerticalGradient, updateColors) outsi

[2015-08-05 21:54] aaronsamuel137 commented on #169
Looks great to me. Thanks! Closing

[2015-08-05 21:54] #169 closed

[2015-08-06 17:24] pixelzoom opened #173 "incorrect pointer area in EyeDropperNode"
It looks like EyeDropperNode has an issue with point areas. E.g. in the scenery-phet demo:

`http://localhost/~cmalley/GitHub/scenery-phet/scenery-phet_en.html?showPointerAreas`

![screenshot_568](https://cloud.githubusercontent.com/assets/3046552/9118342/f8e54b40-3c2c-11e5-85bc-1752fbe92601.png)

[2015-08-06 17:30] pixelzoom commented on #173
Looks like this bug has existed for the lifetime of EyeDropperNode.

[2015-08-06 17:34] pixelzoom commented on #173
Fixed. I also reduced the default of `options.buttonTouchAreaDilation` from 30 to 15, since 30 looked extreme, and was probably (incorrectly) diameter instead of radius.  Here's how it looks in scenery-phet demo looks now:

![screenshot_569](https://cloud.githubusercontent.com/assets/3046552/9118640/1d5b3320-3c2f-11e5-9f18-2f65fbb70ae8.png)

Closing.

[2015-08-06 17:34] #173 closed

[2015-08-10 19:22] jbphet commented on #37
As @pixelzoom states above, RoundShinyButton no longer exists.  I just tested default touch areas for the round buttons in Balancing Act, and they all look fine.  This is no longer an issue, closing.

[2015-08-10 19:22] #37 closed

[2015-08-19 18:15] pixelzoom commented on #28
kite.Shape now has a new feature (see https://github.com/phetsims/kite/commit/cb3b7ffb1e59d6ae3166c247d42ab7c4c0e19344) that allows you to mutate Vector2 instances that we passed to it, then call Shape.invalidateShape.  Perhaps that could be exploited here?

[2015-08-19 18:18] pixelzoom opened #174 "move PhetColorScheme.RED_COLORBLIND to scenery.Color?"
In https://github.com/phetsims/scenery-phet/issues/140#issuecomment-77626617, @samreid asked:

My opinion is no - RED_COLORBLIND is PhET-specific, so it doesn't belong in scenery.Color.

Assigning to @jonathanolson for his opinion.

[2015-08-19 18:20] pixelzoom commented on #140
Tangential issue moved to https://github.com/phetsims/scenery-phet/issues/174 (move PhetColorScheme.RED_COLORBLIND to scenery.Color?)

Closing.

[2015-08-19 18:20] #140 closed

[2015-08-19 18:21] pixelzoom commented on #156
Strongly related to https://github.com/phetsims/joist/issues/222 (color inversion feature needs to be cleaned up).

[2015-08-19 19:04] jonathanolson commented on #174
It sounds best to keep it in PhetColorScheme. Was the recommendation to support fill: 'red_colorblind' or fill: Color.RED_COLORBLIND?

[2015-08-19 19:05] jonathanolson commented on #28
That would be recommended in this case.

[2015-08-19 20:19] samreid commented on #28
That sounds like a great idea. +1

[2015-08-19 20:20] samreid commented on #174
I was thinking of Color.RED_COLORBLIND.

[2015-08-20 17:55] pixelzoom commented on #174
8/20/15 dev meeting consensus: leave in scenery-phet.

Closing.

[2015-08-20 17:55] #174 closed

[2015-08-22 18:10] jessegreenberg opened #175 "Add ability to change head options in ArrowNode"
In trig-tour, there is an arrow that can change head width and height so that the head does not cover up the tail as the arrow shrinks down in size.  This seems like a good feature to have generalized in ArrowNode.

A possible way to do this would be to change setTailAndTip() to setArrowShape():
[code]
Would anyone object to this, or suggest a different method?

[2015-08-22 18:28] pixelzoom commented on #175
I believe that this may be the feature that you're looking for: https://github.com/phetsims/scenery-phet/issues/33.

[2015-08-22 18:50] jessegreenberg commented on #175
Yes, that is exactly what I am looking for.  Thanks!  Closing this now as it is duplicate.

[2015-08-22 18:50] #175 closed

[2015-08-22 18:53] pixelzoom commented on #33
@jessegreenberg requested this feature in #175:

Let me know how soon this feature is needed, whether want to tackle this, and whether you need assistance. I recommend that you start by looking at piccolophet.ArrowNode in the Java code.

[2015-08-22 18:55] jessegreenberg commented on #33
Thank you @pixelzoom, I would like to tackle this.  Implementing this would significantly simplify LineArrow code in trig-tour.  I am taking a look at the Java now.

[2015-08-23 03:04] jessegreenberg commented on #33
Assigning to myself, I can take a stab at this soon.

[2015-08-24 18:06] jessegreenberg commented on #33
I added this feature to ArrowNode/ArrowShape in the commit above.  The feature added was ported from phetcommon\view\graphics\Arrow.java.

[2015-08-24 23:28] jessegreenberg commented on #33
@pixelzoom, would you mind reviewing these changes?

[2015-08-25 19:36] pixelzoom commented on #33
I inspected the code and test-drove it in trig-tour. :+1: Closing.

[2015-08-25 19:36] #33 closed

[2015-08-25 23:12] pixelzoom commented on #165
Unassigning. No plans to work on this until someone needs it in another sim.

[2015-08-31 19:22] pixelzoom opened #176 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-02 13:55] samreid opened #177 "Too many screens?"
Thanks to https://github.com/phetsims/bending-light/issues/165 the example now has 5 screens.  Is this too many?  It renders properly, but long ago we decided we would never have a sim with more than N screens, and it looks like we reached N+1.  How should we proceed?

![image](https://cloud.githubusercontent.com/assets/679486/9633065/065fc6b2-5148-11e5-8ba7-d666a53d983d.png)

[2015-09-02 15:24] samreid opened #178 "Extra shape cruft on the LightSensorNode"
There is a bit of buggy shape near the middle right side of the LightSensorNode (only appears for certain values of width/height).  See the scenery-phet example screen to reproduce the problem.

![image](https://cloud.githubusercontent.com/assets/679486/9635558/44e4d5a6-5154-11e5-83e3-b6e4f6a0921d.png)

See https://github.com/phetsims/bending-light/issues/165

[2015-09-02 15:26] samreid opened #179 "Generalize the colors for ProbeNode"
The LightSensorNode is hard-coded to be green, with many variants & shades of green to make it look nice and 3d.  We should (eventually?) generalize this to support any color scheme.  Discovered in https://github.com/phetsims/bending-light/issues/165

[2015-09-02 15:27] samreid commented on #179
Perhaps a good time to generalize this would be the first time we have a non-green LightSensorNode?

[2015-09-02 16:12] samreid opened #180 "LightSensorNode looks odd at some combinations of width/height"
LightSensorNode was ported from Bending Light in https://github.com/phetsims/bending-light/issues/165.  It behaves well when width and height are within a nearby range of the default width and height, but when they are radically different, you get shapes like this:

![image](https://cloud.githubusercontent.com/assets/679486/9636855/0001891e-515b-11e5-8a97-5bd340babd57.png)

Since most of our simul

[2015-09-02 16:41] pixelzoom commented on #177
For this specific case:
• Bug: the new (5th) screen should not be named "Spring"
• The intensity meter doesn't warrant its own screen. It should probably be on the "Components" screen, with other similar compound components. To do that, you should address the overcrowding issue on that screen, rather than create a new screen.  Brainstorming: Select which component to test via a combo box on the "C

[2015-09-02 16:43] samreid commented on #177
Fixed the name above.  Lint fixes coming!

[2015-09-02 16:44] samreid commented on #177
The lint fixes have arrived!

[2015-09-02 17:26] pixelzoom commented on #177
This general issue (what to do about >4 screens) also came up recently in https://github.com/phetsims/hookes-law/issues/16#issuecomment-119759271 (when I added the "Springs" screen), and we decided to kick the can down the road.  The road is apparently coming to an end :)

[2015-09-02 17:38] ariel-phet commented on #177
:+1: on the combo box

[2015-09-02 17:40] samreid commented on #177
Perhaps a horizontal set of radio buttons along the bottom of the screen (just above the navbar) would work well.  We could easily put an icon in each one.  It would be like one layer of nesting for the navbar choices, and make it easy to see all of your choices at once and not have to click through a menu to change to the one you want.

[2015-09-02 17:59] samreid opened #181 "Generalize a ProtractorNode"
I noticed Pendulum Lab and Bending Light both have ProtractorNode.js.  Should we compare/contrast/generalize?  What other sims will need protractors?

[2015-09-03 18:51] jbphet commented on #177
Discussed in 9/3/2015 developer meeting and came to a consensus that having the controls in some sort of parent control on the "Components" screen is a good approach.

Personally, I'd vote for putting them in a carousel, but a combo box or radio buttons would also be fine.  This can be left to the implementer's discretion.

@samreid will delete 5th screen and move things from there into the "Compo

[2015-09-03 23:25] pixelzoom commented on #177
-1 for carousel.  I want to go immediately to the the sub-category that I'm interested in, I don't want to have to scroll through N sets of things to get there.

-1 for radio bottons. As we add radio buttons, they take up more space.

+1 for combo box. It takes up the smallest amount of space, and takes up the same amount of space regardless of the number of sub-catagories.

[2015-09-04 19:17] pixelzoom opened #182 "scenery-phet demo should use default ScreenView layoutBounds"
If we want this demo to be representative of what scenery-phet components typically look like, we should probably be using the default layoutBounds. ButtonsView and SlidersView are currently using `new Bounds2( 0, 0, 768, 504 )`, the default is `new Bounds2( 0, 0, 1024, 618 )`.

Note that I fixed ComponentsView in #177.

[2015-09-04 19:22] pixelzoom commented on #177
I reorganized this using ComboBox, but did it in such a way that each "demo" is encapsulated in a separate function, and there's a data structure that could be used to create some other type of control. Here's the data structure:

[code]

Here's a screenshot of the "Components" screen, with the combo box expanded.

![screenshot_596](https://cloud.githubusercontent.com/assets/3046552/9692652/b5f7dd

[2015-09-04 19:22] pixelzoom commented on #177
Assigning this to @samreid to review, since the work was originally assigned to him.

[2015-09-04 19:33] pixelzoom commented on #182
Done, closing.

[2015-09-04 19:33] #182 closed

[2015-09-04 19:36] pixelzoom commented on #177
The "Sliders" screen was also getting a little crowded, with layout dependencies between the demos. So I applied the same "combo box" treatment to the "Sliders" screen.

[2015-09-08 22:58] samreid commented on #180
Having trouble deciding whether the glass region should always be circular:
![image](https://cloud.githubusercontent.com/assets/679486/9749398/eb8f808c-5649-11e5-8843-7a4086fbac34.png)

[code]
or not:

![image](https://cloud.githubusercontent.com/assets/679486/9749493/8dd273a4-564a-11e5-836e-d3acce5b8e3e.png)

[code]

@pixelzoom can you vote?

[2015-09-08 23:03] pixelzoom commented on #180
If the part of the probe that surrounds the glass is not constrained to be circular, then +1 for the glass not being circular.

I guess this makes it more general. But all PhET probes thus far have had circular glass with circular surrounding area.

[2015-09-08 23:48] samreid commented on #180
I went elliptical in the above commit. but I'm seeing a chord across the ellipse like so, for some settings of width/height:

![image](https://cloud.githubusercontent.com/assets/679486/9750172/adc56c3c-5651-11e5-98d8-a0d1dd421e0c.png)

It is easy to reproduce this problem in the scenery-phet demo for "ProbeNode".  @jonathanolson can you see what is wrong with the kite ellipse?

[2015-09-08 23:49] samreid commented on #180
Oh, it looks like the problem is with the radial gradient fill, not with the kite shape.

[2015-09-08 23:52] samreid commented on #180
Gradient fill fixed above.

[2015-09-08 23:53] samreid commented on #180
OK the probe can handle any width and height, closing.

[2015-09-08 23:53] #180 closed

[2015-09-09 00:08] samreid commented on #177
Looks great.  My only recommendations are:

(1) allow a query parameter to select the initially selected node
(2) check how long it takes to launch the application with all components nodes instantiated.  Then test again with no component nodes instantiated.  If it is more than 500ms to create all of the nodes, consider creating them lazily and one at a time rather than all up-front.

@pixelzoom t

[2015-09-09 02:13] samreid commented on #178
Fixed in the above commit, closing.

![image](https://cloud.githubusercontent.com/assets/679486/9751770/0b05f61e-5666-11e5-949b-607136ca4e91.png)

[2015-09-09 02:13] #178 closed

[2015-09-09 02:31] samreid commented on #179
I generalized the colors above.  With the same base color as the concentration probe, I get this:

![image](https://cloud.githubusercontent.com/assets/679486/9751958/55d90738-5668-11e5-82ba-bdde2b7c931d.png)

Let's go an extra mile and put a color picker in the scenery-phet playground.

[2015-09-09 02:37] samreid commented on #179
I don't think we have a true color picker yet.  Could use a wavelength slider?

[2015-09-09 02:44] samreid commented on #179
Wavelength slider added above, colors look good across a wide variety (shadows a bit hard to see against yellow, but I think that is acceptable).

[2015-09-09 02:44] samreid commented on #179
Reassigned to @pixelzoom to take the colors for a test drive.

[2015-09-09 16:12] pixelzoom commented on #177
If you'd like those features, go for it.

[2015-09-09 16:32] pixelzoom commented on #179
Changed issue title since LightSensorNode was renamed to ProbeNode.

[2015-09-09 16:39] pixelzoom commented on #179
A color chooser would be better, but a WavelengthSilder seems OK.

Showing the wavelength value seems unnecessary, so I hid it in https://github.com/phetsims/scenery-phet/commit/71fdecc554193e083c6249e462b7d1b80ea50170.

The initial state color of the ProbeNode in the demo is out of sync with the WavelengthSlider. And I don't understand the rationale behind this bit of code:

[code]

The slider an

[2015-09-09 16:46] pixelzoom commented on #179
A problem with using WavelengthSlider is that you can't set some color values, e.g. the default color of ProbeNode ('#008541').

[2015-09-09 16:47] pixelzoom commented on #179
How about RGB sliders instead of WavelengthSlider?

[2015-09-09 16:47] pixelzoom commented on #179
Reversing my opinion of WavelengthSlider... A problem with using WavelengthSlider is that you can't set some color values, e.g. the default color of ProbeNode ('#008541').

How about RGB sliders instead of WavelengthSlider?

[2015-09-09 17:37] samreid commented on #179
I'd rather see a scenery-phet (or sun?) color picker.  Even if bare-bones, it would be useful here, reusable elsewhere, etc.  And it could grow features when needed.

[2015-09-09 17:51] pixelzoom commented on #179
A general color picker would be nice (and not the first time it's come up), but that's a separate project. For now I've replaced the WavelengthSlider with RGB sliders. See https://github.com/phetsims/scenery-phet/commit/0baef9a96c1dcb90f2aad6ef6d20750074015ec5.

[2015-09-09 21:52] samreid commented on #179
Looks good.  So, anything else left to do here?

[2015-09-09 21:53] samreid commented on #179
Handling different angles for the gradients is handled in https://github.com/phetsims/bending-light/issues/165

[2015-09-09 21:57] samreid commented on #177
On my platform, it takes 600ms to create all of the demo nodes.  230ms is taken in creating ProbeNode and its controls.  I guess this is enough to make me want to make this usable for isolated tests.

[2015-09-09 22:00] samreid commented on #177
Proposed query parameter for selecting a single component:

(for example)
?component=ProbeNode

Then you can easily iterate on a component using ?screens=3&component=MyComponent

[2015-09-09 22:15] samreid commented on #177
I added these features above, please see commit message.  @pixelzoom would you please take a look and let me know if you have any recommendations for those changes?

[2015-09-09 22:31] pixelzoom commented on #179
Everything seems to be addressed, closing.

[2015-09-09 22:31] #179 closed

[2015-09-09 22:47] pixelzoom commented on #177
Looks good. My only suggestion would be to make the query parameter plural (`components`), similar to other query parameters like `screens`.  You may want to iterate on >1 related components.

[2015-09-09 22:48] pixelzoom commented on #177
Eg: ?screens=3&component=ProbeNode,RulerNode

[2015-09-09 22:51] pixelzoom commented on #177
I took a closer look at the implementation... The demos are filtered after they've been instantiated.  So how does this improve startup time?  If it doesn't then recommended to simply make `?component` be the component that's selected in the combo box at startup, rather than making it be the only component in the combo box.

[2015-09-09 22:52] pixelzoom commented on #177
Ah, I see.... You changed the allDemos structure to include functions that create the demos.

In that case, why not instantiate components on demand (when first selected), and make `?component` be the initial selection?

[2015-09-09 22:54] pixelzoom commented on #177
I'm going to take a stab at what I described immediate above.

[2015-09-09 23:22] pixelzoom commented on #177
All demos now appear in the combo box, but they are create on demand (that is, created and added to the scenegraph when they are selected from the combo box).  The 'component' query parameter simply determines which demo is initially selected in the combo box, e.g.:

http://localhost/~cmalley/Github/scenery-phet/scenery-phet_en.html?screens=3&component=ProbeNode

Back to @samreid for review.

[2015-09-09 23:25] pixelzoom commented on #177
Since the "Sliders" screen has a similar mechanism for selecting a demo, should apply this same pattern there? With a similar query parameter like 'slider'?

[2015-09-09 23:32] pixelzoom commented on #177
Easy to apply this pattern to "Sliders" screen now (rather than later), so I did it.  Example:

http://localhost/~cmalley/Github/scenery-phet/scenery-phet_en.html?screens=2&slider=WavelengthSlider

[2015-09-09 23:55] pixelzoom commented on #177
ComponentsView and SlidersView were identical, except for the query parameter name and the set of demos. Factored out base type DemosView.

[2015-09-10 00:10] pixelzoom commented on #177
OK, think I'm done. Really ready for review now :)

[2015-09-11 04:39] samreid opened #183 "ProbeNode: add an option to rotate the gradients"
So the probe can be used at different orientations, the highlight gradient should have a settable angle.  We should add controls to test the angle in the demo app.  We can use NumberControl, with options.decimalPlaces for snapping and options.majorTicks for the 2pi label.

See parent issue https://github.com/phetsims/bending-light/issues/165

[2015-09-11 04:40] samreid opened #184 "ProbeNode should be rounded"
It was squared for generalization in https://github.com/phetsims/bending-light/issues/165 but now it should be rounded out again.

[2015-09-11 04:41] samreid opened #185 "Add controls for the cross-hairs/glass/empty in the demo application."
Also, make the crosshairs and glass default options public in ProbeNode.  See parent issue https://github.com/phetsims/bending-light/issues/165

[2015-09-11 20:44] samreid opened #186 "Add a drag handler for items in a toolbox/carousel/bucket"
From https://github.com/phetsims/bending-light/issues/193

Many of our simulations have a drag and drop capability where the user drags something from a toolbox/bucket/carousel into the play area, and can drop the object back where it came from.  From https://github.com/phetsims/bending-light/issues/193#issuecomment-139452673

Here is a list of all of the features we need from these toolbox items:

[2015-09-11 21:01] samreid commented on #186
I would really like a solution here that plays nicely with objects that just use some of the features, such as items that can be dragged in the play area (like MovableDragHandler).  We should try to share as much behavior/code as possible.

[2015-09-12 02:21] samreid commented on #186
@jbphet @pixelzoom @pixelzoom I'd like to work on this soon, so please review my notes above and let me know your thoughts.

[2015-09-12 03:17] samreid commented on #177
These changes look great, I have used them to develop ProbeNode in isolation and it has been working very well.  Good idea applying the same idea to the slider screen.  Closing.

[2015-09-12 03:17] #177 closed

[2015-09-12 12:45] samreid commented on #186
@ariel-phet I'd also like to get input from the design team.  Can you and/or other designers review the behaviors listed in the issue description and see if there are other features that need to be implemented, or any new upcoming user interface elements that will need a different kind of behavior?  Not sure if this warrants a mini-design meeting or not, but having as much information as possible

[2015-09-12 14:32] samreid commented on #186
I marked 8 issues in Bending Light as pertaining to this issue, with the label "toolbox": https://github.com/phetsims/bending-light/labels/toolbox

[2015-09-14 15:49] pixelzoom commented on #186
My first comment is that it is important to divide responsibilities between the container (toolbox, carousel,..)  and the items in container.   Containers should have responsibility for managing the collection as a whole - layout, moving the entire collection, showing some portion of the collection,... The items should be responsible for what happens when the user interacts with them (interactivit

[2015-09-14 15:56] pixelzoom commented on #186
I don't think it's feasible to have a single type of drag handler that meet all needs, since the nature of the items in the container *necessarily* differs from sim-to-sim. (Another reason for decoupling the container from the items, btw.)  I do think it's possible to have a couple of varieties of drag handlers.  So another good step would be to identify the types of items in containers, and how t

[2015-09-14 16:10] samreid commented on #186
One strategy I've seen used before when there is an unlimited number of nodes is for the actual node to be on the top, and when it is dragged it automatically creates a new instance beneath itself (in the toolbox).  Rather than having an "icon" forward events to a newly created node, it is already the node itself.  So one of each type of node would be created "in advance", with the next one (benea

[2015-09-14 16:13] pixelzoom commented on #186
Sounds like a viable strategy. But again, I'm skeptical that there's a single strategy that applies for all cases.

[2015-09-14 17:50] pixelzoom commented on #186
My only experience with this topic has been in Java sims.  In the Glaciers simulation, the pattern I used is embodied in InteractiveToolIconNode, an inner class of AbstractToolIconNode. From the Java doc:

[code]

Not saying that this is "the" pattern to follow, just throwing it out there as a data point for what I did in Glaciers (seemed to work well there.)

[2015-09-14 21:06] samreid commented on #186
I'm going to start tinkering with support for the above features in scenery-phet.

[2015-09-14 21:20] samreid commented on #186
Question for designers: should we generally show the shadow of a dragged item?  Some sims do, some sims don't.

[2015-09-14 22:22] aaronsamuel137 commented on #156
Started working on GAO again this week, and finally got around to revisiting this issue. I've made a first pass by creating a ColorProfile superclass based off of MoleculeShapsColors.

Probably a good idea to discuss at developer meeting.

[2015-09-15 19:30] samreid commented on #186
Question for designers: How far should a use be able to drag an object off the screen?  (a) halfway (b) not at all (c) all except for some pixels (say 20px)?

[2015-09-15 19:31] samreid commented on #186
@jonathanolson @pixelzoom is there a way to automatically create a drop shadow from a given scenery node, or would it have to be custom coded based on knowledge about the particular node?

[2015-09-15 20:01] pixelzoom commented on #186
Configurable.

I haven't had to do this.  If supported by scenery, I'd guess it would be something like one of Node.toShape, Node.getShape, Node.toPath, Node.getPath.  But I don't see any of those.

[2015-09-15 20:18] jonathanolson commented on #186
Drop shadows are supported by SVG (feOffset filter), and a "drop shadow" filter has been something I've thought about. This could probably be mimicked with Canvas/WebGL as necessary also.

[2015-09-16 15:29] jbphet commented on #186
+1 for configurable

[2015-09-16 20:17] aaronsamuel137 commented on #28
I've changed ArrowNode to use this pattern.

I'm actually not seeing much performance gain in GAO, so not sure if it's worth the extra code complication. Would be good to get another opinion here.

@pixelzoom or @samreid, want to review this?

[2015-09-17 20:35] samreid commented on #28
I reviewed this with @aaronsamuel137 yesterday and we made some good changes.  @aaronsamuel137 are you ready for me to look over it again, or still working on parts?

[2015-09-17 21:21] aaronsamuel137 commented on #28
Mostly ready, but I want to look into the issue we were seeing in GAO where the force vectors didn't disappear on collision. This used to work before our changes to ArrowNode. I'm investigating whether this needs to change in ArrowNode or in the GAO code somewhere.

[2015-09-17 21:43] aaronsamuel137 commented on #28
OK, I've fixed the bug. Basically if the tip and tail are at the same location, we need to make sure the arrow has no points. That was what happened in GAO - the tip and tail were reset to be the same location, but we never triggered a redraw of the arrow because we didn't empty shape points.

Assigning back to @samreid for review.

[2015-09-18 01:53] samreid commented on #28
@aaronsamuel137 Things are looking good, I made a few additional commits above.  Can you take a look at them and make sure everything is ok?

[2015-09-18 03:37] aaronsamuel137 commented on #28
Looks good to me. Thanks for adding the extra documentation. Closing

[2015-09-18 03:37] #28 closed

[2015-09-22 17:38] jessegreenberg commented on #156
Developer Meeting 9/22/15: JO will review progress on this.

[2015-09-23 23:26] jessegreenberg opened #187 "Add GREEN_COLORBLIND to PhetColorScheme?"
In trig-tour, a GREEN_COLORBLIND is used with components rgb(0, 185, 0).  It performed well in colorblind tests when used alongside RED_COLORBLIND.

Should GREEN_COLORBLIND be added to PhetColorScheme?  If so, we should search for cases of 'green' being used in sims with RED_COLORBLIND and replace with PhetColorScheme.GREEN_COLORBLIND.

[2015-09-23 23:50] pixelzoom opened #188 "demo of HSlider should be moved to sun"
... it's currently in scenery-phet demo on the "Sliders" screen, but HSlider is a sun component.

[2015-09-24 00:16] pixelzoom commented on #188
Demo of HSlider is now on the "Components" screen of the sun demo.

Closing.

[2015-09-24 00:16] #188 closed

[2015-09-24 06:34] jonathanolson commented on #156
Implementation looks good, I'll want to move over Molecule Shapes.

Adding developer-meeting tag again to briefly review the API, then I'll plan on adding documentation for long-term use (including recommended changes if any).

[2015-09-24 17:09] pixelzoom commented on #156
9/24/15 dev meeting notes:
• rename default to something else? (ES6 issue? defaultColor? defaultValue?)
• remove vestigial assert in ColorProfile
• assert that default is provided (since it's required)
• fallback to default if the requested profile doesn't exist
• rename GravityAndOrbitsColors to GravityAndOrbitsColorProfile

[2015-09-24 17:24] samreid commented on #156
After discussion, consensus seemed to be that `default` sounds good.

[2015-09-24 17:56] pixelzoom commented on #187
9/24/15 dev meeting:

• Yes, add to PhetColorScheme.
• Do not need to replace uses of 'green'.  If there are colorblind problems, we'll catch them in testing.

[2015-09-24 17:57] samreid commented on #156
We should also discuss how ColorProfile should be used in Joist, which has colors, strokes and different navbar colors.

[2015-09-24 18:08] jessegreenberg commented on #187
GREEN_COLORBLIND added to the PhetColorScheme.  Since we do not need to look for instances of 'green' and replace, this can be closed.

[2015-09-24 18:08] #187 closed

[2015-09-24 22:02] aaronsamuel137 commented on #156
I've made these changes. Notably, applyProfile( .. ) has been replaced with profileNamePropety.set( ... ). We could leave it as a wrapper method if you want to keep the same API as before.

Assigning to @jonathanolson for review.

[2015-09-25 05:22] samreid commented on #183
Option added above, with a new slider in the scenery-phet demo harness.  @pixelzoom can you review at your convenience?

[2015-09-25 05:37] samreid commented on #184
I rounded out the bottom corners in the above commit, you can adjust the rounding dynamically in the scenery-phet demo.  Here's the default radius=10:

![image](https://cloud.githubusercontent.com/assets/679486/10093774/d4dc1f94-6314-11e5-88ab-a714cf699c19.png)

Here's corner radius = 0:
![image](https://cloud.githubusercontent.com/assets/679486/10093779/e03bd88e-6314-11e5-87da-195d4f8134bc.png)

[2015-09-25 05:52] samreid commented on #185
I added radio buttons to the scenery-phet demo to test the following options for the sensor type:
null: (empty)
glass
crosshairs
a non-default glass.

One deficiency is that while possible, it is not easy to change the location of the center of the gradient for the glass, but in my opinion this is subtle and not necessary to implement at this time.

@pixelzoom can you review this and let me know i

[2015-09-25 14:50] ariel-phet commented on #184
I would say yes...it would seem more aesthetically consistent.

[2015-09-25 15:28] samreid commented on #184
I texted my colleagues:

Hey Everybody (but perhaps mostly @jonathanolson), I have a line segment adjoined to another line segment at an angle theta.  Now instead of a sharp angle, I would like to show a smooth curve between the 2 line segments.  How do I do this with Kite Shape?

Reassigning to @jonathanolson for feedback.

[2015-09-25 16:16] samreid commented on #184
@jonathanolson said curveTo

[2015-09-25 16:19] samreid commented on #184
I rounded out the corners above, now the default looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/10105928/de4de33c-636e-11e5-90fb-f8954ae9d044.png)

[2015-09-25 16:19] #184 closed

[2015-09-25 17:55] samreid commented on #186
Building blocks like animateTo() and reparent() are making things a lot simpler. I'm going to punt on a general solution that can be used everywhere and move ToolListener to Bending Light for the protractor.  Not sure what else we should do with this thread--except that it is a good reference for the different features a tool often needs to support.  I'll mark it for developer meeting to discuss a

[2015-09-25 20:37] jessegreenberg opened #189 "API for resetting optional parameters"
In ArrowNode, there is a pattern for setting the doubleHead optional parameter post construction that looks like:

```@private``` closure in the constructor:
[code]
```@public``` setter in the prototype:
[code]
In the future we will likely want to set other optional parameters as well.  Should we assume the above API for setting options?  Something along the lines of scenery.Node.mutate( options )

[2015-09-28 16:35] pixelzoom commented on #185
Looks good to me.

[2015-09-28 16:35] samreid commented on #185
Thanks, closing.

[2015-09-28 17:00] pixelzoom commented on #183
Integration into scenery-phet demo has problems.  The "Light Angle" control was added to a block that is commented as "Color controls".  And there's no space between the color (RGB) controls and the "Light Angle" control, which is unrelated.  I put a panel around the color controls to group them.  Also added labeled tick marks to the "Light Angle" control.

A couple of issues with the feature itse

[2015-09-28 18:47] pixelzoom opened #190 "pattern for exposing default options"
I'm going to discuss this in the context of scenery-phet.ProbeNode, but it can apply to any common code.  And I've seen these same mistakes in other contexts.

Here's the pattern that was used to expose default options:

[code]

Two problems with this pattern.

(1) On line 6, the `_.extend` call will modify `DEFAULT_OPTIONS`, overwriting it with any options that are provided by the client. (This w

[2015-09-28 18:52] pixelzoom opened #191 "ProbeNode exposes DEFAULT_OPTIONS to modification"
See https://github.com/phetsims/scenery-phet/issues/190 for a more general discussion of exposing default options.

Here's the code in question:

[code]

This makes the DEFAULT_OPTIONS instance available to clients, where it can (and will) be accidentally modified.  Recommended to change to:

[code]

[2015-09-28 19:05] pixelzoom commented on #185
Reopening.

The API for creating the sensor portion of the probe seems a bit convoluted and complicated.

Here's the interface, ProbeNode line 192:

[code]

Issues:

(1) These are not sensor types (as the comment says). These are functions *that return a function* that creates a {Node} that represents the sensor part of the probe. That seems unnecessarily complicated.

(2) The terse names of these

[2015-09-28 19:13] pixelzoom commented on #185
Recommendations:

• Add `radius` as a first (required) parameter to functions `glass` and `crosshairs`. This gets rid of the "function that returns a function that returns a Node" complexity, and it's simply "function that returns a Node".

• Rename options.sensorType to sensorFunction, document that it's a {function} that takes `{number} radius` and `{Object} [options]` parameters, and returns `{

[2015-09-28 19:16] pixelzoom commented on #185
I'm going to take a stab at this.

[2015-09-28 19:21] pixelzoom commented on #185
Ah... I see why you did the "function that returns a function" thing here. You want the client to provide the options, and ProbeNode to provide the radius.  There must be a better API.

[2015-09-29 15:15] samreid commented on #190
Does

[code]
 do the same thing as

[code]

[2015-09-29 15:17] samreid commented on #190
Should we use freeze rather than clone?  What about depth issues? (I think clone and freeze are shallow).

[2015-09-29 15:57] pixelzoom commented on #190
Same result.

[2015-09-29 16:00] pixelzoom commented on #190
The use _.cloneDeep when necessary.

[2015-09-29 16:01] pixelzoom commented on #190
Use _.cloneDeep when necessary.

JavaScript freeze is shallow; values that are objects can still be modified, unless they are also frozen.

[2015-09-29 16:31] pixelzoom commented on #186
The listener is now bending-light.ProtractorDragListener

[2015-09-29 16:39] pixelzoom commented on #186
9/29/15 dev meeting:
We discussed this and are going to close this issue. If anyone else wants to find a way to generalize this, that would be awesome.

[2015-09-29 16:39] #186 closed

[2015-09-29 18:56] pixelzoom commented on #189
9/29/15 dev meeting:  Store options that are needed by prototypes, rather than use function closures.

[2015-09-29 19:05] pixelzoom commented on #190
ProbeNode.js:

Panel.js:

Which naming convention should we use?

[2015-09-29 19:08] pixelzoom commented on #190
9/29/15 dev meeting:
• prefer `_.extend( {}, DEFAULT_OPTIONS, options )`
• `assert && DEFAULT_OPTIONS.freeze()`
• use uppercase `DEFAULT_OPTIONS`, since it's a constant

[2015-09-29 19:09] #190 closed

[2015-09-29 20:21] pixelzoom opened #192 "ProbeNode: improve shading"
See https://github.com/phetsims/beers-law-lab/issues/111#issuecomment-144111525

[2015-09-29 20:26] pixelzoom commented on #191
In #190, we decided to expose DEFAULT_OPTIONS, but freeze it conditionally to prevent modification during development.

[2015-09-29 20:31] pixelzoom commented on #191
Assigned to @samreid for review.

[2015-09-29 21:04] samreid commented on #192
Worked with @jonathanolson on this a bit, his recommendation is to create shapes for discrete segments with alpha varying between 0 and 1 so that the background shading shows through.

For instance, something like this:

[code]

[2015-09-30 16:10] samreid commented on #183
That sounds tricky--often the node is rotated after it is created so this would require us to be able to mutate the gradient of the instance rather than just getting it right during initialization.

I am somewhat concerned that spending >2hrs here to make the light angle operate seamlessly with the probe rotation may only end up saving us ~5 minutes/sim.  If (!) these figures are accurate, the bre

[2015-09-30 16:14] samreid commented on #183
Factored out Math.PI above.  The only outstanding issue here is the API for the lighting angle.  I have previously noted that this overlaps with #192 significantly and hence should probably be worked on together with it.

[2015-09-30 16:15] samreid commented on #185
Can we schedule an appointment to collaborate on this?  I'm unclear what the issues are and what your recommendations are.

[2015-09-30 17:11] samreid commented on #191
Looks good, thanks, closing.

[2015-09-30 17:11] #191 closed

[2015-09-30 17:20] samreid commented on #156
It seems like an important part of ColorProfile is its ability to synchronize with a color picker in another frame, but there is no documentation about how to do so in ColorProfile.js.  Can @aaronsamuel137 or @jonathanolson elaborate?

[2015-09-30 19:41] samreid commented on #156
After taking a closer look, I'd like to propose an alternate approach for discussion:

(1) The color profile is simply a global property instance:
[code]

(2) Each file that provides a color that may be customized based on the profile imports the colorProfile as above.  Then it applies its own logic for dealing with the color profile:

[code]

My motivation for doing this is to keep the colors col

[2015-09-30 19:53] jessegreenberg commented on #189
Done in the commit above.  Reassigning to @aaronsamuel137 for review.

[2015-09-30 22:43] aaronsamuel137 commented on #189
Looks good! Closing

[2015-09-30 22:43] #189 closed

[2015-10-01 14:18] aaronsamuel137 commented on #156
I added some documentation about this in the above commit.

[2015-10-01 14:30] aaronsamuel137 commented on #156
I have no major objections to this approach. If we use a global Property instead of a global PropertySet, we still might want to create a subclass that allows for the iframe communication.

One thing that is nice about a global list of colors is that, at least in GAO, the same color property is used in multiple files, so it would need to be factored out as a global anyway.

Also, I think there was

[2015-10-01 15:32] jonathanolson commented on #156
I like the simplicity, but I've had a preference for factoring out colors into a separate constants file before the original pattern was created. For me, it just makes it easy to identify colors to change, and with profiles, it's easier to have the colors all in the same location (for adding profiles and not hitting tons of files). The ColorProfile approach is also a bit more explicit about how yo

[2015-10-01 16:20] samreid commented on #156
So would recommend to have *all* of the simulation colors in that file, or just the customizable colors?

[2015-10-01 16:26] pixelzoom commented on #156
I'd like to have both mutable and immutable colors in the one profile. So it would be nice if ColorProfile supported both flavors.

[2015-10-01 16:45] samreid commented on #156
Beers Law Lab has 31 occurrences of `fill:` and 22 occurrences of `stroke:`.  Do we really want to move *all* of these into a single file?  In my opinion, it has served us really well in the past to declare these in the files where they are used.  Also, if there is a good reason for factoring all Colors into a single file, why shouldn't we also do this for Fonts, layout spacing, Strings, etc etc e

[2015-10-01 16:53] pixelzoom commented on #156
No. To clarify... It would be nice to specify colors that are currently factored out into a .js file, for example HookesLawColors.js.  These are colors that are either used in multiple places, or tended to evolve during the development process.  It's not necessary (or even desirable) to factor out every color used anywhere in the sim.

[2015-10-02 14:54] samreid commented on #156
It seems like we have a difference of opinion on the subject of where colors should be declared:

@pixelzoom said:

@jonathanolson said:

Here's another question from @jonathanolson:

Brainstorming here, but we could do something like this:
[code]

Also, from https://github.com/phetsims/scenery-phet/issues/156#issuecomment-143004614 we shouldn't settle on a strategy until we know how it will be ha

[2015-10-02 21:46] pixelzoom commented on #156
How is this a difference of opinion? We're both saying that we prefer to encapsulate colors in one file. And nowhere in @jonathanolson's comment do I see that he's proposing that *all* colors (fills and strokes) must be specified in one file.

[2015-10-02 21:55] samreid commented on #156
It sounded to me like @jonathanolson was proposing to put all colors in one file.

 (emphasis added)

Let's hear from @jonathanolson and go from there.

[2015-10-02 22:14] pixelzoom commented on #156
I'm also proposing to have "the colors all in the same location". I'm not proposing to have "all colors" in the same locations, and @jonathanolson didn't say that either.

[2015-10-02 22:22] samreid commented on #156
We may both benefit from a voice conversation here.

[2015-10-03 16:05] samreid commented on #156
@aaronsamuel137 I'd also like to meet with you to discuss (a) how we can address color profiles issues Joist and potentially other common code repos and (b) if there is a way to get the advantages of this pattern without having to move declarations of colors that are used only once in the sim.

Also, if we went with a pattern like
[code]

then it seems like the colors don't necessarily *need* to b

[2015-10-03 19:13] aaronsamuel137 commented on #156
Sounds good. I can meet Monday morning after the accessibility meeting. I'll probably want to zoom in for that instead of coming to campus.

[2015-10-03 21:59] samreid commented on #156
Sounds great, see you (remotely) then.

[2015-10-04 04:28] jonathanolson commented on #156
I guess I was proposing that I'd want all colors that could potentially change (e.g. for testing color palettes with the picker, or projector colors, etc.) in the same place. Molecule Shapes has a few colors (e.g. black text on screen icons) where the color can't be changed. I wouldn't be against ALL of the colors being moved to MoleculeShapesColors (as only 2 files have hardcoded colors).

I did

[2015-10-05 17:09] aaronsamuel137 commented on #156
Working with @samreid on this issue, we devised a way to keep many of the benefits of ColorProfile while being able to keep the colors local the file they are used in. It would entail adding the following method to ColorProfile:

[code]

With the following usage:

[code]

@samreid: I like this approach because you don't have a duplication of the name.

[2015-10-05 17:11] aaronsamuel137 commented on #156
Flagging for dev meeting, but feel free to discuss asynchronously instead if developers have time beforehand.

[2015-10-06 02:04] jonathanolson commented on #156
That seems to get tricky when you have multiple places for the same color, right? Can all of them safely addColorInstance? Do you only pick one, or just have a color constants file that registers it one time?

And many times access to the Color property itself is helpful, and we DON'T want to link it. How would that be handled?

[2015-10-06 02:18] samreid commented on #156
When a color is used in more place than one, it should be factored out.  If it is also supposed to be customizable, then you can create a color property for it, then call addColorInstance on the color property.

Can you elaborate?  Not sure what case you are referring to.  I'm available for voice if you prefer to discuss it there.

[2015-10-06 02:22] jonathanolson commented on #156
Say whenever the color changes (or is initialized), we want to set something's fill to color.withAlpha( alpha ). Doesn't seem easy if our support is only to mutate an attribute of a passed in object to addColoredInstance.

[2015-10-06 02:33] samreid commented on #156
My recommendations:
1. If you need to use a constant color in 1 place, create it in that place
2. If you need to use a constant color in 2+ places, factor it out.
3. If you need to use a color Property in 1 place, create a color property in that place
4. If you need to use a color Property in 2+ places, factor it out.
5. If you want your color to appear in the color picker, add it to the color pic

[2015-10-06 03:36] jonathanolson commented on #156
However we handle translated strings similarly to how I've handled colors. For a sim, they are ALL in the same file, and then you have a way of accessing it (require() or access to the profile).

Just putting all colors in one place (1 rule) seems much more maintainable and simple to me. Will plan to discuss at developer meeting.

[2015-10-06 16:31] samreid commented on #156
Consensus: We will go with a single color file.  Any colors used >1 time, or that need to be dynamically changed (in the color picker) or handled differently in different profiles should appear there.

[2015-10-06 16:39] samreid commented on #156
We will not go back to old sims to factor out colors, just for new simulations.

[2015-10-06 16:39] jbphet commented on #156
Or for existing simulations for which there is a request to support projector mode or some other color profile.

[2015-10-07 06:16] samreid opened #193 "Useless call?"
@jonathanolson ESList is reporting useless call for these cases:

[code]

Can we fix them or is there a reason they need to be that way?

[2015-10-08 22:22] pixelzoom opened #194 "options to set maxWidth for the label and value in NumberControl"
Related to https://github.com/phetsims/hookes-law/issues/29 ...

We need options for setting `maxWidth` for the label and value in `NumberControl`.

[2015-10-08 22:24] pixelzoom commented on #194
Done in https://github.com/phetsims/scenery-phet/commit/34b1186d52b72bbe8b33e3d3f3c3e2d60a0de422.

[2015-10-08 22:24] pixelzoom commented on #194
Closing since this was a trivial change.  If anyone wants to review, go for it.

[2015-10-08 22:24] #194 closed

[2015-10-09 05:18] samreid opened #195 "MovableDragHandler should accept forwarded events"
During today's discussion of dragging items from the toolbox, a suggestion from @jbphet was to forward input events from one listener to another.  I would like to explore this strategy in Bending Light.  Bending Light uses MovableDragHandler (which has logic for keeping nodes in bounds, dragging relatively to the drag point, and listeners that bump out nodes if they are dropped behind a control pa

[2015-10-09 05:31] samreid commented on #195
I've moved the start/drag/end methods to `@private` attributes and added methods for forwarding to them.  It works like a charm in Bending Light for the protractor and I tested Concentration, which uses MovableDragHandler and did not observe any problems.  I chose property & method names that are currently unique and therefore will not collide with anything else, so this should be a safe refactor

[2015-10-09 05:34] samreid commented on #195
@jbphet @pixelzoom should I label this issue as S2015R since it will appear in many of those republished sims?

[2015-10-09 05:35] samreid commented on #195
Also to the reviewer:  I'm not too happy with the method names:
forwardStartEvent
forwardDragEvent
forwardEndEvent

It sounds somewhat like MovableDragHandler would be forwarding the events instead of receiving a forwarded event?  Please suggest a better name if you can think of one.

[2015-10-09 16:48] pixelzoom commented on #195
I don't recall that being the suggestion (though I may have missed it).  I recall a discussion about the toolbox icon handling the movement of the newly-created tool after the initial click on the toolbox icon. Then subsequent interactions with the tool would occur directly with its drag handler.  That's the approach that was used in Glaciers (Java) and it worked well.  So I'm skeptical that this

[2015-10-09 16:59] samreid commented on #195
@pixelzoom can we discuss over voice at your convenience?

[2015-10-09 17:16] samreid commented on #195
@pixelzoom & I discussed this implementation, and it seems like forwarding events to MovableDragHandler will work well.  We discussed an alternate approach (I think it is like the approach in Glaciers) where a different instance of the same class of listener would be added to the tool icon and to the play area icon, but it was unclear how this would handle nodes with >=1 sub-elements.

@pixelzoom

[2015-10-09 17:18] pixelzoom commented on #195
I'm on board. :+1:

[2015-10-09 17:23] samreid commented on #195
@jbphet this should still be reviewed and discussed, at your convenience.

[2015-10-09 18:44] pixelzoom commented on #185
I think the first step should be to see if anyone shares my concerns about the current API/implementation, as summarized in https://github.com/phetsims/scenery-phet/issues/185#issuecomment-143845748. If not, then perhaps no changes are needed. If they also find it confusing, then we can discuss how to revise.

@jbphet can you take a look?

[2015-10-11 23:43] samreid commented on #183
I'd also appreciate hearing @pixelzoom thoughts based on https://github.com/phetsims/scenery-phet/issues/183#issuecomment-144463325 above.

[2015-10-12 16:26] pixelzoom commented on #183
@samreid wrote:

I was just pointing out that using anything other than the default orientation for the probe *requires* you to set the lightAngle.  If it's too difficult to couple them, the OK with me to leave as is.  But highly recommended to document that lightAngle must be changed if the orientation is changed, in order to keep PhET lighting policy consistent.

[2015-10-12 16:33] samreid commented on #183
Yes, let's add documentation that it is up to the developer to set the lightAngle since it is generally difficult to automatically handle gradient changes due to the global rotation changes.

[2015-10-12 18:46] samreid commented on #183
I added docs above, copied here for your convenience:

[code]

@pixelzoom anything else for this issue?

[2015-10-12 19:03] pixelzoom commented on #183
Looks great, closing.

[2015-10-12 19:03] #183 closed

[2015-10-22 02:27] samreid commented on #192
Here's a snapshot of the BLL image which we would like to emulate as closely as possible:

![image](https://cloud.githubusercontent.com/assets/679486/10655394/72e06f2a-7831-11e5-923b-8fa6117084d8.png)

[2015-10-22 02:49] samreid commented on #192
Here's my starting point:

![image](https://cloud.githubusercontent.com/assets/679486/10655789/3df03346-7835-11e5-95ea-920351ee8f31.png)

[2015-10-22 03:06] samreid commented on #192
Here's after some tweaking gradients and strokes:

![image](https://cloud.githubusercontent.com/assets/679486/10655987/74f66c96-7837-11e5-9378-8f1a2f6235cc.png)

This seems somewhat better, but it seems like I need to round that white highlight stroke in the top region.

[2015-10-22 03:19] samreid commented on #192
I rounded out that topleft shading:

![image](https://cloud.githubusercontent.com/assets/679486/10656175/618ca308-7839-11e5-94bc-a064ee602ed5.png)

@ariel-phet or @pixelzoom does this look good enough?

[2015-10-22 04:57] ariel-phet commented on #192
Looks good to me

[2015-10-22 05:07] samreid commented on #192
Thanks @ariel-phet, I'll close the issue.  @pixelzoom please reopen the issue if you disagree or if there are other things to do here.

[2015-10-22 14:16] pixelzoom commented on #192
Looks a tad too dark at the bottom to my eye, but ok with me.

[2015-10-22 14:21] ariel-phet commented on #192
Ah...I was looking at the specular highlight, but I would agree a bit dark at the bottom

[2015-10-22 14:22] ariel-phet commented on #192
@samreid - possible to keep the highlight as you have and make the bottom more like your "starting point" comment?

[2015-10-22 15:11] samreid commented on #192
Sure, that should be easy to modify.  I'll leave this assigned to me at medium priority.

[2015-10-23 17:44] samreid commented on #192
I reduced the shadowing at the bottom of the probe node, here's the latest snapshot:

![image](https://cloud.githubusercontent.com/assets/679486/10700486/3fa09716-797b-11e5-811d-e3ef69d87f51.png)

@pixelzoom what do you think?

[2015-10-24 13:08] pixelzoom commented on #192
:+1:

[2015-10-24 13:38] #192 closed

[2015-10-27 19:44] pixelzoom opened #196 "problem with specular highlight on ProbeNode"
Discovered while integrating ProbeNode into ph-scale (https://github.com/phetsims/ph-scale/issues/61).

There's a problem with the lightAngle option in ProbeNode.  It seems to assume that the specular highlight is applied to some part of the rounded section of the probe, and that's definitely not the case.

Here's an example, from ph-scale.MacroPHMeterNode, line 245:

[code]

Here's what it looks

[2015-10-27 19:46] pixelzoom commented on #196
This is a blocking issue for ph-scale, https://github.com/phetsims/ph-scale/issues/61.

[2015-10-27 19:49] pixelzoom commented on #196
Recommended to add a rotation control to the ProbeNode demo in scenery-phet, so that this can be properly tested.

[2015-10-29 18:54] pixelzoom commented on #196
I've added a rotation control to the ProbeNode demo in scenery-phet.

[2015-10-29 19:48] pixelzoom commented on #196
I guess the rotation control in the ProbeNode demo wasn't actually necessary, since the problem can be easily seen using the lightAngle control only.  Some examples:

lightAngle = 2.45

![screenshot_44](https://cloud.githubusercontent.com/assets/3046552/10830143/af02a97e-7e43-11e5-9df6-07d60f8a6b47.png)

lightAngle = 1.45

![screenshot_45](https://cloud.githubusercontent.com/assets/3046552/1083015

[2015-10-29 19:55] pixelzoom commented on #196
I removed the rotation control from the ProbeNode demo in scenery-phet.

[2015-10-29 20:37] pixelzoom commented on #185
Poking @jbphet on this, since it's starting to be integrated into sims (beers-law, ph-scale,...)

[2015-10-29 20:42] pixelzoom commented on #55
In https://github.com/phetsims/area-builder/issues/46, Keypad was migrated to common code. Does it meet all of the above functionality requirements?

[2015-10-29 20:46] pixelzoom commented on #151
Poking @jbphet. Review requested on 5/15/2015.

[2015-10-30 18:50] pixelzoom opened #197 "API problem with BoundedDragHandler"
@samreid did an initial checkin of BoundedDragHandler on 9/15/15, with commit message indicating that it's used by ToolListener.  It's constructor signature is:

`function BoundedDragHandler( boundsProperty, options ) {`

... but `boundsProperty` is unused.

It also does this:

`this._dragBounds = options.dragBounds.copy(); // @private`

... but there is no default value for options.dragBounds.

S

[2015-10-30 18:51] pixelzoom commented on #197
I would think that bounds are required for a BoundsDragHandler, and that there is no good default. So my recommendation is to pass the bounds via the constructor arg, not via options.

[2015-10-30 18:58] pixelzoom opened #198 "ArrowShape points should not be made public"
ArrowShape.getArrowShapePoints returns {Vector2[]}.  It's used only in ArrowNode, like this:

[code]

There is no need to expose the points, all we need to know is how many points the shape has.  So we should replace ArrowShape.getArrowShapePoints with ArrowShape.getNumberOfPoints, and update ArrowNode accordingly.

[2015-10-30 19:02] pixelzoom commented on #198
Ah, nevermind... I see that this.shapePoints is used elsewhere in ArrowNode.   Still not a great way to handle this imo, but too much work for me to want to tackle it.  Closing.

[2015-10-30 19:02] #198 closed

[2015-10-30 19:07] pixelzoom opened #199 "EyeDropperNode constants should not be added to prototype"
These constants should be static, not added to the prototype:

[code]

[2015-10-30 19:10] pixelzoom opened #200 "bad extension of options in FaceWithPointsNode"
Here's the problem:

[code]

Now if someone accidentally uses `options` instead of `this.options` in the constructor, they may get the wrong value.  The preferred approach (in general) is:

[code]

[2015-10-30 19:13] pixelzoom commented on #200
In this case, there are only 3 options that are needed in prototype functions, so it would be preferrable to save those 3 options only.  Ie:

[code]

[2015-10-30 19:16] pixelzoom opened #201 "memory leak in GaugeNode"
It links to options.updateEnabledProperty, but has no dispose function.

[2015-10-30 19:24] pixelzoom opened #202 "delete MeterBodyNode"
MeterBodyNode was replaced some time ago by ShadedRectangle.  It's sole remaining usage is in build-a-molecule (ShowMolecule3DButtonNode), where it should be replaced.

[2015-10-30 19:37] #176 closed

[2015-10-30 19:43] pixelzoom commented on #200
This anti pattern was introduced in @f6779a3. Assigning to @samreid  for review.

[2015-10-30 19:44] pixelzoom commented on #200
This anti pattern was introduced in f6779a3. Assigning to @samreid for review.

[2015-10-30 19:52] pixelzoom commented on #199
Done. Tested in clients of EyeDropperNode: beers-law-lab, ph-scale, scenery-phet.

[2015-10-30 19:52] #199 closed

[2015-10-30 20:59] jbphet commented on #55
A common code version of a number keypad has been added to the scenery-phet repo, see https://github.com/phetsims/scenery-phet/blob/master/js/NumberKeypad.js and issue https://github.com/phetsims/area-builder/issues/46.  This component is currently used in Area Builder and Arithmetic, and will soon be used in Making Tens as well.  So far there hasn't been a need for the decimal or sign entry capab

[2015-10-30 21:58] jbphet commented on #185
I just spent some time looking at this, and I would say that yes, I find the portion of the API that controls the glass and crosshairs to be confusing.  At the least there should be some better documentation and naming (as @pixelzoom suggests above).  Whether or not its worth the time to think through a generally better approach, well, I'll leave that to @pixelzoom and @samreid.  My guess is that

[2015-10-30 22:01] samreid commented on #197
BoundedDragHandler deleted above, closing.

[2015-10-30 22:01] #197 closed

[2015-11-02 21:08] samreid opened #203 "MovableDragHandler should handle alternate targets"
MovableDragHandler is currently hard-coded to us event.currentTarget as the coordinate frame of the drag.  However, this restriction makes it difficult or impossible to use MovableDragHandler on a component of a node.  I recommend to add a target option to the constructor which would override the event.currentTarget.

This will immediately be useful in solving https://github.com/phetsims/bending-l

[2015-11-02 21:20] samreid commented on #203
In the above commit, I added support for alternate targetNode instances in MovableDragHandler.  @jonathanolson can you review & discuss this when time allows?

[2015-11-02 22:52] samreid commented on #196
The specular highlight is being simulated with linear gradients, which becomes tricky around the handle.  Still, by updating the geometry a bit, I have got it to look like this:

![image](https://cloud.githubusercontent.com/assets/679486/10896765/53dde2d2-8179-11e5-8c6e-7a109f3c31b9.png)

This is flickery as a function of angle, and may only work well for predetermined angles.  But this seems over

[2015-11-02 22:55] samreid commented on #196
I committed the fix above, which uses better geometry to create the gradients for the highlights.  My recommendation is to use an angle where the rendering looks good such as 1.9*pi.  Hopefully this is sufficient.  If not, then we wish to discuss ways to create the specular highlight other than with the LinearGradient.

[2015-11-02 22:56] samreid commented on #196
It looks like the highlight angles are reversed in the above commit--the BLL probe is looking odd.  I'll reverse them shortly.

[2015-11-02 23:00] samreid commented on #196
After the above commit, the BLL probe is looking good again:

![image](https://cloud.githubusercontent.com/assets/679486/10896956/76f28c72-817a-11e5-90fe-5f7da58101fe.png)

So the recommended angle for the sideways probe would now be 0.9*pi or thereabouts.  @pixelzoom can you take a look at using that number or thereabouts?

[2015-11-02 23:31] pixelzoom opened #204 "interaction bug with ProbeNode and crosshairs"
Noticed in beers-law-lab and ph-scale.

If you use a ProbeNode with crosshairs, you can't grab the probe anywhere within the crosshairs. This differs from the behavior of image files, and is a problem (says @ariel-phet).

It can be fixed in ProbeNode.crosshairs by adding a scenery.Circle, filled with 'rgba(0,0,0,0)'. @samreid do you agree with this method of fixing?

This must be fixed before publ

[2015-11-03 02:05] pixelzoom commented on #204
Or perhaps this Circle should be added to the main geometry, so that each sensor type (crosshairs and custom) doesn't need to deal with it?

[2015-11-03 02:19] samreid commented on #204
I thought the best way to fix this might be to set mouseArea = touchArea to the outer path shape.  Looking into it.

[2015-11-03 02:29] samreid commented on #204
I'm running into troubles with setting the mouseArea and touchArea.  First problem is a scenery exception where Node is assuming that a Node already has parents before changing its mouseArea/touchArea.  I tried commenting that out and it still didn't work as expected--I may not understand the scenery touchArea/mouseArea details.  For now I'll commit a blank shape that covers the entire area.  It w

[2015-11-03 02:31] samreid commented on #204
I should also mention why I implemented the change as above instead of with a circle--by using the outline of the shape we can guaranteed there are no seams or holes.  Though one reason I would like to get mouseArea/touchArea working for the long term is to keep the scene graph more pruned.  @pixelzoom over to you for discussion.

[2015-11-03 03:09] samreid commented on #204
My mistake, I was trying to set mouseArea before calling Node.call(this,...).  New fix coming soon.

[2015-11-03 03:10] samreid commented on #204
Fixed above, and tests nicely on OSX Chrome.  I'll report back after testing on touch as well.

[2015-11-03 03:12] samreid commented on #204
The touch area is not working as expected--I'm looking into it.

[2015-11-03 03:16] samreid commented on #204
This code fixed the mouse area but not the touch area:
[code]

@pixelzoom @jbphet @jonathanolson what am I doing wrong here?

[2015-11-03 06:37] samreid commented on #204
Ah it appears there is a line in Beers Law Lab that is interfering with the touch area.  ConcentrationMeterNode.js line 182 reads:

[code]

If I comment out that line, then the interior of the touch area works properly.  I'll leave this assigned to @pixelzoom to decide what to do next, some options:
1. Delete line 182.  This would use the touch area as specified in ProbeNode.  It is not expanded b

[2015-11-03 06:39] samreid commented on #204
Also, is this an issue with other usages of the ProbeNode and its touch area?

[2015-11-03 15:41] pixelzoom commented on #204
Is this also a problem for ATDetectorNode, which sets touchArea in the same manner on line 181?

I'm also not clear on why this should be "interfering" with the touchArea. Should this be simply overriding ProbeNode's default touchArea?  Why is that not OK?

[2015-11-03 15:43] pixelzoom commented on #204
I'm not clear on why this should be "interfering" with the touchArea. Should this be simply overriding ProbeNode's default touchArea?  Why is that not OK?

And yes - if this is a problem is beers-law-lab.ConcentratioNode, then it will also be a problem in beers-law-lab.ATDetectorNode and ph-scale.MacroPHNode (and possibly other sites that I'm not aware of.)

[2015-11-03 15:45] samreid commented on #204
I was also surprised to see this interference, and not sure of the cause.

[2015-11-03 15:55] samreid commented on #204
@pixelzoom and I determined that the incorrect coordinate frame was being used to set the touch area, it is remedied in the above commit.

[2015-11-03 15:55] #204 closed

[2015-11-04 19:16] samreid commented on #200
I skimmed the code change and it seems good, I also tested FaceWithPointsNode as it appears in FractionMatcher.  Closing.

[2015-11-04 19:16] #200 closed

[2015-11-05 21:26] pixelzoom commented on #196
I'm confused... In https://github.com/phetsims/scenery-phet/issues/196#issuecomment-153185420, @samreid says to use 0.9*pi. But I'm using 1.25*pi and it still looks like the screenshot he provided.

The problem was also not with the beers-law-lab.ATDetectorProbe, the problem was with ph-scale.MacroPHMeterNode due to its orientation.  It looks better, see screenshot:
![screenshot_52](https://cloud.

[2015-11-05 22:26] pixelzoom commented on #202
Looks like @jonathanolson removed the usage in build-a-molecule but didn't delete MeterBodyNode. I delete it. Closing.

[2015-11-05 22:26] #202 closed

[2015-11-05 22:27] pixelzoom commented on #193
Why is this in scenery-phet? The calls are in scenery and dot.

[2015-11-05 22:28] samreid commented on #196
Here's what I see in the scenery-phet test:

0.9pi
![image](https://cloud.githubusercontent.com/assets/679486/10983703/6242340e-83d1-11e5-930c-2dace9de49ae.png)

1.25pi
![image](https://cloud.githubusercontent.com/assets/679486/10983713/73fa9682-83d1-11e5-895d-18e60ac107cc.png)

Yes, here are my comments about the handle from above:

1. The specular highlight is being simulated with linear gradien

[2015-11-05 22:29] samreid commented on #193
Looks like a manual error, this should have been created in scenery repo.

[2015-11-05 22:30] pixelzoom commented on #185
Back to @samreid.  @jbphet also finds it confusing. But as he said, developers will probably figure it. So I'd be OK with leaving the API basically as is, but renaming options `sensorType` to `sensorTypeFunction` and documenting it correctly.

[2015-11-05 22:53] pixelzoom commented on #196
Ah, misread. You were recommending 0.9 for scale.MacroPHMeterNode ("the sideways probe") but showing a screenshot of beers-law-lab.ATDetectorProbe. Got it.

If we have a probe where the handle points up, and PhET lighting convention is upper-left, then how can we satisfy #2?  I don't see how we can say "just don't put the probe in an orientation were the gradient looks bad."  This is supposed to b

[2015-11-05 22:55] samreid commented on #196
Here is 0.15pi, wouldn't that work for when the handle is pointing up?

![image](https://cloud.githubusercontent.com/assets/679486/10984286/94162b80-83d5-11e5-9e71-127f6677dd05.png)

[2015-11-05 23:04] pixelzoom commented on #196
Looks lousy at the bottom center of the handle.  But that's not the point. You appear to be advocating that we should limit the possible usable combinations of orientations (rotations) and lightAngle, as a workaround for an implementation deficiency. I doubt that designers will be aware of that limitation, and I don't think they should need to be. So I'm advocating that we fix it now.

[2015-11-06 03:42] samreid commented on #185
I replaced sensorType=sensorTypeFunction globally (4 files), tested Beer's Law Lab, the components view in the scenery-phet demo and ph-scale, and they all seem to be working properly.  I'll commit shortly.

[2015-11-06 03:55] samreid commented on #185
I committed above.  Also, after commiting this I recalled a conversation earlier where @pixelzoom expressed an interest in "freezing" beer's law lab code during release candidate testing, see https://github.com/phetsims/chipper/issues/396#issuecomment-154195376 Please let me know if this work should be reverted and deferred until that release candidate testing is complete, or if there is anything

[2015-11-09 16:09] samreid commented on #196
I'm not opposed to improving the specular highlight on this component--I think it is a good idea.  @jonathanolson and I spent a little bit of time on this a few weeks ago and were looking into ideas like separate gradients for each subpath in the shape.  It was unclear how well we could get the gradients to line up and eventually I settled on the approach above.  What I would recommend first is to

[2015-11-09 18:46] jonathanolson commented on #193
Fixed the mentioned issues.

[2015-11-09 19:22] jonathanolson commented on #203
Changes look fine, let me know if you'd like to discuss.

As noted previously, I hope to have a better drag-handling listener soon!

[2015-11-09 19:24] samreid commented on #203
I'm OK to close, we can discuss if/when issues arise, thanks for taking a look.

[2015-11-09 19:24] #203 closed

[2015-11-09 21:36] pixelzoom commented on #185
Looks good, closing.

[2015-11-09 21:36] #185 closed

[2015-11-10 17:02] ariel-phet commented on #196
@samreid I would chime in here that in the long run we don't want to limit ourselves to particular angles of the probe. 0, 90, 180, 270 may well work for any future use cases, but it *could* occur that we want a diagonal probe.

My recommendation would be to make sure things look good at those 4 angles, and future work can wait until a design case comes up (which it may never) that requires other

[2015-11-13 17:12] samreid commented on #196
Based on @ariel-phet's comment I'll remove the "High Priority" label, but leave assigned to myself to investigate whether the linear gradients are working as prescribed.

[2015-11-14 03:21] samreid commented on #196
I determined that the specular highlight strategy is indeed incompatible with linear gradients.  But I have found another way to do the highlighting that doesn't suffer from this problem.  It doesn't exactly have the same "pop" the previous version did, but perhaps it is not too different and may be acceptable.  I'll put the code here rather than in a branch:

[code]

and here's a movie of how it